Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[telemetry] Retry sending telemetry on transient errors
  Cargo.lock
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry/Cargo.toml
  crates/aptos-telemetry/src/sender.rs
Due: rust-fmt

[telemetry] send node config as event periodically
  crates/aptos-telemetry/src/constants.rs
  crates/aptos-telemetry/src/service.rs
Due: rust-fmt

[telemetry] Reset RUST_LOG_TELEMETRY to original value on unset
  crates/aptos-telemetry/src/service.rs
Due: rust-fmt

Update connect-to-aptos-network.md
  developer-docs-site/docs/nodes/validator-node/operator/connect-to-aptos-network.md
Due: none

[Config] Update disk size to 1000Gi. (#4622)
  terraform/helm/aptos-node/README.md
  terraform/helm/aptos-node/values.yaml
  terraform/helm/fullnode/values.yaml
Due: prettier-fmt

[forge] Add new compatible configutation for clusters
  testsuite/forge.py
  testsuite/forge_test.py
Due: none

Update API changelog
  api/doc/CHANGELOG.md
Due: none

[sdk-builder] Fix default sdk builder language
  aptos-move/aptos-sdk-builder/src/main.rs
Due: rust-fmt

[Docs] Adding sitemap option.
  developer-docs-site/docusaurus.config.js
Due: prettier-fmt

config genesis-blob and waypoint for pfn
  terraform/helm/fullnode/templates/fullnode.yaml
  terraform/helm/fullnode/values.yaml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
Due: rust-fmt, prettier-fmt

Make small direct edits
  developer-docs-site/docs/issues-and-workarounds.md
Due: none

[Trivial] Remove an used index variable
  aptos-move/framework/aptos-framework/sources/configs/staking_config.move
  aptos-move/framework/aptos-framework/sources/genesis.move
Due: none

[audit] timestamp.move (#4619)
  aptos-move/framework/aptos-framework/sources/timestamp.move
Due: none

remove a hash lookup
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
Due: rust-fmt

[Prover spec only] Fix a typo in the bit_vector.move's prover specs
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_stdlib/sources/bit_vector.move
  aptos-move/framework/move-stdlib/sources/bit_vector.move
Due: none

Add complex token table indexing
  Cargo.lock
  crates/indexer/Cargo.toml
  crates/indexer/migrations/2022-09-22-185845_token_offers/down.sql
  crates/indexer/migrations/2022-09-22-185845_token_offers/up.sql
  crates/indexer/src/models/block_metadata_transactions.rs
  crates/indexer/src/models/mod.rs
  crates/indexer/src/models/token_datas.rs
  crates/indexer/src/models/token_models/collection_datas.rs
  crates/indexer/src/models/token_models/mod.rs
  crates/indexer/src/models/token_models/token_activities.rs
  crates/indexer/src/models/token_models/token_claims.rs
  crates/indexer/src/models/token_models/token_datas.rs
  crates/indexer/src/models/token_models/token_escrows.rs
  crates/indexer/src/models/token_models/token_listings.rs
  crates/indexer/src/models/token_models/token_ownerships.rs
  crates/indexer/src/models/token_models/token_utils.rs
  crates/indexer/src/models/token_models/tokens.rs
  crates/indexer/src/models/token_utils.rs
  crates/indexer/src/models/tokens.rs
  crates/indexer/src/models/user_transactions.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/schema.rs
  crates/indexer/src/util.rs
Due: rust-fmt

Fixed the spec in the stake module
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
Due: none

[cli] Increase REST endpoint timeout to 30s (#4628)
  crates/aptos/src/common/types.rs
  crates/aptos/src/test/mod.rs
Due: rust-fmt

[Token] reorgnize code
  aptos-move/framework/aptos-token/sources/token.move
Due: none

Fix links to docs with .md extension and relative paths
  developer-docs-site/docs/issues-and-workarounds.md
Due: none

[Docs] Fixing index link.
  developer-docs-site/docs/nodes/full-node/index.md
Due: none

[Docs] Consolidating all the troubleshooting sections into a new top-level doc.
  developer-docs-site/docs/issues-and-workarounds.md
  developer-docs-site/docs/nodes/full-node/run-a-fullnode-on-gcp.md
  developer-docs-site/docs/nodes/full-node/troubleshooting-fullnode.md
  developer-docs-site/docs/nodes/validator-node/operator/node-liveness-criteria.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
Due: prettier-fmt

[docker] only build validator extra images
  .github/workflows/docker-build-test.yaml
  .github/workflows/docker-rust-build.yaml
Due: prettier-fmt

[Audit] Fix minor issues from audit
  aptos-move/framework/aptos-framework/sources/configs/staking_config.move
Due: none

[mempool] more/better metrics (#4616)
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/tests/core_mempool_test.rs
Due: rust-fmt

[Prover spec only] Fix a typo in the bit_vector.move's prover specs (#4654)
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_stdlib/sources/bit_vector.move
  aptos-move/framework/move-stdlib/sources/bit_vector.move
Due: none

[forge] Add tests for validation set changes
  Cargo.lock
  crates/aptos/Cargo.toml
  crates/aptos/src/test/mod.rs
  testsuite/forge-cli/src/main.rs
  testsuite/smoke-test/src/aptos_cli/mod.rs
  testsuite/testcases/Cargo.toml
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/validator_join_leave_test.rs
Due: rust-fmt

retry submit
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
Due: rust-fmt

(revert later) change land_blocking to perf test
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

transactions_per_account for const tps
  crates/transaction-emitter-lib/src/emitter/mod.rs
Due: rust-fmt

[mempool] reduce default capacity per user
  config/src/config/mempool_config.rs
Due: rust-fmt

reduce batch size?
  crates/transaction-emitter-lib/src/emitter/mod.rs
Due: rust-fmt

Add complex token table indexing
  Cargo.lock
  crates/indexer/Cargo.toml
  crates/indexer/migrations/2022-09-22-185845_token_offers/down.sql
  crates/indexer/migrations/2022-09-22-185845_token_offers/up.sql
  crates/indexer/src/models/block_metadata_transactions.rs
  crates/indexer/src/models/mod.rs
  crates/indexer/src/models/token_datas.rs
  crates/indexer/src/models/token_models/collection_datas.rs
  crates/indexer/src/models/token_models/mod.rs
  crates/indexer/src/models/token_models/token_activities.rs
  crates/indexer/src/models/token_models/token_claims.rs
  crates/indexer/src/models/token_models/token_datas.rs
  crates/indexer/src/models/token_models/token_ownerships.rs
  crates/indexer/src/models/token_models/token_utils.rs
  crates/indexer/src/models/token_models/tokens.rs
  crates/indexer/src/models/token_utils.rs
  crates/indexer/src/models/tokens.rs
  crates/indexer/src/models/user_transactions.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/schema.rs
  crates/indexer/src/util.rs
Due: rust-fmt

Fixed the spec in the stake module (#4656)
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
Due: none

[gas] initial gas parameters for table operations
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/table.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/framework/cached-packages/src/aptos_token_sdk_builder.rs
Due: rust-fmt

Make initial enhancements to Aptos.dev landing page
  developer-docs-site/docs/index.md
Due: none

Add storage_gas.move docgen
  aptos-move/framework/aptos-framework/build/AptosFramework/docs/storage_gas.md
  aptos-move/framework/aptos-framework/sources/storage_gas.move
  changes.md
Due: none

Add smart contracts to intro, fix community links
  developer-docs-site/docs/index.md
Due: none
