Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[Aptos Node + Config] Add shared license to relevant files.
  aptos-node/src/lib.rs
  aptos-node/src/main.rs
  config/global-constants/src/lib.rs
  config/src/config/api_config.rs
  config/src/config/consensus_config.rs
  config/src/config/error.rs
  config/src/config/execution_config.rs
  config/src/config/logger_config.rs
  config/src/config/mempool_config.rs
  config/src/config/mod.rs
  config/src/config/network_config.rs
  config/src/config/safety_rules_config.rs
  config/src/config/secure_backend_config.rs
  config/src/config/state_sync_config.rs
  config/src/config/storage_config.rs
  config/src/config/test_config.rs
  config/src/generator.rs
  config/src/keys.rs
  config/src/lib.rs
  config/src/network_id.rs
  config/src/utils.rs
Due: rust-fmt

[Execution] Add shared license to relevant files.
  execution/db-bootstrapper/src/bin/aptos-db-bootstrapper.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/main.rs
  execution/executor-benchmark/src/transaction_committer.rs
  execution/executor-benchmark/src/transaction_executor.rs
  execution/executor-benchmark/src/transaction_generator.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor-test-helpers/src/lib.rs
  execution/executor-types/src/error.rs
  execution/executor-types/src/executed_chunk.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/block_tree/mod.rs
  execution/executor/src/components/block_tree/test.rs
  execution/executor/src/components/chunk_commit_queue.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/components/mod.rs
  execution/executor/src/db_bootstrapper.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/lib.rs
  execution/executor/src/logging.rs
  execution/executor/src/metrics.rs
  execution/executor/src/mock_vm/mock_vm_test.rs
  execution/executor/src/mock_vm/mod.rs
  execution/executor/src/tests/chunk_executor_tests.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  execution/executor/tests/storage_integration_test.rs
Due: rust-fmt

[Mempool] Add shared license to relevant files.
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/mod.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/lib.rs
  mempool/src/logging.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/mod.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/runtime.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/fuzzing.rs
  mempool/src/tests/integration_tests.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/mod.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/node.rs
  mempool/src/tests/shared_mempool_test.rs
  mempool/src/tests/test_framework.rs
Due: rust-fmt

[Secure] Add shared license to relevant files.
  secure/net/src/lib.rs
  secure/storage/github/src/lib.rs
  secure/storage/src/crypto_kv_storage.rs
  secure/storage/src/crypto_storage.rs
  secure/storage/src/error.rs
  secure/storage/src/github.rs
  secure/storage/src/in_memory.rs
  secure/storage/src/kv_storage.rs
  secure/storage/src/lib.rs
  secure/storage/src/namespaced.rs
  secure/storage/src/on_disk.rs
  secure/storage/src/policy.rs
  secure/storage/src/storage.rs
  secure/storage/src/tests/github.rs
  secure/storage/src/tests/in_memory.rs
  secure/storage/src/tests/mod.rs
  secure/storage/src/tests/on_disk.rs
  secure/storage/src/tests/suite.rs
  secure/storage/src/tests/vault.rs
  secure/storage/src/vault.rs
  secure/storage/vault/src/dev.rs
  secure/storage/vault/src/fuzzing.rs
  secure/storage/vault/src/lib.rs
Due: rust-fmt

[VM Validator] Add shared license to relevant files.
  vm-validator/src/lib.rs
  vm-validator/src/mocks/mock_vm_validator.rs
  vm-validator/src/mocks/mod.rs
  vm-validator/src/unit_tests/vm_validator_test.rs
  vm-validator/src/vm_validator.rs
Due: rust-fmt

[State Sync] Add shared license to relevant files.
  state-sync/inter-component/consensus-notifications/src/lib.rs
  state-sync/inter-component/event-notifications/src/lib.rs
  state-sync/inter-component/event-notifications/src/tests.rs
  state-sync/inter-component/mempool-notifications/src/lib.rs
  state-sync/state-sync-v2/data-streaming-service/src/data_notification.rs
  state-sync/state-sync-v2/data-streaming-service/src/data_stream.rs
  state-sync/state-sync-v2/data-streaming-service/src/error.rs
  state-sync/state-sync-v2/data-streaming-service/src/lib.rs
  state-sync/state-sync-v2/data-streaming-service/src/logging.rs
  state-sync/state-sync-v2/data-streaming-service/src/metrics.rs
  state-sync/state-sync-v2/data-streaming-service/src/stream_engine.rs
  state-sync/state-sync-v2/data-streaming-service/src/streaming_client.rs
  state-sync/state-sync-v2/data-streaming-service/src/streaming_service.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/data_stream.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/mod.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/stream_engine.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/streaming_client.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/streaming_service.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/utils.rs
  state-sync/state-sync-v2/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/continuous_syncer.rs
  state-sync/state-sync-v2/state-sync-driver/src/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/driver_client.rs
  state-sync/state-sync-v2/state-sync-driver/src/driver_factory.rs
  state-sync/state-sync-v2/state-sync-driver/src/error.rs
  state-sync/state-sync-v2/state-sync-driver/src/lib.rs
  state-sync/state-sync-v2/state-sync-driver/src/notification_handlers.rs
  state-sync/state-sync-v2/state-sync-driver/src/storage_synchronizer.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mod.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/utils.rs
  state-sync/state-sync-v2/state-sync-driver/src/utils.rs
  state-sync/storage-service/client/src/lib.rs
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/logging.rs
  state-sync/storage-service/server/src/metrics.rs
  state-sync/storage-service/server/src/network.rs
  state-sync/storage-service/server/src/tests.rs
  state-sync/storage-service/types/src/lib.rs
Due: rust-fmt

Add more comments
  consensus/src/round_manager.rs
Due: rust-fmt

[storage] replace existing tools
  .github/workflows/workflow-run-module-verify.yaml
  .github/workflows/workflow-run-replay-verify.yaml
  Cargo.lock
  Cargo.toml
  crates/aptos/Cargo.toml
  docker/build-rust-all.sh
  docker/compose/README.md
  docker/compose/data-restore/docker-compose.yaml
  docker/rust-all.Dockerfile
  storage/README.md
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/db-tool/src/backup.rs
  storage/storage-interface/src/lib.rs
  terraform/helm/fullnode/templates/backup-verify.yaml
  terraform/helm/fullnode/templates/backup.yaml
  terraform/helm/fullnode/templates/restore.yaml
  testsuite/module_verify.py
  testsuite/module_verify_run_local.py
  testsuite/replay_verify.py
  testsuite/replay_verify_run_local.py
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/storage.rs
  testsuite/verify_core/common.py
Due: rust-fmt, rust-cargo-sort, prettier-fmt

[Aptos node] Add simple log line for node config.
  aptos-node/src/lib.rs
Due: rust-fmt

[Consensus] Add proposed block to the block store in case of backpres… (#6700)
  consensus/src/round_manager.rs
Due: rust-fmt

Make links work in GitHub Markdown, as well as Aptos.dev
  developer-docs-site/docs/issues-and-workarounds.md
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

Continue fixing links in wp, cli-tools, and concepts subdirectories
  developer-docs-site/docs/aptos-white-paper/in-korean.md
  developer-docs-site/docs/aptos-white-paper/index.md
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
  developer-docs-site/docs/cli-tools/aptos-cli-tool/use-aptos-cli.md
  developer-docs-site/docs/concepts/fullnodes.md
  developer-docs-site/docs/concepts/gas-txn-fee.md
  developer-docs-site/docs/concepts/txns-states.md
  developer-docs-site/docs/concepts/validator-nodes.md
  developer-docs-site/docs/concepts/wallet-adapter-concept.md
Due: none

[gha] run scheduled workflows only on aptos-core
  .github/actions/check-aptos-core/action.yaml
  .github/workflows/continuous-e2e-changing-working-quorum-test-high-load.yaml
  .github/workflows/continuous-e2e-changing-working-quorum-test.yaml
  .github/workflows/continuous-e2e-compat-test.yaml
  .github/workflows/continuous-e2e-different-node-speed-and-reliability-test.yaml
  .github/workflows/continuous-e2e-forge-continuous.yaml
  .github/workflows/continuous-e2e-graceful-overload-test.yaml
  .github/workflows/continuous-e2e-haproxy-test.yaml
  .github/workflows/continuous-e2e-network-partition-test.yaml
  .github/workflows/continuous-e2e-nft-mint-test.yaml
  .github/workflows/continuous-e2e-release-test.yaml
  .github/workflows/continuous-e2e-single-vfn-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-execute-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-fast-sync-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-validator-test.yaml
  .github/workflows/continuous-e2e-state-sync-slow-processing-catching-up-test.yaml
  .github/workflows/continuous-e2e-twin-validator-test.yaml
  .github/workflows/continuous-e2e-validator-reboot-stress-test.yaml
  .github/workflows/copy-images-to-dockerhub-nightly.yaml
  .github/workflows/forge-stable.yaml
  .github/workflows/fullnode-execute-devnet-main.yaml
  .github/workflows/fullnode-execute-devnet-stable.yaml
  .github/workflows/fullnode-fast-mainnet-main.yaml
  .github/workflows/fullnode-fast-mainnet-stable.yaml
  .github/workflows/fullnode-fast-testnet-main.yaml
  .github/workflows/fullnode-fast-testnet-stable.yaml
  .github/workflows/fullnode-intelligent-devnet-main.yaml
  .github/workflows/fullnode-output-mainnet-main.yaml
Due: prettier-fmt

[gha] implement composite action that checks calling repo
  .github/actions/check-aptos-core/action.yaml
Due: prettier-fmt

[gha] create forge-unstable workflow
  .github/workflows/continuous-e2e-changing-working-quorum-test-high-load.yaml
  .github/workflows/continuous-e2e-changing-working-quorum-test.yaml
  .github/workflows/continuous-e2e-compat-test.yaml
  .github/workflows/continuous-e2e-different-node-speed-and-reliability-test.yaml
  .github/workflows/continuous-e2e-forge-continuous.yaml
  .github/workflows/continuous-e2e-graceful-overload-test.yaml
  .github/workflows/continuous-e2e-haproxy-test.yaml
  .github/workflows/continuous-e2e-network-partition-test.yaml
  .github/workflows/continuous-e2e-nft-mint-test.yaml
  .github/workflows/continuous-e2e-release-test.yaml
  .github/workflows/continuous-e2e-single-vfn-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-execute-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-fast-sync-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-validator-test.yaml
  .github/workflows/continuous-e2e-state-sync-slow-processing-catching-up-test.yaml
  .github/workflows/continuous-e2e-twin-validator-test.yaml
  .github/workflows/continuous-e2e-validator-reboot-stress-test.yaml
  .github/workflows/forge-unstable.yaml
Due: prettier-fmt

[gha] run scheduled workflows only on aptos-core (#6570)
  .github/actions/check-aptos-core/action.yaml
  .github/workflows/continuous-e2e-changing-working-quorum-test copy.yaml
  .github/workflows/continuous-e2e-changing-working-quorum-test-high-load.yaml
  .github/workflows/continuous-e2e-compat-test.yaml
  .github/workflows/continuous-e2e-different-node-speed-and-reliability-test.yaml
  .github/workflows/continuous-e2e-forge-continuous.yaml
  .github/workflows/continuous-e2e-graceful-overload-test.yaml
  .github/workflows/continuous-e2e-haproxy-test.yaml
  .github/workflows/continuous-e2e-network-partition-test.yaml
  .github/workflows/continuous-e2e-nft-mint-test.yaml
  .github/workflows/continuous-e2e-release-test.yaml
  .github/workflows/continuous-e2e-single-vfn-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-execute-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-fast-sync-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-validator-test.yaml
  .github/workflows/continuous-e2e-state-sync-slow-processing-catching-up-test.yaml
  .github/workflows/continuous-e2e-twin-validator-test.yaml
  .github/workflows/continuous-e2e-validator-reboot-stress-test.yaml
  .github/workflows/copy-images-to-dockerhub-nightly.yaml
  .github/workflows/forge-unstable.yaml
  .github/workflows/fullnode-execute-devnet-main.yaml
  .github/workflows/fullnode-execute-devnet-stable.yaml
  .github/workflows/fullnode-fast-mainnet-main.yaml
  .github/workflows/fullnode-fast-mainnet-stable.yaml
  .github/workflows/fullnode-fast-testnet-main.yaml
  .github/workflows/fullnode-fast-testnet-stable.yaml
  .github/workflows/fullnode-intelligent-devnet-main.yaml
  .github/workflows/fullnode-output-mainnet-main.yaml
Due: prettier-fmt

[tf/gcp][fullnode] fix trailing dot in GCE ingress domain (#6688)
  terraform/fullnode/gcp/addons.tf
Due: none

[License] Extend the license file to contain the required text.
  LICENSE
Due: none

[forge] three-region gas market graceful overload test
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/two_traffics_test.rs
Due: rust-fmt

[forge] three-region gas market graceful overload test (#6717)
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/two_traffics_test.rs
Due: rust-fmt

replace replay-verify with new db tool
  .github/workflows/replay-verify.yaml
  storage/db-tool/src/replay_verify.rs
  testsuite/replay_verify.py
Due: rust-fmt, prettier-fmt

[aptos] Add move debugger (#6675)
  Cargo.lock
  Cargo.toml
  crates/aptos/Cargo.toml
Due: rust-cargo-sort

[spec] updated the specs of `transaction_fee`, `coin` and `features`
  aptos-move/framework/aptos-framework/doc/aggregator_factory.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/doc/vesting.md
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.spec.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.spec.move
  aptos-move/framework/aptos-framework/sources/vesting.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/doc/option.md
  aptos-move/framework/move-stdlib/sources/configs/features.spec.move
  aptos-move/framework/move-stdlib/sources/option.move
Due: none

docs: update indexer intro section
  developer-docs-site/docs/guides/indexing.md
Due: none

Add sqrt and floor_lg2 to math
  aptos-move/framework/aptos-stdlib/doc/math128.md
  aptos-move/framework/aptos-stdlib/doc/math64.md
  aptos-move/framework/aptos-stdlib/doc/math_fixed.md
  aptos-move/framework/aptos-stdlib/sources/math128.move
  aptos-move/framework/aptos-stdlib/sources/math64.move
  aptos-move/framework/aptos-stdlib/sources/math_fixed.move
Due: none

Add sqrt and floor_lg2 to math
  aptos-move/framework/aptos-stdlib/doc/math_fixed.md
  aptos-move/framework/aptos-stdlib/sources/math_fixed.move
Due: none

[forge] Add test for releasing process
  .dockerignore
  Cargo.lock
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/Cargo.toml
  testsuite/testcases/src/framework_upgrade.rs
  testsuite/testcases/src/lib.rs
Due: rust-fmt

[release-tooling] Add an option to execute framework upgrades in the end
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/validate.rs
Due: rust-fmt, prettier-fmt

[release-tooling] Use git hash from the builder tool
  .github/workflows/docker-build-test.yaml
  Cargo.lock
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/src/components/framework.rs
  aptos-move/aptos-release-builder/src/components/gas.rs
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/framework_upgrade.rs
Due: rust-fmt, prettier-fmt

fixup! fixup! fixup! [release-tooling] Use git hash from the builder tool
  aptos-move/aptos-release-builder/src/components/framework.rs
  crates/aptos/src/governance/mod.rs
  docker/rust-all.Dockerfile
Due: rust-fmt

[release-builder] Generate script hash
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/lib.rs
Due: rust-fmt
