Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[buffer mananger] move message verification to bounded executor
  consensus/src/epoch_manager.rs
  consensus/src/experimental/buffer_manager.rs
  consensus/src/experimental/decoupled_execution_utils.rs
  consensus/src/experimental/tests/buffer_manager_tests.rs
  consensus/src/recovery_manager.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
Due: rust-fmt

update
  consensus/src/dag/rb_handler.rs
  consensus/src/test_utils/mock_payload_manager.rs
Due: rust-fmt

add test for bn254
  aptos-move/framework/aptos-stdlib/sources/cryptography/bn254_algebra.move
Due: none

fix a bug mentioned in the comments
  aptos-move/framework/src/natives/cryptography/algebra/serialization.rs
Due: rust-fmt

[feat][aptos-stdlib] crypto algebra bn254
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-stdlib/doc/bn254_algebra.md
  aptos-move/framework/aptos-stdlib/doc/overview.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/bn254_algebra.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/add.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/div.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/double.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/inv.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/mul.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/neg.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/scalar_mul.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/sqr.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/sub.rs
  aptos-move/framework/src/natives/cryptography/algebra/casting.rs
  aptos-move/framework/src/natives/cryptography/algebra/constants.rs
  aptos-move/framework/src/natives/cryptography/algebra/eq.rs
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
  aptos-move/framework/src/natives/cryptography/algebra/new.rs
  aptos-move/framework/src/natives/cryptography/algebra/pairing.rs
  aptos-move/framework/src/natives/cryptography/algebra/rand.rs
  aptos-move/framework/src/natives/cryptography/algebra/serialization.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt, rust-cargo-sort

scripts: fix update_algebra_gas_params.py
  scripts/algebra-gas/update_algebra_gas_params.py
Due: none

bn254: add test and doc
  aptos-move/framework/aptos-stdlib/doc/bn254_algebra.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/bn254_algebra.move
  aptos-move/framework/src/natives/cryptography/algebra/serialization.rs
Due: rust-fmt

add bn254 to default features to make unit test pass
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

[rand] initial commit
  consensus/src/lib.rs
  consensus/src/rand/dkg/mod.rs
  consensus/src/rand/mod.rs
  consensus/src/rand/rand_gen/mod.rs
Due: rust-fmt

fix
  aptos-move/framework/aptos-framework/doc/staking_proxy.md
  aptos-move/framework/aptos-framework/sources/staking_proxy.spec.move
Due: none

comparison-testing
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-e2e-comparison-testing/Cargo.toml
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-e2e-comparison-testing/src/lib.rs
  aptos-move/aptos-e2e-comparison-testing/src/main.rs
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/000008.sst
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/000009.log
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/000013.log
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/000017.log
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/CURRENT
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/IDENTITY
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/LOCK
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/LOG
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/LOG.old.1698910458082437
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/LOG.old.1698956094329658
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/LOG.old.1698956220662845
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/MANIFEST-000018
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/OPTIONS-000016
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/OPTIONS-000020
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/state_data/10000003_state
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/state_data/10000006_state
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/state_data/10000007_state
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/state_data/10000010_state
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/state_data/10000011_state
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/test-data-mainnet-10m-15-execution-result.txt
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/version_index.txt
  aptos-move/aptos-validator-interface/Cargo.toml
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/built_package.rs
  crates/aptos-rest-client/src/client_builder.rs
  third_party/move/tools/move-package/src/source_package/parsed_manifest.rs
Due: rust-fmt, rust-cargo-sort

compiled-cache
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-e2e-comparison-testing/src/lib.rs
Due: rust-fmt

refactor
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-validator-interface/src/lib.rs
Due: rust-fmt

fix-comments
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

fix-compatibility
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-e2e-comparison-testing/src/lib.rs
Due: rust-fmt

[deps] Upgrade aptos-protos from 1.1.2 to 1.3.0
  Cargo.lock
  protos/rust/Cargo.toml
Due: none

Comparison testing tool (#10412)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-e2e-comparison-testing/Cargo.toml
  aptos-move/aptos-e2e-comparison-testing/src/data_collection.rs
  aptos-move/aptos-e2e-comparison-testing/src/execution.rs
  aptos-move/aptos-e2e-comparison-testing/src/lib.rs
  aptos-move/aptos-e2e-comparison-testing/src/main.rs
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/000008.sst
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/000009.log
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/000013.log
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/000017.log
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/CURRENT
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/IDENTITY
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/LOCK
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/LOG
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/LOG.old.1698910458082437
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/LOG.old.1698956094329658
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/LOG.old.1698956220662845
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/MANIFEST-000018
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/OPTIONS-000016
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/rocks_txn_idx_db/OPTIONS-000020
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/state_data/10000003_state
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/state_data/10000006_state
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/state_data/10000007_state
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/state_data/10000010_state
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/state_data/10000011_state
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/test-data-mainnet-10m-15-execution-result.txt
  aptos-move/aptos-e2e-comparison-testing/test-data-mainnet-10m-15/version_index.txt
  aptos-move/aptos-validator-interface/Cargo.toml
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/built_package.rs
  crates/aptos-rest-client/src/client_builder.rs
  third_party/move/tools/move-package/src/source_package/parsed_manifest.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt, rust-cargo-sort

fix (#11171)
  aptos-move/framework/aptos-framework/doc/staking_proxy.md
  aptos-move/framework/aptos-framework/sources/staking_proxy.spec.move
Due: none

ut
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/payload_client/mod.rs
  consensus/src/payload_client/user/mod.rs
  consensus/src/payload_client/user/quorum_store_client.rs
  consensus/src/payload_client/validator.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  consensus/src/quorum_store/tests/quorum_store_db_test.rs
  consensus/src/quorum_store/tests/types_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
  consensus/src/test_utils/mod.rs
  types/src/validator_txn/pool.rs
Due: rust-fmt

update
  consensus/src/epoch_manager.rs
  consensus/src/payload_client/mixed.rs
Due: rust-fmt

fix ut
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/payload_client/mixed.rs
Due: rust-fmt

ark_bn254 benches and derived gas parameters (#2)
  Cargo.lock
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/benches/ark_bn254.rs
  crates/aptos-crypto/benches/bench_utils.rs
  scripts/algebra-gas/update_bls12381_algebra_gas_params.py
  scripts/algebra-gas/update_bn254_algebra_gas_params.py
Due: rust-fmt

resolve comments
  aptos-move/framework/aptos-stdlib/sources/cryptography/bn254_algebra.move
  aptos-move/framework/move-stdlib/sources/configs/features.move
Due: none

doc: `cargo run -p aptos-framework release` to generate doc
  aptos-move/framework/aptos-stdlib/doc/bn254_algebra.md
  aptos-move/framework/move-stdlib/doc/features.md
Due: none

sdk v2 docs
  developer-docs-site/docs/guides/account-management/key-rotation.md
  developer-docs-site/docs/guides/building-from-source.md
  developer-docs-site/docs/guides/system-integrators-guide.md
  developer-docs-site/docs/indexer/api/example-queries.md
  developer-docs-site/docs/indexer/api/index.md
  developer-docs-site/docs/nodes/validator-node/operator/delegation-pool-operations.md
  developer-docs-site/docs/sdks/ts-sdk/fetch-data-from-chain.md
  developer-docs-site/docs/sdks/ts-sdk/http-client.md
  developer-docs-site/docs/sdks/ts-sdk/index.md
  developer-docs-site/docs/sdks/ts-sdk/key-management.md
  developer-docs-site/docs/sdks/ts-sdk/migration-guide.md
  developer-docs-site/docs/sdks/ts-sdk/move-types.md
  developer-docs-site/docs/sdks/ts-sdk/sdk-configuration.md
  developer-docs-site/docs/sdks/ts-sdk/transaction-builder.md
  developer-docs-site/docs/sdks/ts-sdk/typescript.md
  developer-docs-site/docs/sdks/ts-sdk/v1/aptos-client.md
  developer-docs-site/docs/sdks/ts-sdk/v1/index.md
  developer-docs-site/docs/sdks/ts-sdk/v1/indexer-client.md
  developer-docs-site/docs/sdks/ts-sdk/v1/sdk-client-layer.md
  developer-docs-site/docs/sdks/ts-sdk/v1/sdk-core-layer.md
  developer-docs-site/docs/sdks/ts-sdk/v1/sdk-plugins-layer.md
  developer-docs-site/docs/sdks/ts-sdk/v1/sdk-tests.md
  developer-docs-site/docs/sdks/ts-sdk/v1/typescript-sdk-overview.md
  developer-docs-site/docs/standards/multisig-managed-fungible-asset.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/4-fetch-data-from-chain.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/index.md
  developer-docs-site/docs/tutorials/first-coin.md
  developer-docs-site/docs/tutorials/first-dapp.md
  developer-docs-site/docs/tutorials/first-fungible-asset.md
  developer-docs-site/docs/tutorials/first-move-module.md
  developer-docs-site/docs/tutorials/first-multisig.md
  developer-docs-site/docs/tutorials/your-first-nft.md
  developer-docs-site/scripts/additional_dict.txt
  developer-docs-site/sidebars.js
Due: prettier-fmt

remove slug
  developer-docs-site/docs/sdks/ts-sdk/fetch-data-from-chain.md
  developer-docs-site/docs/sdks/ts-sdk/http-client.md
  developer-docs-site/docs/sdks/ts-sdk/index.md
  developer-docs-site/docs/sdks/ts-sdk/key-management.md
  developer-docs-site/docs/sdks/ts-sdk/migration-guide.md
  developer-docs-site/docs/sdks/ts-sdk/move-types.md
  developer-docs-site/docs/sdks/ts-sdk/sdk-configuration.md
  developer-docs-site/docs/sdks/ts-sdk/transaction-builder.md
  developer-docs-site/docs/sdks/ts-sdk/typescript.md
Due: none

update to refer to sdk v2 or v1 when needed
  developer-docs-site/docs/guides/account-management/key-rotation.md
  developer-docs-site/docs/guides/building-from-source.md
  developer-docs-site/docs/guides/system-integrators-guide.md
  developer-docs-site/docs/indexer/api/example-queries.md
  developer-docs-site/docs/indexer/api/index.md
  developer-docs-site/docs/nodes/validator-node/operator/delegation-pool-operations.md
  developer-docs-site/docs/sdks/ts-sdk/transaction-builder.md
  developer-docs-site/docs/sdks/ts-sdk/v1/sdk-plugins-layer.md
  developer-docs-site/docs/standards/multisig-managed-fungible-asset.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/4-fetch-data-from-chain.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/index.md
  developer-docs-site/docs/tutorials/first-coin.md
  developer-docs-site/docs/tutorials/first-dapp.md
  developer-docs-site/docs/tutorials/first-fungible-asset.md
  developer-docs-site/docs/tutorials/first-move-module.md
  developer-docs-site/docs/tutorials/first-multisig.md
  developer-docs-site/docs/tutorials/your-first-nft.md
Due: none

use a new section for v2 docs
  developer-docs-site/docs/guides/account-management/key-rotation.md
  developer-docs-site/docs/guides/system-integrators-guide.md
  developer-docs-site/docs/indexer/api/index.md
  developer-docs-site/docs/sdks/ts-sdk-v2/fetch-data-from-chain.md
  developer-docs-site/docs/sdks/ts-sdk-v2/http-client.md
  developer-docs-site/docs/sdks/ts-sdk-v2/index.md
  developer-docs-site/docs/sdks/ts-sdk-v2/key-management.md
  developer-docs-site/docs/sdks/ts-sdk-v2/migration-guide.md
  developer-docs-site/docs/sdks/ts-sdk-v2/move-types.md
  developer-docs-site/docs/sdks/ts-sdk-v2/sdk-configuration.md
  developer-docs-site/docs/sdks/ts-sdk-v2/transaction-builder.md
  developer-docs-site/docs/sdks/ts-sdk-v2/typescript.md
  developer-docs-site/docs/sdks/ts-sdk/aptos-client.md
  developer-docs-site/docs/sdks/ts-sdk/index.md
  developer-docs-site/docs/sdks/ts-sdk/indexer-client.md
  developer-docs-site/docs/sdks/ts-sdk/sdk-client-layer.md
  developer-docs-site/docs/sdks/ts-sdk/sdk-core-layer.md
  developer-docs-site/docs/sdks/ts-sdk/sdk-plugins-layer.md
  developer-docs-site/docs/sdks/ts-sdk/sdk-tests.md
  developer-docs-site/docs/sdks/ts-sdk/typescript-sdk-overview.md
  developer-docs-site/docs/sdks/ts-sdk/v1/index.md
  developer-docs-site/docs/standards/multisig-managed-fungible-asset.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/4-fetch-data-from-chain.md
  developer-docs-site/docs/tutorials/first-coin.md
  developer-docs-site/docs/tutorials/first-dapp.md
  developer-docs-site/docs/tutorials/first-fungible-asset.md
  developer-docs-site/docs/tutorials/your-first-nft.md
  developer-docs-site/sidebars.js
Due: prettier-fmt

Add tests to cover undetermistic order of write ops
  aptos-move/e2e-move-tests/src/tests/execution_limit.data/test/sources/test.move
  aptos-move/e2e-move-tests/src/tests/per_category_gas_limits.data/io_limit_reached_by_new_bytes.exp
  aptos-move/e2e-move-tests/src/tests/per_category_gas_limits.data/storage_limit_reached_by_new_bytes.exp
  aptos-move/e2e-move-tests/src/tests/per_category_gas_limits.data/test/Move.toml
  aptos-move/e2e-move-tests/src/tests/per_category_gas_limits.data/test/sources/test.move
  aptos-move/e2e-move-tests/src/tests/per_category_gas_limits.rs
Due: rust-fmt

[cli] Hide V2 Compiler
  crates/aptos/CHANGELOG.md
  crates/aptos/src/common/types.rs
Due: rust-fmt

[cli] Hide V2 Compiler (#11180)
  crates/aptos/CHANGELOG.md
  crates/aptos/src/common/types.rs
Due: rust-fmt

feedback
  developer-docs-site/docs/sdks/ts-sdk-v2/account.md
  developer-docs-site/docs/sdks/ts-sdk-v2/fetch-data-from-chain.md
  developer-docs-site/docs/sdks/ts-sdk-v2/http-client.md
  developer-docs-site/docs/sdks/ts-sdk-v2/index.md
  developer-docs-site/docs/sdks/ts-sdk-v2/migration-guide.md
  developer-docs-site/docs/sdks/ts-sdk-v2/move-types.md
  developer-docs-site/docs/sdks/ts-sdk-v2/sdk-configuration.md
  developer-docs-site/docs/sdks/ts-sdk-v2/transaction-builder.md
  developer-docs-site/docs/sdks/ts-sdk-v2/typescript.md
  developer-docs-site/docs/sdks/ts-sdk/index.md
  developer-docs-site/scripts/additional_dict.txt
  developer-docs-site/sidebars.js
Due: prettier-fmt

disable sponsored_automatic_account_creation
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

[indexer grpc] Add metrics (#11141)
  Cargo.lock
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/processor.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/fullnode_data_service.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-utils/src/counters.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
Due: rust-fmt

disable AIP-52
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

SDK V2 docs (#11031)
  developer-docs-site/docs/guides/system-integrators-guide.md
  developer-docs-site/docs/indexer/api/example-queries.md
  developer-docs-site/docs/indexer/api/index.md
  developer-docs-site/docs/nodes/validator-node/operator/delegation-pool-operations.md
  developer-docs-site/docs/sdks/ts-sdk-v2/account.md
  developer-docs-site/docs/sdks/ts-sdk-v2/fetch-data-from-chain.md
  developer-docs-site/docs/sdks/ts-sdk-v2/http-client.md
  developer-docs-site/docs/sdks/ts-sdk-v2/index.md
  developer-docs-site/docs/sdks/ts-sdk-v2/migration-guide.md
  developer-docs-site/docs/sdks/ts-sdk-v2/move-types.md
  developer-docs-site/docs/sdks/ts-sdk-v2/sdk-configuration.md
  developer-docs-site/docs/sdks/ts-sdk-v2/transaction-builder.md
  developer-docs-site/docs/sdks/ts-sdk-v2/typescript.md
  developer-docs-site/docs/sdks/ts-sdk/index.md
  developer-docs-site/docs/sdks/ts-sdk/sdk-plugins-layer.md
  developer-docs-site/scripts/additional_dict.txt
  developer-docs-site/sidebars.js
Due: prettier-fmt

make things compile after GJM renaming
  types/src/randomness.rs
Due: rust-fmt

remove reference to sdk v2.0.0
  developer-docs-site/docs/sdks/ts-sdk-v2/index.md
  developer-docs-site/docs/sdks/ts-sdk/index.md
Due: none

remove reference to sdk v2.0.0 (#11185)
  developer-docs-site/docs/sdks/ts-sdk-v2/index.md
  developer-docs-site/docs/sdks/ts-sdk/index.md
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
