Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

ignore ans script in eslint
  ecosystem/typescript/sdk/.eslintrc.js
Due: prettier-fmt

parse node errors
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

add --network host flag
  .github/workflows/sdk-release.yaml
Due: prettier-fmt

publish ans module in separate command
  ecosystem/typescript/sdk/package.json
Due: none

add logs and catch errors
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

script to fetch and publish ans contract for tests
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

typo
  .github/workflows/sdk-release.yaml
Due: prettier-fmt

refactor script
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

modifyworkflow file for testing
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

use env var to run aptos commands
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

fix script
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

fix typo on yaml file
  .github/workflows/sdk-release.yaml
Due: prettier-fmt

remove path resolve
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

revert commit
  .github/workflows/sdk-release.yaml
Due: prettier-fmt

use specific commit
  .github/workflows/sdk-release.yaml
Due: prettier-fmt

logs
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

remove debug logs
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

Use parent stdio in execSync, format script file
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

remove publish ans contract in test command
  ecosystem/typescript/sdk/package.json
Due: none

revert docker build yaml file
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

set default vars
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

use pre created account
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

Do not rely on runner vars existing at env var time
  .github/workflows/sdk-release.yaml
Due: prettier-fmt

use pre created account
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

Try using proper GH temp directory
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

use pre created account
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

Add ls inside container
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

use account address without 0x
  .github/workflows/sdk-release.yaml
Due: prettier-fmt

mount host directory to container
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

fmt
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

Debugging: List directory
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

Clean up
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/scripts/publish_ans_contract.ts
Due: prettier-fmt

update changelog
  ecosystem/typescript/sdk/CHANGELOG.md
Due: none

[api] Remove gas price estimation (#7610)
  api/src/context.rs
  api/src/tests/transactions_test.rs
  api/test-context/src/test_context.rs
Due: rust-fmt

[aptos-rosetta] Fix all simple maps to be vector rather than Btreemap
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/lib.rs
  crates/aptos-rosetta/src/types/move_types.rs
Due: rust-fmt

[api] Fix legacy testing for gas
  api/src/context.rs
  api/src/tests/transactions_test.rs
  api/test-context/src/test_context.rs
Due: rust-fmt

[api] Fix legacy testing for gas (#7641)
  api/src/context.rs
  api/src/tests/transactions_test.rs
  api/test-context/src/test_context.rs
Due: rust-fmt

[aptos-rosetta] Fix all simple maps to be vector rather than Btreemap (#7642)
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/lib.rs
  crates/aptos-rosetta/src/types/move_types.rs
Due: rust-fmt
