Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[api] Support BCS output for get table item
  api/src/state.rs
Due: rust-fmt

[governance upgrade] Proposal script generator for package upgrade (#3248)
  Cargo.lock
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/package_builder.rs
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/e2e-move-tests/tests/common/mod.rs
  aptos-move/e2e-move-tests/tests/error_map.rs
  aptos-move/e2e-move-tests/tests/generate_upgrade_script.rs
  aptos-move/e2e-move-tests/tests/init_module.rs
  aptos-move/e2e-move-tests/tests/max_loop_depth.rs
  aptos-move/e2e-move-tests/tests/string_args.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/src/release_bundle.rs
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

[code publishing] Improve test speed, ensure error maps are included in build code
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/e2e-move-tests/tests/error_map.rs
  aptos-move/e2e-move-tests/tests/init_module.rs
  aptos-move/e2e-move-tests/tests/string_args.rs
  aptos-move/framework/src/built_package.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

[docs] fix up rust
  developer-docs-site/static/examples/rust/first_coin/src/lib.rs
  developer-docs-site/static/examples/rust/first_coin/src/main.rs
  developer-docs-site/static/examples/rust/first_transaction/src/lib.rs
  developer-docs-site/static/examples/rust/first_transaction/src/main.rs
  developer-docs-site/static/examples/rust/hello_blockchain/src/main.rs
Due: rust-fmt

[docs] fixup python demo
  developer-docs-site/static/examples/python/first_coin.py
  developer-docs-site/static/examples/python/first_nft.py
  developer-docs-site/static/examples/python/first_transaction.py
  developer-docs-site/static/examples/python/hello_blockchain.py
Due: none

[docs] update typescript
  developer-docs-site/static/examples/typescript/first_coin.ts
  developer-docs-site/static/examples/typescript/first_nft.ts
  developer-docs-site/static/examples/typescript/first_transaction.ts
  developer-docs-site/static/examples/typescript/hello_blockchain.ts
  developer-docs-site/static/examples/typescript/package.json
Due: prettier-fmt

[code publishing] Improve test speed, ensure error maps are included in build code (#3267)
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/e2e-move-tests/tests/error_map.rs
  aptos-move/e2e-move-tests/tests/init_module.rs
  aptos-move/e2e-move-tests/tests/string_args.rs
  aptos-move/framework/src/built_package.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

[Staking] Add some useful public test functions
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/stake.move
Due: none

Update connect-to-testnet.md
  developer-docs-site/docs/nodes/ait/connect-to-testnet.md
Due: none

[Staking] Add some useful public test functions (#3268)
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/stake.move
Due: none

[api] Regenerate spec with headers in errors
  api/doc/spec.json
  api/doc/spec.yaml
Due: prettier-fmt

[api] Delete unused goldens
  api/goldens/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/aptos_api__tests__blocks_test__test_get_genesis_block_by_version.json
  api/goldens/aptos_api__tests__blocks_test__test_get_unknown_block_by_version.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
Due: none

[api] Add LedgerInfo headers to errors
  api/src/accounts.rs
  api/src/basic.rs
  api/src/blocks.rs
  api/src/context.rs
  api/src/events.rs
  api/src/failpoint.rs
  api/src/page.rs
  api/src/response.rs
  api/src/state.rs
  api/src/transactions.rs
Due: rust-fmt

Chunk large inserts
  Cargo.lock
  ecosystem/indexer/Cargo.toml
  ecosystem/indexer/src/database.rs
  ecosystem/indexer/src/default_processor.rs
  ecosystem/indexer/src/models/events.rs
  ecosystem/indexer/src/models/write_set_changes.rs
Due: rust-fmt

[docs] rename Aptos Quickstarts to Developer Tutorials
  developer-docs-site/docs/tutorials/index.md
  developer-docs-site/sidebars.js
Due: prettier-fmt

[docs] make first-transaction-sdk look ready
  developer-docs-site/docs/tutorials/first-transaction-sdk.md
  developer-docs-site/static/sdks/python
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/python/sdk/examples/common.py
  ecosystem/python/sdk/examples/transfer-coin.py
Due: none

[docs] add your-first-nft-sdk
  developer-docs-site/docs/tutorials/your-first-nft-sdk.md
  developer-docs-site/sidebars.js
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/python/sdk/examples/simple-nft.py
Due: prettier-fmt

[docs] strip leading whitespace in code-injector
  developer-docs-site/src/remark/code-injector.js
Due: prettier-fmt

[api] Provide a not found when account doesn't exist on events
  api/src/accounts.rs
  api/src/events.rs
Due: rust-fmt

[api] Simplify paging logic
  api/src/context.rs
  api/src/events.rs
  api/src/page.rs
  api/src/transactions.rs
Due: rust-fmt

[api] Add account not found on list account transactions
  api/src/transactions.rs
Due: rust-fmt

cargo lock
  Cargo.lock
Due: none

Chunk large inserts (#3269)
  Cargo.lock
  ecosystem/indexer/Cargo.toml
  ecosystem/indexer/src/database.rs
  ecosystem/indexer/src/default_processor.rs
  ecosystem/indexer/src/models/events.rs
  ecosystem/indexer/src/models/write_set_changes.rs
Due: rust-fmt

cicd: set precise end time in humio logs when job finished
  testsuite/run_forge.sh
Due: none

[docs] fix coin initialize expects u8 for decimals
  developer-docs-site/static/examples/python/first_coin.py
  developer-docs-site/static/examples/rust/first_coin/src/lib.rs
Due: rust-fmt

[api] fix up goldens to be less noisy
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/test-context/src/test_context.rs
Due: rust-fmt

[gas] fix gas formulae for natives in aptos-framework
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-gas/src/algebra.rs
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-gas/src/lib.rs
  aptos-move/aptos-gas/src/misc.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/type_info.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/gas-algebra-ext/src/lib.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  crates/aptos/src/move_tool/aptos_debug_natives.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt, rust-cargo-sort

[move-examples] fix message board
  aptos-move/move-examples/message_board/Move.toml
  aptos-move/move-examples/message_board/sources/acl_message_board.move
  aptos-move/move-examples/message_board/sources/cap_message_board.move
  aptos-move/move-examples/message_board/sources/offer.move
  aptos-move/move-examples/tests/move_unit_tests.rs
Due: rust-fmt

[gas] fix gas formulae for natives in aptos-framework (#3274)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-gas/src/algebra.rs
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-gas/src/lib.rs
  aptos-move/aptos-gas/src/misc.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/type_info.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/gas-algebra-ext/src/lib.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  crates/aptos/src/move_tool/aptos_debug_natives.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt, rust-cargo-sort

[aptos-rosetta] Use account transfer instead of coin transfer
  crates/aptos-rosetta/src/construction.rs
Due: rust-fmt

[aptos-rosetta] Add static error messages for errors
  crates/aptos-rosetta/src/error.rs
Due: rust-fmt

[aptos-rosetta] Add sequence number as input to transaction metadata
  crates/aptos-rosetta-cli/Cargo.toml
  crates/aptos-rosetta/Cargo.toml
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/requests.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[aptos-rosetta] Update errors to match reality
  crates/aptos-rosetta/src/block.rs
  crates/aptos-rosetta/src/error.rs
Due: rust-fmt

[aptos-crypto] Add feature to allow signing arbitrary messages
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/src/ed25519/ed25519_keys.rs
Due: rust-fmt

temp: update rest client
  crates/aptos-rest-client/src/lib.rs
Due: rust-fmt

[aptos-rest-client] Rename and move Errors to be more appropriate
  crates/aptos-rest-client/src/error.rs
  crates/aptos-rest-client/src/faucet.rs
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-rest-client/src/response.rs
  crates/aptos-rosetta/src/error.rs
  crates/aptos/src/common/types.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
