Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Cmd line param to specify whether to run executor shards on native_vm or move_vm
  aptos-move/aptos-vm/src/sharded_block_executor/local_executor_shard.rs
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_executor_service.rs
  execution/executor-service/src/main.rs
  execution/executor-service/src/process_executor_service.rs
  execution/executor-service/src/remote_executor_service.rs
  execution/executor-service/src/thread_executor_service.rs
Due: rust-fmt

panic on state cache miss (#15283)
  execution/executor/src/types/in_memory_state_calculator_v2.rs
  storage/aptosdb/src/db/test_helper.rs
  storage/aptosdb/src/state_store/mod.rs
Due: rust-fmt

[CI] Increase required test threads to reduce saturation.
  .config/nextest.toml
Due: none

fix
  consensus/src/block_storage/sync_manager.rs
  consensus/src/dag/adapter.rs
  consensus/src/dag/dag_state_sync.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/network_tests.rs
  consensus/src/recovery_manager.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_test.rs
Due: rust-fmt

Update README.md.gotmpl
  terraform/helm/aptos-node/README.md.gotmpl
Due: none

Update RELEASE.md
  RELEASE.md
Due: none

Update RUST_CODING_STYLE.md
  RUST_CODING_STYLE.md
Due: none

Update from_bcs.md
  aptos-move/framework/aptos-stdlib/doc/from_bcs.md
Due: none

Update release_notes.md
  ecosystem/indexer-grpc/release_notes.md
Due: none

temp
  consensus/src/block_storage/sync_manager.rs
  consensus/src/dag/adapter.rs
  consensus/src/dag/dag_state_sync.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/pipeline/buffer_manager.rs
Due: rust-fmt

Update terraform/helm/aptos-node/README.md.gotmpl
  terraform/helm/aptos-node/README.md.gotmpl
Due: none

fix: typos in documentation files (#15248)
  RELEASE.md
  RUST_CODING_STYLE.md
  aptos-move/framework/aptos-stdlib/doc/from_bcs.md
  ecosystem/indexer-grpc/release_notes.md
Due: none

Update from_bcs.move
  aptos-move/framework/aptos-stdlib/sources/from_bcs.move
Due: none

Removed incorrect requirement from vesting contract creation logic. (#127)
  aptos-move/framework/supra-framework/sources/vesting_without_staking.move
Due: none

fix a merge conflict that duplicated code, and check bound variables for abilities in lambda_lifter.rs
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-compiler-v2/src/env_pipeline/lambda_lifter.rs
  third_party/move/move-compiler-v2/tests/lambda/inline-parity/non_lambda_arg.lambda.exp
  third_party/move/move-compiler-v2/tests/lambda/non_lambda_arg.lambda.exp
  third_party/move/move-compiler-v2/tests/lambda/storable/doable_func.lambda.exp
  third_party/move/move-compiler-v2/tests/lambda/storable/registry.exp
  third_party/move/move-compiler-v2/tests/lambda/storable/registry.lambda.exp
  third_party/move/move-compiler-v2/tests/lambda/storable/registry.move
  third_party/move/move-compiler-v2/tests/lambda/storable/return_func.exp
  third_party/move/move-compiler-v2/tests/lambda/storable/return_func.lambda.exp
  third_party/move/move-compiler-v2/tests/lambda/storable/return_func.move
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

add log
  consensus/src/epoch_manager.rs
  consensus/src/liveness/round_state.rs
  consensus/src/round_manager.rs
Due: rust-fmt

ensure replay
  sdk/src/types.rs
  types/src/keyless/bn254_circom.rs
Due: rust-fmt

Update aptos_features.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

Move read-before-write to VM
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/view_with_change_set.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/framework/aptos-stdlib/doc/from_bcs.md
  aptos-move/framework/src/natives/state_storage.rs
  execution/executor-benchmark/src/lib.rs
Due: rust-fmt

comments: add description to module cache
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

Create republish and call mixed workload
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/e2e-move-tests/src/tests/gas.rs
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/entry_points.rs
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/publishing/module_simple.rs
  crates/transaction-generator-lib/src/publishing/publish_util.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  crates/transaction-generator-lib/src/workflow_delegator.rs
  execution/executor-benchmark/src/lib.rs
  testsuite/forge-cli/src/suites/realistic_workloads.rs
  testsuite/module-publish/src/packages/simple/sources/Simple.move
  testsuite/testcases/src/load_vs_perf_benchmark.rs
Due: rust-fmt

Loader fixes
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/code_cache.rs
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

rebase fix from_bcs
  aptos-move/framework/aptos-stdlib/doc/from_bcs.md
Due: none

apply patch overrides AFTER default jwk
  aptos-move/vm-genesis/src/lib.rs
  types/src/jwks/rsa/insecure_test_jwk.json
Due: rust-fmt

lint
  types/src/keyless/bn254_circom.rs
Due: rust-fmt

[loader-v2] Fixing global cache reads & read-before-write on publish (#15285)
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/view_with_change_set.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/code_cache.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/e2e-move-tests/src/tests/gas.rs
  aptos-move/framework/src/natives/state_storage.rs
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/entry_points.rs
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/publishing/module_simple.rs
  crates/transaction-generator-lib/src/publishing/publish_util.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  crates/transaction-generator-lib/src/workflow_delegator.rs
  execution/executor-benchmark/src/lib.rs
  testsuite/forge-cli/src/suites/realistic_workloads.rs
  testsuite/module-publish/src/packages/simple/sources/Simple.move
  testsuite/testcases/src/load_vs_perf_benchmark.rs
Due: rust-fmt

api compatibility
  crates/transaction-emitter-lib/src/emitter/local_account_generator.rs
  sdk/src/types.rs
  testsuite/smoke-test/src/keyless.rs
Due: rust-fmt

fix: gitignore boogie.bpl
  .gitignore
Due: none

Remove println
  aptos-move/e2e-move-tests/src/tests/bridge.rs
Due: rust-fmt

disable old rand flag
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

[release] v1.22.0 Release Yaml
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

initial commit, unit tests pass but simplified functions still need tests
  aptos-move/framework/aptos-framework/sources/atomic_bridge.move
Due: none

update_wasm_bindgen
  aptos-move/script-composer/Cargo.toml
  aptos-move/script-composer/src/builder.rs
  aptos-move/script-composer/src/lib.rs
Due: rust-fmt

fixup! update_wasm_bindgen
  Cargo.lock
  aptos-move/script-composer/Cargo.toml
Due: none

Same limit for serializing and deserializing type tags when in release mode
  third_party/move/move-core/types/src/safe_serialize.rs
Due: rust-fmt
