Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[gas] reduce max transaction size to 32KB
  aptos-move/aptos-gas/src/transaction.rs
Due: rust-fmt

[types] cleanup on_chain_configs
  types/src/account_view.rs
  types/src/on_chain_config/mod.rs
Due: rust-fmt

[types] add approved_execution_hashes
  types/src/on_chain_config/approved_execution_hashes.rs
  types/src/on_chain_config/mod.rs
Due: rust-fmt

[framework] set approved script hashes on successful vote
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
Due: none

[framework] make add_approved_execution_hash
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Due: rust-fmt

[aptos-vm] add a mempool bypass for approved txns
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
Due: rust-fmt

[move-tests] remove the no parallel as unused
  aptos-move/e2e-move-tests/src/harness.rs
Due: rust-fmt

Your First Dapp spelling error
  developer-docs-site/docs/tutorials/first-dapp.md
Due: none

Your First Coin Spelling Error
  developer-docs-site/docs/tutorials/first-coin.md
Due: none

[docs] share testnet info
  developer-docs-site/docs/guides/getting-started.md
Due: none

[vm] remove mirai
  Cargo.lock
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/lib.rs
Due: rust-fmt

[cli] remove groups from metadata
  crates/aptos/src/governance/mod.rs
Due: rust-fmt

[storage] remove flaky test
  storage/aptosdb/src/aptosdb_test.rs
Due: rust-fmt

Add control bit analysis, revise threshold algos
  aptos-move/framework/aptos-stdlib/sources/type_info.move
  aptos-move/move-examples/data_structures/sources/big_vector.move
Due: none

clean up deployment
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  crates/aptos/src/common/types.rs
  crates/aptos/src/governance/mod.rs
Due: rust-fmt

[docs] Update first move module tutorial to use default profile
  developer-docs-site/docs/tutorials/first-move-module.md
Due: none

[storage] fix that pruner initialization can hang in read only mode
  storage/aptosdb/src/pruner/db_pruner.rs
  storage/aptosdb/src/pruner/ledger_store/ledger_store_pruner.rs
Due: rust-fmt

[aptos-cli-docs] Remove instructions for cargo install
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
Due: none

CODEOWNERS scope for Alin is now just useAccounts hook
  .github/CODEOWNERS
Due: none

Regex to make sure it can convert properly to float
  apps/extension/src/core/components/TransferFlow.tsx
  apps/extension/src/core/hooks/useTransferFlow.ts
Due: prettier-fmt

test helper for reconfiguration time
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
Due: none

[docs] Update CLI install docs from source
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
  scripts/dev_setup.sh
Due: none

[backup] async committing state snapshot chunks
  storage/aptosdb/src/backup/restore_handler.rs
  storage/aptosdb/src/state_restore/mod.rs
  storage/aptosdb/src/state_restore/restore_test.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/restore/mod.rs
Due: rust-fmt

[aptos-rosetta] Move to BCS for most REST API calls
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/main.rs
Due: rust-fmt

[aptos-rosetta] Cleanup get balances to use matching
  crates/aptos-rosetta/src/account.rs
Due: rust-fmt

[aptos-rosetta] Move Account balance to BCS
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-rosetta/src/account.rs
Due: rust-fmt
