Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

expose method to access feature flags in SafeNativeContext
  aptos-move/framework/src/natives/helpers.rs
Due: rust-fmt

oops, remove last .clone() calls
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/src/natives/account.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/framework/src/natives/create_signer.rs
  aptos-move/framework/src/natives/cryptography/bls12381.rs
  aptos-move/framework/src/natives/cryptography/ed25519.rs
  aptos-move/framework/src/natives/cryptography/multi_ed25519.rs
  aptos-move/framework/src/natives/cryptography/ristretto255.rs
  aptos-move/framework/src/natives/cryptography/secp256k1.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/hash.rs
  aptos-move/framework/src/natives/helpers.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/object.rs
  aptos-move/framework/src/natives/state_storage.rs
  aptos-move/framework/src/natives/transaction_context.rs
  aptos-move/framework/src/natives/type_info.rs
  aptos-move/framework/src/natives/util.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  crates/aptos/src/move_tool/aptos_debug_natives.rs
Due: rust-fmt

Make direct edits, fix link to GH repo
  developer-docs-site/docs/community/external-resources.md
Due: none

Use as_signed_user_txn/as_block_metadata and change it to Option
  api/src/context.rs
  crates/aptos-rosetta/src/construction.rs
  crates/indexer/src/indexer/fetcher.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  storage/aptosdb/src/fake_aptosdb.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/transaction_store/test.rs
  storage/aptosdb/src/test_helper.rs
  storage/aptosdb/src/transaction_store/mod.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[Indexer] added nft_points custom contract parsing (#7018)
  config/src/config/indexer_config.rs
  crates/indexer/migrations/2023-03-08-205402_nft_points/down.sql
  crates/indexer/migrations/2023-03-08-205402_nft_points/up.sql
  crates/indexer/src/models/token_models/mod.rs
  crates/indexer/src/models/token_models/nft_points.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/runtime.rs
  crates/indexer/src/schema.rs
Due: rust-fmt

Remove recommendation to keep TCP port 6186 open for local backup storage service
  developer-docs-site/docs/nodes/validator-node/operator/node-requirements.md
Due: none

Modifications per comments.
  developer-docs-site/docs/community/external-resources.md
Due: none

use new api from alin/native-feature-flag-context
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/src/natives/cryptography/ed25519.rs
  aptos-move/framework/src/natives/feature_flags_extension.rs
  aptos-move/framework/src/natives/mod.rs
  crates/aptos/src/move_tool/aptos_debug_natives.rs
  types/src/on_chain_config/timed_features.rs
Due: rust-fmt

This will avoid duplicate counter issues when we run old and new indexer at the same time
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/counters.rs
Due: rust-fmt

add move function to access ed25519 abort feature flag
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/natives/cryptography/ed25519.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

cargo +nightly fmt
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/src/natives/cryptography/ed25519.rs
Due: rust-fmt

Create section of latest Aptos releases (#6657)
  developer-docs-site/docs/index.md
  developer-docs-site/docs/nodes/aptos-deployments.md
  developer-docs-site/docs/releases/devnet-release.md
  developer-docs-site/docs/releases/index.md
  developer-docs-site/docs/releases/mainnet-release.md
  developer-docs-site/docs/releases/testnet-release.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
Due: prettier-fmt

[Storage] Update truncation tool to support recent state kv db change.
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/utils/truncation_helper.rs
  storage/schemadb/src/lib.rs
Due: rust-fmt

add indexer ledger info query
  ecosystem/typescript/sdk/src/indexer/generated/operations.ts
  ecosystem/typescript/sdk/src/indexer/generated/queries.ts
  ecosystem/typescript/sdk/src/indexer/queries/getLedgerInfo.graphql
  ecosystem/typescript/sdk/src/providers/indexer.ts
Due: prettier-fmt

add indexer ledger info query
  ecosystem/typescript/sdk/src/tests/e2e/indexer.test.ts
Due: prettier-fmt

add indexer ledger info query
  ecosystem/typescript/sdk/CHANGELOG.md
Due: none

[Storage] Update truncation tool to support recent state kv db change. (#7011)
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/utils/truncation_helper.rs
  storage/schemadb/src/lib.rs
Due: rust-fmt

[aptos-move] Remove usage of bytecode version environment variable
  Cargo.lock
  Cargo.toml
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/src/prover.rs
  aptos-move/framework/tests/move_prover_tests.rs
  aptos-move/writeset-transaction-generator/src/admin_script_builder.rs
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt, rust-cargo-sort

Rename Help the Ecosystem as Contribute, remove Labs refs
  developer-docs-site/docs/community/index.md
Due: none

Link to Foundation Currents page on Aptos first ref
  developer-docs-site/docs/community/index.md
Due: none

Make testing and tooling singular
  aptos-move/framework/README.md
Due: none

Update Layout section in framework README.MD
  aptos-move/framework/README.md
Due: none

Fix paths to embedded and moved TypeScript files
  developer-docs-site/docs/tutorials/first-transaction.md
  developer-docs-site/docs/tutorials/your-first-nft.md
Due: none

[natives] expose all feature flags inside NativeContext as an extension (#7038)
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/src/natives/account.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/framework/src/natives/create_signer.rs
  aptos-move/framework/src/natives/cryptography/bls12381.rs
  aptos-move/framework/src/natives/cryptography/ed25519.rs
  aptos-move/framework/src/natives/cryptography/multi_ed25519.rs
  aptos-move/framework/src/natives/cryptography/ristretto255.rs
  aptos-move/framework/src/natives/cryptography/secp256k1.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/src/natives/hash.rs
  aptos-move/framework/src/natives/helpers.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/object.rs
  aptos-move/framework/src/natives/state_storage.rs
  aptos-move/framework/src/natives/transaction_context.rs
  aptos-move/framework/src/natives/type_info.rs
  aptos-move/framework/src/natives/util.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  crates/aptos/src/move_tool/aptos_debug_natives.rs
Due: rust-fmt

Explain how to get funds in mainnet, interlink between first transact… (#6947)
  developer-docs-site/docs/guides/get-test-funds.md
  developer-docs-site/docs/tutorials/first-transaction.md
Due: none

Added a welcome message that lists the dependencies to be installed
  scripts/windows_dev_setup.ps1
Due: none

Created a custom protoc installation function
  scripts/windows_dev_setup.ps1
Due: none

Added cargo installs for grcov, protoc components, and cargo components
  scripts/windows_dev_setup.ps1
Due: none

Zjma/generic algebra feature flags (#7015)
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt, prettier-fmt

Added function to check for installed zip packages like protoc. Fixed python mentions
  scripts/windows_dev_setup.ps1
Due: none

update generate transaction functions doc (#7022)
  ecosystem/typescript/sdk/src/providers/aptos_client.ts
Due: prettier-fmt

Update remix-ide-plugin.md
  developer-docs-site/docs/community/contributions/remix-ide-plugin.md
Due: none

no more serialization format as struct
  aptos-move/framework/aptos-stdlib/doc/algebra.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra.move
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
Due: rust-fmt

Remove pull_request from docker-build-test.yaml
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

oops, these flags should have be disabled for now
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/vm-genesis/src/lib.rs
Due: rust-fmt, prettier-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
