Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Revert "fix:Correct ECDSA signature malleability handling (#13544)"
  crates/aptos-crypto/src/secp256r1_ecdsa/secp256r1_ecdsa_sigs.rs
  crates/aptos-crypto/src/unit_tests/secp256r1_ecdsa_test.rs
Due: rust-fmt

Update get_txn_avg_waiting_time timer
  aptos-move/aptos-vm/src/sharded_block_executor/streamed_transactions_provider.rs
Due: rust-fmt

Calculate cur_txns in pull proofs method accurately (#13716)
  consensus/src/quorum_store/utils.rs
Due: rust-fmt

Add CPU stress test
  execution/executor-benchmark/src/main.rs
Due: rust-fmt

Proof queue to be part of proof manager
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
Due: rust-fmt

Revert "fix:Correct ECDSA signature malleability handling (#13544)" (#13818)
  crates/aptos-crypto/src/secp256r1_ecdsa/secp256r1_ecdsa_sigs.rs
  crates/aptos-crypto/src/unit_tests/secp256r1_ecdsa_test.rs
Due: rust-fmt

move VK check into feature gating (#13566)
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/keyless_validation.rs
Due: rust-fmt

Add CPU stress test v1
  execution/executor-benchmark/src/main.rs
Due: rust-fmt

Revert "fix:Correct ECDSA signature malleability handling (#13544)" (#13818) (#264)
  crates/aptos-crypto/src/secp256r1_ecdsa/secp256r1_ecdsa_sigs.rs
  crates/aptos-crypto/src/unit_tests/secp256r1_ecdsa_test.rs
Due: rust-fmt

Add CPU stress test v2
  execution/executor-benchmark/src/main.rs
Due: rust-fmt

[gha] fix forge-stable main branch cadence check
  .github/workflows/forge-stable.yaml
Due: prettier-fmt

Add CPU stress test v3
  execution/executor-benchmark/src/main.rs
Due: rust-fmt

Move some code to a function
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/utils.rs
Due: rust-fmt

Revert "fix:Correct ECDSA signature malleability handling (#13544)" (#13819)
  crates/aptos-crypto/src/secp256r1_ecdsa/secp256r1_ecdsa_sigs.rs
  crates/aptos-crypto/src/unit_tests/secp256r1_ecdsa_test.rs
Due: rust-fmt

Replace btreeset with hashet for priority index
  mempool/src/core_mempool/index.rs
Due: rust-fmt

UseCaseAwareShuffler
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/transaction_shuffler/mod.rs
  consensus/src/transaction_shuffler/use_case_aware/delayed_queue.rs
  consensus/src/transaction_shuffler/use_case_aware/iterator.rs
  consensus/src/transaction_shuffler/use_case_aware/mod.rs
  consensus/src/transaction_shuffler/use_case_aware/tests/manual.rs
  consensus/src/transaction_shuffler/use_case_aware/tests/mod.rs
  consensus/src/transaction_shuffler/use_case_aware/tests/proptests.rs
  consensus/src/transaction_shuffler/use_case_aware/types.rs
  consensus/src/transaction_shuffler/use_case_aware/utils.rs
  types/src/on_chain_config/execution_config.rs
Due: rust-fmt

test graceful workload sweep
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/call_custom_modules.rs
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
Due: rust-fmt

more test configuration
  .github/workflows/forge-stable.yaml
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-generator-lib/src/call_custom_modules.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge.py
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
Due: rust-fmt, prettier-fmt

Minor fixes
  consensus/src/quorum_store/utils.rs
Due: rust-fmt

Async cmd rx v1
  Cargo.lock
  execution/executor-benchmark/src/main.rs
  execution/executor-service/src/remote_executor_client.rs
  secure/net/src/network_controller/mod.rs
Due: rust-fmt

Async cmd rx v1, fix
  secure/net/src/network_controller/mod.rs
Due: rust-fmt

Async cmd rx v1, fix 2
  execution/executor-service/src/remote_executor_client.rs
Due: rust-fmt

Async cmd rx v1, fix 3
  execution/executor-service/src/remote_executor_client.rs
Due: rust-fmt

Async cmd rx v1, fix 4
  execution/executor-service/src/remote_executor_client.rs
Due: rust-fmt

Async cmd rx v1, sleep test
  execution/executor-service/src/remote_executor_client.rs
Due: rust-fmt

Add info statements in transaction store
  mempool/src/core_mempool/transaction_store.rs
Due: rust-fmt

Proof queue with more accurate calculation of remaining txns in the pipeline (#13703)
  consensus/src/block_storage/block_store.rs
  consensus/src/counters.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
Due: rust-fmt

[gha][runs-on] add AMI image config
  .github/runs-on.yaml
Due: prettier-fmt

[gha][runs-on] add AMI image config (#13822)
  .github/runs-on.yaml
Due: prettier-fmt

use smaller concurrency level for short blocks
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

[gha][runs-on] rename runs-on.yaml -> runs-on.yml
  .github/runs-on.yml
Due: prettier-fmt

[gha][runs-on] rename runs-on.yaml -> runs-on.yml (#13823)
  .github/runs-on.yml
Due: prettier-fmt

[gha][runs-on] update AMI id
  .github/runs-on.yml
Due: prettier-fmt

[gha][runs-on] update AMI id (#13824)
  .github/runs-on.yml
Due: prettier-fmt

chore: fix some comments
  ecosystem/nft-metadata-crawler-parser/src/config.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
  third_party/move/move-model/src/constant_folder.rs
  vm-validator/src/unit_tests/vm_validator_test.rs
Due: rust-fmt

[CO] Test PFN perf at 5k.
  config/src/config/consensus_observer_config.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[move] Fix vector ty tag construction
  third_party/move/move-vm/runtime/src/loader/mod.rs
Due: rust-fmt

[move] Enable type size limit
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

fixed bug
  types/src/keyless/proof_simulation.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
