Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[examples] Update my-first-dapp to use vite instead of create-react-app
  aptos-move/move-examples/my_first_dapp/client/.gitignore
  aptos-move/move-examples/my_first_dapp/client/index.html
  aptos-move/move-examples/my_first_dapp/client/package-lock.json
  aptos-move/move-examples/my_first_dapp/client/package.json
  aptos-move/move-examples/my_first_dapp/client/src/App.test.tsx
  aptos-move/move-examples/my_first_dapp/client/src/App.tsx
  aptos-move/move-examples/my_first_dapp/client/src/environment.d.ts
  aptos-move/move-examples/my_first_dapp/client/src/index.tsx
  aptos-move/move-examples/my_first_dapp/client/src/react-app-env.d.ts
  aptos-move/move-examples/my_first_dapp/client/src/reportWebVitals.ts
  aptos-move/move-examples/my_first_dapp/client/src/setupTests.ts
  aptos-move/move-examples/my_first_dapp/client/tsconfig.json
  aptos-move/move-examples/my_first_dapp/client/tsconfig.node.json
  aptos-move/move-examples/my_first_dapp/client/vite.config.ts
Due: prettier-fmt

[cli] Add extract public key command (#16259)
  crates/aptos-crypto/src/encoding_type.rs
  crates/aptos/CHANGELOG.md
  crates/aptos/src/account/key_rotation.rs
  crates/aptos/src/common/transactions.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/op/key.rs
Due: rust-fmt

Allow dAA before AA
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  aptos-move/framework/aptos-framework/doc/account_abstraction.md
  aptos-move/framework/aptos-framework/doc/domain_account_abstraction_ed25519_hex.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/account/account_abstraction.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/natives/dispatchable_fungible_asset.rs
  aptos-move/framework/src/natives/function_info.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

Allow dAA before AA (#16239)
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  aptos-move/framework/aptos-framework/doc/account_abstraction.md
  aptos-move/framework/aptos-framework/doc/domain_account_abstraction_ed25519_hex.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/account/account_abstraction.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/natives/dispatchable_fungible_asset.rs
  aptos-move/framework/src/natives/function_info.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

[gha] forge clbt fix (#16258)
  .github/workflows/forge-continuous-land-blocking-test.yaml
Due: prettier-fmt

add nft testing txns
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/generated_transactions.rs
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2277018899_tradeport_v2_accept_token_delist_same_token_data_id.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2296098846_tradeport_v2_accept_token_delist2.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2296149225_tradeport_v2_accept_token_delist.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2298838662_tradeport_v2_fill_offer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2313248448_wapal_fill_offer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2381742315_wapal_cancel_listing.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2381810159_wapal_cancel_offer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2382219668_wapal_fill_collection_offer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2382221134_wapal_fill_listing.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2382251863_wapal_place_listing.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2382313982_wapal_place_offer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2382373209_wapal_place_collection_offer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2382373978_wapal_cancel_collection_offer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2386021136_tradeport_v2_fill_collection_offer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2386133936_tradeport_v2_place_offer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2386142672_tradeport_v2_cancel_offer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2386455218_tradeport_v2_fill_listing.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2386716658_tradeport_v2_cancel_listing.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2386809975_tradeport_v2_place_listing.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2386889884_tradeport_v2_cancel_collection_offer.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/2386891051_tradeport_v2_place_collection_offer.json
  ecosystem/indexer-grpc/indexer-transaction-generator/imported_transactions/imported_transactions.yaml
Due: rust-fmt, prettier-fmt

address comments
  aptos-move/aptos-vm/src/keyless_validation.rs
Due: rust-fmt

use microseconds over mus
  aptos-move/aptos-vm/src/keyless_validation.rs
Due: rust-fmt

fix xclipper
  aptos-move/aptos-vm/src/keyless_validation.rs
Due: rust-fmt

Add test-only code publish func
  aptos-move/framework/aptos-framework/sources/code.move
Due: none

Rebuild DocGen
  aptos-move/framework/aptos-framework/doc/code.md
Due: none

Refactor the keyless validation code (#16255)
  aptos-move/aptos-vm/src/keyless_validation.rs
Due: rust-fmt

test new proto
  protos/rust/src/pb/aptos.indexer.v1.rs
  protos/rust/src/pb/aptos.indexer.v1.serde.rs
  protos/rust/src/pb/aptos.indexer.v1.tonic.rs
  protos/rust/src/pb/aptos.internal.fullnode.v1.rs
  protos/rust/src/pb/aptos.internal.fullnode.v1.serde.rs
  protos/rust/src/pb/aptos.internal.fullnode.v1.tonic.rs
  protos/rust/src/pb/aptos.remote_executor.v1.rs
  protos/rust/src/pb/aptos.remote_executor.v1.serde.rs
  protos/rust/src/pb/aptos.remote_executor.v1.tonic.rs
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/rust/src/pb/aptos.util.timestamp.rs
  protos/rust/src/pb/aptos.util.timestamp.serde.rs
  protos/rust/src/pb/mod.rs
  protos/typescript/src/aptos/indexer/v1/filter.ts
Due: rust-fmt, prettier-fmt

build works
  api/types/src/convert.rs
  api/types/src/transaction.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator_v2/file_store_reader.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/status_page/mod.rs
Due: rust-fmt

Adding proto changes
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator_v2/file_store_reader.rs
  protos/proto/aptos/transaction/v1/transaction.proto
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.py
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.pyi
  protos/rust/src/pb/aptos.indexer.v1.rs
  protos/rust/src/pb/aptos.internal.fullnode.v1.rs
  protos/rust/src/pb/aptos.remote_executor.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/rust/src/pb/aptos.util.timestamp.rs
  protos/typescript/src/aptos/indexer/v1/filter.ts
  protos/typescript/src/aptos/transaction/v1/transaction.ts
Due: rust-fmt, prettier-fmt

build works
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator_v2/file_store_reader.rs
Due: rust-fmt

rust lint
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service-v2/src/historical_data_service.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  ecosystem/indexer-grpc/indexer-grpc-manager/src/metadata_manager.rs
  ecosystem/indexer-grpc/indexer-grpc-manager/src/status_page.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
Due: rust-fmt

[Fix] Fix table info handling.
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/table_info_service.rs
  storage/indexer/src/db_v2.rs
Due: rust-fmt

[AN-Issue-1718] Task registration is valid with duration matching task-duration-cap (#203)
  aptos-move/framework/supra-framework/doc/automation_registry.md
  aptos-move/framework/supra-framework/sources/automation_registry.move
Due: none

[Consensus Observer] Add basic window traversal logic.
  consensus/src/consensus_observer/common/error.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/consensus_observer/observer/execution_pool.rs
  consensus/src/consensus_observer/observer/ordered_blocks.rs
  consensus/src/consensus_observer/observer/pending_blocks.rs
Due: rust-fmt

[Execution Pool] Extract window logic to helper function.
  consensus/src/block_storage/block_tree.rs
  consensus/src/util/mod.rs
Due: rust-fmt

[Consensus Observer] Add simple unit tests for window logic.
  consensus/src/consensus_observer/observer/execution_pool.rs
  consensus/src/consensus_observer/observer/pending_blocks.rs
Due: rust-fmt

[Consensus Observer] Small refactors to unit tests.
  consensus/src/consensus_observer/observer/ordered_blocks.rs
  consensus/src/consensus_observer/observer/payload_store.rs
Due: rust-fmt

[Consensus Observer] Add window buffer logic for payload store.
  config/src/config/consensus_observer_config.rs
  consensus/src/consensus_observer/observer/active_state.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/consensus_observer/observer/payload_store.rs
Due: rust-fmt

Remove disk cleanup from replay-verify
  .github/workflows/workflow-run-replay-verify-on-archive.yaml
Due: prettier-fmt

Replace deprecated default_features with default-features (#16238)
  Cargo.toml
Due: rust-cargo-sort

udpate proto change check workflow
  .github/workflows/indexer-protos-sdk-update.yaml
Due: prettier-fmt

rand
  consensus/src/rand/rand_gen/aug_data_store.rs
Due: rust-fmt

[Aptos Framework][Staking] Delegation pool refactoring - Unset pending voter after it takes effect
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

[vm] Remove always enabled feature flags
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/environment.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/verifier/native_validation.rs
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_entry/Move.toml
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_entry/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_system/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_system_entry/Move.toml
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_system_entry/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.rs
  aptos-move/e2e-move-tests/src/tests/lazy_natives.rs
  aptos-move/e2e-move-tests/src/tests/metadata.rs
  aptos-move/e2e-move-tests/src/tests/upgrade_compatibility.rs
  aptos-move/framework/src/natives/function_info.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
  types/src/vm/module_metadata.rs
Due: rust-fmt

[vm] Remove always enabled feature flags (#16227)
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm-environment/src/environment.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/verifier/native_validation.rs
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_entry/Move.toml
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_entry/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_system/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_system_entry/Move.toml
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_native_system_entry/sources/test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.rs
  aptos-move/e2e-move-tests/src/tests/lazy_natives.rs
  aptos-move/e2e-move-tests/src/tests/metadata.rs
  aptos-move/e2e-move-tests/src/tests/upgrade_compatibility.rs
  aptos-move/framework/src/natives/function_info.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/storage/publishing.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/timed_features.rs
  types/src/vm/module_metadata.rs
Due: rust-fmt

Update
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/delegation_pool.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Due: rust-fmt

Fix
  aptos-move/e2e-move-tests/src/tests/mod.rs
Due: rust-fmt

session dapp subaccount through parent account
  aptos-move/framework/aptos-experimental/sources/session_dapp_subaccount.move
  aptos-move/framework/aptos-stdlib/sources/bcs_stream.move
Due: none

[Fix] Fix table info handling. (#16264)
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/table_info_service.rs
  storage/indexer/src/db_v2.rs
Due: rust-fmt

Proto changes
  Cargo.lock
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service-v2/src/historical_data_service.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  ecosystem/indexer-grpc/indexer-grpc-manager/src/metadata_manager.rs
  ecosystem/indexer-grpc/indexer-grpc-manager/src/status_page.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator_v2/file_store_reader.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/status_page/mod.rs
  protos/proto/aptos/transaction/v1/transaction.proto
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.py
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.pyi
  protos/rust/src/pb/aptos.indexer.v1.rs
  protos/rust/src/pb/aptos.internal.fullnode.v1.rs
  protos/rust/src/pb/aptos.remote_executor.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/rust/src/pb/aptos.util.timestamp.rs
  protos/typescript/src/aptos/indexer/v1/filter.ts
  protos/typescript/src/aptos/transaction/v1/transaction.ts
Due: rust-fmt, prettier-fmt

.
  Cargo.lock
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  ecosystem/indexer-grpc/indexer-grpc-data-service/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  protos/proto/aptos/transaction/v1/transaction.proto
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.py
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.pyi
  protos/rust/src/pb/aptos.indexer.v1.rs
  protos/rust/src/pb/aptos.internal.fullnode.v1.rs
  protos/rust/src/pb/aptos.remote_executor.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/rust/src/pb/aptos.util.timestamp.rs
  protos/typescript/src/aptos/indexer/v1/filter.ts
  protos/typescript/src/aptos/transaction/v1/transaction.ts
  storage/aptosdb/src/db/include/aptosdb_reader.rs
Due: rust-fmt, prettier-fmt

[default features] add all fa features to default list
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/aptos_api__tests__transactions_test__test_simulation_failure_with_move_abort_error_rendering.json
  api/src/tests/event_v2_translation_test.rs
  aptos-move/aptos-transaction-simulation/src/account.rs
  aptos-move/aptos-vm/tests/sharded_block_executor.rs
  aptos-move/e2e-move-tests/src/tests/fee_payer.rs
  aptos-move/e2e-move-tests/src/tests/fungible_asset.rs
  aptos-move/e2e-move-tests/src/tests/state_metadata.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_bad_sig_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_code_unverifiable.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_nested_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_non_existing_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_none_existing_module_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_arbitrary_script_execution.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_script_dependency_fails_verification.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_script_transitive_dependency_fails_verification.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_type_tag_dependency_fails_verification.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_type_tag_transitive_dependency_fails_verification.exp
  aptos-move/e2e-tests/src/account_universe.rs
  aptos-move/e2e-tests/src/account_universe/create_account.rs
  aptos-move/e2e-tests/src/account_universe/peer_to_peer.rs
  aptos-move/e2e-tests/src/common_transactions.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/account_universe/peer_to_peer.rs
  aptos-move/e2e-testsuite/src/tests/peer_to_peer.rs
  aptos-move/e2e-testsuite/src/tests/scripts.rs
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.move
  aptos-move/framework/aptos-framework/sources/vesting.move
  execution/executor-benchmark/src/lib.rs
  execution/executor-service/src/tests.rs
  testsuite/forge-cli/src/suites/realistic_environment.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt
