Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

http2 using fetch-h2
  ecosystem/typescript/sdk/examples/typescript/http1/batch_transactions.ts
  ecosystem/typescript/sdk/examples/typescript/http1/index.ts
  ecosystem/typescript/sdk/examples/typescript/http2_fetch-h2/batch_transactions.ts
  ecosystem/typescript/sdk/examples/typescript/http2_fetch-h2/index.ts
  ecosystem/typescript/sdk/examples/typescript/http2_fetch-h2/transaction_batching.ts
  ecosystem/typescript/sdk/examples/typescript/http2_node/batch_transactions.ts
  ecosystem/typescript/sdk/examples/typescript/http2_node/index.ts
Due: prettier-fmt

[api] Fix disabled API messages to be in correct order
  api/src/response.rs
  api/src/state.rs
  api/src/transactions.rs
Due: rust-fmt

Update mainnet and testnet nodes to v1.3.2, devnet to chain ID 48
  developer-docs-site/docs/releases/devnet-release.md
  developer-docs-site/docs/releases/mainnet-release.md
  developer-docs-site/docs/releases/testnet-release.md
Due: none

[move-examples] Use framework-mainnet branch instead of main
  aptos-move/move-examples/hello_prover/Move.toml
  developer-docs-site/docs/guides/move-guides/book/unit-testing.md
Due: none

[forge] Update base image tag for framework upgrade (#7353)
  .github/workflows/docker-build-test.yaml
  aptos-move/aptos-release-builder/src/validate.rs
Due: rust-fmt, prettier-fmt

[Consensus] Dedicated channel for proposal buffering and batch processing
  consensus/src/block_storage/block_store_test.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/liveness/unequivocal_proposer_election.rs
  consensus/src/liveness/unequivocal_proposer_election_test.rs
  consensus/src/network.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_test.rs
Due: rust-fmt

[Peer Monitoring Service] Only return connection metadata for network info requests.
  config/src/config/network_config.rs
  network/peer-monitoring-service/client/src/peer_states/network_info.rs
  network/peer-monitoring-service/client/src/peer_states/peer_state.rs
  network/peer-monitoring-service/client/src/tests/multiple_peers.rs
  network/peer-monitoring-service/client/src/tests/single_peer.rs
  network/peer-monitoring-service/client/src/tests/utils.rs
  network/peer-monitoring-service/server/src/lib.rs
  network/peer-monitoring-service/server/src/tests.rs
  network/peer-monitoring-service/types/src/lib.rs
  network/src/application/metadata.rs
Due: rust-fmt

[Peer Monitoring Service] Add request jitter to reduce bursts.
  config/src/config/network_config.rs
  network/peer-monitoring-service/client/Cargo.toml
  network/peer-monitoring-service/client/src/lib.rs
  network/peer-monitoring-service/client/src/peer_states/mod.rs
  network/peer-monitoring-service/client/src/peer_states/peer_state.rs
Due: rust-fmt

[Consensus] Dedicated channel for proposal buffering and batch processing
  consensus/src/block_storage/block_store_test.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/liveness/unequivocal_proposer_election.rs
  consensus/src/liveness/unequivocal_proposer_election_test.rs
  consensus/src/network.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_test.rs
Due: rust-fmt

Add PSS resources (#7331)
  terraform/aptos-node-testnet/aws/main.tf
  terraform/aptos-node-testnet/aws/variables.tf
  terraform/aptos-node/aws/kubernetes.tf
  terraform/aptos-node/aws/security.tf
  terraform/aptos-node/aws/variables.tf
  terraform/aptos-node/gcp/security.tf
  terraform/aptos-node/gcp/variables.tf
  terraform/fullnode/aws/security.tf
  terraform/fullnode/aws/variables.tf
  terraform/fullnode/gcp/main.tf
  terraform/fullnode/gcp/security.tf
  terraform/fullnode/gcp/variables.tf
  terraform/modules/eks/kubernetes.tf
  terraform/scripts/migrate_cluster_psp_to_pss.sh
Due: none

Auto-detect Kubernetes version (#7381)
  terraform/aptos-node-testnet/aws/main.tf
  terraform/aptos-node-testnet/aws/variables.tf
  terraform/aptos-node/aws/security.tf
  terraform/aptos-node/gcp/security.tf
  terraform/aptos-node/gcp/variables.tf
  terraform/fullnode/aws/security.tf
  terraform/fullnode/aws/variables.tf
  terraform/fullnode/gcp/security.tf
  terraform/fullnode/gcp/variables.tf
Due: none

Add framework-mainnet for Aptos Framework Release commit hash
  developer-docs-site/docs/releases/devnet-release.md
Due: none

Add ANS integration doc to nav and announce with other recent updates (#7415)
  developer-docs-site/docs/concepts/accounts.md
  developer-docs-site/docs/guides/aptos-name-service-connector.md
  developer-docs-site/docs/guides/index.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/sidebars.js
Due: prettier-fmt

[Pre-commit] Remove rust pre-commits
  .pre-commit-config.yaml
Due: prettier-fmt

Continue building out docs best practices in Aptos Style Guide
  developer-docs-site/docs/community/aptos-style.md
Due: none

remove old db tools
  docker/experimental/build-tools.sh
  docker/experimental/tools.Dockerfile
  docker/experimental/validator-testing.Dockerfile
  docker/experimental/validator.Dockerfile
  storage/backup/backup-cli/src/bin/db-backup-verify.rs
  storage/backup/backup-cli/src/bin/db-backup.rs
  storage/backup/backup-cli/src/bin/db-restore.rs
  storage/backup/backup-cli/src/bin/replay-verify.rs
Due: rust-fmt

Rename TxnManager to PayloadClient
  consensus/src/liveness/proposal_generator.rs
Due: rust-fmt

Rename TxnManager to PayloadClient
  execution/executor-types/src/lib.rs
Due: rust-fmt

Rename TxnManager to PayloadClient
  consensus/src/test_utils/mock_payload_manager.rs
Due: rust-fmt

Add code comments for PayloadClient
  consensus/src/state_replication.rs
Due: rust-fmt

Regenerate vesting.md.
  aptos-move/framework/aptos-framework/doc/vesting.md
Due: none

Regenerate account.md.
  aptos-move/framework/aptos-framework/doc/account.md
Due: none

[move-prover] loop unrolling
  third_party/move/move-model/src/pragmas.rs
  third_party/move/move-prover/bytecode/src/function_data_builder.rs
  third_party/move/move-prover/bytecode/src/function_target.rs
  third_party/move/move-prover/bytecode/src/loop_analysis.rs
  third_party/move/move-prover/bytecode/src/stackless_bytecode.rs
  third_party/move/move-prover/bytecode/src/stackless_bytecode_generator.rs
  third_party/move/move-prover/tests/sources/functional/loop_unroll.exp
  third_party/move/move-prover/tests/sources/functional/loop_unroll.move
Due: rust-fmt

[move-prover] add the unroll pragma
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/pragmas.rs
  third_party/move/move-prover/boogie-backend/src/bytecode_translator.rs
  third_party/move/move-prover/bytecode/src/loop_analysis.rs
  third_party/move/move-prover/tests/sources/functional/loop_unroll.exp
  third_party/move/move-prover/tests/sources/functional/loop_unroll.move
Due: rust-fmt

try network configs
  config/src/config/network_config.rs
Due: rust-fmt

try network configs (#7421)
  config/src/config/network_config.rs
Due: rust-fmt

[third_party] Update copybara script and README
  third_party/README.md
  third_party/copy.bara.sky
Due: none

Replace managed_fungible_asset::set_ungated_transfer with explicit freeze/unfreeze
  aptos-move/move-examples/fungible_asset/sources/managed_fungible_asset.move
Due: none

Switch to deterministic object addresses for primary wallwts
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/doc/multisig_account.md
  aptos-move/framework/aptos-framework/doc/object.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/primary_wallet.md
  aptos-move/framework/aptos-framework/sources/create_signer.move
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-framework/sources/fungible_store.move
  aptos-move/framework/aptos-framework/sources/fungible_store.spec.move
  aptos-move/framework/aptos-framework/sources/managed_fungible_metadata.spec.move
  aptos-move/framework/aptos-framework/sources/object.move
  aptos-move/framework/aptos-framework/sources/primary_wallet.move
  aptos-move/move-examples/fungible_asset/sources/coin.move
  aptos-move/move-examples/fungible_asset/sources/managed_fungible_metadata.move
Due: none
