Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[cli] Add Windows ARM to CLI build CI
  .github/workflows/cli-release.yaml
  .github/workflows/windows-build.yaml
  scripts/cli/build_cli_release.ps1
Due: prettier-fmt

Update README for Movement branding and links
  README.md
Due: none

edits
  README.md
Due: none

add banner
  .assets/movement.png
  .assets/movement_logo.png
  README.md
Due: none

enable capture option
  aptos-move/aptos-release-builder/data/enable-capture-option.yaml
Due: prettier-fmt

Set RPC entry point to 0.0.0.0 to be compatible with docker network (#271)
  config/src/config/test_data/public_full_node_mainnet.yaml
  config/src/config/test_data/public_full_node_testnet.yaml
Due: prettier-fmt

address comments
  third_party/move/move-vm/runtime/src/interpreter.rs
Due: rust-fmt

[vm] Stack size checks for native calls
  third_party/move/move-vm/runtime/src/interpreter.rs
Due: rust-fmt

address comments pt2
  third_party/move/move-vm/runtime/src/interpreter.rs
Due: rust-fmt

[vm] Stack size checks for native calls (#18475)
  third_party/move/move-vm/runtime/src/interpreter.rs
Due: rust-fmt

Register Sui DAA
  aptos-move/aptos-release-builder/data/proposals/aip_124_registration.move
  aptos-move/aptos-release-builder/data/register_sui_derivable_account.yaml
Due: prettier-fmt

Added ell to PVSS tables, also changed some usizes to u8s
  crates/aptos-crypto/benches/print-pvss-markdown-table.py
  crates/aptos-crypto/src/utils.rs
  crates/aptos-dkg/benches/bsgs.rs
  crates/aptos-dkg/benches/pvss.rs
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/benches/weighted_vuf.rs
  crates/aptos-dkg/src/dlog/bsgs.rs
  crates/aptos-dkg/src/dlog/table.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/public_parameters.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcript.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcriptv2.rs
  crates/aptos-dkg/src/pvss/das/public_parameters.rs
  crates/aptos-dkg/src/pvss/test_utils.rs
  crates/aptos-dkg/src/pvss/traits/transcript.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/utils/test_utils.rs
  crates/aptos-dkg/tests/dkg.rs
  crates/aptos-dkg/tests/pvss.rs
  crates/aptos-dkg/tests/range_proof.rs
  crates/aptos-dkg/tests/weighted_vuf.rs
Due: rust-fmt

WIP
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/framework/aptos-framework/sources/fast_native_computations.move
  aptos-move/framework/src/natives/fast_native_computations.rs
  aptos-move/framework/src/natives/mod.rs
Due: rust-fmt

WIP2: add in experimental
  aptos-move/aptos-vm-environment/src/natives.rs
  aptos-move/framework/aptos-experimental/sources/fast_native_computations.move
  aptos-move/framework/src/natives/mod.rs
Due: rust-fmt

First draft
  aptos-move/framework/aptos-experimental/doc/fast_native_computations.md
  aptos-move/framework/aptos-experimental/doc/overview.md
  aptos-move/framework/aptos-experimental/sources/fast_native_computations.move
  aptos-move/framework/src/natives/fast_native_computations.rs
Due: rust-fmt

Call native func without any indirection
  aptos-move/framework/aptos-experimental/doc/fast_native_computations.md
  aptos-move/framework/aptos-experimental/sources/fast_native_computations.move
Due: none

Add bulk order rejection event
  aptos-move/framework/aptos-experimental/sources/trading/aptos-trading/bulk_order_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Due: none

Remove unnecessary duplicate call in take_ready_price_based_orders
  aptos-move/framework/aptos-experimental/sources/trading/order_book/pending_order_book_index.move
Due: none

Fix parameter ordering in emit_event_for_bulk_order_modified
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
Due: none

Fix documentation to match actual behavior of is_order_valid
  aptos-move/framework/aptos-experimental/sources/trading/market/dead_mans_switch_tracker.move
Due: none

Document caller responsibility for address validation in keep_alive
  aptos-move/framework/aptos-experimental/sources/trading/market/dead_mans_switch_operations.move
Due: none

generate docs
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_types.md
  aptos-move/framework/aptos-experimental/doc/dead_mans_switch_operations.md
  aptos-move/framework/aptos-experimental/doc/dead_mans_switch_tracker.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/pending_order_book_index.md
Due: none

Add event emission for set_min_keep_alive_time_secs
  aptos-move/framework/aptos-experimental/sources/trading/market/dead_mans_switch_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
Due: none

Fix dead man's switch events to include market identification
  aptos-move/framework/aptos-experimental/sources/trading/market/dead_mans_switch_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/dead_mans_switch_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
Due: none

Bulk order rejection event and address various security feedback (#18477)
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_types.md
  aptos-move/framework/aptos-experimental/doc/dead_mans_switch_operations.md
  aptos-move/framework/aptos-experimental/doc/dead_mans_switch_tracker.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/pending_order_book_index.md
  aptos-move/framework/aptos-experimental/sources/trading/aptos-trading/bulk_order_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/dead_mans_switch_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/dead_mans_switch_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/pending_order_book_index.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Due: none

Update the implmentation of compute_position_contribution_internal
  aptos-move/framework/aptos-experimental/doc/fast_native_computations.md
  aptos-move/framework/aptos-experimental/sources/fast_native_computations.move
  aptos-move/framework/src/natives/fast_native_computations.rs
Due: rust-fmt

Move cancel_at_price_level from bulk_order_types to bulk_order_utils
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Due: none

[cli] Fix MOVE_VM_STEP/MOVE_VM_TRACE for aptos move replay
  crates/aptos/src/common/local_simulation.rs
Due: rust-fmt

[cli] Fix MOVE_VM_STEP/MOVE_VM_TRACE for aptos move replay (#18486)
  crates/aptos/src/common/local_simulation.rs
Due: rust-fmt

[prover] Support tuple results in spec functions
  third_party/move/move-prover/boogie-backend/src/boogie_helpers.rs
  third_party/move/move-prover/boogie-backend/src/lib.rs
  third_party/move/move-prover/boogie-backend/src/prelude/prelude.bpl
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
  third_party/move/move-prover/bytecode-pipeline/src/mono_analysis.rs
  third_party/move/move-prover/tests/sources/functional/loops_with_memory_ops.exp
  third_party/move/move-prover/tests/sources/functional/restrictions.exp
  third_party/move/move-prover/tests/sources/functional/restrictions.move
  third_party/move/move-prover/tests/sources/functional/spec_fun_tuple.move
  third_party/move/move-prover/tests/sources/functional/spec_fun_tuple_errors.exp
  third_party/move/move-prover/tests/sources/functional/spec_fun_tuple_errors.move
Due: rust-fmt

[consensus] Add Prefix Consensus primitive implementation
  Cargo.lock
  Cargo.toml
  consensus/prefix-consensus/Cargo.toml
  consensus/prefix-consensus/src/certify.rs
  consensus/prefix-consensus/src/lib.rs
  consensus/prefix-consensus/src/protocol.rs
  consensus/prefix-consensus/src/types.rs
  consensus/prefix-consensus/src/utils.rs
  consensus/prefix-consensus/src/verification.rs
  project_context.md
Due: rust-fmt, rust-cargo-sort

[docs] Update project_context.md with git history
  project_context.md
Due: none

adding aptos-trading
  aptos-move/aptos-e2e-comparison-testing/src/lib.rs
  aptos-move/aptos-release-builder/src/components/framework.rs
  aptos-move/framework/aptos-experimental/Move.toml
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/bulk_order_utils.md
  aptos-move/framework/aptos-experimental/doc/dead_mans_switch_operations.md
  aptos-move/framework/aptos-experimental/doc/market_bulk_order.md
  aptos-move/framework/aptos-experimental/doc/market_clearinghouse_order_info.md
  aptos-move/framework/aptos-experimental/doc/market_types.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_operations.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/overview.md
  aptos-move/framework/aptos-experimental/doc/pending_order_book_index.md
  aptos-move/framework/aptos-experimental/doc/pre_cancellation_tracker.md
  aptos-move/framework/aptos-experimental/doc/price_time_index.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-trading/Move.toml
  aptos-move/framework/aptos-trading/doc/bulk_order_types.md
  aptos-move/framework/aptos-trading/doc/bulk_order_types_tests.md
  aptos-move/framework/aptos-trading/doc/order_book_types.md
  aptos-move/framework/aptos-trading/doc/order_match_types.md
  aptos-move/framework/aptos-trading/doc/overview.md
  aptos-move/framework/aptos-trading/doc/single_order_types.md
  aptos-move/framework/aptos-trading/doc_template/overview.md
  aptos-move/framework/aptos-trading/doc_template/references.md
  aptos-move/framework/aptos-trading/sources/orders/bulk_order_types.move
  aptos-move/framework/aptos-trading/sources/orders/bulk_order_types_tests.move
  aptos-move/framework/aptos-trading/sources/orders/order_book_types.move
  aptos-move/framework/aptos-trading/sources/orders/order_match_types.move
  aptos-move/framework/aptos-trading/sources/orders/single_order_types.move
  aptos-move/framework/cached-packages/build.rs
  aptos-move/framework/move-stdlib/boogie.bpl
  aptos-move/framework/src/aptos.rs
  aptos-move/framework/tests/move_unit_test.rs
  crates/aptos-batch-encryption/Cargo.toml
  third_party/move/tools/move-package/src/source_package/std_lib.rs
Due: rust-fmt

auto generate prebuilt workloads by cargo
  Cargo.lock
  crates/transaction-workloads-lib/Cargo.toml
  crates/transaction-workloads-lib/build.rs
  crates/transaction-workloads-lib/prebuilt.mpb
  crates/transaction-workloads-lib/src/prebuilt_packages.rs
  testsuite/benchmark-workloads/generate.py
Due: rust-fmt

making it simpler to use it externally as well
  Cargo.lock
  Cargo.toml
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/publishing/prebuild_packages.rs
  crates/transaction-workloads-lib/build.rs
  crates/transaction-workloads-lib/src/prebuilt_packages.rs
  testsuite/benchmark-workloads/generate.py
  testsuite/benchmark-workloads/package-generator/Cargo.toml
  testsuite/benchmark-workloads/package-generator/src/main.rs
Due: rust-fmt, rust-cargo-sort

release.yaml for v1.40.1 testnet release
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

.
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

Fix the lint issue related to prometheus v0.13.4 in etna
  crates/aptos-metrics-core/src/const_metric.rs
Due: rust-fmt

[prover] Add developer documentation for function values verification
  crates/aptos-batch-encryption/Cargo.toml
  third_party/move/move-prover/doc/dev/fun_values_note.md
Due: none
