Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[move dependencies] Relax metering during tests
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

pull bls12381 stuff out into algebra_bls12381.move
  aptos-move/framework/aptos-stdlib/doc/algebra.md
  aptos-move/framework/aptos-stdlib/doc/algebra_bls12381.md
  aptos-move/framework/aptos-stdlib/doc/overview.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra_bls12381.move
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
Due: rust-fmt

oops, these flags should be disabled for now (#7068)
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/vm-genesis/src/lib.rs
Due: rust-fmt, prettier-fmt

bring back bls12381 (multi-)pairing
  aptos-move/framework/aptos-stdlib/doc/algebra.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra_bls12381.move
  aptos-move/framework/src/natives/cryptography/algebra/gas.rs
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
Due: rust-fmt

comments
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra_bls12381.move
Due: none

test_multi_pairing_should_abort_when_sizes_mismatch
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra_bls12381.move
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
Due: rust-fmt

initial code
  Cargo.lock
  Cargo.toml
  config/src/config/dag_config.rs
  config/src/config/mod.rs
  consensus/Cargo.toml
  consensus/consensus-types/src/lib.rs
  consensus/consensus-types/src/node.rs
  consensus/src/dag/anchor_election.rs
  consensus/src/dag/bullshark.rs
  consensus/src/dag/dag.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/reliable_broadcast.rs
  consensus/src/dag/types.rs
  consensus/src/lib.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/payload_client.rs
  consensus/src/round_manager.rs
  consensus/src/state_replication.rs
  types/src/proptest_types.rs
  types/src/validator_verifier.rs
Due: rust-fmt, rust-cargo-sort

[Consensus] Add monitoring for main loops
  consensus/src/epoch_manager.rs
  consensus/src/experimental/buffer_manager.rs
  consensus/src/network.rs
Due: rust-fmt

[smart_vec] vector of big_vec is not necessary (#6919)
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.move
Due: none

update serialization format test cases
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra_bls12381.move
Due: none

lalala
  consensus/src/quorum_store/batch_generator.rs
Due: rust-fmt

[QuorumStore] fix insert/expire issue
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
Due: rust-fmt

ark h2c gas formula (coefficients TBD)
  aptos-move/framework/src/natives/cryptography/algebra/gas.rs
  aptos-move/framework/src/natives/mod.rs
Due: rust-fmt

gas formula tidy up
  aptos-move/framework/src/natives/cryptography/algebra/gas.rs
  aptos-move/framework/src/natives/mod.rs
Due: rust-fmt

hash-to-structure suites no longer represented by structs
  aptos-move/framework/aptos-stdlib/doc/algebra.md
  aptos-move/framework/aptos-stdlib/doc/algebra_bls12381.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra_bls12381.move
  aptos-move/framework/src/natives/cryptography/algebra/gas.rs
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
Due: rust-fmt

(multi-)scalar_mul API update
  aptos-move/framework/aptos-stdlib/doc/algebra.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra_bls12381.move
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
Due: rust-fmt

Add fixed point 64
  aptos-move/framework/aptos-stdlib/doc/fixed_point64.md
  aptos-move/framework/aptos-stdlib/doc/overview.md
  aptos-move/framework/aptos-stdlib/sources/fixed_point64.move
  aptos-move/framework/aptos-stdlib/tests/fixedpoint64_tests.move
Due: none

update e2e dapp tutorial
  aptos-move/move-examples/my_first_dapp/client/package-lock.json
  aptos-move/move-examples/my_first_dapp/client/package.json
  aptos-move/move-examples/my_first_dapp/client/src/App.tsx
  aptos-move/move-examples/my_first_dapp/move/Move.toml
  aptos-move/move-examples/my_first_dapp/move/sources/todolist.move
  developer-docs-site/docs/tutorials/build-e2e-dapp/4-fetch-data-from-chain.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/5-submit-data-to-chain.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/6-handle-tasks.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/index.md
Due: prettier-fmt

update e2e dapp tutorial
  aptos-move/move-examples/my_first_dapp/client/src/App.tsx
Due: prettier-fmt

add optimistic preexecution and commit to blockstm
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/mvhashmap/src/lib.rs
Due: rust-fmt

pass estimated dependencies
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/mvhashmap/src/lib.rs
Due: rust-fmt

[Consensus] Add monitoring for main loops (#7072)
  consensus/src/epoch_manager.rs
  consensus/src/experimental/buffer_manager.rs
  consensus/src/network.rs
Due: rust-fmt

[consensus] dispatch verify message into executor
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/experimental/tests/buffer_manager_tests.rs
  consensus/src/network_tests.rs
  consensus/src/round_manager.rs
  consensus/src/twins/twins_node.rs
  crates/channel/src/aptos_channel.rs
Due: rust-fmt

[Quorum Store] fix backpressure only checking on commits
  consensus/src/quorum_store/proof_manager.rs
Due: rust-fmt

tiny refactor
  consensus/src/quorum_store/proof_manager.rs
Due: rust-fmt

[Quorum Store] increase min interval between non-empty pulls, make backpressure config a multiple of validators
  config/src/config/quorum_store_config.rs
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/quorum_store_builder.rs
Due: rust-fmt

fix
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/src/lib.rs
Due: rust-fmt

[cli] Add custom user agent for CLI
  crates/aptos-rest-client/src/lib.rs
  crates/aptos/src/common/types.rs
Due: rust-fmt

Update crates/aptos/src/common/types.rs
  crates/aptos/src/common/types.rs
Due: rust-fmt

prints time
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

fix insecure rand
  Cargo.toml
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra_bls12381.move
Due: rust-cargo-sort

handle cases when input sizes not matching for multi-* APIs
  aptos-move/framework/aptos-stdlib/doc/algebra.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra_bls12381.move
  aptos-move/framework/src/natives/cryptography/algebra/mod.rs
Due: rust-fmt

Remove pull_request from docker-build-test.yaml (#7066)
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

[move dependencies] Relax metering during tests (#7063)
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

[Config] Add config for API runtime workers.
  Cargo.lock
  api/Cargo.toml
  api/src/runtime.rs
  config/src/config/api_config.rs
Due: rust-fmt
