Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[api/ts-sdk] Regenerate files for new error codes
  api/doc/spec.json
  api/doc/spec.yaml
  ecosystem/typescript/sdk/src/generated/models/AptosError.ts
  ecosystem/typescript/sdk/src/generated/models/AptosErrorCode.ts
  ecosystem/typescript/sdk/src/generated/schemas/$AptosError.ts
  ecosystem/typescript/sdk/src/generated/services/TablesService.ts
Due: prettier-fmt

[api] Add error codes to page operations
  api/src/page.rs
Due: rust-fmt

[api] Remove ledger version from error response
  api/src/response.rs
  api/types/src/error.rs
Due: rust-fmt

[api] Add documentation
  api/types/src/error.rs
Due: rust-fmt

[api] Ensure Error codes are required on all API errors
  api/src/context.rs
  api/src/error_converter.rs
  api/src/response.rs
  api/types/src/error.rs
Due: rust-fmt

[api] Move failpoint errors to having error codes
  api/src/failpoint.rs
Due: rust-fmt

[api] Remove generated error from str
  api/src/response.rs
  api/src/transactions.rs
Due: rust-fmt

[api] Add VM status to submit transaction errors
  api/src/response.rs
  api/src/transactions.rs
  api/types/src/error.rs
Due: rust-fmt

[api] Standardize not found API errors
  api/src/accounts.rs
  api/src/context.rs
  api/src/response.rs
  api/src/state.rs
  api/types/src/error.rs
Due: rust-fmt

[api] Add error codes to transaction APIs
  api/src/blocks.rs
  api/src/context.rs
  api/src/response.rs
  api/src/transactions.rs
  api/types/src/error.rs
  fh-stream/src/runtime.rs
  mempool/src/core_mempool/transaction_store.rs
Due: rust-fmt

[api] Move all Accounts API errors to have error codes
  api/src/accounts.rs
  api/src/context.rs
  api/src/response.rs
  api/types/src/error.rs
Due: rust-fmt

[api] Don't serialize vm error code if not present
  api/types/src/error.rs
Due: rust-fmt

[api] Add service unavailable code
  api/src/response.rs
Due: rust-fmt

[api] Move basic API to new error system
  api/src/basic.rs
  api/src/response.rs
  api/types/src/error.rs
Due: rust-fmt

[api] Remove unused param file
  api/src/param.rs
Due: rust-fmt

[api] Add error codes to all errors in block APIs
  api/src/blocks.rs
  api/src/context.rs
  api/src/response.rs
  api/types/src/error.rs
Due: rust-fmt

[api] Ensure events APIs always have error codes
  api/src/events.rs
  api/src/page.rs
Due: rust-fmt

[api] Update get ledger info error conversion
  api/src/context.rs
Due: rust-fmt

[api] Reorder API error codes and add docs
  api/types/src/error.rs
Due: rust-fmt

[transaction] Allow for checking a signed transaction without consuming it
  api/src/transactions.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-testsuite/src/tests/rotate_key.rs
  types/src/transaction/mod.rs
  types/src/unit_tests/transaction_test.rs
Due: rust-fmt

[api] Change all state APIs to use error codes
  api/src/state.rs
  api/types/src/error.rs
Due: rust-fmt

[api] Update more error codes in transaction APIs
  api/src/transactions.rs
  api/types/src/error.rs
Due: rust-fmt

[helm][aptos-node] option to pass in entire NodeConfig
  terraform/helm/aptos-node/files/configs/fullnode.yaml
  terraform/helm/aptos-node/files/configs/validator.yaml
  terraform/helm/aptos-node/templates/NOTES.txt
  terraform/helm/aptos-node/templates/configmap.yaml
  terraform/helm/aptos-node/values.yaml
Due: prettier-fmt

fix data stream
  state-sync/state-sync-v2/data-streaming-service/src/streaming_service.rs
Due: rust-fmt

cicd: fix humio link
  testsuite/run_forge.sh
Due: none

Support the custom boogie file
  Cargo.lock
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator.spec.move
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.spec.move
  aptos-move/framework/aptos-framework/sources/state_storage.spec.move
  aptos-move/framework/aptos-framework/sources/timestamp.spec.move
  aptos-move/framework/aptos-stdlib/Move.toml
  aptos-move/framework/aptos-stdlib/sources/capability.move
  aptos-move/framework/aptos-stdlib/sources/capability.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/bls12381.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/bls12381.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ed25519.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/secp256k1.spec.move
  aptos-move/framework/aptos-stdlib/sources/event.move
  aptos-move/framework/aptos-stdlib/sources/event.spec.move
  aptos-move/framework/aptos-stdlib/sources/hash.move
  aptos-move/framework/aptos-stdlib/sources/hash.spec.move
  aptos-move/framework/aptos-stdlib/sources/type_info.move
  aptos-move/framework/aptos-stdlib/sources/type_info.spec.move
  aptos-move/framework/move-stdlib/Move.toml
  aptos-move/move-deps/Cargo.toml
  aptos-move/move-deps/src/lib.rs
  crates/aptos/src/move_tool/aptos-natives.bpl
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

Change FullNode and Validator storage size.
  terraform/helm/aptos-node/values.yaml
Due: prettier-fmt

[docs] cleanup README and add coverage badge (#2936)
  README.md
Due: none

[docs] fixup python demo
  developer-docs-site/static/examples/python/first_coin.py
  developer-docs-site/static/examples/python/first_nft.py
  developer-docs-site/static/examples/python/first_transaction.py
  developer-docs-site/static/examples/python/hello_blockchain.py
Due: none

[docs] update typescript
  developer-docs-site/static/examples/typescript/first_coin.ts
  developer-docs-site/static/examples/typescript/first_nft.ts
  developer-docs-site/static/examples/typescript/first_transaction.ts
  developer-docs-site/static/examples/typescript/hello_blockchain.ts
  developer-docs-site/static/examples/typescript/package.json
Due: prettier-fmt

[docs] fix up rust
  developer-docs-site/static/examples/rust/first_coin/src/lib.rs
  developer-docs-site/static/examples/rust/first_coin/src/main.rs
  developer-docs-site/static/examples/rust/first_transaction/src/lib.rs
  developer-docs-site/static/examples/rust/first_transaction/src/main.rs
  developer-docs-site/static/examples/rust/hello_blockchain/src/main.rs
Due: rust-fmt

[governance upgrade] Proposal script generator for package upgrade
  Cargo.lock
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/package_builder.rs
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/e2e-move-tests/tests/common/mod.rs
  aptos-move/e2e-move-tests/tests/error_map.rs
  aptos-move/e2e-move-tests/tests/generate_upgrade_script.rs
  aptos-move/e2e-move-tests/tests/init_module.rs
  aptos-move/e2e-move-tests/tests/max_loop_depth.rs
  aptos-move/e2e-move-tests/tests/string_args.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/src/release_bundle.rs
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

[api] Add LedgerInfo headers to errors
  api/src/accounts.rs
  api/src/basic.rs
  api/src/blocks.rs
  api/src/context.rs
  api/src/events.rs
  api/src/failpoint.rs
  api/src/page.rs
  api/src/response.rs
  api/src/state.rs
  api/src/transactions.rs
Due: rust-fmt

[api] Regenerate spec with headers in errors
  api/doc/spec.json
  api/doc/spec.yaml
Due: prettier-fmt

[api] Delete unused goldens
  api/goldens/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/aptos_api__tests__blocks_test__test_get_genesis_block_by_version.json
  api/goldens/aptos_api__tests__blocks_test__test_get_unknown_block_by_version.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
Due: none
