Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Re-organizing files and imports
  ecosystem/typescript/sdk_v2/src/bcs/move-types/primitives.ts
  ecosystem/typescript/sdk_v2/src/bcs/move-types/structs.ts
  ecosystem/typescript/sdk_v2/tests/unit/bcs-helper.test.ts
Due: prettier-fmt

Removing undefined value in MoveOption and just converting it to using an internal private vector value
  ecosystem/typescript/sdk_v2/src/bcs/move-types/structs.ts
Due: prettier-fmt

Updating boolean error message
  ecosystem/typescript/sdk_v2/src/bcs/serializer.ts
  ecosystem/typescript/sdk_v2/tests/unit/serializer.test.ts
Due: prettier-fmt

refactor: rename variables to improve code readability
  aptos-move/framework/aptos-framework/doc/delegation_pool.md
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

fmt
  ecosystem/typescript/sdk_v2/src/internal/transaction.ts
Due: prettier-fmt

Add add faucet client and fundaccount query
  ecosystem/typescript/sdk_v2/src/api/faucet.ts
  ecosystem/typescript/sdk_v2/src/internal/faucet.ts
Due: prettier-fmt

[TS SDK v2] Add serializable classes that represent all entry function argument types (#9956)
  ecosystem/typescript/sdk_v2/src/bcs/deserializer.ts
  ecosystem/typescript/sdk_v2/src/bcs/move-types/primitives.ts
  ecosystem/typescript/sdk_v2/src/bcs/move-types/structs.ts
  ecosystem/typescript/sdk_v2/src/bcs/serializer.ts
  ecosystem/typescript/sdk_v2/src/crypto/multi_ed25519.ts
  ecosystem/typescript/sdk_v2/src/index.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/typeTag.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/typeTagParser.ts
  ecosystem/typescript/sdk_v2/tests/unit/bcs-helper.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/serializer.test.ts
Due: prettier-fmt

Upgrade serde and fix generate-format tests accordingly
  Cargo.lock
  Cargo.toml
  config/src/config/persistable_config.rs
  crates/aptos-bitvec/Cargo.toml
  crates/aptos-crypto/Cargo.toml
  crates/aptos-protos/Cargo.toml
  testsuite/generate-format/Cargo.toml
  testsuite/generate-format/src/compute.rs
Due: rust-fmt, rust-cargo-sort

36 MB/s
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

solve timeout
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/sources/stake.spec.move
Due: none

update
  ecosystem/typescript/sdk_v2/src/internal/faucet.ts
Due: prettier-fmt

solve timeout (#10425)
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/sources/stake.spec.move
Due: none

use hexinput
  ecosystem/typescript/sdk_v2/src/api/transaction.ts
  ecosystem/typescript/sdk_v2/src/internal/transaction.ts
Due: prettier-fmt

[Forge] Increase the TPS threshold for land blocking
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[SDKv2] Add secp256k1 transaction authenticator (#10411)
  ecosystem/typescript/sdk_v2/src/transactions/authenticator/transaction.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
Due: prettier-fmt

[Forge] Increase the TPS threshold for land blocking (#10427)
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

final comments, adjusting tests
  api/src/transactions.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/resource_group_adapter.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/block-executor/src/view.rs
  experimental/execution/ptx-executor/src/finalizer.rs
  experimental/execution/ptx-executor/src/runner.rs
Due: rust-fmt

New adapter design - addressing Zekun's comments
  Cargo.lock
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/resource_group_adapter.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
  aptos-move/aptos-vm/src/storage_adapter/mod.rs
  aptos-move/block-executor/src/task.rs
Due: rust-fmt

[Adapter] Resource Group Resolver behavior on reads
  Cargo.lock
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/lib.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/resource_group_adapter.rs
  aptos-move/aptos-vm-types/src/tests/mod.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/view.rs
Due: rust-fmt

Key to GroupKey, Tag to ResourceTag
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/resource_group_adapter.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/view.rs
Due: rust-fmt

[Adapter] Resource Group resolution on reads (#10332)
  Cargo.lock
  api/src/transactions.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/lib.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/resource_group_adapter.rs
  aptos-move/aptos-vm-types/src/tests/mod.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
  aptos-move/aptos-vm/src/storage_adapter/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/view.rs
  experimental/execution/ptx-executor/src/finalizer.rs
  experimental/execution/ptx-executor/src/runner.rs
Due: rust-fmt

Some clean up from previous secp256k1 changes
  ecosystem/typescript/sdk_v2/src/core/account.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
Due: prettier-fmt

use array string
  ecosystem/typescript/sdk_v2/src/api/faucet.ts
  ecosystem/typescript/sdk_v2/src/internal/faucet.ts
Due: prettier-fmt

[aptos-vm] enable automatic creation of sponsored accounts
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/system_module_names.rs
  aptos-move/e2e-move-tests/src/tests/fee_payer.rs
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

Update ecosystem/typescript/sdk_v2/src/internal/transaction.ts
  ecosystem/typescript/sdk_v2/src/internal/transaction.ts
Due: prettier-fmt

Add transfer ref example
  aptos-move/move-examples/token_objects/ref_examples/Move.toml
  aptos-move/move-examples/token_objects/ref_examples/README.md
  aptos-move/move-examples/token_objects/ref_examples/sources/transfer_example.move
Due: none

fix SerializeKey/DeserializeKey macros to work for generic structs (round 2)
  crates/aptos-crypto-derive/src/lib.rs
Due: rust-fmt

Update 6-handle-tasks.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/6-handle-tasks.md
Due: none

[small][Docs]Update 6-handle-tasks.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/6-handle-tasks.md
Due: none

[Docs][small] Updated e2e dapp tutorial's Docs
  developer-docs-site/docs/tutorials/build-e2e-dapp/5-submit-data-to-chain.md
Due: none

[Docs][small] Updated e2e dapp tutorial's Docs
  developer-docs-site/docs/tutorials/build-e2e-dapp/6-handle-tasks.md
Due: none

Hack multiplexing...
  network/netcore/src/transport/quic.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[docker] Set image hash to multiplatform ones (#10394)
  docker/builder/debian-base.Dockerfile
  docker/builder/docker-bake-rust-all.hcl
  scripts/update_docker_images.py
Due: none

All sections of the tutorial are complete, e2e test in e2e-move-tests/mint_nft_v2.rs are working with token v2 objects
  aptos-move/e2e-move-tests/src/tests/mint_nft_v2.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/move-examples/mint_nft_v2/1-Create-NFT/Move.toml
  aptos-move/move-examples/mint_nft_v2/1-Create-NFT/sources/create_nft.move
  aptos-move/move-examples/mint_nft_v2/2-Using-Resource-Account/Move.toml
  aptos-move/move-examples/mint_nft_v2/2-Using-Resource-Account/sources/create_nft_with_resource_account.move
  aptos-move/move-examples/mint_nft_v2/3-Adding-Admin/Move.toml
  aptos-move/move-examples/mint_nft_v2/3-Adding-Admin/sources/create_nft_with_resource_and_admin_accounts.move
  aptos-move/move-examples/mint_nft_v2/4-Getting-Production-Ready/Move.toml
  aptos-move/move-examples/mint_nft_v2/4-Getting-Production-Ready/output.key
  aptos-move/move-examples/mint_nft_v2/4-Getting-Production-Ready/output.key.pub
  aptos-move/move-examples/mint_nft_v2/4-Getting-Production-Ready/sources/create_nft_getting_production_ready.move
  aptos-move/move-examples/mint_nft_v2/README.md
Due: rust-fmt

Committing name changes to refactor soon
  aptos-move/move-examples/mint_nft_v2/1-Create-NFT/sources/create_nft.move
  aptos-move/move-examples/no_code_mint/1-Create-NFT/Move.toml
  aptos-move/move-examples/no_code_mint/1-Create-NFT/sources/create_nft.move
  aptos-move/move-examples/no_code_mint/2-Using-Resource-Account/Move.toml
  aptos-move/move-examples/no_code_mint/2-Using-Resource-Account/sources/create_nft_with_resource_account.move
  aptos-move/move-examples/no_code_mint/3-Adding-Admin/Move.toml
  aptos-move/move-examples/no_code_mint/3-Adding-Admin/sources/create_nft_with_resource_and_admin_accounts.move
  aptos-move/move-examples/no_code_mint/4-Getting-Production-Ready/Move.toml
  aptos-move/move-examples/no_code_mint/4-Getting-Production-Ready/output.key
  aptos-move/move-examples/no_code_mint/4-Getting-Production-Ready/output.key.pub
  aptos-move/move-examples/no_code_mint/4-Getting-Production-Ready/sources/create_nft_getting_production_ready.move
  aptos-move/move-examples/no_code_mint/README.md
  developer-docs-site/docs/guides/nfts/mint-nft-cli.md
Due: none

Interim commit, finished parts 1 and 2 of the tutorial, with 3 half finished.
  aptos-move/move-examples/no_code_mint/1-Create-NFT/Move.toml
  aptos-move/move-examples/no_code_mint/1-Create-NFT/sources/create_nft.move
  aptos-move/move-examples/no_code_mint/2-Object-as-Creator/Move.toml
  aptos-move/move-examples/no_code_mint/2-Object-as-Creator/sources/object_as_creator.move
  aptos-move/move-examples/no_code_mint/2-Using-Resource-Account/sources/create_nft_with_resource_account.move
  aptos-move/move-examples/no_code_mint/3-Adding-Admin/Move.toml
  aptos-move/move-examples/no_code_mint/3-Adding-Admin/sources/allowlist.move
  developer-docs-site/docs/guides/nfts/mint-nft-cli.md
Due: none

Finishing part 3 of the tutorial, Mint with Allowlist
  aptos-move/move-examples/no_code_mint/2-Object-as-Creator/sources/object_as_creator.move
  aptos-move/move-examples/no_code_mint/3-Mint-with-Allowlist/Move.toml
  aptos-move/move-examples/no_code_mint/3-Mint-with-Allowlist/sources/allowlist.move
  aptos-move/move-examples/no_code_mint/3-Mint-with-Allowlist/sources/mint_with_allowlist.move
  developer-docs-site/docs/guides/nfts/mint-nft-cli.md
Due: none

Wrapping up the first 3 parts of the tutorial, removing incorrect/extraneous resource group
  aptos-move/move-examples/no_code_mint/2-Object-as-Creator/sources/object_as_creator.move
  aptos-move/move-examples/no_code_mint/3-Mint-with-Allowlist/sources/mint_with_allowlist.move
  aptos-move/move-examples/no_code_mint/4-Getting-Production-Ready/Move.toml
  aptos-move/move-examples/no_code_mint/4-Getting-Production-Ready/output.key
  aptos-move/move-examples/no_code_mint/4-Getting-Production-Ready/output.key.pub
  aptos-move/move-examples/no_code_mint/4-Getting-Production-Ready/sources/create_nft_getting_production_ready.move
  developer-docs-site/docs/guides/nfts/mint-nft-cli.md
Due: none

Fixing numbering
  developer-docs-site/docs/guides/nfts/mint-nft-cli.md
Due: none

Removing resource account reference, changing to object
  developer-docs-site/docs/guides/nfts/mint-nft-cli.md
Due: none
