Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[forge] write TestResult to report text (#3246)
  testsuite/forge/src/runner.rs
Due: rust-fmt

[storage] save cross epoch stale node index
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
Due: rust-fmt

[storage] trivial: shorter names
  storage/aptosdb/src/pruner/db_pruner.rs
  storage/aptosdb/src/pruner/state_pruner_manager.rs
Due: rust-fmt

[storage] parameterize the state pruner
  config/src/config/storage_config.rs
  consensus/src/consensusdb/schema/block/mod.rs
  execution/executor-benchmark/src/main.rs
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/pruner_metadata.rs
  storage/aptosdb/src/pruner/state_pruner_manager.rs
  storage/aptosdb/src/pruner/state_pruner_worker.rs
  storage/aptosdb/src/pruner/state_store/generics.rs
  storage/aptosdb/src/pruner/state_store/mod.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/pruner/utils.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/schemadb/src/schema.rs
Due: rust-fmt

[storage] add config for the epoch ending snapshot pruner
  config/src/config/storage_config.rs
Due: rust-fmt

[forge] randomly select from list of clusters (#3139)
  .github/workflows/run-forge.yaml
  testsuite/run_forge.sh
Due: prettier-fmt

[Aptos Framework][Cleanup] Delete unused code
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/aptos-vm/src/system_module_names.rs
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/aptos-framework/sources/timestamp.spec.move
  documentation/specifications/move_adapter/README.md
  types/src/account_config/resources/chain_account_info.rs
Due: rust-fmt

[Aptos Framework][Clean up] Restrict optional_aggregator's initialize function to friend-only
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.move
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/chain_id.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/configs/consensus_config.move
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/managed_coin.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/state_storage.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.move
  aptos-move/framework/aptos-framework/tests/aggregator_tests.move
Due: none

[Aptos Framework][Cleanup] Remove option_aggregator's unnecessary friend restrictions
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.move
Due: none

[Aptos Framework][Cleanup] Move bucket_table to aptos_stdlib
  aptos-move/framework/aptos-stdlib/sources/bucket_table.move
  aptos-move/framework/aptos-stdlib/sources/capability.move
  aptos-move/framework/aptos-stdlib/sources/capability.spec.move
  aptos-move/framework/aptos-stdlib/sources/debug.move
  aptos-move/framework/aptos-stdlib/sources/guid.move
Due: none

Don't attempt to add users to nonexistent group. (#3297)
  ecosystem/platform/server/app/controllers/discourse_controller.rb
  ecosystem/platform/server/app/models/user.rb
Due: none

[forge] Fix some bugs in the new wrapper, enable on continuous
  .github/workflows/continuous-e2e-tests.yaml
  .github/workflows/run-forge.yaml
  .github/workflows/shadow-e2e-tests.yaml
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/forge.py
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge_test.py
  testsuite/run_forge.sh
  testsuite/testcases/src/performance_with_fullnode_test.rs
Due: rust-fmt, prettier-fmt

[CP] Add Whitepaper to Main / Footer navigation
  ecosystem/platform/server/app/components/footer_component.rb
  ecosystem/platform/server/app/components/header_component.rb
Due: none

Cleanup and add unit test
  crates/aptos-logger/src/telemetry_log_writer.rs
  crates/aptos-telemetry/src/sender.rs
  crates/aptos-telemetry/src/service.rs
  crates/aptos-telemetry/src/telemetry_log_sender.rs
Due: rust-fmt

[forge] change kubectl context
  testsuite/run_forge.sh
Due: none

[forge] change kubectl context (#3306)
  testsuite/run_forge.sh
Due: none

Switch back to crates.io version of Poem
  Cargo.lock
  api/Cargo.toml
  api/doc/spec.json
  api/doc/spec.yaml
  api/goldens/aptos_api__tests__index_test__test_cors_forbidden.json
  api/src/tests/index_test.rs
  api/test-context/Cargo.toml
  api/types/Cargo.toml
  aptos-move/gas-algebra-ext/Cargo.toml
  config/Cargo.toml
  crates/aptos-openapi/Cargo.toml
  crates/aptos-rest-client/Cargo.toml
  ecosystem/node-checker/Cargo.toml
Due: rust-fmt, prettier-fmt

Switch back to crates.io version of Poem (#3296)
  Cargo.lock
  api/Cargo.toml
  api/doc/spec.json
  api/doc/spec.yaml
  api/goldens/aptos_api__tests__index_test__test_cors_forbidden.json
  api/src/tests/index_test.rs
  api/test-context/Cargo.toml
  api/types/Cargo.toml
  aptos-move/gas-algebra-ext/Cargo.toml
  config/Cargo.toml
  crates/aptos-openapi/Cargo.toml
  crates/aptos-rest-client/Cargo.toml
  ecosystem/node-checker/Cargo.toml
Due: rust-fmt, prettier-fmt

[dependency][consensus][bug-fix] Pin dependency to fix failing tests
  Cargo.lock
  consensus/Cargo.toml
Due: none

Import account from the new wallet page
  apps/extension/src/core/components/NewExtensionBody.tsx
Due: prettier-fmt

Added the missing spec files
  aptos-move/framework/aptos-stdlib/sources/any.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.spec.move
Due: none

Updating discord link to permanent one
  .github/ISSUE_TEMPLATE/questions.md
  apps/extension/src/core/components/ConfirmOnboardBody.tsx
  apps/website/core/components/Header.tsx
Due: prettier-fmt

Cleanup and add more metrics
  aptos-node/src/lib.rs
  config/src/config/logger_config.rs
  crates/aptos-logger/src/counters.rs
  crates/aptos-logger/src/telemetry_log_writer.rs
  crates/aptos-telemetry/src/sender.rs
Due: rust-fmt

Change SEO card dimensions to 600 x 800
  apps/website/pages/docs/[slug].tsx
  apps/website/pages/index.tsx
  apps/website/public/Petra_Card.png
  apps/website/public/Petra_Docs_Card.png
Due: prettier-fmt

Update building-wallet-extension.md
  developer-docs-site/docs/guides/building-wallet-extension.md
Due: none

[Data Streaming Service] Improve stream visibility and termination.
  .github/workflows/run-forge.yaml
  Cargo.lock
  config/src/config/state_sync_config.rs
  state-sync/state-sync-v2/data-streaming-service/src/data_stream.rs
  state-sync/state-sync-v2/data-streaming-service/src/logging.rs
  state-sync/state-sync-v2/data-streaming-service/src/metrics.rs
  state-sync/state-sync-v2/data-streaming-service/src/streaming_client.rs
  state-sync/state-sync-v2/data-streaming-service/src/streaming_service.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/mod.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/streaming_client.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/streaming_service.rs
  state-sync/state-sync-v2/state-sync-driver/Cargo.toml
  state-sync/state-sync-v2/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/continuous_syncer.rs
  state-sync/state-sync-v2/state-sync-driver/src/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/notification_handlers.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/continuous_syncer.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/utils.rs
  state-sync/state-sync-v2/state-sync-driver/src/utils.rs
Due: rust-fmt, prettier-fmt

[mempool] add support to limit maximum bytes for a batch
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/test_framework.rs
Due: rust-fmt

[dependency][consensus][bug-fix] Pin dependency to fix failing tests (#3298)
  Cargo.lock
  consensus/Cargo.toml
Due: none

Update steps-in-ait3.md
  developer-docs-site/docs/nodes/ait/steps-in-ait3.md
Due: none

Update versions.tf
  terraform/aptos-node/azure/versions.tf
Due: none

[Token] enable PropertyMap to read in actual type
  aptos-move/framework/aptos-stdlib/sources/any.move
  aptos-move/framework/aptos-token/sources/property_map.move
Due: none

[local swarm] [try2] Surface nodes account private keys
  crates/aptos-genesis/src/builder.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/backend/local/swarm.rs
Due: rust-fmt

Added the missing spec files (#3305)
  aptos-move/framework/aptos-stdlib/sources/any.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.spec.move
Due: none

[smoke-test] Improve reconfig test utils
  crates/aptos-rest-client/src/lib.rs
  testsuite/forge/src/interface/aptos.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
  testsuite/smoke-test/src/storage.rs
  testsuite/smoke-test/src/test_utils.rs
Due: rust-fmt

revert localhost
  crates/aptos-telemetry/src/constants.rs
Due: rust-fmt

[Data Streaming Service] Improve stream visibility and termination.
  Cargo.lock
  config/src/config/state_sync_config.rs
  state-sync/state-sync-v2/data-streaming-service/src/data_stream.rs
  state-sync/state-sync-v2/data-streaming-service/src/logging.rs
  state-sync/state-sync-v2/data-streaming-service/src/metrics.rs
  state-sync/state-sync-v2/data-streaming-service/src/streaming_client.rs
  state-sync/state-sync-v2/data-streaming-service/src/streaming_service.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/mod.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/streaming_client.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/streaming_service.rs
  state-sync/state-sync-v2/state-sync-driver/Cargo.toml
  state-sync/state-sync-v2/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/continuous_syncer.rs
  state-sync/state-sync-v2/state-sync-driver/src/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/notification_handlers.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/continuous_syncer.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/utils.rs
  state-sync/state-sync-v2/state-sync-driver/src/utils.rs
Due: rust-fmt

[api] Add retriable flag and audit all error codes
  api/doc/spec.json
  api/doc/spec.yaml
  api/goldens/aptos_api__tests__events_test__test_get_events_by_invalid_account_event_handle_field_type.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_param_limit_exceeds_limit.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_with_start_version_is_too_large.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_with_zero_limit.json
  api/goldens/aptos_api__tests__transactions_test__test_post_invalid_signature_transaction.json
  api/src/accounts.rs
  api/src/context.rs
  api/src/events.rs
  api/src/failpoint.rs
  api/src/page.rs
  api/src/response.rs
  api/src/state.rs
  api/src/transactions.rs
  api/types/src/error.rs
  crates/aptos-rosetta/src/error.rs
  ecosystem/typescript/sdk/src/generated/models/AptosErrorCode.ts
Due: rust-fmt, prettier-fmt
