Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

refactor
  aptos-move/framework/src/built_package.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

fix test
  third_party/move/testing-infra/transactional-test-runner/tests/vm_test_harness/example.exp
  third_party/move/testing-infra/transactional-test-runner/tests/vm_test_harness/example.move
Due: none

fix
  devtools/aptos-cargo-cli/src/lib.rs
Due: rust-fmt

update move-abi and doc-gen test using v2
  third_party/move/move-prover/move-abigen/tests/sources/bad_script.exp
  third_party/move/move-prover/move-abigen/tests/sources/script_fun_in_module.exp
  third_party/move/move-prover/move-abigen/tests/testsuite.rs
  third_party/move/move-prover/move-docgen/tests/sources/attribute_placement.spec_inline.md
  third_party/move/move-prover/move-docgen/tests/sources/attribute_placement.spec_inline_no_fold.md
  third_party/move/move-prover/move-docgen/tests/sources/attribute_placement.spec_separate.md
  third_party/move/move-prover/move-docgen/tests/sources/code_block_test.spec_inline.md
  third_party/move/move-prover/move-docgen/tests/sources/code_block_test.spec_inline_no_fold.md
  third_party/move/move-prover/move-docgen/tests/sources/code_block_test.spec_separate.md
  third_party/move/move-prover/move-docgen/tests/sources/root_template.spec_inline.md
  third_party/move/move-prover/move-docgen/tests/sources/root_template.spec_inline_no_fold.md
  third_party/move/move-prover/move-docgen/tests/sources/root_template.spec_separate.md
  third_party/move/move-prover/move-docgen/tests/sources/some_script.spec_inline.md
  third_party/move/move-prover/move-docgen/tests/sources/some_script.spec_inline_no_fold.md
  third_party/move/move-prover/move-docgen/tests/sources/some_script.spec_separate.md
  third_party/move/move-prover/move-docgen/tests/testsuite.rs
  third_party/move/move-prover/src/cli.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
Due: rust-fmt

remove ci test for compiler v2
  .github/actions/move-tests-compiler-v2/action.yaml
  .github/workflows/move-test-compiler-v2.yaml
Due: prettier-fmt

test blocking v1
  .github/actions/rust-targeted-unit-tests/action.yaml
  devtools/aptos-cargo-cli/src/lib.rs
  third_party/move/move-prover/src/lib.rs
Due: rust-fmt, prettier-fmt

remove gate_v2_features.rs
  aptos-move/framework/tests/gate_v2_features.rs
Due: rust-fmt

[test-only] set v2 flag for unit tests
  api/goldens/aptos_api__tests__state_test__test_get_account_module.json
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/default_int_size.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/diamond_clicker.exp
  aptos-move/aptos-transactional-test-harness/tests/tests.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/tests/metadata.rs
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/delegation_pool.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/multisig_account.md
  aptos-move/framework/aptos-framework/doc/randomness.md
  aptos-move/framework/aptos-framework/doc/version.md
  aptos-move/framework/aptos-stdlib/doc/type_info.md
  aptos-move/framework/move-stdlib/doc/bit_vector.md
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/tests/gate_v2_features.rs
  third_party/move/move-model/src/metadata.rs
  third_party/move/tools/move-cli/tests/build_tests/build_with_warnings/args.exp
  third_party/move/tools/move-cli/tests/build_tests/dependency_chain/args.exp
  third_party/move/tools/move-cli/tests/build_tests/dev_address/args.exp
  third_party/move/tools/move-cli/tests/build_tests/disassemble_script/args.exp
  third_party/move/tools/move-cli/tests/build_tests/empty_module_no_deps/args.exp
  third_party/move/tools/move-cli/tests/build_tests/include_exclude_stdlib/args.exp
Due: rust-fmt

reschedule if zone mismatch
  .github/actions/python-setup/action.yaml
  testsuite/replay-verify/main.py
Due: prettier-fmt

fix calibration for a few tests from recent change
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-benchmark/src/main.rs
  testsuite/single_node_performance_values.tsv
Due: rust-fmt

[move] Implement generic comparison method in move - move part
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_stdlib/sources/cmp.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_stdlib_incompat/sources/cmp.move
  aptos-move/framework/move-stdlib/doc/cmp.md
  aptos-move/framework/move-stdlib/doc/overview.md
  aptos-move/framework/move-stdlib/sources/cmp.move
  aptos-move/framework/move-stdlib/tests/bcs_tests.move
  execution/executor/tests/internal_indexer_test.rs
Due: rust-fmt

governance
  crates/aptos/src/governance/mod.rs
Due: rust-fmt

add move-1 flag
  crates/aptos/CHANGELOG.md
  crates/aptos/src/common/types.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

set default as v2
  crates/aptos/CHANGELOG.md
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/move_tool/coverage.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

Update crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

Update the CLI versions.
  Cargo.lock
  Cargo.toml
  protos/rust/src/pb/aptos.indexer.v1.rs
  protos/rust/src/pb/aptos.indexer.v1.tonic.rs
  protos/rust/src/pb/aptos.internal.fullnode.v1.rs
  protos/rust/src/pb/aptos.internal.fullnode.v1.tonic.rs
  protos/rust/src/pb/aptos.remote_executor.v1.rs
  protos/rust/src/pb/aptos.remote_executor.v1.tonic.rs
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.util.timestamp.rs
  protos/scripts/install_deps.sh
Due: rust-fmt, rust-cargo-sort

addressing comments
  aptos-move/framework/aptos-stdlib/doc/ordered_map.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/ordered_map.move
Due: none

[move-stdlib] Introduce efficient OrderedMap implementation
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/framework/aptos-stdlib/doc/ordered_map.md
  aptos-move/framework/aptos-stdlib/doc/overview.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/ordered_map.move
  aptos-move/framework/move-stdlib/doc/mem.md
  crates/transaction-workloads-lib/src/move_workloads.rs
  output/metadata/feature_flags.json
  output/sources/v1.24-enable_native_memory_operations/feature_flags/0-features.move
  testsuite/module-publish/src/packages/framework_usecases/sources/maps_example.move
Due: rust-fmt

change iterators to public(friend)
  aptos-move/framework/aptos-stdlib/doc/ordered_map.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/ordered_map.move
Due: none

Adding more tests, addressing some comments
  aptos-move/framework/aptos-stdlib/doc/ordered_map.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/ordered_map.move
  crates/transaction-workloads-lib/src/move_workloads.rs
  testsuite/module-publish/src/packages/framework_usecases/sources/maps_example.move
Due: rust-fmt

change to IteratorPtr
  aptos-move/framework/aptos-stdlib/doc/ordered_map.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/ordered_map.move
Due: none

addressing comments
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/framework/aptos-stdlib/doc/ordered_map.md
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/ordered_map.move
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
  aptos-move/framework/move-stdlib/doc/cmp.md
  aptos-move/framework/move-stdlib/doc/mem.md
  aptos-move/framework/move-stdlib/sources/cmp.move
  crates/transaction-workloads-lib/src/raw_module_data.rs
  execution/executor/tests/internal_indexer_test.rs
  output/metadata/feature_flags.json
  output/sources/v1.24-enable_native_memory_operations/feature_flags/0-features.move
Due: rust-fmt

Add more logging
  consensus/src/block_storage/block_tree.rs
Due: rust-fmt

[move-stdlib] Introduce efficient OrderedMap implementation (#14872)
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/framework/aptos-stdlib/doc/ordered_map.md
  aptos-move/framework/aptos-stdlib/doc/overview.md
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/ordered_map.move
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
  aptos-move/framework/move-stdlib/doc/cmp.md
  aptos-move/framework/move-stdlib/sources/cmp.move
  crates/transaction-workloads-lib/src/move_workloads.rs
  crates/transaction-workloads-lib/src/raw_module_data.rs
  execution/executor/tests/internal_indexer_test.rs
  testsuite/module-publish/src/packages/framework_usecases/sources/maps_example.move
Due: rust-fmt

split order (max_degree) for inner and leaf nodes
  aptos-move/framework/aptos-stdlib/sources/data_structures/btree_map.move
Due: none

removed drop+copy requirement on value
  aptos-move/framework/aptos-stdlib/doc/btree_map.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/btree_map.move
Due: none

making key generic
  aptos-move/framework/aptos-stdlib/doc/btree_map.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/btree_map.move
Due: none

original Guotang's commit
  aptos-move/framework/aptos-stdlib/sources/data_structures/btree_map.move
Due: none

using move 2 syntax
  aptos-move/framework/aptos-stdlib/doc/btree_map.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/btree_map.move
Due: none

Update BTreeMap to only modify leaf node on happy path, and inline values
  aptos-move/framework/aptos-stdlib/sources/data_structures/btree_map.move
Due: none

updating function naming to be consistent
  aptos-move/framework/aptos-stdlib/sources/data_structures/btree_map.move
Due: none

fixing slots, and creating SlotsStorage, to add reusing slots afterwards
  aptos-move/framework/aptos-stdlib/sources/data_structures/btree_map.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/slots_storage.move
Due: none

remove 'parent' field in Node
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_ordered_map.move
Due: none

addressing comments
  aptos-move/framework/aptos-stdlib/doc/big_ordered_map.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_ordered_map.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/storage_slots_allocator.move
Due: none

Documentation and method names. handling sizes
  aptos-move/framework/aptos-stdlib/doc/big_ordered_map.md
  aptos-move/framework/aptos-stdlib/doc/fixed_point64.md
  aptos-move/framework/aptos-stdlib/doc/overview.md
  aptos-move/framework/aptos-stdlib/doc/storage_slots_allocator.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_ordered_map.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/storage_slots_allocator.move
Due: none

Separate BigOrderedMap and OrderedMap
  aptos-move/framework/aptos-stdlib/doc/big_ordered_map.md
  aptos-move/framework/aptos-stdlib/doc/storage_slots_allocator.md
  aptos-move/framework/aptos-stdlib/doc/table.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_ordered_map.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/ordered_map.move
  aptos-move/framework/aptos-stdlib/sources/table.move
Due: none

addressing review comments
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_ordered_map.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/storage_slots_allocator.move
  aptos-move/framework/aptos-stdlib/sources/table.move
Due: none

inline root node directly
  aptos-move/framework/aptos-stdlib/doc/big_ordered_map.md
  aptos-move/framework/aptos-stdlib/doc/ordered_map.md
  aptos-move/framework/aptos-stdlib/doc/storage_slots_allocator.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_ordered_map.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/ordered_map.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/storage_slots_allocator.move
Due: none
