Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Using vector instead of partialsignatures
  consensus/src/pending_order_votes.rs
  consensus/src/pending_votes.rs
  types/src/ledger_info.rs
Due: rust-fmt

fix
  third_party/move/move-compiler-v2/tests/checking/typing/recursive_constant.exp
  third_party/move/move-model/src/builder/module_builder.rs
Due: rust-fmt

enable opt qs with hacks for co
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/vote_msg.rs
  consensus/src/consensus_observer/network/observer_message.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
Due: rust-fmt

[mempool] move the qs callback to be after mempool
  consensus/src/state_computer.rs
Due: rust-fmt

Use single flag
  config/src/config/consensus_config.rs
  consensus/src/epoch_manager.rs
Due: rust-fmt

LedgerInfoWithUnverifiedSignatures data structure to store both verified and unverified signatures. (#14641)
  Cargo.lock
  consensus/consensus-types/src/block_test.rs
  consensus/consensus-types/src/timeout_2chain.rs
  consensus/safety-rules/src/test_utils.rs
  consensus/src/dag/tests/rb_handler_tests.rs
  consensus/src/dag/types.rs
  consensus/src/liveness/round_state.rs
  consensus/src/pending_order_votes.rs
  consensus/src/pending_votes.rs
  consensus/src/pipeline/buffer_item.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/rand/rand_gen/reliable_broadcast_state.rs
  crates/aptos-jwk-consensus/src/observation_aggregation/mod.rs
  types/Cargo.toml
  types/src/aggregate_signature.rs
  types/src/epoch_change.rs
  types/src/ledger_info.rs
  types/src/proptest_types.rs
  types/src/unit_tests/trusted_state_test.rs
  types/src/validator_verifier.rs
Due: rust-fmt

temp change to test
  .github/workflows/forge-unstable.yaml
Due: prettier-fmt

added gcloud sdk and kubectl in the packer, uploaded the image in to ci aws account, changed the ami for workflows
  .github/workflows/cargo-metadata-upload.yaml
  .github/workflows/workflow-run-forge.yaml
  buildtools/packer/aws-ubuntu.pkr.hcl
Due: prettier-fmt

temp change to test
  .github/workflows/workflow-run-forge.yaml
Due: prettier-fmt

refined
  .github/workflows/cargo-metadata-upload.yaml
  .github/workflows/workflow-run-forge.yaml
Due: prettier-fmt

test
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/internal_indexer_db_service.rs
Due: rust-fmt

Moving optimistic_signature_verification from epoch manager to vote and order vote
  consensus/consensus-types/src/order_vote.rs
  consensus/consensus-types/src/order_vote_msg.rs
  consensus/consensus-types/src/vote.rs
  consensus/consensus-types/src/vote_msg.rs
  consensus/src/epoch_manager.rs
  consensus/src/round_manager.rs
Due: rust-fmt

Revert "[Consensus Observer] Enable CO for VFNs."
  config/src/config/consensus_observer_config.rs
Due: rust-fmt

test if kubectl is installed
  .github/workflows/workflow-run-forge.yaml
Due: prettier-fmt

[Compiler-v2] Check recursive definition for constants (#14741)
  third_party/move/move-compiler-v2/tests/checking-lang-v1/v1-typing/refer_other_constants.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v1/v1-typing/refer_other_constants.move
  third_party/move/move-compiler-v2/tests/checking/typing/constant_all_valid_types.exp
  third_party/move/move-compiler-v2/tests/checking/typing/constant_all_valid_types.move
  third_party/move/move-compiler-v2/tests/checking/typing/constant_duplicate.exp
  third_party/move/move-compiler-v2/tests/checking/typing/constant_duplicate.move
  third_party/move/move-compiler-v2/tests/checking/typing/recursive_constant.exp
  third_party/move/move-compiler-v2/tests/checking/typing/recursive_constant.move
  third_party/move/move-compiler/src/expansion/ast.rs
  third_party/move/move-compiler/tests/move_check/typing/constant_duplicate.exp
  third_party/move/move-compiler/tests/move_check/typing/constant_duplicate.move
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-model/src/builder/module_builder.rs
  third_party/move/move-model/src/constant_folder.rs
Due: rust-fmt

Fixing errors with rebase
  types/src/ledger_info.rs
Due: rust-fmt

changed workflows to use new image with gcloud and kubectl
  .github/runs-on.yml
  .github/workflows/cargo-metadata-upload.yaml
  .github/workflows/forge-unstable.yaml
  .github/workflows/workflow-run-forge.yaml
Due: prettier-fmt

update txn emitter
  Cargo.lock
  crates/transaction-emitter-lib/Cargo.toml
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/local_account_generator.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/test_proofs_for_localnet_txn_emitter.txt
  crates/transaction-emitter-lib/src/wrappers.rs
  sdk/src/types.rs
  testsuite/smoke-test/src/keyless.rs
  testsuite/smoke-test/src/txn_emitter.rs
  types/src/keyless/circuit_testcases.rs
  types/src/keyless/test_utils.rs
Due: rust-fmt

update
  crates/transaction-emitter-lib/src/emitter/test_proofs_for_localnet_txn_emitter.txt
Due: none

Add Cognito support to the pepper service (#14761)
  keyless/pepper/service/src/jwk.rs
Due: rust-fmt

Update transfer-coin.rs example to use Testnet
  sdk/examples/transfer-coin.rs
Due: rust-fmt

added gcloud sdk and kubectl in the packer, uploaded the image in to … (#14763)
  .github/runs-on.yml
  .github/workflows/cargo-metadata-upload.yaml
  .github/workflows/workflow-run-forge.yaml
  buildtools/packer/aws-ubuntu.pkr.hcl
Due: prettier-fmt

ChunkOutput carries TransactionsByStatus
  Cargo.lock
  execution/executor-types/Cargo.toml
  execution/executor-types/src/state_checkpoint_output.rs
  execution/executor/src/chunk_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/chunk_output.rs
Due: rust-fmt

[gha] fix cargo metadata syntax error
  .github/workflows/cargo-metadata-upload.yaml
Due: prettier-fmt

[gha] cargo metadata uploader uses gcloud storage
  .github/workflows/cargo-metadata-upload.yaml
Due: prettier-fmt

[forge] indexer config tuning
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/k8s_deployer/constants.rs
Due: rust-fmt

[gha] fix cargo metadata syntax error (#14772)
  .github/workflows/cargo-metadata-upload.yaml
Due: prettier-fmt

[forge] clean up GHA for forge; add indexer option
  .github/workflows/adhoc-forge.yaml
  .github/workflows/workflow-run-forge.yaml
  testsuite/forge/src/backend/k8s/mod.rs
Due: rust-fmt, prettier-fmt

[DO NOT MERGE] canary forge indexer
  testsuite/forge.env
Due: none

Initial authenticator fuzzer commit
  Cargo.lock
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/src/ed25519/ed25519_sigs.rs
  testsuite/fuzzer/fuzz/Cargo.toml
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_authenticators.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish_and_run.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils.rs
  types/Cargo.toml
  types/src/keyless/bn254_circom.rs
  types/src/keyless/groth16_sig.rs
  types/src/keyless/mod.rs
  types/src/keyless/openid_sig.rs
  types/src/keyless/zkp_sig.rs
  types/src/transaction/authenticator.rs
  types/src/transaction/webauthn.rs
Due: rust-fmt

rename octa to quant
  aptos-move/block-executor/src/counters.rs
  aptos-move/e2e-move-tests/src/tests/fee_payer.rs
  aptos-move/e2e-move-tests/src/tests/per_category_gas_limits.rs
  aptos-move/framework/supra-framework/doc/pbo_delegation_pool.md
  aptos-move/move-examples/upgrade_and_govern/upgrade/scripts/set_and_transfer.move
  crates/aptos/src/common/utils.rs
Due: rust-fmt

rollback
  aptos-move/block-executor/src/modules_and_scripts.rs
Due: rust-fmt

do not cache base values to avoid write locks
  aptos-move/mvhashmap/src/versioned_module_storage.rs
Due: rust-fmt

avoid writing verified entries
  aptos-move/block-executor/src/modules_and_scripts.rs
Due: rust-fmt

do not cache base values to avoid write locks
  Cargo.lock
  aptos-move/aptos-vm-environment/src/environment_cache.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/modules_and_scripts.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/versioned_code_storage.rs
  aptos-move/mvhashmap/src/versioned_module_storage.rs
Due: rust-fmt

create stable tag for runs-on image
  .github/runs-on.yml
Due: prettier-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
