Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

passing version
  aptos-move/block-executor/.cargo/config.toml
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/explicit_sync_wrapper.rs
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

Add Account support for secp256k1 scheme
  ecosystem/typescript/sdk_v2/src/core/account.ts
  ecosystem/typescript/sdk_v2/src/crypto/authentication_key.ts
  ecosystem/typescript/sdk_v2/src/crypto/secp256k1.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
  ecosystem/typescript/sdk_v2/tests/unit/account.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/helper.ts
Due: prettier-fmt

adjust ramp up
  network/benchmark/src/lib.rs
Due: rust-fmt

backlog limit x3 to x4
  config/src/config/quorum_store_config.rs
Due: rust-fmt

Changing simple-aptos-token.py to simple_aptos_token.py and updating the Makefile to include it as an example
  developer-docs-site/docs/tutorials/your-first-nft.md
  ecosystem/python/sdk/Makefile
  ecosystem/python/sdk/aptos_sdk/aptos_token_client.py
  ecosystem/python/sdk/examples/simple_aptos_token.py
Due: none

Updating typescript example to work correctly if indexer/fullnode chainId aren't in sync
  ecosystem/typescript/sdk/examples/typescript/simple_aptos_token.ts
Due: prettier-fmt

Changing `create_token` to `mint_token` in python tutorial and `createToken` in typescript to `mint`
  developer-docs-site/docs/tutorials/your-first-nft.md
Due: none

Update ecosystem/typescript/sdk_v2/src/api/transaction.ts
  ecosystem/typescript/sdk_v2/src/api/transaction.ts
Due: prettier-fmt

Update ecosystem/typescript/sdk_v2/src/internal/transaction.ts
  ecosystem/typescript/sdk_v2/src/internal/transaction.ts
Due: prettier-fmt

backlog limit x4 to x5
  config/src/config/quorum_store_config.rs
Due: rust-fmt

[Tutorials] Replacing the old "Your First NFT" tutorial entry function calls to use aptos_token.move and new indexer queries (#9424)
  developer-docs-site/docs/tutorials/your-first-nft.md
  ecosystem/python/sdk/Makefile
  ecosystem/python/sdk/examples/simple_aptos_token.py
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/examples/typescript/simple_aptos_token.ts
  ecosystem/typescript/sdk/src/plugins/aptos_token.ts
  ecosystem/typescript/sdk/src/providers/indexer.ts
Due: prettier-fmt

fix the PFN checker for indexer grpc.
  ecosystem/indexer-grpc/indexer-grpc-post-processor/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-post-processor/src/pfn_ledger_checker.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/constants.rs
Due: rust-fmt

address comments
  ecosystem/typescript/sdk_v2/src/internal/transaction.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
Due: prettier-fmt

total supply for v3
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm/src/sharded_block_executor/local_executor_shard.rs
  aptos-move/aptos-vm/tests/sharded_block_executor.rs
  aptos-move/block-executor/src/executor.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[Python SDK] Use AccountAddress.from_str_relaxed when parsing addresses from the node API
  ecosystem/python/sdk/aptos_sdk/account.py
  ecosystem/python/sdk/aptos_sdk/aptos_token_client.py
  ecosystem/python/sdk/examples/rotate_key.py
Due: none

latest
  Cargo.toml
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt, rust-cargo-sort

rebase
  aptos-move/block-executor/.cargo/config.toml
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/explicit_sync_wrapper.rs
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

atomic
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

lintl
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/explicit_sync_wrapper.rs
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

revert captured reads, newline in cargo config
  aptos-move/block-executor/.cargo/config.toml
  aptos-move/block-executor/src/captured_reads.rs
Due: rust-fmt

a la rati
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

missed carg lock
  Cargo.lock
Due: none

to lint
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

[Forge] Add more net bench tests.
  network/benchmark/src/lib.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

nightly fix
  aptos-move/block-executor/src/explicit_sync_wrapper.rs
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

Clean up QUIC print statements.
  network/netcore/src/transport/quic.rs
Due: rust-fmt

Use one single flag to control all storage related optimization work.
  aptos-node/src/storage.rs
  config/src/config/storage_config.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/main.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor/tests/storage_integration_test.rs
  storage/aptosdb/src/db_debugger/checkpoint/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/mod.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/ledger_db.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/db-tool/src/tests.rs
  testsuite/forge-cli/src/main.rs
  testsuite/single_node_performance.py
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/storage.rs
Due: rust-fmt

[Executor] Refactoring and Optimization of the Block STM (#10081)
  Cargo.lock
  Cargo.toml
  aptos-move/block-executor/.cargo/config.toml
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/errors.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/explicit_sync_wrapper.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
Due: rust-fmt, rust-cargo-sort

[docker] Set image hash to multiplatform ones
  docker/builder/docker-bake-rust-all.hcl
Due: none

Use one single flag to control all storage related optimization work. (#10377)
  aptos-node/src/storage.rs
  config/src/config/storage_config.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/main.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor/tests/storage_integration_test.rs
  storage/aptosdb/src/db_debugger/checkpoint/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/mod.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/ledger_db.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/db-tool/src/tests.rs
  testsuite/forge-cli/src/main.rs
  testsuite/single_node_performance.py
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/storage.rs
Due: rust-fmt

Update staking-pool-operations.md
  developer-docs-site/docs/nodes/validator-node/operator/staking-pool-operations.md
Due: none

add timers
  aptos-move/aptos-vm/src/aptos_vm.rs
  execution/executor/src/components/chunk_output.rs
Due: rust-fmt

add timers
  execution/executor/src/components/chunk_output.rs
Due: rust-fmt

test
  types/src/transaction/mod.rs
Due: rust-fmt

Changes compiles
  api/test-context/src/test_context.rs
  aptos-move/aptos-transaction-benchmarks/src/benchmark_runner.rs
  aptos-move/aptos-transaction-benchmarks/src/transaction_bench_state.rs
  aptos-move/aptos-vm-profiling/src/bins/run_aptos_p2p.rs
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_executor_service.rs
  aptos-move/aptos-vm/tests/sharded_block_executor.rs
  consensus/src/state_computer.rs
  execution/block-partitioner/src/tests.rs
  execution/executor-benchmark/src/block_partitioning.rs
  execution/executor-benchmark/src/native_executor.rs
  execution/executor-service/src/test_utils.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/mock_vm/mock_vm_test.rs
  execution/executor/src/mock_vm/mod.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/storage_integration_test.rs
  experimental/execution/ptx-executor/src/analyzer.rs
  experimental/execution/ptx-executor/src/lib.rs
  experimental/execution/ptx-executor/src/runner.rs
  experimental/execution/ptx-executor/src/scheduler.rs
  types/src/block_executor/partitioner.rs
  types/src/test_helpers/transaction_test_helpers.rs
  types/src/transaction/analyzed_transaction.rs
  types/src/transaction/mod.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
