Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Minor change
  consensus/src/quorum_store/proof_coordinator.rs
Due: rust-fmt

[indexer][testing] Change to facilitate indexer localnode access. (#14550)
  Cargo.lock
  crates/aptos/src/account/fund.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/node/local_testnet/mod.rs
  crates/aptos/src/node/local_testnet/node.rs
Due: rust-fmt

Update base image for forge tests to v1.19.1 (#14617)
  .github/workflows/docker-build-test.yaml
  .github/workflows/forge-stable.yaml
Due: prettier-fmt

fix adding committed blocks
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/block_preparer.rs
  consensus/src/block_storage/block_store.rs
Due: rust-fmt

une entry
  aptos-move/framework/aptos-framework/doc/jwks.md
  aptos-move/framework/aptos-framework/sources/jwks.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  testsuite/smoke-test/src/keyless.rs
Due: rust-fmt

removing unverified channels
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/network_listener.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/round_manager.rs
  types/src/validator_verifier.rs
Due: rust-fmt

Forge 7 nodes
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[Compiler-v2] Fix bugs in index notation for vector type (#14609)
  aptos-move/framework/aptos-framework/tests/compiler-v2-doc/fungible_asset.md
  third_party/move/move-compiler-v2/tests/file-format-generator/index_then_field_select.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/index_then_field_select.move
  third_party/move/move-compiler-v2/tests/file-format-generator/index_then_field_select.opt.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/index.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/index.move
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

Add a test case
  Cargo.lock
  types/src/ledger_info.rs
  types/src/validator_verifier.rs
Due: rust-fmt

Fix a bug while iterating thru transactions
  aptos-move/block-executor/src/txn_provider/default.rs
  execution/executor/src/components/chunk_output.rs
Due: rust-fmt

Add a test case
  consensus/src/pending_votes.rs
  consensus/src/round_manager.rs
Due: rust-fmt

Switch malicious authors to Arc<RwLock>
  consensus/src/pending_votes.rs
  consensus/src/round_manager.rs
  types/src/epoch_state.rs
  types/src/validator_verifier.rs
Due: rust-fmt

Remove Arc<RwLock<EpochState>>
  consensus/src/block_storage/block_store_test.rs
  consensus/src/consensus_observer/network/observer_message.rs
  consensus/src/consensus_observer/observer/active_state.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/consensus_observer/observer/payload_store.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/round_state.rs
  consensus/src/pending_order_votes.rs
  consensus/src/pending_votes.rs
  consensus/src/pipeline/buffer_item.rs
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/pipeline/decoupled_execution_utils.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  consensus/src/recovery_manager.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_execution_client.rs
  types/src/ledger_info.rs
Due: rust-fmt

[GHA] replay-verify replays at state snapshot versions
  .github/workflows/replay-verify.yaml
  .github/workflows/workflow-run-replay-verify.yaml
  Cargo.lock
  storage/backup/backup-cli/src/metadata/view.rs
  storage/db-tool/Cargo.toml
  storage/db-tool/src/gen_replay_verify_jobs.rs
  storage/db-tool/src/lib.rs
Due: rust-fmt, prettier-fmt

use runs-on runners for replay-verify
  .github/workflows/module-verify.yaml
  .github/workflows/replay-verify.yaml
  .github/workflows/workflow-run-module-verify.yaml
  .github/workflows/workflow-run-replay-verify.yaml
Due: prettier-fmt

update hdd and image
  .github/workflows/module-verify.yaml
  .github/workflows/replay-verify.yaml
  .github/workflows/workflow-run-module-verify.yaml
  .github/workflows/workflow-run-replay-verify.yaml
Due: prettier-fmt

fix `aptos move disassemble` help message
  crates/aptos/src/move_tool/bytecode.rs
Due: rust-fmt

Use entry function instead of script to install JWKs
  aptos-move/e2e-move-tests/src/tests/federated_keyless_install_jwk.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/federated_keyless_install_jwk.data/pack/sources/main.move
  aptos-move/e2e-move-tests/src/tests/keyless_feature_gating.rs
Due: rust-fmt

add e2e move test for federated keyless
  aptos-move/e2e-move-tests/src/tests/federated_keyless_init_config.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/federated_keyless_init_config.data/pack/sources/main.move
  aptos-move/e2e-move-tests/src/tests/federated_keyless_install_jwk.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/federated_keyless_install_jwk.data/pack/sources/main.move
  aptos-move/e2e-move-tests/src/tests/keyless_feature_gating.rs
  aptos-move/e2e-tests/src/account.rs
  aptos-move/framework/aptos-framework/doc/jwks.md
  aptos-move/framework/aptos-framework/sources/jwks.move
  types/src/jwks/mod.rs
  types/src/keyless/mod.rs
  types/src/transaction/mod.rs
Due: rust-fmt

add e2e move test for federated keyless (#14585)
  aptos-move/e2e-move-tests/src/tests/federated_keyless_init_config.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/federated_keyless_init_config.data/pack/sources/main.move
  aptos-move/e2e-move-tests/src/tests/keyless_feature_gating.rs
  aptos-move/e2e-tests/src/account.rs
  aptos-move/framework/aptos-framework/doc/jwks.md
  aptos-move/framework/aptos-framework/sources/jwks.move
  types/src/jwks/mod.rs
  types/src/keyless/mod.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[compiler-v2] Make flush writes optimization a default optimization
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/tests/file-format-generator/borrow.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_13952_stack_balance.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/bug_13952_stack_balance_regression.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/const.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/has_script.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/if_else.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/loop.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/operators.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/struct_variants.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/unpack_generic_struct.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/vector.exp
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-prover/tests/sources/functional/choice.v2_exp
  third_party/move/move-prover/tests/sources/functional/enum.v2_exp
  third_party/move/move-prover/tests/sources/functional/enum_abort.v2_exp
  third_party/move/move-prover/tests/sources/functional/enum_generic.v2_exp
  third_party/move/move-prover/tests/sources/functional/enum_positional.v2_exp
  third_party/move/move-prover/tests/sources/functional/enum_self.v2_exp
  third_party/move/move-prover/tests/sources/functional/fixed_point_arithm.v2_exp
  third_party/move/move-prover/tests/sources/functional/invariants.v2_exp
  third_party/move/move-prover/tests/sources/functional/is_txn_signer.v2_exp
  third_party/move/move-prover/tests/sources/functional/mut_ref.v2_exp
  third_party/move/move-prover/tests/sources/functional/references.v2_exp
  third_party/move/move-prover/tests/sources/functional/strong_edges.v2_exp
Due: rust-fmt

100 nodes
  testsuite/forge-cli/src/suites/dag.rs
Due: rust-fmt

Upgrade boogie version to resolve the CI test failure
  scripts/dev_setup.sh
  third_party/move/move-prover/boogie-backend/src/options.rs
Due: rust-fmt

wait for all
  config/src/config/dag_consensus_config.rs
Due: rust-fmt

Upgrade boogie version to resolve the CI test failure (#14621)
  scripts/dev_setup.sh
  third_party/move/move-prover/boogie-backend/src/options.rs
Due: rust-fmt

add governance proposal to enable federated keyless accounts
  aptos-move/aptos-release-builder/data/federated_keyless.yaml
Due: prettier-fmt

Create transaction_simulation_enhancement.yaml
  aptos-move/aptos-release-builder/data/transaction_simulation_enhancement.yaml
Due: prettier-fmt

[testing] Report unit test results to trunk.io
  .github/actions/rust-unit-tests/action.yaml
  .github/workflows/lint-test.yaml
Due: prettier-fmt

100 accounts
  testsuite/forge-cli/src/suites/dag.rs
Due: rust-fmt

better machine, shorter timeout
  .github/workflows/replay-verify.yaml
  .github/workflows/workflow-run-replay-verify.yaml
Due: prettier-fmt

enable db sharding
  .github/workflows/workflow-run-replay-verify.yaml
Due: prettier-fmt

shoal
  consensus/src/dag/shoal_plus_plus/shoalpp_bootstrap.rs
  types/src/on_chain_config/consensus_config.rs
Due: rust-fmt

wip
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/proposal_ext.rs
  consensus/consensus-types/src/proposal_msg.rs
  consensus/consensus-types/src/quorum_cert.rs
  consensus/consensus-types/src/vote_proposal.rs
  consensus/safety-rules/src/error.rs
  consensus/safety-rules/src/safety_rules.rs
  consensus/safety-rules/src/safety_rules_2chain.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/round_state.rs
  consensus/src/liveness/unequivocal_proposer_election.rs
  consensus/src/logging.rs
  consensus/src/round_manager.rs
  testsuite/smoke-test/src/consensus/consensus_fault_tolerance.rs
  types/src/on_chain_config/consensus_config.rs
Due: rust-fmt

Create centralized config and transaction importer.
  Cargo.lock
  Cargo.toml
  ecosystem/indexer-grpc/indexer-transaction-generator/Cargo.toml
  ecosystem/indexer-grpc/indexer-transaction-generator/README.md
  ecosystem/indexer-grpc/indexer-transaction-generator/src/config.rs
  ecosystem/indexer-grpc/indexer-transaction-generator/src/config_template.yaml
  ecosystem/indexer-grpc/indexer-transaction-generator/src/lib.rs
  ecosystem/indexer-grpc/indexer-transaction-generator/src/main.rs
  ecosystem/indexer-grpc/indexer-transaction-generator/src/transaction_importer.rs
Due: rust-fmt, rust-cargo-sort, prettier-fmt

Create centralized config and transaction importer. (#14551)
  Cargo.lock
  Cargo.toml
  ecosystem/indexer-grpc/indexer-transaction-generator/Cargo.toml
  ecosystem/indexer-grpc/indexer-transaction-generator/README.md
  ecosystem/indexer-grpc/indexer-transaction-generator/src/config.rs
  ecosystem/indexer-grpc/indexer-transaction-generator/src/config_template.yaml
  ecosystem/indexer-grpc/indexer-transaction-generator/src/lib.rs
  ecosystem/indexer-grpc/indexer-transaction-generator/src/main.rs
  ecosystem/indexer-grpc/indexer-transaction-generator/src/transaction_importer.rs
Due: rust-fmt, rust-cargo-sort, prettier-fmt

Add another test case
  consensus/src/liveness/round_state.rs
  consensus/src/pending_order_votes.rs
  consensus/src/pending_votes.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/round_manager.rs
  types/src/validator_verifier.rs
Due: rust-fmt

Enable storage sharding in forge.
  devtools/aptos-cargo-cli/src/lib.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/runner.rs
Due: rust-fmt

bug fix && doc && check invariants
  third_party/move/move-compiler-v2/src/pipeline/control_flow_graph_simplifier.rs
  third_party/move/move-compiler-v2/tests/testsuite.rs
Due: rust-fmt

update tests
  third_party/move/move-compiler-v2/tests/control-flow-simplification/jump-label.move
Due: none

format
  third_party/move/move-compiler-v2/tests/testsuite.rs
Due: rust-fmt
