Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Update whats-new-in-docs.md
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

[telemetry-service] Clean up API v0 (#6384)
  Cargo.lock
  Cargo.toml
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/custom_event.rs
  crates/aptos-telemetry/src/sender.rs
  crates/aptos-telemetry/src/service.rs
  crates/aptos-telemetry/src/telemetry_log_sender.rs
Due: rust-fmt, rust-cargo-sort

Add missing markdown link brace
  developer-docs-site/docs/tutorials/first-multisig.md
Due: none

[telemetry-service] use common names for chain full node mapping
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/errors.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt

Update whats-new-in-docs.md (#6446)
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

[release-tooling] Fix release tooling for 1.2.0
  Cargo.lock
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/data/example.yaml
  aptos-move/aptos-release-builder/src/components/consensus_config.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-release-builder/src/components/framework.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
  testsuite/smoke-test/src/upgrade.rs
Due: rust-fmt, prettier-fmt

[telemetry-service] use common names for chain full node mapping (#6385)
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/errors.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt

fixup! [release-tooling] Fix release tooling for 1.2.0
  aptos-move/aptos-release-builder/data/example.yaml
  aptos-move/aptos-release-builder/src/components/mod.rs
Due: rust-fmt, prettier-fmt

indexer_integration
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/pnpm-lock.yaml
  ecosystem/typescript/sdk/src/connection.test.ts
  ecosystem/typescript/sdk/src/connection.ts
  ecosystem/typescript/sdk/src/indexer_client.test.ts
  ecosystem/typescript/sdk/src/indexer_client.ts
Due: prettier-fmt

Add link to resource accounts guide from first reference in Mint NFT with CLI tutorial
  developer-docs-site/docs/guides/move-guides/mint-nft-cli.md
Due: none

Refine and interlink indexer docs, expose indexer at top level of nodes docs in nav (#6445)
  developer-docs-site/docs/guides/indexing.md
  developer-docs-site/docs/nodes/indexer-fullnode.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
Due: prettier-fmt

indexer_integration
  ecosystem/typescript/sdk/src/connection.test.ts
Due: prettier-fmt

[release-tooling] Fix release tooling for 1.2.0 (#6337)
  Cargo.lock
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/data/example.yaml
  aptos-move/aptos-release-builder/src/components/consensus_config.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-release-builder/src/components/framework.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
  testsuite/smoke-test/src/upgrade.rs
Due: rust-fmt, prettier-fmt

Address review fedback
  developer-docs-site/docs/cli-tools/aptos-cli-tool/automated-install-aptos-cli.md
Due: none

test_db_restore: limit --concurrent-downloads
  testsuite/smoke-test/src/storage.rs
Due: rust-fmt

fix flaky test_db_restore: avoid race to initialize backup store
  storage/backup/backup-cli/src/metadata/cache.rs
  testsuite/smoke-test/src/storage.rs
Due: rust-fmt

[State Sync] Provide better support for invalid requests.
  state-sync/storage-service/server/Cargo.toml
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/logging.rs
  state-sync/storage-service/server/src/tests.rs
Due: rust-fmt

[Nightly] Add slack support to fullnode jobs.
  .github/actions/fullnode-sync/fullnode_sync.py
  .github/workflows/fullnode-execute-devnet-main.yaml
  .github/workflows/fullnode-fast-mainnet-main.yaml
  .github/workflows/fullnode-fast-testnet-main.yaml
  .github/workflows/fullnode-intelligent-devnet-main.yaml
  .github/workflows/fullnode-output-mainnet-main.yaml
Due: prettier-fmt

[Workflows] Add 3 more fullnode sync tests.
  .github/actions/fullnode-sync/fullnode_sync.py
  .github/workflows/fullnode-execute-devnet-stable.yaml
  .github/workflows/fullnode-fast-mainnet-stable.yaml
  .github/workflows/fullnode-fast-testnet-stable.yaml
Due: prettier-fmt

Add password-protected keystorage, begin CLI
  ecosystem/python/sdk/aptos_sdk/account.py
  ecosystem/python/sdk/aptos_sdk/amee.py
Due: none

Tell user if their CLI is out of date
  crates/aptos/src/main.rs
  crates/aptos/src/update/helpers.rs
  crates/aptos/src/update/mod.rs
Due: rust-fmt

[replay-verify] port to python
  .gitignore
  scripts/replay-verify/fixtures/backup_oneshot.fixture
  scripts/replay-verify/replay_verify.py
  scripts/replay-verify/run_local_replay_verify.py
  scripts/replay-verify/test_replay_verify.py
Due: none

[replay-verify] always clear backup artifacts between runs
  scripts/replay-verify/replay_verify.py
Due: none

[gha] combine buildx and auth setup into docker-setup
  .github/actions/docker-buildx-setup/action.yaml
  .github/actions/docker-setup/action.yaml
  .github/actions/gar-auth/action.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/docker-rust-build.yaml
  .github/workflows/sdk-release.yaml
Due: prettier-fmt

[gha] use new replay-verify in workflows
  .github/actions/replay-verify/action.yaml
  .github/workflows/replay-verify-mainnet.yaml
  .github/workflows/replay-verify-testnet.yaml
Due: prettier-fmt

[gha] clean up rust and docker buildx setup
  .github/actions/docker-buildx-setup/action.yaml
  .github/actions/rust-setup/action.yaml
Due: prettier-fmt

Silence dead code warnings in consensus
  consensus/src/payload_manager.rs
  consensus/src/state_computer.rs
Due: rust-fmt

Reset values in prep for merge
  config/src/config/consensus_config.rs
  types/src/on_chain_config/consensus_config.rs
Due: rust-fmt

[replay-verify] configurable backup read
  .github/workflows/replay-verify-mainnet.yaml
  .github/workflows/replay-verify-testnet.yaml
Due: prettier-fmt

address naming
  consensus/consensus-types/src/proof_of_store.rs
  types/src/validator_verifier.rs
Due: rust-fmt

Silence dead code warnings in consensus (#6456)
  consensus/src/payload_manager.rs
  consensus/src/state_computer.rs
Due: rust-fmt

[module-verify] move replay and module verify to testsuite
  .github/actions/module-verify/action.yaml
  .github/actions/verify-modules/action.yaml
  .github/workflows/module-verify-mainnet.yaml
  .github/workflows/module-verify-testnet.yaml
  .github/workflows/replay-verify-mainnet.yaml
  .github/workflows/replay-verify-testnet.yaml
  .gitignore
  testsuite/README.md
  testsuite/fixtures/backup_oneshot.fixture
  testsuite/module_verify.py
  testsuite/module_verify_run_local.py
  testsuite/replay_verify.py
  testsuite/replay_verify_run_local.py
  testsuite/replay_verify_test.py
  testsuite/verify_core/__init__.py
  testsuite/verify_core/common.py
Due: prettier-fmt

[gha] combine verify workflows for each network
  .github/workflows/module-verify-mainnet.yaml
  .github/workflows/module-verify-testnet.yaml
  .github/workflows/module-verify.yaml
  .github/workflows/replay-verify.yaml
  testsuite/module_verify.py
  testsuite/verify_core/common.py
Due: prettier-fmt

[testsuite] fix test fixtures and pyright
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/forge.py
  testsuite/forge_test.py
  testsuite/forge_wrapper_core/cluster.py
  testsuite/replay_verify.py
  testsuite/replay_verify_test.py
  testsuite/verify_core/common.py
Due: none

[replay-verify] address comments
  testsuite/replay_verify.py
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
