Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

New translations node-health-checker.md (Chinese Simplified)
  developer-docs-site/translations/zh-CN/developer-docs-site/docs/nodes/node-health-checker.md
Due: none

[Forge] Fix local mode forge run
  testsuite/run_forge.sh
Due: none

[code publishing] Programmatic publishing
  Cargo.lock
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/code_context.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/move-deps/Cargo.toml
  crates/aptos/src/move_tool/aptos_debug_natives.rs
Due: rust-fmt

Update source file node-health-checker-faq.md
  developer-docs-site/docs/nodes/node-health-checker-faq.md
Due: none

Update source file node-health-checker.md
  developer-docs-site/docs/nodes/node-health-checker.md
Due: none

Play around
  api/src/indexer_extractor.rs
  api/src/lib.rs
  api/src/runtime.rs
Due: rust-fmt

rebase
  api/src/runtime.rs
Due: rust-fmt

remove async
  api/src/indexer_extractor.rs
  api/src/runtime.rs
Due: rust-fmt

[api] Add an experimental raw DB data API
  api/src/context.rs
  api/src/data.rs
  api/src/index.rs
  api/src/lib.rs
Due: rust-fmt

[helm][aptos-node] config for incremental pruning
  terraform/helm/aptos-node/files/configs/fullnode.yaml
  terraform/helm/aptos-node/files/configs/validator.yaml
  terraform/helm/aptos-node/values.yaml
Due: prettier-fmt

devtools: measure and report test coverage to codecov.io
  .github/actions/upload-test-results/action.yaml
  .github/workflows/coverage.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/run-forge.yaml
  codecov.yml
Due: prettier-fmt

[API] Rework response and error handling
  Cargo.lock
  api/Cargo.toml
  api/src/context.rs
  api/src/failpoint.rs
  api/src/poem_backend/accept_type.rs
  api/src/poem_backend/accounts.rs
  api/src/poem_backend/events.rs
  api/src/poem_backend/index.rs
  api/src/poem_backend/mod.rs
  api/src/poem_backend/page.rs
  api/src/poem_backend/response.rs
  api/src/poem_backend/transactions.rs
  api/types/src/transaction.rs
Due: rust-fmt

[Aptos Framework][Prover] Made the Aptos Framework compatible with Prover
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/bucket_table.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/aptos-framework/sources/transaction_context.move
  aptos-move/framework/aptos-stdlib/Move.toml
  aptos-move/framework/aptos-stdlib/sources/signature.move
  aptos-move/framework/aptos-stdlib/sources/table.spec.move
  aptos-move/framework/aptos-stdlib/sources/type_info.move
  aptos-move/framework/move-stdlib/sources/error.move
  aptos-move/framework/move-stdlib/sources/hash.move
Due: none

[transaction-builder-generator] make it compile and some cleanups
  Cargo.lock
  aptos-move/framework/src/main.rs
  aptos-move/transaction-builder-generator/Cargo.toml
  aptos-move/transaction-builder-generator/src/common.rs
  aptos-move/transaction-builder-generator/src/lib.rs
  aptos-move/transaction-builder-generator/src/rust.rs
Due: rust-fmt

[types] remove VecBytes
  aptos-move/aptos-sdk-builder/src/common.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/tests/staged/aptos.yaml
  types/src/proptest_types.rs
  types/src/transaction/mod.rs
  types/src/transaction/transaction_argument.rs
Due: rust-fmt, prettier-fmt

transaction-builder-generator -> aptos-sdk-builder
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-sdk-builder/Cargo.toml
  aptos-move/aptos-sdk-builder/README.md
  aptos-move/aptos-sdk-builder/examples/rust/script_fun_demo.rs
  aptos-move/aptos-sdk-builder/src/common.rs
  aptos-move/aptos-sdk-builder/src/lib.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  aptos-move/aptos-sdk-builder/tests/cli.rs
  aptos-move/aptos-sdk-builder/tests/generation.rs
  aptos-move/aptos-sdk-builder/tests/keyworded_registry.goldenfile.yaml
  aptos-move/aptos-sdk-builder/tests/keyworded_registry.yaml
  aptos-move/framework/Cargo.toml
  aptos-move/framework/cached-packages/src/generated_aptos_txn_builder.rs
  aptos-move/framework/src/release.rs
  crates/aptos-faucet-cli/README.md
  crates/aptos-faucet/README.md
Due: rust-fmt, rust-cargo-sort, prettier-fmt

[cached-framework] commit sdk builder files
  aptos-move/aptos-sdk-builder/src/rust.rs
  aptos-move/framework/cached-packages/build.rs
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/cached-packages/src/aptos_sdk_builder.rs
  aptos-move/framework/cached-packages/src/aptos_stdlib.rs
  aptos-move/framework/cached-packages/src/aptos_token_sdk_builder.rs
  aptos-move/framework/cached-packages/src/lib.rs
Due: rust-fmt

[move-e2e-tests] cleanup println
  aptos-move/e2e-testsuite/src/tests/on_chain_configs.rs
Due: rust-fmt

fix service name for postgres
  docker/compose/indexer-postgres/docker-compose.yaml
Due: prettier-fmt

[Token] pubish Token Modules to 0x2 in Genesis
  aptos-move/af-cli/src/main.rs
  aptos-move/framework/cached-packages/src/lib.rs
  aptos-move/vm-genesis/src/lib.rs
  sdk/transaction-builder/src/error_explain.rs
Due: rust-fmt

[Token] Switch to new Token Standard
  aptos-move/framework/aptos-framework/sources/token.move
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/aptos-token/sources/token_coin_swap.move
  aptos-move/framework/aptos-token/sources/token_transfers.move
Due: none

[Token] replace token.move with tokenv1
  api/types/src/convert.rs
  aptos-move/framework/cached-packages/build.rs
  aptos-move/framework/cached-packages/src/generated_token_txn_builder.rs
  aptos-move/framework/src/aptos.rs
  aptos-move/vm-genesis/src/lib.rs
  developer-docs-site/static/examples/python/first_nft.py
  developer-docs-site/static/examples/python/first_transaction.py
  developer-docs-site/static/examples/typescript/first_nft.ts
  developer-docs-site/static/examples/typescript/first_transaction.ts
  ecosystem/indexer/src/models/token.rs
  ecosystem/typescript/sdk/src/token_client.ts
  sdk/transaction-builder/src/lib.rs
  testsuite/smoke-test/src/nft_transaction.rs
Due: rust-fmt, prettier-fmt

[token] fix ts sdk and examples
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/token_client.test.ts
  ecosystem/typescript/sdk/src/token_client.ts
Due: prettier-fmt

[Token] change transaction builder errormap from a vec of errormap from multiple packages
  aptos-move/af-cli/src/main.rs
  aptos-move/framework/cached-packages/src/lib.rs
  aptos-move/framework/src/aptos.rs
  aptos-move/vm-genesis/src/lib.rs
  sdk/transaction-builder/src/error_explain.rs
Due: rust-fmt

[Forge] Fix local mode forge run (#2153)
  testsuite/run_forge.sh
Due: none

[gha] sticky forge comment and docs
  .github/workflows/run-forge.yaml
  terraform/helm/genesis/templates/genesis.yaml
  testsuite/run_forge.sh
Due: prettier-fmt

[Aptos Framework] Replace GovernanceProposal with AptosFramework signer in stake and block's update functions
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/configs/stake.move
Due: none

[Aptos Framework] Validate against empty execution hash in voting::resolve()
  aptos-move/aptos-vm/src/move_vm_ext/transaction_context.rs
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/voting.move
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
