Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

update license
  LICENSE
  README.md
Due: none

Various optimizations
  .cargo/config.toml
  Cargo.lock
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  docker/builder/build-indexer.sh
  docker/builder/build-node.sh
  docker/builder/build-tools.sh
  docker/builder/builder.Dockerfile
  docker/builder/docker-bake-rust-all.hcl
  scripts/dev_setup.sh
  storage/schemadb/Cargo.toml
  testsuite/single_node_performance_values.tsv
Due: none

Addressing reviewer comments
  aptos-move/framework/move-stdlib/doc/reflect.md
  aptos-move/framework/move-stdlib/doc/result.md
  aptos-move/framework/move-stdlib/sources/reflect.move
  aptos-move/framework/move-stdlib/sources/result.move
  aptos-move/framework/move-stdlib/src/natives/reflect.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
Due: rust-fmt

Fix features.move
  aptos-move/framework/move-stdlib/sources/configs/features.move
Due: none

[gha] monitor gha rate limit
  .github/workflows/rate-limit.yaml
Due: prettier-fmt

Use jemalloc in benchmark
  Cargo.lock
  aptos-move/e2e-benchmark/Cargo.toml
  aptos-move/e2e-benchmark/src/main.rs
Due: rust-fmt

check api code
  third_party/move/move-bytecode-verifier/bytecode-verifier-tests/src/support/mod.rs
  third_party/move/move-bytecode-verifier/bytecode-verifier-tests/src/unit_tests/code_unit_tests.rs
  third_party/move/move-bytecode-verifier/src/code_unit_verifier.rs
  third_party/move/move-core/types/src/vm_status.rs
Due: rust-fmt

test
  types/src/block_executor/config.rs
Due: rust-fmt

fix
  third_party/move/move-vm/runtime/src/storage/publishing.rs
Due: rust-fmt

Use the new runners for Docker Rust builds and checks
  .github/workflows/lint-test.yaml
  .github/workflows/workflow-run-docker-rust-build.yaml
Due: prettier-fmt

remove enable flag
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

Changed idx to u16 to respect 32bytes Value size requirement
  third_party/move/move-vm/types/src/values/values_impl.rs
Due: rust-fmt

Introduce a new runtime mitigation for reference aliasing by including tags in IndexedRef values. Add new transactional tests for enum borrow field safety and reference safety in the Move VM.
  Cargo.lock
  Cargo.toml
  third_party/move/move-bytecode-verifier/fuzz/.gitignore
  third_party/move/move-bytecode-verifier/fuzz/Cargo.toml
  third_party/move/move-bytecode-verifier/fuzz/README.md
  third_party/move/move-bytecode-verifier/fuzz/fuzz_targets/code_unit.rs
  third_party/move/move-bytecode-verifier/fuzz/fuzz_targets/compiled_module.rs
  third_party/move/move-bytecode-verifier/fuzz/fuzz_targets/mixed.rs
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/enum_borrow_field_invalid.exp
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/enum_borrow_field_invalid.masm
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/vec_imm_borrow_aliasing.exp
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/vec_imm_borrow_aliasing.masm
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_happy.exp
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_happy.masm
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_local_swap.exp
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_local_swap.masm
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_nested_swap.exp
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_nested_swap.masm
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_nested_vec_swap.exp
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_nested_vec_swap.masm
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_stale_read.exp
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_stale_read.masm
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_vec_closure_replace.exp
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_vec_closure_replace.masm
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_vec_replace.exp
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_vec_replace.masm
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Due: rust-fmt, rust-cargo-sort

Improve tests
  third_party/move/move-vm/types/src/values/value_prop_tests.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Due: rust-fmt

More tests for corner cases
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_aliasing.exp
  third_party/move/move-vm/transactional-tests/tests/paranoid-tests/indexed_ref_tag/indexed_ref_tag_aliasing.move
Due: none

fmt
  third_party/move/move-vm/types/src/values/values_impl.rs
Due: rust-fmt

Clean-up
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/enum_borrow_field_invalid.exp
  third_party/move/move-bytecode-verifier/transactional-tests/tests/reference_safety/enum_borrow_field_invalid.masm
  third_party/move/move-vm/types/src/values/value_prop_tests.rs
Due: rust-fmt

[aptos-vm] Cache keyless configs in environment
  Cargo.lock
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-release-builder/src/simulate.rs
  aptos-move/aptos-transaction-simulation-session/src/session.rs
  aptos-move/aptos-vm-environment/Cargo.toml
  aptos-move/aptos-vm-environment/src/environment.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/keyless_validation.rs
  aptos-move/e2e-move-tests/src/tests/vm.rs
  aptos-move/e2e-tests/src/executor.rs
  crates/aptos/src/common/local_simulation.rs
  execution/executor-benchmark/src/native/aptos_vm_uncoordinated.rs
  experimental/execution/ptx-executor/src/runner.rs
  testsuite/smoke-test/src/keyless.rs
  testsuite/smoke-test/src/utils.rs
  types/src/keyless/configuration.rs
  types/src/keyless/groth16_vk.rs
  types/src/keyless/mod.rs
  vm-validator/src/vm_validator.rs
Due: rust-fmt

remove buggy code
  third_party/move/move-vm/runtime/src/storage/publishing.rs
Due: rust-fmt

Remove UnsignedTranscript
  crates/aptos-dkg/src/pvss/chunky/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/public_parameters.rs
  crates/aptos-dkg/src/pvss/chunky/transcript.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
Due: rust-fmt

[aptos fuzz] add fuzzing target for u256
  Cargo.lock
  Cargo.toml
  testsuite/fuzzer/fuzz/Cargo.toml
  testsuite/fuzzer/fuzz/dictionaries/u256.dict
  testsuite/fuzzer/fuzz/fuzz_targets/u256_diff_fuzz.rs
Due: rust-fmt, rust-cargo-sort

[aptos-release-v1.38] Bump version to 1.38.4
  Cargo.lock
  aptos-node/Cargo.toml
Due: none

fix (#18191)
  third_party/move/move-vm/runtime/src/storage/publishing.rs
Due: rust-fmt

[aptos-vm] Cache keyless configs in environment
  .gitignore
  Cargo.lock
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-release-builder/src/simulate.rs
  aptos-move/aptos-transaction-simulation-session/src/session.rs
  aptos-move/aptos-vm-environment/Cargo.toml
  aptos-move/aptos-vm-environment/src/environment.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/aptos-vm/src/keyless_validation.rs
  aptos-move/e2e-move-tests/src/tests/vm.rs
  aptos-move/e2e-tests/src/executor.rs
  crates/aptos/src/common/local_simulation.rs
  execution/executor-benchmark/src/native/aptos_vm_uncoordinated.rs
  experimental/execution/ptx-executor/src/runner.rs
  testsuite/smoke-test/src/keyless.rs
  testsuite/smoke-test/src/utils.rs
  types/src/keyless/configuration.rs
  types/src/keyless/groth16_vk.rs
  types/src/keyless/mod.rs
  vm-validator/src/vm_validator.rs
Due: rust-fmt

[qs] Introduce BatchInfoExt enum
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/opt_proposal_msg.rs
  consensus/consensus-types/src/payload.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/proposal_msg.rs
  consensus/src/epoch_manager.rs
  consensus/src/payload_manager/quorum_store_payload_manager.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_proof_queue.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/quorum_store_coordinator.rs
  consensus/src/quorum_store/tests/batch_proof_queue_test.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_tests/mod.rs
Due: rust-fmt

[qs] support signing BatchInfoExt behind flag
  config/src/config/quorum_store_config.rs
  consensus/src/network.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_coordinator_test.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/test_utils/mock_quorum_store_sender.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[qs] send proof v2 support with flag
  config/src/config/quorum_store_config.rs
  consensus/src/network.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/test_utils/mock_quorum_store_sender.rs
Due: rust-fmt

fixes
  config/src/config/quorum_store_config.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/quorum_store_builder.rs
Due: rust-fmt

Introduce SignedBatchInfoV2 and ProofOfStoreV2 msgs
  consensus/src/network_interface.rs
Due: rust-fmt

Support persisting BatchInfoExt
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/quorum_store_db.rs
  consensus/src/quorum_store/tests/batch_coordinator_test.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
  consensus/src/quorum_store/types.rs
  consensus/src/round_manager.rs
  consensus/src/test_utils/mock_quorum_store_sender.rs
Due: rust-fmt

[qs] Generic Batch struct and new DB schema for Batch with Ext
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/quorum_store_db.rs
  consensus/src/quorum_store/schema.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
  consensus/src/quorum_store/tests/quorum_store_db_test.rs
  consensus/src/quorum_store/types.rs
  consensus/src/round_manager.rs
  consensus/src/test_utils/mock_quorum_store_sender.rs
  consensus/src/util/db_tool.rs
Due: rust-fmt
