Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

doc update
  aptos-move/framework/aptos-stdlib/doc/algebra_bls12381.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra_bls12381.move
Due: none

[Docs][Tutorials] Update your first coin tutorial to use aptos_coin::transfer_coins
  developer-docs-site/docs/tutorials/first-coin.md
  ecosystem/typescript/sdk/examples/typescript/common.ts
  ecosystem/typescript/sdk/examples/typescript/your_coin.ts
Due: prettier-fmt

Update coin_client in the TS SDK
  ecosystem/typescript/sdk/src/plugins/coin_client.ts
Due: prettier-fmt

tidy up
  aptos-move/framework/src/natives/cryptography/algebra/gas.rs
Due: rust-fmt

Make small edits to new faucet integration contents
  developer-docs-site/docs/guides/system-integrators-guide.md
Due: none

Expand on derive-resource-account-address
  developer-docs-site/docs/nodes/validator-node/operator/delegation-pool-operations.md
Due: none

Break up External Resources into Tools and Tutorials, link to them throughout Node docs (#7313)
  developer-docs-site/docs/community/external-resources.md
  developer-docs-site/docs/nodes/full-node/index.md
  developer-docs-site/docs/nodes/nodes-landing.md
  developer-docs-site/docs/nodes/validator-node/index.md
  developer-docs-site/docusaurus.config.js
Due: prettier-fmt

Update transfer in the Python SDK
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/typescript/sdk/examples/typescript/common.ts
  ecosystem/typescript/sdk/src/plugins/coin_client.ts
Due: prettier-fmt

wip
  testsuite/forge/src/backend/k8s/chaos/network_bandwidth.yaml
  testsuite/testcases/src/multi_region_simulation_test.rs
Due: rust-fmt, prettier-fmt

test PR
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Make direct edits to new glossary entries
  developer-docs-site/docs/reference/glossary.md
Due: none

Fix link to indexing guide
  developer-docs-site/docs/reference/glossary.md
Due: none

measure sequential execution tps and speed up
  aptos-move/aptos-transaction-benchmarks/src/main.rs
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
Due: rust-fmt

delegation-pool-operations (#7117)
  developer-docs-site/docs/nodes/validator-node/operator/delegation-pool-operations.md
Due: none

add transfer_shares and pool invariant spec (#7290)
  aptos-move/framework/aptos-stdlib/doc/pool_u64_unbound.md
  aptos-move/framework/aptos-stdlib/sources/pool_u64_unbound.spec.move
Due: none

Create README.md for `move-examples`
  aptos-move/move-examples/README.md
Due: none

Update Latest Releases to aptos-node-v1.3.1 and Aptos Node Release v1.2.7
  developer-docs-site/docs/releases/devnet-release.md
  developer-docs-site/docs/releases/mainnet-release.md
  developer-docs-site/docs/releases/testnet-release.md
Due: none

lint
  aptos-move/aptos-transaction-benchmarks/src/main.rs
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
Due: rust-fmt

Update README.md
  aptos-move/move-examples/README.md
Due: none

to_vec_pair and upsert
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
  aptos-move/framework/aptos-stdlib/sources/simple_map.spec.move
Due: none

Add Docker SHA for mainnet and testnet
  developer-docs-site/docs/releases/mainnet-release.md
  developer-docs-site/docs/releases/testnet-release.md
Due: none

Add test of complicated nested structs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/e2e-move-tests/src/tests/object_args.data/pack/sources/object_test.move
  aptos-move/e2e-move-tests/src/tests/object_args.rs
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/doc/option.md
  aptos-move/framework/move-stdlib/sources/option.move
  aptos-move/framework/src/extended_checks.rs
Due: rust-fmt

Add test of complicated nested structs
  aptos-move/e2e-move-tests/src/tests/object_args.rs
Due: rust-fmt

Add test of complicated nested structs
  third_party/move/move-vm/runtime/src/loader.rs
Due: rust-fmt

fix comments and examples
  aptos-move/framework/aptos-framework/sources/fungible_asset/fungible_asset.move
  aptos-move/framework/aptos-framework/sources/fungible_asset/fungible_caps.move
  aptos-move/framework/aptos-framework/sources/fungible_asset/fungible_source.move
  aptos-move/framework/aptos-framework/sources/fungible_asset/fungible_store.move
  aptos-move/framework/aptos-framework/sources/fungible_asset/managed_fungible_source.move
  aptos-move/move-examples/fungible_asset/sources/coin.move
  aptos-move/move-examples/fungible_asset/sources/node_code_coin.move
Due: none

Add test of complicated nested structs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
Due: rust-fmt

blockstm-only benchmark: measure sequential execution tps and speed up (#7318)
  aptos-move/aptos-transaction-benchmarks/src/main.rs
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
Due: rust-fmt

to_vec_pair and upsert (#7225)
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
  aptos-move/framework/aptos-stdlib/sources/simple_map.spec.move
Due: none

consistently update total_coins_inactive when withdraw inactive stake
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

fix autogen docs
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/doc/fungible_caps.md
  aptos-move/framework/aptos-framework/doc/fungible_source.md
  aptos-move/framework/aptos-framework/doc/fungible_store.md
  aptos-move/framework/aptos-framework/doc/managed_fungible_source.md
  aptos-move/framework/aptos-framework/doc/overview.md
Due: none

fix tests
  aptos-move/framework/aptos-framework/sources/fungible_asset/fungible_store.move
Due: none

assert min-balance or none when redeeming too
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

Create README.md for `move-examples` (#7319)
  aptos-move/move-examples/README.md
Due: none

format
  aptos-move/framework/src/extended_checks.rs
Due: rust-fmt

multi-region sim with 4 regions
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/data/latency_table.csv
  testsuite/testcases/src/multi_region_simulation_test.rs
Due: rust-fmt

Show inability of generic string param
  aptos-move/e2e-move-tests/src/tests/string_args.data/pack/sources/hello.move
  aptos-move/e2e-move-tests/src/tests/string_args.rs
Due: rust-fmt

show bug
  aptos-move/e2e-move-tests/src/tests/string_args.data/pack/sources/hello.move
  aptos-move/e2e-move-tests/src/tests/string_args.rs
Due: rust-fmt

example of a drand-based lottery
  aptos-move/move-examples/drand_lottery/Move.toml
  aptos-move/move-examples/drand_lottery/sources/drand.move
  aptos-move/move-examples/drand_lottery/sources/lottery.move
  aptos-move/move-examples/drand_lottery/sources/lottery_test.move
  aptos-move/move-examples/tests/move_unit_tests.rs
Due: rust-fmt

Ignore failing test
  aptos-move/e2e-move-tests/src/tests/string_args.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
