Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[voting] add more view functions to the voting module
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/voting.move
Due: none

[TS SDK V2] Port over transaction types (#10364)
  ecosystem/typescript/sdk_v2/src/transactions/types/chainId.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/identifier.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/index.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/moduleId.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/rawTransaction.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/transactionArguments.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/transactionPayload.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
Due: prettier-fmt

[CLI] Restructure local testnet code (#10252)
  Cargo.lock
  Cargo.toml
  crates/aptos/Cargo.toml
  crates/aptos/e2e/cases/account.py
  crates/aptos/e2e/local_testnet.py
  crates/aptos/e2e/main.py
  crates/aptos/src/node/local_testnet/faucet.rs
  crates/aptos/src/node/local_testnet/health_checker.rs
  crates/aptos/src/node/local_testnet/mod.rs
  crates/aptos/src/node/local_testnet/node.rs
  crates/aptos/src/node/local_testnet/ready_server.rs
  crates/aptos/src/node/local_testnet/traits.rs
  crates/aptos/src/node/local_testnet/utils.rs
Due: rust-fmt, rust-cargo-sort

Update index.md
  developer-docs-site/docs/nodes/validator-node/voter/index.md
Due: none

[release-builder] Fix increase lockup
  Cargo.lock
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/src/validate.rs
Due: rust-fmt

3f + 1
  types/src/validator_verifier.rs
Due: rust-fmt

[Remove VFNs]
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[State Sync] Tweak configs for performance.
  config/src/config/network_config.rs
  config/src/config/state_sync_config.rs
  storage/storage-interface/src/lib.rs
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/multi_region_network_test.rs
Due: rust-fmt

fixed possible lost wakeup
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

transaction types
  ecosystem/typescript/sdk_v2/src/transactions/types/moduleId.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/rawTransaction.ts
Due: prettier-fmt

address comments
  ecosystem/typescript/sdk_v2/src/transactions/types/moduleId.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/rawTransaction.ts
Due: prettier-fmt

authenticators
  ecosystem/typescript/sdk_v2/src/crypto/ed25519.ts
  ecosystem/typescript/sdk_v2/src/transactions/authenticator/account.ts
  ecosystem/typescript/sdk_v2/src/transactions/authenticator/transaction.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/signedTransaction.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
Due: prettier-fmt

Replace aggregator v2 ids with values
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  types/src/write_set.rs
Due: rust-fmt

previewnet flow in the benchmark
  execution/executor-benchmark/src/lib.rs
  testsuite/single_node_performance.py
Due: rust-fmt

[Sharded-Execution] Fix a race condition while fetching the state values on a shard from a remote stateview (#10320)
  execution/executor-service/src/remote_state_view.rs
Due: rust-fmt

[SDKv2] derive publickey unit test (#10358)
  ecosystem/typescript/sdk_v2/tests/unit/ed25519.test.ts
Due: prettier-fmt

Add transaction fetch queries to sdk-v2 api
  ecosystem/typescript/sdk_v2/src/api/transaction.ts
  ecosystem/typescript/sdk_v2/src/internal/transaction.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
  ecosystem/typescript/sdk_v2/src/utils/const.ts
  ecosystem/typescript/sdk_v2/src/utils/helpers.ts
Due: prettier-fmt

fix
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[framework] Turn on test-only checking and fix errors (#10368)
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/vesting.move
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/aptos-token/sources/token_transfers.move
  aptos-move/framework/tests/move_unit_test.rs
Due: rust-fmt

can bench with native v3 partitioner, total supply to be done
  aptos-move/aptos-vm-logging/src/lib.rs
  aptos-move/aptos-vm/src/sharded_block_executor/local_executor_shard.rs
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_executor_service.rs
  aptos-move/aptos-vm/tests/sharded_block_executor.rs
  aptos-move/block-executor/src/errors.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_provider/default.rs
  aptos-move/block-executor/src/txn_provider/mod.rs
  aptos-move/block-executor/src/txn_provider/sharded.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  execution/block-partitioner/src/lib.rs
  execution/block-partitioner/src/v3.rs
  execution/executor-benchmark/src/main.rs
  types/src/block_executor/partitioner.rs
Due: rust-fmt

[dag] hardening message verification
  consensus/src/dag/dag_handler.rs
  consensus/src/dag/tests/types_test.rs
  consensus/src/dag/types.rs
Due: rust-fmt

Fixing errors
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
Due: rust-fmt

compiling fixes
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/e2e-tests/src/executor.rs
Due: rust-fmt

fix build
  aptos-move/aptos-vm/src/sharded_block_executor/local_executor_shard.rs
Due: rust-fmt

Add CI to check for banned CLI deps (#10338)
  .github/workflows/cli-external-deps.yaml
  crates/aptos/scripts/check_dynamic_deps.sh
Due: prettier-fmt

cleanup
  config/src/config/netbench.rs
  network/benchmark/src/lib.rs
Due: rust-fmt

more cleanup
  network/benchmark/src/lib.rs
Due: rust-fmt

First reincarnation of the block stm updates
  Cargo.lock
  Cargo.toml
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
Due: rust-fmt, rust-cargo-sort

32 MB/s
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

refactor: replace multiply_then_divide using math64::mul_div (#10047)
  aptos-move/framework/aptos-framework/doc/delegation_pool.md
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

[ts sdk-v2] Mini get/post request refactor
  ecosystem/typescript/sdk_v2/src/client/get.ts
  ecosystem/typescript/sdk_v2/src/client/post.ts
  ecosystem/typescript/sdk_v2/src/internal/general.ts
Due: prettier-fmt

[TS SDK V2] Port over account and transaction authenticator, signed transaction type (#10367)
  ecosystem/typescript/sdk_v2/src/crypto/ed25519.ts
  ecosystem/typescript/sdk_v2/src/transactions/authenticator/account.ts
  ecosystem/typescript/sdk_v2/src/transactions/authenticator/transaction.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/signedTransaction.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
Due: prettier-fmt

Minor changes
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
Due: rust-fmt

previewnet flow in the benchmark (#10305)
  execution/executor-benchmark/src/lib.rs
  testsuite/single_node_performance.py
Due: rust-fmt

fallback to single coordinator
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

[ts sdk-v2] Mini get/post request refactor (#10380)
  ecosystem/typescript/sdk_v2/src/client/get.ts
  ecosystem/typescript/sdk_v2/src/client/post.ts
  ecosystem/typescript/sdk_v2/src/internal/general.ts
Due: prettier-fmt

Update staking-pool-operations.md
  developer-docs-site/docs/nodes/validator-node/operator/staking-pool-operations.md
Due: none

fix micros
  network/benchmark/src/lib.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
