Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Update tests
  third_party/move/move-compiler-v2/tests/bytecode-generator/matching_ok.exp
  third_party/move/move-compiler-v2/tests/checking/abilities/v1/ability_constraints.exp
  third_party/move/move-compiler-v2/tests/checking/typing/v1-examples/multi_pool_money_market_token.exp
  third_party/move/move-compiler-v2/tests/checking/typing/vector_basic_cases.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/struct_variants.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/struct_variants.opt.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/unpack_generic_struct.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/unpack_generic_struct.opt.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/unpack_generic_struct_typed.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/unpack_generic_struct_typed.opt.exp
  third_party/move/move-compiler-v2/tests/live-var/mut_ref.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/drop_ref_in_branch.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/drop_ref_in_branch.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/round-trip/enum_matching.decompiled
  third_party/move/move-prover/move-docgen/tests/sources/attribute_placement.spec_inline.md
  third_party/move/move-prover/move-docgen/tests/sources/attribute_placement.spec_inline_no_fold.md
  third_party/move/move-prover/move-docgen/tests/sources/attribute_placement.spec_separate.md
  third_party/move/tools/move-decompiler/tests/testsuite.rs
Due: rust-fmt

Replace match with if-else
  third_party/move/move-compiler-v2/tests/macros/assert_eq.exp
  third_party/move/move-compiler-v2/tests/macros/assert_ne.exp
  third_party/move/move-model/src/builder/macros.rs
Due: rust-fmt

Borrow formatted message
  third_party/move/move-compiler-v2/tests/macros/assert.exp
  third_party/move/move-compiler-v2/tests/macros/assert.move
  third_party/move/move-compiler-v2/tests/macros/assert_eq.exp
  third_party/move/move-compiler-v2/tests/macros/assert_eq.move
  third_party/move/move-compiler-v2/tests/macros/assert_ne.exp
  third_party/move/move-compiler-v2/tests/macros/assert_ne.move
  third_party/move/move-model/src/builder/macros.rs
Due: rust-fmt

Do not stop after first AST pipeline
  third_party/move/move-compiler-v2/tests/macros/assert.exp
  third_party/move/move-compiler-v2/tests/macros/assert_eq.exp
  third_party/move/move-compiler-v2/tests/macros/assert_eq.move
  third_party/move/move-compiler-v2/tests/macros/assert_ne.exp
  third_party/move/move-compiler-v2/tests/macros/assert_ne.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
Due: rust-fmt

Fix comment
  third_party/move/move-model/src/builder/macros.rs
Due: rust-fmt

Check string literal
  third_party/move/move-compiler-v2/tests/macros/assert.exp
  third_party/move/move-compiler-v2/tests/macros/assert.move
  third_party/move/move-compiler-v2/tests/macros/assert_eq.exp
  third_party/move/move-compiler-v2/tests/macros/assert_eq.move
  third_party/move/move-compiler-v2/tests/macros/assert_eq_invalid.exp
  third_party/move/move-compiler-v2/tests/macros/assert_eq_invalid.move
  third_party/move/move-compiler-v2/tests/macros/assert_invalid.exp
  third_party/move/move-compiler-v2/tests/macros/assert_invalid.move
  third_party/move/move-compiler-v2/tests/macros/assert_ne.exp
  third_party/move/move-compiler-v2/tests/macros/assert_ne.move
  third_party/move/move-compiler-v2/tests/macros/assert_ne_invalid.exp
  third_party/move/move-compiler-v2/tests/macros/assert_ne_invalid.move
  third_party/move/move-model/src/builder/macros.rs
Due: rust-fmt

Add test
  third_party/move/move-compiler-v2/tests/macros/assert_invalid.exp
  third_party/move/move-compiler-v2/tests/macros/assert_invalid.move
Due: none

Remove redundant line
  third_party/move/move-compiler-v2/tests/testsuite.rs
Due: rust-fmt

Address feedback
  third_party/move/move-model/src/builder/macros.rs
Due: rust-fmt

Feedback
  third_party/move/move-model/src/builder/macros.rs
  third_party/move/move-model/src/lib.rs
  third_party/move/move-model/src/well_known.rs
Due: rust-fmt

Changed back nesting of Vs
  crates/aptos-crypto/src/arkworks/mod.rs
  crates/aptos-dkg/benches/pvss.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_scalar_mul.rs
  crates/aptos-dkg/src/pvss/chunky/hkzg_chunked_elgamal_commit.rs
  crates/aptos-dkg/src/pvss/chunky/public_parameters.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcript.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcriptv2.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Due: rust-fmt

[CI/CD] Add batch encryption test job.
  .github/actions/rust-batch-encryption/action.yaml
  .github/actions/rust-unit-tests/action.yaml
  .github/workflows/lint-test.yaml
  devtools/aptos-cargo-cli/src/lib.rs
Due: rust-fmt, prettier-fmt

[move compiler] [CSE Step 3] add test cases for CSE
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/not-optimized/field_access.move
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/not-optimized/field_access.off.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/not-optimized/field_access.on.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/not-optimized/function_call.move
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/not-optimized/function_call.off.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/not-optimized/function_call.on.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/not-optimized/global_access.move
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/not-optimized/global_access.off.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/not-optimized/global_access.on.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/field_access.off.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/field_access.on.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/field_access_1.move
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/field_access_1.off.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/field_access_1.on.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/function_call.move
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/function_call.off.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/function_call.on.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/global_access.move
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/global_access.off.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/global_access.on.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/wired.move
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/wired.off.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/wired.on.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/wired_case.move
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/wired_case.off.exp
  third_party/move/move-compiler-v2/tests/common-subexp-elimination/optimized/wired_case.on.exp
  third_party/move/move-compiler-v2/tests/testsuite.rs
Due: rust-fmt

[docs] Add gas estimation, sequence numbers, orderless txns, and lifecycle docs
  SUMMARY_CONVO.md
  specifications/README.md
  specifications/advanced/04-gas-estimation.md
  specifications/advanced/05-sequence-numbers.md
  specifications/advanced/06-orderless-transactions.md
  specifications/advanced/07-transaction-lifecycle.md
Due: none

txn args
  api/src/tests/mod.rs
  api/src/tests/move/public_struct_enum_negative_test/Move.toml
  api/src/tests/move/public_struct_enum_negative_test/sources/negative_test.move
  api/src/tests/move/public_struct_enum_test/Move.toml
  api/src/tests/move/public_struct_enum_test/sources/public_struct_test.move
  api/src/tests/public_struct_enum_negative_test.rs
  api/src/tests/public_struct_enum_test.rs
  api/types/src/convert.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/aptos-vm/src/verifier/view_function.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/public_struct_args.data/negative_generic_private/Move.toml
  aptos-move/e2e-move-tests/src/tests/public_struct_args.data/negative_generic_private/sources/test.move
  aptos-move/e2e-move-tests/src/tests/public_struct_args.data/negative_nocopy/Move.toml
  aptos-move/e2e-move-tests/src/tests/public_struct_args.data/negative_nocopy/sources/test.move
  aptos-move/e2e-move-tests/src/tests/public_struct_args.data/negative_private/Move.toml
  aptos-move/e2e-move-tests/src/tests/public_struct_args.data/negative_private/sources/test.move
  aptos-move/e2e-move-tests/src/tests/public_struct_args.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/public_struct_args.data/pack/sources/public_struct_test.move
  aptos-move/e2e-move-tests/src/tests/public_struct_args.rs
  aptos-move/framework/move-stdlib/src/natives/bcs.rs
  aptos-move/framework/src/extended_checks.rs
  aptos-move/framework/src/natives/string_utils.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-bytecode-utils/src/layout.rs
Due: rust-fmt

Started making some serialization changes
  crates/aptos-crypto/src/arkworks/scrape.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcript.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcriptv2.rs
Due: rust-fmt

Added serializable version of Proof
  crates/aptos-crypto/src/arkworks/serialization.rs
  crates/aptos-dkg/benches/pvss.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pcs/univariate_kzg.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_scalar_mul.rs
  crates/aptos-dkg/src/pvss/chunky/hkzg_chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/hkzg_chunked_elgamal_commit.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcript.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcriptv2.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/mod.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Due: rust-fmt

[api] Add chain_id and node_type to /info endpoint
  api/src/basic.rs
  config/src/config/node_config_loader.rs
Due: rust-fmt

[config] Address review feedback: use Serialize/Deserialize imports directly
  config/src/config/node_config_loader.rs
Due: rust-fmt

[api] Use debug output for chain_id in /info endpoint
  api/src/basic.rs
Due: rust-fmt

Fix lints
  crates/aptos-batch-encryption/src/shared/symmetric.rs
  crates/aptos-batch-encryption/ts-batch-encrypt/src/curveSerialization.ts
  crates/aptos-batch-encryption/ts-batch-encrypt/test/ciphertext.test.ts
Due: rust-fmt, prettier-fmt

[compiler] New macros using abort with message (#18412)
  aptos-move/e2e-move-tests/src/tests/macros.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/macros.data/pack/sources/test.move
  aptos-move/e2e-move-tests/src/tests/macros.rs
  third_party/move/move-compiler-v2/tests/bytecode-generator/matching_ok.exp
  third_party/move/move-compiler-v2/tests/checking/abilities/v1/ability_constraints.exp
  third_party/move/move-compiler-v2/tests/checking/naming/other_builtins_invalid.exp
  third_party/move/move-compiler-v2/tests/checking/typing/v1-examples/multi_pool_money_market_token.exp
  third_party/move/move-compiler-v2/tests/checking/typing/vector_basic_cases.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/struct_variants.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/struct_variants.opt.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/unpack_generic_struct.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/unpack_generic_struct.opt.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/unpack_generic_struct_typed.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/unpack_generic_struct_typed.opt.exp
  third_party/move/move-compiler-v2/tests/live-var/mut_ref.exp
  third_party/move/move-compiler-v2/tests/macros/assert.exp
  third_party/move/move-compiler-v2/tests/macros/assert.move
  third_party/move/move-compiler-v2/tests/macros/assert_eq.exp
  third_party/move/move-compiler-v2/tests/macros/assert_eq.move
  third_party/move/move-compiler-v2/tests/macros/assert_eq_invalid.exp
  third_party/move/move-compiler-v2/tests/macros/assert_eq_invalid.move
  third_party/move/move-compiler-v2/tests/macros/assert_invalid.exp
  third_party/move/move-compiler-v2/tests/macros/assert_invalid.move
  third_party/move/move-compiler-v2/tests/macros/assert_ne.exp
  third_party/move/move-compiler-v2/tests/macros/assert_ne.move
  third_party/move/move-compiler-v2/tests/macros/assert_ne_invalid.exp
  third_party/move/move-compiler-v2/tests/macros/assert_ne_invalid.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/drop_ref_in_branch.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/round-trip/drop_ref_in_branch.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/enum/round-trip/enum_matching.decompiled
  third_party/move/move-model/src/builder/macros.rs
  third_party/move/move-model/src/lib.rs
  third_party/move/move-model/src/well_known.rs
  third_party/move/move-prover/move-docgen/tests/sources/attribute_placement.spec_inline.md
  third_party/move/move-prover/move-docgen/tests/sources/attribute_placement.spec_inline_no_fold.md
  third_party/move/move-prover/move-docgen/tests/sources/attribute_placement.spec_separate.md
  third_party/move/move-stdlib/sources/string.move
  third_party/move/tools/move-decompiler/tests/testsuite.rs
Due: rust-fmt

[consensus] Add BLS12-381 signature support to Prefix Consensus
  .gitignore
  Cargo.lock
  consensus/prefix-consensus/Cargo.toml
  consensus/prefix-consensus/src/certify.rs
  consensus/prefix-consensus/src/lib.rs
  consensus/prefix-consensus/src/protocol.rs
  consensus/prefix-consensus/src/signing.rs
  consensus/prefix-consensus/src/types.rs
  consensus/prefix-consensus/src/verification.rs
  project_context.md
Due: rust-fmt

[telemetry-service] add rate limiting and per-peer config for unknown nodes
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/custom_contract_ingest.rs
  crates/aptos-telemetry-service/src/errors.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/metrics.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/rate_limiter.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
Due: rust-fmt

[consensus] Add network message types for Prefix Consensus
  consensus/prefix-consensus/src/lib.rs
  consensus/prefix-consensus/src/network_messages.rs
Due: rust-fmt

[Network] Add simple allow and blocklist.
  config/src/config/network_config.rs
  network/builder/src/builder.rs
  network/framework/src/connectivity_manager/builder.rs
  network/framework/src/connectivity_manager/mod.rs
  network/framework/src/connectivity_manager/test.rs
  network/framework/src/peer_manager/builder.rs
  network/framework/src/peer_manager/mod.rs
  network/framework/src/peer_manager/tests.rs
Due: rust-fmt

[consensus] Add network interface adapter for Prefix Consensus
  Cargo.lock
  consensus/prefix-consensus/Cargo.toml
  consensus/prefix-consensus/src/lib.rs
  consensus/prefix-consensus/src/network_interface.rs
  project_context.md
Due: rust-fmt

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier-fmt

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier-fmt

[mono move] add design of memory management and value representation
  third_party/move/mono-move/docs/design.md
Due: none

Add test transactions with signed ints
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/generated_transactions.rs
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/134725315_signed_integers.json
Due: rust-fmt

Use different devnet transaction
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/generated_transactions.rs
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_devnet_txns/133807428_signed_integers.json
  ecosystem/indexer-grpc/indexer-test-transactions/src/json_transactions/imported_mainnet_txns/134725315_signed_integers.json
Due: rust-fmt

[forge] bump deployer version
  testsuite/forge/src/backend/k8s_deployer/constants.rs
Due: rust-fmt

made Subtranscript in chunky_v1 affine
  crates/aptos-dkg/src/pvss/chunky/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcript.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcriptv2.rs
Due: rust-fmt

[qs] Handle BatchV2 network messages
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/payload_pull_params.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_status_tracker.rs
  consensus/src/network.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
