Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

update
  testsuite/smoke-test/src/keyless.rs
Due: rust-fmt

[transaction-generator] better printing of error messages when publishing modules (#14139)
  crates/transaction-generator-lib/src/call_custom_modules.rs
Due: rust-fmt

implement a codegen library in wasm
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-intent/Cargo.toml
  aptos-move/aptos-intent/src/codegen.rs
  aptos-move/aptos-intent/src/lib.rs
  third_party/move/move-core/types/src/language_storage.rs
  third_party/move/move-core/types/src/parser.rs
Due: rust-fmt, rust-cargo-sort

feat: add get_module reqwest
  aptos-move/aptos-intent/Cargo.toml
  aptos-move/aptos-intent/index.js
  aptos-move/aptos-intent/package.json
  aptos-move/aptos-intent/src/lib.rs
  aptos-move/aptos-intent/webpack.config.js
Due: rust-fmt, prettier-fmt

Fix async
  Cargo.lock
  aptos-move/aptos-intent/Cargo.toml
  aptos-move/aptos-intent/src/codegen.rs
  aptos-move/aptos-intent/src/lib.rs
Due: rust-fmt

deserialize CompiledModule
  aptos-move/aptos-intent/src/lib.rs
Due: rust-fmt

add load module
  aptos-move/aptos-intent/Cargo.toml
  aptos-move/aptos-intent/index.js
  aptos-move/aptos-intent/src/lib.rs
Due: rust-fmt, prettier-fmt

add hex
  aptos-move/aptos-intent/Cargo.toml
Due: none

fix deserialize
  aptos-move/aptos-intent/index.js
  aptos-move/aptos-intent/src/lib.rs
Due: rust-fmt, prettier-fmt

dedup locals and parameters
  aptos-move/aptos-intent/src/codegen.rs
Due: rust-fmt

dedup
  Cargo.lock
  aptos-move/aptos-intent/src/codegen.rs
Due: rust-fmt

update parsing
  third_party/move/move-core/types/src/parser.rs
Due: rust-fmt

update index.js
  aptos-move/aptos-intent/index.js
  aptos-move/aptos-intent/package.json
  aptos-move/aptos-intent/webpack.config.js
Due: prettier-fmt

add api_url and add new npm package
  aptos-move/aptos-intent/aptos-intent-npm/dist/aptos_intent.d.ts
  aptos-move/aptos-intent/aptos-intent-npm/entry.js
  aptos-move/aptos-intent/aptos-intent-npm/package.json
  aptos-move/aptos-intent/aptos-intent-npm/rollup.config.mjs
  aptos-move/aptos-intent/index.js
  aptos-move/aptos-intent/package.json
  aptos-move/aptos-intent/src/lib.rs
  aptos-move/aptos-intent/webpack.config.js
Due: rust-fmt, prettier-fmt

dedup type argument
  Cargo.lock
  aptos-move/aptos-intent/Cargo.toml
  aptos-move/aptos-intent/index.js
  aptos-move/aptos-intent/src/codegen.rs
  aptos-move/aptos-intent/src/lib.rs
Due: rust-fmt, prettier-fmt

dump version aptos-intent-npm package 0.0.7
  aptos-move/aptos-intent/aptos-intent-npm/package.json
Due: none

dump version aptos-intent-npm package 0.0.8
  aptos-move/aptos-intent/aptos-intent-npm/package.json
Due: none

Add logics for checking invalid operations
  Cargo.lock
  aptos-move/aptos-intent/Cargo.toml
  aptos-move/aptos-intent/src/codegen.rs
  aptos-move/aptos-intent/src/lib.rs
  aptos-move/aptos-intent/src/tests/mod.rs
Due: rust-fmt

Add decompilation
  aptos-move/aptos-intent/src/builder.rs
  aptos-move/aptos-intent/src/codegen.rs
  aptos-move/aptos-intent/src/decompiler.rs
  aptos-move/aptos-intent/src/lib.rs
  aptos-move/aptos-intent/src/tests/mod.rs
Due: rust-fmt

Add metadata
  aptos-move/aptos-intent/src/codegen.rs
  aptos-move/aptos-intent/src/decompiler.rs
  aptos-move/aptos-intent/src/lib.rs
  aptos-move/aptos-intent/src/tests/mod.rs
Due: rust-fmt

Filter expired transactions
  consensus/src/block_preparer.rs
  consensus/src/counters.rs
Due: rust-fmt

[Fix] Use correct version for API, fix tests.
  api/src/accounts.rs
  api/src/tests/accounts_test.rs
  api/src/tests/transactions_test.rs
  api/src/transactions.rs
  types/src/indexer/indexer_db_reader.rs
Due: rust-fmt

fixup! Add metadata
  aptos-move/aptos-intent/src/codegen.rs
Due: rust-fmt

Add counter in proof queue for expired txns
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/utils.rs
Due: rust-fmt

lint
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/keyless_validation.rs
  aptos-move/e2e-move-tests/src/tests/keyless_feature_gating.rs
  testsuite/smoke-test/src/keyless.rs
  types/src/keyless/bn254_circom.rs
  types/src/keyless/groth16_sig.rs
  types/src/keyless/mod.rs
  types/src/keyless/test_utils.rs
  types/src/keyless/tests.rs
  types/src/transaction/authenticator.rs
Due: rust-fmt

Implement 2ms timeouts
  execution/executor-benchmark/testing-automatization/parallel_command_executors.py
  protos/rust/src/pb/aptos.remote_executor.v1.tonic.rs
Due: rust-fmt

[Forge] Double state sync chunk sizes for realistic max env.
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Filter expiring txns before other filters
  consensus/src/block_preparer.rs
Due: rust-fmt

Implement 5ms timeouts
  protos/rust/src/pb/aptos.remote_executor.v1.tonic.rs
Due: rust-fmt

No timeouts
  protos/rust/src/pb/aptos.remote_executor.v1.tonic.rs
Due: rust-fmt

[Forge] Increase PFN const TPS limits.
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Implement 11ms timeouts
  protos/rust/src/pb/aptos.remote_executor.v1.tonic.rs
Due: rust-fmt

update
  aptos-move/aptos-vm/src/keyless_validation.rs
Due: rust-fmt

Shifting the filter to txn filter
  consensus/src/block_preparer.rs
  consensus/src/counters.rs
  consensus/src/transaction_filter/mod.rs
Due: rust-fmt

update spec
  aptos-move/framework/aptos-framework/doc/reconfiguration_with_dkg.md
  aptos-move/framework/aptos-framework/sources/reconfiguration_with_dkg.spec.move
Due: none

[Forge] Increase PFN const TPS limits. (#14158)
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Used retain instead of filter+collect
  consensus/src/block_preparer.rs
  consensus/src/transaction_filter/mod.rs
Due: rust-fmt
