Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[observer] fix if let scope for mutex
  consensus/src/consensus_observer/observer/consensus_observer.rs
Due: rust-fmt

[vm] Enhance event construction
  api/src/context.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/tests/events.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/events.data/pack/sources/test_module.move
  aptos-move/e2e-move-tests/src/tests/events.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/framework/aptos-framework/doc/event.md
  aptos-move/framework/aptos-framework/sources/event.move
  aptos-move/framework/src/natives/event.rs
  aptos-move/replay-benchmark/Cargo.toml
  aptos-move/replay-benchmark/src/diff.rs
  consensus/src/liveness/leader_reputation_test.rs
  crates/aptos-rosetta/src/test/mod.rs
  execution/executor-benchmark/src/native/native_vm.rs
  execution/executor-benchmark/src/native/parallel_uncoordinated_block_executor.rs
  execution/executor/src/tests/mock_vm/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  state-sync/inter-component/consensus-notifications/src/lib.rs
  state-sync/inter-component/event-notifications/src/tests.rs
  state-sync/state-sync-driver/src/tests/utils.rs
  storage/aptosdb/src/event_store/test.rs
  storage/aptosdb/src/ledger_db/ledger_metadata_db_test.rs
  storage/indexer/src/event_v2_translator.rs
  types/src/contract_event.rs
  types/src/move_utils/move_event_v1.rs
  types/src/move_utils/move_event_v2.rs
  types/src/proof/unit_tests/proof_test.rs
  types/src/proptest_types.rs
  types/src/unit_tests/contract_event_test.rs
Due: rust-fmt

[vm] Enhance events construction
  api/src/context.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/tests/events.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/events.data/pack/sources/test_module.move
  aptos-move/e2e-move-tests/src/tests/events.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/framework/aptos-framework/doc/event.md
  aptos-move/framework/aptos-framework/sources/event.move
  aptos-move/framework/src/natives/event.rs
  aptos-move/replay-benchmark/Cargo.toml
  aptos-move/replay-benchmark/src/diff.rs
  consensus/src/liveness/leader_reputation_test.rs
  crates/aptos-rosetta/src/test/mod.rs
  execution/executor-benchmark/src/native/native_vm.rs
  execution/executor-benchmark/src/native/parallel_uncoordinated_block_executor.rs
  execution/executor/src/tests/mock_vm/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  state-sync/inter-component/consensus-notifications/src/lib.rs
  state-sync/inter-component/event-notifications/src/tests.rs
  state-sync/state-sync-driver/src/tests/utils.rs
  storage/aptosdb/src/event_store/test.rs
  storage/aptosdb/src/ledger_db/ledger_metadata_db_test.rs
  storage/indexer/src/event_v2_translator.rs
  types/src/contract_event.rs
  types/src/move_utils/move_event_v1.rs
  types/src/move_utils/move_event_v2.rs
  types/src/proof/unit_tests/proof_test.rs
  types/src/proptest_types.rs
  types/src/unit_tests/contract_event_test.rs
Due: rust-fmt

new method for cached package (#227)
  aptos-move/framework/supra-framework/doc/genesis.md
  aptos-move/framework/supra-framework/doc/vesting_without_staking.md
  crates/aptos/src/move_tool/stored_package.rs
Due: rust-fmt

Implement module dependency loading without verification
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
Due: rust-fmt

bump rust version for fuzzers
  testsuite/fuzzer/fuzz.sh
Due: none

fmt
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
Due: rust-fmt

Remove unused import of `ModuleAccess` in `module_storage.rs`
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
Due: rust-fmt

Add conditional import of `ModuleAccess` for fuzzing in `module_storage.rs`
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
Due: rust-fmt

fmt 2
  third_party/move/move-vm/runtime/src/storage/module_storage.rs
Due: rust-fmt

Use chunking in txn generator lib
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/e2e-move-tests/src/tests/gas.rs
  aptos-move/framework/src/chunked_publish.rs
  crates/aptos/src/common/types.rs
  crates/transaction-generator-lib/src/call_custom_modules.rs
  crates/transaction-generator-lib/src/publish_modules.rs
  crates/transaction-generator-lib/src/publishing/publish_util.rs
Due: rust-fmt

[Consensus Observer] Rename ActiveObserverState to ObserverEpochState.
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/consensus_observer/observer/epoch_state.rs
  consensus/src/consensus_observer/observer/mod.rs
Due: rust-fmt

comment and rename
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
Due: rust-fmt

Enlarge HotState (#16571)
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
Due: rust-fmt

fix
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  crates/transaction-workloads-lib/src/raw_module_data.rs
Due: rust-fmt

make api public
  aptos-move/framework/aptos-experimental/sources/trading/market/market.move
Due: none

Add documentation
  aptos-move/framework/aptos-experimental/sources/trading/market/market.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/active_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/pending_order_book_index.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Due: none

[Orderbook] Add market APIs for the orderbook
  aptos-move/framework/aptos-experimental/sources/trading/market/market.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/event_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests.move
Due: none

Fixes for trigger condition
  aptos-move/framework/aptos-experimental/doc/active_order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/overview.md
  aptos-move/framework/aptos-experimental/doc/pending_order_book_index.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market.move
Due: none

update
  aptos-move/aptos-vm-environment/src/natives.rs
  aptos-move/framework/aptos-experimental/doc/confidential_proof.md
  aptos-move/framework/src/natives/mod.rs
Due: rust-fmt

[Compiler] Fix bug relating to inferring enum variant during is check
  third_party/move/move-compiler-v2/tests/checking/variants/variants_test_infer_err.exp
  third_party/move/move-compiler-v2/tests/checking/variants/variants_test_infer_err.move
  third_party/move/move-compiler-v2/tests/checking/variants/variants_test_infer_ok.exp
  third_party/move/move-compiler-v2/tests/checking/variants/variants_test_infer_ok.move
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

[Experimental][Orderbook] Add market APIs for the orderbook (#16520)
  aptos-move/framework/aptos-experimental/doc/active_order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/overview.md
  aptos-move/framework/aptos-experimental/doc/pending_order_book_index.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/active_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/pending_order_book_index.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/event_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests.move
  crates/transaction-workloads-lib/src/raw_module_data.rs
Due: rust-fmt

[pipeline] abort pending persisting blocks properly
  consensus/src/pipeline/buffer_manager.rs
Due: rust-fmt

fix
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_slot.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
Due: rust-fmt

[rust] Upgrade to 1.83.0
  rust-toolchain.toml
  third_party/move/move-borrow-graph/src/graph.rs
  third_party/move/move-model/bytecode/abstract_domain_derive/src/lib.rs
Due: rust-fmt

more
  network/framework/src/counters.rs
Due: rust-fmt

fix: update some clippy fixes
  aptos-move/block-executor/src/scheduler.rs
  consensus/src/epoch_manager.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos/src/common/init.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish_and_run.rs
  third_party/move/move-prover/boogie-backend/src/bytecode_translator.rs
  third_party/move/move-prover/boogie-backend/src/options.rs
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
Due: rust-fmt

more updates to 1.86.0
  Cargo.lock
  Cargo.toml
  crates/aptos-crypto/src/hash.rs
  crates/aptos-profiler/src/memory_profiler.rs
  ecosystem/indexer-grpc/indexer-grpc-server-framework/src/lib.rs
  ecosystem/nft-metadata-crawler/src/utils/counters.rs
  rust-toolchain.toml
  third_party/move/move-binary-format/src/normalized.rs
Due: rust-fmt, rust-cargo-sort

fix more
  config/global-constants/src/lib.rs
  crates/aptos-speculative-state-helper/src/lib.rs
  crates/short-hex-str/src/lib.rs
Due: rust-fmt

[rust] finish upgrade to 1.86.0
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/module_and_script_storage/state_view_adapter.rs
  aptos-move/aptos-vm-types/src/module_write_set.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/user_transaction_sessions/session_change_sets.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/scalar_mul.rs
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/safety-rules/src/safety_rules.rs
  consensus/src/block_storage/block_tree.rs
  crates/aptos-dkg/src/algebra/polynomials.rs
  crates/aptos-faucet/core/src/checkers/redis_ratelimit.rs
  crates/aptos/src/move_tool/stored_package.rs
  crates/aptos/src/node/local_testnet/mod.rs
  crates/crash-handler/src/lib.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
  rust-toolchain.toml
  secure/storage/src/storage.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/smoke-test/src/indexer.rs
  testsuite/smoke-test/src/keyless.rs
  testsuite/smoke-test/src/storage.rs
  third_party/move/move-bytecode-verifier/bytecode-verifier-tests/src/unit_tests/catch_unwind.rs
  third_party/move/move-compiler-v2/src/pipeline/reference_safety/reference_safety_processor_v2.rs
  third_party/move/move-compiler-v2/src/pipeline/reference_safety/reference_safety_processor_v3.rs
  third_party/move/move-model/bytecode/src/function_target.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-vm/integration-tests/src/tests/loader_tests.rs
Due: rust-fmt, rust-cargo-sort

upgrade to 1.86.0
  rust-toolchain.toml
Due: none

[Consensus Observer] Add ObserverBlockData struct and move functions.
  consensus/src/consensus_observer/observer/block_data.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/consensus_observer/observer/epoch_state.rs
  consensus/src/consensus_observer/observer/mod.rs
  consensus/src/consensus_observer/observer/pending_blocks.rs
Due: rust-fmt

[ci] prebuilt the binary with corret features
  .github/actions/rust-smoke-tests/action.yaml
  testsuite/smoke-test/src/jwks/jwk_consensus_basic.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_per_issuer.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_per_key.rs
Due: rust-fmt, prettier-fmt

[Experimental][Orderbook] Update the clearinghouse APIs
  aptos-move/framework/aptos-experimental/sources/trading/market/market.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
Due: none
