Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Add clay-aptos to OWNERS for developer-docs-site directory
  CODEOWNERS
Due: none

Add token.move link to top of Aptos Token
  developer-docs-site/docs/concepts/coin-and-token/aptos-token.md
Due: none

Update aptos-token.md
  developer-docs-site/docs/concepts/coin-and-token/aptos-token.md
Due: none

Return error if provided config was missing or invalid
  aptos-node/src/lib.rs
Due: rust-fmt

[Cargo] Add comment about performance profile.
  Cargo.toml
Due: rust-cargo-sort

Fix comment
  aptos-move/framework/aptos-token/sources/token.move
Due: none

[cli] Fix lint error
  crates/aptos/src/move_tool/stored_package.rs
Due: rust-fmt

[cli] Fix move download error
  crates/aptos/src/move_tool/stored_package.rs
Due: rust-fmt

Address feedback, emphasize tutorials are for devnet and testnet only
  developer-docs-site/docs/tutorials/index.md
Due: none

Update index.md
  developer-docs-site/docs/tutorials/index.md
Due: none

[replay] implement a replay tooling
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-debugger/Cargo.toml
  aptos-move/aptos-debugger/src/lib.rs
  aptos-move/aptos-validator-interface/Cargo.toml
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  crates/aptos-rest-client/src/lib.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/aptos/mint_transfer.rs
Due: rust-fmt, rust-cargo-sort

Revert "Split and move Install CLI docs to Getting Started section of left nav (#5098)"
  developer-docs-site/docs/cli-tools/aptos-cli-tool/index.md
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
  developer-docs-site/docs/cli-tools/build-from-source.md
  developer-docs-site/docs/cli-tools/install-move-prover.md
  developer-docs-site/docs/guides/getting-started.md
  developer-docs-site/docs/guides/move-guides/guide-move-transactional-testing.md
  developer-docs-site/docs/index.md
  developer-docs-site/docs/nodes/local-testnet/using-cli-to-run-a-local-testnet.md
  developer-docs-site/docs/nodes/validator-node/owner/index.md
  developer-docs-site/docs/sdks/index.md
  developer-docs-site/sidebars.js
Due: prettier-fmt

N=48
  .github/actions/replay-verify/action.yaml
Due: prettier-fmt

[tf/gcp] update default instance to recommended n2 (#5312)
  developer-docs-site/docs/nodes/validator-node/operator/node-requirements.md
  terraform/aptos-node/gcp/variables.tf
  terraform/fullnode/gcp/variables.tf
  terraform/modules/eks/variables.tf
Due: none

[aptos-node] better error message for the feature flag check
  aptos-move/aptos-vm/src/natives.rs
  aptos-node/src/lib.rs
  aptos-node/src/main.rs
Due: rust-fmt

added functions to rotate collectiondata fields
  aptos-move/framework/aptos-token/doc/token.md
  aptos-move/framework/aptos-token/sources/token.move
  developer-docs-site/docs/concepts/coin-and-token/aptos-token.md
Due: none

save
  aptos-move/framework/aptos-stdlib/sources/cryptography/multi_ed25519.move
  aptos-move/framework/src/natives/cryptography/multi_ed25519.rs
Due: rust-fmt

[aptos-node] better error message for the feature flag check (#5330)
  aptos-move/aptos-vm/src/natives.rs
  aptos-node/src/lib.rs
  aptos-node/src/main.rs
Due: rust-fmt

no_storage
  aptos-move/framework/aptos-stdlib/doc/overview.md
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/quorum_store.rs
  consensus/src/state_computer.rs
  crates/aptos-rest-client/src/lib.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/stats.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/components/block_tree/mod.rs
  execution/executor/src/components/chunk_output.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/shared_mempool/tasks.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
Due: rust-fmt

Add field-level tables and newly created flow diagrams to Aptos Token
  developer-docs-site/docs/concepts/coin-and-token/aptos-token.md
  developer-docs-site/static/img/docs/aptos-token-standard-flow-dark.svg
  developer-docs-site/static/img/docs/aptos-token-standard-flow-v1.png
  developer-docs-site/static/img/docs/aptos-token-standard-flow.svg
Due: none

Shorten Field descriptions header
  developer-docs-site/docs/concepts/coin-and-token/aptos-token.md
Due: none

[executor-benchmark] more default initial balance
  execution/executor-benchmark/src/main.rs
Due: rust-fmt

[Token] added functions to rotate collectiondata fields (#5265)
  aptos-move/framework/aptos-token/doc/token.md
  aptos-move/framework/aptos-token/sources/token.move
  developer-docs-site/docs/concepts/coin-and-token/aptos-token.md
Due: none

counter
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/quorum_store_wrapper.rs
Due: rust-fmt

quorum_store
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/quorum_store.rs
  consensus/src/quorum_store/quorum_store_wrapper.rs
  consensus/src/quorum_store/utils.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[Move examples] Add an example for locked coins contract
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/move-examples/defi/Move.toml
  aptos-move/move-examples/defi/sources/locked_coins.move
Due: rust-fmt

[TS][SDK] Fix incorrect comment about defaultevent handle page size
  ecosystem/typescript/sdk/src/aptos_client.ts
Due: prettier-fmt

Update to size_of_val
  aptos-move/framework/aptos-stdlib/sources/type_info.move
Due: none

[Spec] Specs for math64, math128 and type_info
  aptos-move/framework/aptos-stdlib/doc/math128.md
  aptos-move/framework/aptos-stdlib/doc/math64.md
  aptos-move/framework/aptos-stdlib/doc/type_info.md
  aptos-move/framework/aptos-stdlib/sources/math128.spec.move
  aptos-move/framework/aptos-stdlib/sources/math64.move
  aptos-move/framework/aptos-stdlib/sources/math64.spec.move
  aptos-move/framework/aptos-stdlib/sources/type_info.move
  aptos-move/framework/aptos-stdlib/sources/type_info.spec.move
  aptos-move/framework/aptos-token/doc/token.md
Due: none

[move] export aptos_framework::chain_id::get() via NativeTransactionContext
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/e2e-move-tests/src/tests/chain_id.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/chain_id.data/pack/sources/chain_id_test.move
  aptos-move/e2e-move-tests/src/tests/chain_id.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/aptos-framework/doc/chain_id.md
  aptos-move/framework/aptos-framework/sources/chain_id.move
  aptos-move/framework/aptos-stdlib/doc/type_info.md
  aptos-move/framework/aptos-stdlib/sources/type_info.move
  aptos-move/framework/aptos-stdlib/sources/type_info.spec.move
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/transaction_context.rs
  aptos-move/framework/src/natives/type_info.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  types/src/chain_id.rs
  types/src/on_chain_config/chain_id.rs
  types/src/on_chain_config/mod.rs
Due: rust-fmt

[move] feature-gate chain ID fetching in aptos_stdlib
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/e2e-move-tests/src/tests/chain_id.data/pack/sources/chain_id_test.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_stdlib/sources/configs/features.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-stdlib/doc/type_info.md
  aptos-move/framework/aptos-stdlib/sources/type_info.move
  aptos-move/framework/aptos-token/doc/token.md
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
Due: rust-fmt

[Move examples] Add an example for locked coins contract
  aptos-move/move-examples/defi/Move.toml
  aptos-move/move-examples/defi/sources/locked_coins.move
Due: none

Link to new NFT section on resource accounts
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

[crypto+move] added support for SHA2-512, SHA3-512 and RIPEMD-160 in Move
  CODEOWNERS
  Cargo.lock
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-stdlib/sources/hash.move
  aptos-move/framework/aptos-stdlib/sources/hash.spec.move
  aptos-move/framework/src/natives/hash.rs
  aptos-move/framework/src/natives/mod.rs
Due: rust-fmt

[crypto+move] added feature-gating
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_stdlib/sources/configs/features.move
  aptos-move/framework/aptos-stdlib/doc/hash.md
  aptos-move/framework/aptos-stdlib/sources/hash.move
  aptos-move/framework/aptos-token/doc/token.md
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/natives/hash.rs
Due: rust-fmt
