Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Update .github/ISSUE_TEMPLATE/documentation_bug_report.md
  .github/ISSUE_TEMPLATE/documentation_bug_report.md
Due: none

Update developer-docs-site/docs/CODEOWNERS
  developer-docs-site/docs/CODEOWNERS
Due: none

Add SDKs to top nav Reference menu, move Glossary above Issues and Workarounds (#5627)
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
Due: prettier-fmt

Revert upgradeable ref to match others on page and in site
  developer-docs-site/docs/guides/move-guides/upgrading-move-code.md
Due: none

[run on forge][not for review] test fix flaky forge
  testsuite/forge-cli/src/main.rs
  testsuite/forge.py
Due: rust-fmt

Add Aptos definition to landing page, begin to emphasize our ecosystem and benefits
  developer-docs-site/docs/index.md
Due: none

[cli] add default_prompt_response option to set_global_config
  crates/aptos/src/config/mod.rs
Due: rust-fmt

update options
  crates/aptos/src/config/mod.rs
Due: rust-fmt

Alternative error reporting to failure in init module while publishing
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/publish_init_cases.rs
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/generic/state_v0/Move.toml
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/generic/state_v0/sources/State.move
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/generic/use_state_assert/Move.toml
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/generic/use_state_assert/sources/State.move
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/generic/use_state_assert/sources/UseState.move
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/generic/use_state_error/Move.toml
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/generic/use_state_error/sources/State.move
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/generic/use_state_error/sources/UseState.move
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/generic/use_state_ok/Move.toml
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/generic/use_state_ok/sources/State.move
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/generic/use_state_ok/sources/UseState.move
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/publish_and_use/Move.toml
  aptos-move/e2e-move-tests/src/tests/publish_init_cases/publish_and_use/sources/test.move
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/block.md
  aptos-move/framework/aptos-framework/doc/state_storage.md
  aptos-move/framework/aptos-token/doc/token.md
Due: rust-fmt

Restore comments to hide template questions
  .github/ISSUE_TEMPLATE/documentation_bug_report.md
Due: none

Add BLS12-381 test-only natives for signature generation (#5487)
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/block.md
  aptos-move/framework/aptos-framework/doc/state_storage.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/aptos-framework/sources/staking_proxy.move
  aptos-move/framework/aptos-framework/sources/vesting.move
  aptos-move/framework/aptos-stdlib/doc/bls12381.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/bls12381.move
  aptos-move/framework/aptos-token/doc/token.md
  aptos-move/framework/src/natives/cryptography/bls12381.rs
Due: rust-fmt

Fix link from Accounts to Your First Transaction
  developer-docs-site/docs/concepts/basics-accounts.md
Due: none

Fix link from Accounts to Your First Transaction (#5638)
  developer-docs-site/docs/concepts/basics-accounts.md
Due: none

[Docs] Consolidate transactions documentation
  developer-docs-site/docs/concepts/basics-txns-states.md
  developer-docs-site/docs/guides/system-integrators-guide.md
Due: none

cicd: introduce mergify as check-group alternative due to check-group bug
  .github/checkgroup.yml
  .github/mergify.yml
Due: prettier-fmt

fix known bug
  consensus/src/block_storage/sync_manager.rs
Due: rust-fmt

[CLI] Exit if the node / faucet stops when running a local testnet (#5261)
  crates/aptos-faucet/src/lib.rs
  crates/aptos/src/node/mod.rs
Due: rust-fmt

Update indexing.md
  developer-docs-site/docs/guides/indexing.md
Due: none

Update indexing.md (#5642)
  developer-docs-site/docs/guides/indexing.md
Due: none

print
  consensus/src/quorum_store/batch_store.rs
Due: rust-fmt

[docs] Improved aggregator documentation
  aptos-move/framework/aptos-framework/doc/aggregator.md
  aptos-move/framework/aptos-framework/doc/aggregator_factory.md
  aptos-move/framework/aptos-framework/doc/optional_aggregator.md
  aptos-move/framework/aptos-framework/sources/aggregator/README.md
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator.move
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.move
Due: none

Replace Address account
  developer-docs-site/docs/concepts/basics-accounts.md
Due: none

Announce Indexer rate limit increase
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

Fix flaky forge tests
  Cargo.lock
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  testsuite/forge-cli/Cargo.toml
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Naming
  Cargo.lock
  Cargo.toml
  consensus/Cargo.toml
  consensus/consensus-types/Cargo.toml
  consensus/src/block_storage/block_store.rs
  consensus/src/consensus_provider.rs
  consensus/src/data_manager.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
  consensus/src/test_utils/mock_state_computer.rs
  consensus/src/test_utils/mod.rs
  consensus/src/twins/twins_node.rs
  testsuite/generate-format/tests/staged/consensus.yaml
Due: rust-fmt, rust-cargo-sort, prettier-fmt

no db test
  consensus/src/epoch_manager.rs
Due: rust-fmt

script bugfix
  scripts/dev_setup.sh
Due: none

no fragment test
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/quorum_store_wrapper.rs
Due: rust-fmt

Announce Indexer rate limit increase (#5644)
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

Naming
  consensus/consensus-types/src/common.rs
Due: rust-fmt

[docs] Typo fixes in aggregator documentation
  aptos-move/framework/aptos-framework/sources/aggregator/README.md
Due: none

Update variables.tf
  terraform/fullnode/gcp/variables.tf
Due: none

Deletion precedence over aggregation error
  CODEOWNERS
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
Due: rust-fmt

cicd: remove permission-check for check-group to avoid checkgroup bug in handling duplicate checks
  .github/checkgroup.yml
Due: prettier-fmt

Fix flaky forge tests (#5595)
  Cargo.lock
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  testsuite/forge-cli/Cargo.toml
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
