Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Remove link to Nodes index from top nav
  developer-docs-site/docusaurus.config.js
Due: prettier-fmt

Fix broken links found in link checker
  developer-docs-site/docs/guides/move-guides/move-on-aptos.md
  developer-docs-site/docs/nodes/index.md
  developer-docs-site/docs/sdks/ts-sdk/typescript-sdk-overview.md
Due: none

Fix validator node links
  developer-docs-site/docs/nodes/index.md
Due: none

[Docs] Removing iterable Table item as per review comment.
  developer-docs-site/docs/guides/move-guides/move-on-aptos.md
Due: none

Delete index.md
  developer-docs-site/docs/nodes/index.md
Due: none

[haproxy] http timeout 60ms -> 60s
  terraform/helm/aptos-node/files/haproxy.cfg
Due: none

[move] update TypeTag
  Cargo.lock
  api/Cargo.toml
  api/src/tests/transaction_vector_test.rs
  api/types/Cargo.toml
  api/types/src/move_types.rs
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-module-verifier/Cargo.toml
  aptos-move/aptos-sdk-builder/Cargo.toml
  aptos-move/aptos-sdk-builder/src/common.rs
  aptos-move/aptos-sdk-builder/src/golang.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/e2e-move-tests/src/tests/string_args.rs
  aptos-move/e2e-testsuite/src/tests/scripts.rs
  aptos-move/e2e-testsuite/src/tests/verify_txn.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/cached-packages/Cargo.toml
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
  aptos-move/package-builder/Cargo.toml
  aptos-move/vm-genesis/Cargo.toml
  consensus/src/liveness/leader_reputation_test.rs
  crates/aptos-rest-client/Cargo.toml
  crates/aptos-rosetta/src/common.rs
  crates/aptos-rosetta/src/construction.rs
  ecosystem/sf-indexer/firehose-stream/Cargo.toml
  execution/executor/Cargo.toml
  execution/executor/tests/db_bootstrapper_test.rs
  storage/aptosdb/Cargo.toml
  storage/aptosdb/src/event_store/test.rs
  storage/indexer/Cargo.toml
  storage/indexer/src/lib.rs
  storage/storage-interface/Cargo.toml
  types/Cargo.toml
  types/src/contract_event.rs
  types/src/utility_coin.rs
Due: rust-fmt

[haproxy][docker] fix the port mapping used by validator
  docker/compose/aptos-node/docker-compose.yaml
  docker/compose/aptos-node/haproxy.cfg
Due: prettier-fmt

Fix HAProxy config for 8080 API
  terraform/helm/aptos-node/files/haproxy.cfg
Due: none

Link to TypeScript reference files from index page
  developer-docs-site/docs/sdks/ts-sdk/index.md
Due: none

Bump event charges
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-gas/src/aptos_framework.rs
Due: rust-fmt

feature gate charge_new_resource_as_modify
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
Due: rust-fmt

1KB for free
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/transaction.rs
Due: rust-fmt

update storage gas parameters
  aptos-move/framework/aptos-framework/sources/storage_gas.move
Due: none

hard limit on write_op and event sizes
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  config/src/config/execution_config.rs
  execution/executor/src/mock_vm/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  state-sync/inter-component/mempool-notifications/src/lib.rs
  types/src/proptest_types.rs
  types/src/transaction/change_set.rs
Due: rust-fmt

Update install-petra-wallet.md
  developer-docs-site/docs/guides/install-petra-wallet.md
Due: none

test fixes wrt gas price hike
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__borrow_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__change_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__move_from_across_blocks.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__duplicate_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_compatible_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_changed_field.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_new_field.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_removed_field.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_removed_struct.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_compatible_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_incompatible_module_with_added_param.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_incompatible_module_with_changed_param.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_incompatible_module_with_removed_pub_fn.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__test_publishing_allow_modules.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__test_publishing_modules_proper_sender.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_open_publishing.exp
Due: none

[Aptos Framework] Add coin mint/burn events
  aptos-move/framework/aptos-framework/sources/coin.move
Due: none

Automatically set target_address during registration
  aptos-move/framework/aptos-names/sources/domains.move
  aptos-move/framework/aptos-names/sources/test_helper.move
Due: none

print txn status, use 7k txn input rate
  consensus/src/block_storage/block_store.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

counter
  consensus/src/quorum_store/batch_aggregator.rs
Due: rust-fmt

Add guidance on when to install from GH
  developer-docs-site/docs/guides/install-petra-wallet.md
Due: none

[tf][fullnode] configurable chain_name
  terraform/fullnode/aws/kubernetes.tf
  terraform/fullnode/aws/variables.tf
  terraform/fullnode/digital_ocean/kubernetes.tf
  terraform/fullnode/digital_ocean/variables.tf
  terraform/fullnode/gcp/kubernetes.tf
  terraform/fullnode/gcp/variables.tf
  terraform/fullnode/vultr/kubernetes.tf
  terraform/fullnode/vultr/variables.tf
Due: none

[tf/gcp][aptos-node] fix taint
  terraform/aptos-node/gcp/cluster.tf
Due: none

Make updates from review comments
  developer-docs-site/docs/index.md
Due: none

counters
  consensus/src/quorum_store/batch_aggregator.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/network_listener.rs
Due: rust-fmt

temp: see cost change
  aptos-move/e2e-move-tests/src/tests/framework_compatibility.data/can_upgrade_framework_on_testnet.exp
  aptos-move/e2e-move-tests/src/tests/framework_compatibility.rs
  aptos-move/e2e-move-tests/src/tests/init_module.rs
  aptos-move/e2e-move-tests/src/tests/mint_nft.data/mint_nft_e2e.exp
  aptos-move/e2e-move-tests/src/tests/mint_nft.rs
  aptos-move/e2e-move-tests/src/tests/scripts.rs
  aptos-move/e2e-move-tests/src/tests/stake.rs
Due: rust-fmt

[move] fix ambiguity in SignerCapabilityOfferProofChallenge struct
  aptos-move/framework/aptos-framework/sources/account.move
Due: none

Link to CLI docs for supported OSes
  developer-docs-site/docs/guides/getting-started.md
Due: none

[api] reduce submit_batch size to planned 10 txn per single request (#4685)
  config/src/config/api_config.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
Due: rust-fmt

update per review feedback
  aptos-move/framework/aptos-names/sources/config.move
  aptos-move/framework/aptos-names/sources/domain_e2e_tests.move
  aptos-move/framework/aptos-names/sources/domains.move
  aptos-move/framework/aptos-names/sources/price_model.move
  aptos-move/framework/aptos-names/sources/subdomain_e2e_tests.move
  aptos-move/framework/aptos-names/sources/test_helper.move
Due: none

update docs
  aptos-move/framework/aptos-names/sources/config.move
  aptos-move/framework/aptos-names/sources/domains.move
  aptos-move/framework/aptos-names/sources/readme.md
Due: none

Normalize address when parsing transaction
  apps/extension/src/core/components/ActivityList.tsx
  apps/extension/src/core/components/TransactionBody.tsx
  apps/extension/src/core/hooks/useParseTransaction.ts
  apps/extension/src/core/utils/account.ts
  apps/extension/src/prompt/components/TransactionApprovalPrompt.tsx
Due: prettier-fmt

[api] Reduce default page size to 100
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_param_limit_exceeds_limit.json
  api/src/page.rs
  config/src/config/api_config.rs
  crates/aptos/src/node/analyze/analyze_validators.rs
  crates/aptos/src/node/analyze/fetch_metadata.rs
  testsuite/forge/src/test_utils/consensus_utils.rs
Due: rust-fmt

Link to Aptos Blockchain Deployments from Networks section for more details
  developer-docs-site/docs/guides/system-integrators-guide.md
Due: none

[tf/helm] deployment fixes for mainnet (#4717)
  terraform/aptos-node/gcp/cluster.tf
  terraform/fullnode/aws/kubernetes.tf
  terraform/fullnode/aws/variables.tf
  terraform/fullnode/digital_ocean/kubernetes.tf
  terraform/fullnode/digital_ocean/variables.tf
  terraform/fullnode/gcp/kubernetes.tf
  terraform/fullnode/gcp/variables.tf
  terraform/fullnode/vultr/kubernetes.tf
  terraform/fullnode/vultr/variables.tf
Due: none
