Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[Fix] Handle reconfig suffix blocks.
  execution/executor-types/src/executed_block.rs
  execution/executor/src/tests/mod.rs
  storage/aptosdb/src/lib.rs
Due: rust-fmt

lint
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[Peer Monitor] Add client support for RPC perf monitoring.
  Cargo.lock
  config/Cargo.toml
  config/src/config/peer_monitoring_config.rs
  network/peer-monitoring-service/client/Cargo.toml
  network/peer-monitoring-service/client/src/logging.rs
  network/peer-monitoring-service/client/src/peer_states/key_value.rs
  network/peer-monitoring-service/client/src/peer_states/mod.rs
  network/peer-monitoring-service/client/src/peer_states/peer_state.rs
  network/peer-monitoring-service/client/src/peer_states/performance_monitoring.rs
  network/peer-monitoring-service/client/src/tests/mock.rs
  network/peer-monitoring-service/client/src/tests/mod.rs
  network/peer-monitoring-service/client/src/tests/multiple_peers.rs
  network/peer-monitoring-service/client/src/tests/performance_monitoring.rs
  network/peer-monitoring-service/client/src/tests/single_peer.rs
  network/peer-monitoring-service/client/src/tests/utils.rs
  network/peer-monitoring-service/server/src/lib.rs
  network/peer-monitoring-service/server/src/tests.rs
  network/peer-monitoring-service/types/src/response.rs
Due: rust-fmt

[Peer Monitor] Add performance monitoring config.
  config/Cargo.toml
  config/src/config/config_optimizer.rs
  config/src/config/peer_monitoring_config.rs
  config/src/config/utils.rs
Due: rust-fmt

[Peer Monitor] Change the internal loop to usec from ms.
  config/src/config/peer_monitoring_config.rs
  network/peer-monitoring-service/client/src/lib.rs
  network/peer-monitoring-service/client/src/tests/utils.rs
Due: rust-fmt

[Peer Monitor] Change request tracker intervals to use usec.
  network/peer-monitoring-service/client/src/peer_states/request_tracker.rs
Due: rust-fmt

[Peer Monitor] Add performance types.
  Cargo.lock
  Cargo.toml
  network/peer-monitoring-service/types/Cargo.toml
  network/peer-monitoring-service/types/src/request.rs
  network/peer-monitoring-service/types/src/response.rs
Due: rust-fmt, rust-cargo-sort

[Peer Monitor] Add server support for performance requests.
  Cargo.lock
  network/peer-monitoring-service/client/src/network.rs
  network/peer-monitoring-service/client/src/peer_states/peer_state.rs
  network/peer-monitoring-service/server/Cargo.toml
  network/peer-monitoring-service/server/src/lib.rs
  network/peer-monitoring-service/server/src/tests.rs
  network/peer-monitoring-service/types/src/request.rs
Due: rust-fmt

[Peer Monitor] Add feature support for network-perf-test.
  .github/workflows/lint-test.yaml
  aptos-node/Cargo.toml
  config/Cargo.toml
  network/peer-monitoring-service/client/Cargo.toml
  network/peer-monitoring-service/server/Cargo.toml
  testsuite/forge/src/backend/local/cargo.rs
  testsuite/smoke-test/src/network.rs
Due: rust-fmt, prettier-fmt

[Fix] Handle reconfig suffix blocks. (#8123)
  execution/executor-types/src/executed_block.rs
  execution/executor/src/tests/mod.rs
  storage/aptosdb/src/lib.rs
Due: rust-fmt

[indexer grpc] add readme to indexer grpc infra. (#8118)
  ecosystem/indexer-grpc/README.md
Due: none

lint 2
  crates/aptos-rosetta/src/types/objects.rs
Due: rust-fmt

sed -i asset/metadata/g for fungible asset tests
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
Due: none

Fix issues with fungible asset
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
Due: none

Address coments
  api/src/accounts.rs
  api/src/context.rs
  api/src/events.rs
  api/src/state.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
Due: rust-fmt

another comment
  third_party/move/move-vm/runtime/src/move_vm.rs
Due: rust-fmt

get number of delegators
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/src/indexer/generated/operations.ts
  ecosystem/typescript/sdk/src/indexer/generated/queries.ts
  ecosystem/typescript/sdk/src/indexer/generated/types.ts
  ecosystem/typescript/sdk/src/indexer/queries/getCurrentDelegatorBalancesCount.graphql
  ecosystem/typescript/sdk/src/indexer/queries/getNumberOfDelegators.graphql
  ecosystem/typescript/sdk/src/providers/indexer.ts
Due: prettier-fmt

add test
  ecosystem/typescript/sdk/src/tests/e2e/indexer.test.ts
Due: prettier-fmt

[TS SDK] Get number of delegators (#8120)
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/src/indexer/generated/operations.ts
  ecosystem/typescript/sdk/src/indexer/generated/queries.ts
  ecosystem/typescript/sdk/src/indexer/generated/types.ts
  ecosystem/typescript/sdk/src/indexer/queries/getCurrentDelegatorBalancesCount.graphql
  ecosystem/typescript/sdk/src/indexer/queries/getNumberOfDelegators.graphql
  ecosystem/typescript/sdk/src/providers/indexer.ts
  ecosystem/typescript/sdk/src/tests/e2e/indexer.test.ts
Due: prettier-fmt

[TF] Add variable "bootstrap_cluster" to GCP base module
  terraform/aptos-node-testnet/gcp/main.tf
  terraform/aptos-node-testnet/gcp/variables.tf
  terraform/aptos-node/gcp/security.tf
  terraform/aptos-node/gcp/variables.tf
Due: none

[indexer-grpc] local filestore implementation
  .gitignore
  Cargo.lock
  ecosystem/indexer-grpc/README.md
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/README.md
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/README.md
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/README.md
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/processor.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/README.md
  ecosystem/indexer-grpc/indexer-grpc-utils/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-utils/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/gcs.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/local.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/mod.rs
Due: rust-fmt

[TF] Add variable "bootstrap_cluster" to GCP base module (#8124)
  terraform/aptos-node-testnet/gcp/main.tf
  terraform/aptos-node-testnet/gcp/variables.tf
  terraform/aptos-node/gcp/security.tf
  terraform/aptos-node/gcp/variables.tf
Due: none

[Storage][Tooling] Add tools to examine databases.
  storage/aptosdb/src/db_debugger/examine/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/mod.rs
Due: rust-fmt

[rosetta-test] Remove duplicate test logic
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[rosetta-test] Remove duplicate code
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[rosetta-test] Cleanup duplicate test logic
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/forge/src/interface/aptos.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

include aptos and indexer client classesstatic methods in the provider class
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/src/providers/provider.ts
  ecosystem/typescript/sdk/src/tests/e2e/provider.test.ts
Due: prettier-fmt

lint
  ecosystem/typescript/sdk/src/providers/provider.ts
Due: prettier-fmt

[Storage][Tooling] Add tools to examine databases. (#8125)
  storage/aptosdb/src/db_debugger/examine/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/mod.rs
Due: rust-fmt

Include static methods from `AptosClient` and `IndexerClient` classes in the `Provider` class (#8101)
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/src/providers/provider.ts
  ecosystem/typescript/sdk/src/tests/e2e/provider.test.ts
Due: prettier-fmt

clean up the metadata APIs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/framework/src/module_metadata.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/session.rs
Due: rust-fmt

[Spec] Update specs of transaction_fee & transaction_validation
  aptos-move/framework/aptos-framework/boogie.bpl
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/transaction_fee.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
Due: none

[Spec] Remove accidentally added boogie file
  aptos-move/framework/aptos-framework/boogie.bpl
Due: none

feat: check if account is registered
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/sources/coin.move
Due: none

make session just carry movevm
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/framework/src/module_metadata.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/move-vm/runtime/src/session.rs
Due: rust-fmt

Separate downtime metrics cache and its updater
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/downtime_metrics_cache.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
Due: rust-fmt

Print config using "debug" mode to avoid printing secret keys
  aptos-node/src/logger.rs
Due: rust-fmt

update todo
  aptos-move/move-examples/veiled_coin/sources/veiled_coin.move
Due: none
