Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[CLI] Bump to 2.2.2 for release
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Due: none

Fix Cargo.lock
  Cargo.lock
Due: none

update aptos_dkg references to fix compile error; also a gas fix (#157)
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  consensus/src/dkg/dkg_manager.rs
  crates/aptos-dkg/src/pvss/mod.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/src/dkg/dkg_with_validator_join_leave.rs
  testsuite/smoke-test/src/dkg/mod.rs
Due: rust-fmt

[Forge] Add more net bench tests.
  network/benchmark/src/lib.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[Forge] Small clean ups to test suite name matching.
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

StateValueMetadataExt
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-move-tests/src/harness.rs
  types/src/state_store/state_value/inner.rs
  types/src/state_store/state_value/metadata.rs
  types/src/state_store/state_value/mod.rs
  types/src/write_set.rs
Due: rust-fmt

[Storage] Support db_path_overrides in StorageConfig, to allow people putting different db into different root path.
  Cargo.lock
  Cargo.toml
  api/test-context/src/test_context.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  config/Cargo.toml
  config/src/config/storage_config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos-genesis/src/mainnet.rs
  execution/db-bootstrapper/src/bin/aptos-db-bootstrapper.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  state-sync/state-sync-driver/src/tests/driver_factory.rs
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/fast_sync_storage_wrapper.rs
  storage/aptosdb/src/ledger_db.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/test_helper.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/db-tool/src/replay_verify.rs
  storage/db-tool/src/tests.rs
Due: rust-fmt, rust-cargo-sort

remove useless tags to make the url render properly
  developer-docs-site/docs/nodes/validator-node/operator/running-validator-node/using-docker.md
Due: none

more unsed tags need to removed
  developer-docs-site/docs/nodes/validator-node/operator/running-validator-node/using-source-code.md
Due: none

[authenticator] improve error messages
  api/types/src/transaction.rs
  types/src/transaction/authenticator.rs
Due: rust-fmt

[authenticator] rename AnyKey to AnyPublicKey
  api/src/tests/secp256k1_ecdsa.rs
  api/types/src/transaction.rs
  crates/aptos-protos/proto/aptos/transaction/v1/transaction.proto
  crates/aptos-protos/src/pb/aptos.transaction.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.v1.serde.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
Due: rust-fmt, prettier-fmt

[authenticator] merge secp256k1_ecdsa into single sender
  api/src/tests/secp256k1_ecdsa.rs
  api/types/src/lib.rs
  api/types/src/transaction.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos-protos/proto/aptos/transaction/v1/transaction.proto
  crates/aptos-protos/src/pb/aptos.transaction.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.v1.serde.rs
  crates/indexer/src/models/signatures.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[types] introducing single sender auth of single and multi keys
  api/types/src/lib.rs
  api/types/src/transaction.rs
  crates/aptos-bitvec/src/lib.rs
  crates/aptos-protos/proto/aptos/transaction/v1/transaction.proto
  crates/aptos-protos/src/pb/aptos.transaction.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.v1.serde.rs
  crates/indexer/src/models/signatures.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
Due: rust-fmt, prettier-fmt

[authenticator] addreses -> addresses
  aptos-move/aptos-vm/src/transaction_metadata.rs
  crates/aptos-rosetta/src/construction.rs
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[Storage] Support db_path_overrides in StorageConfig, to allow people putting different db into different root path. (#10477)
  Cargo.lock
  Cargo.toml
  api/test-context/src/test_context.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  config/Cargo.toml
  config/src/config/storage_config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos-genesis/src/mainnet.rs
  execution/db-bootstrapper/src/bin/aptos-db-bootstrapper.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  state-sync/state-sync-driver/src/tests/driver_factory.rs
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/fast_sync_storage_wrapper.rs
  storage/aptosdb/src/ledger_db.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/test_helper.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/db-tool/src/replay_verify.rs
  storage/db-tool/src/tests.rs
Due: rust-fmt, rust-cargo-sort

[State Sync] Update metric buckets for storage requests.
  state-sync/storage-service/server/src/metrics.rs
Due: rust-fmt

100 streams, tweak configs.
  network/netcore/src/transport/quic.rs
Due: rust-fmt

[Data Streaming Service] Add tests for subscription stream lag.
  state-sync/data-streaming-service/src/data_notification.rs
  state-sync/data-streaming-service/src/data_stream.rs
  state-sync/data-streaming-service/src/tests/data_stream.rs
Due: rust-fmt

[Data Streaming Service] Add lag check for subscription streams.
  Cargo.lock
  aptos-node/src/state_sync.rs
  config/src/config/state_sync_config.rs
  state-sync/aptos-data-client/src/error.rs
  state-sync/data-streaming-service/Cargo.toml
  state-sync/data-streaming-service/src/data_stream.rs
  state-sync/data-streaming-service/src/stream_engine.rs
  state-sync/data-streaming-service/src/streaming_service.rs
  state-sync/data-streaming-service/src/tests/data_stream.rs
  state-sync/data-streaming-service/src/tests/streaming_service.rs
Due: rust-fmt

[authenticator] update open api
  api/doc/spec.json
  api/doc/spec.yaml
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/AccountSignature.ts
  ecosystem/typescript/sdk/src/generated/models/AccountSignature_MultiKeySignature.ts
  ecosystem/typescript/sdk/src/generated/models/AccountSignature_Secp256k1EcdsaSignature.ts
  ecosystem/typescript/sdk/src/generated/models/AccountSignature_SingleKeySignature.ts
  ecosystem/typescript/sdk/src/generated/models/IndexedSignature.ts
  ecosystem/typescript/sdk/src/generated/models/MultiKeySignature.ts
  ecosystem/typescript/sdk/src/generated/models/PublicKey.ts
  ecosystem/typescript/sdk/src/generated/models/PublicKey_string_HexEncodedBytes_.ts
  ecosystem/typescript/sdk/src/generated/models/Secp256k1EcdsaSignature.ts
  ecosystem/typescript/sdk/src/generated/models/Signature.ts
  ecosystem/typescript/sdk/src/generated/models/Signature_string_HexEncodedBytes_.ts
  ecosystem/typescript/sdk/src/generated/models/SingleKeySignature.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionSignature.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionSignature_AccountSignature.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionSignature_Secp256k1EcdsaSignature.ts
Due: prettier-fmt

[Dev Docs] Update instructions for connecting new validators/VFNs.
  developer-docs-site/docs/nodes/validator-node/operator/connect-to-aptos-network.md
Due: none

[gha] Upgrade the upgrade test
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

[CLI] Health check processors using DB in local testnet
  crates/aptos/src/node/local_testnet/health_checker.rs
  crates/aptos/src/node/local_testnet/mod.rs
  crates/aptos/src/node/local_testnet/processors.rs
Due: rust-fmt

[move-vm] Fix broken compatibility rule
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
Due: rust-fmt

[forge] for max load test add 5% breach allowance for frequent epoch changes
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/success_criteria.rs
Due: rust-fmt

Use bollard crate directly
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

Revert "[Quorum Store] 33% increase in backlog_txn_limit_count (#10315)"
  config/src/config/quorum_store_config.rs
Due: rust-fmt

Add test
  third_party/move/move-vm/integration-tests/src/tests/loader_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/loader_tests_modules.move
Due: rust-fmt

[CLI] Warn the user if their Docker version is too old
  Cargo.lock
  Cargo.toml
  crates/aptos/Cargo.toml
  crates/aptos/src/node/local_testnet/health_checker.rs
  crates/aptos/src/node/local_testnet/utils.rs
Due: rust-fmt, rust-cargo-sort

add get_public_key_share to Transcript trait (#160)
  crates/aptos-dkg/src/pvss/das/transcript.rs
  crates/aptos-dkg/src/pvss/scrape/mod.rs
  crates/aptos-dkg/src/pvss/scrape/transcript.rs
  crates/aptos-dkg/src/pvss/traits/transcript.rs
  crates/aptos-dkg/src/pvss/weighted/weighted_transcript.rs
  crates/aptos-dkg/tests/pvss.rs
Due: rust-fmt

[Aptos Node] Bump aptos-node version.
  Cargo.lock
  aptos-node/Cargo.toml
Due: none

comment edit
  Cargo.lock
  Cargo.toml
  crates/aptos-crypto/src/p256_ecdsa/p256_keys.rs
Due: rust-fmt, rust-cargo-sort

serialization comments
  crates/aptos-crypto/src/p256_ecdsa/p256_keys.rs
  crates/aptos-crypto/src/p256_ecdsa/p256_sigs.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
