Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Added the status module
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/chain_id.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/status.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/aptos-framework/sources/timestamp.spec.move
  aptos-move/framework/aptos-framework/sources/voting.move
  aptos-move/framework/aptos-token/sources/token_coin_swap.move
  aptos-move/vm-genesis/src/lib.rs
Due: rust-fmt

Fix token client functions, simple-nft in Python SDK (#3710)
  developer-docs-site/docs/tutorials/first-dapp.md
  developer-docs-site/docs/tutorials/your-first-nft.md
  ecosystem/python/sdk/Makefile
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/python/sdk/examples/common.py
  ecosystem/python/sdk/examples/simple-nft.py
  ecosystem/python/sdk/examples/transfer-coin.py
  ecosystem/python/sdk/poetry.lock
Due: none

[indexer] Make indexer use exponential backoff
  ecosystem/indexer/src/indexer/fetcher.rs
Due: rust-fmt

[rest-client] Add backoff functionality and error codes in HTTP errors
  Cargo.lock
  crates/aptos-rest-client/Cargo.toml
  crates/aptos-rest-client/src/error.rs
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-rosetta/src/error.rs
Due: rust-fmt

[aptos-rest-client] Add ability to be more customizable on retries
  api/types/src/error.rs
  crates/aptos-rest-client/src/error.rs
  crates/aptos-rest-client/src/lib.rs
  ecosystem/indexer/src/indexer/fetcher.rs
Due: rust-fmt

Fix indentation (#3712)
  .github/workflows/continuous-e2e-single-vfn-test.yaml
Due: prettier-fmt

Update values.yaml
  terraform/helm/fullnode/values.yaml
Due: prettier-fmt

[api] log 4xx status messages at info (sampled) (#3316)
  api/src/log.rs
Due: rust-fmt

[clippy] Remove clippy warning about deprecated name
  .cargo/config.toml
Due: none

[aptos-rosetta] Fix block lookup of set operator
  crates/aptos-rosetta-cli/src/construction.rs
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

Update run-a-fullnode-on-gcp.md
  developer-docs-site/docs/nodes/full-node/run-a-fullnode-on-gcp.md
Due: none

Codeowners to include Alin for cryptography changes
  .github/CODEOWNERS
Due: none

[community] Create fullnode-only registration. (#3694)
  ecosystem/platform/server/app/admin/it3_profiles.rb
  ecosystem/platform/server/app/controllers/it3_profiles_controller.rb
  ecosystem/platform/server/app/controllers/it3s_controller.rb
  ecosystem/platform/server/app/controllers/onboarding_controller.rb
  ecosystem/platform/server/app/models/it3_profile.rb
  ecosystem/platform/server/app/views/it3_profiles/_form.html.erb
  ecosystem/platform/server/app/views/layouts/_application.html.erb
  ecosystem/platform/server/app/views/static_page/incentivized_testnet.html.erb
  ecosystem/platform/server/config/routes.rb
  ecosystem/platform/server/db/migrate/20220831174120_add_fullnode_api_port_to_it3_profiles.rb
  ecosystem/platform/server/db/schema.rb
  ecosystem/platform/server/spec/factories/it3_profiles.rb
  ecosystem/platform/server/test/controllers/it3_profiles_controller_test.rb
  ecosystem/platform/server/test/controllers/it3s_controller_test.rb
Due: none

[docker] support for different compile profiles and features
  .github/workflows/build-images.yaml
  docker/README.md
  docker/build-rust-all.sh
  docker/docker-bake-rust-all.hcl
  docker/docker-bake-rust-all.sh
  docker/rust-all.Dockerfile
Due: prettier-fmt

[forge] option to toggle failpoints from wrapper
  testsuite/forge.py
  testsuite/forge_test.py
Due: none

[Token] Add auction house library
  aptos-move/framework/aptos-token/sources/bid.move
  aptos-move/framework/aptos-token/sources/listing.move
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/cached-packages/src/aptos_token_sdk_builder.rs
  head.mrb
Due: rust-fmt

WAL-103 redesign switch account screen
  apps/extension/src/core/colors.ts
  apps/extension/src/core/components/SecurityPrivacyPaths.tsx
  apps/extension/src/core/components/SettingsPaths.ts
  apps/extension/src/core/components/Toast.tsx
  apps/extension/src/core/hooks/useAccounts.ts
  apps/extension/src/core/routes.tsx
  apps/extension/src/pages/ChangePassword.tsx
  apps/extension/src/pages/SecurityPrivacy.tsx
Due: prettier-fmt

PR feedback from hardsetting
  apps/extension/src/core/colors.ts
  apps/extension/src/core/components/SecurityPrivacyPaths.tsx
  apps/extension/src/core/hooks/useAccounts.ts
  apps/extension/src/pages/ChangePassword.tsx
  apps/extension/src/pages/SecurityPrivacy.tsx
Due: prettier-fmt

Fixed spelling mistake
  developer-docs-site/docs/sdks/typescript-sdk.md
Due: none

[CP] Remove Network Status from main nav (#3689)
  ecosystem/platform/server/app/components/header_component.rb
Due: none

Export metrics
  Cargo.lock
  crates/inspection-service/src/inspection_service.rs
  ecosystem/sf-indexer/aptos-sf-indexer/Cargo.toml
  ecosystem/sf-indexer/aptos-sf-indexer/src/counters.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/main.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/schema.rs
  ecosystem/sf-indexer/aptos-sf-indexer/src/substream_processors/block_output_processor.rs
Due: rust-fmt

docs: fix restful API endpoint (#3610)
  developer-docs-site/docs/concepts/basics-events.md
Due: none

[Docs] Updating max-gas item in the docs.
  developer-docs-site/docs/nodes/ait/connect-to-testnet.md
Due: none

[Docs] Code highlight change.
  developer-docs-site/docs/nodes/ait/connect-to-testnet.md
Due: none

[Docs] Fixing the max gas in another place.
  developer-docs-site/docs/nodes/ait/additional-doc.md
Due: none

[Docs] Removing the -f flag.
  developer-docs-site/docs/nodes/ait/additional-doc.md
Due: none

[gha] reorganize docker build workflows
  .github/workflows/docker-build-test.yaml
  .github/workflows/docker-rust-build.yaml
  testsuite/forge.py
Due: prettier-fmt

Update the API server url with /v1
  developer-docs-site/docs/nodes/full-node/run-a-fullnode-on-gcp.md
Due: none

Example to Example command syntax
  developer-docs-site/docs/nodes/full-node/run-a-fullnode-on-gcp.md
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
