Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[Spec] Added more spec to `big_vector`
  aptos-move/framework/aptos-stdlib/doc/big_vector.md
  aptos-move/framework/aptos-stdlib/doc/smart_table.md
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_vector.spec.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_table.spec.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.spec.move
Due: none

[Storage][Sharding] Add a LedgerDb struct, to prepare split ledger db to multiple RocksDB instances. (#8281)
  config/src/config/storage_config.rs
  storage/aptosdb/src/db_options.rs
  storage/aptosdb/src/ledger_db.rs
  storage/aptosdb/src/lib.rs
  storage/backup/backup-cli/src/utils/mod.rs
Due: rust-fmt

quorum store sharded cache
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/block_executor/mod.rs
Due: rust-fmt, rust-cargo-sort

[Spec] Added more spec to `big_vector` (#8199)
  aptos-move/framework/aptos-stdlib/doc/big_vector.md
  aptos-move/framework/aptos-stdlib/doc/smart_table.md
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_vector.spec.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_table.spec.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.spec.move
Due: none

[storage] modify state store to handle kv only case
  storage/aptosdb/src/backup/restore_handler.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/backup/backup-cli/src/backup_types/tests.rs
  storage/backup/backup-cli/src/backup_types/transaction/manifest.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/coordinators/replay_verify.rs
  storage/backup/backup-cli/src/coordinators/restore.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/db-tool/src/tests.rs
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/storage.rs
Due: rust-fmt

[storage] resolve test flakyness by using avaliable port
  storage/backup/backup-cli/Cargo.toml
  storage/backup/backup-cli/src/utils/mod.rs
  storage/db-tool/Cargo.toml
  storage/db-tool/src/tests.rs
Due: rust-fmt

[storage] restore KV
  Cargo.lock
  execution/executor/src/chunk_executor.rs
  storage/aptosdb/src/backup/restore_handler.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_restore/mod.rs
  storage/aptosdb/src/state_restore/restore_test.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/restore.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/tests.rs
  storage/backup/backup-cli/src/backup_types/tests.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/backup_types/transaction/tests.rs
  storage/backup/backup-cli/src/coordinators/replay_verify.rs
  storage/backup/backup-cli/src/coordinators/restore.rs
  storage/backup/backup-cli/src/coordinators/verify.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/db-tool/Cargo.toml
  storage/db-tool/src/restore.rs
  storage/db-tool/src/tests.rs
Due: rust-fmt

[for review] address comments 2
  execution/executor/src/chunk_executor.rs
  storage/aptosdb/src/backup/restore_handler.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_restore/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/backup_types/transaction/tests.rs
  storage/backup/backup-cli/src/coordinators/replay_verify.rs
  storage/backup/backup-cli/src/coordinators/restore.rs
  storage/backup/backup-cli/src/coordinators/verify.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/db-tool/src/tests.rs
Due: rust-fmt

[For Review] address review comments
  execution/executor/src/chunk_executor.rs
  storage/aptosdb/src/backup/restore_handler.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_restore/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/backup_types/transaction/tests.rs
  storage/backup/backup-cli/src/coordinators/restore.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/db-tool/src/restore.rs
  storage/db-tool/src/tests.rs
Due: rust-fmt

[Config] Enable peer monitoring client by default.
  config/src/config/peer_monitoring_config.rs
Due: rust-fmt

wait for it
  aptos-node/src/lib.rs
Due: rust-fmt

[CLI] Add multisig JSON governance, docs (#7709)
  Cargo.lock
  crates/aptos/Cargo.toml
  crates/aptos/src/account/mod.rs
  crates/aptos/src/account/multisig_account.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/common/utils.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/test/mod.rs
  developer-docs-site/docs/move/move-on-aptos/cli.md
  developer-docs-site/docs/tools/aptos-cli-tool/use-aptos-cli.md
  developer-docs-site/scripts/additional_dict.txt
Due: rust-fmt

Add support for staking Coins directly
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

Fix timestamp
  consensus/src/dag/bullshark.rs
  consensus/src/dag/counters.rs
Due: rust-fmt

bug: wave to round
  consensus/src/dag/dag.rs
Due: rust-fmt

no timeout
  consensus/src/dag/dag.rs
Due: rust-fmt

For measuring the overhead of a very naive, sequential, implementation of duplicate intra-block filtering.
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/counters.rs
Due: rust-fmt

An implementation to make within-VFN broadcasts single hop
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/tasks.rs
Due: rust-fmt

Fix tests, to compile
  mempool/src/core_mempool/transaction.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/fuzzing.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/node.rs
  mempool/src/tests/shared_mempool_test.rs
Due: rust-fmt

linter
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Non three-region duplicate txns
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

fix
  aptos-move/aptos-vm/src/block_executor/mod.rs
Due: rust-fmt

fix 2
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
Due: rust-fmt

[docs] Setup Redirects & Fix Dead Links (#8298)
  developer-docs-site/docs/nodes/validator-node/operator/running-validator-node/using-gcp.md
  developer-docs-site/docusaurus.config.js
  ecosystem/typescript/sdk/README.md
  ecosystem/typescript/sdk/examples/README.md
  terraform/aptos-node/gcp/README.md
Due: prettier-fmt

fix metrics
  aptos-move/aptos-vm/src/block_executor/mod.rs
Due: rust-fmt

update locks and fix bugs
  Cargo.lock
  Cargo.toml
  crates/indexer/src/processors/econia_processor.rs
Due: rust-fmt, rust-cargo-sort

fix toml
  Cargo.toml
Due: rust-cargo-sort

Determine speculation mode from LogSchema / StateView, allow disabling for sharding
  CODEOWNERS
  aptos-move/aptos-vm-logging/src/lib.rs
  aptos-move/aptos-vm-logging/src/log_schema.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/sharded_block_executor/executor_shard.rs
Due: rust-fmt

small fix
  testsuite/parallel_execution_performance.py
Due: none

Determine speculation mode from LogSchema / StateView, allow disabling for sharding (#8254)
  CODEOWNERS
  aptos-move/aptos-vm-logging/src/lib.rs
  aptos-move/aptos-vm-logging/src/log_schema.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/sharded_block_executor/executor_shard.rs
Due: rust-fmt

[storage] fix flaky test
  testsuite/smoke-test/src/storage.rs
Due: rust-fmt

[CANARY][gha] fix docker build setup
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

[Spec] Proved the `big_vector` module with loop unrolling
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_vector.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_vector.spec.move
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
