Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

fix
  consensus/src/pipeline/buffer_manager.rs
Due: rust-fmt

[Consensus Observer] Enable CO on all nodes.
  config/src/config/consensus_observer_config.rs
Due: rust-fmt

[Consensus Observer] Add simple smoke tests.
  testsuite/smoke-test/src/consensus_observer.rs
  testsuite/smoke-test/src/state_sync_utils.rs
  types/src/on_chain_config/consensus_config.rs
Due: rust-fmt

BufferManager::pending_commit_proofs
  consensus/consensus-types/src/pipeline/commit_decision.rs
  consensus/src/pipeline/buffer_item.rs
  consensus/src/pipeline/buffer_manager.rs
Due: rust-fmt

[Consensus Observer] Add simple PFN test.
  consensus/src/payload_manager.rs
  testsuite/smoke-test/src/consensus_observer.rs
  testsuite/smoke-test/src/full_nodes.rs
  testsuite/smoke-test/src/utils.rs
Due: rust-fmt

[Consensus Observer] Filter out unsupported peers.
  Cargo.lock
  config/src/config/consensus_observer_config.rs
  consensus/Cargo.toml
  consensus/src/consensus_observer/observer/subscription.rs
  consensus/src/consensus_observer/observer/subscription_manager.rs
Due: rust-fmt

[Consensus Observer] Make publish_message() non blocking.
  consensus/src/consensus_observer/publisher/consensus_publisher.rs
  consensus/src/payload_manager.rs
  consensus/src/pipeline/buffer_manager.rs
Due: rust-fmt

[Consensus Observer] Improve subscription optimality check logic.
  config/src/config/consensus_observer_config.rs
  consensus/src/consensus_observer/observer/active_state.rs
  consensus/src/consensus_observer/observer/subscription.rs
  consensus/src/consensus_observer/observer/subscription_manager.rs
Due: rust-fmt

Forge test old code
  Cargo.lock
  config/src/config/consensus_observer_config.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

update CI
  .github/workflows/aptos-framework-test.yaml
Due: prettier-fmt

[Consensus Observer] Small refactors to state sync logic.
  state-sync/inter-component/consensus-notifications/src/lib.rs
  state-sync/state-sync-driver/src/driver.rs
  state-sync/state-sync-driver/src/metrics.rs
  state-sync/state-sync-driver/src/notification_handlers.rs
Due: rust-fmt

[Consensus Observer] Small refactors to state sync logic.
  consensus/src/consensus_observer/observer/subscription.rs
  consensus/src/consensus_observer/publisher/consensus_publisher.rs
  state-sync/inter-component/consensus-notifications/src/lib.rs
  state-sync/state-sync-driver/src/driver.rs
  state-sync/state-sync-driver/src/metrics.rs
  state-sync/state-sync-driver/src/notification_handlers.rs
Due: rust-fmt

Update indexer_grpc_local.py
  testsuite/indexer_grpc_local.py
Due: none

Minor change in duration measurement
  consensus/src/quorum_store/proof_coordinator.rs
Due: rust-fmt

ci action
  .github/workflows/lint-test.yaml
  third_party/move/move-prover/lab/Cargo.toml
Due: prettier-fmt

optimistic signature verification for signed batch infos
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/network_listener.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Update cli-release.yaml
  .github/workflows/cli-release.yaml
Due: prettier-fmt

Create publish_to_choco.ps1
  scripts/publish_to_choco.ps1
Due: none

100 validators
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Optimistic Signature Verification
  config/src/config/consensus_config.rs
  config/src/config/consensus_observer_config.rs
  consensus/consensus-types/src/delayed_qc_msg.rs
  consensus/consensus-types/src/lib.rs
  consensus/consensus-types/src/order_vote.rs
  consensus/consensus-types/src/order_vote_msg.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/vote.rs
  consensus/consensus-types/src/vote_msg.rs
  consensus/src/block_storage/block_store_test.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/liveness/round_state.rs
  consensus/src/liveness/round_state_test.rs
  consensus/src/pending_order_votes.rs
  consensus/src/pending_votes.rs
  consensus/src/pipeline/buffer_item.rs
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/pipeline/commit_reliable_broadcast.rs
  consensus/src/pipeline/decoupled_execution_utils.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
  consensus/src/qc_aggregator.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/network_listener.rs
  consensus/src/quorum_store/proof_coordinator.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  consensus/src/round_manager.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  crates/aptos-bitvec/src/lib.rs
  testsuite/forge-cli/src/main.rs
  types/src/ledger_info.rs
  types/src/validator_verifier.rs
Due: rust-fmt

autogenrated files update
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/supra-framework/doc/supra_governance.md
Due: rust-fmt

cleanup old supra_governance function and make relavent changes in pbo_/delegation_pool + unit testcases and all
  aptos-move/e2e-move-tests/src/supra_governance.rs
  aptos-move/e2e-move-tests/src/tests/vote.data/enable_partial_governance_voting/sources/main.move
  aptos-move/e2e-move-tests/src/tests/vote.rs
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/src/release_bundle.rs
  aptos-move/framework/supra-framework/doc/delegation_pool.md
  aptos-move/framework/supra-framework/doc/multisig_voting.md
  aptos-move/framework/supra-framework/doc/pbo_delegation_pool.md
  aptos-move/framework/supra-framework/doc/supra_governance.md
  aptos-move/framework/supra-framework/doc/voting.md
  aptos-move/framework/supra-framework/sources/delegation_pool.move
  aptos-move/framework/supra-framework/sources/pbo_delegation_pool.move
  aptos-move/framework/supra-framework/sources/supra_governance.move
  aptos-move/move-examples/governance/sources/block_update_epoch_interval.move
  aptos-move/move-examples/governance/sources/stake_update_min_max.move
  aptos-move/move-examples/governance/sources/stake_update_recurring_lockup_time.move
  aptos-move/move-examples/governance/sources/stake_update_rewards_rate.move
  aptos-move/move-examples/governance/sources/stake_update_voting_power_increase_limit.move
Due: rust-fmt

add multisig creation helpers in genesis
  aptos-move/framework/supra-framework/sources/genesis.move
Due: none

Update publish_to_choco.ps1
  scripts/publish_to_choco.ps1
Due: none

Create Workflow to publish cli
  .github/workflows/cli-release.yaml
  chocolatey/aptos. nuspec
  scripts/cli/publish_to_choco.ps1
  scripts/publish_to_choco.ps1
Due: prettier-fmt

add tests and sequence increment
  aptos-move/framework/supra-framework/sources/genesis.move
Due: none

remove comment
  aptos-move/framework/supra-framework/sources/genesis.move
Due: none

Fix ‘address with no value’ (aptos-move/move-examples/groth16_example/Move.toml): Error "address 'groth16_example' is not assigned a value. Try assigning it a value when calling the compiler"
  aptos-move/move-examples/groth16_example/Move.toml
Due: none

sync helm chart changes for log level annotations
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
Due: prettier-fmt

sync helm chart changes for log level annotations (#14505)
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
Due: prettier-fmt

[Consensus Observer] Add simple PFN test.
  testsuite/smoke-test/src/consensus_observer.rs
  testsuite/smoke-test/src/full_nodes.rs
  testsuite/smoke-test/src/utils.rs
Due: rust-fmt

[Consensus Observer] Small refactors to state sync logic.
  consensus/src/consensus_observer/observer/subscription.rs
  state-sync/inter-component/consensus-notifications/src/lib.rs
  state-sync/state-sync-driver/src/driver.rs
  state-sync/state-sync-driver/src/metrics.rs
  state-sync/state-sync-driver/src/notification_handlers.rs
Due: rust-fmt
