Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[compiler v2] Fix equalities, FreezeRef conversion (#12162)
  third_party/move/move-compiler-v2/src/pipeline/reference_safety_processor.rs
  third_party/move/move-compiler-v2/tests/ability-transform/borrowed_from_one_path.exp
  third_party/move/move-compiler-v2/tests/ability-transform/by_reference.exp
  third_party/move/move-compiler-v2/tests/ability-transform/dead_but_borrowed.exp
  third_party/move/move-compiler-v2/tests/ability-transform/destroy_after_call.exp
  third_party/move/move-compiler-v2/tests/ability-transform/drop_after_loop.exp
  third_party/move/move-compiler-v2/tests/ability-transform/drop_at_branch.exp
  third_party/move/move-compiler-v2/tests/ability-transform/foreach_mut_expanded.exp
  third_party/move/move-compiler-v2/tests/ability-transform/mutate_return.exp
  third_party/move/move-compiler-v2/tests/ability-transform/mutate_vector.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/reference_conversion.exp
  third_party/move/move-compiler-v2/tests/checking/inlining/bug_11112.exp
  third_party/move/move-compiler-v2/tests/checking/inlining/bug_9717_looponly.exp
  third_party/move/move-compiler-v2/tests/checking/specs/conditions_ok.exp
  third_party/move/move-compiler-v2/tests/checking/specs/update_field_ok.exp
  third_party/move/move-compiler-v2/tests/checking/typing/eq.exp
  third_party/move/move-compiler-v2/tests/checking/typing/eq_invalid.exp
  third_party/move/move-compiler-v2/tests/checking/typing/eq_ref.exp
  third_party/move/move-compiler-v2/tests/checking/typing/eq_ref.move
  third_party/move/move-compiler-v2/tests/checking/typing/mutable_eq_and_neq.exp
  third_party/move/move-compiler-v2/tests/checking/typing/neq.exp
  third_party/move/move-compiler-v2/tests/checking/typing/neq_invalid.exp
  third_party/move/move-compiler-v2/tests/checking/typing/nested_post_process.exp
  third_party/move/move-compiler-v2/tests/checking/typing/subtype_args.exp
  third_party/move/move-compiler-v2/tests/reference-safety/eq_ref.move
  third_party/move/move-compiler-v2/tests/reference-safety/freeze.exp
  third_party/move/move-compiler-v2/tests/reference-safety/freeze.move
  third_party/move/move-compiler-v2/tests/reference-safety/multiple_use_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_full.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/call_mutual_borrows_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_full_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/return_mutual_borrows_invalid.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/mut_ref_compare.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/mut_ref_compare.move
  third_party/move/move-model/src/builder/builtins.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-prover/boogie-backend/src/spec_translator.rs
Due: rust-fmt

higher limits pipeline backpressure
  config/src/config/consensus_config.rs
Due: rust-fmt

[consensus] fix the race condition with the order of operations
  consensus/src/pipeline/buffer_manager.rs
Due: rust-fmt

[previewnet] higher limits pipeline backpressure (#12252)
  config/src/config/consensus_config.rs
Due: rust-fmt

[Execution] Increase the default concurrency to 32 (#12200)
  Cargo.lock
  aptos-node/Cargo.toml
  aptos-node/src/utils.rs
  config/src/config/execution_config.rs
Due: rust-fmt

[previewnet cherry-pick] [Execution] Increase the default concurrency to 32 (#12200) (#12254)
  Cargo.lock
  aptos-node/Cargo.toml
  aptos-node/src/utils.rs
  config/src/config/execution_config.rs
Due: rust-fmt

add destroy operation for staking contracts
  aptos-move/framework/aptos-framework/sources/staking_contract.move
Due: none

[NFT Metadata Crawler] Fix not committing duplicate images and animations (#12242)
  ecosystem/nft-metadata-crawler-parser/src/models/nft_metadata_crawler_uris_query.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/database.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Due: rust-fmt

address comments
  aptos-move/e2e-move-tests/src/tests/aggregator_v2_events.rs
Due: rust-fmt

debug
  testsuite/smoke-test/src/jwks/mod.rs
Due: rust-fmt

[aggregator] Improve event testing (#12113)
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2_events.rs
Due: rust-fmt

update
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/sources/genesis.move
Due: none

update
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
  aptos-move/framework/aptos-stdlib/sources/simple_map.spec.move
  aptos-move/framework/src/aptos.rs
  aptos-move/framework/src/natives/consensus_config.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/randomness.rs
  third_party/move/move-stdlib/sources/hash.move
Due: rust-fmt

fixing outputs in other modules affected by the "unused" annotation on locals
  third_party/move/move-model/bytecode/src/function_target.rs
  third_party/move/move-model/bytecode/tests/borrow/basic_test.exp
  third_party/move/move-model/bytecode/tests/borrow/hyper_edge.exp
  third_party/move/move-model/bytecode/tests/borrow_strong/basic_test.exp
  third_party/move/move-model/bytecode/tests/borrow_strong/mut_ref.exp
  third_party/move/move-prover/bytecode-pipeline/tests/memory_instr/basic_test.exp
  third_party/move/move-prover/bytecode-pipeline/tests/memory_instr/mut_ref.exp
Due: rust-fmt

tool v1
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-code-analyzer/Cargo.toml
  aptos-move/aptos-code-analyzer/src/cost_cfg.rs
  aptos-move/aptos-code-analyzer/src/lib.rs
  aptos-move/aptos-code-analyzer/src/main.rs
  aptos-move/aptos-code-analyzer/src/passes/collect_instruction_distribution.rs
  aptos-move/aptos-code-analyzer/src/passes/mod.rs
  aptos-move/aptos-code-analyzer/src/types.rs
Due: rust-fmt, rust-cargo-sort

Add more variety to Forge workload-mix test
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[storage] reduce the number of cf reporting metrics
  storage/aptosdb/src/db_options.rs
  storage/aptosdb/src/rocksdb_property_reporter.rs
Due: rust-fmt

Merged Code formatting and Code analysis to use wrapper scripts
  RUST_CODING_STYLE.md
Due: none

tool v2
  Cargo.lock
  aptos-move/aptos-code-analyzer/Cargo.toml
  aptos-move/aptos-code-analyzer/src/cost_cfg.rs
  aptos-move/aptos-code-analyzer/src/lib.rs
  aptos-move/aptos-code-analyzer/src/main.rs
  aptos-move/aptos-vm-benchmarks/samples/add-numbers/sources/AddNumbers.move
  test.txt
Due: rust-fmt

econia flow details
  crates/transaction-generator-lib/src/workflow_delegator.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/pipeline.rs
  execution/executor-benchmark/src/transaction_generator.rs
  testsuite/single_node_performance.py
Due: rust-fmt

construct delegation pool from destroyed staking contract
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
  aptos-move/framework/aptos-framework/sources/staking_contract.move
Due: none

[CLI] Bump version to 2.5.0
  Cargo.lock
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Due: none

[preview only for now] some more monitoring for verification
  consensus/src/epoch_manager.rs
Due: rust-fmt

[preview only for now] some more monitoring for verification (#12261)
  consensus/src/epoch_manager.rs
Due: rust-fmt

Move test out of no-safety. (#12248)
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/simple_map_keys.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/simple_map_keys.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-safety/README.md
Due: none

[gha] add preview-networking (#12246)
  .github/workflows/copy-images-to-dockerhub-release.yaml
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

StorageGasParameters::latest() for usage in tests
  aptos-move/aptos-vm-types/src/storage/mod.rs
Due: rust-fmt

[CLI] Bump version to 2.5.0 (#12259)
  Cargo.lock
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Due: none

remove StorageGasParameters::unlimited()
  aptos-move/aptos-vm-types/src/storage/mod.rs
  aptos-move/e2e-move-tests/src/tests/fee_payer.rs
  aptos-move/e2e-tests/src/executor.rs
Due: rust-fmt

Remove null bytes
  ecosystem/nft-metadata-crawler-parser/src/config.rs
Due: rust-fmt

[cli] Force global config file (#12180)
  crates/aptos/src/config/mod.rs
Due: rust-fmt

Add multiple market support
  crates/transaction-generator-lib/src/accounts_pool_wrapper.rs
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/econia_order_generator.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  crates/transaction-generator-lib/src/workflow_delegator.rs
  testsuite/module-publish/src/packages/econia/sources/assets.move
  testsuite/module-publish/src/packages/econia/sources/txn_generator_utils.move
  testsuite/single_node_performance.py
Due: rust-fmt

use quote_coin_type function
  crates/transaction-generator-lib/src/econia_order_generator.rs
  crates/transaction-generator-lib/src/workflow_delegator.rs
Due: rust-fmt

Minor fixes
  crates/transaction-generator-lib/src/econia_order_generator.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  testsuite/module-publish/src/packages/econia/sources/assets.move
Due: rust-fmt

module publish
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
Due: rust-fmt

[consensus] stop reverifying self commit decisions
  consensus/src/network.rs
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/pipeline/tests/buffer_manager_tests.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
