Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Test forge by messing things up
  testsuite/forge/src/backend/k8s/cluster_helper.rs
Due: rust-fmt

[Docs] Renaming Korean version.
  developer-docs-site/docs/aptos-white-paper.md
  developer-docs-site/static/papers/whitepaper-korean.pdf
Due: none

[move-deps] update to latest
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
Due: none

[docs] port hello_blockchain to being purely cli tutorial
  aptos-move/move-examples/hello_blockchain/sources/hello_blockchain.move
  aptos-move/move-examples/hello_blockchain/sources/hello_blockchain_test.move
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
  developer-docs-site/docs/tutorials/first-move-module-cli.md
  developer-docs-site/sidebars.js
  developer-docs-site/static/move-examples
Due: prettier-fmt

[Aptos Framework][Voting] Add a field to track proposal's resolution timestamp (#3410)
  aptos-move/framework/aptos-framework/sources/voting.move
Due: none

Add override for private key input
  crates/aptos/src/common/types.rs
Due: rust-fmt

[Aptos Framework][Aggregator] Cleanup (#3353)
  aptos-move/e2e-move-tests/tests/aggregator.data/pack/sources/aggregator_test.move
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator.move
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.move
  aptos-move/framework/aptos-framework/tests/aggregator_tests.move
Due: none

[CP] Add Whitepaper to Main / Footer navigation (#3303)
  ecosystem/platform/server/app/components/footer_component.rb
  ecosystem/platform/server/app/components/header_component.rb
Due: none

[api/sdk] Add generated files for new gas estimation API
  api/doc/spec.json
  api/doc/spec.yaml
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/GasEstimation.ts
  ecosystem/typescript/sdk/src/generated/schemas/$GasEstimation.ts
  ecosystem/typescript/sdk/src/generated/services/TransactionsService.ts
Due: prettier-fmt

[api] Allow turning off certain APIs and output types
  api/doc/spec.json
  api/doc/spec.yaml
  api/src/accounts.rs
  api/src/blocks.rs
  api/src/context.rs
  api/src/events.rs
  api/src/index.rs
  api/src/response.rs
  api/src/state.rs
  api/src/transactions.rs
  api/types/src/error.rs
  config/src/config/api_config.rs
  crates/aptos-rosetta/src/error.rs
  crates/aptos-rosetta/src/main.rs
  ecosystem/typescript/sdk/src/generated/models/AptosErrorCode.ts
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt, prettier-fmt

[aptos-rosetta] Add automatic fee estimation
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/error.rs
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos-rosetta/src/types/requests.rs
Due: rust-fmt

Fixing links in Concepts>Events doc (#3328)
  developer-docs-site/docs/concepts/basics-events.md
Due: none

[forge] Fix continuous forge namespaces
  .github/workflows/continuous-e2e-tests.yaml
  .github/workflows/pre-release-e2e-tests.yaml
  .github/workflows/shadow-e2e-tests.yaml
Due: prettier-fmt

[community] Fix wallet download link (#3370)
  ecosystem/platform/server/app/views/it3s/show.html.erb
Due: none

[Token] Store the token account unders goverance
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/system_addresses.move
Due: none

[tf][aws] maximize subnset size (#3376)
  terraform/aptos-node-testnet/main.tf
  terraform/aptos-node-testnet/variables.tf
  terraform/aptos-node/aws/kubernetes.tf
  terraform/aptos-node/aws/network.tf
  terraform/aptos-node/aws/variables.tf
  testsuite/run_forge.sh
Due: none

[parallel execution] delta support (#3126)
  Cargo.lock
  api/src/transactions.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/parallel_executor/mod.rs
  aptos-move/aptos-vm/src/parallel_executor/storage_wrapper.rs
  aptos-move/aptos-vm/src/parallel_executor/vm_wrapper.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/parallel-executor/Cargo.toml
  aptos-move/parallel-executor/src/executor.rs
  aptos-move/parallel-executor/src/lib.rs
  aptos-move/parallel-executor/src/output_delta_resolver.rs
  aptos-move/parallel-executor/src/proptest_types/bencher.rs
  aptos-move/parallel-executor/src/proptest_types/tests.rs
  aptos-move/parallel-executor/src/proptest_types/types.rs
  aptos-move/parallel-executor/src/task.rs
  aptos-move/parallel-executor/src/txn_last_input_output.rs
  aptos-move/parallel-executor/src/unit_tests/mod.rs
  types/src/write_set.rs
Due: rust-fmt

[Docs] Syncing tabs. (#3383)
  developer-docs-site/docs/sdks/python-sdk.md
  developer-docs-site/docs/tutorials/first-transaction-sdk.md
Due: none

[forge] Add Pre Release forge
  .github/workflows/pre-release-e2e-tests.yaml
Due: prettier-fmt

Add Create Account fromDerivePath
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/aptos_account.test.ts
  ecosystem/typescript/sdk/src/aptos_account.ts
Due: prettier-fmt

[docs] script_function_payload to entry_function_payload (#3332)
  developer-docs-site/docs/guides/interacting-with-the-blockchain.md
  developer-docs-site/docs/guides/system-integrators-guide.md
  developer-docs-site/docs/sdks/aptos-sdk-overview.md
  developer-docs-site/docs/tutorials/first-dapp.md
  developer-docs-site/static/examples/rust/hello_blockchain/src/lib.rs
  developer-docs-site/static/messageboard_demo/client/index.ts
  ecosystem/indexer/migrations/2022-04-05-234859_create_transactions/up.sql
  ecosystem/sf-indexer/aptos-sf-indexer/migrations/2022-08-08-043603_core_tables/up.sql
Due: rust-fmt, prettier-fmt

Use account address from profile options for CLI
  crates/aptos/src/common/types.rs
Due: rust-fmt

[forge] Set new wrapper to false
  testsuite/run_forge.sh
Due: none

[CP] Setup global announcement banner (#3355)
  ecosystem/platform/server/app/components/global_announcement_component.html.erb
  ecosystem/platform/server/app/components/global_announcement_component.rb
  ecosystem/platform/server/app/javascript/controllers/index.js
  ecosystem/platform/server/app/javascript/controllers/visibility_controller.ts
  ecosystem/platform/server/app/views/layouts/_application.html.erb
  ecosystem/platform/server/app/views/layouts/it3.html.erb
  ecosystem/platform/server/app/views/shared/_it3_intro.html.erb
  ecosystem/platform/server/app/views/static_page/incentivized_testnet.html.erb
  ecosystem/platform/server/app/views/static_page/root.html.erb
  ecosystem/platform/server/spec/components/global_announcement_component_spec.rb
Due: prettier-fmt

[Aptos Framework] Add missing events and event data in block, aptos_governance, voting (#3369)
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/block.move
  types/src/account_config/events/new_block.rs
Due: rust-fmt

[smoke-test] Disable flaky (#3407)
  testsuite/smoke-test/src/client.rs
  testsuite/smoke-test/src/full_nodes.rs
Due: rust-fmt

[aptos-telemetry] change error logs to debug (#3371)
  crates/aptos-telemetry/src/cli_metrics.rs
  crates/aptos-telemetry/src/sender.rs
  crates/aptos-telemetry/src/service.rs
Due: rust-fmt

[storage] internal indexer syncs to synced version instead of committed version on start up
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/mock.rs
Due: rust-fmt

[crypto] replace old ed25519-dalek-fiat dependency (#3359)
  developer-docs-site/static/examples/rust/first_transaction/Cargo.toml
Due: none

[Txn emitter] Reduce log frequency to reduce log volume for Forge (#3401)
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
Due: rust-fmt

[forge] Fix job name
  .github/workflows/pre-release-e2e-tests.yaml
Due: prettier-fmt

[Governance] Only allow validators to vote if the validator set is closed (e.g. in devnet) (#3380)
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
Due: none

edit docs:transactions-with-ts-sdk examples (#3392)
  developer-docs-site/docs/sdks/transactions-with-ts-sdk.md
Due: none

Use BCS version of get_transaction in NHC transaction availability evaluator (#3356)
  ecosystem/node-checker/src/evaluators/direct/api/mod.rs
  ecosystem/node-checker/src/evaluators/direct/api/transaction_availability.rs
Due: rust-fmt

[move] update txn_hash to 32 bytes
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/table.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/table.move
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  ecosystem/sf-indexer/firehose-stream/src/tests/proto_converter_tests.rs
Due: rust-fmt

[consensus][configs] Set quorum_store_poll_count=5 (#3344)
  config/src/config/consensus_config.rs
  config/src/config/execution_config.rs
  terraform/helm/aptos-node/values.yaml
  testsuite/forge/src/backend/local/swarm.rs
Due: rust-fmt, prettier-fmt

[forge] Fix some bugs in the new wrapper, enable on continuous
  .gitattributes
  .github/workflows/continuous-e2e-tests.yaml
  .github/workflows/run-forge.yaml
  .github/workflows/shadow-e2e-tests.yaml
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/fixtures/testDashboardLink.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testHumioLogLink.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/fixtures/testMainReport.fixture
  testsuite/fixtures/testValidatorLogsLink.fixture
  testsuite/forge.py
  testsuite/forge_test.py
  testsuite/run_forge.sh
Due: prettier-fmt

[aptos-rosetta] Cleanup non string u64s in JSON metadata
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos-rosetta/src/types/requests.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[docs] add korean abstract page for white paper (#3447)
  developer-docs-site/docs/aptos-white-paper/in-korean.md
  developer-docs-site/docs/aptos-white-paper/index.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
Due: prettier-fmt
