Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[move] add standard math library (#3172)
  aptos-move/framework/aptos-stdlib/sources/math128.move
  aptos-move/framework/aptos-stdlib/sources/math64.move
Due: none

[move] bump move dependencies to fix the SignatureToken deserialization bug
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
Due: none

more genesis
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/vm-genesis/src/lib.rs
Due: rust-fmt

[Forge] Add Validator and FullNodes reboot stress tests (#4085)
  .github/workflows/continuous-e2e-full-node-reboot-stress-test.yaml
  .github/workflows/continuous-e2e-validator-reboot-stress-test.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/fullnode_reboot_stress_test.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/validator_reboot_stress_test.rs
Due: rust-fmt, prettier-fmt

[aptos-rosetta] Fix deserialization bug of coin info
  crates/aptos-rosetta/src/account.rs
  types/src/account_config/resources/coin_info.rs
Due: rust-fmt

[forge] fix latency experiment with netem caveats
  testsuite/forge-cli/src/main.rs
  testsuite/forge.py
  testsuite/forge/src/backend/k8s/chaos/network_delay.yaml
  testsuite/testcases/src/network_latency_test.rs
Due: rust-fmt, prettier-fmt

[CANARY][forge] fix latency experiment with netem caveats
  testsuite/forge.py
Due: none

Add unit tests
  mempool/src/tests/integration_tests.rs
  mempool/src/tests/test_framework.rs
Due: rust-fmt

[Token] add the problems raised in auditing
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/aptos-token/sources/token_coin_swap.move
Due: none

[Token] add a public function for other contract to use
  aptos-move/framework/aptos-token/sources/property_map.move
  aptos-move/framework/aptos-token/sources/token.move
Due: none

[node-metrics] Ability to collect system metrics from Aptos nodes
  Cargo.lock
  Cargo.toml
  crates/aptos-metrics-core/Cargo.toml
  crates/aptos-metrics-core/src/const_metric.rs
  crates/aptos-metrics-core/src/lib.rs
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry/Cargo.toml
  crates/aptos-telemetry/src/constants.rs
  crates/aptos-telemetry/src/service.rs
  crates/node-metrics/Cargo.toml
  crates/node-metrics/src/collectors/common.rs
  crates/node-metrics/src/collectors/cpu_collector.rs
  crates/node-metrics/src/collectors/disk_collector.rs
  crates/node-metrics/src/collectors/load_avg_collector.rs
  crates/node-metrics/src/collectors/memory_collector.rs
  crates/node-metrics/src/collectors/mod.rs
  crates/node-metrics/src/collectors/network_collector.rs
  crates/node-metrics/src/collectors/process_collector.rs
  crates/node-metrics/src/lib.rs
Due: rust-fmt, rust-cargo-sort

Add verify example
  apps/dapp-example/package.json
  apps/dapp-example/src/App.tsx
  apps/website/docs/signing-a-message.mdx
Due: prettier-fmt

Don't sentry on redirect
  ecosystem/platform/server/app/javascript/controllers/claim_nft_controller.ts
Due: prettier-fmt

[deps] Remove more dependencies
  Cargo.lock
  crates/aptos-faucet-cli/Cargo.toml
  crates/aptos-keygen/Cargo.toml
  crates/aptos-keygen/src/main.rs
  crates/aptos-network-checker/Cargo.toml
  crates/aptos-openapi/Cargo.toml
  crates/aptos-protos/Cargo.toml
Due: rust-fmt

More tests around string validation code
  aptos-move/aptos-vm/src/transaction_arg_validation.rs
  aptos-move/e2e-move-tests/tests/string_args.rs
Due: rust-fmt

remove obsolete indexer image
  docker/build-rust-all.sh
  docker/retag-rust-images.sh
Due: none

include postgres driver in validator image to make indexer work
  docker/rust-all.Dockerfile
Due: none

[Docs] Fixing state sync doc.
  developer-docs-site/docs/concepts/state-sync.md
Due: none

chore: add comments and tests for the getAccountResource through BCS
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/aptos_client.ts
Due: prettier-fmt

upgrading move code spelling error
  developer-docs-site/docs/guides/move-guides/upgrading-move-code.md
Due: none

[code publishing] Make package metadata unforgeable (#3928)
  Cargo.lock
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/aptos-framework/sources/code.spec.move
  aptos-move/framework/aptos-framework/sources/configs/features.move
  aptos-move/framework/aptos-framework/sources/configs/features.spec.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/src/natives/code.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/mod.rs
Due: rust-fmt

[Network] Small readability fixes to memsocket.
  network/memsocket/src/lib.rs
Due: rust-fmt

cicd test run
  testsuite/forge.py
Due: none

Don't sentry on redirect (#4120)
  ecosystem/platform/server/app/javascript/controllers/claim_nft_controller.ts
Due: prettier-fmt

[testnet] Fix a woopsie in loadtest.yaml
  .github/workflows/forge-unittests.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/python-unit-test.yaml
  testsuite/__init__.py
  testsuite/determinator.py
  testsuite/determinator_test.py
  testsuite/forge_test.py
  testsuite/lint.py
  testsuite/lint_test.py
Due: prettier-fmt

Audit
  aptos-move/framework/aptos-token/sources/token.move
Due: none

[helm] add testnet link (#4101)
  terraform/helm/fullnode/values.yaml
Due: prettier-fmt

[mempool] handle when validate_transaction returns an error
  mempool/src/shared_mempool/tasks.rs
Due: rust-fmt

[Docs] Working in review comments and integrating coin and token docs into a section.
  developer-docs-site/docs/concepts/coin-and-token/aptos-coin.md
  developer-docs-site/docs/concepts/coin-and-token/aptos-token.md
  developer-docs-site/docs/concepts/coin-and-token/index.md
  developer-docs-site/sidebars.js
Due: prettier-fmt

Fix a test
  crates/indexer/src/indexer/tailer.rs
Due: rust-fmt

[move] bump move dependencies to fix the SignatureToken deserialization bug (#4122)
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
Due: none

[crypto+move] add Pedersen commitments and Bulletproof verification in Move
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/bulletproofs.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/bulletproofs.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/pedersen.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/pedersen.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.spec.move
  aptos-move/framework/src/natives/cryptography/bulletproofs.rs
  aptos-move/framework/src/natives/cryptography/mod.rs
  aptos-move/framework/src/natives/cryptography/ristretto255.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_scalar.rs
  aptos-move/framework/src/natives/cryptography/secp256k1.rs
  aptos-move/framework/src/natives/mod.rs
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/src/bulletproofs/mod.rs
  crates/aptos-crypto/src/lib.rs
  crates/aptos-crypto/src/unit_tests/bulletproofs_test.rs
  crates/aptos-crypto/src/unit_tests/mod.rs
Due: rust-fmt, rust-cargo-sort

[crypto+move] added a module for quasi-anonymous, veiled coins whose denomination is hidden
  Cargo.lock
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-stdlib/sources/cryptography/bulletproofs.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/bulletproofs.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/pedersen.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.spec.move
  aptos-move/framework/src/natives/cryptography/bls12381.rs
  aptos-move/framework/src/natives/cryptography/bulletproofs.rs
  aptos-move/framework/src/natives/cryptography/ed25519.rs
  aptos-move/framework/src/natives/cryptography/multi_ed25519.rs
  aptos-move/framework/src/natives/cryptography/ristretto255.rs
  aptos-move/framework/src/natives/cryptography/secp256k1.rs
  aptos-move/framework/src/natives/hash.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/util.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  aptos-move/move-examples/veiled_coin/Move.toml
  aptos-move/move-examples/veiled_coin/sources/veiled_coin.move
  crates/aptos/src/move_tool/aptos_debug_natives.rs
Due: rust-fmt

rename function and change some commment
  aptos-move/framework/aptos-token/sources/token.move
Due: none

Add specs to `stake.move`
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/block.spec.move
  aptos-move/framework/aptos-framework/sources/chain_status.spec.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/configs/staking_config.move
  aptos-move/framework/aptos-framework/sources/configs/staking_config.spec.move
  aptos-move/framework/aptos-framework/sources/event.move
  aptos-move/framework/aptos-framework/sources/event.spec.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/genesis.spec.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
  aptos-move/framework/aptos-framework/sources/timestamp.spec.move
  aptos-move/framework/aptos-stdlib/sources/table.spec.move
Due: none

Python SDK Update client.py small detail changes.
  ecosystem/python/sdk/aptos_sdk/client.py
Due: none

auditing
  aptos-move/framework/aptos-framework/sources/stake.move
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
