Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[Docs] Removing Move transactional testing guide.
  developer-docs-site/docs/guides/move-guides/index.md
  developer-docs-site/sidebars.js
Due: prettier-fmt

[backup] still consider trusted-waypoints after EpochHistory is constructed
  storage/backup/backup-cli/src/backup_types/epoch_ending/restore.rs
Due: rust-fmt

[backup] improve `db-backup coordinator run` command help and change default backup intervals
  storage/backup/backup-cli/src/bin/db-backup.rs
  storage/backup/backup-cli/src/bin/replay-verify.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
  storage/backup/backup-cli/src/metadata/cache.rs
  storage/backup/backup-cli/src/storage/command_adapter/sample_configs/azure.sample.yaml
  storage/backup/backup-cli/src/storage/command_adapter/sample_configs/gcp.sample.yaml
  storage/backup/backup-cli/src/storage/command_adapter/sample_configs/local_folder.sample.yaml
  storage/backup/backup-cli/src/storage/command_adapter/sample_configs/s3.sample.yaml
  storage/backup/backup-cli/src/storage/mod.rs
  storage/backup/backup-cli/src/utils/backup_service_client.rs
  storage/backup/backup-cli/src/utils/mod.rs
  terraform/helm/fullnode/values.yaml
Due: rust-fmt, prettier-fmt

Change the projects base URL to /ecosystem.
  ecosystem/platform/server/app/controllers/projects_controller.rb
  ecosystem/platform/server/app/views/projects/index.html.erb
  ecosystem/platform/server/app/views/projects/show.html.erb
  ecosystem/platform/server/config/routes.rb
  ecosystem/platform/server/test/controllers/projects_controller_test.rb
Due: none

Add isConnected button to dapp-example
  apps/dapp-example/src/App.tsx
Due: prettier-fmt

[forge] Add continuous progress check to SuccessCriteria
  Cargo.lock
  testsuite/forge-cli/src/main.rs
  testsuite/forge/Cargo.toml
  testsuite/forge/src/interface/mod.rs
  testsuite/forge/src/interface/network.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/forge/src/runner.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/tests/forge-local-performance.rs
  types/src/account_config/events/new_block.rs
Due: rust-fmt

[mempool] update capacity alerts (count, bytes)
  terraform/helm/monitoring/files/rules/alerts.yml
Due: prettier-fmt

observability: annotation based prometheus config and reduce logging volume slightly (#4327)
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/fullnode/templates/fullnode.yaml
  terraform/helm/vector-log-agent/files/vector-transforms.yaml
Due: prettier-fmt

chore: clean up nullish coalescing (??) operators
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/tsup.config.js
  ecosystem/typescript/sdk/typedoc.json
  ecosystem/typescript/sdk/yarn.lock
Due: prettier-fmt

add growth rate for bytes as well
  terraform/helm/monitoring/files/rules/alerts.yml
Due: prettier-fmt

Make the FORUM-SSO coookie HttpOnly.
  ecosystem/platform/server/app/controllers/discourse_controller.rb
Due: none

[storage] refactor: replace TransactionInfoIter with ContinousVersionIter
  storage/aptosdb/src/event_store/mod.rs
  storage/aptosdb/src/ledger_store/mod.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/ledger_pruner_manager.rs
  storage/aptosdb/src/pruner/ledger_store/ledger_store_pruner.rs
  storage/aptosdb/src/pruner/mod.rs
  storage/aptosdb/src/pruner/pruner_utils.rs
  storage/aptosdb/src/pruner/state_pruner_manager.rs
  storage/aptosdb/src/pruner/state_store/mod.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/transaction_store/mod.rs
  storage/aptosdb/src/utils/iterators.rs
  storage/aptosdb/src/utils/mod.rs
Due: rust-fmt

[backup] backup writesets
  storage/aptosdb/src/backup/backup_handler.rs
  storage/aptosdb/src/transaction_store/mod.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
Due: rust-fmt

[forge] Create separate nft mint test, and remove nft minting from other tests
  .github/workflows/continuous-e2e-account-creation-test.yaml
  .github/workflows/continuous-e2e-nft-mint-test.yaml
  crates/transaction-emitter-lib/src/transaction_generator/nft_mint.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt, prettier-fmt

WAL-109 implement export private key in Settings
  apps/extension/src/core/components/EnterSecretRecoveryPhraseBody.tsx
  apps/extension/src/core/components/SettingsPaths.ts
  apps/extension/src/core/components/WalletHeader.tsx
  apps/extension/src/core/constants.ts
  apps/extension/src/core/layouts/WalletLayout.tsx
  apps/extension/src/core/routes.tsx
  apps/extension/src/pages/Credentials.tsx
  apps/extension/src/pages/ExportPublicPrivateKey.tsx
  apps/extension/src/pages/Reauthenticate.tsx
Due: prettier-fmt

[community] Make the FORUM-SSO coookie HttpOnly. (#4333)
  ecosystem/platform/server/app/controllers/discourse_controller.rb
Due: none

[forge] fix latency experiment with netem caveats (#4119)
  .github/workflows/continuous-e2e-network-latency-test.yaml
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/aptos-node/values.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/forge.py
  testsuite/forge/src/backend/k8s/chaos.rs
  testsuite/forge/src/backend/k8s/chaos/network_delay.yaml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/chaos.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/network_latency_test.rs
  testsuite/testcases/src/three_region_simulation_test.rs
Due: rust-fmt, prettier-fmt

WAL-111 Add confirmation for removal of account
  apps/extension/src/core/colors.ts
  apps/extension/src/core/components/SettingsListItem.tsx
  apps/extension/src/core/components/SettingsPaths.ts
  apps/extension/src/core/components/Toast.tsx
  apps/extension/src/core/components/WalletHeader.tsx
  apps/extension/src/core/routes.tsx
  apps/extension/src/pages/RemoveAccount.tsx
Due: prettier-fmt

[TS SDK] Add query params argument to getEventsByCreationNumber
  ecosystem/typescript/sdk/src/aptos_client.ts
Due: prettier-fmt

[Genesis] Add support for validators that don't immediately join the validator set
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos/src/genesis/keys.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/genesis/tests.rs
Due: rust-fmt

feedback
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/aptos_client.ts
Due: prettier-fmt

[Forge] Tune validator reboot stress test
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

fixing nits
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
Due: none

[framework] disable arbitrary upgrades
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/framework/aptos-framework/sources/code.move
Due: rust-fmt

[Forge] Increase default memory threshold from 5G -> 10G
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/runner.rs
Due: rust-fmt

Move faucet to 1 apt
  apps/extension/src/core/components/Faucet.tsx
Due: prettier-fmt

[aptos-cli] Add a command to generate writeset for fire events
  aptos-move/aptos-vm/src/aptos_vm.rs
  crates/aptos/src/genesis/keys.rs
  crates/aptos/src/genesis/mod.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/test_utils.rs
Due: rust-fmt

[TS SDK] Add query params argument to getEventsByCreationNumber (#4337)
  ecosystem/typescript/sdk/src/aptos_client.ts
Due: prettier-fmt

[Forge] Increase default memory threshold from 5G -> 10G (#4340)
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/runner.rs
Due: rust-fmt

Remove create NFT functionality
  apps/extension/src/pages/Gallery.tsx
Due: prettier-fmt

[gha] Turn compat test back on
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

debug
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[gha] pin compat at latest build on testnet (#4283)
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

Increasing haproxy resources
  terraform/helm/aptos-node/values.yaml
  testsuite/forge.py
Due: prettier-fmt

[forge] schedule haproxy on validator nodegroup
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
Due: prettier-fmt

disabling offending lines!\?
  terraform/helm/aptos-node/files/haproxy.cfg
Due: none

[Docs] Adding new doc for developer resources.
  developer-docs-site/docs/aptos-developer-resources.md
  developer-docs-site/docs/cli-tools/aptos-cli-tool/index.md
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
  developer-docs-site/docs/cli-tools/aptos-cli-tool/use-aptos-cli.md
  developer-docs-site/docs/guides/getting-started.md
  developer-docs-site/sidebars.js
Due: prettier-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
