Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

indexer grpc fullnode now consider both indexer ledger version + table info version to have strong consistency. (#15065)
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  storage/indexer/src/indexer_reader.rs
  types/src/indexer/indexer_db_reader.rs
Due: rust-fmt

[comments] Addressing Igor's comments
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/block-executor/src/code_cache_global.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/counters.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  types/src/block_executor/config.rs
Due: rust-fmt

[pipeline] new pipeline
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/block_storage/block_tree.rs
  consensus/src/counters.rs
  consensus/src/pipeline/mod.rs
  consensus/src/pipeline/pipeline_builder.rs
Due: rust-fmt

[congigs] Use 1 GB max size
  types/src/block_executor/config.rs
Due: rust-fmt

Restrict prefixes to ed25519
  crates/aptos/src/common/init.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/common/utils.rs
Due: rust-fmt

Add ProfileConfig deserialization
  crates/aptos/src/common/types.rs
  crates/aptos/src/common/utils.rs
Due: rust-fmt

Rebase to CHANGELOG.md
  crates/aptos/CHANGELOG.md
Due: none

Allow for AIP-80 compliant strings in imports
  crates/aptos/CHANGELOG.md
  crates/aptos/src/common/init.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/common/utils.rs
Due: rust-fmt

[Linter] Reduce perceived false positives and have links to linter doc in warnings (#15241)
  third_party/move/move-compiler-v2/src/external_checks.rs
  third_party/move/tools/move-linter/src/model_ast_lints/unnecessary_numerical_extreme_comparison.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/blocks_in_conditions_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/multi_attributes_01.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_bool_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_deref_ref_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_ref_deref_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/needless_ref_in_field_access_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/simpler_numeric_expression_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/unnecessary_boolean_identity_comparison.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/unnecessary_numerical_extreme_comparisons_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/while_true_warn.exp
  third_party/move/tools/move-linter/tests/stackless_bytecode_lints/avoid_copy_on_identity_comparison_warn_01.exp
  third_party/move/tools/move-linter/tests/stackless_bytecode_lints/needless_mutable_reference_warn.exp
Due: rust-fmt

format fix
  aptos-move/framework/aptos-framework/doc/function_info.md
  types/src/block_executor/config.rs
Due: rust-fmt

[cli] Allow for AIP-80 compliant strings while importing (#15039)
  crates/aptos/CHANGELOG.md
  crates/aptos/src/common/init.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/common/utils.rs
Due: rust-fmt

support devnet import
  ecosystem/indexer-grpc/indexer-transaction-generator/src/config.rs
Due: rust-fmt

[Consensus Observer] Reduce subscription churn.
  config/src/config/consensus_observer_config.rs
  consensus/src/consensus_observer/observer/subscription.rs
  consensus/src/consensus_observer/observer/subscription_manager.rs
  consensus/src/consensus_observer/observer/subscription_utils.rs
Due: rust-fmt

Stop locking BufferedState for read
  Cargo.lock
  storage/aptosdb/Cargo.toml
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/backup/test.rs
  storage/aptosdb/src/db/aptosdb_test.rs
  storage/aptosdb/src/db/fake_aptosdb.rs
  storage/aptosdb/src/db/include/aptosdb_reader.rs
  storage/aptosdb/src/db/include/aptosdb_testonly.rs
  storage/aptosdb/src/db/include/aptosdb_writer.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db/test_helper.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/ledger_db/ledger_metadata_db.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/backup/backup-cli/src/utils/test_utils.rs
  storage/storage-interface/src/state_delta.rs
Due: rust-fmt

Update aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

Minor change to release.yaml (#15261)
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

[comments] Added a comment about num_modules > 0
  aptos-move/aptos-vm/src/block_executor/mod.rs
Due: rust-fmt

[comments] Use rw lock for module cache, but aquire before block executions
  Cargo.lock
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/code_cache.rs
  aptos-move/block-executor/src/code_cache_global.rs
  aptos-move/block-executor/src/code_cache_global_manager.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
Due: rust-fmt

[benchmarks] Module loading benches (simple)
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/publishing/module_simple.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  testsuite/module-publish/src/packages/module_loading_chain_dependencies/Move.toml
  testsuite/module-publish/src/packages/module_loading_chain_dependencies/sources/chain_dependencies.move
  testsuite/module-publish/src/packages/module_loading_chain_friends/Move.toml
  testsuite/module-publish/src/packages/module_loading_chain_friends/sources/chain_friends.move
  testsuite/module-publish/src/packages/module_loading_star_dependencies/Move.toml
  testsuite/module-publish/src/packages/module_loading_star_dependencies/sources/star_dependencies.move
Due: rust-fmt

[hack] Cross-block debugger
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-debugger/src/execute_pending_block.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
Due: rust-fmt

[fix] Fix & improve script benchmark
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  testsuite/module-publish/src/main.rs
  testsuite/module-publish/src/packages/simple/scripts/main.move
Due: rust-fmt

[fixes] Fix raw module data & add env vars
  aptos-move/aptos-vm-environment/src/environment.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/publishing/module_simple.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  testsuite/module-publish/src/packages/module_loading_star_dependencies/sources/star_dependencies.move
  third_party/move/move-vm/runtime/src/config.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

deps: bump for diesel 2.2 and diesel-async 0.5
  Cargo.lock
  Cargo.toml
  crates/aptos/Cargo.toml
  crates/aptos/src/node/local_testnet/processors.rs
Due: rust-fmt, rust-cargo-sort

do not check quite old feature flags
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

extend conversion process documentation
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
  aptos-move/framework/aptos-framework/sources/staking_contract.move
Due: none

[FUZZER] Multiple utils and library refactor, fuzzers (#15176)
  Cargo.lock
  Cargo.toml
  testsuite/fuzzer/Cargo.toml
  testsuite/fuzzer/README.md
  testsuite/fuzzer/data/.gitignore
  testsuite/fuzzer/data/install-federated-jwks/Move.toml
  testsuite/fuzzer/data/install-federated-jwks/sources/install_federated_jwks.move
  testsuite/fuzzer/fuzz.sh
  testsuite/fuzzer/fuzz/Cargo.toml
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_authenticators.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish_and_run.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/bytecode_verifier_code_unit.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/bytecode_verifier_mixed.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/move_value_decorate.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/move_value_deserialize.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils/authenticator.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils/helpers.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils/mod.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils/vm.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/value_deserialize.rs
  testsuite/fuzzer/src/main.rs
  testsuite/fuzzer/src/utils.rs
  third_party/move/move-binary-format/Cargo.toml
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-core/types/Cargo.toml
  third_party/move/move-core/types/src/account_address.rs
  third_party/move/move-core/types/src/identifier.rs
  third_party/move/move-core/types/src/language_storage.rs
  third_party/move/move-core/types/src/metadata.rs
  third_party/move/move-core/types/src/u256.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-stdlib/src/natives/debug.rs
  third_party/move/tools/move-resource-viewer/src/lib.rs
Due: rust-fmt, rust-cargo-sort

add events for staking contract conversion
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

Update aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
Due: rust-fmt

Update transaction.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
Due: rust-fmt

Update upgrade-compiler-v2.yaml
  aptos-move/aptos-release-builder/data/upgrade-compiler-v2.yaml
Due: prettier-fmt

Create upgrade-compiler-v2.yaml
  aptos-move/aptos-release-builder/data/upgrade-compiler-v2.yaml
Due: prettier-fmt

fix field selection after indexing
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_index.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_index.move
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_index_errors.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_index_errors.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/index.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/index.move
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

add test case
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_index_errors.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_index_errors.move
Due: none

handle index directly
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_index.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_index.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/index.move
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

add more test cases
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_index.exp
  third_party/move/move-compiler-v2/tests/checking/receiver/calls_index.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/index.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/index.move
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

Cherrypick #280 (#282) (#15258)
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/upgrade_compatibility.rs
  third_party/move/move-binary-format/src/compatibility.rs
  third_party/move/move-binary-format/src/compatibility_legacy.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
  types/src/on_chain_config/timed_features.rs
Due: rust-fmt

fix forge profiling link (#15141)
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/forge.py
Due: none
