Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[Randomness] rounding refactor (#11908)
  types/src/dkg/real_dkg/mod.rs
  types/src/dkg/real_dkg/rounding/mod.rs
  types/src/dkg/real_dkg/rounding/tests.rs
Due: rust-fmt

[NFT Metadata Crawler] Change dedupe + retry logic (#11887)
  ecosystem/nft-metadata-crawler-parser/src/models/nft_metadata_crawler_uris.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/constants.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Due: rust-fmt

E2E tests for resource groups
  aptos-move/e2e-move-tests/proptest-regressions/tests/resource_groups.txt
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/resource_groups.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/resource_groups.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/resource_groups.data/pack/sources/resource_groups_test.move
  aptos-move/e2e-move-tests/src/tests/resource_groups.rs
Due: rust-fmt

Fix faulty migration
  ecosystem/nft-metadata-crawler-parser/migrations/2024-01-31-221845_add_not_parsable_column/up.sql
Due: none

[simple] Transaction generator improvements
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/reduced_batch_wrapper.rs
  crates/transaction-generator-lib/src/workflow_delegator.rs
Due: rust-fmt

[GRPC] Don't limit prost recursion (#11901)
  Cargo.toml
Due: rust-cargo-sort

Fix natives
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
  types/src/delayed_fields.rs
Due: rust-fmt

Log channel send error in fullnode
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
Due: rust-fmt

start profiler
  Cargo.lock
  Cargo.toml
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
Due: rust-fmt, rust-cargo-sort

[indexer grpc] compression support. (#11470)
  Cargo.lock
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/processor.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/compression_util.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/constants.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/counters.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/gcs.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/local.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/lib.rs
  protos/proto/aptos/indexer/v1/raw_data.proto
  protos/python/aptos_protos/aptos/indexer/v1/raw_data_pb2.py
  protos/python/aptos_protos/aptos/indexer/v1/raw_data_pb2.pyi
  protos/rust/src/pb/aptos.indexer.v1.rs
  protos/rust/src/pb/aptos.indexer.v1.serde.rs
  protos/typescript/src/aptos/indexer/v1/raw_data.ts
Due: rust-fmt, prettier-fmt

Remove log
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
Due: rust-fmt

[GRPC] Nits + Clone reduction (#11820)
  ecosystem/indexer-grpc/indexer-grpc-data-access/src/gcs.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/counters.rs
Due: rust-fmt

Parallel fetching for GCS (#11864)
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/counters.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/gcs.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/local.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/file_store_operator/mod.rs
Due: rust-fmt

[aip-43] Separate Concurrent Fungible Assets feature flag, for later release
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-token-objects/doc/collection.md
  aptos-move/framework/aptos-token-objects/doc/token.md
  aptos-move/framework/aptos-token-objects/sources/collection.move
  aptos-move/framework/aptos-token-objects/sources/token.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

update the typescript proto gen. (#11761)
  protos/typescript/src/aptos/bigquery_schema/v1/transaction.ts
  protos/typescript/src/aptos/indexer/v1/raw_data.ts
  protos/typescript/src/aptos/internal/fullnode/v1/fullnode_data.ts
  protos/typescript/src/aptos/transaction/v1/transaction.ts
  protos/typescript/src/aptos/util/timestamp/timestamp.ts
Due: prettier-fmt

[forge] revert genesis to pre-#11842
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
Due: prettier-fmt

jwk #9: smoke tests (#11862)
  Cargo.lock
  testsuite/forge/src/backend/local/cargo.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/jwks/dummy_provider/mod.rs
  testsuite/smoke-test/src/jwks/dummy_provider/request_handler.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_basic.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_per_issuer.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_provider_change_mind.rs
  testsuite/smoke-test/src/jwks/mod.rs
Due: rust-fmt

another fix
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-generator-lib/src/bounded_batch_wrapper.rs
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/workflow_delegator.rs
Due: rust-fmt

Fix view
  aptos-move/aptos-aggregator/src/tests/identifier_mappings.rs
  aptos-move/aptos-aggregator/src/tests/types.rs
  aptos-move/block-executor/src/view.rs
  third_party/move/move-vm/types/src/value_serde.rs
  types/src/delayed_fields.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[aip-43] Separate Concurrent Fungible Assets feature flag, for later release (#11871)
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-token-objects/doc/collection.md
  aptos-move/framework/aptos-token-objects/doc/token.md
  aptos-move/framework/aptos-token-objects/sources/collection.move
  aptos-move/framework/aptos-token-objects/sources/token.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

Fix lint
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/counters.rs
Due: rust-fmt

[forge] revert genesis to pre-#11842 (#11896)
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
Due: prettier-fmt

[GRPC] Don't limit prost recursion
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

[simple] Transaction generator improvements (#11863)
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  crates/transaction-generator-lib/src/bounded_batch_wrapper.rs
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/workflow_delegator.rs
Due: rust-fmt

fix bugs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/runtime.rs
Due: rust-fmt

smoke test with full node
  testsuite/smoke-test/src/jwks/jwk_consensus_basic.rs
Due: rust-fmt

Fix Issue #11850 by extending move-model AST visitor to be able to hook BeforeBody in a Block expression
  third_party/move/move-compiler-v2/src/flow_insensitive_checkers.rs
  third_party/move/move-compiler-v2/tests/bytecode-generator/tuple.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/tuple_invalid.exp
  third_party/move/move-compiler-v2/tests/checking/naming/generics_shadowing.exp
  third_party/move/move-compiler-v2/tests/checking/typing/assign_tuple.exp
  third_party/move/move-compiler-v2/tests/checking/unused/local_var.move
  third_party/move/move-compiler-v2/tests/copy-propagation/dead_assignment_1.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/multi_param.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-safety/simple_map_keys.exp
  third_party/move/move-model/src/ast.rs
Due: rust-fmt

update
  aptos-move/framework/aptos-framework/doc/jwks.md
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/jwks.move
  crates/aptos-jwk-consensus/src/certified_update_producer.rs
  crates/aptos-jwk-consensus/src/epoch_manager.rs
  crates/aptos-jwk-consensus/src/observation_aggregation/mod.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_per_issuer.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_provider_change_mind.rs
Due: rust-fmt

add missing output of test case
  third_party/move/move-compiler-v2/tests/checking/unused/local_var.exp
Due: none

[dag] refactor dag health monitor
  config/src/config/dag_consensus_config.rs
  consensus/src/dag/adapter.rs
  consensus/src/dag/anchor_election/leader_reputation_adapter.rs
  consensus/src/dag/anchor_election/mod.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/health/backoff.rs
  consensus/src/dag/health/chain_health.rs
  consensus/src/dag/health/mod.rs
  consensus/src/dag/health/pipeline_health.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/round_state.rs
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/liveness/leader_reputation.rs
  types/src/on_chain_config/consensus_config.rs
  types/src/on_chain_config/mod.rs
Due: rust-fmt

[dag] move reading commit events from order_rule
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/dag/tests/order_rule_tests.rs
Due: rust-fmt

lint
  config/src/config/dag_consensus_config.rs
  consensus/src/dag/health/chain_health.rs
  consensus/src/dag/health/mod.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/liveness/leader_reputation.rs
Due: rust-fmt

address feedback
  consensus/src/dag/anchor_election/leader_reputation_adapter.rs
  consensus/src/dag/anchor_election/mod.rs
  consensus/src/dag/anchor_election/round_robin.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/health/backoff.rs
  consensus/src/dag/health/chain_health.rs
  consensus/src/dag/round_state.rs
Due: rust-fmt

address feedback
  consensus/src/dag/adapter.rs
  consensus/src/dag/health/backoff.rs
Due: rust-fmt

wait backoff time with 3f+1
  consensus/src/dag/round_state.rs
Due: rust-fmt

lint
  consensus/src/dag/health/backoff.rs
  consensus/src/dag/health/chain_health.rs
  consensus/src/dag/health/mod.rs
  consensus/src/dag/health/pipeline_health.rs
Due: rust-fmt

precommit config
  .pre-commit-config.yaml
Due: prettier-fmt

Add GCD algorithm to math library
  aptos-move/framework/aptos-stdlib/sources/math64.move
Due: none

Optimize algorithm, update for GCD(a, 0) = a
  aptos-move/framework/aptos-stdlib/sources/math64.move
Due: none

initial commit
  api/types/src/transaction.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/zkid_validation.rs
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/zkid.md
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/zkid.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  testsuite/smoke-test/src/zkid.rs
  types/src/bn254_circom.rs
  types/src/transaction/authenticator.rs
  types/src/zkid.rs
Due: rust-fmt
