Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Update abort_msg_per_byte
  aptos-move/aptos-gas-schedule/src/gas_schedule/instr.rs
Due: rust-fmt

compiling
  crates/aptos-batch-encryption/src/schemes/fptx.rs
  crates/aptos-batch-encryption/src/schemes/fptx_weighted.rs
  crates/aptos-batch-encryption/src/shared/ciphertext/bibe.rs
  crates/aptos-batch-encryption/src/shared/ciphertext/bibe_succinct.rs
  crates/aptos-batch-encryption/src/shared/ciphertext/mod.rs
  crates/aptos-batch-encryption/src/shared/digest.rs
  crates/aptos-batch-encryption/src/shared/ids/free_roots.rs
  crates/aptos-batch-encryption/src/shared/ids/mod.rs
Due: rust-fmt

working
  crates/aptos-batch-encryption/src/schemes/fptx.rs
  crates/aptos-batch-encryption/src/schemes/fptx_weighted.rs
  crates/aptos-batch-encryption/src/shared/ciphertext/bibe.rs
  crates/aptos-batch-encryption/src/shared/ciphertext/bibe_succinct.rs
  crates/aptos-batch-encryption/src/shared/ciphertext/mod.rs
  crates/aptos-batch-encryption/src/shared/digest.rs
  crates/aptos-batch-encryption/src/shared/encryption_key.rs
  crates/aptos-batch-encryption/src/shared/ids/mod.rs
  crates/aptos-batch-encryption/src/shared/mod.rs
Due: rust-fmt

succinct version of scheme and benchmark
  crates/aptos-batch-encryption/Cargo.toml
  crates/aptos-batch-encryption/benches/fptx_succinct.rs
  crates/aptos-batch-encryption/src/schemes/fptx_succinct.rs
  crates/aptos-batch-encryption/src/schemes/mod.rs
  crates/aptos-batch-encryption/src/tests/fptx_succinct_smoke.rs
  crates/aptos-batch-encryption/src/tests/mod.rs
Due: rust-fmt

[encrypted-mempool] use FTXWeighted instead of FTX (#18409)
  types/src/secret_sharing.rs
Due: rust-fmt

[Hot State] Use config to replace hard-coded parameters
  Cargo.lock
  config/src/config/storage_config.rs
  execution/executor-types/Cargo.toml
  execution/executor-types/src/execution_output.rs
  execution/executor/Cargo.toml
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/hot_state.rs
Due: rust-fmt

orderbook events (#18277)
  aptos-move/framework/aptos-experimental/doc/bulk_order_book_types.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/order_placement.md
  aptos-move/framework/aptos-experimental/doc/pre_cancellation_tracker.md
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
Due: none

[consensus] support secret sharing manager in execution client
  Cargo.lock
  consensus/Cargo.toml
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/block_preparer.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/pipeline/decryption_pipeline_builder.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/mod.rs
  consensus/src/pipeline/pipeline_builder.rs
  consensus/src/rand/secret_sharing/block_queue.rs
  consensus/src/rand/secret_sharing/secret_share_manager.rs
  consensus/src/rand/secret_sharing/types.rs
  consensus/src/state_computer.rs
  consensus/src/test_utils/mock_execution_client.rs
  crates/aptos-batch-encryption/src/schemes/fptx.rs
  crates/aptos-batch-encryption/src/shared/ciphertext.rs
  crates/aptos-batch-encryption/src/shared/digest.rs
  crates/aptos-transaction-filters/src/tests/utils.rs
  types/src/secret_sharing.rs
  types/src/transaction/encrypted_payload.rs
  types/src/transaction/mod.rs
Due: rust-fmt

generate format fixes
  Cargo.lock
  consensus/src/pipeline/decryption_pipeline_builder.rs
  crates/aptos-batch-encryption/Cargo.toml
  crates/aptos-batch-encryption/src/schemes/fptx_weighted.rs
  crates/aptos-batch-encryption/src/shared/ark_serialize.rs
  crates/aptos-batch-encryption/src/shared/ciphertext.rs
  crates/aptos-batch-encryption/src/shared/ids/free_roots.rs
  crates/aptos-batch-encryption/src/shared/symmetric.rs
  testsuite/generate-format/Cargo.toml
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/src/lib.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
Due: rust-fmt, prettier-fmt

cleanup
  crates/aptos-batch-encryption/Cargo.toml
  crates/aptos-batch-encryption/src/shared/ciphertext.rs
Due: rust-fmt

[Storage] Fix error message formatting in config
  config/src/config/storage_config.rs
Due: rust-fmt

Update jemalloc to latest version
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

Enable memory profiling by default
  aptos-node/src/main.rs
  execution/executor-benchmark/src/main.rs
Due: rust-fmt

Some initial benchmark edits
  Cargo.lock
  crates/aptos-crypto/benches/README.md
  crates/aptos-crypto/benches/run-range-proof-benches.sh
  crates/aptos-dkg/Cargo.toml
  crates/aptos-dkg/src/pcs/mod.rs
  crates/aptos-dkg/src/pvss/chunky/mod.rs
Due: rust-fmt

Added Zeromorph and PCS trait and PCS bench
  crates/aptos-dkg/benches/pcs.rs
  crates/aptos-dkg/src/pcs/traits.rs
  crates/aptos-dkg/src/pcs/zeromorph.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/hkzg_chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/hkzg_chunked_elgamal_commit.rs
  crates/aptos-dkg/src/pvss/chunky/keys.rs
  crates/aptos-dkg/src/pvss/chunky/public_parameters.rs
Due: rust-fmt

[consensus] support secret sharing manager in execution client (#18313)
  Cargo.lock
  consensus/Cargo.toml
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/block_preparer.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/pipeline/buffer_manager.rs
  consensus/src/pipeline/decryption_pipeline_builder.rs
  consensus/src/pipeline/execution_client.rs
  consensus/src/pipeline/mod.rs
  consensus/src/pipeline/pipeline_builder.rs
  consensus/src/rand/secret_sharing/block_queue.rs
  consensus/src/rand/secret_sharing/secret_share_manager.rs
  consensus/src/rand/secret_sharing/types.rs
  consensus/src/state_computer.rs
  consensus/src/test_utils/mock_execution_client.rs
  crates/aptos-batch-encryption/Cargo.toml
  crates/aptos-batch-encryption/src/schemes/fptx.rs
  crates/aptos-batch-encryption/src/schemes/fptx_weighted.rs
  crates/aptos-batch-encryption/src/shared/ark_serialize.rs
  crates/aptos-batch-encryption/src/shared/ciphertext.rs
  crates/aptos-batch-encryption/src/shared/digest.rs
  crates/aptos-batch-encryption/src/shared/ids/free_roots.rs
  crates/aptos-batch-encryption/src/shared/symmetric.rs
  crates/aptos-transaction-filters/src/tests/utils.rs
  testsuite/generate-format/Cargo.toml
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/src/lib.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/secret_sharing.rs
  types/src/transaction/encrypted_payload.rs
  types/src/transaction/mod.rs
Due: rust-fmt, prettier-fmt

Update docs
  aptos-move/framework/move-stdlib/doc/string.md
Due: none

Some changes
  crates/aptos-crypto-derive/src/unions.rs
  crates/aptos-crypto/src/error.rs
  crates/aptos-crypto/src/lib.rs
  crates/aptos-crypto/src/utils.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pcs/zeromorph.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcript.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcriptv2.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
Due: rust-fmt

[framework] Add `String::into_bytes` function (#18395)
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_stdlib/sources/string.move
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_stdlib_incompat/sources/string.move
  aptos-move/framework/move-stdlib/doc/string.md
  aptos-move/framework/move-stdlib/sources/string.move
Due: none

[Hot State] Add a separate StateMerkleDb for hot state
  api/test-context/src/test_context.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  config/src/config/storage_config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos-genesis/src/mainnet.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  state-sync/state-sync-driver/src/tests/driver_factory.rs
  storage/aptosdb/src/db/aptosdb_internal.rs
  storage/aptosdb/src/db/aptosdb_reader.rs
  storage/aptosdb/src/db/aptosdb_test.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/examine/print_raw_data_by_version.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/db_debugger/watch/opened.rs
  storage/aptosdb/src/fast_sync_storage_wrapper.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/db-tool/src/bootstrap.rs
  storage/db-tool/src/replay_on_archive.rs
  storage/db-tool/src/tests.rs
  storage/storage-interface/src/errors.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/mock.rs
  storage/storage-interface/src/state_store/state_summary.rs
Due: rust-fmt

[ai] Basic setup for Cursor/Claude agents.md
  .cursorignore
  CLAUDE.md
  agents.md
Due: none

[Storage Config] Make db path override related fields private
  config/src/config/storage_config.rs
Due: rust-fmt

[Layered Map] Expose inner layers
  experimental/storage/layered-map/src/layer.rs
  experimental/storage/layered-map/src/map/mod.rs
  experimental/storage/layered-map/src/tests.rs
Due: rust-fmt

[Hot State] Compute root hash for hot state
  api/test-context/src/test_context.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  config/src/config/storage_config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos-genesis/src/mainnet.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-types/src/execution_output.rs
  execution/executor-types/src/state_checkpoint_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  execution/executor/src/workflow/do_state_checkpoint.rs
  state-sync/state-sync-driver/src/tests/driver_factory.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/db/aptosdb_internal.rs
  storage/aptosdb/src/db/aptosdb_test.rs
  storage/aptosdb/src/db/aptosdb_testonly.rs
  storage/aptosdb/src/db/mod.rs
  storage/aptosdb/src/db_debugger/watch/opened.rs
  storage/aptosdb/src/fast_sync_storage_wrapper.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/state_merkle_batch_committer.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/db-tool/src/bootstrap.rs
  storage/db-tool/src/replay_on_archive.rs
  storage/db-tool/src/tests.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/state_store/mod.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
Due: rust-fmt

sui daa security audit fixes
  aptos-move/framework/aptos-framework/doc/sui_derivable_account.md
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/sui_derivable_account.move
Due: none

Deprecate public authenticate_auth_data in favor of private authenticate_auth_data_internal
  aptos-move/framework/aptos-framework/doc/sui_derivable_account.md
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/sui_derivable_account.move
Due: none
