Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[dag] state sync refactor and notifier reinit (#10106)
  consensus/src/dag/adapter.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_handler.rs
  consensus/src/dag/dag_state_sync.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/tests/dag_state_sync_tests.rs
  consensus/src/dag/tests/integration_tests.rs
  consensus/src/dag/tests/order_rule_tests.rs
  consensus/src/epoch_manager.rs
  consensus/src/execution_pipeline.rs
  consensus/src/experimental/ordering_state_computer.rs
  consensus/src/network.rs
Due: rust-fmt

bump version to 1.20.0 (#10193)
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/version.ts
Due: prettier-fmt

drand compiles
  aptos-move/move-examples/drand/sources/lottery.move
  aptos-move/move-examples/drand/sources/lottery_test.move
Due: none

[dag] separate out highest committed round provider
  consensus/src/dag/adapter.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_state_sync.rs
  consensus/src/dag/dag_store.rs
  consensus/src/dag/tests/dag_state_sync_tests.rs
Due: rust-fmt

[dag] introduce a ledger info provider trait
  consensus/src/dag/adapter.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/dag_handler.rs
  consensus/src/dag/dag_state_sync.rs
  consensus/src/dag/dag_store.rs
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/dag/tests/dag_test.rs
  consensus/src/dag/types.rs
Due: rust-fmt

[dag] epoch manager integration; dag is here
  consensus/src/consensus_provider.rs
  consensus/src/dag/anchor_election.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/commit_signer.rs
  consensus/src/dag/dag_handler.rs
  consensus/src/dag/mod.rs
  consensus/src/epoch_manager.rs
  consensus/src/twins/twins_node.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
  testsuite/smoke-test/src/consensus/quorum_store_fault_tolerance.rs
  testsuite/testcases/src/quorum_store_onchain_enable_test.rs
  types/src/on_chain_config/consensus_config.rs
Due: rust-fmt

fix
  consensus/src/dag/adapter.rs
  consensus/src/dag/dag_handler.rs
  consensus/src/network.rs
Due: rust-fmt

[DKG] handler spawns thread (#147)
  consensus/src/dkg/dkg_handler.rs
  consensus/src/dkg/dkg_manager.rs
  consensus/src/dkg/dkg_rounding.rs
  consensus/src/dkg/dkg_store.rs
  consensus/src/dkg/types.rs
  consensus/src/epoch_manager.rs
Due: rust-fmt

Optimize the async proof fetcher not to spawn so many tasks
  execution/executor/src/block_executor.rs
  execution/executor/src/chunk_executor.rs
  storage/storage-interface/src/async_proof_fetcher.rs
Due: rust-fmt

[State Sync] Increase various latency buckets.
  state-sync/aptos-data-client/src/metrics.rs
  state-sync/state-sync-driver/src/metrics.rs
Due: rust-fmt

drand tests compile
  aptos-move/move-examples/drand/diff.txt
  aptos-move/move-examples/drand/sources/lottery.move
  aptos-move/move-examples/drand/sources/lottery_test.move
Due: none

[Node Configs] Update sanitizer to be read-only.
  config/src/config/api_config.rs
  config/src/config/base_config.rs
  config/src/config/config_optimizer.rs
  config/src/config/config_sanitizer.rs
  config/src/config/consensus_config.rs
  config/src/config/execution_config.rs
  config/src/config/gas_estimation_config.rs
  config/src/config/indexer_config.rs
  config/src/config/indexer_grpc_config.rs
  config/src/config/inspection_service_config.rs
  config/src/config/logger_config.rs
  config/src/config/mempool_config.rs
  config/src/config/peer_monitoring_config.rs
  config/src/config/quorum_store_config.rs
  config/src/config/safety_rules_config.rs
  config/src/config/state_sync_config.rs
  config/src/config/storage_config.rs
Due: rust-fmt

Emulate no jitter and no loss
  testsuite/testcases/src/multi_region_network_test.rs
Due: rust-fmt

5 MB/s
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

200 Mbps
  testsuite/testcases/src/data/two_region_link_stats.csv
Due: none

remove diff.txt
  aptos-move/move-examples/drand/diff.txt
Due: none

add retrieve lottery winner function
  aptos-move/move-examples/drand/sources/lottery.move
  aptos-move/move-examples/drand/sources/lottery_test.move
Due: none

Fix deadlock
  storage/storage-interface/src/async_proof_fetcher.rs
Due: rust-fmt

[GHA] Stop running unneccessary tests on release branch pushes.
  .github/workflows/forge-pfn.yaml
  .github/workflows/forge-state-sync.yaml
  developer-docs-site/docs/guides/state-sync.md
Due: prettier-fmt

Static thread pool
  storage/storage-interface/src/async_proof_fetcher.rs
Due: rust-fmt

[Aptos Data Client] Remove RwLock around peer states.
  Cargo.lock
  state-sync/aptos-data-client/Cargo.toml
  state-sync/aptos-data-client/src/client.rs
  state-sync/aptos-data-client/src/latency_monitor.rs
  state-sync/aptos-data-client/src/peer_states.rs
  state-sync/aptos-data-client/src/poller.rs
Due: rust-fmt

[Aptos Data Client] Replace the global_summary_cache with ArcSwap.
  Cargo.lock
  state-sync/aptos-data-client/Cargo.toml
  state-sync/aptos-data-client/src/client.rs
  state-sync/aptos-data-client/src/peer_states.rs
Due: rust-fmt

remove is_script_module in compute_abi
  third_party/move/move-prover/move-abigen/src/abigen.rs
Due: rust-fmt

Update create_nft_with_resource_account.move (#9855)
  aptos-move/move-examples/mint_nft/2-Using-Resource-Account/sources/create_nft_with_resource_account.move
Due: none

Update aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/lib.rs
Due: rust-fmt

Update typos in lib.rs (#9793)
  aptos-move/block-executor/src/lib.rs
Due: rust-fmt

Remove explicit copy statement for vector (#9796)
  developer-docs-site/docs/move/book/variables.md
  developer-docs-site/docs/move/book/vector.md
Due: none

fix timeout
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/sources/stake.spec.move
Due: none

Moved ExplicitSyncWrapper to a separate file; Using it for the shared state
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/explicit_sync_wrapper.rs
  aptos-move/block-executor/src/lib.rs
Due: rust-fmt

trivial: fix rocksdb property reporter
  storage/aptosdb/src/lib.rs
Due: rust-fmt

forge: ability to override resource ask in Rust
  testsuite/forge/src/runner.rs
Due: rust-fmt

hacks so far
  consensus/src/transaction_shuffler.rs
  testsuite/forge-cli/src/main.rs
  types/src/on_chain_config/execution_config.rs
  types/src/validator_verifier.rs
Due: rust-fmt

take output in parallel
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

with min len
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

Update system-integrators-guide.md (#10087)
  developer-docs-site/docs/guides/system-integrators-guide.md
Due: none

[dashboards] sync grafana dashboards
  dashboards/consensus.json
  dashboards/consensus.json.gz
  dashboards/execution.json
  dashboards/execution.json.gz
  dashboards/overview.json
  dashboards/overview.json.gz
  dashboards/state-sync-v2.json
  dashboards/state-sync-v2.json.gz
  dashboards/storage-backup-and-restore.json
  dashboards/storage-backup-and-restore.json.gz
  dashboards/storage-overview.json
  dashboards/storage-overview.json.gz
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
