Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

add feature flag
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/e2e-move-tests/src/tests/metadata.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

check metadata
  Cargo.lock
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/e2e-move-tests/src/tests/dependencies.rs
  aptos-move/framework/src/module_metadata.rs
  third_party/move/move-compiler-v2/Cargo.toml
  third_party/move/move-compiler-v2/src/file_format_generator/module_generator.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-model/src/metadata.rs
Due: rust-fmt

add tests
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/tests/metadata.rs
Due: rust-fmt

add metadata test
  aptos-move/e2e-move-tests/src/tests/metadata.rs
Due: rust-fmt

update release.yaml
  aptos-move/aptos-release-builder/data/release.yaml
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt, prettier-fmt

handle review comments
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/metadata.rs
  third_party/move/move-compiler-v2/src/file_format_generator/module_generator.rs
  third_party/move/move-core/types/src/vm_status.rs
Due: rust-fmt

Addressing code review comments.
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard1.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard5.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard5.move
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard6.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard6.move
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard7.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard7.move
  third_party/move/move-compiler-v2/tests/checking/typing/v1-commands/pop_weird.exp
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

Showcase fix
  third_party/move/move-compiler-v2/src/bytecode_generator.rs
  third_party/move/move-compiler-v2/tests/bytecode-generator/moved_var_not_simplified3.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard2.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard3.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard4.exp
Due: rust-fmt

Another test
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard8.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard8.move
Due: none

rebase update
  third_party/move/move-compiler-v2/tests/bytecode-generator/moved_var_not_simplified3.exp
Due: none

Update baselines and some tests
  third_party/move/move-compiler-v2/tests/bytecode-generator/assign.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/assign.move
  third_party/move/move-compiler-v2/tests/bytecode-generator/assign_inline.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/borrow.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/conditional_borrow.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/escape_autoref.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/fields.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/fields.move
  third_party/move/move-compiler-v2/tests/bytecode-generator/freeze_mut_ref.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/globals.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/if_else.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/inline_specs.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/loop.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/operators.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/operators.move
  third_party/move/move-compiler-v2/tests/bytecode-generator/pack_order.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/pack_unpack.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/reference_conversion.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/spec_construct.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/vector.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/vector.exp
  third_party/move/move-compiler-v2/tests/uninit-use-checker/v1-locals/use_before_assign_if.exp
  third_party/move/move-compiler-v2/tests/uninit-use-checker/v1-locals/use_before_assign_if_else.exp
  third_party/move/move-compiler-v2/tests/uninit-use-checker/v1-locals/use_before_assign_loop.exp
  third_party/move/move-compiler-v2/tests/uninit-use-checker/v1-locals/use_before_assign_simple.exp
  third_party/move/move-compiler-v2/tests/uninit-use-checker/v1-locals/use_before_assign_while.exp
  third_party/move/move-compiler-v2/tests/variable-coalescing/inlining1.exp
Due: none

Showcase the problem
  third_party/move/move-compiler-v2/tests/bytecode-generator/moved_var_not_simplified3.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/moved_var_not_simplified3.move
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard1.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard1.move
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard2.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard2.move
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard3.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard3.move
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard4.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/wildcard4.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
Due: rust-fmt

[Aptos Data Client] Ignore flaky test.
  state-sync/aptos-data-client/src/tests/peers.rs
Due: rust-fmt

minor
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/e2e-move-tests/src/tests/metadata.rs
Due: rust-fmt

fix typo
  aptos-move/framework/aptos-token-objects/sources/aptos_token.move
Due: none

fix typos
  docker/builder/README.md
Due: none

fix typos
  aptos-move/framework/aptos-framework/doc/delegation_pool.md
Due: none

fix typo
  aptos-move/framework/aptos-framework/sources/primary_fungible_store.spec.move
Due: none

fix typo
  aptos-move/framework/aptos-token-objects/doc/aptos_token.md
Due: none

fix typos
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

fix typos
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
Due: none

fix typos
  aptos-move/framework/aptos-framework/doc/primary_fungible_store.md
Due: none

fixup
  aptos-move/framework/aptos-framework/doc/primary_fungible_store.md
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Due: rust-fmt

fix typo
  aptos-move/framework/aptos-framework/sources/fungible_asset.spec.move
Due: none

fix typo
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
Due: none

fix typo
  aptos-move/framework/aptos-framework/sources/object.move
Due: none

fix typo
  aptos-move/framework/aptos-framework/sources/primary_fungible_store.move
Due: none

fix typo
  aptos-move/framework/aptos-framework/doc/object.md
Due: none

remove MoveStorage
  state-sync/inter-component/event-notifications/src/lib.rs
  state-sync/state-sync-driver/src/driver_factory.rs
  storage/storage-interface/src/lib.rs
  types/src/lib.rs
  types/src/move_resource.rs
Due: rust-fmt

Clean up OnChainConfig
  aptos-move/aptos-vm-types/src/storage/mod.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/warm_vm_cache.rs
  aptos-move/vm-genesis/src/lib.rs
  config/src/config/node_config_loader.rs
  consensus/src/dag/adapter.rs
  types/src/account_view.rs
  types/src/on_chain_config/mod.rs
  types/src/proptest_types.rs
  types/src/state_store/state_key.rs
  types/src/transaction/analyzed_transaction.rs
Due: rust-fmt

remove AccountView
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/components/version.rs
  aptos-move/aptos-release-builder/src/main.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/on_chain_configs.rs
  aptos-node/src/utils.rs
  execution/executor-benchmark/src/db_reliable_submitter.rs
  execution/executor-benchmark/src/transaction_generator.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor/src/components/in_memory_state_calculator_v2.rs
  execution/executor/tests/db_bootstrapper_test.rs
  execution/executor/tests/storage_integration_test.rs
  state-sync/inter-component/event-notifications/src/lib.rs
  storage/storage-interface/src/errors.rs
  types/src/account_config/resources/chain_id.rs
  types/src/account_view.rs
  types/src/lib.rs
  types/src/on_chain_config/aptos_version.rs
  types/src/on_chain_config/mod.rs
  types/src/proptest_types.rs
  types/src/state_store/account_with_state_view.rs
  types/src/state_store/errors.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key.rs
  types/src/transaction/analyzed_transaction.rs
  vm-validator/src/vm_validator.rs
Due: rust-fmt

test for kent
  aptos-move/move-examples/fungible_asset/managed_fungible_asset/sources/coin_example.move
Due: none

fix some comments
  api/src/response.rs
  aptos-move/aptos-sdk-builder/src/rust.rs
  aptos-move/aptos-sdk-builder/tests/generation.rs
  aptos-move/aptos-vm/src/sharded_block_executor/cross_shard_state_view.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/string_args.rs
  aptos-move/e2e-tests/src/account.rs
  aptos-move/move-examples/mint_nft/2-Using-Resource-Account/sources/create_nft_with_resource_account.move
  aptos-move/move-examples/veiled_coin/doc/veiled_coin.md
  aptos-move/move-examples/veiled_coin/sources/veiled_coin.move
  aptos-node/src/tests.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  storage/aptosdb/src/db/fake_aptosdb.rs
Due: rust-fmt

Fix typos (#12446)
  aptos-move/framework/aptos-framework/doc/delegation_pool.md
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/doc/object.md
  aptos-move/framework/aptos-framework/doc/primary_fungible_store.md
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-framework/sources/fungible_asset.spec.move
  aptos-move/framework/aptos-framework/sources/object.move
  aptos-move/framework/aptos-framework/sources/primary_fungible_store.move
  aptos-move/framework/aptos-framework/sources/primary_fungible_store.spec.move
  aptos-move/framework/aptos-token-objects/doc/aptos_token.md
  aptos-move/framework/aptos-token-objects/sources/aptos_token.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  docker/builder/README.md
Due: rust-fmt

Adding new wildcard tests back to v1
  third_party/move/move-compiler-v2/tests/v1.matched
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard1.exp
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard1.move
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard2.exp
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard2.move
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard3.exp
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard3.move
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard4.exp
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard4.move
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard5.move
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard6.exp
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard6.move
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard7.exp
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard7.move
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard8.exp
  third_party/move/move-compiler/tests/move_check/v2_tests/bytecode-generator/wildcard8.move
Due: none

Update prover baseline
  third_party/move/move-prover/tests/sources/functional/data_invariant_for_mut_ref_arg.v2_exp
Due: none

add multiple license files, update a few sources missing Copyright completely
  .pre-commit-config.yaml
  devtools/assets/license_header_utf8.txt
  devtools/assets/shared_license_header.txt
  devtools/assets/shared_license_header_utf8.txt
  devtools/assets/third_party_license_header.txt
  devtools/assets/third_party_license_header_2.txt
  third_party/move/move-model/bytecode/abstract_domain_derive/tests/test.rs
  third_party/move/move-vm/types/src/delayed_values/error.rs
Due: rust-fmt, prettier-fmt

workaround weird discontinuities in "test" code
  crates/aptos-crypto/src/ed25519/ed25519_keys.rs
  mempool/src/tests/mocks.rs
Due: rust-fmt

update
  consensus/src/rand/rand_gen/aug_data_store.rs
  consensus/src/rand/rand_gen/network_messages.rs
Due: rust-fmt
