Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[dashboards] sync grafana dashboards
  dashboards/blockchain-health.json
  dashboards/blockchain-health.json.gz
  dashboards/consensus.json
  dashboards/consensus.json.gz
  dashboards/overview.json
  dashboards/overview.json.gz
Due: none

[move-examples] Add another example for multi-transfer
  aptos-move/move-examples/multiple_transfer/sources/multiple_transfer.move
Due: none

[Token] add a new construct for property map
  aptos-move/framework/aptos-token/sources/property_map.move
Due: none

[gha] run nightly replay verify on different triggers
  .github/workflows/nightly-replay-verify.yaml
  scripts/s3-test.yaml
Due: prettier-fmt

[gha] Add a nightly task to verify restoring LLT with main branch.
  .github/workflows/nightly-replay-verify.yaml
  scripts/s3-test.yaml
Due: prettier-fmt

[gha] Add a nightly task to verify restoring LLT with main branch. (#4800)
  .github/workflows/nightly-replay-verify.yaml
Due: prettier-fmt

[Token] revision
  aptos-move/move-examples/marketplace/Move.toml
  aptos-move/move-examples/marketplace/readme.md
  aptos-move/move-examples/marketplace/sources/marketplace_auction_example.move
  aptos-move/move-examples/marketplace/sources/marketplace_bid_utils.move
  aptos-move/move-examples/marketplace/sources/marketplace_instant_sale_example.move
  aptos-move/move-examples/marketplace/sources/marketplace_listing_utils.move
  aptos-move/move-examples/nft_auction_house/sources/bid.move
  aptos-move/move-examples/tests/move_unit_tests.rs
Due: rust-fmt

[Token] save commit
  aptos-move/move-examples/nft_auction_house/Move.toml
  aptos-move/move-examples/nft_auction_house/sources/auction_house_own_listing.move
  aptos-move/move-examples/nft_auction_house/sources/bid.move
  aptos-move/move-examples/nft_auction_house/sources/listing.move
  aptos-move/move-examples/tests/move_unit_tests.rs
Due: rust-fmt

[build] switch to lld on linux
  .cargo/config.toml
  docker/rust-all.Dockerfile
  scripts/dev_setup.sh
Due: none

[Token] save commit
  aptos-move/move-examples/nft_auction_house/Move.toml
  aptos-move/move-examples/nft_auction_house/sources/auction_house_own_listing.move
  aptos-move/move-examples/nft_auction_house/sources/bid.move
  aptos-move/move-examples/nft_auction_house/sources/listing.move
Due: none

Update first-transaction.md to reflect the new coin amounts
  developer-docs-site/docs/tutorials/first-transaction.md
Due: none

Revised staking operations doc (#4896)
  developer-docs-site/docs/concepts/staking.md
  developer-docs-site/docs/issues-and-workarounds.md
  developer-docs-site/docs/nodes/validator-node/operator/connect-to-aptos-network.md
  developer-docs-site/docs/nodes/validator-node/operator/shutting-down-nodes.md
  developer-docs-site/docs/nodes/validator-node/operator/staking-pool-operations.md
  developer-docs-site/docs/nodes/validator-node/owner/index.md
  developer-docs-site/docs/nodes/validator-node/voter/index.md
Due: none

[e2e tests] limit concurrency level for faster execution
  aptos-move/e2e-tests/src/executor.rs
Due: rust-fmt

[bcs][move] unit test to confirm off-by-one serialization depth correctly rejected
  Cargo.lock
  api/types/src/lib.rs
  api/types/src/move_types.rs
  crates/aptos-rest-client/src/lib.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/client.rs
Due: rust-fmt

Add Typescript SDK Reference to Typescript index
  developer-docs-site/docs/sdks/ts-sdk/index.md
Due: none

Fix link to TypeScript index from SDKs index
  developer-docs-site/docs/sdks/index.md
Due: none

[e2e tests] limit concurrency level for faster execution (#4920)
  aptos-move/e2e-tests/src/executor.rs
Due: rust-fmt

0 memory quota test
  consensus/src/epoch_manager.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Check out to devnet main branch revision per #4844
  aptos-move/framework/aptos-stdlib/sources/table_with_length.move
Due: none

[aptos-move] renamed all `aptos_std::event` to `aptos_framework::event`
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/aptos-framework/sources/vesting.move
  aptos-move/framework/aptos-framework/sources/voting.move
  aptos-move/framework/aptos-names/sources/domains.move
  aptos-move/move-examples/hello_blockchain/sources/hello_blockchain.move
  aptos-move/move-examples/message_board/sources/acl_message_board.move
  aptos-move/move-examples/message_board/sources/cap_message_board.move
Due: none

[CLI] Handle empty consensus key and addresses
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/node/mod.rs
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
Due: rust-fmt

[Token] revision
  aptos-move/move-examples/marketplace/readme.md
  aptos-move/move-examples/marketplace/sources/marketplace_auction_example.move
  aptos-move/move-examples/marketplace/sources/marketplace_bid_utils.move
  aptos-move/move-examples/marketplace/sources/marketplace_instant_sale_example.move
  aptos-move/move-examples/marketplace/sources/marketplace_listing_utils.move
  aptos-move/move-examples/nft_auction_house/Move.toml
  aptos-move/move-examples/nft_auction_house/sources/auction_house_own_listing.move
  aptos-move/move-examples/nft_auction_house/sources/bid.move
  aptos-move/move-examples/nft_auction_house/sources/listing.move
Due: none

[docker] Add haproxy stats to docker compose
  docker/compose/aptos-node/docker-compose.yaml
  docker/compose/aptos-node/haproxy.cfg
Due: prettier-fmt

[aptos-names] added signature verification
  aptos-move/e2e-move-tests/src/tests/names.rs
  aptos-move/framework/aptos-names/sources/config.move
  aptos-move/framework/aptos-names/sources/domain_e2e_tests.move
  aptos-move/framework/aptos-names/sources/domains.move
  aptos-move/framework/aptos-names/sources/subdomain_e2e_tests.move
  aptos-move/framework/aptos-names/sources/test_helper.move
  aptos-move/framework/aptos-names/sources/verify.move
  aptos-move/framework/cached-packages/src/aptos_names_sdk_builder.rs
Due: rust-fmt

remove unused
  storage/storage-interface/src/lib.rs
  types/src/move_resource.rs
Due: rust-fmt

Edit marketplace README directly
  aptos-move/move-examples/marketplace/readme.md
Due: none

[Token] make transfer function public entry
  aptos-move/framework/aptos-token/sources/token.move
Due: none

[Consensus] Add metrics for voting power for the validator (#4819)
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
Due: rust-fmt

3 region 100nodes test with 0 memory quota
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/three_region_simulation_test.rs
Due: rust-fmt

Add missing details to Install Aptos CLI docs
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
Due: none

Fix getting started link
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
Due: none

Update install-aptos-cli.md
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
Due: none

Finish edits
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
Due: none

Update install-petra-wallet.md
  developer-docs-site/docs/guides/install-petra-wallet.md
Due: none
