Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

wip
  Cargo.lock
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/keyless_validation.rs
  aptos-move/e2e-move-tests/src/tests/keyless_feature_gating.rs
  aptos-move/framework/aptos-framework/sources/keyless_account.move
  types/src/keyless/groth16_sig.rs
  types/src/keyless/groth16_vk.rs
Due: rust-fmt

add a layer of caching for valid ZKPs and their statements
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/keyless_validation.rs
  aptos-move/framework/aptos-framework/sources/keyless_account.move
  types/src/jwks/rsa/mod.rs
  types/src/keyless/groth16_sig.rs
  types/src/keyless/mod.rs
  types/src/keyless/openid_sig.rs
  types/src/keyless/tests.rs
Due: rust-fmt, rust-cargo-sort

Minor fix
  consensus/consensus-types/src/sync_info.rs
  types/src/ledger_info.rs
Due: rust-fmt

Change aggregator read
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  testsuite/module-publish/src/packages/framework_usecases/sources/aggregator_example.move
  testsuite/single_node_performance.py
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

back to small disk
  testsuite/forge/src/runner.rs
Due: rust-fmt

add test
  storage/aptosdb/src/db/aptosdb_test.rs
  storage/aptosdb/src/db/include/aptosdb_writer.rs
Due: rust-fmt

Change forge params
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

100 validators
  testsuite/forge-cli/src/suites/dag.rs
Due: rust-fmt

testing out having sequence number be an aggregator
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  types/src/account_config/resources/core_account.rs
Due: rust-fmt

Add aptos-move-graphql-scalars crate
  Cargo.lock
  Cargo.toml
  crates/aptos-move-graphql/scalars/Cargo.toml
  crates/aptos-move-graphql/scalars/src/lib.rs
Due: rust-fmt, rust-cargo-sort

wip
  Cargo.lock
  keyless/circuit-data/templates/tests/rsa_verify_test.circom
  keyless/circuit-tests/Cargo.toml
  keyless/circuit-tests/src/lib.rs
  keyless/circuit-tests/src/rsa.rs
Due: rust-fmt

Optimize delay field reads with their validation
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

[move-examples] Add raffle example that supports the latest syntax
  aptos-move/move-examples/raffle/Move.toml
  aptos-move/move-examples/raffle/scripts/test_and_abort_attack_defeated.move
  aptos-move/move-examples/raffle/sources/raffle.move
  aptos-move/move-examples/raffle/sources/raffle_test.move
Due: none

Reset num generator workers
  execution/executor-benchmark/src/main.rs
Due: rust-fmt

remove halt transaction pass
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

Fix concurrency level
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

[move-examples] Add raffle example that supports the latest syntax (#12748)
  aptos-move/move-examples/raffle/Move.toml
  aptos-move/move-examples/raffle/scripts/test_and_abort_attack_defeated.move
  aptos-move/move-examples/raffle/sources/raffle.move
  aptos-move/move-examples/raffle/sources/raffle_test.move
Due: none

Adding inline transactions in payload to reduce latency (#12303)
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  types/src/account_config/resources/core_account.rs
Due: rust-fmt

Testing fixed sender and fixed receiver
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  execution/executor-benchmark/src/main.rs
  testsuite/single_node_performance.py
Due: rust-fmt

insecure: global static VK cache will not work with parallel execution
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/keyless_validation.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/tests/keyless_feature_gating.rs
  aptos-move/e2e-tests/src/account.rs
  aptos-move/framework/aptos-framework/sources/keyless_account.move
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/benches/ark_bn254.rs
  types/src/jwks/rsa/mod.rs
  types/src/keyless/bn254_circom.rs
  types/src/keyless/groth16_sig.rs
  types/src/keyless/groth16_vk.rs
  types/src/keyless/mod.rs
  types/src/keyless/openid_sig.rs
  types/src/keyless/tests.rs
Due: rust-fmt, rust-cargo-sort

arrays tests
  keyless/circuit-tests/src/arrays.rs
Due: rust-fmt

fix rb_handler send
  consensus/src/dag/rb_handler.rs
Due: rust-fmt

limiting lookup for invalidation
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
Due: rust-fmt

removing self.read_estimate_deltas = false
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
Due: rust-fmt

dag id in fetch response
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_fetcher.rs
  consensus/src/dag/types.rs
Due: rust-fmt

[gas] tune dependency gas
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
Due: rust-fmt

minor changes
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
Due: none

[gas] tune dependency gas (#12520)
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
Due: rust-fmt

Debugging rsa circuit test
  Cargo.lock
  keyless/circuit-data/templates/helpers/rsa/rsa_verify.circom
  keyless/circuit-tests/Cargo.toml
  keyless/circuit-tests/src/packing.rs
  keyless/circuit-tests/src/rsa.rs
  keyless/circuit-tests/src/sha.rs
  keyless/common/Cargo.toml
  keyless/common/src/api.rs
  keyless/common/src/input_processing/encoding.rs
  keyless/common/src/input_processing/mod.rs
  keyless/common/src/lib.rs
Due: rust-fmt

Testing without fast_forward_sync check
  consensus/src/block_storage/sync_manager.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

improve err msg
  third_party/move/move-compiler-v2/src/cyclic_instantiation_checker.rs
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/recursive_type_instantiation.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/complex_1.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_three_args_type_con_non_generic_types_ok.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_three_args_type_con_shifting.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_two_args_swapping_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/mutually_recursive_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/nested_types_1.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/nested_types_2.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_infinite_type_terminates.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_one_arg_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/recursive_two_args_swapping_type_con.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-tests/two_loops.exp
  third_party/move/move-compiler-v2/tests/cyclic-instantiation-checker/v1-typing/infinite_instantiations_invalid.exp
Due: rust-fmt

Fix typo
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  ecosystem/node-checker/ts-client/src/schemas/$CheckSummary.ts
  ecosystem/typescript/sdk/src/providers/aptos_client.ts
  third_party/move/changes/5-named-addresses.md
  third_party/move/move-compiler/tests/move_check/typing/ability_constraint_generic_in_field.exp
  third_party/move/move-compiler/tests/move_check/typing/ability_constraint_prims_invalid.exp
  third_party/move/move-compiler/tests/move_check/typing/ability_constraint_structs_invalid.exp
  third_party/move/move-compiler/tests/move_check/typing/ability_constraint_tparams_invalid.exp
  third_party/move/testing-infra/test-generation/src/abstract_state.rs
Due: rust-fmt, prettier-fmt

[concensus] refactor MutiEd25519Signature
  crates/aptos-crypto/src/multi_ed25519.rs
Due: rust-fmt

More print statements for debugging
  consensus/consensus-types/src/sync_info.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/recovery_manager.rs
Due: rust-fmt

Minor fix
  consensus/src/block_storage/sync_manager.rs
Due: rust-fmt

update
  Cargo.lock
  aptos-node/Cargo.toml
  network/framework/Cargo.toml
  network/framework/src/protocols/wire/handshake/v1/mod.rs
Due: rust-fmt

trivial updates
  aptos-move/move-examples/bcs-stream/Move.toml
  aptos-move/move-examples/bcs-stream/sources/stream.move
Due: none
