Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

fix: cherry-pick.
  storage/aptosdb/src/db/aptosdb_test.rs
  storage/aptosdb/src/db/include/aptosdb_writer.rs
  storage/aptosdb/src/ledger_db/event_db.rs
  storage/aptosdb/src/ledger_db/ledger_metadata_db.rs
  storage/aptosdb/src/state_store/mod.rs
Due: rust-fmt

aptos-db: Use the state store lock on revert
  storage/aptosdb/src/db/include/aptosdb_writer.rs
Due: rust-fmt

aptos-db: truncate state merkle DB on revert
  storage/aptosdb/src/db/include/aptosdb_writer.rs
Due: rust-fmt

aptos-db: remove an unused test helper
  storage/aptosdb/src/db/aptosdb_test.rs
Due: rust-fmt

types: remove setter methods
  types/src/block_info.rs
  types/src/ledger_info.rs
Due: rust-fmt

aptos-db: ResetLock
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/reset_lock.rs
Due: rust-fmt

fix: cherry-pick.
  storage/aptosdb/src/db/include/aptosdb_writer.rs
Due: rust-fmt

force faucet to process one request at a time
  crates/aptos-faucet/core/src/server/run.rs
Due: rust-fmt

fix: cherry-pick
  storage/aptosdb/src/db/include/aptosdb_writer.rs
  storage/aptosdb/src/ledger_db/ledger_metadata_db.rs
  storage/aptosdb/src/state_store/mod.rs
Due: rust-fmt

fix: merge.
  storage/aptosdb/src/db/include/aptosdb_writer.rs
  storage/aptosdb/src/ledger_db/ledger_metadata_db.rs
Due: rust-fmt

better multi build
  devtools/xbuild/src/builder.rs
Due: rust-fmt

add end of range for mainnet (#13911)
  testsuite/replay_verify.py
Due: none

Restore seq kv batch processing, 16:16, 50:50 seq, 30:60
  execution/executor-benchmark/testing-automatization/parallel_command_executors.py
  execution/executor-service/src/remote_state_view_service.rs
Due: rust-fmt

Remove more metrics from the DB
  storage/aptosdb/src/db/include/aptosdb_reader.rs
  storage/schemadb/src/lib.rs
Due: rust-fmt

Remove more timers from the DB
  storage/schemadb/src/iterator.rs
Due: rust-fmt

[forge] fix the max throughput test, after changes to the consensus config
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Implement notify_one instead of notify_all
  execution/executor-service/src/remote_state_view_service.rs
Due: rust-fmt

[forge] fix the max throughput test, after changes to the consensus config (#13934)
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

cherry-pick: remove usage of normalized types and improve module complexity check (#260)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/verifier/resource_groups.rs
  aptos-move/framework/src/module_metadata.rs
  third_party/move/move-binary-format/src/check_complexity.rs
  third_party/move/move-binary-format/src/compatibility.rs
  third_party/move/move-binary-format/src/lib.rs
  third_party/move/move-binary-format/src/normalized.rs
  third_party/move/move-binary-format/src/unit_tests/compatibility_tests.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/tools/move-bytecode-utils/src/layout.rs
  tools/compute-module-expansion-size/Cargo.toml
  tools/compute-module-expansion-size/src/main.rs
  types/src/on_chain_config/timed_features.rs
Due: rust-fmt, rust-cargo-sort

Added new expecting-failure tests for each `mutate_metadata` parameter.
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
Due: none

[move-smith] fix coverage graph legend position
  third_party/move/tools/move-smith/scripts/coverage_graph.py
Due: none

cherry-pick: remove usage of normalized types and improve module complexity check (#260) (#13937)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/verifier/resource_groups.rs
  aptos-move/framework/src/module_metadata.rs
  third_party/move/move-binary-format/src/check_complexity.rs
  third_party/move/move-binary-format/src/compatibility.rs
  third_party/move/move-binary-format/src/lib.rs
  third_party/move/move-binary-format/src/normalized.rs
  third_party/move/move-binary-format/src/unit_tests/compatibility_tests.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/tools/move-bytecode-utils/src/layout.rs
  tools/compute-module-expansion-size/Cargo.toml
  tools/compute-module-expansion-size/src/main.rs
  types/src/on_chain_config/timed_features.rs
Due: rust-fmt, rust-cargo-sort

Garbage collection of batches without proofs
  consensus/src/quorum_store/utils.rs
Due: rust-fmt

[CI/CD] Unblock merge base check for release branch.
  devtools/aptos-cargo-cli/src/common.rs
Due: rust-fmt

cherry-pick: remove usage of normalized types and improve module complexity check (#260) (#13935)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/verifier/resource_groups.rs
  aptos-move/framework/src/module_metadata.rs
  third_party/move/move-binary-format/src/check_complexity.rs
  third_party/move/move-binary-format/src/compatibility.rs
  third_party/move/move-binary-format/src/lib.rs
  third_party/move/move-binary-format/src/normalized.rs
  third_party/move/move-binary-format/src/unit_tests/compatibility_tests.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/tools/move-bytecode-utils/src/layout.rs
  tools/compute-module-expansion-size/Cargo.toml
  tools/compute-module-expansion-size/src/main.rs
  types/src/on_chain_config/timed_features.rs
Due: rust-fmt, rust-cargo-sort

[CI/CD] Run all unit tests on release branch PRs.
  .github/workflows/lint-test.yaml
Due: prettier-fmt

[Storage] Implement shard id extraction in a different way.
  Cargo.lock
  Cargo.toml
  config/Cargo.toml
  config/src/config/storage_config.rs
Due: rust-fmt, rust-cargo-sort

cherry-pick: remove usage of normalized types and improve module complexity check (#260) (#13936)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/verifier/resource_groups.rs
  aptos-move/framework/src/module_metadata.rs
  third_party/move/move-binary-format/src/check_complexity.rs
  third_party/move/move-binary-format/src/compatibility.rs
  third_party/move/move-binary-format/src/lib.rs
  third_party/move/move-binary-format/src/normalized.rs
  third_party/move/move-binary-format/src/unit_tests/compatibility_tests.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/ty.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/tools/move-bytecode-utils/src/layout.rs
  tools/compute-module-expansion-size/Cargo.toml
  tools/compute-module-expansion-size/src/main.rs
  types/src/on_chain_config/timed_features.rs
Due: rust-fmt, rust-cargo-sort

Increase forge overload limits
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

disable traffic limiting configs
  terraform/helm/aptos-node/files/haproxy.cfg
Due: none

[Storage] For fast sync / restore, we don't commit nodes from multiple shards in parallel.
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_restore/mod.rs
  storage/jellyfish-merkle/src/restore/mod.rs
Due: rust-fmt

[Storage] For fast sync / restore, we don't commit nodes from multiple shards in parallel. (#13753)
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_restore/mod.rs
  storage/jellyfish-merkle/src/restore/mod.rs
Due: rust-fmt
