Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

chore: bump TS SDK version to 1.3.3
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
Due: none

fix: get linter warnings fixed
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/token_client.test.ts
Due: prettier-fmt

[community] Fix default user icon SVG stroke color
  ecosystem/platform/server/app/assets/images/icons/user.svg
Due: none

[Token] temporary fix the number insistency
  ecosystem/indexer/migrations/2022-05-19-174534_collections/up.sql
  ecosystem/indexer/migrations/2022-08-02-151225_token_data/up.sql
  ecosystem/indexer/src/models/collection.rs
  ecosystem/indexer/src/models/token.rs
  ecosystem/indexer/src/schema.rs
Due: rust-fmt

[smoke-tests] fix flakiness of a couple tests
  consensus/src/network.rs
  testsuite/smoke-test/src/aptos/error_report.rs
  testsuite/smoke-test/tests/forge-aptos.rs
Due: rust-fmt

shutdown and some fixes (#2325)
  consensus/consensus-types/src/common.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/data_manager.rs
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/batch_reader.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/proof_builder.rs
  consensus/src/quorum_store/quorum_store.rs
  consensus/src/quorum_store/quorum_store_db.rs
  consensus/src/quorum_store/quorum_store_wrapper.rs
  consensus/src/state_computer.rs
  consensus/src/test_utils/mock_state_computer.rs
  crates/aptos-rest-client/src/lib.rs
Due: rust-fmt

[community] Redirect www to non-www to avoid https conflicts
  ecosystem/platform/server/config/routes.rb
Due: none

Unit tests (#2576)
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/proposal_msg.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/data_manager.rs
  consensus/src/network.rs
  consensus/src/quorum_store/batch_aggregator.rs
  consensus/src/quorum_store/batch_reader.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/proof_builder.rs
  consensus/src/quorum_store/quorum_store.rs
  consensus/src/quorum_store/quorum_store_db.rs
  consensus/src/quorum_store/quorum_store_wrapper.rs
  consensus/src/quorum_store/tests/batch_aggregator_test.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/quorum_store/tests/mod.rs
  consensus/src/quorum_store/tests/proof_builder_test.rs
  consensus/src/quorum_store/tests/quorum_store_db_test.rs
  consensus/src/quorum_store/tests/quorum_store_wrapper_test.rs
  consensus/src/quorum_store/tests/types_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/round_manager_test.rs
  consensus/src/state_computer.rs
  consensus/src/test_utils/mock_payload_manager.rs
  consensus/src/test_utils/mock_quorum_store_sender.rs
  consensus/src/test_utils/mock_state_computer.rs
  consensus/src/test_utils/mod.rs
  consensus/temp_test_results
Due: rust-fmt

chore: bump TS SDK version to 1.3.3
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/token_client.test.ts
  ecosystem/typescript/sdk/src/token_client.ts
Due: prettier-fmt

[Docs] New Move transactional testing guide.
  developer-docs-site/docs/guides/index.md
  developer-docs-site/docs/guides/move-guides/guide-move-transactional-testing.md
  developer-docs-site/docs/guides/move-guides/index.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
Due: prettier-fmt

[Docs] Yarn fmt stuff
  developer-docs-site/sidebars.js
Due: prettier-fmt

fix typo
  developer-docs-site/docs/guides/move-guides/move-on-aptos.md
Due: none

[Docs] Review comment-based edit.
  developer-docs-site/docs/guides/move-guides/guide-move-transactional-testing.md
Due: none

Compiles
  Cargo.lock
  consensus/consensus-types/src/common.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/quorum_store_db.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/state_computer.rs
  consensus/src/txn_notifier.rs
Due: rust-fmt

[community] Fix default user icon SVG stroke color (#2602)
  ecosystem/platform/server/app/assets/images/icons/user.svg
Due: none

refactor: replace JSON txn submittion interface with BCS interface for token client
  ecosystem/typescript/sdk/src/token_client.test.ts
  ecosystem/typescript/sdk/src/token_client.ts
  ecosystem/typescript/sdk/src/transaction_builder/bcs/helper.test.ts
  ecosystem/typescript/sdk/src/transaction_builder/bcs/helper.ts
Due: prettier-fmt

BatchAggregator refactor, logic fixes, Serialized txn in fragments
  consensus/consensus-types/src/executed_block.rs
  consensus/src/data_manager.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/quorum_store/batch_aggregator.rs
  consensus/src/quorum_store/batch_reader.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/network_listener.rs
  consensus/src/quorum_store/quorum_store.rs
  consensus/src/quorum_store/quorum_store_wrapper.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
Due: rust-fmt

caching data in data manager
  Cargo.lock
  consensus/consensus-types/Cargo.toml
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/executed_block.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/data_manager.rs
  consensus/src/epoch_manager.rs
  consensus/src/state_computer.rs
  consensus/src/test_utils/mock_state_computer.rs
Due: rust-fmt

debug messages
  consensus/src/block_storage/block_store.rs
  consensus/src/data_manager.rs
  consensus/src/quorum_store/batch_reader.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/network_listener.rs
  consensus/src/quorum_store/quorum_store_db.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/state_computer.rs
Due: rust-fmt

unused import
  consensus/src/epoch_manager.rs
Due: rust-fmt

Sematically fix rebase after #2049
  consensus/src/network.rs
  consensus/src/quorum_store/batch_reader.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/batch_store.rs
Due: rust-fmt

[smoke-tests] fix flakiness of a couple tests
  consensus/src/network.rs
  consensus/temp_result_quorum_store
  testsuite/smoke-test/src/aptos/error_report.rs
  testsuite/smoke-test/tests/forge-aptos.rs
Due: rust-fmt

[storage] remove get_startup_info()
  consensus/src/persistent_liveness_storage.rs
  consensus/src/state_computer.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/components/block_tree/mod.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/backup/backup_handler.rs
  storage/aptosdb/src/ledger_store/ledger_info_test.rs
  storage/aptosdb/src/ledger_store/mod.rs
  storage/aptosdb/src/lib.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
  storage/storage-interface/src/lib.rs
  types/src/proof/accumulator/mod.rs
  types/src/proof/definition.rs
Due: rust-fmt

fix broken link
  developer-docs-site/docs/guides/move-guides/move-on-aptos.md
Due: none

[Move Prover] Separated the specs from code (#2441)
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/code.spec.move
  aptos-move/framework/aptos-framework/sources/system_addresses.move
  aptos-move/framework/aptos-framework/sources/system_addresses.spec.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/aptos-framework/sources/timestamp.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_context.move
  aptos-move/framework/aptos-framework/sources/transaction_context.spec.move
  aptos-move/framework/aptos-framework/sources/util.spec.move
  aptos-move/framework/aptos-stdlib/sources/event.move
  aptos-move/framework/tests/move_prover_tests.rs
  aptos-move/framework/tests/move_verification_test.rs
Due: rust-fmt

fix broken link (#2608)
  developer-docs-site/docs/guides/move-guides/move-on-aptos.md
Due: none

[aptos-rosetta] Add sequence number to account balance lookups
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/types/requests.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

Fix events RestApi paging to latest
  api/src/context.rs
  api/src/events.rs
  api/src/page.rs
  api/src/poem_backend/events.rs
  api/src/poem_backend/page.rs
  api/src/poem_backend/transactions.rs
  api/src/transactions.rs
  crates/aptos-rest-client/src/lib.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
  testsuite/smoke-test/src/client.rs
Due: rust-fmt

[move] Rename move BlockMetadata to BlockResource for consistency
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/src/context.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/block.move
  crates/aptos-rosetta/src/types/objects.rs
  documentation/specifications/move_adapter/README.md
  ecosystem/indexer/src/indexer/tailer.rs
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
  types/src/account_config/events/new_block.rs
Due: rust-fmt

Support cross-epoch leader reputation
  consensus/src/epoch_manager.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/leader_reputation_test.rs
  types/src/on_chain_config/consensus_config.rs
Due: rust-fmt

Automatic acceptance of nonexistence Tokens
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/coin.move
Due: none
