Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[storage] utilize the NewBlockEvent to find out block boundaries
  api/src/context.rs
  storage/aptosdb/src/event_store/mod.rs
  storage/aptosdb/src/event_store/test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/transaction_store/mod.rs
  storage/aptosdb/src/transaction_store/test.rs
  storage/storage-interface/src/lib.rs
  types/src/account_config/events/new_block.rs
Due: rust-fmt

[storage] utilize the NewBlockEvent to find out block boundaries
  Cargo.lock
  api/src/context.rs
  execution/executor-test-helpers/Cargo.toml
  execution/executor-test-helpers/src/integration_test_impl.rs
  sdk/src/types.rs
  storage/aptosdb/src/event_store/mod.rs
  storage/aptosdb/src/event_store/test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/test_helper.rs
  storage/aptosdb/src/transaction_store/mod.rs
  storage/aptosdb/src/transaction_store/test.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/manifest.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/tests.rs
  storage/backup/backup-cli/src/backup_types/tests.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
  storage/backup/backup-cli/src/metadata/mod.rs
  storage/backup/backup-cli/src/metadata/view.rs
  storage/backup/backup-cli/src/metrics/backup.rs
  storage/storage-interface/src/lib.rs
  terraform/helm/fullnode/templates/backup.yaml
  terraform/helm/fullnode/values.yaml
  testsuite/smoke-test/src/storage.rs
  types/src/account_config/events/new_block.rs
Due: rust-fmt, prettier-fmt

[storage] backup-cli: fix db-restore smoke test
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
  storage/backup/backup-cli/src/metadata/view.rs
  testsuite/smoke-test/src/storage.rs
  testsuite/smoke-test/src/test_utils.rs
Due: rust-fmt

Update CODEOWNERS
  CODEOWNERS
Due: none

jwt authorization
  Cargo.lock
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
Due: rust-fmt

fix lint checks
  crates/aptos-telemetry-service/src/error.rs
Due: rust-fmt

lint checks
  crates/aptos-telemetry-service/Cargo.toml
Due: none

precommit checks
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/main.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt

initial telemetry service with auth
  Cargo.lock
  Cargo.toml
  config/management/operational/src/lib.rs
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/authx.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/main.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt, rust-cargo-sort

Improvements - Clap CLI integration - Config file parser - Unit Test improvements - Reorganization
  Cargo.lock
  config/management/operational/src/lib.rs
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/authx.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/main.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt

refine auth reject error due to wrong public key
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/error.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/lib.rs
Due: rust-fmt

lint checks
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt

[Docs] Reorganizing local testnet docs into nodes section. Adding links and redirects.
  developer-docs-site/docs/cli-tools/aptos-cli-tool/index.md
  developer-docs-site/docs/nodes/index.md
  developer-docs-site/docs/nodes/local-testnet/index.md
  developer-docs-site/docs/nodes/local-testnet/run-a-local-testnet.md
  developer-docs-site/docs/nodes/local-testnet/using-cli-to-run-a-local-testnet.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
Due: prettier-fmt

update hardware requirement
  developer-docs-site/docs/nodes/ait/node-requirements.md
Due: none

[Aptos Framework][Staking] Remove max stake flooring and update rewards distribution to mint to both active/pending_inactive
  aptos-move/framework/aptos-framework/sources/stake.move
Due: none

[Genesis] Make rewards and governance params configurable and set reasonable defaults in tests
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/vm-genesis/src/lib.rs
  aptos-node/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/genesis/tests.rs
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
  testsuite/smoke-test/src/aptos_cli.rs
Due: rust-fmt, prettier-fmt

[aptos-framework] Change aptos coin currency code to APT
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  crates/aptos-rosetta/aptos.ros
  crates/aptos-rosetta/src/common.rs
Due: rust-fmt

[storage] utilize the NewBlockEvent to find out block boundaries
  Cargo.lock
  execution/executor-test-helpers/Cargo.toml
  execution/executor-test-helpers/src/integration_test_impl.rs
  sdk/src/types.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/test_helper.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/manifest.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/tests.rs
  storage/backup/backup-cli/src/backup_types/tests.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
  storage/backup/backup-cli/src/metadata/mod.rs
  storage/backup/backup-cli/src/metadata/view.rs
  storage/backup/backup-cli/src/metrics/backup.rs
  terraform/helm/fullnode/templates/backup.yaml
  terraform/helm/fullnode/values.yaml
  testsuite/smoke-test/src/storage.rs
Due: rust-fmt, prettier-fmt

8 -> 16
  config/src/config/mempool_config.rs
Due: rust-fmt

[forge] Add packet loss test and make a chaos test suite
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/chaos.rs
  testsuite/forge/src/backend/k8s/chaos/network_loss.yaml
  testsuite/forge/src/interface/chaos.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/network_loss_test.rs
Due: rust-fmt, prettier-fmt

[storage] get_events allows geting the latest with ascending order
  storage/aptosdb/src/lib.rs
Due: rust-fmt

[storage] get_events takes Option<seq_num>
  api/src/context.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/transaction-replay/src/lib.rs
  aptos-move/transaction-replay/src/main.rs
  aptos-move/transaction-replay/src/unit_tests/mod.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/leader_reputation_test.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/test_helper.rs
  storage/storage-interface/src/lib.rs
Due: rust-fmt

[Docs] Reorganizing local testnet docs into nodes section. Adding links and redirects. (#2666)
  developer-docs-site/docs/cli-tools/aptos-cli-tool/index.md
  developer-docs-site/docs/nodes/index.md
  developer-docs-site/docs/nodes/local-testnet/index.md
  developer-docs-site/docs/nodes/local-testnet/run-a-local-testnet.md
  developer-docs-site/docs/nodes/local-testnet/using-cli-to-run-a-local-testnet.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
Due: prettier-fmt

[move] added test for BLS proof-of-possession and fixed secp256k1 documentation
  aptos-move/framework/aptos-stdlib/sources/signature.move
  crates/aptos-crypto/src/bls12381/bls12381_pop.rs
  crates/aptos-crypto/src/unit_tests/bls12381_test.rs
Due: rust-fmt

[API] Represent move types as strings
  api/doc/v1/spec.json
  api/doc/v1/spec.yaml
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_argument_address_string.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_argument_address_type.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_argument_data_type.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_argument_u64_string.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_function_id.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_function_name.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_module_address.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_module_name.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_type_argument_data_type.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_missing_script_function_arguments.json
  api/goldens/v1/aptos_api__tests__state_test__test_get_account_resource.json
  api/goldens/v1/aptos_api__tests__state_test__test_get_account_resource_by_invalid_struct_tag.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_module_payload_bytecode.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_address.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_arguments.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_module_name.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_name.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_payload_bytecode.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_missing_script_function_arguments.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_script_function_validation.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_post_bcs_format_transaction.json
  api/src/poem_backend/events.rs
  api/src/poem_backend/state.rs
  api/src/tests/test_context.rs
  api/src/tests/v1/accounts_test.rs
  api/src/tests/v1/transactions_test.rs
  api/types/src/derives.rs
  api/types/src/lib.rs
  api/types/src/move_types.rs
  api/types/src/wrappers.rs
Due: rust-fmt, prettier-fmt

[SDK] Update TS SDK to handle string representation of move types
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/examples/javascript/index.js
  ecosystem/typescript/sdk/examples/javascript/package.json
  ecosystem/typescript/sdk/examples/typescript/bcs_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/constants.ts
  ecosystem/typescript/sdk/examples/typescript/index.ts
  ecosystem/typescript/sdk/examples/typescript/multisig_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/aptos_client.ts
  ecosystem/typescript/sdk/src/faucet_client.test.ts
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/MoveModuleId.ts
  ecosystem/typescript/sdk/src/generated/models/MoveStructGenericTypeParam.ts
  ecosystem/typescript/sdk/src/generated/models/MoveStructTag.ts
  ecosystem/typescript/sdk/src/generated/models/MoveStructTagParam.ts
  ecosystem/typescript/sdk/src/generated/models/ScriptFunctionId.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveModuleId.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveStructGenericTypeParam.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveStructTag.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveStructTagParam.ts
  ecosystem/typescript/sdk/src/generated/schemas/$ScriptFunctionId.ts
  ecosystem/typescript/sdk/src/generated/services/AccountsService.ts
  ecosystem/typescript/sdk/src/generated/services/EventsService.ts
  ecosystem/typescript/sdk/src/token_client.ts
  ecosystem/typescript/sdk/src/util.ts
Due: prettier-fmt

[move+crypto] exported rest of BLS functions and improved BLS documentation
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-gas/src/transaction.rs
  aptos-move/framework/aptos-stdlib/sources/signature.move
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/signature.rs
  crates/aptos-crypto/benches/bls12381.rs
  crates/aptos-crypto/src/bls12381/bls12381_keys.rs
  crates/aptos-crypto/src/bls12381/bls12381_pop.rs
  crates/aptos-crypto/src/bls12381/bls12381_sigs.rs
  crates/aptos-crypto/src/bls12381/bls12381_validatable.rs
  crates/aptos-crypto/src/bls12381/mod.rs
  crates/aptos-crypto/src/test_utils.rs
  crates/aptos-crypto/src/unit_tests/bls12381_test.rs
  crates/aptos-crypto/src/validatable.rs
Due: rust-fmt

[docs] Integrate OpenGraph meta image, adjust page titles
  developer-docs-site/docs/index.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/static/img/aptos_meta_opengraph_051222.jpg
Due: prettier-fmt

[docs] Integrate OpenGraph meta image, adjust page titles (#2670)
  developer-docs-site/docs/index.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/static/img/aptos_meta_opengraph_051222.jpg
Due: prettier-fmt

Update dependencies via bundle update. (#2583)
  ecosystem/platform/server/Gemfile.lock
Due: none

[Indexer] Migrate i64 to Numeric to support u64 (and more)
  Cargo.lock
  Cargo.toml
  ecosystem/indexer/Cargo.toml
  ecosystem/indexer/migrations/2022-08-08-210901_migrate_fields_to_numeric/down.sql
  ecosystem/indexer/migrations/2022-08-08-210901_migrate_fields_to_numeric/up.sql
  ecosystem/indexer/migrations/2022-08-08-212440_migrate_token_fields_to_numeric/down.sql
  ecosystem/indexer/migrations/2022-08-08-212440_migrate_token_fields_to_numeric/up.sql
  ecosystem/indexer/src/indexer/transaction_processor.rs
  ecosystem/indexer/src/lib.rs
  ecosystem/indexer/src/models/events.rs
  ecosystem/indexer/src/models/metadata.rs
  ecosystem/indexer/src/models/ownership.rs
  ecosystem/indexer/src/models/processor_statuses.rs
  ecosystem/indexer/src/models/token.rs
  ecosystem/indexer/src/models/token_activity.rs
  ecosystem/indexer/src/models/transactions.rs
  ecosystem/indexer/src/schema.rs
  ecosystem/indexer/src/token_processor.rs
  ecosystem/indexer/src/util.rs
Due: rust-fmt, rust-cargo-sort

[Code Owners] Add code owners for consensus, storage and state-sync.
  CODEOWNERS
Due: none

[move-tests] add better storage interface
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-tests/src/executor.rs
Due: rust-fmt

Create substreams crate
  crates/aptos-substreams/.cargo/config.toml
  crates/aptos-substreams/.gitignore
  crates/aptos-substreams/Cargo.lock
  crates/aptos-substreams/Cargo.toml
  crates/aptos-substreams/Makefile
  crates/aptos-substreams/README.md
  crates/aptos-substreams/aptos-firehose-v0.0.1.spkg
  crates/aptos-substreams/buf.gen.yaml
  crates/aptos-substreams/proto/block_output.proto
  crates/aptos-substreams/rust-toolchain.toml
  crates/aptos-substreams/src/lib.rs
  crates/aptos-substreams/src/pb/aptos.block_output.v1.rs
  crates/aptos-substreams/src/pb/mod.rs
  crates/aptos-substreams/src/pb/sf.aptos.type.v1.rs
  crates/aptos-substreams/src/transaction_converter.rs
  crates/aptos-substreams/substreams.yaml
Due: rust-fmt, prettier-fmt

add to cargo.toml
  Cargo.toml
Due: rust-cargo-sort

update cargo.toml
  Cargo.toml
Due: rust-cargo-sort

[aptos-telemetry] Aptos telemetry web service (#2460)
  Cargo.lock
  Cargo.toml
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/error.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/main.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt, rust-cargo-sort

[forge] support K8SNode start,stop,clear_storage and metrics port
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-values.yaml
  testsuite/forge/src/backend/k8s/helm-values/genesis-values.yaml
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/interface/node.rs
  testsuite/run_forge.sh
  testsuite/testcases/src/forge_setup_test.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/partial_nodes_down_test.rs
  testsuite/testcases/src/state_sync_performance.rs
Due: rust-fmt, prettier-fmt

exclude from cargo.toml to avoid overbuild + minor fix.
  Cargo.lock
  Cargo.toml
  crates/aptos-substreams/Cargo.lock
  crates/aptos-substreams/aptos-firehose-v0.0.1.spkg
  sf-stream/src/convert.rs
Due: rust-fmt, rust-cargo-sort

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
