Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

refactor: squash SessionOutput::into_change_set() into SessionExt::finish()
  aptos-move/aptos-debugger/src/lib.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
Due: rust-fmt

trivial: StateView::get_state_value_bytes
  api/src/context.rs
  api/src/state.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/delta_state_view.rs
  aptos-move/block-executor/src/output_delta_resolver.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/genesis_context.rs
  execution/executor-benchmark/src/fake_executor.rs
  execution/executor/src/db_bootstrapper.rs
  execution/executor/src/mock_vm/mock_vm_test.rs
  execution/executor/src/mock_vm/mod.rs
  storage/state-view/src/account_with_state_view.rs
  storage/state-view/src/lib.rs
  storage/storage-interface/src/cached_state_view.rs
  storage/storage-interface/src/state_view.rs
Due: rust-fmt

trivial: define feature flag to control stoarge slot metadata
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

Add update StateValue and WriteOp to support state slot metadata tracking
  api/types/src/convert.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-gas/src/transaction/storage.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-vm/src/delta_state_view.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/vm-genesis/src/genesis_context.rs
  crates/aptos-rosetta/src/types/objects.rs
  execution/executor-types/src/in_memory_state_calculator.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/fake_aptosdb.rs
  storage/indexer/src/lib.rs
  storage/scratchpad/benches/sparse_merkle.rs
  types/src/proptest_types.rs
  types/src/state_store/state_value.rs
  types/src/write_set.rs
Due: rust-fmt

40k -> 80k backlog
  testsuite/forge/src/runner.rs
Due: rust-fmt

40k backlog and 5k block size
  config/src/config/consensus_config.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

track storage slot payer
  aptos-move/aptos-gas/src/transaction/storage.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/on_chain_config/mod.rs
  types/src/on_chain_config/timestamp.rs
  types/src/state_store/state_value.rs
Due: rust-fmt

40k backlog, 100 nodes, wait for full block, no epoch change
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[replay-verify] avoid pickle process
  testsuite/replay_verify.py
Due: none

Add AIP and AIPs to spellcheck dictionary
  developer-docs-site/scripts/additional_dict.txt
Due: none

Integrate PropertyMap and Airdrop example into Aptos.dev, announce (#6579)
  developer-docs-site/docs/concepts/coin-and-token/aptos-token-overview.md
  developer-docs-site/docs/concepts/coin-and-token/aptos-token.md
  developer-docs-site/docs/concepts/coin-and-token/propertymap-offchain.md
  developer-docs-site/docs/concepts/coin-and-token/token-airdrop-example.md
  developer-docs-site/docs/concepts/coin-and-token/token_airdrop/token_airdrop_example.md
  developer-docs-site/docs/concepts/coin-and-token/work_with_propertymap_offchain.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/scripts/additional_dict.txt
  developer-docs-site/sidebars.js
  developer-docs-site/static/img/token-airdrop.png
Due: prettier-fmt

5.2k max tps and 5k block size
  config/src/config/consensus_config.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[replay-verify] avoid pickle process (#6614)
  testsuite/replay_verify.py
Due: none

[smart_table] add destroy<K: drop, V: drop>()
  aptos-move/move-examples/data_structures/sources/smart_table.move
Due: none

Add auto-reviewers for all Markdown changes including READMEs
  CODEOWNERS
Due: none

storage_deposit contract
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/storage_deposit.md
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/storage_deposit.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Due: rust-fmt

storage deposit related (non-)gas parameters
  aptos-move/aptos-gas/src/algebra.rs
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/lib.rs
  aptos-move/aptos-gas/src/transaction/mod.rs
  aptos-move/aptos-gas/src/transaction/storage.rs
Due: rust-fmt

trivial refactor: remove duplication
  aptos-move/aptos-vm/src/aptos_vm.rs
Due: rust-fmt

Abstract extract/compile context manager
  ecosystem/python/sdk/aptos_sdk/amee.py
Due: none

storage deposit: connecting the dots
  Cargo.lock
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/lib.rs
  aptos-move/aptos-gas/src/transaction/mod.rs
  aptos-move/aptos-gas/src/transaction/storage.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  types/src/state_store/state_value.rs
  types/src/transaction/change_set.rs
  types/src/write_set.rs
Due: rust-fmt

Add script without non-signer arguments
  aptos-move/move-examples/upgrade_and_govern/v1_1_0/scripts/set_only.move
Due: none

Add permissions and fix issues in GH Markdown link checker
  .github/workflows/links.yml
  developer-docs-site/README.md
Due: prettier-fmt

bump block max bytes
  config/src/config/consensus_config.rs
Due: rust-fmt

Add script invocation support
  ecosystem/python/sdk/aptos_sdk/amee.py
  ecosystem/python/sdk/aptos_sdk/ss.sh
Due: none

Sort functions
  ecosystem/python/sdk/aptos_sdk/amee.py
Due: none

Update perms per reviewer feedback
  .github/workflows/links.yml
Due: prettier-fmt

[gha] run forge stable against quorum-store branch
  .github/workflows/forge-stable.yaml
Due: prettier-fmt

[gha] run forge stable against quorum-store branch (#6618)
  .github/workflows/forge-stable.yaml
Due: prettier-fmt

tune statesync configs
  config/src/config/state_sync_config.rs
Due: rust-fmt

Update mint-nft-cli.md
  developer-docs-site/docs/guides/move-guides/mint-nft-cli.md
Due: none

Add commission update
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Due: rust-fmt

Add Christian S. to CODEOWNERS for Aptos.dev
  CODEOWNERS
Due: none

Move links to files in repo from overloaded Getting Started to sparse Concepts index
  developer-docs-site/docs/concepts/index.md
  developer-docs-site/docs/guides/getting-started.md
Due: none

[forge] fix compat test image find
  testsuite/forge.py
  testsuite/forge_test.py
Due: none

Update Authors list with latest contributors
  developer-docs-site/src/contributors.json
Due: none

no epoch change
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

open loop with block wait 5.2k tps 2.5k block no epoch change
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
