Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Fix bug in cmd tx
  execution/executor-service/src/remote_executor_client.rs
Due: rust-fmt

executionhalted wakeup
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

test
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

test 2
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

Enhance Transaction Simulation: Bypass Auth Key Check and Fee Payment, Improve Multisig Consistency
  api/doc/spec.json
  api/doc/spec.yaml
  api/src/tests/multisig_transactions_test.rs
  api/src/tests/simulation_test.rs
  api/types/src/lib.rs
  api/types/src/transaction.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/transaction_metadata.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/move-stdlib/sources/configs/features.spec.move
  crates/indexer/src/models/signatures.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  ecosystem/typescript/sdk/examples/typescript/multisig_account.ts
  execution/executor/src/components/chunk_output.rs
  protos/proto/aptos/transaction/v1/transaction.proto
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.py
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.pyi
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/typescript/src/aptos/transaction/v1/transaction.ts
  scripts/authenticator_regenerate.sh
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/on_chain_config/aptos_features.rs
  types/src/transaction/authenticator.rs
Due: rust-fmt, prettier-fmt

[consensus] Downgrade error!() from channel closing in pipeline execution (#14216)
  consensus/src/counters.rs
  consensus/src/execution_pipeline.rs
  consensus/src/pipeline/buffer_manager.rs
Due: rust-fmt

integrate movefmt
  Cargo.lock
  crates/aptos/Cargo.toml
  crates/aptos/src/move_tool/fmt.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/update/mod.rs
  crates/aptos/src/update/movefmt.rs
  crates/aptos/src/update/tool.rs
Due: rust-fmt

fix genesis unit testcases which is related to multisig account
  aptos-move/framework/supra-framework/sources/genesis.move
Due: none

Set #kv threads to 60
  execution/executor-service/src/remote_state_view_service.rs
Due: rust-fmt

Increase kv threads to cpu / 2
  execution/executor-service/src/remote_state_view_service.rs
Due: rust-fmt

fixes #34
  aptos-move/framework/supra-framework/sources/genesis.move
Due: none

chore - `initialize_test_validator` is now take all missing parameters instead defining static
  aptos-move/framework/supra-framework/sources/pbo_delegation_pool.move
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

WIP - writing pbo_delegation_pool unit test cases
  aptos-move/framework/supra-framework/sources/pbo_delegation_pool.move
Due: none

Implement kv processing on blocking threads
  execution/executor-service/src/remote_state_view_service.rs
  secure/net/src/network_controller/mod.rs
Due: rust-fmt

Implement kv processing on async threads
  execution/executor-service/src/remote_state_view_service.rs
Due: rust-fmt

kv proc threads = 120
  execution/executor-service/src/remote_state_view_service.rs
Due: rust-fmt

check lost write flag on module read
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/view.rs
Due: rust-fmt

wait for all futs to clear from ExecutionPipeline before dropping lifetime_guard
  consensus/src/execution_pipeline.rs
  consensus/src/pipeline/execution_schedule_phase.rs
Due: rust-fmt

small fix
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

fixup! fixup! fixup! [qs] Merge BatchQueue into ProofQueue
  consensus/src/quorum_store/utils.rs
Due: rust-fmt

upgrade upload/download artifact actions to v4
  .github/workflows/cli-release.yaml
  .github/workflows/coverage-move-only.yaml
  .github/workflows/coverage.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/run-fullnode-sync.yaml
Due: prettier-fmt

even smaller fix
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

[Devtools] Small improvements to metadata handling.
  .github/actions/rust-check-merge-base/action.yaml
  .github/actions/rust-targeted-unit-tests/action.yaml
  .github/workflows/lint-test.yaml
  devtools/aptos-cargo-cli/src/common.rs
  devtools/aptos-cargo-cli/src/lib.rs
Due: rust-fmt, prettier-fmt

Enable FA for APT for regression single node benchmark
  execution/executor-benchmark/src/lib.rs
  testsuite/single_node_performance.py
Due: rust-fmt

fix: revert the grammar for script functions
  third_party/move/move-compiler/src/parser/syntax.rs
Due: rust-fmt

validation print
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

validation critical path
  aptos-move/block-executor/src/scheduler.rs
Due: rust-fmt

Add consensus pulled per txn by bucket counter
  mempool/src/core_mempool/mempool.rs
  mempool/src/counters.rs
Due: rust-fmt

Update thread pools sizes for #shards = 2
  execution/executor-service/src/remote_executor_client.rs
  execution/executor-service/src/remote_state_view_service.rs
  secure/net/src/network_controller/mod.rs
Due: rust-fmt

fix fallback thread
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

rust lint
  mempool/src/core_mempool/mempool.rs
Due: rust-fmt

fix typo
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

wait for all futs to clear from ExecutionPipeline before dropping lif… (#14224)
  consensus/src/execution_pipeline.rs
  consensus/src/pipeline/execution_schedule_phase.rs
Due: rust-fmt

Addressing PR comments
  mempool/src/core_mempool/mempool.rs
  mempool/src/counters.rs
Due: rust-fmt

another typo
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

Update thread pools sizes for #shards = 30
  execution/executor-service/src/remote_state_view_service.rs
  secure/net/src/network_controller/mod.rs
Due: rust-fmt
