Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Added Freeze Store Function
  aptos-move/move-examples/circle-experiment/Move.toml
  aptos-move/move-examples/circle-experiment/sources/message_transmitter.move
  aptos-move/move-examples/circle-experiment/sources/state.move
  aptos-move/move-examples/fungible_asset/stablecoin/sources/tests/usdk_tests.move
  aptos-move/move-examples/fungible_asset/stablecoin/sources/usdk.move
  boogie.bpl
Due: none

remove unwanted files
  aptos-move/move-examples/circle-experiment/Move.toml
  aptos-move/move-examples/circle-experiment/sources/message_transmitter.move
  aptos-move/move-examples/circle-experiment/sources/state.move
Due: none

Execution speed backpressure to handle consistent gas miscalibration (#13829)
  config/src/config/consensus_config.rs
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/block_storage/mod.rs
  consensus/src/counters.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/health/chain_health.rs
  consensus/src/dag/health/pipeline_health.rs
  consensus/src/epoch_manager.rs
  consensus/src/execution_pipeline.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/pipeline/execution_schedule_phase.rs
  consensus/src/state_computer.rs
  consensus/src/test_utils/mock_state_computer.rs
  execution/executor-types/src/lib.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Update release.yaml
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

[CI/CD] Unblock merge base check for release branch.
  devtools/aptos-cargo-cli/src/common.rs
Due: rust-fmt

more precise info!'s
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_executor_service.rs
Due: rust-fmt

[Target Determinator] Ignore the merge base out-of-date error.
  devtools/aptos-cargo-cli/src/common.rs
Due: rust-fmt

Fix progress.
  Cargo.lock
  api/src/context.rs
  api/src/tests/accounts_test.rs
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/internal_indexer_db_service.rs
  ecosystem/indexer-grpc/transaction-filter/src/boolean_transaction_filter.rs
  execution/executor/tests/internal_indexer_test.rs
  state-sync/state-sync-driver/Cargo.toml
  storage/aptosdb/src/state_restore/mod.rs
  storage/aptosdb/src/state_restore/restore_test.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/indexer/src/db_indexer.rs
  storage/indexer/src/indexer_reader.rs
  storage/indexer_schemas/src/metadata.rs
  testsuite/smoke-test/Cargo.toml
  types/src/indexer/indexer_db_reader.rs
Due: rust-fmt

Update release.yaml (#14115)
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

Fixed all errors
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/priority.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/fuzzing.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/node.rs
  mempool/src/tests/shared_mempool_test.rs
  mempool/src/tests/test_framework.rs
Due: rust-fmt

Add info statements
  mempool/src/shared_mempool/priority.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

enable flag
  config/src/config/mempool_config.rs
Due: rust-fmt

some fixes
  consensus/consensus-types/src/block.rs
  consensus/src/block_storage/block_tree.rs
  consensus/src/block_storage/sync_manager.rs
  consensus/src/epoch_manager.rs
  consensus/src/persistent_liveness_storage.rs
Due: rust-fmt

vm execution logic
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/session_id.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  aptos-move/framework/aptos-framework/doc/block.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/schedule_transaction_queue.md
  aptos-move/framework/aptos-framework/doc/transaction_context.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/schedule_transaction_queue.move
  aptos-move/framework/aptos-framework/sources/test_schedule_txn.move
  aptos-move/framework/aptos-framework/sources/transaction_context.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  consensus/src/execution_pipeline.rs
  types/src/transaction/scheduled_transaction.rs
  types/src/transaction/script.rs
Due: rust-fmt

Add info statements
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/priority.rs
Due: rust-fmt

Some info statements
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/priority.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Update README.md
  README.md
Due: none

replace unwrap in get_execution_block_size_backoff
  consensus/src/liveness/proposal_generator.rs
Due: rust-fmt

Cleanup dev_setup.sh
  scripts/dev_setup.sh
Due: none

More info
  mempool/src/shared_mempool/network.rs
Due: rust-fmt

[rosetta] Document account
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/lib.rs
Due: rust-fmt

[rosetta] Document error file
  crates/aptos-rosetta/src/error.rs
Due: rust-fmt

[rosetta] Document network file
  crates/aptos-rosetta/src/network.rs
Due: rust-fmt

[rosetta] Document types section
  crates/aptos-rosetta/src/types/identifiers.rs
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/move_types.rs
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos-rosetta/src/types/requests.rs
Due: rust-fmt

[rosetta] Document common code for Rosetta
  crates/aptos-rosetta/src/common.rs
Due: rust-fmt

[rosetta] Document block file
  crates/aptos-rosetta/src/block.rs
Due: rust-fmt

[rosetta] Document construction commands
  crates/aptos-rosetta/src/construction.rs
Due: rust-fmt

some more fixes
  consensus/src/block_storage/block_store.rs
  consensus/src/persistent_liveness_storage.rs
Due: rust-fmt

Add info
  mempool/src/shared_mempool/network.rs
Due: rust-fmt

[Consensus Observer] Add simple unit tests for message verification.
  consensus/src/consensus_observer/network_message.rs
Due: rust-fmt

fix lint
  api/types/src/convert.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  testsuite/generate-format/tests/staged/api.yaml
  third_party/move/move-core/types/src/transaction_argument.rs
  third_party/move/tools/move-resource-viewer/src/lib.rs
Due: rust-fmt, prettier-fmt

Add info
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/network.rs
Due: rust-fmt

Increase block limits proposal
  aptos-move/aptos-release-builder/data/increase_block_limits.yaml
Due: prettier-fmt

more precise info!'s, fix 1
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_executor_service.rs
Due: rust-fmt

fixup! fix lint
  testsuite/generate-format/tests/staged/aptos.yaml
Due: prettier-fmt

remove assert not frozen
  aptos-move/move-examples/fungible_asset/stablecoin/sources/tests/usdk_tests.move
  aptos-move/move-examples/fungible_asset/stablecoin/sources/usdk.move
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
