Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[prover] Index nested entity candidates compactly
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[compiler-v2] restrict auto-inlining to same module
  aptos-move/framework/cached-packages/src/head.mrb
  crates/aptos/CHANGELOG.md
  third_party/move/move-compiler-v2/src/env_pipeline/inliner.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/tests/inlining-optimization/cross_module_not_inlined.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/cross_module_not_inlined.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_cross_module.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_cross_module.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_generic_cross_module.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_generic_cross_module.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_same_module.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_same_module.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/module_lock_caller.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/module_lock_caller.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/same_module_calls_other_package.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/same_module_calls_other_package.move
  third_party/move/move-compiler-v2/transactional-tests/tests/control_flow/abort_complex.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/reentrancy.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/fv_as_keys.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/locked_caller_inlined_helper.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/locked_caller_inlined_helper.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/module_lock_wrapper.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/module_lock_wrapper.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/pure_helper_under_lock.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/pure_helper_under_lock.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/resource_lock_wrapper.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/resource_lock_wrapper.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/locked_caller_inlined_helper.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/locked_caller_inlined_helper.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/module_lock_wrapper.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/module_lock_wrapper.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/pure_helper_under_lock.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/pure_helper_under_lock.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/resource_lock_wrapper.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/resource_lock_wrapper.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/tests.rs
  third_party/move/move-model/src/model.rs
Due: rust-fmt

[prover] Tighten result artifact validation
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Support semicolonless numeric entities
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Close publication validation gaps
  .github/workflows/lint-test.yaml
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: prettier-fmt

[prover] Extend publication content validation
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Normalize wrapped publication payloads
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Bound encoded content validation
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Extend encoded publication checks
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[compiler-v2] restrict auto-inlining to same module (#20558)
  aptos-move/framework/cached-packages/src/head.mrb
  crates/aptos/CHANGELOG.md
  third_party/move/move-compiler-v2/src/env_pipeline/inliner.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/tests/inlining-optimization/cross_module_not_inlined.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/cross_module_not_inlined.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_cross_module.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_cross_module.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_generic_cross_module.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_generic_cross_module.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_same_module.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/event_emit_same_module.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/module_lock_caller.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/module_lock_caller.move
  third_party/move/move-compiler-v2/tests/inlining-optimization/same_module_calls_other_package.exp
  third_party/move/move-compiler-v2/tests/inlining-optimization/same_module_calls_other_package.move
  third_party/move/move-compiler-v2/transactional-tests/tests/control_flow/abort_complex.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/closures/reentrancy.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/fv_as_keys.opt-extra.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/locked_caller_inlined_helper.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/locked_caller_inlined_helper.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/module_lock_wrapper.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/module_lock_wrapper.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/pure_helper_under_lock.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/pure_helper_under_lock.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/resource_lock_wrapper.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/resource_lock_wrapper.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/locked_caller_inlined_helper.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/locked_caller_inlined_helper.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/module_lock_wrapper.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/module_lock_wrapper.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/pure_helper_under_lock.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/pure_helper_under_lock.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/resource_lock_wrapper.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/resource_lock_wrapper.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/tests.rs
  third_party/move/move-model/src/model.rs
Due: rust-fmt

[prover] Inspect deflate-encoded publication content
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Canonicalize publication content variants
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

complete XIR
  aptos-move/cli/src/exchange/mod.rs
  third_party/move/lean/v0/move-model/MoveModel/Frontend/Decode.lean
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/src/options.rs
  third_party/move/move-compiler-v2/src/xir.rs
  third_party/move/move-compiler-v2/src/xir_export.rs
  third_party/move/move-compiler-v2/src/xir_hash.rs
  third_party/move/move-compiler-v2/tests/xir/signed.xir.json
  third_party/move/move-compiler-v2/tests/xir_hash_stability.rs
  third_party/move/move-model/exchange/src/check.rs
  third_party/move/move-model/exchange/src/lib.rs
  third_party/move/move-model/exchange/tests/sources/account.masm.exp
  third_party/move/move-model/exchange/tests/sources/acyclic_layout.masm.exp
  third_party/move/move-model/exchange/tests/sources/count_down.masm.exp
  third_party/move/move-model/exchange/tests/sources/count_down.move.exp
  third_party/move/move-model/exchange/tests/sources/count_down_spec.masm.exp
  third_party/move/move-model/exchange/tests/sources/enums.move.exp
  third_party/move/move-model/exchange/tests/sources/generics.move.exp
  third_party/move/move-model/exchange/tests/sources/quant.masm.exp
  third_party/move/move-model/exchange/tests/sources/quant.move.exp
  third_party/move/move-model/exchange/tests/sources/signed.move
  third_party/move/move-model/exchange/tests/sources/signed.move.exp
  third_party/move/move-model/exchange/tests/sources/spec_addr_literal.masm.exp
  third_party/move/move-model/exchange/tests/sources/spec_fields.masm.exp
  third_party/move/move-model/exchange/tests/sources/spec_identifier_shadowing.masm.exp
  third_party/move/move-model/exchange/tests/sources/strict_aborts.move.exp
  third_party/move/move-model/exchange/tests/sources/take.move.exp
  third_party/move/move-model/exchange/tests/sources/unreachable_cycle.masm.exp
  third_party/move/move-model/exchange/tests/sources/unsupported.masm.exp
  third_party/move/move-model/exchange/tests/sources/vectors.move.exp
  third_party/move/move-model/src/builder/xir_loader.rs
  third_party/move/move-prover/src/lib.rs
Due: rust-fmt

modular compilation through XIR
  Cargo.lock
  aptos-move/cli/src/commands.rs
  aptos-move/cli/src/move_types.rs
  aptos-move/e2e-move-test-harness/Cargo.toml
  aptos-move/e2e-move-test-harness/src/lib.rs
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/tests/xir_interface_export_tests.rs
  third_party/move/move-compiler-v2/src/xir_export.rs
  third_party/move/move-compiler-v2/src/xir_hash.rs
  third_party/move/move-compiler-v2/src/xir_interface_generator.rs
  third_party/move/move-compiler-v2/tests/xir_differential.rs
  third_party/move/move-model/exchange/src/lib.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-model/src/sourcifier.rs
  third_party/move/tools/move-package/Cargo.toml
  third_party/move/tools/move-package/src/compilation/build_plan.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
  third_party/move/tools/move-package/src/compilation/package_layout.rs
  third_party/move/tools/move-package/src/lib.rs
  third_party/move/tools/move-package/src/package_lock.rs
  third_party/move/tools/move-package/tests/test_interface_artifacts.rs
  third_party/move/tools/move-package/tests/test_modular_compilation.rs
  third_party/move/tools/move-package/tests/test_sources/compilation/basic_no_deps/Move.exp
  third_party/move/tools/move-package/tests/test_sources/compilation/basic_no_deps_address_assigned/Move.exp
  third_party/move/tools/move-package/tests/test_sources/compilation/basic_no_deps_address_not_assigned_with_dev_assignment/Move.exp
  third_party/move/tools/move-package/tests/test_sources/compilation/basic_no_deps_test_mode/Move.exp
  third_party/move/tools/move-package/tests/test_sources/compilation/multiple_deps/Move.exp
  third_party/move/tools/move-package/tests/test_sources/compilation/one_dep_assigned_address/Move.exp
  third_party/move/tools/move-package/tests/test_sources/compilation/test_symlinks/Move.exp
  third_party/move/tools/move-package/tests/test_sources/parsing/invalid_identifier_package_name/Move.exp
  third_party/move/tools/move-package/tests/test_sources/parsing/minimal_manifest/Move.exp
  third_party/move/tools/move-package/tests/test_sources/resolution/basic_no_deps/Move.exp
  third_party/move/tools/move-package/tests/test_sources/resolution/basic_no_deps_address_assigned/Move.exp
  third_party/move/tools/move-package/tests/test_sources/resolution/basic_no_deps_address_not_assigned_with_dev_assignment/Move.exp
  third_party/move/tools/move-package/tests/test_sources/resolution/dep_good_digest/Move.exp
  third_party/move/tools/move-package/tests/test_sources/resolution/one_dep_assigned_address/Move.exp
  third_party/move/tools/move-unit-test/src/package_test.rs
Due: rust-fmt

[xir] Fix stale format version in the XIR decoder's Module wrapper
  third_party/move/lean/v0/move-model/MoveModel/Frontend/XIR/Json.lean
Due: none

[xir] Accept XIR wrapper version 6 in the Lean decoder
  aptos-move/cli/src/tests/exchange.rs
  third_party/move/move-compiler-v2/src/xir.rs
Due: rust-fmt

[xir] Put friend declarations at the top level, matching the Lean producer
  Cargo.lock
  aptos-move/cli/src/exchange/mod.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/tests/xir_extended_checks_tests.rs
  aptos-move/framework/tests/xir_interface_export_tests.rs
  third_party/move/lean/v0/move-model/MoveModel/Frontend/XIR/Json.lean
  third_party/move/lean/v0/move-model/MoveModel/IR/Module.lean
  third_party/move/lean/v0/move-model/MoveModel/Tests/IR/Mono.lean
  third_party/move/lean/v0/move-model/MoveModel/Tests/XIR.lean
  third_party/move/lean/v0/move/Move/Attributes.lean
  third_party/move/lean/v0/move/Move/Compiler/Export.lean
  third_party/move/lean/v0/move/Move/Compiler/LIR.lean
  third_party/move/lean/v0/move/Move/Compiler/Normalize.lean
  third_party/move/lean/v0/move/Move/Tests/Compiler/Fixtures/Account.xir.json
  third_party/move/lean/v0/move/Move/Tests/Language/Attributes.lean
  third_party/move/move-compiler-v2/Cargo.toml
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/src/xir.rs
  third_party/move/move-compiler-v2/src/xir_export.rs
  third_party/move/move-compiler-v2/src/xir_hash.rs
  third_party/move/move-compiler-v2/src/xir_interface_generator.rs
  third_party/move/move-compiler-v2/tests/xir_differential.rs
  third_party/move/move-compiler-v2/tests/xir_hash_stability.rs
  third_party/move/move-model/exchange/src/lib.rs
  third_party/move/move-model/src/builder/binary_module_loader.rs
  third_party/move/move-model/src/builder/xir_loader.rs
  third_party/move/move-model/src/model.rs
Due: rust-fmt

[prover] Preserve encoded publication byte streams
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Reconstruct delimited publication payloads
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Decode standard publication text encodings
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Validate aggregate publication content
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Normalize wrapped publication encodings
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Reconstruct delimited base encodings
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Validate encoded result sidecars
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Preserve trailing encoding fragments
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Complete aggregate content validation
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Extend publication normalization
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Complete encoded payload scanning
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Filter zlib header probes
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Scan embedded binary payloads
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Bound encoded stream discovery
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Reassemble adjacent encoded streams
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Scan leading encoded fragments
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[cli] Add propose-bundle and execute-bundle
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-governance-bundle/Cargo.toml
  aptos-move/aptos-governance-bundle/src/lib.rs
  aptos-move/aptos-governance-bundle/src/verify.rs
  aptos-move/aptos-release-tool/Cargo.toml
  aptos-move/aptos-release-tool/README.md
  aptos-move/aptos-release-tool/src/commands/deploy.rs
  aptos-move/aptos-release-tool/src/commands/generate.rs
  aptos-move/aptos-release-tool/src/commands/mod.rs
  aptos-move/aptos-release-tool/src/commands/simulate.rs
  aptos-move/aptos-release-tool/src/commands/verify_bundle.rs
  aptos-move/aptos-release-tool/src/commands/verify_framework_deployment.rs
  aptos-move/aptos-release-tool/src/lib.rs
  aptos-move/aptos-release-tool/src/summary.rs
  aptos-move/aptos-release-tool/tests/e2e.rs
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
  crates/aptos/src/governance/bundle.rs
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/aptos_cli/governance_bundle.rs
  testsuite/smoke-test/src/aptos_cli/mod.rs
Due: rust-fmt, rust-cargo-sort

[ci] Schedule biweekly three-week framework usage reports (#20587)
  .github/workflows/framework-usage-mainnet.yaml
  .github/workflows/workflow-run-replay-verify-on-archive.yaml
  aptos-move/framework/FRAMEWORK-USAGE-COVERAGE-DESIGN.md
Due: prettier-fmt

[prover] Bound recursive archive scanning
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Scan aligned Unicode payloads
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

remove unused experiments related to inlining and other code simplifications
  aptos-move/aptos-release-builder/src/components/framework.rs
  aptos-move/framework/src/aptos.rs
  third_party/move/move-compiler-v2/src/env_pipeline/closure_checker.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inliner.rs
  third_party/move/move-compiler-v2/src/env_pipeline/inlining_optimization.rs
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/unlocked_caller_locked_helper.decompiled
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/round-trip/unlocked_caller_locked_helper.decompiled.baseline.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/unlocked_caller_locked_helper.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/inlining_optimization/unlocked_caller_locked_helper.move
  third_party/move/move-model/src/model.rs
Due: rust-fmt

[prover] Complete fragmented content validation
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/results/etna-v3/corpus3.2-run9-codex-terra56-posthoc-disqualification.json
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

[prover] Complete publication metadata checks
  aptos-move/flow/evaluation/spec-inference/harness/publication.py
  aptos-move/flow/evaluation/spec-inference/tests/test_publication.py
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
