Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Fix typo in token_client.ts
  ecosystem/typescript/sdk/src/token_client.ts
Due: prettier-fmt

[mempool] only print first 10 txns of debug logs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/logging.rs
Due: rust-fmt

[Forge] Add network partition test
  .github/workflows/continuous-e2e-network-partition-test.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/chaos/network_partition.yaml
  testsuite/testcases/src/network_partition_test.rs
Due: rust-fmt, prettier-fmt

Update bootstrap-fullnode.md
  developer-docs-site/docs/nodes/full-node/bootstrap-fullnode.md
Due: none

[docker] update restore docker compose (#3876)
  docker/compose/data-restore/docker-compose.yaml
  docker/compose/data-restore/gcs.yaml
  docker/compose/data-restore/s3.yaml
Due: prettier-fmt

cicd: fix coverage job config
  .github/workflows/coverage.yaml
Due: prettier-fmt

[forge] Add continuous progress check to SuccessCriteria
  Cargo.lock
  testsuite/forge-cli/src/main.rs
  testsuite/forge/Cargo.toml
  testsuite/forge/src/interface/mod.rs
  testsuite/forge/src/interface/network.rs
  testsuite/forge/src/runner.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/tests/forge-local-performance.rs
  types/src/account_config/events/new_block.rs
Due: rust-fmt

[aptos-cli] Add ability to use rotated key accounts
  crates/aptos/src/account/key_rotation.rs
  crates/aptos/src/common/types.rs
Due: rust-fmt

[aptos-cli] Add rotation testing to Aptos CLI framework
  crates/aptos/src/common/types.rs
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/src/aptos_cli/account.rs
Due: rust-fmt

[aptos-cli] Add missing commands to arg checker
  crates/aptos/src/test/tests.rs
Due: rust-fmt

[aptos-cli] Fix Address lookup command and testing
  crates/aptos-rest-client/src/lib.rs
  crates/aptos/src/account/key_rotation.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/src/aptos_cli/account.rs
Due: rust-fmt

made getResourceAccountAddress function as static and made seeds Uint8Array along with not using buffers
  ecosystem/typescript/sdk/src/aptos_account.test.ts
  ecosystem/typescript/sdk/src/aptos_account.ts
Due: prettier-fmt

[Network] Small readability fixes to memsocket.
  network/memsocket/src/lib.rs
Due: rust-fmt

[Consensus] Tune max block size from 6k -> 3.5k
  config/src/config/consensus_config.rs
Due: rust-fmt

[aptos-rosetta] Use coin cache for all interactions
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/block.rs
  crates/aptos-rosetta/src/error.rs
  crates/aptos-rosetta/src/lib.rs
  crates/aptos-rosetta/src/types/objects.rs
Due: rust-fmt

[forge] Set random-seed parameter for key generation
  terraform/helm/genesis/files/genesis.sh
  terraform/helm/genesis/templates/genesis.yaml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/constants.rs
Due: rust-fmt, prettier-fmt

fixup! fixup! fixup! [aptos-cli] Add a command to generate writeset for fire events
  execution/db-bootstrapper/src/bin/db-bootstrapper.rs
  testsuite/smoke-test/src/genesis.rs
Due: rust-fmt

[aptos-rosetta] Only allow whitelisted Coins
  Cargo.lock
  crates/aptos-rosetta/Cargo.toml
  crates/aptos-rosetta/src/account.rs
Due: rust-fmt

[txn-emitter] Log and retry improvements (#4143)
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/nft_mint.rs
  crates/transaction-emitter/src/diag.rs
Due: rust-fmt

[Consensus] Tune max block size from 6k -> 3.5k (#4151)
  config/src/config/consensus_config.rs
Due: rust-fmt

[consensus] skip adding existing QC
  consensus/src/block_storage/sync_manager.rs
Due: rust-fmt

[consensus] defensive on consensusdb garbage collection
  consensus/src/persistent_liveness_storage.rs
Due: rust-fmt

enable overflow-checks for performance build
  Cargo.toml
Due: rust-cargo-sort

[consensus] add a counter for number of blocks in pipeline
  aptos-move/framework/cached-packages/src/aptos_token_sdk_builder.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/counters.rs
  consensus/src/experimental/buffer_manager.rs
Due: rust-fmt

[Consensus] Add tracing for proposal receiving
  aptos-move/framework/cached-packages/src/aptos_token_sdk_builder.rs
  consensus/src/block_storage/tracing.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
Due: rust-fmt

Update hardware requirements.
  developer-docs-site/docs/nodes/ait/node-requirements.md
Due: none

[Consensus] Add tracing for proposal receiving
  consensus/src/block_storage/tracing.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/round_manager.rs
Due: rust-fmt

[storage] trivial: remove get_block_boundaries
  storage/aptosdb/src/transaction_store/mod.rs
Due: rust-fmt

[Docs] Editorial pass.
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
  developer-docs-site/package.json
  developer-docs-site/yarn.lock
Due: none

[aptos-rosetta] Fix tests, remove panic points
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

Adding testsuite/dos tools for testing DOS attacks
  Cargo.lock
  Cargo.toml
  testsuite/dos/README
  testsuite/dos/listner/Cargo.toml
  testsuite/dos/listner/src/main.rs
  testsuite/dos/sender/Cargo.toml
  testsuite/dos/sender/src/main.rs
Due: rust-fmt, rust-cargo-sort

[haproxy] Adding a new HAProxy for better DDoS Protection
  terraform/helm/aptos-node/files/haproxy.cfg
  terraform/helm/aptos-node/values.yaml
Due: prettier-fmt
