Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Update staking-pool-operations.md
  developer-docs-site/docs/nodes/validator-node/operator/staking-pool-operations.md
Due: none

[indexer-docs] Add local development guide for the transcation stream service
  developer-docs-site/docs/indexer/txn-stream/local-development.md
Due: none

[indexer-docs] Improve top level landing page
  developer-docs-site/docs/indexer/api/example-queries.md
  developer-docs-site/docs/indexer/api/usage-guide.md
  developer-docs-site/docs/indexer/indexer-landing.md
  developer-docs-site/scripts/additional_dict.txt
Due: none

[Python SDK] Make from_str strict, add from_str_relaxed
  ecosystem/python/sdk/CHANGELOG.md
  ecosystem/python/sdk/aptos_sdk/account_address.py
Due: none

[Python SDK] Make from_str strict, add from_str_relaxed (#9642)
  ecosystem/python/sdk/CHANGELOG.md
  ecosystem/python/sdk/aptos_sdk/account_address.py
Due: none

veiled coin compiles now
  aptos-move/move-examples/veiled_coin/sources/veiled_coin.move
Due: none

Refer to aptos-indexer-processor submodule by https
  .gitmodules
Due: none

fewer compiler errors
  aptos-move/move-examples/drand/sources/lottery.move
  aptos-move/move-examples/drand/sources/lottery_test.move
  aptos-move/move-examples/veiled_coin/sources/veiled_coin.move
Due: none

debug
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/framework/aptos-framework/sources/dkg.move
  consensus/src/dkg/dkg_manager.rs
  consensus/src/epoch_manager.rs
  consensus/src/state_computer.rs
  types/src/dkg.rs
Due: rust-fmt

debug
  aptos-move/framework/aptos-framework/doc/dkg.md
Due: none

[Dev Docs] Update node running instructions to mention testnet requirement.
  developer-docs-site/docs/nodes/full-node/fullnode-source-code-or-docker.md
Due: none

removed lottery winner
  aptos-move/move-examples/drand/sources/lottery.move
  aptos-move/move-examples/drand/sources/lottery_test.move
Due: none

Revert "Revert "swich to gcp""
  .github/workflows/module-verify.yaml
  .github/workflows/replay-verify.yaml
  .github/workflows/workflow-run-module-verify.yaml
  .github/workflows/workflow-run-replay-verify.yaml
  developer-docs-site/docs/nodes/full-node/aptos-db-restore.md
  testsuite/module_verify_run_local.py
  testsuite/replay_verify.py
  testsuite/replay_verify_run_local.py
Due: prettier-fmt

added comments
  aptos-move/move-examples/drand/sources/lottery.move
  aptos-move/move-examples/veiled_coin/sources/veiled_coin.move
Due: none

hack finalizer
  experimental/execution/ptx-executor/src/finalizer.rs
Due: rust-fmt

hashbrown
  experimental/execution/ptx-executor/src/common.rs
Due: rust-fmt

Add string_concat method
  aptos-move/framework/src/natives/aggregator_natives/aggregator_snapshot.rs
Due: rust-fmt

[CLI] update cli script to have user use brew install if its macOS (#9648)
  developer-docs-site/docs/tools/aptos-cli/install-cli/index.md
  developer-docs-site/static/scripts/install_cli.py
Due: none

debug
  consensus/src/dkg/dkg_manager.rs
  consensus/src/dkg/dkg_rounding.rs
  execution/executor-types/src/parsed_transaction_output.rs
Due: rust-fmt

update the metrics fields.
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
Due: rust-fmt

bug fix
  ecosystem/indexer-grpc/indexer-grpc-server-framework/src/lib.rs
  ecosystem/nft-metadata-crawler-parser/src/models/nft_metadata_crawler_uris_query.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Due: rust-fmt

lint
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Due: rust-fmt

api
  api/src/context.rs
  consensus/src/consensusdb/mod.rs
  storage/aptosdb/src/db_debugger/checkpoint/mod.rs
  storage/aptosdb/src/db_debugger/common/mod.rs
  storage/aptosdb/src/db_debugger/examine/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/ledger/check_range_proof.rs
  storage/aptosdb/src/db_debugger/ledger/check_txn_info_hashes.rs
  storage/aptosdb/src/db_debugger/ledger/mod.rs
  storage/aptosdb/src/db_debugger/state_tree/get_path.rs
  storage/aptosdb/src/db_debugger/state_tree/get_snapshots.rs
  storage/aptosdb/src/db_debugger/state_tree/mod.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/state_restore/restore_test.rs
  storage/schemadb/tests/db.rs
  storage/storage-interface/src/errors.rs
Due: rust-fmt

comments
  ecosystem/nft-metadata-crawler-parser/src/models/nft_metadata_crawler_uris_query.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Due: rust-fmt

[NFT Metadata Crawler] Fix PubSub ACKing bugs and add logs (#9771)
  ecosystem/indexer-grpc/indexer-grpc-server-framework/src/lib.rs
  ecosystem/nft-metadata-crawler-parser/src/models/nft_metadata_crawler_uris_query.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Due: rust-fmt

add repro script
  testsuite/fuzzer/repro.sh
Due: none

add ser/de to CompiledModule focused fuzzers
  testsuite/fuzzer/fuzz/fuzz_targets/move/bytecode_verifier_code_unit.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/bytecode_verifier_mixed.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils.rs
  testsuite/fuzzer/repro.sh
Due: rust-fmt

lalala
  consensus/src/epoch_manager.rs
Due: rust-fmt

[State Sync] Add fast sync support to genesis.
  Cargo.lock
  config/src/config/state_sync_config.rs
  state-sync/state-sync-v2/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/bootstrapper.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/state_sync.rs
Due: rust-fmt

local debug
  .github/workflows/replay-verify.yaml
  testsuite/replay_verify.py
Due: prettier-fmt

debug (#117)
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/sources/stake.move
  consensus/src/dkg/dkg_manager.rs
  consensus/src/epoch_manager.rs
  types/src/dkg.rs
Due: rust-fmt

Add unit tests
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/framework/aptos-framework/sources/aggregator_v2/aggregator_v2.move
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/mod.rs
  aptos-move/framework/src/natives/mod.rs
Due: rust-fmt

Remove print statement
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
Due: rust-fmt

balanced replay-verify
  .github/workflows/workflow-run-replay-verify.yaml
  testsuite/replay_verify.py
Due: prettier-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
