Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Update unit-testing.md
  developer-docs-site/docs/move/book/unit-testing.md
Due: none

TEST: direct off, rpc on
  config/src/config/benchmark.rs
  config/src/config/test_data/validator.yaml
Due: rust-fmt, prettier-fmt

edits
  crates/aptos-crypto/src/p256/mod.rs
  crates/aptos-crypto/src/unit_tests/p256_test.rs
Due: rust-fmt

Revert "remove usage of us-west1-registry from aptos-core (#9509)"
  .github/actions/docker-setup/action.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/workflow-run-docker-rust-build.yaml
  docker/builder/docker-bake-rust-all.hcl
  docker/release-images.mjs
  testsuite/forge.py
Due: prettier-fmt

Revert "Revert "remove usage of us-west1-registry from aptos-core (#9509)""
  .github/actions/docker-setup/action.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/workflow-run-docker-rust-build.yaml
  docker/builder/docker-bake-rust-all.hcl
  docker/release-images.mjs
  testsuite/forge.py
Due: prettier-fmt

Revert "Revert "remove usage of us-west1-registry from aptos-core (#9509)"" (#9571)
  .github/actions/docker-setup/action.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/workflow-run-docker-rust-build.yaml
  docker/builder/docker-bake-rust-all.hcl
  docker/release-images.mjs
  testsuite/forge.py
Due: prettier-fmt

update
  aptos-move/aptos-vm/src/sharded_block_executor/local_executor_shard.rs
  execution/block-partitioner/src/sharded_block_partitioner/mod.rs
Due: rust-fmt

internal indexer: parse tables in resource groups
  storage/indexer/src/lib.rs
Due: rust-fmt

Still fixing test cases
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
Due: rust-fmt

[testsuite][pangu][pte] Another hotfix.
  testsuite/pangu_lib/testnet_commands/transaction_emitter.py
Due: none

[testsuite][pangu][pte] Hotfix for Forge compatibility.
  testsuite/pangu_lib/testnet_commands/transaction_emitter.py
Due: none

Update testsuite/test_framework/kubernetes.py
  testsuite/test_framework/kubernetes.py
Due: none

[testsuite][pangu][pte] Finished the transaction emitter comand.
  testsuite/pangu_lib/testnet_commands/commands.py
  testsuite/pangu_lib/testnet_commands/transaction_emitter.py
  testsuite/pangu_lib/util.py
  testsuite/test_framework/kubernetes.py
Due: none

[testsuite][pangu][pte] Initial work for the transaction emitter.
  testsuite/pangu.py
  testsuite/pangu_lib/testnet_commands/commands.py
  testsuite/pangu_lib/testnet_commands/transaction_emitter.py
  testsuite/test_framework/kubernetes.py
Due: none

[testsuite][pangu][pte] Addressed Balaji's comments.
  testsuite/pangu_lib/testnet_commands/transaction_emitter.py
  testsuite/test_framework/kubernetes.py
Due: none

[testsuite][pangu][pte] Added support for dry runs, and fixed a bug in get testnet
  testsuite/pangu_lib/testnet_commands/commands.py
  testsuite/pangu_lib/testnet_commands/get_testnet.py
  testsuite/pangu_lib/testnet_commands/transaction_emitter.py
  testsuite/pangu_lib/util.py
Due: none

[testsuite][pangu][pte] Minor changes.
  testsuite/pangu_lib/testnet_commands/transaction_emitter.py
Due: none

tests pass
  crates/aptos-crypto/src/p256/p256_sigs.rs
  crates/aptos-crypto/src/unit_tests/p256_test.rs
Due: rust-fmt

Revert "remove usage of us-west1-registry from aptos-core (#9509)" (#9578)
  .github/actions/docker-setup/action.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/workflow-run-docker-rust-build.yaml
  docker/builder/docker-bake-rust-all.hcl
  docker/release-images.mjs
  testsuite/forge.py
Due: prettier-fmt

[aggregator_v2][move] Rename to max_value and make Aggregator template too (#9532)
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/sources/aggregator_v2/aggregator_v2.move
Due: none

[aggregator] New resolver and ID for aggregator (#8941)
  Cargo.lock
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/lib.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/resolver.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers.rs
Due: rust-fmt

Create aggregator_v2 branch
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/sources/aggregator_v2/aggregator_v2.move
Due: none

[aggregator_v2] add utility add()/sub() methods (#9370)
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/sources/aggregator_v2/aggregator_v2.move
Due: rust-fmt

join validator set e2e
  crates/aptos/e2e/cases/node.py
  crates/aptos/e2e/cases/stake.py
  crates/aptos/e2e/main.py
Due: none

add profiling crate with cpu and memory profiling
  Cargo.lock
  Cargo.toml
  crates/aptos-profiler/Cargo.toml
  crates/aptos-profiler/src/cpu_profiler.rs
  crates/aptos-profiler/src/jeprof.py
  crates/aptos-profiler/src/lib.rs
  crates/aptos-profiler/src/memory_profiler.rs
  crates/aptos-profiler/src/utils.rs
Due: rust-fmt, rust-cargo-sort

[storage] support sharding in fast_sync
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor/tests/storage_integration_test.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/ledger_db.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/schema/db_metadata/mod.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_restore/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/db-tool/src/tests.rs
  storage/jellyfish-merkle/src/restore/mod.rs
Due: rust-fmt

[DONOTLAND] No-op change for testing.
  state-sync/inter-component/consensus-notifications/src/lib.rs
Due: rust-fmt

remove unnecessary dependency
  crates/aptos-profiler/src/lib.rs
Due: rust-fmt

v2 cmdline args for executor bench
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-vm/src/sharded_block_executor/test_utils.rs
  aptos-move/aptos-vm/src/sharded_block_executor/tests.rs
  execution/block-partitioner/src/lib.rs
  execution/block-partitioner/src/main.rs
  execution/block-partitioner/src/v2/config.rs
  execution/block-partitioner/src/v2/mod.rs
  execution/executor-benchmark/src/block_partitioning.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/main.rs
  execution/executor-benchmark/src/pipeline.rs
  execution/executor-service/src/test_utils.rs
Due: rust-fmt

misc
  execution/block-partitioner/src/lib.rs
  execution/block-partitioner/src/main.rs
  execution/block-partitioner/src/test_utils.rs
  execution/block-partitioner/src/v2/mod.rs
Due: rust-fmt

edits
  crates/aptos-crypto/src/p256/mod.rs
  crates/aptos-crypto/src/p256/p256_sigs.rs
  crates/aptos-crypto/src/unit_tests/p256_test.rs
Due: rust-fmt

fix lint errors
  crates/aptos-profiler/src/cpu_profiler.rs
  crates/aptos-profiler/src/memory_profiler.rs
Due: rust-fmt

update tests
  execution/block-partitioner/src/v2/mod.rs
Due: rust-fmt

clean up
  execution/block-partitioner/src/main.rs
Due: rust-fmt
