Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[types] Wrap DigestKey in Arc inside SecretShareConfig
  types/src/secret_sharing.rs
Due: rust-fmt

[consensus] Improve decryption pipeline performance and correctness
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

[consensus] Resolve rounds without encrypted txns in secret share manager
  consensus/src/rand/secret_sharing/block_queue.rs
  consensus/src/rand/secret_sharing/secret_share_manager.rs
Due: rust-fmt

[consensus] Mark batch-limit-exceeded encrypted txns for retry
  aptos-move/aptos-vm/src/aptos_vm.rs
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

[consensus] Refactor failed decryption handling with helper functions
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

[types] Add DecryptionFailureReason variants and simplify API
  types/src/transaction/encrypted_payload.rs
Due: rust-fmt

[consensus] Add counters for decryption pipeline transaction categories
  consensus/src/counters.rs
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

[consensus] Split prepare_ct from decrypt to overlap with key wait
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

[consensus] Retain TODO comment for round wrapping fix
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

[consensus] Add monitor! for expensive decryption pipeline operations
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

[vm] Add bounds check for ShrU64Imm shift amount
  third_party/move/mono-move/micro-ops/src/instruction.rs
  third_party/move/mono-move/programs/benches/bst.rs
  third_party/move/mono-move/programs/benches/merge_sort.rs
  third_party/move/mono-move/programs/tests/merge_sort.rs
  third_party/move/mono-move/runtime/src/heap.rs
  third_party/move/mono-move/runtime/src/interpreter.rs
  third_party/move/mono-move/runtime/src/lib.rs
  third_party/move/mono-move/runtime/src/types.rs
  third_party/move/mono-move/runtime/src/verifier.rs
  third_party/move/mono-move/runtime/tests/ref_test.rs
Due: rust-fmt

[consensus] Make mark_txn(s)_failed_decryption consume and return, fix ConfigUnavailable panic
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

[consensus] Partition encrypted/regular txns once at top of decrypt pipeline
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

fix: skip empty JWK observations when relayer reports no update (#56)
  crates/aptos-jwk-consensus/src/jwk_observer.rs
Due: rust-fmt

bug fix
  consensus/src/pipeline/pipeline_builder.rs
Due: rust-fmt

spawn digest computation
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

[consensus] Send None on derived_self_key_share_tx when decryption disabled
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

simplify eval proof spawn
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

fix test suite
  testsuite/forge-cli/src/suites/realistic_environment.rs
Due: rust-fmt

TB
  .cargo/config.toml
  Cargo.toml
  testsuite/forge/src/backend/local/cargo.rs
Due: rust-fmt, rust-cargo-sort

Address comments
  third_party/move/mono-move/global-context/src/alloc.rs
Due: rust-fmt

[mono-move] Interning for identifiers and ModuleIds
  Cargo.lock
  third_party/move/mono-move/global-context/Cargo.toml
  third_party/move/mono-move/global-context/src/alloc.rs
  third_party/move/mono-move/global-context/src/context.rs
  third_party/move/mono-move/global-context/src/context/executable_ids.rs
  third_party/move/mono-move/global-context/src/context/identifiers.rs
  third_party/move/mono-move/global-context/src/lib.rs
  third_party/move/mono-move/global-context/tests/context_tests.rs
  third_party/move/mono-move/global-context/tests/executable_id_tests.rs
  third_party/move/mono-move/global-context/tests/identifiers_tests.rs
Due: rust-fmt

Update move formatter version
  crates/aptos/CHANGELOG.md
  crates/aptos/src/update/movefmt.rs
Due: rust-fmt

test
  Cargo.lock
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  experimental/runtimes/Cargo.toml
  experimental/runtimes/src/cpu_topology.rs
  experimental/runtimes/src/exec_pool.rs
  experimental/runtimes/src/lib.rs
  storage/scratchpad/Cargo.toml
  storage/scratchpad/src/sparse_merkle/updater.rs
Due: rust-fmt

test
  .github/workflows/workflow-run-execution-performance.yaml
Due: prettier-fmt

[consensus] Fix observer path to accept failed-decryption txns without key
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

[consensus] Remove redundant QC re-verification after local formation
  consensus/prefix-consensus/src/protocol.rs
Due: rust-fmt

[consensus] Remove unused TaskError import
  consensus/src/pipeline/decryption_pipeline_builder.rs
Due: rust-fmt

[consensus] Fix rustfmt formatting in quorum store batch metrics
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/tracing.rs
Due: rust-fmt

[consensus] Fix formatting from rust_lint
  aptos-move/e2e-move-tests/src/tests/vm.rs
  consensus/src/rand/secret_sharing/secret_share_manager.rs
Due: rust-fmt

Deduplicate logic across smoke tests
  crates/aptos-batch-encryption/src/schemes/fptx.rs
  crates/aptos-batch-encryption/src/schemes/fptx_succinct.rs
  crates/aptos-batch-encryption/src/schemes/fptx_weighted.rs
  crates/aptos-batch-encryption/src/tests/fptx_smoke.rs
  crates/aptos-batch-encryption/src/tests/fptx_succinct_smoke.rs
  crates/aptos-batch-encryption/src/tests/mod.rs
  crates/aptos-batch-encryption/src/tests/smoke/fptx_smoke.rs
  crates/aptos-batch-encryption/src/tests/smoke/fptx_succinct_smoke.rs
  crates/aptos-batch-encryption/src/tests/smoke/fptx_weighted_smoke.rs
  crates/aptos-batch-encryption/src/tests/smoke/mod.rs
  crates/aptos-batch-encryption/src/traits.rs
Due: rust-fmt

[move2] Upgrade move stdlib
  aptos-move/framework/move-stdlib/sources/acl.move
  aptos-move/framework/move-stdlib/sources/bit_vector.move
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/move-stdlib/sources/configs/features.spec.move
  aptos-move/framework/move-stdlib/sources/error.move
  aptos-move/framework/move-stdlib/sources/fixed_point32.move
  aptos-move/framework/move-stdlib/sources/option.move
  aptos-move/framework/move-stdlib/sources/vector.move
  aptos-move/framework/move-stdlib/tests/mem_tests.move
Due: none

[move2] Fix lints in framework
  aptos-move/framework/aptos-framework/sources/account/account.move
  aptos-move/framework/aptos-framework/sources/account/account_abstraction.move
  aptos-move/framework/aptos-framework/sources/account/common_account_abstractions/solana_derivable_account.move
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/configs/jwk_consensus_config.move
  aptos-move/framework/aptos-framework/sources/configs/randomness_api_v0_config.move
  aptos-move/framework/aptos-framework/sources/configs/staking_config.move
  aptos-move/framework/aptos-framework/sources/configs/version.move
  aptos-move/framework/aptos-framework/sources/datastructures/ordered_map.move
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/jwks.move
  aptos-move/framework/aptos-framework/sources/keyless_account.move
  aptos-move/framework/aptos-framework/sources/multisig_account.move
  aptos-move/framework/aptos-framework/sources/object.move
  aptos-move/framework/aptos-framework/sources/permissioned_signer.move
  aptos-move/framework/aptos-framework/sources/randomness.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/reconfiguration_with_dkg.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/aptos-framework/sources/state_storage.move
  aptos-move/framework/aptos-framework/sources/storage_gas.move
  aptos-move/framework/aptos-framework/sources/transaction_context.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/aptos-framework/sources/vesting.move
Due: none

[move2] Convert aptos stdlib to move2
  aptos-move/framework/aptos-stdlib/sources/bcs_stream.move
  aptos-move/framework/aptos-stdlib/sources/capability.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/bls12381.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/bls12381_algebra.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/bn254_algebra.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/multi_ed25519.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255_elgamal.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/big_vector.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_table.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.spec.move
  aptos-move/framework/aptos-stdlib/sources/debug.move
  aptos-move/framework/aptos-stdlib/sources/fixed_point64.move
  aptos-move/framework/aptos-stdlib/sources/math128.move
  aptos-move/framework/aptos-stdlib/sources/math64.move
  aptos-move/framework/aptos-stdlib/sources/math_fixed.move
  aptos-move/framework/aptos-stdlib/sources/math_fixed64.move
  aptos-move/framework/aptos-stdlib/sources/pool_u64.move
  aptos-move/framework/aptos-stdlib/sources/pool_u64_unbound.move
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
  aptos-move/framework/aptos-stdlib/sources/simple_map.spec.move
  aptos-move/framework/aptos-stdlib/sources/string_utils.move
  aptos-move/framework/aptos-stdlib/sources/type_info.move
Due: none

[move2] Fix lints for aptos experimental
  aptos-move/framework/aptos-experimental/sources/test_function_values.move
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/price_time_index.move
Due: none

[move2] format aptos experimental
  aptos-move/framework/aptos-experimental/sources/confidential_asset/confidential_asset.move
  aptos-move/framework/aptos-experimental/sources/confidential_asset/confidential_balance.move
  aptos-move/framework/aptos-experimental/sources/confidential_asset/confidential_proof.move
  aptos-move/framework/aptos-experimental/sources/confidential_asset/ristretto255_twisted_elgamal.move
  aptos-move/framework/aptos-experimental/sources/test_function_values.move
  aptos-move/framework/aptos-experimental/sources/trading/market/dead_mans_switch_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_bulk_order.move
  aptos-move/framework/aptos-experimental/sources/trading/market/market_types.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_operations.move
  aptos-move/framework/aptos-experimental/sources/trading/market/order_placement.move
  aptos-move/framework/aptos-experimental/sources/trading/market/pre_cancellation_tracker.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_id_generation.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/price_time_index.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/event_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/clearinghouse_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/dead_mans_switch_operations_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/dead_mans_switch_tracker_test.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_bulk_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_mixed_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_single_order_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_test_utils.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/market_tests_common.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/market/pre_cancellation_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_types_tests.move
  aptos-move/framework/aptos-experimental/sources/veiled_coin/helpers.move
  aptos-move/framework/aptos-experimental/sources/veiled_coin/sigma_protos.move
  aptos-move/framework/aptos-experimental/sources/veiled_coin/veiled_coin.move
  aptos-move/framework/aptos-experimental/tests/confidential_asset/confidential_asset_tests.move
  aptos-move/framework/aptos-experimental/tests/confidential_asset/confidential_proof_tests.move
  aptos-move/framework/aptos-experimental/tests/veiled_coin/veiled_coin_tests.move
Due: none

[move2] fix lints for aptos token
  aptos-move/framework/aptos-token/doc/token.md
  aptos-move/framework/aptos-token/doc/token_transfers.md
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/aptos-token/sources/token.spec.move
  aptos-move/framework/aptos-token/sources/token_coin_swap.move
  aptos-move/framework/aptos-token/sources/token_transfers.move
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
