Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

test
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/hot_state_op_accumulator.rs
  aptos-move/block-executor/src/limit_processor.rs
  aptos-move/block-executor/src/task.rs
  crates/aptos-admin-service/Cargo.toml
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_delta.rs
  storage/storage-interface/src/state_store/state_summary.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/versioned_state_value.rs
  third_party/move/move-core/types/src/language_storage.rs
  types/src/access_path.rs
  types/src/state_store/hot_state.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_key/inner.rs
  types/src/state_store/state_slot.rs
  types/src/state_store/state_value.rs
  types/src/transaction/block_epilogue.rs
  types/src/transaction/mod.rs
  types/src/transaction/signature_verified_transaction.rs
  types/src/write_set.rs
Due: rust-fmt, rust-cargo-sort

use monothonic counter
  aptos-move/framework/aptos-experimental/doc/bulk_order_book.md
  aptos-move/framework/aptos-experimental/doc/market.md
  aptos-move/framework/aptos-experimental/doc/order_book.md
  aptos-move/framework/aptos-experimental/doc/order_book_types.md
  aptos-move/framework/aptos-experimental/doc/single_order_book.md
  aptos-move/framework/aptos-experimental/sources/trading/market/market.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/bulk_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/order_book_types.move
  aptos-move/framework/aptos-experimental/sources/trading/order_book/single_order_book.move
  aptos-move/framework/aptos-experimental/sources/trading/tests/order_book/bulk_order_book_tests.move
Due: none

Set jemalloc dependency in workspace
  Cargo.toml
  aptos-node/Cargo.toml
  crates/aptos-admin-service/Cargo.toml
  crates/aptos-debugger/Cargo.toml
  crates/aptos-profiler/Cargo.toml
  crates/aptos/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service-v2/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-checker/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-store-backfiller/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-store/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-in-memory-cache-benchmark/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-manager/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-v2-file-store-backfiller/Cargo.toml
  execution/block-partitioner/Cargo.toml
  execution/executor-benchmark/Cargo.toml
  experimental/storage/hexy/Cargo.toml
  experimental/storage/layered-map/Cargo.toml
  storage/scratchpad/Cargo.toml
  testsuite/forge-cli/Cargo.toml
Due: rust-cargo-sort

[simple] Optimize is_empty BigOrderedMap function
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
Due: none

[Keyless] Clean up pepper service client example.
  Cargo.lock
  keyless/pepper/README.md
  keyless/pepper/example-client-rust/Cargo.toml
  keyless/pepper/example-client-rust/src/lib.rs
  keyless/pepper/example-client-rust/src/main.rs
  keyless/pepper/example-client-rust/src/utils.rs
  keyless/pepper/scripts/start-pepper-client.sh
  keyless/pepper/scripts/start-pepper-service.sh
Due: rust-fmt

[Keyless] Add simple request handler tests to pepper service.
  keyless/pepper/service/src/tests/mod.rs
  keyless/pepper/service/src/tests/request_handler.rs
Due: rust-fmt

[Keyless] Add request handler to pepper service.
  Cargo.lock
  keyless/pepper/service/Cargo.toml
  keyless/pepper/service/src/about.rs
  keyless/pepper/service/src/lib.rs
  keyless/pepper/service/src/main.rs
  keyless/pepper/service/src/request_handler.rs
  keyless/pepper/service/src/unit_tests.rs
Due: rust-fmt

Set jemalloc dependencies in workspace
  Cargo.toml
  aptos-node/Cargo.toml
  crates/aptos-admin-service/Cargo.toml
  crates/aptos-debugger/Cargo.toml
  crates/aptos-profiler/Cargo.toml
  crates/aptos/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service-v2/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-checker/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-store-backfiller/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-store/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-in-memory-cache-benchmark/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-manager/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-v2-file-store-backfiller/Cargo.toml
  execution/block-partitioner/Cargo.toml
  execution/executor-benchmark/Cargo.toml
  experimental/storage/hexy/Cargo.toml
  experimental/storage/layered-map/Cargo.toml
  storage/scratchpad/Cargo.toml
  testsuite/forge-cli/Cargo.toml
Due: rust-cargo-sort

[gha] add retry to get-latest-docker-image-tag
  .github/actions/get-latest-docker-image-tag/action.yml
  .github/workflows/cli-e2e-tests.yaml
  .github/workflows/forge-stable.yaml
  .github/workflows/node-api-compatibility-tests.yaml
Due: prettier-fmt

[forge] bump deployer version
  testsuite/forge/src/backend/k8s_deployer/constants.rs
Due: rust-fmt

[gha] add retry to get-latest-docker-image-tag (#17445)
  .github/actions/get-latest-docker-image-tag/action.yml
  .github/workflows/cli-e2e-tests.yaml
  .github/workflows/forge-stable.yaml
  .github/workflows/node-api-compatibility-tests.yaml
Due: prettier-fmt

[simple] Optimize is_empty BigOrderedMap function (#17442)
  aptos-move/framework/aptos-framework/doc/big_ordered_map.md
  aptos-move/framework/aptos-framework/sources/datastructures/big_ordered_map.move
Due: none

te2
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

Update jemalloc crates to tikv-jemalloc
  Cargo.lock
  Cargo.toml
  crates/aptos-profiler/Cargo.toml
Due: rust-cargo-sort

refactor
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/optional_aggregator.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-stdlib/sources/table.move
  aptos-move/framework/move-stdlib/doc/option.md
  aptos-move/framework/move-stdlib/doc/vector.md
  aptos-move/framework/move-stdlib/sources/vector.move
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/types/src/value_serde.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  types/src/keyless/configuration.rs
  types/src/on_chain_config/randomness_api_v0_config.rs
Due: rust-fmt

[EXPERIMENT] Option as enum
  aptos-move/framework/aptos-framework/sources/account/account.spec.move
  aptos-move/framework/aptos-framework/sources/aggregator/optional_aggregator.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/voting.spec.move
  aptos-move/framework/aptos-stdlib/sources/table.move
  aptos-move/framework/move-stdlib/sources/mem.move
  aptos-move/framework/move-stdlib/sources/option.move
  aptos-move/framework/move-stdlib/sources/vector.move
  aptos-move/framework/move-stdlib/src/natives/bcs.rs
  aptos-move/framework/src/natives/code.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/types/src/value_serde.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  types/src/keyless/configuration.rs
  types/src/move_utils/as_move_value.rs
  types/src/on_chain_config/randomness_api_v0_config.rs
Due: rust-fmt

fix
  api/types/src/move_types.rs
  aptos-move/framework/aptos-stdlib/doc/string_utils.md
  aptos-move/framework/aptos-stdlib/sources/string_utils.move
  aptos-move/framework/move-stdlib/doc/option.md
  aptos-move/framework/move-stdlib/doc/vector.md
  aptos-move/framework/move-stdlib/sources/option.move
  aptos-move/framework/move-stdlib/sources/vector.move
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/framework/src/natives/string_utils.rs
  aptos-move/framework/src/natives/transaction_context.rs
  aptos-move/framework/tests/move_prover_tests.rs
  crates/transaction-workloads-lib/src/move_workloads.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils/vm.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/types/src/value_serde.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  types/src/keyless/configuration.rs
  types/src/move_utils/as_move_value.rs
  types/src/on_chain_config/randomness_api_v0_config.rs
Due: rust-fmt

te
  README.md
Due: none

[replay] Relaxed replay comparison
  .dockerignore
  Cargo.lock
  aptos-move/aptos-gas-meter/src/algebra.rs
  aptos-move/replay-benchmark/Cargo.toml
  aptos-move/replay-benchmark/src/commands/diff.rs
  aptos-move/replay-benchmark/src/diff.rs
  aptos-move/replay-benchmark/src/lib.rs
  docker/builder/tools.Dockerfile
  storage/db-tool/Cargo.toml
  storage/db-tool/src/lib.rs
  storage/db-tool/src/replay_on_archive.rs
  storage/db-tool/src/replay_verify_comparison.rs
  testsuite/replay-verify/main.py
  testsuite/replay-verify/replay_verification_config.json
  types/src/transaction/diff.rs
  types/src/transaction/diff_filter.rs
  types/src/transaction/mod.rs
Due: rust-fmt

te
  README.md
  types/src/lib.rs
Due: rust-fmt

te
  README.md
  crates/aptos/src/lib.rs
  crates/aptos/src/main.rs
  types/src/lib.rs
Due: rust-fmt

te
  Cargo.lock
  README.md
  crates/aptos/src/lib.rs
  crates/aptos/src/main.rs
  types/src/lib.rs
Due: rust-fmt

Back out "Set jemalloc dependencies in workspace"
  Cargo.toml
  aptos-node/Cargo.toml
  crates/aptos-admin-service/Cargo.toml
  crates/aptos-debugger/Cargo.toml
  crates/aptos-profiler/Cargo.toml
  crates/aptos/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service-v2/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-data-service/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-checker/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-store-backfiller/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-file-store/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-in-memory-cache-benchmark/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-manager/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-v2-file-store-backfiller/Cargo.toml
  execution/block-partitioner/Cargo.toml
  execution/executor-benchmark/Cargo.toml
  experimental/storage/hexy/Cargo.toml
  experimental/storage/layered-map/Cargo.toml
  storage/scratchpad/Cargo.toml
  testsuite/forge-cli/Cargo.toml
Due: rust-cargo-sort

te before
  Cargo.lock
  crates/aptos/src/lib.rs
  crates/aptos/src/main.rs
  types/src/lib.rs
Due: rust-fmt

te after
  Cargo.lock
  crates/aptos/src/lib.rs
  crates/aptos/src/main.rs
  types/src/lib.rs
Due: rust-fmt

te
  .cargo/config.toml
  Cargo.lock
  crates/aptos/src/lib.rs
  crates/aptos/src/main.rs
  types/src/lib.rs
Due: rust-fmt

te
  .cargo/config.toml
  Cargo.lock
  crates/aptos/src/lib.rs
  crates/aptos/src/main.rs
  devtools/aptos-cargo-cli/src/lib.rs
  types/src/lib.rs
Due: rust-fmt

CI: build and test with --profile cli on Windows
  .github/workflows/windows-build.yaml
  devtools/aptos-cargo-cli/src/lib.rs
Due: rust-fmt, prettier-fmt

do not commit
  crates/aptos/src/main.rs
Due: rust-fmt

Add detectors and test-cases
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/nested_if.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/nested_if_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/nested_if_warn.move
Due: rust-fmt

Update third_party/move/tools/move-linter/src/model_ast_lints/nested_if.rs
  third_party/move/tools/move-linter/src/model_ast_lints/nested_if.rs
Due: rust-fmt

Change detector name to: collapsible_if
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/collapsible_if.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/collapsible_if.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/collapsible_if.move
  third_party/move/tools/move-linter/tests/model_ast_lints/nested_if_warn.exp
Due: rust-fmt

Fix test error and add requested one
  third_party/move/tools/move-linter/tests/model_ast_lints/collapsible_if.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/collapsible_if.move
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
