Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Remove ledger too new check
  execution/executor/tests/internal_indexer_test.rs
  storage/indexer/src/db_indexer.rs
Due: rust-fmt

cherrypick
  aptos-move/aptos-gas-schedule/src/ver.rs
  aptos-move/aptos-vm-types/src/environment.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  types/src/vm/configs.rs
Due: rust-fmt

Create add-apple-oidc.move (#13828)
  aptos-move/aptos-release-builder/data/add_apple_oidc.yaml
  aptos-move/aptos-release-builder/data/proposals/add_apple_oidc.move
Due: prettier-fmt

added versions for future releases
  aptos-move/aptos-gas-schedule/src/ver.rs
Due: rust-fmt

cherrypick (#13882)
  aptos-move/aptos-gas-schedule/src/ver.rs
  aptos-move/aptos-vm-types/src/environment.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  types/src/vm/configs.rs
Due: rust-fmt

[Consensus Observer] Add message verification to ordered blocks.
  config/src/config/consensus_observer_config.rs
  consensus/src/consensus_observer/observer.rs
  consensus/src/consensus_observer/pending_blocks.rs
Due: rust-fmt

[Consensus Observer] Enable CO on all node types.
  config/src/config/consensus_observer_config.rs
Due: rust-fmt

Fixing unit test
  consensus/src/payload_client/mixed.rs
Due: rust-fmt

test replay
  testsuite/replay_verify.py
Due: none

Ignoring duplicate transactions when calculating block size (#13709)
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/liveness/proposal_generator_test.rs
  consensus/src/payload_client/mixed.rs
  consensus/src/payload_client/mod.rs
  consensus/src/payload_client/user/mod.rs
  consensus/src/payload_client/user/quorum_store_client.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_payload_manager.rs
Due: rust-fmt

[indexer][testing] Create transaction generation part.
  Cargo.lock
  crates/aptos/src/account/fund.rs
  crates/aptos/src/move_tool/mod.rs
  ecosystem/indexer-grpc/indexer-transaction-generator/Cargo.toml
  ecosystem/indexer-grpc/indexer-transaction-generator/src/managed_node.rs
  ecosystem/indexer-grpc/indexer-transaction-generator/src/test_case.rs
  ecosystem/indexer-grpc/indexer-transaction-generator/src/transaction_generator.rs
Due: rust-fmt

add some docs
  ecosystem/nft-metadata-crawler-parser/src/config.rs
  ecosystem/nft-metadata-crawler-parser/src/lib.rs
Due: rust-fmt

Asset uploader
  Cargo.lock
  Cargo.toml
  ecosystem/nft-metadata-crawler-parser/Cargo.toml
  ecosystem/nft-metadata-crawler-parser/src/asset_uploader.rs
  ecosystem/nft-metadata-crawler-parser/src/config.rs
  ecosystem/nft-metadata-crawler-parser/src/lib.rs
  ecosystem/nft-metadata-crawler-parser/src/parser.rs
  ecosystem/nft-metadata-crawler-parser/src/utils/constants.rs
Due: rust-fmt, rust-cargo-sort

restructure configs
  ecosystem/nft-metadata-crawler-parser/src/asset_uploader.rs
  ecosystem/nft-metadata-crawler-parser/src/config.rs
  ecosystem/nft-metadata-crawler-parser/src/main.rs
  ecosystem/nft-metadata-crawler-parser/src/parser.rs
  ecosystem/nft-metadata-crawler-parser/src/worker.rs
Due: rust-fmt

update testnet ranges for replay-verify
  testsuite/replay_verify.py
Due: none

[xbuild] initial build support
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  devtools/xbuild/Cargo.toml
  devtools/xbuild/src/builder.rs
  devtools/xbuild/src/flags.rs
  devtools/xbuild/src/main.rs
Due: rust-fmt, rust-cargo-sort

wip
  .github/workflows/runson-build.yaml
Due: prettier-fmt

Addressing reviewer comments
  third_party/move/move-binary-format/src/check_bounds.rs
  third_party/move/move-bytecode-verifier/src/reference_safety/abstract_state.rs
  third_party/move/move-bytecode-verifier/src/reference_safety/mod.rs
  third_party/move/move-bytecode-verifier/src/type_safety.rs
  third_party/move/move-ir-compiler/move-ir-to-bytecode/src/compiler.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-vm/integration-tests/src/tests/instantiation_tests.rs
Due: rust-fmt

fix: aptos-telemetry.
  Cargo.toml
  crates/aptos-telemetry/src/cli_metrics.rs
  crates/aptos-telemetry/src/constants.rs
  crates/aptos-telemetry/src/core_metrics.rs
  crates/aptos-telemetry/src/lib.rs
  crates/aptos-telemetry/src/metrics.rs
  crates/aptos-telemetry/src/network_metrics.rs
  crates/aptos-telemetry/src/sender.rs
  crates/aptos-telemetry/src/service.rs
  crates/aptos-telemetry/src/system_information.rs
  crates/aptos-telemetry/src/telemetry_log_sender.rs
  crates/aptos-telemetry/src/utils.rs
Due: rust-fmt, rust-cargo-sort

fix: restoring aptos-admin-service.
  Cargo.toml
  crates/aptos-admin-service/src/lib.rs
Due: rust-fmt, rust-cargo-sort

fix: aptos-inspection-service.
  crates/aptos-inspection-service/src/inspection_client.rs
  crates/aptos-inspection-service/src/lib.rs
  crates/aptos-inspection-service/src/server/configuration.rs
  crates/aptos-inspection-service/src/server/index.rs
  crates/aptos-inspection-service/src/server/json_encoder.rs
  crates/aptos-inspection-service/src/server/metrics.rs
  crates/aptos-inspection-service/src/server/mod.rs
  crates/aptos-inspection-service/src/server/system_information.rs
  crates/aptos-inspection-service/src/server/tests.rs
  crates/aptos-inspection-service/src/server/utils.rs
Due: rust-fmt

unused alias error
  third_party/move/move-compiler-v2/tests/checking/typing/index_err.exp
  third_party/move/move-compiler-v2/tests/checking/typing/index_err.move
  third_party/move/move-compiler/src/expansion/translate.rs
Due: rust-fmt

add indexing operator
  third_party/move/move-command-line-common/src/address.rs
  third_party/move/move-compiler-v2/tests/checking/typing/index_err.exp
  third_party/move/move-compiler-v2/tests/checking/typing/index_err.move
  third_party/move/move-compiler-v2/tests/checking/typing/index_err_2.exp
  third_party/move/move-compiler-v2/tests/checking/typing/index_err_2.move
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/index.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/index.move
  third_party/move/move-compiler/src/expansion/translate.rs
  third_party/move/move-compiler/src/parser/ast.rs
  third_party/move/move-compiler/tests/move_check/parser/spec_parsing_index_fail.exp
  third_party/move/move-compiler/tests/move_check/v2-not-supported/index.exp
  third_party/move/move-compiler/tests/move_check/v2-not-supported/index.move
  third_party/move/move-prover/tests/sources/functional/resource_index.exp
  third_party/move/move-prover/tests/sources/functional/resource_index.move
Due: rust-fmt

fix package test
  third_party/move/move-compiler/src/expansion/translate.rs
  third_party/move/move-compiler/src/parser/ast.rs
Due: rust-fmt

temp
  third_party/move/move-command-line-common/src/address.rs
  third_party/move/move-compiler-v2/tests/ability-check/index_ability_err.exp
  third_party/move/move-compiler-v2/tests/ability-check/index_ability_err.move
  third_party/move/move-compiler-v2/tests/ability-check/index_ability_err_2.exp
  third_party/move/move-compiler-v2/tests/ability-check/index_ability_err_2.move
  third_party/move/move-compiler-v2/tests/checking-lang-v1/index.exp
  third_party/move/move-compiler-v2/tests/checking-lang-v1/index.move
  third_party/move/move-compiler-v2/tests/checking/typing/index_err.exp
  third_party/move/move-compiler-v2/tests/checking/typing/index_err.move
  third_party/move/move-compiler-v2/tests/checking/typing/index_err_2.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/index_acquires_err.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/index_acquires_err.move
  third_party/move/move-compiler-v2/tests/file-format-generator/index_acquires_err.opt.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/index.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-v1-comparison/index.move
  third_party/move/move-compiler/src/expansion/ast.rs
  third_party/move/move-compiler/src/expansion/translate.rs
  third_party/move/move-compiler/src/parser/ast.rs
  third_party/move/move-compiler/tests/move_check/parser/spec_parsing_index_fail.exp
  third_party/move/move-compiler/tests/move_check/v2-not-supported/index.exp
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/builder/exp_builder.rs
  third_party/move/move-prover/tests/sources/functional/resource_index.exp
  third_party/move/move-prover/tests/testsuite.rs
Due: rust-fmt

use is_at_least
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

address comments
  aptos-move/aptos-vm/src/aptos_vm.rs
Due: rust-fmt

fix: restore aptos-debugger.
  Cargo.toml
  aptos-move/aptos-debugger/example-txn.txt
  aptos-move/aptos-debugger/src/bin/remote-gas-profiler.rs
  aptos-move/aptos-debugger/src/lib.rs
Due: rust-fmt, rust-cargo-sort

[aptos-vm] Remove writeset txn generator (#13870)
  Cargo.lock
  Cargo.toml
  aptos-move/writeset-transaction-generator/Cargo.toml
  aptos-move/writeset-transaction-generator/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
Due: rust-fmt, rust-cargo-sort

fix: grpc cache workers.
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/README.md
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/main.rs
Due: rust-fmt

fix: indexer-grpc-file-store.
  ecosystem/indexer-grpc/indexer-grpc-file-store/README.md
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-file-store/src/main.rs
Due: rust-fmt

fix: indexer-grpc-integration-tests.
  ecosystem/indexer-grpc/indexer-grpc-integration-tests/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-integration-tests/src/tests/mod.rs
Due: rust-fmt

fix: aptos-debugger.
  Cargo.toml
Due: rust-cargo-sort

fix: aptos-forge.
  Cargo.toml
Due: rust-cargo-sort

fix: aptos-forge.
  testsuite/forge/src/backend/k8s/chaos/cpu_stress.yaml
  testsuite/forge/src/backend/k8s/chaos/network_bandwidth.yaml
  testsuite/forge/src/backend/k8s/chaos/network_delay.yaml
  testsuite/forge/src/backend/k8s/chaos/network_loss.yaml
  testsuite/forge/src/backend/k8s/chaos/network_partition.yaml
  testsuite/forge/src/backend/k8s/chaos_schema.rs
  testsuite/forge/src/backend/k8s/constants.rs
  testsuite/forge/src/backend/k8s/kube_api.rs
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/k8s/stateful_set.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/backend/mod.rs
  testsuite/forge/src/github.rs
  testsuite/forge/src/interface/chaos.rs
  testsuite/forge/src/interface/factory.rs
  testsuite/forge/src/interface/mod.rs
  testsuite/forge/src/interface/test.rs
  testsuite/forge/src/lib.rs
  testsuite/forge/src/slack.rs
  testsuite/forge/src/test_utils/mod.rs
Due: rust-fmt, prettier-fmt

lint
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

fix: aptos-release-builder.
  Cargo.toml
Due: rust-cargo-sort

fix: aptos-rosetta.
  Cargo.toml
  crates/aptos-rosetta-cli/Cargo.toml
  crates/aptos-rosetta-cli/README.md
  crates/aptos-rosetta-cli/src/account.rs
  crates/aptos-rosetta-cli/src/block.rs
  crates/aptos-rosetta-cli/src/common.rs
  crates/aptos-rosetta-cli/src/construction.rs
  crates/aptos-rosetta-cli/src/main.rs
  crates/aptos-rosetta-cli/src/network.rs
  crates/aptos-rosetta/README.md
  crates/aptos-rosetta/aptos.ros
  crates/aptos-rosetta/rosetta_cli.json
  crates/aptos-rosetta/src/block.rs
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/error.rs
  crates/aptos-rosetta/src/lib.rs
  crates/aptos-rosetta/src/main.rs
  crates/aptos-rosetta/src/network.rs
  crates/aptos-rosetta/src/types/identifiers.rs
  crates/aptos-rosetta/src/types/mod.rs
  crates/aptos-rosetta/src/types/move_types.rs
  crates/aptos-rosetta/src/types/requests.rs
Due: rust-fmt, rust-cargo-sort

Fix the remaining txns calcualtion in proof queue
  consensus/src/quorum_store/utils.rs
Due: rust-fmt
