Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[move-mutator] creating Options from command line arguments
  third_party/move/tools/move-mutator/src/lib.rs
Due: rust-fmt

[move-mutator] Move CLI integration
  third_party/move/tools/move-cli/Cargo.toml
  third_party/move/tools/move-cli/src/base/mod.rs
  third_party/move/tools/move-cli/src/base/mutate.rs
  third_party/move/tools/move-cli/src/lib.rs
  third_party/move/tools/move-mutator/src/lib.rs
Due: rust-fmt

[move-mutator] tests for PoC code added
  third_party/move/tools/move-mutator/tests/move-assets/simple/Move.toml
  third_party/move/tools/move-mutator/tests/move-assets/simple/sources/Negation.move
  third_party/move/tools/move-mutator/tests/move-assets/simple/sources/Operators.move
  third_party/move/tools/move-mutator/tests/move-assets/simple/sources/Sum.move
Due: none

[move-mutator] AST traversal with possible mutation candidates identification
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/lib.rs
  third_party/move/tools/move-mutator/src/mutant.rs
  third_party/move/tools/move-mutator/src/mutate.rs
  third_party/move/tools/move-mutator/src/operator.rs
Due: rust-fmt

[move-mutator] generating AST for source files
  third_party/move/tools/move-mutator/Cargo.toml
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/lib.rs
Due: rust-fmt

[move-mutator] Aptos CLI integration - move mutate subcommand
  crates/aptos/Cargo.toml
  crates/aptos/src/common/types.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

[move-mutator] applying mutations and saving generated mutants
  third_party/move/tools/move-mutator/README.md
  third_party/move/tools/move-mutator/src/lib.rs
  third_party/move/tools/move-mutator/src/mutant.rs
  third_party/move/tools/move-mutator/src/operator.rs
Due: rust-fmt

[move-mutator] receive build configuration during CLI execution
  crates/aptos/src/move_tool/mod.rs
  third_party/move/tools/move-cli/src/base/mutate.rs
  third_party/move/tools/move-mutator/Cargo.toml
  third_party/move/tools/move-mutator/src/cli.rs
  third_party/move/tools/move-mutator/src/lib.rs
Due: rust-fmt

[move-mutator] Code documentation updated.
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/mutant.rs
  third_party/move/tools/move-mutator/src/operator.rs
Due: rust-fmt

[move-mutator] readability corrections in doc and main code
  third_party/move/tools/move-mutator/README.md
  third_party/move/tools/move-mutator/src/lib.rs
Due: rust-fmt

[move-mutator] go deeper and search for exprs in all elements
  third_party/move/tools/move-mutator/src/mutate.rs
Due: rust-fmt

[move-mutator] CLI modules documentation added.
  crates/aptos/src/move_tool/mod.rs
  third_party/move/tools/move-cli/src/base/mutate.rs
Due: rust-fmt

[move-mutator] design documentation
  third_party/move/tools/move-mutator/doc/design.md
Due: none

[move-mutator] Design document update with grammar corrections
  third_party/move/tools/move-mutator/doc/design.md
Due: none

[move-mutator] additional tests for the PoC code
  third_party/move/tools/move-mutator/README.md
  third_party/move/tools/move-mutator/tests/move-assets/simple/sources/StillSimple.move
Due: none

[move-mutator] grammar correction in README.md
  third_party/move/tools/move-mutator/README.md
Due: none

[move-mutator] mutant verification
  third_party/move/tools/move-mutator/Cargo.toml
  third_party/move/tools/move-mutator/src/cli.rs
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/configuration.rs
  third_party/move/tools/move-mutator/src/lib.rs
Due: rust-fmt

[move-mutator] CLI integration
  crates/aptos/src/move_tool/mod.rs
  third_party/move/tools/move-cli/src/base/mutate.rs
  third_party/move/tools/move-mutator/Cargo.toml
  third_party/move/tools/move-mutator/README.md
  third_party/move/tools/move-mutator/src/cli.rs
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/configuration.rs
  third_party/move/tools/move-mutator/src/lib.rs
Due: rust-fmt

[move-mutator] Adjusting mutate.rs functions
  third_party/move/tools/move-mutator/src/mutate.rs
Due: rust-fmt

[move-mutator] Report generation
  third_party/move/tools/move-mutator/Cargo.toml
  third_party/move/tools/move-mutator/doc/design.md
  third_party/move/tools/move-mutator/src/lib.rs
  third_party/move/tools/move-mutator/src/mutant.rs
  third_party/move/tools/move-mutator/src/operator.rs
  third_party/move/tools/move-mutator/src/report.rs
Due: rust-fmt

[move-mutator] configuration file support
  third_party/move/tools/move-mutator/Cargo.toml
  third_party/move/tools/move-mutator/README.md
  third_party/move/tools/move-mutator/doc/design.md
  third_party/move/tools/move-mutator/src/cli.rs
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/configuration.rs
  third_party/move/tools/move-mutator/src/lib.rs
  third_party/move/tools/move-mutator/src/report.rs
Due: rust-fmt

[move-mutator] application skeleton
  third_party/move/tools/move-mutator/Cargo.toml
  third_party/move/tools/move-mutator/src/cli.rs
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/configuration.rs
  third_party/move/tools/move-mutator/src/lib.rs
  third_party/move/tools/move-mutator/src/mutant.rs
  third_party/move/tools/move-mutator/src/mutate.rs
  third_party/move/tools/move-mutator/src/operator.rs
  third_party/move/tools/move-mutator/src/report.rs
Due: rust-fmt

[move-mutator] remove mixing operators remarks from design doc
  third_party/move/tools/move-mutator/doc/design.md
Due: none

[move-mutator] change way of initializing logger
  third_party/move/tools/move-mutator/src/lib.rs
Due: rust-fmt

[move-mutator] formatting changes
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/report.rs
Due: rust-fmt

[move-mutator] update tempfile dependency
  third_party/move/tools/move-mutator/Cargo.toml
Due: none

[move-mutator] create output directory structure
  third_party/move/tools/move-mutator/src/cli.rs
  third_party/move/tools/move-mutator/src/lib.rs
  third_party/move/tools/move-mutator/src/output.rs
  third_party/move/tools/move-mutator/tests/move-assets/file_without_package/Sub.move
  third_party/move/tools/move-mutator/tests/move-assets/same_names/Move.toml
  third_party/move/tools/move-mutator/tests/move-assets/same_names/sources/Negation.move
  third_party/move/tools/move-mutator/tests/move-assets/same_names/sources/m1/Negation.move
  third_party/move/tools/move-mutator/tests/move-assets/same_names/sources/m1/m1_1/Negation.move
  third_party/move/tools/move-mutator/tests/move-assets/same_names/sources/m2/Negation.move
Due: rust-fmt

[move-mutator] use package path correctly and create proper Options
  third_party/move/tools/move-mutator/src/cli.rs
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/lib.rs
Due: rust-fmt

[move-mutator] clarify setup_mutant_path description
  third_party/move/tools/move-mutator/src/output.rs
Due: rust-fmt

[move-mutator] make mutator to be more re-usable with other Move tools
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/lib.rs
  third_party/move/tools/move-mutator/src/report.rs
  third_party/move/tools/move-mutator/tests/move-assets/poor_spec/Move.toml
  third_party/move/tools/move-mutator/tests/move-assets/poor_spec/sources/Sum.move
Due: rust-fmt

[move-spec-test] initial `spec-test` skeleton with Move CLI integration
  Cargo.toml
  third_party/move/tools/move-cli/Cargo.toml
  third_party/move/tools/move-cli/src/base/mod.rs
  third_party/move/tools/move-cli/src/base/spec_test.rs
  third_party/move/tools/move-cli/src/lib.rs
  third_party/move/tools/move-spec-test/Cargo.toml
  third_party/move/tools/move-spec-test/README.md
  third_party/move/tools/move-spec-test/src/cli.rs
  third_party/move/tools/move-spec-test/src/lib.rs
Due: rust-fmt, rust-cargo-sort

[move-spec-test] optimizations and code shortenings
  third_party/move/tools/move-spec-test/src/cli.rs
  third_party/move/tools/move-spec-test/src/lib.rs
  third_party/move/tools/move-spec-test/src/prover.rs
Due: rust-fmt

[move-spec-test] initial Move Prover calls
  third_party/move/tools/move-cli/src/base/spec_test.rs
  third_party/move/tools/move-spec-test/Cargo.toml
  third_party/move/tools/move-spec-test/src/cli.rs
  third_party/move/tools/move-spec-test/src/lib.rs
  third_party/move/tools/move-spec-test/src/prover.rs
Due: rust-fmt

[move-spec-test] `aptos` command integration
  crates/aptos/Cargo.toml
  crates/aptos/src/common/types.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

[move-spec-test] code cleanups and minor updates
  crates/aptos/src/move_tool/mod.rs
  third_party/move/tools/move-cli/src/base/mutate.rs
  third_party/move/tools/move-cli/src/base/spec_test.rs
  third_party/move/tools/move-mutator/src/cli.rs
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/configuration.rs
  third_party/move/tools/move-mutator/src/lib.rs
  third_party/move/tools/move-mutator/src/mutate.rs
  third_party/move/tools/move-mutator/src/output.rs
  third_party/move/tools/move-mutator/src/report.rs
  third_party/move/tools/move-spec-test/src/cli.rs
  third_party/move/tools/move-spec-test/src/lib.rs
  third_party/move/tools/move-spec-test/src/prover.rs
Due: rust-fmt

[move-mutator] fix tests to work properly when run with more than one thread
  third_party/move/tools/move-mutator/src/configuration.rs
  third_party/move/tools/move-mutator/src/output.rs
Due: rust-fmt

[move-mutator] adjustments and general optimizations
  third_party/move/tools/move-mutator/src/cli.rs
  third_party/move/tools/move-mutator/src/compiler.rs
  third_party/move/tools/move-mutator/src/lib.rs
  third_party/move/tools/move-mutator/src/output.rs
  third_party/move/tools/move-mutator/src/report.rs
  third_party/move/tools/move-mutator/tests/move-assets/poor_spec/sources/Sum.move
Due: rust-fmt

[move-mutator] use `enumerate` for mutants
  third_party/move/tools/move-mutator/src/lib.rs
Due: rust-fmt

[move-mutator] use parser::ast to shorten the code
  third_party/move/tools/move-mutator/src/mutate.rs
Due: rust-fmt

[move-spec-test] identify errors correctly
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt
