Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

add ingress support to fullnode helm chart
  terraform/helm/fullnode/templates/ingress.yaml
  terraform/helm/fullnode/values.yaml
Due: prettier-fmt

Do not allow empty validator in validator verifier
  storage/aptosdb/src/schema/ledger_info/test.rs
  types/src/proptest_types.rs
Due: rust-fmt

[storage] AptosDB::get_events() accepts ledger_version
  api/src/context.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/transaction-replay/src/lib.rs
  aptos-move/transaction-replay/src/unit_tests/mod.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/leader_reputation_test.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
Due: rust-fmt

Update redirect logic.
  ecosystem/platform/server/config/routes.rb
Due: none

[SDK][TS] Re-expose BCS and builder items from root of module
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/examples/typescript/bcs_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/multisig_transaction.ts
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/index.ts
Due: prettier-fmt

initial telemetry service with auth
  Cargo.lock
  Cargo.toml
  config/management/operational/src/lib.rs
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/authx.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/main.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt, rust-cargo-sort

Improvements - Clap CLI integration - Config file parser - Unit Test improvements - Reorganization
  Cargo.lock
  config/management/operational/src/lib.rs
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/authx.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/main.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt

lint checks
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt

jwt authorization
  Cargo.lock
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
Due: rust-fmt

fmt
  consensus/src/data_manager.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/quorum_store/batch_aggregator.rs
  consensus/src/quorum_store/proof_builder.rs
  consensus/src/quorum_store/tests/batch_requester_test.rs
  consensus/src/quorum_store/tests/quorum_store_wrapper_test.rs
  consensus/src/quorum_store/tests/utils.rs
  consensus/src/round_manager.rs
  consensus/src/state_computer.rs
  consensus/src/test_utils/mock_state_computer.rs
  testsuite/smoke-test/src/aptos/error_report.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/smoke-test/tests/forge-aptos.rs
Due: rust-fmt

[SDK][TS] Re-expose BCS and builder items from root of module (#2653)
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/examples/typescript/bcs_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/multisig_transaction.ts
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/index.ts
Due: prettier-fmt

[community] Redirect www to non-www to avoid https conflicts (#2556)
  ecosystem/platform/server/config/routes.rb
Due: none

precommit checks
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/main.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt

lint checks
  crates/aptos-telemetry-service/Cargo.toml
Due: none

[forge] support K8SNode start,stop,clear_storage and metrics port
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-values.yaml
  testsuite/forge/src/backend/k8s/helm-values/genesis-values.yaml
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/interface/node.rs
  testsuite/run_forge.sh
  testsuite/testcases/src/forge_setup_test.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/partial_nodes_down_test.rs
  testsuite/testcases/src/state_sync_performance.rs
Due: rust-fmt, prettier-fmt

[mempool] add counter for duplicate idempotent txns
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
Due: rust-fmt

8 -> 16
  config/src/config/mempool_config.rs
Due: rust-fmt

Actually we seem to be blocked on broadcast now, so increase broadcasts/peer
  config/src/config/mempool_config.rs
Due: rust-fmt

Support cross-epoch leader reputation
  consensus/src/epoch_manager.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/leader_reputation_test.rs
  types/src/on_chain_config/consensus_config.rs
Due: rust-fmt

[storage][pruner] Add explicit config to enable/disable pruners
  config/src/config/storage_config.rs
  execution/executor-benchmark/src/main.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/event_store/test.rs
  storage/aptosdb/src/pruner/ledger_pruner_manager.rs
  storage/aptosdb/src/pruner/pruner_manager.rs
  storage/aptosdb/src/pruner/state_pruner_manager.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/pruner/transaction_store/test.rs
  storage/storage-interface/src/lib.rs
  terraform/helm/aptos-node/files/configs/fullnode.yaml
  terraform/helm/aptos-node/files/configs/validator.yaml
  terraform/helm/aptos-node/values.yaml
Due: rust-fmt, prettier-fmt

Fix events RestApi paging to latest
  api/src/context.rs
  api/src/events.rs
  api/src/page.rs
  api/src/poem_backend/events.rs
  api/src/poem_backend/page.rs
  api/src/poem_backend/transactions.rs
  api/src/transactions.rs
  crates/aptos-rest-client/src/lib.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
  testsuite/smoke-test/src/client.rs
Due: rust-fmt

[Docs] Adding a note on this being in exploratory phase.
  developer-docs-site/docs/guides/move-guides/guide-move-transactional-testing.md
Due: none

[mempool] add counter for duplicate idempotent txns (#2656)
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
Due: rust-fmt

refine auth reject error due to wrong public key
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/error.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/lib.rs
Due: rust-fmt

[storage][pruner] Add explicit config to enable/disable pruners (#2598)
  config/src/config/storage_config.rs
  execution/executor-benchmark/src/main.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/event_store/test.rs
  storage/aptosdb/src/pruner/ledger_pruner_manager.rs
  storage/aptosdb/src/pruner/pruner_manager.rs
  storage/aptosdb/src/pruner/state_pruner_manager.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/pruner/transaction_store/test.rs
  storage/storage-interface/src/lib.rs
  terraform/helm/aptos-node/files/configs/fullnode.yaml
  terraform/helm/aptos-node/files/configs/validator.yaml
  terraform/helm/aptos-node/values.yaml
Due: rust-fmt, prettier-fmt

[move] added test for BLS proof-of-possession and fixed secp256k1 documentation
  aptos-move/framework/aptos-stdlib/sources/signature.move
  crates/aptos-crypto/src/bls12381/bls12381_pop.rs
  crates/aptos-crypto/src/unit_tests/bls12381_test.rs
Due: rust-fmt

using get_events with ledger_version
  api/src/context.rs
  api/src/events.rs
  api/src/page.rs
  api/src/poem_backend/events.rs
  api/src/poem_backend/page.rs
  api/src/transactions.rs
  crates/aptos-rest-client/src/lib.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
  testsuite/smoke-test/src/client.rs
Due: rust-fmt

[Docs] New Move transactional testing guide. (#2604)
  developer-docs-site/docs/guides/index.md
  developer-docs-site/docs/guides/move-guides/guide-move-transactional-testing.md
  developer-docs-site/docs/guides/move-guides/index.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
Due: prettier-fmt

[move+crypto] exported rest of BLS functions and improved BLS documentation
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/framework/aptos-stdlib/sources/signature.move
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/signature.rs
  crates/aptos-crypto/benches/bls12381.rs
  crates/aptos-crypto/src/bls12381/bls12381_keys.rs
  crates/aptos-crypto/src/bls12381/bls12381_pop.rs
  crates/aptos-crypto/src/bls12381/bls12381_sigs.rs
  crates/aptos-crypto/src/bls12381/bls12381_validatable.rs
  crates/aptos-crypto/src/bls12381/mod.rs
  crates/aptos-crypto/src/test_utils.rs
  crates/aptos-crypto/src/unit_tests/bls12381_test.rs
  crates/aptos-crypto/src/validatable.rs
Due: rust-fmt

[Aptos Framework] Add more e2e tests for Staking
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/stake.rs
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_basic.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_immutable.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_overlapping_module.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_loader_cache_consistency.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_no_compat.exp
  aptos-move/e2e-move-tests/tests/init_module.data/init_module.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_basic_staking.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_end_to_end.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards_pending_inactive.exp
  aptos-move/e2e-move-tests/tests/stake.rs
  aptos-move/e2e-move-tests/tests/string_args.data/string_args.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/lib.rs
  types/src/on_chain_config/validator_set.rs
  types/src/stake_pool.rs
  types/src/validator_info.rs
Due: rust-fmt

fix lint checks
  crates/aptos-telemetry-service/src/error.rs
Due: rust-fmt

Simplified the `stake` module
  aptos-move/framework/aptos-framework/sources/stake.move
Due: none

[storage] utilize the NewBlockEvent to find out block boundaries
  api/src/context.rs
  storage/aptosdb/src/event_store/mod.rs
  storage/aptosdb/src/event_store/test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/transaction_store/mod.rs
  storage/aptosdb/src/transaction_store/test.rs
  storage/storage-interface/src/lib.rs
  types/src/account_config/events/new_block.rs
Due: rust-fmt

[Aptos Framework] Add more e2e tests for Staking (#2592)
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/stake.rs
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_basic.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_immutable.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_overlapping_module.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_loader_cache_consistency.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_no_compat.exp
  aptos-move/e2e-move-tests/tests/init_module.data/init_module.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_basic_staking.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_end_to_end.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards_pending_inactive.exp
  aptos-move/e2e-move-tests/tests/stake.rs
  aptos-move/e2e-move-tests/tests/string_args.data/string_args.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/lib.rs
  types/src/on_chain_config/validator_set.rs
  types/src/stake_pool.rs
  types/src/validator_info.rs
Due: rust-fmt

[forge] Add continuous chaos performance forge
  .github/workflows/pre-release-continuous-test.yaml
  .github/workflows/run-forge.yaml
Due: prettier-fmt

[forge] Add packet loss test and make a chaos test suite
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/chaos.rs
  testsuite/forge/src/backend/k8s/chaos/network_loss.yaml
  testsuite/forge/src/interface/chaos.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/network_loss_test.rs
Due: rust-fmt, prettier-fmt

[forge] add epoch change to forge (per-PR run)
  terraform/helm/aptos-node/values.yaml
  terraform/helm/genesis/values.yaml
Due: prettier-fmt

[dummy][forge] testing epoch change speed
  .github/workflows/run-forge.yaml
  terraform/helm/genesis/values.yaml
  testsuite/forge-cli/src/main.rs
Due: rust-fmt, prettier-fmt
