Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[CLI][TSSDK] FFI Integration between aptos CLI and Typescript SDK (#7968)
  crates/aptos/Cargo.toml
  crates/aptos/src/ffi.rs
  crates/aptos/src/lib.rs
  ecosystem/typescript/sdk/examples/typescript/call_aptos_cli.ts
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/examples/typescript/pnpm-lock.yaml
Due: rust-fmt, prettier-fmt

Add stack trace for invariant violation to error message
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  third_party/move/move-binary-format/src/errors.rs
Due: rust-fmt

fmt
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  third_party/move/move-binary-format/src/errors.rs
Due: rust-fmt

fix consensus name in docs
  consensus/README.md
  consensus/src/lib.rs
  developer-docs-site/docs/reference/glossary.md
  execution/README.md
  types/src/ledger_info.rs
Due: rust-fmt

wip: some objects detemplatized, aptos-node compiles
  aptos-node/src/network.rs
  aptos-node/src/services.rs
  aptos-node/src/state_sync.rs
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/runtime.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  network/builder/src/builder.rs
  network/builder/src/dummy.rs
  network/peer-monitoring-service/client/src/lib.rs
  network/peer-monitoring-service/client/src/network.rs
  network/peer-monitoring-service/client/src/peer_states/mod.rs
  network/peer-monitoring-service/client/src/peer_states/peer_state.rs
  network/peer-monitoring-service/server/src/network.rs
  network/src/application/interface.rs
  network/src/protocols/health_checker/builder.rs
  network/src/protocols/health_checker/interface.rs
  network/src/protocols/health_checker/mod.rs
  network/src/protocols/network/mod.rs
  state-sync/aptos-data-client/src/aptosnet/mod.rs
  state-sync/storage-service/client/src/lib.rs
  state-sync/storage-service/server/src/network.rs
Due: rust-fmt

[transaction-generator] Fix reliable executor client to check for VM status, not just sequence number (#8035)
  crates/transaction-emitter-lib/src/emitter/transaction_executor.rs
  execution/executor-benchmark/src/gen_executor.rs
  execution/executor-benchmark/src/lib.rs
Due: rust-fmt

wip: re-templatazie just the send functions
  consensus/src/network_interface.rs
  mempool/src/shared_mempool/network.rs
  network/peer-monitoring-service/client/src/network.rs
  network/src/application/interface.rs
  network/src/application/tests.rs
  network/src/protocols/health_checker/mod.rs
  network/src/protocols/health_checker/test.rs
  network/src/protocols/network/mod.rs
  state-sync/storage-service/client/src/lib.rs
Due: rust-fmt

Update Docker images
  docker/rust-all.Dockerfile
Due: none

[transaction generator] Add support for multiple move files used for benchmarking
  crates/transaction-generator-lib/src/call_custom_modules.rs
  crates/transaction-generator-lib/src/publish_modules.rs
  crates/transaction-generator-lib/src/publishing/module_simple.rs
  crates/transaction-generator-lib/src/publishing/publish_util.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  testsuite/module-publish/src/main.rs
  testsuite/module-publish/src/packages/simple/Move.toml
  testsuite/module-publish/src/packages/simple/sources/Simple.move
  testsuite/module-publish/src/packages/simple/sources/token_v1.move
  testsuite/single_node_performance.py
Due: rust-fmt

[transaction generator] Add support for multiple move files used for benchmarking (#8002)
  crates/transaction-generator-lib/src/call_custom_modules.rs
  crates/transaction-generator-lib/src/publish_modules.rs
  crates/transaction-generator-lib/src/publishing/module_simple.rs
  crates/transaction-generator-lib/src/publishing/publish_util.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  testsuite/module-publish/src/main.rs
  testsuite/module-publish/src/packages/simple/Move.toml
  testsuite/module-publish/src/packages/simple/sources/Simple.move
  testsuite/module-publish/src/packages/simple/sources/token_v1.move
  testsuite/single_node_performance.py
Due: rust-fmt

Refactor block execute/commit pipeline.
  execution/executor-types/src/executed_chunk.rs
  execution/executor/proptest-regressions/tests/mod.txt
  execution/executor/src/block_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/components/in_memory_state_calculator_v2.rs
  execution/executor/src/tests/mod.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
Due: rust-fmt

saving some changes
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.move
  aptos-move/move-examples/veiled_coin/sources/veiled_coin.move
Due: none

Refactor block execute/commit pipeline. (#8050)
  execution/executor-types/src/executed_chunk.rs
  execution/executor/proptest-regressions/tests/mod.txt
  execution/executor/src/block_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/components/in_memory_state_calculator_v2.rs
  execution/executor/src/tests/mod.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
Due: rust-fmt

fixed other test
  aptos-move/move-examples/veiled_coin/sources/veiled_coin.move
Due: none

An implementation to make within-VFN broadcasts single hop
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/tasks.rs
Due: rust-fmt

Fix tests, to compile
  mempool/src/core_mempool/transaction.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/fuzzing.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/node.rs
  mempool/src/tests/shared_mempool_test.rs
Due: rust-fmt

linter
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[Execution] Add ExecutedBlock struct.
  execution/executor-types/src/executed_block.rs
  execution/executor-types/src/executed_chunk.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/block_tree/mod.rs
  execution/executor/src/components/block_tree/test.rs
  execution/executor/src/components/chunk_output.rs
  storage/aptosdb/src/fake_aptosdb.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
  testsuite/single_node_performance.py
Due: rust-fmt

2 -> 5
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

default to all nodes instead of delegation nodes
  developer-docs-site/docs/nodes/leaderboard-metrics.md
Due: none

found another occurence
  developer-docs-site/docs/nodes/validator-node/operator/staking-pool-operations.md
Due: none

5->10
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

10->20
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[Execution] Add ExecutedBlock struct. (#8083)
  execution/executor-types/src/executed_block.rs
  execution/executor-types/src/executed_chunk.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/components/apply_chunk_output.rs
  execution/executor/src/components/block_tree/mod.rs
  execution/executor/src/components/block_tree/test.rs
  execution/executor/src/components/chunk_output.rs
  storage/aptosdb/src/fake_aptosdb.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
  testsuite/single_node_performance.py
Due: rust-fmt

Update packages.md
  developer-docs-site/docs/move/book/packages.md
Due: none

[Code owners] Update owners for configs and network.
  CODEOWNERS
Due: none

[Code owners] Update owners for configs and network. (#8062)
  CODEOWNERS
Due: none

[CLI] Add JSON input file support, docs (#7709)
  aptos-move/move-examples/cli_args/Move.toml
  aptos-move/move-examples/cli_args/scripts/set_vals.move
  aptos-move/move-examples/cli_args/sources/cli_args.move
  crates/aptos/src/account/multisig_account.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/common/utils.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/test/mod.rs
  developer-docs-site/docs/move/move-on-aptos/cli.md
  developer-docs-site/docs/tools/aptos-cli-tool/use-aptos-cli.md
Due: rust-fmt

[doc] Fix the folder layout of the example in the section Using Bytecode for Dependencies (#8087)
  developer-docs-site/docs/move/book/packages.md
Due: none

Update RELEASE.md
  RELEASE.md
Due: none

Update developer-docs-site/docs/nodes/validator-node/operator/staking-pool-operations.md
  developer-docs-site/docs/nodes/validator-node/operator/staking-pool-operations.md
Due: none

Update developer-docs-site/docs/nodes/leaderboard-metrics.md
  developer-docs-site/docs/nodes/leaderboard-metrics.md
Due: none

Update Docker images (#8084)
  docker/rust-all.Dockerfile
Due: none

Leaderboard link defaults to delegation nodes as opposed to all nodes (#8086)
  developer-docs-site/docs/nodes/leaderboard-metrics.md
  developer-docs-site/docs/nodes/validator-node/operator/staking-pool-operations.md
Due: none

f
  developer-docs-site/scripts/additional_dict.txt
Due: none

added info about testing and reformatted how to follow releases (#8041)
  RELEASE.md
  developer-docs-site/docs/releases/index.md
  developer-docs-site/scripts/additional_dict.txt
Due: none
