Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

exclude hash-to-group from current change
  aptos-move/framework/aptos-stdlib/doc/groups.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/groups.move
  aptos-move/framework/src/natives/cryptography/groups/mod.rs
  aptos-move/framework/src/natives/mod.rs
  crates/aptos-crypto/benches/ark_bls12_381.rs
Due: rust-fmt

[docs] fix broken URLs due to dot at the end
  aptos-move/framework/aptos-stdlib/doc/hash.md
  aptos-move/framework/aptos-stdlib/sources/hash.move
Due: none

Update aptos-token-overview.md
  developer-docs-site/docs/concepts/coin-and-token/aptos-token-overview.md
Due: none

[docs] fix broken URLs due to dot at the end (#6484)
  aptos-move/framework/aptos-stdlib/doc/hash.md
  aptos-move/framework/aptos-stdlib/sources/hash.move
Due: none

Update CODEOWNERS with newest owners
  CODEOWNERS
Due: none

[aptos-vm] change restriction on view functions to support legacy view (#6503)
  aptos-move/aptos-vm/src/verifier/view_function.rs
Due: rust-fmt

extend scenarios and use large stakes for stake-management UTs
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

Add link to Teach yourself Move on Aptos guide in econia-labs repo from Move index
  developer-docs-site/docs/guides/move-guides/index.md
Due: none

[transaction test] remove two tests using module payload (#6496)
  api/src/tests/transactions_test.rs
Due: rust-fmt

use large stakes for rewards calculation UTs and change operator scenario
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

enable min symbolic amount on add_stake and adapt integration UTs
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
  aptos-move/framework/aptos-framework/tests/delegation_pool_integration_tests.move
Due: none

Add link to resource accounts guide from first reference in Mint NFT with CLI tutorial
  developer-docs-site/docs/guides/move-guides/mint-nft-cli.md
Due: none

Implement lychee-broken-link-checker to catch broken links in GitHub … (#6428)
  .github/workflows/links_checker.yml
  .lycheeignore
  developer-docs-site/README.md
Due: prettier-fmt

Update CHANGELOG.md (#6442)
  ecosystem/typescript/sdk/CHANGELOG.md
Due: none

Fix when passing array to wallet extension, array cannot be detected using instanceof
  ecosystem/typescript/sdk/src/transaction_builder/builder_utils.ts
Due: prettier-fmt

feat([docker]): support building multi-arch images
  docker/build-rust-all.sh
  docker/rust-all.Dockerfile
Due: none

[experimental] updated move rev to the fork
  Cargo.lock
  Cargo.toml
  SECURITY.md
  aptos-move/framework/aptos-framework/doc/aptos_coin.md
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  aptos-move/framework/aptos-stdlib/doc/table.md
  aptos-move/framework/aptos-stdlib/sources/table.move
  aptos-move/move-examples/data_structures/sources/bucket_table.move
  aptos-move/move-examples/post_mint_reveal_nft/sources/bucket_table.move
  developer-docs-site/docs/cli-tools/aptos-cli-tool/use-aptos-cli.md
  developer-docs-site/docs/cli-tools/install-move-prover.md
  developer-docs-site/docs/guides/basics-life-of-txn.md
  developer-docs-site/docs/guides/handle-aptos-errors.md
  developer-docs-site/docs/guides/interacting-with-the-blockchain.md
  developer-docs-site/docs/guides/move-guides/index.md
Due: rust-cargo-sort

never create the pending withdrawal over no pending_inactive shares
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

[aptos-vm] change restriction on view functions to support legacy view (#6504)
  aptos-move/aptos-vm/src/verifier/view_function.rs
Due: rust-fmt

Run formatters, update tutorial var names/outputs
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/move-examples/upgrade_and_govern/v1_0_0/sources/parameters.move
  aptos-move/move-examples/upgrade_and_govern/v1_1_0/scripts/set_and_transfer.move
  aptos-move/move-examples/upgrade_and_govern/v1_1_0/sources/parameters.move
  aptos-move/move-examples/upgrade_and_govern/v1_1_0/sources/transfer.move
  developer-docs-site/docs/tutorials/first-multisig.md
  developer-docs-site/sidebars.js
  ecosystem/python/sdk/aptos_sdk/account.py
  ecosystem/python/sdk/aptos_sdk/account_address.py
  ecosystem/python/sdk/aptos_sdk/authenticator.py
  ecosystem/python/sdk/aptos_sdk/ed25519.py
  ecosystem/python/sdk/examples/multisig.py
Due: prettier-fmt

Apply Python auto-formatter
  ecosystem/python/sdk/aptos_sdk/amee.py
Due: none

[telemetry-svc] Ingest logs from unknown nodes
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/errors.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry/src/sender.rs
Due: rust-fmt

Add bytes to prefixed hex conversion helpers
  ecosystem/python/sdk/aptos_sdk/amee.py
Due: none

[aptos-release-builder] build release from githash
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/data/example.yaml
  aptos-move/aptos-release-builder/data/example_output/0-move-stdlib.move
  aptos-move/aptos-release-builder/data/example_output/1-aptos-stdlib.move
  aptos-move/aptos-release-builder/data/example_output/2-aptos-framework.move
  aptos-move/aptos-release-builder/data/example_output/3-aptos-token.move
  aptos-move/aptos-release-builder/data/example_output/4-gas-schedule.move
  aptos-move/aptos-release-builder/data/example_output/5-features.move
  aptos-move/aptos-release-builder/data/example_output/6-consensus-config.move
  aptos-move/aptos-release-builder/src/components/consensus_config.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-release-builder/src/components/framework.rs
  aptos-move/aptos-release-builder/src/components/gas.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/vm-genesis/src/lib.rs
Due: rust-fmt, rust-cargo-sort, prettier-fmt

[telemetry-svc] Ingest logs from unknown nodes (#6495)
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/errors.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry/src/sender.rs
Due: rust-fmt

Update assertion/exception feedback
  ecosystem/python/sdk/aptos_sdk/amee.py
Due: none

[aptos-release-builder] build release from githash (#6468)
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/data/example.yaml
  aptos-move/aptos-release-builder/data/example_output/0-move-stdlib.move
  aptos-move/aptos-release-builder/data/example_output/1-aptos-stdlib.move
  aptos-move/aptos-release-builder/data/example_output/2-aptos-framework.move
  aptos-move/aptos-release-builder/data/example_output/3-aptos-token.move
  aptos-move/aptos-release-builder/data/example_output/4-gas-schedule.move
  aptos-move/aptos-release-builder/data/example_output/5-features.move
  aptos-move/aptos-release-builder/data/example_output/6-consensus-config.move
  aptos-move/aptos-release-builder/src/components/consensus_config.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-release-builder/src/components/framework.rs
  aptos-move/aptos-release-builder/src/components/gas.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/vm-genesis/src/lib.rs
Due: rust-fmt, rust-cargo-sort, prettier-fmt

Abstract outfile writing logic
  ecosystem/python/sdk/aptos_sdk/amee.py
Due: none

[forge] Adjust flaky forge tests based on past history
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

test deterministic build
  crates/aptos-build-info/src/lib.rs
Due: rust-fmt

Revert "[aptos-vm] change restriction on view functions to support legacy view (#6504)"
  aptos-move/aptos-vm/src/verifier/view_function.rs
Due: rust-fmt

[forge] Adjust flaky forge tests based on past history (#6469)
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[txn emitter] adding arguments for more precise balance management for txn emitter
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/call_custom_modules.rs
  crates/transaction-emitter-lib/src/transaction_generator/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/nft_mint_and_transfer.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  testsuite/smoke-test/src/txn_emitter.rs
Due: rust-fmt

[txn-emitter][forge] Fix duration used for TPS computation
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/stats.rs
  crates/transaction-emitter/src/main.rs
  ecosystem/node-checker/src/checker/tps.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/smoke-test/src/consensus/consensus_only.rs
  testsuite/smoke-test/src/txn_emitter.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/load_vs_perf_benchmark.rs
  testsuite/testcases/src/two_traffics_test.rs
Due: rust-fmt

[txn emitter] Improve minting speed and more debug details
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/transaction_executor.rs
  crates/transaction-emitter-lib/src/transaction_generator/mod.rs
Due: rust-fmt

[run on forge][not for review] test fix flaky forge
  testsuite/forge-cli/src/main.rs
  testsuite/forge.py
Due: rust-fmt

[Workflows] Some tweaks to the fullnode sync python script.
  .github/actions/fullnode-sync/fullnode_sync.py
  .github/workflows/fullnode-execute-devnet-main.yaml
  .github/workflows/fullnode-execute-devnet-stable.yaml
  .github/workflows/fullnode-fast-mainnet-main.yaml
  .github/workflows/fullnode-fast-mainnet-stable.yaml
  .github/workflows/fullnode-fast-testnet-main.yaml
  .github/workflows/fullnode-fast-testnet-stable.yaml
  .github/workflows/fullnode-intelligent-devnet-main.yaml
  .github/workflows/fullnode-output-mainnet-main.yaml
  .github/workflows/run-forge.yaml
  .github/workflows/run-fullnode-sync.yaml
Due: prettier-fmt

[experimental] new VM types
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-vm-types/Cargo.toml
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/data_cache.rs
  aptos-move/aptos-vm-types/src/experimental/data_cache_with_changes.rs
  aptos-move/aptos-vm-types/src/experimental/mod.rs
  aptos-move/aptos-vm-types/src/experimental/resolver.rs
  aptos-move/aptos-vm-types/src/lib.rs
  aptos-move/aptos-vm-types/src/transaction.rs
Due: rust-fmt, rust-cargo-sort
