Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

renamed functions: `next_` prefix to `deserialize_` prefix. e.g. `next_u128` to `deserialize_u128`
  aptos-move/move-examples/bcs-stream/sources/stream.move
  aptos-move/move-examples/bcs-stream/sources/tests/tests.move
Due: none

added docs and comments to describe the `bcs_stream` module.
  aptos-move/move-examples/bcs-stream/sources/stream.move
Due: none

updated: using per-byte deserializing for all move integer types
  aptos-move/move-examples/bcs-stream/sources/stream.move
Due: none

using `std::error` module
  aptos-move/move-examples/bcs-stream/sources/stream.move
  aptos-move/move-examples/bcs-stream/sources/tests/tests.move
Due: none

gas optimized `String` deserializer
  aptos-move/move-examples/bcs-stream/sources/script.move
  aptos-move/move-examples/bcs-stream/sources/stream.move
  aptos-move/move-examples/bcs-stream/sources/tests/tests.move
Due: none

implement BCS stream in Move
  aptos-move/move-examples/bcs-stream/Move.toml
  aptos-move/move-examples/bcs-stream/sources/stream.move
  aptos-move/move-examples/bcs-stream/sources/tests/tests.move
Due: none

added deserializer for `Option` type
  aptos-move/move-examples/bcs-stream/sources/stream.move
  aptos-move/move-examples/bcs-stream/sources/tests/tests.move
Due: none

added docs & test cases for String / Option types
  aptos-move/move-examples/bcs-stream/sources/script.move
  aptos-move/move-examples/bcs-stream/sources/stream.move
  aptos-move/move-examples/bcs-stream/sources/tests/tests.move
Due: none

added deserializer for `String` type
  aptos-move/move-examples/bcs-stream/sources/stream.move
  aptos-move/move-examples/bcs-stream/sources/tests/tests.move
Due: none

update: &mut -> & for `stream.data` reference
  aptos-move/move-examples/bcs-stream/sources/stream.move
Due: none

deleted gas metering script
  aptos-move/move-examples/bcs-stream/sources/script.move
Due: none

update test
  storage/aptosdb/src/db/aptosdb_test.rs
  storage/aptosdb/src/state_store/mod.rs
  types/src/proptest_types.rs
Due: rust-fmt

Testing out if commit decision can be assigned to ordered decision
  consensus/src/block_storage/sync_manager.rs
  consensus/src/persistent_liveness_storage.rs
Due: rust-fmt

Add print statement for debugging
  consensus/src/round_manager.rs
Due: rust-fmt

Print errors for debugging
  consensus/consensus-types/src/sync_info.rs
  consensus/src/round_manager.rs
Due: rust-fmt

Adding print statements for debugging
  consensus/src/round_manager.rs
Due: rust-fmt

Minor fix
  consensus/src/round_manager.rs
Due: rust-fmt

Add counters for debugging
  consensus/src/block_storage/sync_manager.rs
  consensus/src/counters.rs
  consensus/src/round_manager.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Add more counters for debugging
  consensus/src/block_storage/sync_manager.rs
  consensus/src/counters.rs
  consensus/src/liveness/round_state.rs
  consensus/src/pending_order_votes.rs
  consensus/src/round_manager.rs
Due: rust-fmt

Fixing tests
  aptos-move/e2e-move-tests/src/tests/fungible_asset.rs
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
Due: rust-fmt

Fixing unit test
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
Due: none

Fix unit test
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
Due: none

fix script conflict
  third_party/move/move-compiler-v2/src/file_format_generator/mod.rs
Due: rust-fmt

rsa vrfy works
  Cargo.lock
  keyless/circuit-data/input_gen.py
  keyless/circuit-data/templates/helpers/packing.circom
  keyless/circuit-data/templates/helpers/rsa/rsa_verify.circom
  keyless/circuit-tests/Cargo.toml
  keyless/circuit-tests/src/rsa.rs
Due: rust-fmt

cargo.toml clean up
  Cargo.lock
  keyless/circuit-tests/Cargo.toml
  keyless/circuit-tests/src/rsa.rs
Due: rust-fmt

wip
  Cargo.lock
  keyless/circuit-data/templates/tests/rsa_verify_test.circom
  keyless/circuit-tests/Cargo.toml
  keyless/circuit-tests/src/lib.rs
  keyless/circuit-tests/src/rsa.rs
Due: rust-fmt

Debugging rsa circuit test (#12952)
  Cargo.lock
  keyless/circuit-data/input_gen.py
  keyless/circuit-data/templates/helpers/packing.circom
  keyless/circuit-data/templates/helpers/rsa/rsa_verify.circom
  keyless/circuit-tests/Cargo.toml
  keyless/circuit-tests/src/packing.rs
  keyless/circuit-tests/src/rsa.rs
  keyless/circuit-tests/src/sha.rs
  keyless/common/Cargo.toml
  keyless/common/src/api.rs
  keyless/common/src/input_processing/encoding.rs
  keyless/common/src/input_processing/mod.rs
  keyless/common/src/lib.rs
Due: rust-fmt

chore: remove repetitive words
  aptos-move/aptos-vm/src/transaction_validation.rs
  aptos-move/framework/src/docgen.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/move-examples/token_objects/knight/sources/food.move
  crates/aptos-dkg/src/pvss/dealt_pub_key.rs
  crates/aptos-jwk-consensus/src/jwk_manager/tests.rs
  crates/aptos-ledger/src/lib.rs
  crates/aptos/e2e/cases/stake.py
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/table_info_service.rs
  ecosystem/typescript/sdk/src/aptos_types/type_tag.ts
  ecosystem/typescript/sdk/src/transactions/transaction_worker.ts
  storage/backup/backup-cli/src/coordinators/restore.rs
  testsuite/module-publish/src/packages/simple/sources/Simple.move
  third_party/move/changes/1-friend-visibility.md
  third_party/move/documentation/book/src/unit-testing.md
  third_party/move/documentation/book/translations/move-book-zh/src/unit-testing.md
  third_party/move/move-analyzer/editors/code/README.md
  third_party/move/move-binary-format/src/control_flow_graph.rs
  third_party/move/move-binary-format/src/file_format.rs
  third_party/move/move-compiler-v2/src/pipeline/ability_processor.rs
  third_party/move/move-core/types/src/safe_serialize.rs
  third_party/move/move-examples/diem-framework/move-packages/DPN/sources/AccountAdministrationScripts.move
  third_party/move/move-examples/diem-framework/move-packages/DPN/sources/Diem.move
  third_party/move/move-examples/diem-framework/move-packages/DPN/sources/DiemAccount.move
  third_party/move/move-examples/diem-framework/move-packages/DPN/sources/NetworkIdentity.move
  third_party/move/move-examples/diem-framework/move-packages/experimental/sources/ExperimentalAccount.move
  third_party/move/move-model/src/ast.rs
  third_party/move/move-model/src/exp_generator.rs
  third_party/move/move-prover/bytecode-pipeline/src/global_invariant_instrumentation_v2.rs
  third_party/move/move-prover/bytecode-pipeline/src/verification_analysis.rs
  third_party/move/move-prover/doc/report/formal.tex
  third_party/move/move-stdlib/nursery/docs/vault.md
  third_party/move/move-stdlib/nursery/sources/vault.move
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/tools/move-cli/src/sandbox/commands/publish.rs
Due: rust-fmt, prettier-fmt

chore: remove repetitive words
  aptos-move/aptos-vm/src/transaction_validation.rs
Due: rust-fmt

chore: remove repetitive words
  third_party/move/move-examples/diem-framework/move-packages/DPN/sources/AccountAdministrationScripts.move
  third_party/move/move-examples/diem-framework/move-packages/DPN/sources/Diem.move
Due: none

Sync Terraform & Helm changes (#12937)
  terraform/aptos-node-testnet/gcp/forge.tf
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/haproxy.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/fullnode/templates/backup-compaction.yaml
  terraform/helm/fullnode/templates/backup-verify.yaml
  terraform/helm/fullnode/templates/backup.yaml
  terraform/helm/fullnode/templates/fullnode.yaml
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/monitoring/templates/monitoring.yaml
Due: prettier-fmt

update tests
  storage/aptosdb/src/db/aptosdb_test.rs
  storage/aptosdb/src/db/include/aptosdb_writer.rs
Due: rust-fmt

on reversion, version stays the same
  storage/aptosdb/src/db/aptosdb_test.rs
Due: rust-fmt

add error assertion test
  storage/aptosdb/src/db/aptosdb_test.rs
  storage/aptosdb/src/db/include/aptosdb_writer.rs
Due: rust-fmt

bench and hashbrown
  Cargo.lock
  Cargo.toml
  types/Cargo.toml
  types/benches/state_key.rs
  types/proptest-regressions/state_store/state_key.txt
  types/src/state_store/state_key.rs
Due: rust-fmt, rust-cargo-sort

update doc
  keyless/common/src/input_processing/bits.rs
Due: rust-fmt

rsa circuit test (#12948)
  Cargo.lock
  keyless/circuit-data/input_gen.py
  keyless/circuit-data/templates/helpers/packing.circom
  keyless/circuit-data/templates/helpers/rsa/rsa_verify.circom
  keyless/circuit-data/templates/tests/rsa_verify_test.circom
  keyless/circuit-tests/Cargo.toml
  keyless/circuit-tests/src/lib.rs
  keyless/circuit-tests/src/packing.rs
  keyless/circuit-tests/src/rsa.rs
  keyless/circuit-tests/src/sha.rs
  keyless/common/Cargo.toml
  keyless/common/src/api.rs
  keyless/common/src/input_processing/bits.rs
  keyless/common/src/input_processing/encoding.rs
  keyless/common/src/input_processing/mod.rs
  keyless/common/src/lib.rs
Due: rust-fmt

more tests
  keyless/circuit-data/templates/tests/array_selector_complex_large_test.circom
  keyless/circuit-data/templates/tests/array_selector_complex_small_test.circom
  keyless/circuit-data/templates/tests/array_selector_test_large.circom
  keyless/circuit-data/templates/tests/array_selector_test_small.circom
  keyless/circuit-tests/src/arrays.rs
Due: rust-fmt
