Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

cargo run -p generate-format -- --corpus Consensus --record
  testsuite/generate-format/tests/staged/consensus.yaml
Due: prettier-fmt

squash of #7175
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/quorum_store_coordinator.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/quorum_store_db_test.rs
  consensus/src/quorum_store/tests/types_test.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
Due: rust-fmt

Add counters, remove TODO
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/state_computer.rs
Due: rust-fmt

[previewnet only] prep for another QS DB breaking change
  consensus/src/quorum_store/quorum_store_db.rs
Due: rust-fmt

[Quorum Store] block timestamp-based expiration of batches (#7194)
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/quorum_store_coordinator.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/quorum_store_db_test.rs
  consensus/src/quorum_store/tests/types_test.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
  testsuite/generate-format/tests/staged/consensus.yaml
Due: rust-fmt, prettier-fmt

[cherry-pick] PR 7194: [Quorum Store] block timestamp-based expiration of batches (#7175)
  config/src/config/quorum_store_config.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/batch_coordinator.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/quorum_store_coordinator.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_coordinator_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/tests/quorum_store_db_test.rs
  consensus/src/quorum_store/tests/types_test.rs
  consensus/src/quorum_store/types.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
  testsuite/generate-format/tests/staged/consensus.yaml
Due: rust-fmt, prettier-fmt

[previewnet only] prep for another QS DB breaking change (#7230)
  consensus/src/quorum_store/quorum_store_db.rs
Due: rust-fmt

Changes to copybara files and build integration
  .github/workflows/lint-test.yaml
  Cargo.lock
  Cargo.toml
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/cached-packages/src/aptos_token_sdk_builder.rs
  third_party/README.md
  third_party/copy.bara.sky
  third_party/move/language/README.md
Due: rust-fmt, rust-cargo-sort, prettier-fmt

[fungible asset] improve code usability
  aptos-move/move-examples/fungible_asset/sources/coin_example.move
  aptos-move/move-examples/fungible_asset/sources/fungible_asset.move
  aptos-move/move-examples/fungible_asset/sources/fungible_source.move
  aptos-move/move-examples/fungible_asset/sources/managed_fungible_source.move
Due: none

increase block size without QS
  config/src/config/consensus_config.rs
Due: rust-fmt

[QuorumStore] Fix batch requester (#7190)
  config/src/config/quorum_store_config.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
Due: rust-fmt

fix nits
  aptos-move/move-examples/fungible_asset/sources/fungible_source.move
  aptos-move/move-examples/fungible_asset/sources/managed_fungible_source.move
  aptos-move/move-examples/fungible_asset/sources/node_code_coin.move
Due: none

rename Caps to GoveranceCapabilities
  aptos-move/move-examples/fungible_asset/sources/managed_fungible_source.move
Due: none

add authentication module for both server and client. (#7201)
  ecosystem/indexer-grpc/indexer-grpc-data-service/README.md
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/README.md
  ecosystem/indexer-grpc/indexer-grpc-parser/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/config.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/constants.rs
Due: rust-fmt

[QuorumStore] Fix batch requester (#7190) (#7235)
  config/src/config/quorum_store_config.rs
  consensus/src/quorum_store/batch_requester.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/tests/batch_store_test.rs
Due: rust-fmt

[network] use futures channel instead of aptos channel to aggregate messages
  mempool/src/tests/mocks.rs
  network/src/peer_manager/builder.rs
  network/src/peer_manager/mod.rs
  network/src/protocols/network/mod.rs
Due: rust-fmt

Add local testnet, rephrase mainnet, and update formatting
  developer-docs-site/docs/guides/get-test-funds.md
Due: none

Mention the faucet
  developer-docs-site/docs/guides/local-testnet-dev-flow.md
Due: none

Run faucet integration tests in CI (#7125)
  .github/actions/run-faucet-tests/action.yaml
  .github/workflows/faucet-tests.yaml
  crates/aptos-faucet/README.md
  crates/aptos-faucet/integration-tests/README.md
  crates/aptos-faucet/integration-tests/common.py
  crates/aptos-faucet/integration-tests/local_testnet.py
  crates/aptos-faucet/integration-tests/main.py
  crates/aptos-faucet/integration-tests/poetry.lock
  crates/aptos-faucet/integration-tests/prechecks.py
  crates/aptos-faucet/integration-tests/pyproject.toml
  crates/aptos-faucet/integration-tests/tests.py
Due: prettier-fmt

Fix uptime check for faucet in CLI E2E tests
  crates/aptos/e2e/local_testnet.py
Due: none

additional benches and gas scripts
  scripts/fit_linear_model.py
  scripts/load_bench_datapoints.py
  scripts/score_model.py
  scripts/split_dataset.py
Due: none

Run faucet tests on main
  .github/workflows/faucet-tests.yaml
Due: prettier-fmt

[Configs] Tweaks for testing.
  config/src/config/network_config.rs
  config/src/config/state_sync_config.rs
Due: rust-fmt

added missing match clause
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
Due: rust-fmt

increase block size without QS (#7232)
  config/src/config/consensus_config.rs
Due: rust-fmt

[Spec] Fixed the broken spec due to the recently added crypto module
  aptos-move/framework/aptos-stdlib/doc/algebra.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra.spec.move
Due: none

Update help text for aptos move view
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

[State Sync] Update various counters.
  state-sync/aptos-data-client/src/aptosnet/metrics.rs
  state-sync/state-sync-v2/data-streaming-service/src/data_stream.rs
  state-sync/state-sync-v2/data-streaming-service/src/metrics.rs
Due: rust-fmt

[Configs and metrics] Tweak configs and improve metrics. (#7242)
  config/src/config/network_config.rs
  config/src/config/state_sync_config.rs
  state-sync/aptos-data-client/src/aptosnet/metrics.rs
  state-sync/state-sync-v2/data-streaming-service/src/data_stream.rs
  state-sync/state-sync-v2/data-streaming-service/src/metrics.rs
Due: rust-fmt

[Terraform Configs] Remove unneccessary override.
  docker/compose/aptos-node/validator.yaml
  terraform/helm/aptos-node/files/configs/validator-base.yaml
Due: prettier-fmt

Make node config logging a warn
  aptos-node/src/lib.rs
Due: rust-fmt

saving
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/block-executor/src/view.rs
  types/src/transaction/multisig.rs
Due: rust-fmt, rust-cargo-sort

fix merge conflict
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/move-stdlib/doc/features.md
Due: rust-fmt

merge conflict
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
Due: rust-fmt

try 1k shares
  consensus/src/experimental/buffer_item.rs
  consensus/src/experimental/buffer_manager.rs
Due: rust-fmt

more buffer before sync
  consensus/src/block_storage/sync_manager.rs
Due: rust-fmt

Fix concepts links
  developer-docs-site/docs/concepts/index.md
Due: none

sanity check
  consensus/src/experimental/buffer_manager.rs
Due: rust-fmt
