Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

NOTEs in a new line
  aptos-move/framework/aptos-stdlib/doc/algebra.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra.move
Due: none

doc update
  aptos-move/framework/aptos-stdlib/doc/algebra.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/algebra.move
Due: none

[qs] increase block size
  config/src/config/consensus_config.rs
  consensus/src/quorum_store/batch_generator.rs
Due: rust-fmt

Update SECURITY.md
  SECURITY.md
Due: none

consensus liveness counters
  consensus/src/counters.rs
  consensus/src/pending_votes.rs
  crates/aptos-metrics-core/src/lib.rs
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/validator_reboot_stress_test.rs
Due: rust-fmt

Add full rotation logic, demo scripts
  ecosystem/python/sdk/aptos_sdk/amee.py
  ecosystem/python/sdk/aptos_sdk/ss.sh
Due: none

Standardize outfile syntax
  ecosystem/python/sdk/aptos_sdk/amee.py
  ecosystem/python/sdk/aptos_sdk/ss.sh
Due: none

consensus liveness counters (#6408)
  consensus/src/counters.rs
  consensus/src/pending_votes.rs
  crates/aptos-metrics-core/src/lib.rs
  testsuite/forge-cli/src/main.rs
  testsuite/testcases/src/validator_reboot_stress_test.rs
Due: rust-fmt

Simplify single-signer determination
  ecosystem/python/sdk/aptos_sdk/amee.py
  ecosystem/python/sdk/aptos_sdk/ss.sh
Due: none

[qs] configure poll interval
  config/src/config/quorum_store_config.rs
Due: rust-fmt

[aptos-release-builder] Add an option to test config
  Cargo.lock
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/lib.rs
  aptos-move/aptos-release-builder/src/main.rs
  aptos-move/aptos-release-builder/src/validate.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/upgrade.rs
Due: rust-fmt

[aptos-cli] Fix the wrong default value
  crates/aptos/src/governance/mod.rs
Due: rust-fmt

Revert "[qs] experiment without biased select"
  consensus/src/quorum_store/batch_generator.rs
Due: rust-fmt

[Storage] Add a db truncation tool. (#6482)
  Cargo.lock
  Cargo.toml
  storage/aptosdb/Cargo.toml
  storage/aptosdb/src/db_debugger/mod.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/test_helper.rs
Due: rust-fmt, rust-cargo-sort

[aptos-release-builder] Add an option to validate the release process (#6532)
  Cargo.lock
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/lib.rs
  aptos-move/aptos-release-builder/src/main.rs
  aptos-move/aptos-release-builder/src/validate.rs
  crates/aptos/src/governance/mod.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/upgrade.rs
Due: rust-fmt

[DOC] Add first dapp tutorial code and edit repo path on doc files (#6381)
  aptos-move/move-examples/my_first_dapp/client/.gitignore
  aptos-move/move-examples/my_first_dapp/client/README.md
  aptos-move/move-examples/my_first_dapp/client/package-lock.json
  aptos-move/move-examples/my_first_dapp/client/package.json
  aptos-move/move-examples/my_first_dapp/client/public/favicon.ico
  aptos-move/move-examples/my_first_dapp/client/public/index.html
  aptos-move/move-examples/my_first_dapp/client/public/manifest.json
  aptos-move/move-examples/my_first_dapp/client/public/robots.txt
  aptos-move/move-examples/my_first_dapp/client/src/App.test.tsx
  aptos-move/move-examples/my_first_dapp/client/src/App.tsx
  aptos-move/move-examples/my_first_dapp/client/src/index.tsx
  aptos-move/move-examples/my_first_dapp/client/src/react-app-env.d.ts
  aptos-move/move-examples/my_first_dapp/client/src/reportWebVitals.ts
  aptos-move/move-examples/my_first_dapp/client/src/setupTests.ts
  aptos-move/move-examples/my_first_dapp/client/tsconfig.json
  aptos-move/move-examples/my_first_dapp/move/.gitignore
  aptos-move/move-examples/my_first_dapp/move/Move.toml
  aptos-move/move-examples/my_first_dapp/move/sources/main.move
Due: prettier-fmt

Update 4-fetch-data-from-chain.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/4-fetch-data-from-chain.md
Due: none

Add an test case on merge_and_return_zero_coin.
  aptos-move/framework/aptos-framework/sources/coin.move
Due: none

test case on merge_and_return_zero_coin of fix 0.
  aptos-move/framework/aptos-framework/sources/coin.move
Due: none

test case on merge_and_return_zero_coin of fix 1.
  aptos-move/framework/aptos-framework/sources/coin.move
Due: none

test case on merge_and_return_zero_coin of fix 2.
  aptos-move/framework/aptos-framework/sources/coin.spec.move
Due: none

Allow coin::burn is able to burn coin without zero check.
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
Due: none

[crypto+move] add Pedersen commitments and Bulletproof verification in Move
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/e2e-move-tests/src/tests/code_publishing.data/pack_stdlib/sources/configs/features.move
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-stdlib/doc/bulletproofs.md
  aptos-move/framework/aptos-stdlib/doc/overview.md
  aptos-move/framework/aptos-stdlib/doc/pedersen.md
  aptos-move/framework/aptos-stdlib/doc/ristretto255.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/bulletproofs.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/bulletproofs.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/pedersen.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/pedersen.spec.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/natives/cryptography/bulletproofs.rs
  aptos-move/framework/src/natives/cryptography/mod.rs
  aptos-move/framework/src/natives/cryptography/ristretto255.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_point.rs
  aptos-move/framework/src/natives/cryptography/ristretto255_scalar.rs
  aptos-move/framework/src/natives/cryptography/secp256k1.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  aptos-move/move-examples/veiled_coin/Move.toml
  aptos-move/move-examples/veiled_coin/sources/veiled_coin.move
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/benches/bulletproofs.rs
  crates/aptos-crypto/src/bulletproofs/mod.rs
  crates/aptos-crypto/src/lib.rs
  crates/aptos-crypto/src/unit_tests/bulletproofs_test.rs
  crates/aptos-crypto/src/unit_tests/mod.rs
Due: rust-fmt, rust-cargo-sort

[cli] Add view function sanity test
  crates/aptos/src/test/tests.rs
Due: rust-fmt

[cli] Add view function support
  aptos-move/move-examples/hello_blockchain/sources/hello_blockchain.move
  crates/aptos-rest-client/src/lib.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

[doc] fix events dev doc example
  developer-docs-site/docs/concepts/events.md
Due: none

[Quorum Store] Ignore a flaky test which is preventing some PRs landing
  consensus/src/quorum_store/tests/batch_store_test.rs
Due: rust-fmt

[Quorum Store] Ignore a flaky test which is preventing some PRs landing (#6566)
  consensus/src/quorum_store/tests/batch_store_test.rs
Due: rust-fmt

[Aptos CLI] Added simple CLI command to check the network.
  Cargo.lock
  crates/aptos-network-checker/src/args.rs
  crates/aptos-network-checker/src/check_endpoint.rs
  crates/aptos-network-checker/src/lib.rs
  crates/aptos/Cargo.toml
  crates/aptos/src/node/mod.rs
  crates/aptos/src/test/tests.rs
  types/src/chain_id.rs
Due: rust-fmt

Fix test.
  storage/aptosdb/src/db_debugger/truncate/mod.rs
Due: rust-fmt

[gha] pin docker-setup to main
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/docker-rust-build.yaml
  .github/workflows/sdk-release.yaml
Due: prettier-fmt

[gha] pin rust-setup to main
  .github/workflows/cli-release.yaml
  .github/workflows/coverage.yaml
  .github/workflows/find-packages-with-undeclared-feature-dependencies.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/prover-daily-test.yaml
  .github/workflows/prover-test.yaml
  .github/workflows/run-gas-calibration.yaml
  .github/workflows/sdk-release.yaml
  .github/workflows/workflow-run-module-verify.yaml
  .github/workflows/workflow-run-replay-verify.yaml
Due: prettier-fmt

[gha] pin workflow run-forge to main
  .github/workflows/continuous-e2e-changing-working-quorum-test copy.yaml
  .github/workflows/continuous-e2e-changing-working-quorum-test-high-load.yaml
  .github/workflows/continuous-e2e-compat-test.yaml
  .github/workflows/continuous-e2e-different-node-speed-and-reliability-test.yaml
  .github/workflows/continuous-e2e-forge-continuous.yaml
  .github/workflows/continuous-e2e-graceful-overload-test.yaml
  .github/workflows/continuous-e2e-haproxy-test.yaml
  .github/workflows/continuous-e2e-network-partition-test.yaml
  .github/workflows/continuous-e2e-nft-mint-test.yaml
  .github/workflows/continuous-e2e-performance-test.yaml
  .github/workflows/continuous-e2e-release-test.yaml
  .github/workflows/continuous-e2e-single-vfn-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-execute-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-fullnode-fast-sync-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-validator-test.yaml
  .github/workflows/continuous-e2e-state-sync-slow-processing-catching-up-test.yaml
  .github/workflows/continuous-e2e-twin-validator-test.yaml
  .github/workflows/continuous-e2e-validator-reboot-stress-test.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/forge-stable.yaml
Due: prettier-fmt

[gha] pin workflow module-verify to main
  .github/workflows/module-verify.yaml
Due: prettier-fmt

[gha] pin workflow replay-verify to main
  .github/workflows/replay-verify.yaml
Due: prettier-fmt
