Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Improve speed of chunky dealing and serialization (#18611)
  crates/aptos-batch-encryption/src/tests/fptx_weighted_smoke.rs
  crates/aptos-crypto/src/arkworks/mod.rs
  crates/aptos-crypto/src/arkworks/msm.rs
  crates/aptos-crypto/src/arkworks/scrape.rs
  crates/aptos-dkg/benches/pvss.rs
  crates/aptos-dkg/src/fiat_shamir.rs
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pcs/univariate_kzg.rs
  crates/aptos-dkg/src/pcs/zeromorph.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_elgamal_pp.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_scalar_mul.rs
  crates/aptos-dkg/src/pvss/chunky/hkzg_chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/hkzg_chunked_elgamal_commit.rs
  crates/aptos-dkg/src/pvss/chunky/mod.rs
  crates/aptos-dkg/src/pvss/chunky/public_parameters.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcript.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcriptv2.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixed_base_msms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/mod.rs
  crates/aptos-dkg/src/sigma_protocol/proof.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
  dkg/src/chunky/agg_subtrx_producer.rs
  dkg/src/chunky/dkg_manager.rs
  types/src/dkg/chunky_dkg.rs
Due: rust-fmt

Bump CLI to 8.0.0
  Cargo.lock
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Due: none

[masm] Add native function support for assembler-disassembler roundtripping (#18662)
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_ability.async-paranoid.exp
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_ability.baseline.exp
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_ability.masm
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_ability.paranoid.exp
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_generic.async-paranoid.exp
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_generic.baseline.exp
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_generic.masm
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_generic.paranoid.exp
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_type.async-paranoid.exp
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_type.baseline.exp
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_type.masm
  third_party/move/move-vm/transactional-tests/tests/function_values_safety/compatibility_arg_type.paranoid.exp
  third_party/move/move-vm/transactional-tests/tests/native_functions/clever_non_existant_native_function.masm
  third_party/move/move-vm/transactional-tests/tests/native_functions/non_existant_native_function.masm
  third_party/move/tools/move-asm/src/assembler.rs
  third_party/move/tools/move-asm/src/disassembler.rs
  third_party/move/tools/move-asm/src/syntax.rs
  third_party/move/tools/move-asm/tests/assembler/native_fun.exp
  third_party/move/tools/move-asm/tests/assembler/native_fun.masm
  third_party/move/tools/move-asm/tests/assembler/native_fun_with_body.exp
  third_party/move/tools/move-asm/tests/assembler/native_fun_with_body.masm
  third_party/move/tools/move-asm/tests/assembler/non_native_fun_no_body.exp
  third_party/move/tools/move-asm/tests/assembler/non_native_fun_no_body.masm
  third_party/move/tools/move-asm/tests/assembler/round-trip/native_fun.disassembled
  third_party/move/tools/move-asm/tests/assembler/round-trip/native_fun.disassembled.exp
Due: rust-fmt

[vm] Use Arc<MoveStructLayout> for shared struct layout caching (#18640)
  api/src/tests/move/pack_exceed_limit/Move.toml
  api/src/tests/move/pack_exceed_limit/sources/exceed_limit.move
  api/types/src/convert.rs
  aptos-move/aptos-aggregator/src/tests/identifier_mappings.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-move-tests/src/tests/type_too_large.data/type_too_large/sources/test.move
  aptos-move/framework/move-stdlib/src/natives/bcs.rs
  aptos-move/framework/src/natives/string_utils.rs
  execution/executor-benchmark/src/native/native_vm.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils/helpers.rs
  third_party/move/move-core/types/src/function.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-stdlib/docs/string.md
  third_party/move/move-stdlib/src/natives/debug.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/types/src/values/serialization_tests.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-bytecode-utils/src/layout.rs
  third_party/move/tools/move-resource-viewer/src/fat_type.rs
Due: rust-fmt

Display compiler errors when framework tests are run
  aptos-move/framework/tests/move_unit_test.rs
Due: rust-fmt

[storage] Gate hot state commit behind block executor progress
  execution/executor/src/block_executor/mod.rs
  execution/executor/src/chunk_executor/mod.rs
  storage/aptosdb/src/db/aptosdb_writer.rs
  storage/aptosdb/src/fast_sync_storage_wrapper.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/storage-interface/src/lib.rs
Due: rust-fmt

[consensus] Pre-verify shares before spawning aggregation task
  consensus/src/rand/rand_gen/rand_store.rs
  consensus/src/rand/rand_gen/types.rs
Due: rust-fmt

[consensus] Add Strong PC network messages (Phase 4, Chunk 2)
  consensus/prefix-consensus/src/lib.rs
  consensus/prefix-consensus/src/network_messages.rs
  consensus/prefix-consensus/src/types.rs
  project_context.md
Due: rust-fmt

Fix typescript tests flaking
  .gitignore
  crates/aptos-batch-encryption/src/tests/typescript/runner.rs
Due: rust-fmt

[consensus] Defer randomness aggregation for non-rand blocks
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/pipeline/pipeline_builder.rs
  consensus/src/rand/rand_gen/block_queue.rs
  consensus/src/rand/rand_gen/rand_manager.rs
  consensus/src/rand/rand_gen/rand_store.rs
  testsuite/smoke-test/src/randomness/deferred_rand_check.rs
  testsuite/smoke-test/src/randomness/mod.rs
Due: rust-fmt

[staking_contract] accurate staker and operator pending attributions
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  crates/aptos-rosetta/src/types/misc.rs
Due: rust-fmt

[framework] include cached rebuild in -a
  third_party/move/scripts/move_pr.sh
Due: none

Addressing reviewer comments
  aptos-move/framework/cached-packages/src/head.mrb
  third_party/move/scripts/move_pr.sh
Due: none

[framework] Eliminate build.rs from aptos-cached-packages
  Cargo.lock
  aptos-move/framework/cached-packages/Cargo.toml
  aptos-move/framework/cached-packages/README.md
  aptos-move/framework/cached-packages/build.rs
  aptos-move/framework/cached-packages/src/head.mrb
  aptos-move/framework/cached-packages/src/lib.rs
  aptos-move/framework/src/main.rs
  scripts/cargo_build_aptos_cached_packages.sh
Due: rust-fmt

[Storage] Gate hot state commit
  execution/executor/src/block_executor/mod.rs
  execution/executor/src/chunk_executor/mod.rs
  storage/aptosdb/src/db/aptosdb_writer.rs
  storage/aptosdb/src/fast_sync_storage_wrapper.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/storage-interface/src/lib.rs
Due: rust-fmt

[vm] Use Arc<MoveStructLayout> for shared struct layout caching (#18640) (#18694)
  api/src/tests/move/pack_exceed_limit/Move.toml
  api/src/tests/move/pack_exceed_limit/sources/exceed_limit.move
  api/types/src/convert.rs
  aptos-move/aptos-aggregator/src/tests/identifier_mappings.rs
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/block-executor/src/combinatorial_tests/mock_executor.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-move-tests/src/tests/type_too_large.data/type_too_large/sources/test.move
  aptos-move/framework/move-stdlib/src/natives/bcs.rs
  aptos-move/framework/src/natives/string_utils.rs
  execution/executor-benchmark/src/native/native_vm.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils/helpers.rs
  third_party/move/move-core/types/src/function.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-stdlib/docs/string.md
  third_party/move/move-stdlib/src/natives/debug.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/storage/ty_layout_converter.rs
  third_party/move/move-vm/types/src/values/serialization_tests.rs
  third_party/move/move-vm/types/src/values/value_depth_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-bytecode-utils/src/layout.rs
  third_party/move/tools/move-resource-viewer/src/fat_type.rs
Due: rust-fmt

[Storage] Gate hot state commit to prevent stale reads on fork branches
  execution/executor/src/block_executor/mod.rs
  execution/executor/src/chunk_executor/mod.rs
  storage/aptosdb/src/db/aptosdb_writer.rs
  storage/aptosdb/src/fast_sync_storage_wrapper.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/storage-interface/src/lib.rs
Due: rust-fmt

Display compiler errors when framework tests are run (#18693)
  aptos-move/framework/tests/move_unit_test.rs
Due: rust-fmt

[staking_contract] accurate staker and operator pending attributions (#18671)
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  crates/aptos-rosetta/src/types/misc.rs
Due: rust-fmt

[framework] Eliminate build.rs from aptos-cached-packages (#18625)
  Cargo.lock
  aptos-move/framework/cached-packages/Cargo.toml
  aptos-move/framework/cached-packages/README.md
  aptos-move/framework/cached-packages/build.rs
  aptos-move/framework/cached-packages/src/head.mrb
  aptos-move/framework/cached-packages/src/lib.rs
  aptos-move/framework/src/main.rs
  scripts/cargo_build_aptos_cached_packages.sh
  third_party/move/scripts/move_pr.sh
Due: rust-fmt

Some code simplifications around sigma protocol statement normalisation
  crates/aptos-dkg/src/pcs/univariate_hiding_kzg.rs
  crates/aptos-dkg/src/pcs/univariate_kzg.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_scalar_mul.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcript.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcriptv2.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/fixed_base_msms.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/mod.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Due: rust-fmt

[consensus] Merge optimistic verification smoke tests into one
  testsuite/smoke-test/src/randomness/optimistic_verification.rs
Due: rust-fmt

[storage] Make is_descendant_of check strict by walking the parent chain
  experimental/storage/layered-map/src/layer.rs
  experimental/storage/layered-map/src/tests.rs
Due: rust-fmt

Changed randomness generation in sigma and range proof verification code
  crates/aptos-dkg/benches/range_proof.rs
  crates/aptos-dkg/src/pvss/chunky/chunked_elgamal.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcript.rs
  crates/aptos-dkg/src/pvss/chunky/weighted_transcriptv2.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate.rs
  crates/aptos-dkg/src/range_proofs/dekart_univariate_v2.rs
  crates/aptos-dkg/src/range_proofs/traits.rs
  crates/aptos-dkg/src/sigma_protocol/homomorphism/tuple.rs
  crates/aptos-dkg/src/sigma_protocol/traits.rs
  crates/aptos-dkg/tests/range_proof.rs
  crates/aptos-dkg/tests/sigma_protocol.rs
Due: rust-fmt

debug
  testsuite/smoke-test/src/randomness/mod.rs
  testsuite/smoke-test/src/randomness/v2_to_v1_config_switch.rs
Due: rust-fmt

Use hash tables in sigma protocol verifier to decrease MSM size
  crates/aptos-dkg/src/sigma_protocol/traits.rs
Due: rust-fmt

[voting] fix voting boundary issue (#18680) (#18687)
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
Due: none

[voting] fix voting boundary issue (#18680) (#18686)
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
Due: none

[aptos-release-v1.41] Bump version to 1.41.0
  Cargo.lock
  aptos-node/Cargo.toml
Due: none

[aptos-release-v1.41] Bump version to 1.41.0 (#18703)
  Cargo.lock
  aptos-node/Cargo.toml
Due: none

[cached-packages] Update head.mrb
  .github/workflows/lint-test.yaml
  aptos-move/framework/cached-packages/README.md
  aptos-move/framework/cached-packages/src/head.mrb
Due: prettier-fmt

debug
  testsuite/smoke-test/src/randomness/v2_to_v1_config_switch.rs
Due: rust-fmt

[consensus] Replace dummy StateComputeResult in PipelinedBlock with OnceCell
  consensus/consensus-types/src/pipelined_block.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/block_storage/block_store_test.rs
  consensus/src/dag/adapter.rs
  consensus/src/pipeline/buffer_item.rs
  consensus/src/pipeline/tests/test_utils.rs
  consensus/src/rand/rand_gen/test_utils.rs
Due: rust-fmt
