Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[indexer] Remove broken test
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

Proptests
  aptos-move/block-executor/src/proptest_types/types.rs
Due: rust-fmt

[consensus] remove proposal precheck, just buffer it
  consensus/src/epoch_manager.rs
  consensus/src/round_manager.rs
Due: rust-fmt

drop smt in parallel
  Cargo.lock
  crates/aptos-drop-helper/src/lib.rs
  storage/scratchpad/Cargo.toml
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/scratchpad/src/sparse_merkle/node.rs
  storage/scratchpad/src/sparse_merkle/sparse_merkle_test.rs
  storage/scratchpad/src/sparse_merkle/test_utils/proptest_helpers.rs
  storage/scratchpad/src/sparse_merkle/updater.rs
Due: rust-fmt

trivial: change default drop helper buffer size to 32, to be defensive
  crates/aptos-drop-helper/src/lib.rs
Due: rust-fmt

AsyncDropQueue
  Cargo.lock
  crates/aptos-drop-helper/Cargo.toml
  crates/aptos-drop-helper/src/async_drop_queue.rs
  crates/aptos-drop-helper/src/lib.rs
Due: rust-fmt

refactor: DropHelper -> ConcurrentDroper
  crates/aptos-drop-helper/src/async_concurrent_dropper.rs
  crates/aptos-drop-helper/src/lib.rs
  execution/executor/src/components/block_tree/mod.rs
  execution/executor/src/components/in_memory_state_calculator_v2.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
Due: rust-fmt

Limit the maximum identifier length (#10678)
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/verifier/event_validation.rs
  aptos-move/aptos-vm/src/verifier/resource_groups.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/too_large.rs
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  third_party/move/move-binary-format/src/deserializer.rs
  third_party/move/move-binary-format/src/file_format_common.rs
  third_party/move/move-binary-format/src/unit_tests/deserializer_tests.rs
  third_party/move/move-binary-format/src/unit_tests/tool_long_identifier.mv
  third_party/move/move-vm/integration-tests/src/tests/binary_format_version.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/loader.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

[spec] specify functions in framework modules
  aptos-move/framework/aptos-framework/doc/chain_id.md
  aptos-move/framework/aptos-framework/doc/consensus_config.md
  aptos-move/framework/aptos-framework/doc/gas_schedule.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/guid.md
  aptos-move/framework/aptos-framework/doc/staking_config.md
  aptos-move/framework/aptos-framework/doc/version.md
  aptos-move/framework/aptos-framework/sources/chain_id.spec.move
  aptos-move/framework/aptos-framework/sources/configs/consensus_config.spec.move
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.spec.move
  aptos-move/framework/aptos-framework/sources/configs/staking_config.spec.move
  aptos-move/framework/aptos-framework/sources/configs/version.spec.move
  aptos-move/framework/aptos-framework/sources/genesis.spec.move
  aptos-move/framework/aptos-framework/sources/guid.spec.move
Due: none

use gcloud command instead
  .github/workflows/replay-verify.yaml
  terraform/helm/fullnode/files/backup/gcs.yaml
  testsuite/replay_verify.py
Due: prettier-fmt

Update SECURITY.md
  SECURITY.md
Due: none

Correct the feature number for `LIMIT_MAX_IDENTIFIER_LENGTH`
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

add missing changes from previous commit
  testsuite/replay_verify.py
Due: none

[forge][bugfix] Properly set chain backoff
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[CP][Storage] Commit transaction batches one by one to avoid gap.
  storage/aptosdb/src/lib.rs
Due: rust-fmt

[crypto] add secp256k1 support to aptos-crypto
  crates/aptos-crypto-derive/src/lib.rs
  crates/aptos-crypto/src/lib.rs
  crates/aptos-crypto/src/secp256k1_ecdsa.rs
  crates/aptos-crypto/src/traits.rs
  crates/aptos-crypto/src/unit_tests/mod.rs
  crates/aptos-crypto/src/unit_tests/secp256k1_test.rs
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
Due: rust-fmt, prettier-fmt

[types] remove prefix and rename derived_address on AuthenticationKey
  api/src/tests/transactions_test.rs
  aptos-move/vm-genesis/src/lib.rs
  config/src/config/network_config.rs
  crates/aptos-faucet/cli/src/main.rs
  crates/aptos-faucet/core/src/endpoints/fund.rs
  crates/aptos-faucet/core/src/funder/mint.rs
  crates/aptos-faucet/core/src/funder/transfer.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos-genesis/src/keys.rs
  crates/aptos-keygen/src/main.rs
  crates/aptos-ledger/src/lib.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos/src/common/types.rs
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  execution/executor/tests/db_bootstrapper_test.rs
  sdk/src/transaction_builder.rs
  sdk/src/types.rs
  testsuite/forge/src/interface/aptos.rs
  testsuite/smoke-test/src/transaction.rs
  testsuite/testcases/src/framework_upgrade.rs
  testsuite/testcases/src/validator_join_leave_test.rs
  types/src/account_address.rs
  types/src/transaction/authenticator.rs
Due: rust-fmt

[api] end to end test for secp256k1 ecdsa
  api/src/tests/mod.rs
  api/src/tests/secp256k1_ecdsa.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[types] remove AuthenticationKeyPreimage
  aptos-move/framework/src/natives/transaction_context.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  ecosystem/python/sdk/aptos_sdk/authenticator.py
  sdk/src/transaction_builder.rs
  testsuite/forge/src/interface/aptos.rs
  types/src/transaction/authenticator.rs
Due: rust-fmt

[openapi] update openapi with secp256k1
  api/doc/spec.json
  api/doc/spec.yaml
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/AccountSignature.ts
  ecosystem/typescript/sdk/src/generated/models/AccountSignature_Secp256k1EcdsaSignature.ts
  ecosystem/typescript/sdk/src/generated/models/Secp256k1EcdsaSignature.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionSignature.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionSignature_Secp256k1EcdsaSignature.ts
Due: prettier-fmt

[types] Add support for secp256k1 authenticator
  api/types/src/lib.rs
  api/types/src/transaction.rs
  crates/aptos-crypto/src/secp256k1_ecdsa.rs
  crates/aptos-crypto/src/unit_tests/mod.rs
  crates/aptos-crypto/src/unit_tests/secp256k1_ecdsa_test.rs
  crates/aptos-protos/proto/aptos/transaction/v1/transaction.proto
  crates/aptos-protos/src/pb/aptos.transaction.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.v1.serde.rs
  crates/indexer/src/models/signatures.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  types/src/transaction/authenticator.rs
Due: rust-fmt

[features] add secp256k1 ecdsa
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

FrozenSmt not holding oldest ancester
  Cargo.lock
  crates/aptos-drop-helper/src/async_drop_queue.rs
  execution/executor-types/src/in_memory_state_calculator.rs
  execution/executor/src/components/in_memory_state_calculator_v2.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_merkle_batch_committer.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/test_helper.rs
  storage/scratchpad/Cargo.toml
  storage/scratchpad/src/lib.rs
  storage/scratchpad/src/sparse_merkle/ancestors.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/storage-interface/src/cached_state_view.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/state_delta.rs
Due: rust-fmt

single_node_performance.py: allow overriding data dir
  testsuite/single_node_performance.py
Due: none

[spec] specify functions in framework modules (#10674)
  aptos-move/framework/aptos-framework/doc/chain_id.md
  aptos-move/framework/aptos-framework/doc/consensus_config.md
  aptos-move/framework/aptos-framework/doc/gas_schedule.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/guid.md
  aptos-move/framework/aptos-framework/doc/staking_config.md
  aptos-move/framework/aptos-framework/doc/version.md
  aptos-move/framework/aptos-framework/sources/chain_id.spec.move
  aptos-move/framework/aptos-framework/sources/configs/consensus_config.spec.move
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.spec.move
  aptos-move/framework/aptos-framework/sources/configs/staking_config.spec.move
  aptos-move/framework/aptos-framework/sources/configs/version.spec.move
  aptos-move/framework/aptos-framework/sources/genesis.spec.move
  aptos-move/framework/aptos-framework/sources/guid.spec.move
Due: none

[aptos-vm] enable automatic creation of sponsored accounts
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/system_module_names.rs
  aptos-move/e2e-move-tests/src/tests/fee_payer.rs
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

[fee-payer] make fee payer address optionally set during signing
  api/src/tests/transactions_test.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
Due: rust-fmt

fixups necessary from previous commits and upcoming
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  experimental/execution/ptx-executor/src/runner.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[types] require that fee payer acknowledge that they are fee payer
  api/src/tests/transactions_test.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  types/src/transaction/authenticator.rs
Due: rust-fmt

[types] introducing single sender auth of single and multi keys
  api/types/src/lib.rs
  api/types/src/transaction.rs
  crates/aptos-bitvec/src/lib.rs
  crates/aptos-protos/proto/aptos/transaction/v1/transaction.proto
  crates/aptos-protos/src/pb/aptos.transaction.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.v1.serde.rs
  crates/indexer/src/models/signatures.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
Due: rust-fmt, prettier-fmt

[authenticator] rename AnyKey to AnyPublicKey
  api/src/tests/secp256k1_ecdsa.rs
  api/types/src/transaction.rs
  crates/aptos-protos/proto/aptos/transaction/v1/transaction.proto
  crates/aptos-protos/src/pb/aptos.transaction.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.v1.serde.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  testsuite/generate-format/src/api.rs
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/api.yaml
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
Due: rust-fmt, prettier-fmt

[authenticator] addreses -> addresses
  aptos-move/aptos-vm/src/transaction_metadata.rs
  crates/aptos-rosetta/src/construction.rs
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[authenticator] merge secp256k1_ecdsa into single sender
  api/src/tests/secp256k1_ecdsa.rs
  api/types/src/lib.rs
  api/types/src/transaction.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos-protos/proto/aptos/transaction/v1/transaction.proto
  crates/aptos-protos/src/pb/aptos.transaction.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.v1.serde.rs
  crates/indexer/src/models/signatures.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[authenticator] update open api
  api/doc/spec.json
  api/doc/spec.yaml
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/AccountSignature.ts
  ecosystem/typescript/sdk/src/generated/models/AccountSignature_MultiKeySignature.ts
  ecosystem/typescript/sdk/src/generated/models/AccountSignature_Secp256k1EcdsaSignature.ts
  ecosystem/typescript/sdk/src/generated/models/AccountSignature_SingleKeySignature.ts
  ecosystem/typescript/sdk/src/generated/models/IndexedSignature.ts
  ecosystem/typescript/sdk/src/generated/models/MultiKeySignature.ts
  ecosystem/typescript/sdk/src/generated/models/PublicKey.ts
  ecosystem/typescript/sdk/src/generated/models/PublicKey_string_HexEncodedBytes_.ts
  ecosystem/typescript/sdk/src/generated/models/Secp256k1EcdsaSignature.ts
  ecosystem/typescript/sdk/src/generated/models/Signature.ts
  ecosystem/typescript/sdk/src/generated/models/Signature_string_HexEncodedBytes_.ts
  ecosystem/typescript/sdk/src/generated/models/SingleKeySignature.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionSignature.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionSignature_AccountSignature.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionSignature_Secp256k1EcdsaSignature.ts
Due: prettier-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
