Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

update docs
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
Due: none

Add a new_from and add_all functions to simple_map (#8723)
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
  aptos-move/framework/aptos-stdlib/sources/simple_map.spec.move
Due: none

Add documentation and tests for type_info functions (#8706)
  aptos-move/framework/aptos-stdlib/doc/type_info.md
  aptos-move/framework/aptos-stdlib/sources/type_info.move
Due: none

Add standard new() functions to pool_u64 and pool_u64_unlimited
  aptos-move/framework/aptos-stdlib/doc/pool_u64.md
  aptos-move/framework/aptos-stdlib/doc/pool_u64_unbound.md
  aptos-move/framework/aptos-stdlib/sources/pool_u64.move
  aptos-move/framework/aptos-stdlib/sources/pool_u64_unbound.move
Due: none

init
  aptos-move/framework/aptos-framework/sources/code.spec.move
Due: none

Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Due: none

Fix specs
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  aptos-move/framework/aptos-framework/sources/voting.spec.move
Due: none

Remove unnecessary move prover change
  third_party/move/move-prover/bytecode/src/function_target_pipeline.rs
Due: rust-fmt

add examples folder to npmignore
  ecosystem/typescript/sdk/.npmignore
Due: none

Minor changes
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
Due: rust-fmt

Add a new function to allow migrating existings account to multisig account while immediately revoking auth key access
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/doc/multisig_account.md
  aptos-move/framework/aptos-framework/multisig_account.spec.move
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/multisig_account.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Due: rust-fmt

Fix enable_partial_governance_voting condition in initialize_delegation_pool
  aptos-move/framework/aptos-framework/doc/delegation_pool.md
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
Due: none

fix timeout
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/gas_schedule.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/configs/gas_schedule.spec.move
Due: none

Remove all reference to aptoslabs.com/testnet-faucet, improve faucet docs
  developer-docs-site/docs/guides/nfts/mint-nft-cli.md
  developer-docs-site/docs/nodes/deployments.md
  developer-docs-site/docs/reference/glossary.md
Due: none

[Helm] Update autoscaling charts
  terraform/helm/autoscaling/Chart.lock
  terraform/helm/autoscaling/Chart.yaml
  terraform/helm/autoscaling/charts/metrics-server-3.10.0.tgz
  terraform/helm/autoscaling/charts/metrics-server-3.8.2.tgz
  terraform/helm/autoscaling/values.yaml
Due: prettier-fmt

Update generics.md (#8581)
  developer-docs-site/docs/move/book/generics.md
Due: none

[Helm] Update Calico version
  terraform/aptos-node/aws/kubernetes.tf
Due: none

[GHA] Increase the polling interval of merge_gatekeeper to 1 minute
  .github/workflows/merge-gatekeeper.yaml
Due: prettier-fmt

Revert "[forge] Fix long running job failure" (#8625)
  .github/actions/docker-setup/action.yaml
  .github/workflows/workflow-run-forge.yaml
  testsuite/fixtures/testPossibleAuthFailureMessage.fixture
  testsuite/forge.py
  testsuite/forge_test.py
Due: prettier-fmt

[forge] Fix long running job failure
  .github/actions/docker-setup/action.yaml
  .github/workflows/workflow-run-forge.yaml
  testsuite/fixtures/testPossibleAuthFailureMessage.fixture
  testsuite/forge.py
  testsuite/forge_test.py
Due: prettier-fmt

[Sharding] Integrate executor benchmark with sharded block-stm (#8566)
  aptos-move/aptos-vm/src/sharded_block_executor/counters.rs
  aptos-move/aptos-vm/src/sharded_block_executor/mod.rs
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/p2p_transaction_generator.rs
  execution/executor-benchmark/src/account_generator.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/transaction_generator.rs
Due: rust-fmt

[gha] set up merge gatekeeper (#8586)
  .github/workflows/merge-gatekeeper.yaml
Due: prettier-fmt

[terraform][gcp][testnet] make default daily 24h (#8607)
  terraform/aptos-node-testnet/gcp/variables.tf
  terraform/aptos-node/gcp/variables.tf
Due: none

consistant operation naming (#8600)
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[gha] fix merge gatekeeper with checkout (#8629)
  .github/workflows/merge-gatekeeper.yaml
Due: prettier-fmt

Spec aptos account (#8364)
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/aptos_account.spec.move
Due: none

[Storage][Sharding] Implement create_checkpoint for LedgerDb, and deprecate use_state_kv_db flag. (#8602)
  aptos-node/src/storage.rs
  config/src/config/storage_config.rs
  execution/executor-benchmark/src/db_generator.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/main.rs
  storage/aptosdb/src/db_debugger/checkpoint/mod.rs
  storage/aptosdb/src/db_debugger/examine/print_db_versions.rs
  storage/aptosdb/src/db_debugger/truncate/mod.rs
  storage/aptosdb/src/ledger_db.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/state_kv_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
  testsuite/single_node_performance.py
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/storage.rs
Due: rust-fmt

[Storage Service] Fix flaky tests.
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/tests/new_transaction_outputs.rs
  state-sync/storage-service/server/src/tests/new_transactions.rs
  state-sync/storage-service/server/src/tests/new_transactions_or_outputs.rs
  state-sync/storage-service/server/src/tests/utils.rs
Due: rust-fmt

disable state metadata tracking for devnet
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__borrow_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__change_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__move_from_across_blocks.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__duplicate_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_compatible_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_changed_field.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_new_field.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_removed_field.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_removed_struct.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_compatible_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_incompatible_module_with_added_param.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_incompatible_module_with_changed_param.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_incompatible_module_with_removed_pub_fn.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__test_publishing_allow_modules.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__test_publishing_modules_proper_sender.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_open_publishing.exp
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

Fix the order of signer and non-signer tx arg validation to maintain backward compatibility (#8649)
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
Due: rust-fmt

Update CONTRIBUTING.md (#8620)
  CONTRIBUTING.md
Due: none

[Indexer] Token v2 improvement (#8436)
  crates/indexer/migrations/2023-05-24-052435_token_properties_v2/down.sql
  crates/indexer/migrations/2023-05-24-052435_token_properties_v2/up.sql
  crates/indexer/src/models/coin_models/mod.rs
  crates/indexer/src/models/coin_models/v2_fungible_asset_utils.rs
  crates/indexer/src/models/token_models/mod.rs
  crates/indexer/src/models/token_models/v2_token_activities.rs
  crates/indexer/src/models/token_models/v2_token_datas.rs
  crates/indexer/src/models/token_models/v2_token_metadata.rs
  crates/indexer/src/models/token_models/v2_token_ownerships.rs
  crates/indexer/src/models/token_models/v2_token_utils.rs
  crates/indexer/src/models/v2_objects.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/schema.rs
Due: rust-fmt

[move-example] refactor fungible asset examples
  aptos-move/move-examples/fungible_asset/Move.toml
  aptos-move/move-examples/fungible_asset/sources/coin_example.move
  aptos-move/move-examples/fungible_asset/sources/managed_fungible_asset.move
  aptos-move/move-examples/fungible_asset/sources/simple_managed_coin.move
Due: none

[TF] Add variable for enabling loadtesting on GCP testnets
  terraform/aptos-node-testnet/gcp/addons.tf
  terraform/aptos-node-testnet/gcp/variables.tf
Due: none

Deprecate the storage gas curves
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/params.rs
  aptos-move/aptos-gas/src/transaction/mod.rs
  aptos-move/aptos-gas/src/transaction/storage.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__borrow_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__change_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__data_store__move_from_across_blocks.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__duplicate_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_compatible_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_changed_field.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_new_field.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_removed_field.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__layout_incompatible_module_with_removed_struct.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_compatible_module.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_incompatible_module_with_added_param.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_incompatible_module_with_changed_param.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__linking_incompatible_module_with_removed_pub_fn.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__test_publishing_allow_modules.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__module_publishing__test_publishing_modules_proper_sender.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_open_publishing.exp
Due: rust-fmt

[Sharding][Partitioning] Add support for dependent edges and conflicting storage location info (#8608)
  execution/block-partitioner/src/sharded_block_partitioner/conflict_detector.rs
  execution/block-partitioner/src/sharded_block_partitioner/cross_shard_messages.rs
  execution/block-partitioner/src/sharded_block_partitioner/dependent_edges.rs
  execution/block-partitioner/src/sharded_block_partitioner/messages.rs
  execution/block-partitioner/src/sharded_block_partitioner/mod.rs
  execution/block-partitioner/src/sharded_block_partitioner/partitioning_shard.rs
  execution/block-partitioner/src/types.rs
  execution/executor-types/src/lib.rs
  types/src/transaction/analyzed_transaction.rs
Due: rust-fmt

[GHA] Pin main branch workflow for indexer workflow (#8653)
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

update the tls part for data service. (#8632)
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/README.md
  ecosystem/indexer-grpc/indexer-grpc-data-service/README.md
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
  ecosystem/indexer-grpc/indexer-grpc-utils/src/cache_operator.rs
Due: rust-fmt

feat: added bcsSerializeU256 (#8619)
  ecosystem/typescript/sdk/src/bcs/helper.ts
Due: prettier-fmt

[move-examples] pre-minted managed FA
  aptos-move/e2e-move-tests/src/tests/fungible_asset.rs
  aptos-move/move-examples/fungible_asset/README.md
  aptos-move/move-examples/fungible_asset/managed_fungible_asset/Move.toml
  aptos-move/move-examples/fungible_asset/managed_fungible_asset/sources/coin_example.move
  aptos-move/move-examples/fungible_asset/managed_fungible_asset/sources/managed_fungible_asset.move
  aptos-move/move-examples/fungible_asset/managed_fungible_token/Move.toml
  aptos-move/move-examples/fungible_asset/managed_fungible_token/sources/managed_fungible_token.move
  aptos-move/move-examples/fungible_asset/preminted_managed_coin/Move.toml
  aptos-move/move-examples/fungible_asset/preminted_managed_coin/sources/preminted_managed_coin.move
  aptos-move/move-examples/fungible_asset/simple_managed_coin/Move.toml
  aptos-move/move-examples/fungible_asset/simple_managed_coin/sources/simple_managed_coin.move
  aptos-move/move-examples/fungible_asset/sources/simple_managed_coin.move
  aptos-move/move-examples/fungible_token/Move.toml
  aptos-move/move-examples/tests/move_unit_tests.rs
Due: rust-fmt
