Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[aptos-rosetta] Make all errors 500s
  crates/aptos-rosetta/src/error.rs
Due: rust-fmt

[Forge] Add system metrics check back with retry
  testsuite/forge/src/interface/system_metrics.rs
  testsuite/testcases/src/performance_with_fullnode_test.rs
Due: rust-fmt

fix transfer_coin example
  ecosystem/typescript/sdk/examples/typescript/transfer_coin.ts
Due: prettier-fmt

Fix ecosystem-lint
  developer-docs-site/package.json
  developer-docs-site/yarn.lock
  ecosystem/typescript/sdk/package.json
Due: none

Fix ecosystem-lint (#3495)
  developer-docs-site/package.json
  developer-docs-site/yarn.lock
  ecosystem/typescript/sdk/package.json
Due: none

Bump TS SDK to 1.3.9
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
Due: none

[aptos-cli] Bump to 0.3.1
  Cargo.lock
  crates/aptos/Cargo.toml
Due: none

Make TS SDK examples use npmjs package
  .github/workflows/check-docs-site-examples.yaml
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/examples/README.md
  ecosystem/typescript/sdk/examples/javascript/package.json
  ecosystem/typescript/sdk/examples/typescript/package.json
Due: prettier-fmt

[smoke-tests] Reverting concurrency back
  .github/workflows/lint-test.yaml
Due: prettier-fmt

Revert "CICD: overhaul secrets management and move from github actions's secret management to GCP Secrets Manager (#3317)"
  .github/actions/gar-auth/action.yaml
  .github/actions/load-ci-env/action.yaml
  .github/actions/load-secrets/action.yaml
  .github/workflows/build-images.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/deploy-community-platform.yaml
  .github/workflows/run-forge.yaml
  .github/workflows/sdk-release.yaml
  docker/docker-bake-rust-all.hcl
  ecosystem/indexer-server/docker-bake.hcl
  ecosystem/platform/server/docker-bake.hcl
Due: prettier-fmt

Revert "CICD: overhaul secrets management and move from github actions's secret management to GCP Secrets Manager" (#3500)
  .github/actions/gar-auth/action.yaml
  .github/actions/load-ci-env/action.yaml
  .github/actions/load-secrets/action.yaml
  .github/workflows/build-images.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/deploy-community-platform.yaml
  .github/workflows/run-forge.yaml
  .github/workflows/sdk-release.yaml
  docker/docker-bake-rust-all.hcl
  ecosystem/indexer-server/docker-bake.hcl
  ecosystem/platform/server/docker-bake.hcl
Due: prettier-fmt

[Storage] Use thread pools to make IO operations async.
  execution/executor/src/components/chunk_output.rs
  storage/storage-interface/src/cached_state_view.rs
Due: rust-fmt

[forge] Fix workflow
  .github/workflows/continuous-e2e-release-test.yaml
  .github/workflows/run-forge.yaml
Due: prettier-fmt

build: bundling, tree shaking and minimizing TS SDK
  ecosystem/typescript/sdk/AxiosHttpRequest.ts.patch
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/tsconfig.json
Due: none

refactor: less buffer copies for signing message
  ecosystem/typescript/sdk/AxiosHttpRequest.ts.patch
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/transaction_builder/aptos_types/authentication_key.ts
  ecosystem/typescript/sdk/src/transaction_builder/builder.ts
  ecosystem/typescript/sdk/tsdx.config.js
Due: prettier-fmt

[indexer] Allow for failures in ledger info
  ecosystem/indexer/src/indexer/fetcher.rs
Due: rust-fmt

chore: make TS SDK dual module
  ecosystem/typescript/sdk/package.json
Due: none

[State Sync] Yield the CPU/disk bound threads.
  crates/transaction-emitter-lib/src/emitter/mod.rs
  state-sync/state-sync-v2/state-sync-driver/src/storage_synchronizer.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

chore: lower jest version to be compatible with ts-jest
  ecosystem/typescript/sdk/package.json
Due: none

[Token] use flat map to replace the nested table
  aptos-move/framework/aptos-token/sources/token_transfers.move
Due: none

add token store init when user switch opt_in
  aptos-move/framework/aptos-token/sources/token.move
Due: none

fix aptos compile command
  developer-docs-site/docs/tutorials/first-move-module-cli.md
Due: none

fix aptos fund command
  developer-docs-site/docs/cli-tools/aptos-cli-tool/use-aptos-cli.md
Due: none

Added the prover-test workflow for CI
  .github/actions/rust-setup/action.yaml
  .github/workflows/prover-test.yaml
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/framework/aptos-framework/sources/event.spec.move
  aptos-move/framework/aptos-stdlib/sources/debug.spec.move
  aptos-move/framework/tests/move_prover_tests.rs
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
Due: rust-fmt, prettier-fmt

[docs] Concept doc of code upgrade
  developer-docs-site/docs/concepts/index.md
  developer-docs-site/docs/concepts/upgrading-code.md
Due: none

test for calling key rotation twice
  aptos-move/e2e-move-tests/tests/rotate_auth_key.rs
Due: rust-fmt

[cli] package building point main branch for now
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

[code upgrade] Verify package dependency policy
  aptos-move/e2e-move-tests/src/aggregator.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/package_builder.rs
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/aptos-stdlib/sources/any.move
  aptos-move/framework/aptos-stdlib/sources/copyable_any.move
  aptos-move/framework/src/built_package.rs
  aptos-move/framework/src/natives/any.rs
  aptos-move/framework/src/natives/code.rs
  testsuite/smoke-test/src/aptos_cli/move.rs
Due: rust-fmt

[framework] massage byte_conversions into util
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/byte_conversions.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/framework/aptos-framework/sources/util.move
Due: none

[framework] accidentally committed this file...
  aptos-move/framework/src/natives/core_account.rs
Due: rust-fmt

[Aptos Framework] Fix incorrect hex address value
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/system_addresses.move
Due: none

[aptos-telemetry-service] bug fixes - Set default role type in AuthRequest for backwards compatibility - Set proper with_auth roles prometheus and log ingest
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry/src/sender.rs
Due: rust-fmt

resource_account register AptosCoin
  aptos-move/framework/aptos-framework/sources/resource_account.move
Due: none

Fix for account namespace rename
  apps/extension/src/core/constants.ts
Due: prettier-fmt

[Docs] Adding sidebar entry and moving the doc to Move Guides section and some editorial fixes.
  developer-docs-site/docs/concepts/index.md
  developer-docs-site/docs/concepts/upgrading-code.md
  developer-docs-site/docs/guides/index.md
  developer-docs-site/docs/guides/move-guides/index.md
  developer-docs-site/docs/guides/move-guides/upgrading-move-code.md
  developer-docs-site/sidebars.js
Due: prettier-fmt

[Docs] Calling out Move code upgrade doc.
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

Modify footer and routes to include staking
  apps/extension/src/core/components/WalletFooter.tsx
  apps/extension/src/core/routes.tsx
  apps/extension/src/pages/Account.tsx
  apps/extension/src/pages/Stake.tsx
Due: prettier-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
