Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

add aptos config
  ecosystem/typescript/sdk/v2/src/aptos.ts
  ecosystem/typescript/sdk/v2/src/aptos_config.ts
  ecosystem/typescript/sdk/v2/src/utils/api-endpoints.ts
  ecosystem/typescript/sdk/v2/src/utils/const.ts
  ecosystem/typescript/sdk/v2/src/utils/index.ts
Due: prettier-fmt

create types folder
  ecosystem/typescript/sdk/v2/package.json
  ecosystem/typescript/sdk/v2/src/api/account.ts
  ecosystem/typescript/sdk/v2/src/types/index.ts
Due: prettier-fmt

modify tests
  ecosystem/typescript/sdk/v2/tests/api/account.test.ts
Due: prettier-fmt

tweak
  execution/block-partitioner/src/omega_partitioner/mod.rs
Due: rust-fmt

[api] Fix transitive dependency
  api/types/Cargo.toml
Due: none

update cargo.lock
  Cargo.lock
Due: none

[various] Cleanup clippy warnings
  aptos-move/framework/src/natives/transaction_context.rs
  third_party/move/move-compiler/src/inlining/translate.rs
  third_party/move/move-model/src/model.rs
  third_party/move/move-prover/bytecode/src/verification_analysis.rs
  third_party/move/move-prover/bytecode/src/verification_analysis_v2.rs
  types/src/proptest_types.rs
Due: rust-fmt

[various] Cleanup doc warnings
  aptos-move/framework/src/natives/cryptography/algebra/arithmetics/scalar_mul.rs
  config/src/config/api_config.rs
  storage/jellyfish-merkle/src/lib.rs
Due: rust-fmt

[deps] Update arr_macro
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

[deps] Upgrade arc swap
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

[deps] Upgrade anyhow to 1.0.71
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

executor-benchmark
  execution/executor-benchmark/src/main.rs
  execution/executor-benchmark/src/pipeline.rs
Due: rust-fmt

test for conversion from/to storage change set
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
Due: rust-fmt

install openapi and modify build commands
  ecosystem/typescript/sdk_v2/src/api/aptos.ts
  ecosystem/typescript/sdk_v2/src/api/index.ts
  ecosystem/typescript/sdk_v2/src/api/transaction.ts
  ecosystem/typescript/sdk_v2/src/transactions/builder.ts
  ecosystem/typescript/sdk_v2/src/transactions/builder_utils.ts
  ecosystem/typescript/sdk_v2/src/transactions/generate_raw_transaction.ts
  ecosystem/typescript/sdk_v2/src/transactions/index.ts
  ecosystem/typescript/sdk_v2/src/transactions/type_tag.ts
  ecosystem/typescript/sdk_v2/src/transactions/types.ts
  ecosystem/typescript/sdk_v2/src/types/abi.ts
  ecosystem/typescript/sdk_v2/tests/transactions.test.ts
Due: prettier-fmt

[api] Fix transitive dependency (#9323)
  Cargo.lock
  api/types/Cargo.toml
Due: none

[Storage Service] Reduce storage summary config interval.
  config/src/config/state_sync_config.rs
Due: rust-fmt

set default denominator to 1 (#9341)
  ecosystem/typescript/sdk/src/plugins/aptos_token.ts
  ecosystem/typescript/sdk/src/tests/e2e/aptos_token.test.ts
Due: prettier-fmt

additional partitioner timers (#9267)
  execution/block-partitioner/src/sharded_block_partitioner/counters.rs
  execution/block-partitioner/src/sharded_block_partitioner/mod.rs
Due: rust-fmt

[storage] monitor the latest compacted version
  storage/backup/backup-cli/src/coordinators/backup.rs
  storage/backup/backup-cli/src/metadata/view.rs
  storage/backup/backup-cli/src/metrics/backup.rs
Due: rust-fmt

[gas] clean up unused files & address cosmetic issues (#9338)
  aptos-move/aptos-gas-algebra/src/abstract_algebra.rs
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/aptos-gas/src/gas_meter.rs
Due: rust-fmt

Add pseudo metering for type to type tag computation to bound the time and space of the result (#94)
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
  aptos-move/e2e-move-tests/src/tests/too_large.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/too_large.data/pack/sources/gen_poc.py
  aptos-move/e2e-move-tests/src/tests/too_large.data/pack/sources/poc.move
  aptos-move/e2e-move-tests/src/tests/too_large.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/loader.rs
  types/src/on_chain_config/timed_features.rs
Due: rust-fmt

Set timestamps (#99)
  types/src/on_chain_config/timed_features.rs
Due: rust-fmt

Use charge method (#100)
  aptos-move/move-examples/scripts/too_large/Move.toml
  aptos-move/move-examples/scripts/too_large/sources/too_large.move
  third_party/move/move-vm/runtime/src/loader.rs
Due: rust-fmt

implement async queue
  ecosystem/typescript/sdk/examples/typescript/transactions_management.ts
  ecosystem/typescript/sdk/src/transactions/account_sequence_number.ts
  ecosystem/typescript/sdk/src/transactions/async_queue.ts
  ecosystem/typescript/sdk/src/transactions/transaction_worker.ts
Due: prettier-fmt

add method comments
  ecosystem/typescript/sdk/examples/typescript/transactions_management.ts
  ecosystem/typescript/sdk/src/transactions/account_sequence_number.ts
  ecosystem/typescript/sdk/src/transactions/tests/account_sequence_number.test.ts
  ecosystem/typescript/sdk/src/transactions/transaction_worker.ts
Due: prettier-fmt

address comments
  ecosystem/typescript/sdk/examples/typescript/transactions_management.ts
  ecosystem/typescript/sdk/src/transactions/account_sequence_number.ts
  ecosystem/typescript/sdk/src/transactions/tests/account_sequence_number.test.ts
  ecosystem/typescript/sdk/src/transactions/tests/transaction_worker.test.ts
  ecosystem/typescript/sdk/src/transactions/transaction_worker.ts
Due: prettier-fmt

add account transaction management
  ecosystem/typescript/sdk/examples/typescript/transactions_management.ts
  ecosystem/typescript/sdk/pnpm-lock.yaml
  ecosystem/typescript/sdk/src/index.ts
  ecosystem/typescript/sdk/src/providers/aptos_client.ts
  ecosystem/typescript/sdk/src/transactions/account_sequence_number.ts
  ecosystem/typescript/sdk/src/transactions/index.ts
  ecosystem/typescript/sdk/src/transactions/tests/account_sequence_number.test.ts
  ecosystem/typescript/sdk/src/transactions/tests/transaction_worker.test.ts
  ecosystem/typescript/sdk/src/transactions/transaction_worker.ts
Due: prettier-fmt

events as enum
  ecosystem/typescript/sdk/examples/typescript/transactions_management.ts
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/pnpm-lock.yaml
  ecosystem/typescript/sdk/src/transactions/transaction_worker.ts
Due: prettier-fmt

Apply patch
  types/src/on_chain_config/timed_features.rs
Due: rust-fmt

Update transaction-management.md
  developer-docs-site/docs/guides/transaction-management.md
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
