Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

update hardware requirement (#2662)
  developer-docs-site/docs/nodes/ait/node-requirements.md
Due: none

[aptos-framework] Change aptos coin currency code to APT (#2668)
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  crates/aptos-rosetta/aptos.ros
  crates/aptos-rosetta/src/common.rs
Due: rust-fmt

[aptos-telemetry] Big query ingestion endpoiint
  Cargo.lock
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/custom_telemetry.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt

[Indexer] Migrate i64 to Numeric to support u64 (and more)
  Cargo.lock
  Cargo.toml
  ecosystem/indexer/Cargo.toml
  ecosystem/indexer/migrations/2022-08-08-210900_create_uxxx_domains/down.sql
  ecosystem/indexer/migrations/2022-08-08-210900_create_uxxx_domains/up.sql
  ecosystem/indexer/migrations/2022-08-08-210901_migrate_fields_to_numeric/down.sql
  ecosystem/indexer/migrations/2022-08-08-210901_migrate_fields_to_numeric/up.sql
  ecosystem/indexer/migrations/2022-08-08-212440_migrate_token_fields_to_numeric/down.sql
  ecosystem/indexer/migrations/2022-08-08-212440_migrate_token_fields_to_numeric/up.sql
  ecosystem/indexer/src/indexer/transaction_processor.rs
  ecosystem/indexer/src/lib.rs
  ecosystem/indexer/src/models/collection.rs
  ecosystem/indexer/src/models/events.rs
  ecosystem/indexer/src/models/metadata.rs
  ecosystem/indexer/src/models/ownership.rs
  ecosystem/indexer/src/models/processor_statuses.rs
  ecosystem/indexer/src/models/token.rs
  ecosystem/indexer/src/models/token_activity.rs
  ecosystem/indexer/src/models/transactions.rs
  ecosystem/indexer/src/schema.rs
  ecosystem/indexer/src/token_processor.rs
  ecosystem/indexer/src/util.rs
Due: rust-fmt, rust-cargo-sort

remove unwrap
  types/src/validator_verifier.rs
Due: rust-fmt

[aptos-cli] Allow empty config in global config
  crates/aptos/src/common/types.rs
  crates/aptos/src/config/mod.rs
Due: rust-fmt

[storage] Return min_readable_version cached in pruner for get_first_txn and write_set API (#2683)
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/transaction_store/mod.rs
  storage/aptosdb/src/transaction_store/test.rs
Due: rust-fmt

fix
  testsuite/run_forge.sh
Due: none

Test
  api/src/accounts.rs
  api/src/context.rs
  api/src/poem_backend/accounts.rs
  config/src/config/mempool_config.rs
  testsuite/run_forge.sh
Due: rust-fmt

Fix first_transaction
  developer-docs-site/static/examples/typescript/first_transaction.ts
Due: prettier-fmt

Fix url when waiting pending tx
  ecosystem/typescript/sdk/src/generated/services/TransactionsService.ts
Due: prettier-fmt

make substream folder usable externally
  crates/aptos-substreams/Cargo.lock
  crates/aptos-substreams/Cargo.toml
  crates/aptos-substreams/src/lib.rs
Due: rust-fmt

fix(examples): modify coin::register to coins::register
  developer-docs-site/static/examples/python/first_coin.py
  developer-docs-site/static/examples/rust/first_coin/src/lib.rs
  developer-docs-site/static/examples/typescript/first_coin.ts
Due: rust-fmt, prettier-fmt

[aptos-stdlib] Typed Property Tables
  aptos-move/framework/aptos-framework/sources/type_map.move
  aptos-move/framework/aptos-framework/sources/util.move
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
Due: none

ignore spkg files
  crates/aptos-substreams/.gitignore
  crates/aptos-substreams/aptos-firehose-v0.0.1.spkg
Due: none

resolve cargo xclippy
  crates/aptos-substreams/src/lib.rs
  crates/aptos-substreams/src/transaction_converter.rs
Due: rust-fmt

Adding Flame and std rolling
  Cargo.lock
  config/src/config/mod.rs
  consensus/Cargo.toml
  consensus/src/consensus_provider.rs
  consensus/src/network.rs
  crates/aptos-logger/Cargo.toml
  crates/aptos-logger/src/logger.rs
  mempool/Cargo.toml
  mempool/src/shared_mempool/runtime.rs
Due: rust-fmt

[Genesis] Make rewards and governance params configurable and set reasonable defaults in tests
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/vm-genesis/src/lib.rs
  aptos-node/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/genesis/tests.rs
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
  testsuite/smoke-test/src/aptos_cli.rs
Due: rust-fmt, prettier-fmt

[Aptos Framework][Staking] Remove max stake flooring and update rewards distribution to mint to both active/pending_inactive
  aptos-move/framework/aptos-framework/sources/stake.move
Due: none

[State Sync] Add support for counting the num of persisted state values.
  Cargo.lock
  aptos-node/src/lib.rs
  config/src/config/state_sync_config.rs
  state-sync/state-sync-v2/data-streaming-service/src/tests/utils.rs
  state-sync/state-sync-v2/state-sync-driver/Cargo.toml
  state-sync/state-sync-v2/state-sync-driver/src/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/driver_factory.rs
  state-sync/state-sync-v2/state-sync-driver/src/lib.rs
  state-sync/state-sync-v2/state-sync-driver/src/metadata_storage.rs
  state-sync/state-sync-v2/state-sync-driver/src/notification_handlers.rs
  state-sync/state-sync-v2/state-sync-driver/src/storage_synchronizer.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/bootstrapper.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/driver_factory.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/metadata_storage.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mod.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/storage_synchronizer.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/state_sync.rs
Due: rust-fmt

[Indexer] Migrate i64 to Numeric to support u64 (and more) (#2621)
  Cargo.lock
  Cargo.toml
  ecosystem/indexer/Cargo.toml
  ecosystem/indexer/migrations/2022-08-08-210900_create_uxxx_domains/down.sql
  ecosystem/indexer/migrations/2022-08-08-210900_create_uxxx_domains/up.sql
  ecosystem/indexer/migrations/2022-08-08-210901_migrate_fields_to_numeric/down.sql
  ecosystem/indexer/migrations/2022-08-08-210901_migrate_fields_to_numeric/up.sql
  ecosystem/indexer/migrations/2022-08-08-212440_migrate_token_fields_to_numeric/down.sql
  ecosystem/indexer/migrations/2022-08-08-212440_migrate_token_fields_to_numeric/up.sql
  ecosystem/indexer/src/indexer/transaction_processor.rs
  ecosystem/indexer/src/lib.rs
  ecosystem/indexer/src/models/collection.rs
  ecosystem/indexer/src/models/events.rs
  ecosystem/indexer/src/models/metadata.rs
  ecosystem/indexer/src/models/ownership.rs
  ecosystem/indexer/src/models/processor_statuses.rs
  ecosystem/indexer/src/models/token.rs
  ecosystem/indexer/src/models/token_activity.rs
  ecosystem/indexer/src/models/transactions.rs
  ecosystem/indexer/src/schema.rs
  ecosystem/indexer/src/token_processor.rs
  ecosystem/indexer/src/util.rs
Due: rust-fmt, rust-cargo-sort

[code publishing] Add CLI commands for inspecting and downloading packages
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-sdk-builder/src/rust.rs
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_basic.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_immutable.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_overlapping_module.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_loader_cache_consistency.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_no_compat.exp
  aptos-move/e2e-move-tests/tests/init_module.data/init_module.exp
  aptos-move/e2e-move-tests/tests/string_args.data/string_args.exp
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/src/natives/code.rs
  aptos-move/move-deps/Cargo.toml
  crates/aptos/src/move_tool/built_package.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/move_tool/stored_package.rs
Due: rust-fmt

adding strace and htop
  docker/rust-all.Dockerfile
Due: none

Fix events RestApi paging to latest
  api/src/context.rs
  api/src/events.rs
  api/src/page.rs
  api/src/poem_backend/events.rs
  api/src/poem_backend/page.rs
  api/src/poem_backend/transactions.rs
  api/src/transactions.rs
  crates/aptos-rest-client/src/lib.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
  testsuite/smoke-test/src/client.rs
Due: rust-fmt

[smoke-tests][cli] Fix flaky CLI smoke tests
  crates/aptos-rest-client/src/lib.rs
  crates/aptos/src/account/create.rs
  crates/aptos/src/account/fund.rs
  crates/aptos/src/common/utils.rs
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/src/aptos_cli.rs
  testsuite/smoke-test/src/rosetta.rs
  testsuite/smoke-test/src/smoke_test_environment.rs
Due: rust-fmt

[code publishing] Add CLI commands for inspecting and downloading packages (#2680)
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-sdk-builder/src/rust.rs
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_basic.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_immutable.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_overlapping_module.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_loader_cache_consistency.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_no_compat.exp
  aptos-move/e2e-move-tests/tests/init_module.data/init_module.exp
  aptos-move/e2e-move-tests/tests/string_args.data/string_args.exp
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/src/natives/code.rs
  aptos-move/move-deps/Cargo.toml
  crates/aptos/src/move_tool/built_package.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/move_tool/stored_package.rs
Due: rust-fmt

[Genesis] Make rewards and governance params configurable and set reasonable defaults in tests (#2641)
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/vm-genesis/src/lib.rs
  aptos-node/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/genesis/tests.rs
  terraform/helm/genesis/templates/genesis.yaml
  terraform/helm/genesis/values.yaml
  testsuite/smoke-test/src/aptos_cli.rs
Due: rust-fmt, prettier-fmt

using get_events with ledger_version
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/src/context.rs
  api/src/events.rs
  api/src/page.rs
  api/src/poem_backend/events.rs
  api/src/poem_backend/page.rs
  api/src/transactions.rs
  crates/aptos-rest-client/src/lib.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
  testsuite/smoke-test/src/client.rs
Due: rust-fmt

[SDK] Re-enable release steps in CI
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/README.md
Due: prettier-fmt

[SDK] Re-enable release steps in CI (#2672)
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/README.md
Due: prettier-fmt

[testsuite] Move Aptos CLI tests to a separate folder
  testsuite/smoke-test/src/aptos_cli/mod.rs
Due: rust-fmt

[gas] add comments in crate aptos-gas
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/instr.rs
  aptos-move/aptos-gas/src/lib.rs
  aptos-move/aptos-gas/src/natives.rs
  aptos-move/aptos-gas/src/transaction.rs
Due: rust-fmt

[testsuite] Breakdown Aptos CLI tests into different files
  testsuite/smoke-test/src/aptos_cli/account.rs
  testsuite/smoke-test/src/aptos_cli/mod.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
Due: rust-fmt

[aptos-cli] Add Move commands to test framework
  crates/aptos/src/common/types.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/test/mod.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
