Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Aggregator v2 and Snapshots Implementation (#9368)
  Cargo.lock
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/delta_math.rs
  aptos-move/aptos-aggregator/src/lib.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/sources/aggregator_v2_test.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/mod.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
Due: rust-fmt

Fixing aggregator tests (#10059)
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/sources/aggregator_v2_test.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
Due: rust-fmt

[aggregator] Minor improvements (#10078)
  Cargo.lock
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/lib.rs
  aptos-move/aptos-aggregator/src/module.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-aggregator/src/tests/mod.rs
  aptos-move/aptos-aggregator/src/tests/types.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v1.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
Due: rust-fmt

agg v2 natives flag (#10069)
  aptos-move/aptos-native-interface/src/context.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v1.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

connecting MVHashMap with AggregatorChange for read and write (#10152)
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/unsync_map.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
Due: rust-fmt

Implementing VersionedAggregators and AggregatorChange for aggregator V2 (#10128)
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
Due: rust-fmt

AggregatorSnapshot native functions implementation (#10124)
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-aggregator/src/tests/types.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/sources/aggregator_v2/aggregator_v2.move
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
Due: rust-fmt

Propagate MoveTypeLayout to BlockSTM (#10127)
  Cargo.lock
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/storage.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/Cargo.toml
  aptos-move/framework/table-natives/src/lib.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
  aptos-move/vm-genesis/src/lib.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/session.rs
  third_party/move/tools/move-unit-test/Cargo.toml
Due: rust-fmt

[aggregator_v2] Fixes found through testing
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
Due: rust-fmt

exceptions
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/delta_math.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/aptos-vm/src/tests/mock_view.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/view.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Due: rust-fmt

[aggregators_v2] Refactor and improve aggregator tests
  Cargo.lock
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/sources/aggregator_v2_test.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/e2e-tests/src/executor.rs
Due: rust-fmt

Try slow ramp up for netbench with smaller messages
  network/benchmark/src/lib.rs
Due: rust-fmt

implement forge links to axiom (#10330)
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge.py
  testsuite/forge_test.py
Due: none

Making the code more readable, without changing any underlying logic
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
Due: rust-fmt

Dirty version of intenrning StructIdentifier
  Cargo.lock
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/e2e-tests/Cargo.toml
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/loader/type_loader.rs
  third_party/move/move-vm/types/Cargo.toml
  third_party/move/move-vm/types/src/loaded_data/instance_uid.rs
  third_party/move/move-vm/types/src/loaded_data/mod.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
Due: rust-fmt

small edits
  crates/aptos-crypto/src/lib.rs
  crates/aptos-crypto/src/p256_ecdsa/mod.rs
  crates/aptos-crypto/src/p256_ecdsa/p256_keys.rs
  crates/aptos-crypto/src/p256_ecdsa/p256_sigs.rs
  crates/aptos-crypto/src/traits.rs
  crates/aptos-crypto/src/unit_tests/ecdsa_p256_test.rs
Due: rust-fmt

Ramp up 15,30s; 6 MB/s
  network/benchmark/src/lib.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

integration with the sharded execution stack
  aptos-move/aptos-vm/src/sharded_block_executor/executor_client.rs
  aptos-move/aptos-vm/src/sharded_block_executor/local_executor_shard.rs
  aptos-move/aptos-vm/src/sharded_block_executor/mod.rs
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_executor_service.rs
  aptos-move/block-executor/src/txn_provider/mod.rs
  aptos-move/block-executor/src/txn_provider/sharded.rs
  execution/executor-service/src/remote_executor_client.rs
  types/src/block_executor/partitioner.rs
Due: rust-fmt

[gas-calibration] ignore terms with 0-coefficients and clean-up the code
  aptos-move/aptos-abstract-gas-usage/src/algebra_helpers.rs
Due: rust-fmt

exclude reconfiguration changes
  aptos-move/framework/aptos-framework/doc/reconfiguration.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.spec.move
Due: none

[gas-calibration][simple] ignore terms with 0-coefficients (#9742)
  aptos-move/aptos-abstract-gas-usage/src/algebra_helpers.rs
Due: rust-fmt

8 MB/s
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Fixes from comment
  ecosystem/typescript/sdk_v2/src/crypto/secp256k1.ts
Due: prettier-fmt

update
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/stake.move
Due: none

[indexer][api] update the metrcis for api gateway consumption. (#10322)
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/metrics.rs
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
Due: rust-fmt

bug fix
  consensus/consensus-types/src/executed_block.rs
  consensus/src/state_computer.rs
Due: rust-fmt

[dag] add various counters
  Cargo.lock
  Cargo.toml
  consensus/Cargo.toml
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/observability/counters.rs
  consensus/src/dag/observability/mod.rs
  consensus/src/dag/observability/tracing.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/rb_handler.rs
  consensus/src/dag/types.rs
  consensus/src/lib.rs
Due: rust-fmt, rust-cargo-sort

[framework-release] update yaml (#10211)
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

Adding documentation for each function
  ecosystem/typescript/sdk_v2/src/bcs/deserializer.ts
  ecosystem/typescript/sdk_v2/src/bcs/serializer.ts
Due: prettier-fmt

Removing redundant line in doc comment
  ecosystem/typescript/sdk_v2/src/bcs/serializer.ts
Due: prettier-fmt

Adding `serializeVector` and `deserializeVector` to serializer.ts and deserializer.ts as well as a unit test for each
  ecosystem/typescript/sdk_v2/src/bcs/deserializer.ts
  ecosystem/typescript/sdk_v2/src/bcs/serializer.ts
  ecosystem/typescript/sdk_v2/tests/unit/deserializer.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/serializer.test.ts
Due: prettier-fmt

Removing redundant line in deserializer doc comment too
  ecosystem/typescript/sdk_v2/src/bcs/deserializer.ts
Due: prettier-fmt

12 MB/s
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[TS-SDK v2] Adding `serializeVector` and `deserializeVector` to SDK v2 (#10347)
  ecosystem/typescript/sdk_v2/src/bcs/deserializer.ts
  ecosystem/typescript/sdk_v2/src/bcs/serializer.ts
  ecosystem/typescript/sdk_v2/tests/unit/deserializer.test.ts
  ecosystem/typescript/sdk_v2/tests/unit/serializer.test.ts
Due: prettier-fmt

add resumable replay verify if a partition failed
  testsuite/replay_verify.py
Due: none

10 MB/s
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[dag] add a few structured logging
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/dag_fetcher.rs
  consensus/src/dag/dag_state_sync.rs
  consensus/src/dag/observability/logging.rs
  consensus/src/dag/observability/mod.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/rb_handler.rs
  consensus/src/dag/types.rs
Due: rust-fmt
