Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[Docs] Fixing only links.
  developer-docs-site/docs/concepts/basics-events.md
Due: none

[Docs] Adding dark mode picture.
  developer-docs-site/docs/concepts/governance.md
  developer-docs-site/static/img/docs/voting-resolution-flow-dark.svg
Due: none

[smoke-test] Disable flaky (#3407)
  testsuite/smoke-test/src/client.rs
  testsuite/smoke-test/src/full_nodes.rs
Due: rust-fmt

[Txn emitter] Reduce log frequency to reduce log volume for Forge
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
Due: rust-fmt

Fixing links in Concepts>Events doc (#3328)
  developer-docs-site/docs/concepts/basics-events.md
Due: none

Fixing README links (#3330)
  api/README.md
Due: none

[Docs] Adding dark mode picture. (#3379)
  developer-docs-site/docs/concepts/governance.md
  developer-docs-site/static/img/docs/voting-resolution-flow-dark.svg
Due: none

[Docs] Syncing tabs. (#3383)
  developer-docs-site/docs/sdks/python-sdk.md
  developer-docs-site/docs/tutorials/first-transaction-sdk.md
Due: none

[Docs] Renaming Korean version.
  developer-docs-site/docs/aptos-white-paper.md
  developer-docs-site/static/papers/whitepaper-korean.pdf
Due: none

[Docs] Korean version of Aptos Whitepaper
  developer-docs-site/docs/aptos-white-paper.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/static/papers/Aptos-Whitepaper-Korean.pdf
  developer-docs-site/static/papers/Aptos-Whitepaper.pdf
Due: none

[Aptos Framework][Voting] Add a field to track proposal's resolution timestamp
  aptos-move/framework/aptos-framework/sources/voting.move
Due: none

Add TPS display
  ecosystem/indexer/src/indexer/fetcher.rs
  ecosystem/indexer/src/indexer/tailer.rs
  ecosystem/indexer/src/main.rs
Due: rust-fmt

[aptos-rest-client] Add gas estimation
  crates/aptos-rest-client/src/lib.rs
Due: rust-fmt

[aptos-rosetta] Add automatic fee estimation
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/error.rs
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos-rosetta/src/types/requests.rs
Due: rust-fmt

[aptos-rosetta] Cleanup API of unused and optional inputs
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/block.rs
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/error.rs
  crates/aptos-rosetta/src/network.rs
  crates/aptos-rosetta/src/types/identifiers.rs
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos-rosetta/src/types/requests.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[aptos-rosetta] Cleanup non string u64s in JSON metadata
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos-rosetta/src/types/requests.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[aptos-rosetta] Fix expiry timestamp to use timestamp instead of offset
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/requests.rs
Due: rust-fmt

Cherry-pick to testnet for fixing analyze-validators CLI
  crates/aptos/src/node/analyze/analyze_validators.rs
  crates/aptos/src/node/analyze/fetch_metadata.rs
  crates/aptos/src/node/mod.rs
Due: rust-fmt

[Txn emitter] Reduce log frequency to reduce log volume for Forge (#3401)
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
Due: rust-fmt

[tf][aws] maximize subnset size
  terraform/aptos-node-testnet/main.tf
  terraform/aptos-node-testnet/variables.tf
  terraform/aptos-node/aws/kubernetes.tf
  terraform/aptos-node/aws/network.tf
  terraform/aptos-node/aws/variables.tf
  testsuite/run_forge.sh
Due: none

[Aptos Framework][Voting] Add a field to track proposal's resolution timestamp (#3410)
  aptos-move/framework/aptos-framework/sources/voting.move
Due: none

[gas] charge gas for writing to storage
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-gas/src/algebra.rs
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/transaction.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
Due: rust-fmt

store a copy of the state usage for gas schedule
  api/test-context/src/test_context.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/aptos-framework/sources/state_storage.move
Due: rust-fmt

tidy up
  aptos-move/aptos-vm/src/parallel_executor/mod.rs
Due: rust-fmt

[storage] internal indexer syncs to synced version instead of committed version on start up
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/mock.rs
Due: rust-fmt

[forge] Fixed TPS transaction emitter
  crates/aptos-rest-client/src/lib.rs
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  crates/transaction-emitter-lib/src/lib.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  crates/transaction-emitter/src/diag.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/txn_emitter.rs
Due: rust-fmt

[tf][aws] maximize subnset size (#3376)
  terraform/aptos-node-testnet/main.tf
  terraform/aptos-node-testnet/variables.tf
  terraform/aptos-node/aws/kubernetes.tf
  terraform/aptos-node/aws/network.tf
  terraform/aptos-node/aws/variables.tf
  testsuite/run_forge.sh
Due: none

Add override for private key input
  crates/aptos/src/common/types.rs
Due: rust-fmt

Use account address from profile options for CLI
  crates/aptos/src/common/types.rs
Due: rust-fmt

[aggregator] fix aggregator factory
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.move
Due: none

Update first transaction tutorial with TS SDK
  .python-version
  developer-docs-site/.prettierignore
  developer-docs-site/docs/guides/system-integrators-guide.md
  developer-docs-site/docs/sdks/typescript-sdk.md
  developer-docs-site/docs/tutorials/first-transaction-sdk.md
  developer-docs-site/package.json
  developer-docs-site/sidebars.js
  developer-docs-site/static/sdks/typescript
  ecosystem/python/sdk/README.md
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/python/sdk/poetry.lock
  ecosystem/typescript/sdk/examples/typescript/bcs_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/common.ts
  ecosystem/typescript/sdk/examples/typescript/constants.ts
  ecosystem/typescript/sdk/examples/typescript/index.ts
  ecosystem/typescript/sdk/examples/typescript/multisig_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/examples/typescript/transfer_coin.ts
  ecosystem/typescript/sdk/examples/typescript/tsconfig.json
  ecosystem/typescript/sdk/src/aptos_client.ts
  ecosystem/typescript/sdk/src/coin_client.ts
  ecosystem/typescript/sdk/src/index.ts
Due: prettier-fmt

fixed Move unit test
  aptos-move/move-examples/tests/move_unit_tests.rs
Due: rust-fmt

tidy up
  aptos-move/aptos-vm/src/parallel_executor/mod.rs
  aptos-move/parallel-executor/src/executor.rs
Due: rust-fmt

new_mainnet -> new for harness
  aptos-move/e2e-move-tests/src/aggregator.rs
Due: rust-fmt
