Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Increase limit order size
  crates/transaction-generator-lib/src/call_custom_modules.rs
  crates/transaction-generator-lib/src/econia_order_generator.rs
Due: rust-fmt

Showcase bug.
  third_party/move/move-compiler-v2/transactional-tests/tests/showcase/bug_1.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/showcase/bug_1.move
  third_party/move/move-compiler-v2/transactional-tests/tests/showcase/bug_2.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/showcase/bug_2.move
Due: none

Showcase fix.
  third_party/move/move-compiler-v2/src/file_format_generator/function_generator.rs
  third_party/move/move-compiler-v2/transactional-tests/tests/showcase/bug_1.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/showcase/bug_2.exp
Due: rust-fmt

add second flag for MIGRATE_TO_CONCURRENT_FUNGIBLE_BALANCE, to separate them
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

test.
  protos/scripts/check_external_proto_compatibility.sh
Due: none

[not for review] test after fa migration, apt on owner address
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/primary_fungible_store.md
  aptos-move/framework/aptos-framework/sources/primary_fungible_store.move
  execution/executor-benchmark/src/lib.rs
Due: rust-fmt

rust lint
  consensus/src/round_manager.rs
Due: rust-fmt

debug
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
Due: none

merge AIP-43 and aggregator API enabling (#12694)
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

Depositing more coins
  crates/transaction-generator-lib/src/call_custom_modules.rs
  crates/transaction-generator-lib/src/econia_order_generator.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  testsuite/module-publish/src/packages/econia/sources/txn_generator_utils.move
Due: rust-fmt

Stop pushing to the old GCP Docker repository
  .github/actions/run-faucet-tests/action.yaml
  .github/actions/run-local-testnet/action.yaml
  .github/actions/run-ts-sdk-e2e-tests/action.yaml
  .github/workflows/cli-e2e-tests.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
  .github/workflows/docker-build-test.yaml
  .github/workflows/docker-indexer-grpc-test.yaml
  .github/workflows/faucet-tests-main.yaml
  .github/workflows/faucet-tests-prod.yaml
  .github/workflows/indexer-grpc-integration-tests.yaml
  .github/workflows/node-api-compatibility-tests.yaml
  .github/workflows/rust-client-tests.yaml
  .github/workflows/ts-sdk-e2e-tests.yaml
  .github/workflows/workflow-run-docker-rust-build.yaml
  .github/workflows/workflow-run-forge.yaml
  docker/builder/docker-bake-rust-all.hcl
  docker/release-images.mjs
Due: prettier-fmt

[Forge] Switch Forge to the multi-region Docker repository
  testsuite/forge.py
Due: none

[docker] Check that version matches tag before publishing release images
  .github/workflows/test-copy-images-to-dockerhub.yaml
  Cargo.lock
  aptos-node/Cargo.toml
  docker/__tests__/release-images.test.js
  docker/release-images.mjs
  docker/test.sh
  package.json
  pnpm-lock.yaml
Due: prettier-fmt

debug
  aptos-move/framework/aptos-framework/doc/aptos_governance.md
  aptos-move/framework/aptos-framework/doc/reconfiguration_with_dkg.md
  aptos-move/framework/aptos-framework/sources/aptos_governance.spec.move
  aptos-move/framework/aptos-framework/sources/reconfiguration_with_dkg.spec.move
Due: none

Add example tests
  aptos-move/framework/aptos-framework/tests/deflation_token.move
  aptos-move/framework/aptos-framework/tests/deflation_token_tests.move
  aptos-move/framework/aptos-framework/tests/reentrant_token.move
  aptos-move/framework/aptos-framework/tests/reentrant_token_tests.move
Due: none

Add example for a permissioned token
  aptos-move/framework/aptos-framework/tests/permissioned_token.move
  aptos-move/framework/aptos-framework/tests/permissioned_token_tests.move
Due: none

[CI/CD] Only run the move compiler v2 tests when neccessary.
  .github/actions/file-change-determinator/action.yaml
  .github/workflows/move-test-compiler-v2.yaml
Due: prettier-fmt

config type
  aptos-move/aptos-release-builder/src/components/compiler_id_config.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/framework/aptos-framework/doc/compiler_id_config.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/sources/configs/compiler_id_config.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  types/src/on_chain_config/compiler_id_config.rs
  types/src/on_chain_config/mod.rs
Due: rust-fmt

new feature flag
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

migrate optional
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/fee_payer.rs
  aptos-move/e2e-move-tests/src/tests/simple_defi.rs
  aptos-move/e2e-move-tests/src/tests/stake.rs
  aptos-move/e2e-move-tests/src/tests/state_metadata.rs
  aptos-move/e2e-move-tests/src/tests/transaction_fee.rs
  aptos-move/e2e-move-tests/src/tests/vote.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/sources/aptos_account.spec.move
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.move
Due: rust-fmt

Add FA test helpers for APT, dependent, tests (#12028)
  api/goldens/aptos_api__tests__events_test__test_get_events.json
  api/goldens/aptos_api__tests__state_test__test_get_account_resource.json
  api/goldens/aptos_api__tests__state_test__test_get_account_resource_with_version.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_entry_function_validation.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_address.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_arguments.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_module_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_payload_bytecode.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_missing_entry_function_arguments.json
  api/src/tests/multisig_transactions_test.rs
  api/test-context/src/test_context.rs
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/fungible_asset.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_bad_sig_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_code_unverifiable.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_nested_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_non_existing_function_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_none_existing_module_dep.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__scripts__script_type_argument_module_does_not_exist.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_arbitrary_script_execution.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_script_dependency_fails_verification.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_script_transitive_dependency_fails_verification.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_type_tag_dependency_fails_verification.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_type_tag_transitive_dependency_fails_verification.exp
  aptos-move/framework/aptos-framework/Move.toml
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/sources/aggregator/aggregator_factory.move
  aptos-move/framework/aptos-framework/sources/aptos_coin.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/move-examples/marketplace/sources/coin_listing.move
Due: rust-fmt

add test and fix bugs
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/e2e-move-tests/src/tests/fungible_asset.rs
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.move
  third_party/move/move-core/types/src/account_address.rs
  types/src/account_config/resources/fungible_store.rs
Due: rust-fmt

add feature gate
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/e2e-move-tests/src/tests/fungible_asset.rs
  aptos-move/e2e-move-tests/src/tests/per_category_gas_limits.data/io_limit_reached_by_new_bytes.exp
  aptos-move/e2e-move-tests/src/tests/per_category_gas_limits.data/out_of_gas_while_charging_storage_fee.exp
  aptos-move/e2e-move-tests/src/tests/per_category_gas_limits.data/out_of_gas_while_charging_write_gas.exp
  aptos-move/e2e-move-tests/src/tests/per_category_gas_limits.data/storage_limit_reached_by_new_bytes.exp
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/aptos.rs
  third_party/move/move-core/types/src/account_address.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

fix ref getters and prover
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/fungible_asset.md
  aptos-move/framework/aptos-framework/doc/primary_fungible_store.md
  aptos-move/framework/aptos-framework/doc/resource_account.md
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/doc/vesting.md
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/aptos_account.spec.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/coin.spec.move
  aptos-move/framework/aptos-framework/sources/fungible_asset.move
  aptos-move/framework/aptos-framework/sources/primary_fungible_store.spec.move
  aptos-move/framework/aptos-framework/sources/resource_account.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/aptos-framework/sources/vesting.spec.move
Due: rust-fmt

fix issues
  api/test-context/src/test_context.rs
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/object.md
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/object.move
  aptos-move/framework/aptos-framework/sources/object.spec.move
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
