Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

test
  storage/aptosdb/src/rocksdb_property_reporter.rs
  types/src/state_store/state_key/registry.rs
Due: rust-fmt

test2
  types/src/state_store/state_key/registry.rs
Due: rust-fmt

gas estimation changes (#14669)
  api/src/context.rs
  config/src/config/gas_estimation_config.rs
  types/src/on_chain_config/execution_config.rs
Due: rust-fmt

Working code without aggregators
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/nonce_validation.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/nonce_validation.move
  aptos-move/framework/aptos-framework/sources/smart_table.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  third_party/move/move-core/types/src/vm_status.rs
Due: rust-fmt

Create transaction_simulation_enhancement.yaml (#14556)
  aptos-move/aptos-release-builder/data/transaction_simulation_enhancement.yaml
Due: prettier-fmt

fix?
  consensus/src/state_computer.rs
Due: rust-fmt

fast blocks hack
  consensus/consensus-types/src/quorum_cert.rs
  consensus/consensus-types/src/wrapped_ledger_info.rs
  consensus/safety-rules/src/safety_rules.rs
  consensus/src/round_manager.rs
  consensus/src/state_computer.rs
  execution/executor-types/src/lib.rs
  testsuite/smoke-test/src/consensus/consensus_fault_tolerance.rs
Due: rust-fmt

smaller block
  config/src/config/consensus_config.rs
  consensus/src/pipeline/execution_schedule_phase.rs
  types/src/on_chain_config/execution_config.rs
Due: rust-fmt

changed put logic in py script in stead of bash
  .github/actions/determine-branch-to-fech-last-released-image/action.yaml
  .github/actions/get-last-released-docker-image-tag/action.yml
  .github/actions/get-latest-docker-image-tag/action.yml
  .github/workflows/docker-build-test.yaml
  testsuite/determine_target_branch_to_fetch_last_released_image.py
Due: prettier-fmt

changed put logic in py script in stead of bash
  .github/actions/get-last-released-docker-image-tag/action.yml
Due: prettier-fmt

changed put logic in py script in stead of bash
  .github/actions/determine-branch-to-fetch-last-released-image/action.yaml
Due: prettier-fmt

changed put logic in py script in stead of bash
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

refined
  .github/actions/determine-branch-to-fetch-last-released-image/action.yaml
Due: prettier-fmt

refined
  testsuite/determine_target_branch_to_fetch_last_released_image.py
Due: none

update parser/ast.rs comments with typed bindlist for lambda
  third_party/move/move-compiler/src/parser/ast.rs
Due: rust-fmt

add a test that tries to catch result widening
  third_party/move/move-compiler-v2/tests/checking/typing/lambda_typed_widen.exp
  third_party/move/move-compiler-v2/tests/checking/typing/lambda_typed_widen_result.exp
  third_party/move/move-compiler-v2/tests/checking/typing/lambda_typed_widen_result.move
  third_party/move/move-compiler-v2/tests/checking/typing/lambda_widen.exp
  third_party/move/move-compiler-v2/tests/checking/typing/lambda_widen.move
  third_party/move/move-compiler-v2/tests/checking/typing/lambda_widen_result.exp
  third_party/move/move-compiler-v2/tests/checking/typing/lambda_widen_result.move
  third_party/move/move-compiler-v2/tests/file-format-generator/unpack_generic_struct_typed.opt.exp
Due: none

address Vineeth's comments, also add attempt at widening test
  third_party/move/move-compiler-v2/tests/checking/typing/lambda_typed.exp
  third_party/move/move-compiler-v2/tests/checking/typing/lambda_typed.move
  third_party/move/move-compiler-v2/tests/checking/typing/lambda_typed_widen.exp
  third_party/move/move-compiler-v2/tests/checking/typing/lambda_typed_widen.move
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/bug_10991_noparam2_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/bug_10991_noparam_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/bug_10991_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/bug_10991a_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/bug_10991b_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/bug_10991c_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/eval_ignored_param_some_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/eval_ignored_param_some_typed.move
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/eval_ignored_param_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/generics_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/lambda_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/masking_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/multi_param_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/nested_lambda_module_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/nested_lambda_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/options_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/shadowing_renamed_param_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/shadowing_renamed_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/shadowing_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/misc/simple_map_keys_typed.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/operator_eval/op_with_side_effect_49_typed.operator-eval-lang-1.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/operator_eval/op_with_side_effect_49_typed.operator-eval-lang-2.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/optimization/inlining1_typed.exp
  third_party/move/move-compiler/src/expansion/ast.rs
  third_party/move/move-compiler/src/expansion/translate.rs
  third_party/move/move-compiler/src/naming/translate.rs
Due: rust-fmt

Working prototype
  aptos-move/e2e-benchmark/src/main.rs
  aptos-move/framework/aptos-framework/doc/nonce_validation.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/nonce_validation.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/aptos-stdlib/doc/smart_table.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_table.move
  aptos-move/framework/table-natives/src/lib.rs
Due: rust-fmt

fix lint
  third_party/move/move-compiler/src/expansion/ast.rs
  third_party/move/move-compiler/src/parser/ast.rs
Due: rust-fmt

fix unnecessary looping by stopping when cfraction crosses one
  aptos-move/framework/supra-framework/sources/pbo_delegation_pool.move
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
