Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

add get_list method
  aptos-move/framework/aptos-token/sources/marketplace_utils.move
Due: none

[Docs] Adding a sidebar link for API docs.
  developer-docs-site/sidebars.js
  developer-docs-site/static/api/latest-api.html
Due: prettier-fmt

made xclippy happy
  types/src/account_config/resources/coin_info.rs
Due: rust-fmt

[Docs] Sidebar API docs link with try it feature ON
  developer-docs-site/sidebars.js
  developer-docs-site/static/api/latest-api.html
Due: prettier-fmt

[Aptos Node] Improve error messages for config file loading.
  aptos-node/src/lib.rs
  config/src/config/error.rs
  config/src/config/execution_config.rs
  config/src/config/mod.rs
Due: rust-fmt

Fix binary path
  scripts/dev_setup.sh
Due: none

[CLI] Bound the number of instructions that can be executed by any one test. (#2444)
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/test/mod.rs
Due: rust-fmt

edit docs:transactions-with-ts-sdk examples (#3392)
  developer-docs-site/docs/sdks/transactions-with-ts-sdk.md
Due: none

[crypto+move] oops, Move Scalar type should not have 'key'
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.move
Due: none

added comments
  types/src/account_config/resources/coin_info.rs
Due: rust-fmt

parallelize cache filtering
  aptos-move/aptos-vm/src/parallel_executor/mod.rs
Due: rust-fmt

[storage] use the correct pruner to determine data availability
  storage/aptosdb/src/lib.rs
Due: rust-fmt

[storage] use the correct pruner to determine data availability (#3403)
  storage/aptosdb/src/lib.rs
Due: rust-fmt

[consensus] fix Latex rendering
  consensus/README.md
Due: none

dead code
  aptos-move/aptos-vm/src/parallel_executor/mod.rs
Due: rust-fmt

[consensus][configs] Set quorum_store_poll_count=5
  config/src/config/consensus_config.rs
  config/src/config/execution_config.rs
  terraform/helm/aptos-node/values.yaml
  testsuite/forge/src/backend/local/swarm.rs
Due: rust-fmt, prettier-fmt

[Token] Store the token account unders goverance
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/system_addresses.move
Due: none

[crypto+move] oops, Move Scalar type should not have 'key' (#3402)
  aptos-move/framework/aptos-stdlib/sources/cryptography/ristretto255.move
Due: none

[api][txn-emitter] Create Batch submit transaction API, and use it in txn-emitter
  Cargo.lock
  api/doc/spec.json
  api/doc/spec.yaml
  api/src/accept_type.rs
  api/src/context.rs
  api/src/response.rs
  api/src/transactions.rs
  api/types/src/error.rs
  api/types/src/lib.rs
  api/types/src/transaction.rs
  config/src/config/api_config.rs
  crates/aptos-infallible/src/mutex.rs
  crates/aptos-rest-client/src/lib.rs
  crates/transaction-emitter-lib/Cargo.toml
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionsBatchSingleSubmissionFailure.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionsBatchSubmissionResult.ts
  ecosystem/typescript/sdk/src/generated/schemas/$TransactionsBatchSingleSubmissionFailure.ts
  ecosystem/typescript/sdk/src/generated/schemas/$TransactionsBatchSubmissionResult.ts
  ecosystem/typescript/sdk/src/generated/services/TransactionsService.ts
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/txn_emitter.rs
Due: rust-fmt, prettier-fmt

concurrency level and thread pool are independent
  aptos-move/aptos-vm/src/parallel_executor/mod.rs
  aptos-move/parallel-executor/src/executor.rs
  aptos-move/parallel-executor/src/proptest_types/bencher.rs
  aptos-move/parallel-executor/src/proptest_types/tests.rs
  aptos-move/parallel-executor/src/unit_tests/mod.rs
Due: rust-fmt

[Docs] Korean version of Aptos Whitepaper
  developer-docs-site/docs/aptos-white-paper.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/static/papers/Aptos-Whitepaper-Korean.pdf
  developer-docs-site/static/papers/Aptos-Whitepaper.pdf
Due: none

dead code clean up
  aptos-move/aptos-vm/src/parallel_executor/mod.rs
  aptos-move/parallel-executor/src/unit_tests/mod.rs
Due: rust-fmt

[Mempool] Tune mempool capacity configuration for AIT/mainnet
  config/src/config/mempool_config.rs
Due: rust-fmt

Rename wallet in docs to petra wallet
  apps/website/docs/connect-to-petra.mdx
  apps/website/docs/errors.mdx
  apps/website/docs/petra-intro.mdx
  apps/website/docs/sending-a-transaction.mdx
  apps/website/docs/signing-a-message.mdx
Due: none

[smoke-test] Disable flaky
  testsuite/smoke-test/src/client.rs
  testsuite/smoke-test/src/full_nodes.rs
Due: rust-fmt

emit events upon key rotation
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
Due: none

[Docs] Renaming Korean version.
  developer-docs-site/docs/aptos-white-paper.md
  developer-docs-site/static/papers/whitepaper-korean.pdf
Due: none

[consensus][configs] Set quorum_store_poll_count=5 (#3344)
  config/src/config/consensus_config.rs
  config/src/config/execution_config.rs
  terraform/helm/aptos-node/values.yaml
  testsuite/forge/src/backend/local/swarm.rs
Due: rust-fmt, prettier-fmt

[Aptos Framework][Upgradability] Disable incompatible upgrade policy (#3381)
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/framework/aptos-framework/sources/code.move
Due: rust-fmt

[api][txn-emitter] Create Batch submit transaction API, and use it in txn-emitter (#3208)
  Cargo.lock
  api/doc/spec.json
  api/doc/spec.yaml
  api/src/accept_type.rs
  api/src/context.rs
  api/src/response.rs
  api/src/transactions.rs
  api/types/src/error.rs
  api/types/src/lib.rs
  api/types/src/transaction.rs
  config/src/config/api_config.rs
  crates/aptos-infallible/src/mutex.rs
  crates/aptos-rest-client/src/lib.rs
  crates/transaction-emitter-lib/Cargo.toml
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionsBatchSingleSubmissionFailure.ts
  ecosystem/typescript/sdk/src/generated/models/TransactionsBatchSubmissionResult.ts
  ecosystem/typescript/sdk/src/generated/schemas/$TransactionsBatchSingleSubmissionFailure.ts
  ecosystem/typescript/sdk/src/generated/schemas/$TransactionsBatchSubmissionResult.ts
  ecosystem/typescript/sdk/src/generated/services/TransactionsService.ts
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/txn_emitter.rs
Due: rust-fmt, prettier-fmt

naming
  aptos-move/aptos-vm/src/parallel_executor/mod.rs
Due: rust-fmt

[Docs] Editorial pass at Python SDK installation and the first txn with Python SDK doc.
  developer-docs-site/docs/sdks/python-sdk.md
  developer-docs-site/docs/tutorials/first-transaction-sdk.md
Due: none

[Docs] Syncing tabs.
  developer-docs-site/docs/tutorials/first-transaction-sdk.md
Due: none

Fixing README links
  api/README.md
Due: none

Fix proposal CLI
  crates/aptos/src/governance/mod.rs
Due: rust-fmt

[Docs] Fixing the fix.
  developer-docs-site/docs/concepts/basics-events.md
Due: none

[Docs] Endpoint link fixed
  developer-docs-site/docs/concepts/basics-events.md
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
