Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Parallel tests (#9107)
  Cargo.lock
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/benches/scheduler_benches.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/baseline.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/mod.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/versioned_data.rs
Due: rust-fmt

Update system-integrators-guide.md
  developer-docs-site/docs/guides/system-integrators-guide.md
Due: none

Update move-examples unit tests
  api/src/tests/objects.rs
  aptos-move/e2e-move-tests/src/tests/token_objects.rs
  aptos-move/move-examples/swap/Move.toml
  aptos-move/move-examples/tests/move_unit_tests.rs
  aptos-move/move-examples/token_objects/ambassador/Move.toml
  aptos-move/move-examples/token_objects/ambassador/sources/ambassador.move
  aptos-move/move-examples/token_objects/hero/Move.toml
  aptos-move/move-examples/token_objects/hero/sources/hero.move
  aptos-move/move-examples/token_objects/knight/sources/food.move
  aptos-move/move-examples/token_objects/knight/sources/knight.move
  aptos-move/move-examples/token_objects/token_lockup/Move.toml
  aptos-move/move-examples/token_objects/token_lockup/sources/token_lockup.move
  aptos-move/move-examples/token_objects/token_lockup/sources/unit_tests.move
Due: rust-fmt

[Examples] Account authentication key rotation with the CLI, Typescript and Python SDKs (#9130)
  developer-docs-site/docs/guides/account-management/key-rotation.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
  ecosystem/python/sdk/examples/rotate-key.py
  ecosystem/typescript/sdk/examples/typescript-esm/package.json
  ecosystem/typescript/sdk/examples/typescript-esm/pnpm-lock.yaml
  ecosystem/typescript/sdk/examples/typescript-esm/rotate_key.ts
Due: prettier-fmt

[Forge] Increase TPS threshold for land blocking after enabling txn shuffling (#9173)
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[cached-packages] Fix windows use of framework bundle
  aptos-move/framework/cached-packages/src/lib.rs
Due: rust-fmt

[Faucet] Make it possible to configure separate max amount for requests that bypass checkers (#9157)
  crates/aptos-faucet/cli/src/main.rs
  crates/aptos-faucet/configs/testing_mint_funder_local.yaml
  crates/aptos-faucet/configs/testing_mint_funder_local_wait_for_txns.yaml
  crates/aptos-faucet/configs/testing_redis_minter_local.yaml
  crates/aptos-faucet/core/src/checkers/mod.rs
  crates/aptos-faucet/core/src/endpoints/fund.rs
  crates/aptos-faucet/core/src/funder/common.rs
  crates/aptos-faucet/core/src/funder/fake.rs
  crates/aptos-faucet/core/src/funder/mint.rs
  crates/aptos-faucet/core/src/funder/mod.rs
  crates/aptos-faucet/core/src/funder/traits.rs
  crates/aptos-faucet/core/src/funder/transfer.rs
  crates/aptos-faucet/core/src/server/run.rs
Due: rust-fmt, prettier-fmt

Remove aggregator_enabled flag (#9219)
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-debugger/src/lib.rs
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
Due: rust-fmt

[Fullnode GHA] Add intelligent sync jobs, metrics dump and tweak job times.
  .github/actions/fullnode-sync/action.yaml
  .github/actions/fullnode-sync/fullnode_sync.py
  .github/workflows/fullnode-execute-devnet-main.yaml
  .github/workflows/fullnode-execute-devnet-stable.yaml
  .github/workflows/fullnode-fast-mainnet-stable.yaml
  .github/workflows/fullnode-fast-testnet-main.yaml
  .github/workflows/fullnode-fast-testnet-stable.yaml
  .github/workflows/fullnode-intelligent-devnet-main.yaml
  .github/workflows/fullnode-intelligent-mainnet-main.yaml
  .github/workflows/fullnode-intelligent-mainnet-stable.yaml
  .github/workflows/fullnode-intelligent-testnet-main.yaml
  .github/workflows/run-fullnode-sync.yaml
Due: prettier-fmt

[dag] add tests for order rule
  consensus/src/dag/anchor_election.rs
  consensus/src/dag/dag_store.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/tests/mod.rs
  consensus/src/dag/tests/order_rule_tests.rs
Due: rust-fmt

[Spec] Update spec of code.move (#8888)
  aptos-move/framework/aptos-framework/doc/code.md
  aptos-move/framework/aptos-framework/sources/code.move
  aptos-move/framework/aptos-framework/sources/code.spec.move
  aptos-move/framework/cached-packages/generated/head.mrb
Due: none

[exp] fix arg passing for forge gha (#9203)
  testsuite/exp
Due: none

fix spec (#9218)
  aptos-move/framework/aptos-framework/doc/event.md
  aptos-move/framework/aptos-framework/sources/event.spec.move
  aptos-move/framework/cached-packages/generated/head.mrb
Due: none

[vm] add a native test function for reading events
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/event.move
  aptos-move/framework/cached-packages/generated/head.mrb
  aptos-move/framework/src/natives/event.rs
Due: rust-fmt

[Sharding] Change the partitioner to return analyzed txn instead of txn (#9187)
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/sharded_block_executor/block_executor_client.rs
  aptos-move/aptos-vm/src/sharded_block_executor/cross_shard_client.rs
  aptos-move/aptos-vm/src/sharded_block_executor/mod.rs
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_executor_client.rs
  aptos-move/aptos-vm/src/sharded_block_executor/tests.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/e2e-tests/src/executor.rs
  consensus/src/state_computer.rs
  execution/block-partitioner/src/sharded_block_partitioner/conflict_detector.rs
  execution/block-partitioner/src/sharded_block_partitioner/dependent_edges.rs
  execution/block-partitioner/src/sharded_block_partitioner/messages.rs
  execution/block-partitioner/src/sharded_block_partitioner/mod.rs
  execution/block-partitioner/src/sharded_block_partitioner/partitioning_shard.rs
  execution/executor-benchmark/src/block_partitioning.rs
  execution/executor-benchmark/src/native_executor.rs
  execution/executor-benchmark/src/pipeline.rs
  execution/executor-benchmark/src/transaction_executor.rs
  execution/executor-service/src/lib.rs
  execution/executor-service/src/remote_executor_client.rs
  execution/executor-service/src/remote_executor_service.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/components/chunk_output.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/mock_vm/mod.rs
  types/src/block_executor/partitioner.rs
  types/src/transaction/analyzed_transaction.rs
Due: rust-fmt

[move] add a native for reading from the events cacheo
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
Due: rust-fmt

[Spec] update spec for staking_contract.move (#8729)
  aptos-move/framework/aptos-framework/doc/staking_contract.md
  aptos-move/framework/aptos-framework/sources/staking_contract.spec.move
  aptos-move/framework/cached-packages/generated/head.mrb
Due: none

bump sdk version (#9193)
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/version.ts
Due: prettier-fmt

[CLI][Easy] Add show_validator_set cli e2e (#9059)
  crates/aptos/e2e/cases/node.py
  crates/aptos/e2e/main.py
Due: none

fix vector args in CLI (#9168)
  aptos-move/move-examples/cli-e2e-tests/common/sources/cli_e2e_tests.move
  crates/aptos/e2e/cases/move.py
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

[cached packages] Put .mrb back into OUT_DIR (target)
  aptos-move/framework/cached-packages/build.rs
  aptos-move/framework/cached-packages/generated/head.mrb
  aptos-move/framework/cached-packages/src/lib.rs
Due: rust-fmt

[dag] support holes in the order rule test
  consensus/src/dag/storage.rs
  consensus/src/dag/tests/order_rule_tests.rs
Due: rust-fmt

[TS SDK] Higher throughput reads (#9018)
  ecosystem/typescript/aptos-client/.eslintignore
  ecosystem/typescript/aptos-client/.eslintrc.js
  ecosystem/typescript/aptos-client/.gitignore
  ecosystem/typescript/aptos-client/.npmignore
  ecosystem/typescript/aptos-client/.prettierignore
  ecosystem/typescript/aptos-client/LICENSE
  ecosystem/typescript/aptos-client/README.md
  ecosystem/typescript/aptos-client/package.json
  ecosystem/typescript/aptos-client/pnpm-lock.yaml
  ecosystem/typescript/aptos-client/src/cookieJar.ts
  ecosystem/typescript/aptos-client/src/index.browser.ts
  ecosystem/typescript/aptos-client/src/index.node.ts
  ecosystem/typescript/aptos-client/src/types.ts
  ecosystem/typescript/aptos-client/tsconfig.json
  ecosystem/typescript/aptos-client/tsup.config.js
  ecosystem/typescript/sdk/.eslintignore
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/pnpm-lock.yaml
  ecosystem/typescript/sdk/src/client/core.ts
  ecosystem/typescript/sdk/src/client/types.ts
  ecosystem/typescript/sdk/src/tests/e2e/client.test.ts
Due: prettier-fmt

[api] Fix transitive dependency (#9323)
  Cargo.lock
  api/types/Cargo.toml
Due: none

[Storage Service] Handle optimistic fetch requests in parallel.
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/optimistic_fetch.rs
Due: rust-fmt

[indexer grpc] add more logging to data service. (#9336)
  Cargo.toml
  docker/builder/indexer-grpc.Dockerfile
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/main.rs
Due: rust-fmt, rust-cargo-sort

[Storage Service] Replace HashMap with DashMap.
  Cargo.lock
  state-sync/storage-service/server/Cargo.toml
  state-sync/storage-service/server/src/handler.rs
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/optimistic_fetch.rs
  state-sync/storage-service/server/src/tests/optimistic_fetch.rs
  state-sync/storage-service/server/src/tests/utils.rs
Due: rust-fmt

[Storage Service] Move utility functions into utils.rs
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/metrics.rs
  state-sync/storage-service/server/src/optimistic_fetch.rs
  state-sync/storage-service/server/src/tests/mock.rs
  state-sync/storage-service/server/src/tests/new_transaction_outputs.rs
  state-sync/storage-service/server/src/tests/new_transactions.rs
  state-sync/storage-service/server/src/tests/new_transactions_or_outputs.rs
  state-sync/storage-service/server/src/tests/optimistic_fetch.rs
  state-sync/storage-service/server/src/tests/utils.rs
  state-sync/storage-service/server/src/utils.rs
Due: rust-fmt

[dag] add basic test for order rule
  consensus/src/dag/dag_store.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/tests/order_rule_tests.rs
  consensus/src/dag/types.rs
  consensus/src/experimental/buffer_item.rs
  consensus/src/pending_votes.rs
  consensus/src/quorum_store/proof_coordinator.rs
  types/src/ledger_info.rs
  types/src/validator_verifier.rs
Due: rust-fmt

[Time Service] Add `from_mock` utility method.
  crates/aptos-time-service/src/lib.rs
Due: rust-fmt

[Spec] Ensures of account.move (#8929)
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-framework/sources/account.spec.move
Due: none

[deps] Upgrade arc swap
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

[rb] Generic Reliable Broadcast module (#9295)
  Cargo.lock
  Cargo.toml
  consensus/Cargo.toml
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/reliable_broadcast.rs
  consensus/src/dag/tests/reliable_broadcast_tests.rs
  consensus/src/dag/types.rs
  consensus/src/network.rs
  crates/reliable-broadcast/Cargo.toml
  crates/reliable-broadcast/src/lib.rs
  crates/reliable-broadcast/src/tests.rs
Due: rust-fmt, rust-cargo-sort

[Storage Service] Order util methods alphabetically.
  state-sync/storage-service/server/src/tests/utils.rs
Due: rust-fmt

[deps] Upgrade anyhow to 1.0.71
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

[docs] Explain seed for resource account address in delegations (#9145)
  developer-docs-site/docs/nodes/validator-node/operator/delegation-pool-operations.md
Due: none
