Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[Aggregator] Aggregator u128-and-Table implementation
  Cargo.lock
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/move_vm_ext/aggregator_extension.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/aptos-framework/sources/AggregatorRegistry.move
  aptos-move/framework/tests/move_unit_test.rs
  storage/state-view/Cargo.toml
Due: rust-fmt

[Aggregator] Renaming
  aptos-move/framework/aptos-framework/sources/Aggregator.move
Due: none

rebase
  aptos-move/framework/aptos-framework/sources/AggregatorTable.move
  aptos-move/framework/tests/move_unit_test.rs
Due: rust-fmt

rebase move fix
  storage/state-view/Cargo.toml
Due: none

subtract support
  aptos-move/aptos-vm/src/move_vm_ext/aggregator_extension.rs
  aptos-move/framework/aptos-framework/sources/Aggregator.move
Due: rust-fmt

[aptos-cli] Add ability for global config on CLI
  crates/aptos/src/config/mod.rs
Due: rust-fmt

[Aptos CLI][Move Prover] Add the subcommand to run Move Prover in Aptos CLI
  aptos-move/move-examples/hello_prover/Move.toml
  aptos-move/move-examples/hello_prover/sources/prove.move
  aptos-move/move-examples/tests/move_prover_tests.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt

[aptos-cli] Update default folders to be platform agnostic
  Cargo.lock
  crates/aptos/Cargo.toml
  crates/aptos/src/common/types.rs
  crates/aptos/src/common/utils.rs
  crates/aptos/src/config/mod.rs
  crates/aptos/src/genesis/git.rs
  crates/aptos/src/genesis/keys.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/genesis/tests.rs
  crates/aptos/src/local_testnet/mod.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/node/mod.rs
Due: rust-fmt

[aptos-cli] Fix global config file name
  crates/aptos/src/config/mod.rs
Due: rust-fmt

updated comment
  aptos-move/move-examples/shared_account/sources/shared_account.move
Due: none

updated naming
  aptos-move/move-examples/shared_account/sources/shared_account.move
Due: none

chloe's fun
  aptos-move/move-examples/shared_account/Move.toml
  aptos-move/move-examples/shared_account/sources/shared_account.move
  aptos-move/move-examples/src/lib.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
Due: rust-fmt

Move upgrade
  aptos-move/aptos-vm/src/move_vm_ext/aggregator_extension.rs
  aptos-move/framework/aptos-framework/sources/Aggregator.move
  aptos-move/framework/aptos-framework/sources/aggregator_table.move
Due: rust-fmt

Linting
  aptos-move/aptos-vm/src/move_vm_ext/aggregator_extension.rs
Due: rust-fmt

Fixed aggregator table module name
  aptos-move/framework/aptos-framework/sources/aggregator_table.move
Due: none

[storage][pruner] Refactor worker.rs (#2084)
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/db_pruner.rs
  storage/aptosdb/src/pruner/ledger_store/ledger_store_pruner.rs
  storage/aptosdb/src/pruner/state_store/mod.rs
  storage/aptosdb/src/pruner/worker.rs
Due: rust-fmt

[mempool] Fix counters and dashboard for mempool
  dashboards/mempool.json
  mempool/src/counters.rs
Due: rust-fmt

[crypto] fixed the (lack of) Ed25519 public key validation in Move (#2077)
  Cargo.lock
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/sources/signature.move
  aptos-move/framework/src/natives/signature.rs
Due: rust-fmt

Rename Aggregator.move to aggregator.move
  aptos-move/framework/aptos-framework/sources/aggregator.move
Due: none

[vm] Introducing a delta write
  api/types/src/convert.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/parallel_executor/storage_wrapper.rs
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/genesis-viewer/src/main.rs
  aptos-move/transaction-replay/src/lib.rs
  documentation/specifications/move_adapter/README.md
  execution/executor-types/src/in_memory_state_calculator.rs
  types/src/write_set.rs
Due: rust-fmt

fixed analyze_serde_formats test
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/write_set.rs
Due: rust-fmt, prettier-fmt

observability: add k8s.cluster field to logs to identify the cluster it came from (#2074)
  terraform/helm/vector-daemonset/files/vector-config.yaml
  terraform/helm/vector-daemonset/templates/vector-daemonset.yaml
  terraform/helm/vector-daemonset/values.schema.json
  terraform/helm/vector-daemonset/values.yaml
  testsuite/run_forge.sh
Due: prettier-fmt

Added #[serde(skip)] for delta write and used u128 unstead of bytes
  documentation/specifications/move_adapter/README.md
  testsuite/generate-format/src/aptos.rs
  testsuite/generate-format/src/consensus.rs
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/write_set.rs
Due: rust-fmt, prettier-fmt

Update Events dev docs to reflect 32 byte addresses
  developer-docs-site/docs/concepts/basics-events.md
Due: none

Put u128 into DeltaOperation
  documentation/specifications/move_adapter/README.md
  types/src/write_set.rs
Due: rust-fmt

[Docs] Removing toplevel CLIs category from sidebar.
  developer-docs-site/sidebars.js
Due: prettier-fmt

[Token] change transaction builder errormap from a vec of errormap from multiple packages
  aptos-move/af-cli/src/main.rs
  aptos-move/framework/cached-packages/src/lib.rs
  aptos-move/framework/src/aptos.rs
  aptos-move/vm-genesis/src/lib.rs
  sdk/transaction-builder/src/error_explain.rs
Due: rust-fmt

New translations basics-events.md (Russian)
  developer-docs-site/translations/ru-RU/developer-docs-site/docs/concepts/basics-events.md
Due: none

New translations basics-events.md (Chinese Simplified)
  developer-docs-site/translations/zh-CN/developer-docs-site/docs/concepts/basics-events.md
Due: none

[crypto] add support for verifying BLS signature shares in Move (multisignatures might require Move changes)
  aptos-move/framework/aptos-framework/sources/signature.move
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/signature.rs
  crates/aptos-crypto/src/unit_tests/bls12381_test.rs
Due: rust-fmt

[storage] skip serde StateValue hash (#2056)
  types/src/state_store/state_value.rs
Due: rust-fmt

[Storage] Increase the # of background threads for Rocksdb.
  config/src/config/storage_config.rs
  storage/aptosdb/src/db_options.rs
  storage/backup/backup-cli/src/utils/mod.rs
Due: rust-fmt

Update all instances without aptos prefix in dashboard as well
  dashboards/mempool.json
Due: none

Update validator.yaml
  docker/compose/aptos-node/validator.yaml
Due: prettier-fmt

[Execution] Add AsyncProofFetcher.
  Cargo.lock
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/async_proof_fetcher.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/mock.rs
Due: rust-fmt

[Aptos Framework] Add useful public getters to Stake module
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/configs/stake.move
Due: none

cleanup: delete python cache files and exclude them via gitignore (#2072)
  .gitignore
  scripts/fgi/__pycache__/kube.cpython-310.pyc
  scripts/fgi/__pycache__/kube.cpython-39.pyc
Due: none

observability: add honeycomb sink to vector
  terraform/helm/vector-daemonset/example-values/honeycomb-sink.yaml
  testsuite/run_forge.sh
Due: prettier-fmt

Update source file basics-events.md
  developer-docs-site/docs/concepts/basics-events.md
Due: none
