Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Unified aptos_std::comparator function style (#4990)
  aptos-move/framework/aptos-stdlib/sources/comparator.move
Due: none

no_storage
  config/src/config/consensus_config.rs
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/quorum_store.rs
  consensus/src/quorum_store/quorum_store_wrapper.rs
  consensus/src/state_computer.rs
  crates/aptos-rest-client/src/lib.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/stats.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/components/block_tree/mod.rs
  execution/executor/src/components/chunk_output.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/shared_mempool/tasks.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
Due: rust-fmt

[move] Update Move commit hash
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas/src/move_stdlib.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-move/move-examples/tests/move_unit_tests.rs
  crates/aptos/src/move_tool/mod.rs
Due: rust-fmt, rust-cargo-sort

aptos-client types in tutorial are fixed (#5125)
  developer-docs-site/docs/tutorials/first-dapp.md
Due: none

Update index.ts
  ecosystem/typescript/sdk/src/index.ts
Due: prettier-fmt

Update basics-accounts.md
  developer-docs-site/docs/concepts/basics-accounts.md
Due: none

Update indexing.md
  developer-docs-site/docs/guides/indexing.md
Due: none

[sdk] support multisig transaction simulation (#5119)
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/aptos_client.ts
Due: prettier-fmt

export aptos_types (#5120)
  ecosystem/typescript/sdk/src/index.ts
Due: prettier-fmt

Update aptos-coin.md (#5199)
  developer-docs-site/docs/concepts/coin-and-token/aptos-coin.md
Due: none

[Docs] Note on account address. (#5207)
  developer-docs-site/docs/guides/indexing.md
Due: none

Update minting.move
  aptos-move/move-examples/mint_nft/sources/minting.move
Due: none

temp fix
  consensus/src/quorum_store/batch_reader.rs
Due: rust-fmt

[gha] update compat image to testnet prefix (#5283)
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

[codeowners] Added owners for aggregator (#5351)
  CODEOWNERS
Due: none

Promote Stack Overflow on landing page of Aptos.dev and announce in What's New (#5456)
  developer-docs-site/docs/index.md
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

fixing more more marge errors
  consensus/src/test_utils/mock_state_computer.rs
Due: rust-fmt

cargo fmt
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/executed_block.rs
  consensus/consensus-types/src/lib.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/commit_notifier.rs
  consensus/src/data_manager.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/batch_reader.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/mod.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
  consensus/src/test_utils/mock_state_computer.rs
  consensus/src/test_utils/mod.rs
  consensus/src/txn_notifier.rs
Due: rust-fmt

temp fix
  consensus/src/quorum_store/quorum_store_wrapper.rs
Due: rust-fmt

Correct typo in resource account doc comment (#5350)
  aptos-move/framework/aptos-framework/sources/account.move
Due: none

[token] add token type module
  aptos-move/framework/aptos-stdlib/doc/comparator.md
  aptos-move/framework/aptos-token/doc/overview.md
  aptos-move/framework/aptos-token/doc/token.md
  aptos-move/framework/aptos-token/doc/token_type.md
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/aptos-token/sources/token_type.move
Due: none

update
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-stdlib/doc/comparator.md
  config/src/config/storage_config.rs
  storage/aptosdb/src/db_options.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/schema/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_xerkle_db.rs
  storage/backup/backup-cli/src/utils/mod.rs
Due: rust-fmt

update
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/aptosdb/src/state_xerkle_db.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  types/src/lib.rs
  types/src/xibble.rs
Due: rust-fmt

[Token] enforce royalty <= 1
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-stdlib/doc/comparator.md
  aptos-move/framework/aptos-token/doc/token.md
  aptos-move/framework/aptos-token/sources/token.move
Due: none

[replay] Resurrect the debug tooling for aptos (#5320)
  Cargo.lock
  Cargo.toml
  api/src/state.rs
  api/types/src/lib.rs
  api/types/src/table.rs
  aptos-move/aptos-debugger/Cargo.toml
  aptos-move/aptos-debugger/src/lib.rs
  aptos-move/aptos-validator-interface/Cargo.toml
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  crates/aptos-rest-client/src/lib.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/aptos/mint_transfer.rs
Due: rust-fmt, rust-cargo-sort

Update Aptos Framework README to link to new reference files in all versions (#5438)
  aptos-move/framework/README.md
Due: none

Announce Aptos Token Standard updates in What's new in Docs (#5432)
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

[TS][SDK] export aptos abi methods
  ecosystem/typescript/sdk/src/aptos_types/abi.test.ts
  ecosystem/typescript/sdk/src/aptos_types/index.ts
Due: prettier-fmt

[Indexer] decode BCS in some token fields (#5427)
  Cargo.lock
  crates/indexer/Cargo.toml
  crates/indexer/src/models/mod.rs
  crates/indexer/src/models/property_map.rs
  crates/indexer/src/models/token_models/token_utils.rs
  crates/indexer/src/processors/token_processor.rs
  crates/indexer/src/util.rs
Due: rust-fmt

Update CODEOWNERS
  CODEOWNERS
Due: none

Add config and on-chain details to Staking doc, swap link to moved file (#5401)
  developer-docs-site/docs/concepts/staking.md
Due: none

fixing lint test
  consensus/src/commit_notifier.rs
  consensus/src/lib.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/twins/twins_node.rs
Due: rust-fmt

auto mark and close stale issues
  .github/workflows/close-stale-issues.yaml
Due: prettier-fmt

Implement recovering account from derive path.
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/types.rs
Due: rust-fmt

more linter
  consensus/consensus-types/src/request_response.rs
  consensus/src/data_manager.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
Due: rust-fmt

consensus.yaml
  consensus/Cargo.toml
  testsuite/generate-format/tests/staged/consensus.yaml
Due: prettier-fmt

token::get_direct_transfer public fun
  aptos-move/framework/aptos-token/sources/token.move
Due: none

fix bench
  Cargo.lock
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/benches/hash.rs
Due: rust-fmt

[aptos-release-tooling] Implement a tool to generate all the scripts we need for new releases.
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-gas/src/gen.rs
  aptos-move/aptos-release-builder/Cargo.toml
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-release-builder/src/components/framework.rs
  aptos-move/aptos-release-builder/src/components/gas.rs
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/aptos-release-builder/src/components/version.rs
  aptos-move/aptos-release-builder/src/lib.rs
  aptos-move/aptos-release-builder/src/main.rs
  aptos-move/aptos-release-builder/src/utils.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/upgrade.rs
Due: rust-fmt, rust-cargo-sort

merke-xerkle migration in progress
  Cargo.lock
  Cargo.toml
  storage/aptosdb/Cargo.toml
  storage/aptosdb/src/schema/mod.rs
  storage/aptosdb/src/schema/xerkle_node/mod.rs
  storage/aptosdb/src/state_store/state_merkle_batch_committer.rs
  storage/aptosdb/src/state_xerkle_db.rs
  storage/xerkle/Cargo.toml
  storage/xerkle/src/lib.rs
  storage/xerkle/src/node_type/mod.rs
  types/src/xibble.rs
Due: rust-fmt, rust-cargo-sort

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
