Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Link to Evolution of State Sync from State Sync dev doc on first reference (#6867)
  developer-docs-site/docs/guides/state-sync.md
Due: none

improvements
  aptos-move/framework/move-stdlib/sources/vector.move
Due: none

remove to_vec, split_element
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
Due: none

Revert "Remove PodSecurityPolicy from Terraform configs (#6874)"
  terraform/aptos-node-testnet/aws/addons.tf
  terraform/aptos-node-testnet/gcp/addons.tf
  terraform/helm/aptos-node/README.md
  terraform/helm/aptos-node/templates/haproxy.yaml
  terraform/helm/aptos-node/templates/securitypolicy.yaml
  terraform/helm/aptos-node/values.yaml
  terraform/helm/autoscaling/values.yaml
  terraform/helm/chaos/templates/psp.yaml
  terraform/helm/forge/templates/psp.yaml
  terraform/helm/fullnode/templates/psp.yaml
  terraform/helm/genesis/README.md
  terraform/helm/genesis/templates/securitypolicy.yaml
  terraform/helm/genesis/values.yaml
  terraform/helm/monitoring/templates/psp.yaml
  terraform/helm/testnet-addons/templates/psp.yaml
Due: prettier-fmt

generate docs
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
Due: none

generate docs
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
Due: none

remove std
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
Due: none

[TS SDK] Fix IndexerClient error parsing using JSON.stringify() (#6857)
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/providers/indexer.ts
  ecosystem/typescript/sdk/src/tests/e2e/provider.test.ts
  ecosystem/typescript/sdk/src/utils/test_helper.test.ts
Due: prettier-fmt

Fix number of vectors
  developer-docs-site/docs/sdks/ts-sdk/typescript-sdk-overview.md
Due: none

Fix paths to Fullnode Docker Compose file in testnet and devnet lists
  developer-docs-site/docs/nodes/node-files-all-networks/node-files-devnet.md
  developer-docs-site/docs/nodes/node-files-all-networks/node-files-testnet.md
Due: none

[tf/gha] build on push to preview branch and bump machine type (#6872)
  terraform/aptos-node-testnet/aws/variables.tf
  terraform/aptos-node-testnet/gcp/variables.tf
  terraform/aptos-node/aws/variables.tf
  terraform/aptos-node/gcp/variables.tf
Due: none

Revert accidental change in preview commit
  config/src/config/consensus_config.rs
Due: rust-fmt

[Previewnet] Configuration tuning to achieve high TPS (#6825)
  config/src/config/consensus_config.rs
  config/src/config/execution_config.rs
  config/src/config/network_config.rs
  config/src/config/state_sync_config.rs
  config/src/config/storage_config.rs
Due: rust-fmt

Remove PodSecurityPolicy from Terraform configs (#6874)
  terraform/aptos-node-testnet/aws/addons.tf
  terraform/aptos-node-testnet/gcp/addons.tf
  terraform/helm/aptos-node/README.md
  terraform/helm/aptos-node/templates/haproxy.yaml
  terraform/helm/aptos-node/templates/securitypolicy.yaml
  terraform/helm/aptos-node/values.yaml
  terraform/helm/autoscaling/values.yaml
  terraform/helm/chaos/templates/roles.yaml
  terraform/helm/forge/templates/roles.yaml
  terraform/helm/fullnode/templates/psp.yaml
  terraform/helm/genesis/README.md
  terraform/helm/genesis/templates/securitypolicy.yaml
  terraform/helm/genesis/values.yaml
  terraform/helm/monitoring/templates/psp.yaml
  terraform/helm/testnet-addons/templates/psp.yaml
Due: prettier-fmt

[BlockSTM] Optimized transaction shuffling
  consensus/Cargo.toml
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/experimental/ordering_state_computer.rs
  consensus/src/lib.rs
  consensus/src/payload_manager.rs
  consensus/src/sender_aware_shuffler.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
  consensus/src/transaction_shuffler.rs
  execution/executor/src/components/chunk_output.rs
  types/src/on_chain_config/execution_config.rs
  types/src/on_chain_config/mod.rs
Due: rust-fmt

[previewnet] Enable transaction shuffling for previewnet
  types/src/on_chain_config/execution_config.rs
Due: rust-fmt

test min-balance on shares pool and fix shares overflow error code
  aptos-move/framework/aptos-framework/sources/delegation_pool.move
  aptos-move/framework/aptos-stdlib/sources/pool_u64_unbound.move
Due: none

[framework] fixed Move tests
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/initialize_collection/sources/main.move
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/sources/transaction_fee.move
Due: none

Edit TypeScript Overview (Architecture), announce IndexerClient and P… (#6865)
  developer-docs-site/docs/sdks/ts-sdk/typescript-sdk-overview.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/scripts/additional_dict.txt
Due: none

[mempool] Wait until max block size or quorum_store_poll_count is reached
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/epoch_manager.rs
  consensus/src/payload_client.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/test_utils/mock_payload_manager.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/test_framework.rs
Due: rust-fmt

update protos.
  crates/aptos-protos/README.md
  crates/aptos-protos/proto/aptos/datastream/v1/datastream.proto
  crates/aptos-protos/proto/aptos/transaction/testing1/v1/transaction.proto
  crates/aptos-protos/proto/buf.yaml
  crates/aptos-protos/src/pb/aptos.datastream.v1.rs
  crates/aptos-protos/src/pb/aptos.datastream.v1.serde.rs
  crates/aptos-protos/src/pb/aptos.transaction.testing.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.testing.v1.serde.rs
  crates/aptos-protos/src/pb/aptos.transaction.testing1.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.testing1.v1.serde.rs
  crates/aptos-protos/src/pb/aptos.transaction.v1.rs
  crates/aptos-protos/src/pb/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
Due: rust-fmt, prettier-fmt

[TEST BRANCH] hardcode quorum store enabled true
  types/src/on_chain_config/consensus_config.rs
Due: rust-fmt

[Quorum Store] implement end_epoch to prevent cross-epoch sync_to from entering payload_manager
  consensus/src/epoch_manager.rs
  consensus/src/experimental/ordering_state_computer.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
Due: rust-fmt

Make assert and comment clearer
  consensus/src/quorum_store/batch_reader.rs
  consensus/src/state_computer.rs
Due: rust-fmt

[framework] fixed a bug for v1 epilogue and fixed Rust tests
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/initialize_collection/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/upgrade_distribution_percentage/Move.toml
  aptos-move/e2e-move-tests/src/tests/transaction_fee.data/upgrade_distribution_percentage/sources/main.move
  aptos-move/e2e-move-tests/src/tests/transaction_fee.rs
  aptos-move/e2e-move-tests/src/transaction_fee.rs
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/sources/transaction_fee.move
Due: rust-fmt

update protos.
  crates/aptos-protos/proto/aptos/transaction/testing1/v1/transaction.proto
  crates/aptos-protos/src/pb/aptos.transaction.testing1.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.testing1.v1.serde.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
Due: rust-fmt

[Spec] Fix the broken spec (#6864)
  aptos-move/framework/aptos-stdlib/doc/smart_table.md
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_table.spec.move
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.spec.move
Due: none

[indexer grpc][proto] add default type for all enum for datastream and its proto data. (#6834)
  crates/aptos-protos/README.md
  crates/aptos-protos/proto/aptos/datastream/v1/datastream.proto
  crates/aptos-protos/proto/aptos/transaction/testing1/v1/transaction.proto
  crates/aptos-protos/proto/buf.yaml
  crates/aptos-protos/src/pb/aptos.datastream.v1.rs
  crates/aptos-protos/src/pb/aptos.datastream.v1.serde.rs
  crates/aptos-protos/src/pb/aptos.transaction.testing.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.testing.v1.serde.rs
  crates/aptos-protos/src/pb/aptos.transaction.testing1.v1.rs
  crates/aptos-protos/src/pb/aptos.transaction.testing1.v1.serde.rs
  crates/aptos-protos/src/pb/aptos.transaction.v1.rs
  crates/aptos-protos/src/pb/mod.rs
  ecosystem/indexer-grpc/indexer-grpc-cache-worker/src/worker.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
Due: rust-fmt, prettier-fmt

Add more functions
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
  aptos-move/framework/move-stdlib/doc/vector.md
  aptos-move/framework/move-stdlib/sources/vector.move
  aptos-move/framework/move-stdlib/tests/vector_tests.move
Due: none

example map_ref issue
  aptos-move/framework/move-stdlib/tests/vector_tests.move
Due: none

crash
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
  aptos-move/framework/move-stdlib/doc/vector.md
  aptos-move/framework/move-stdlib/sources/option.move
  aptos-move/framework/move-stdlib/sources/vector.move
Due: none

[push-metrics] Support endpoints with token-based authentication
  crates/aptos-push-metrics/src/lib.rs
Due: rust-fmt

Solve crash
  aptos-move/framework/aptos-stdlib/doc/simple_map.md
  aptos-move/framework/aptos-stdlib/doc/smart_table.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_table.move
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
  aptos-move/framework/move-stdlib/doc/vector.md
  aptos-move/framework/move-stdlib/sources/option.move
  aptos-move/framework/move-stdlib/sources/vector.move
  aptos-move/framework/move-stdlib/tests/vector_tests.move
Due: none

[GHA] Ad-hoc forge workflow
  .github/workflows/adhoc-forge.yaml
Due: prettier-fmt

run changing_working_quorum_test
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[gha] copy preview images to dockerhub
  .github/workflows/copy-images-to-dockerhub-release.yaml
  .github/workflows/copy-images-to-dockerhub.yaml
Due: prettier-fmt

Address reviewer feedback
  developer-docs-site/docs/guides/aptos-apis.md
Due: none

Add Important note explaining lag may exist between a transaction and fullnode
  developer-docs-site/docs/guides/aptos-apis.md
Due: none

[forge] list job contents
  testsuite/forge.py
  testsuite/forge_test.py
  testsuite/forge_wrapper_core/cluster.py
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
