Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

Add comment for smoke test
  testsuite/smoke-test/src/txn_broadcast.rs
Due: rust-fmt

Remove unnecessary wait_until_healthy where only vfns were added. No longer needed now that validators don't need to restart.
  testsuite/smoke-test/src/full_nodes.rs
  testsuite/smoke-test/src/network.rs
  testsuite/smoke-test/src/txn_broadcast.rs
Due: rust-fmt

[Docs] Fixing build errors. (#2500)
  developer-docs-site/docs/tutorials/your-first-nft.md
Due: none

[forge] spin up swarm with num_fullnodes
  Cargo.lock
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-values.yaml
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/interface/factory.rs
  testsuite/forge/src/runner.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/performance_test.rs
Due: rust-fmt, prettier-fmt

[Consensus] Add compression to consensus messages.
  Cargo.lock
  aptos-node/src/lib.rs
  config/src/config/consensus_config.rs
  consensus/Cargo.toml
  consensus/src/experimental/tests/buffer_manager_tests.rs
  consensus/src/network_interface.rs
  consensus/src/network_tests.rs
  consensus/src/round_manager_fuzzing.rs
  consensus/src/round_manager_test.rs
  consensus/src/twins/twins_node.rs
  crates/aptos-compression/src/lib.rs
  crates/aptos-compression/src/metrics.rs
  crates/aptos-compression/src/tests.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/node.rs
  network/Cargo.toml
  network/builder/src/builder.rs
  network/builder/src/dummy.rs
  network/peer-monitoring-service/client/src/lib.rs
  network/src/protocols/health_checker/mod.rs
  network/src/protocols/health_checker/test.rs
  network/src/protocols/network/mod.rs
  network/src/protocols/wire/handshake/v1/mod.rs
  network/src/testutils/test_framework.rs
  state-sync/aptos-data-client/src/aptosnet/tests.rs
  state-sync/state-sync-v1/src/network.rs
  state-sync/state-sync-v1/src/shared_components.rs
  state-sync/state-sync-v1/tests/test_harness.rs
  state-sync/storage-service/client/src/lib.rs
  state-sync/storage-service/types/src/responses.rs
  testsuite/generate-format/tests/staged/network.yaml
  testsuite/smoke-test/src/client.rs
Due: rust-fmt, prettier-fmt

[smoke-tests] Add a smoke test for txn broadcasting (#2249)
  crates/aptos-genesis/src/builder.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/smoke-test/src/full_nodes.rs
  testsuite/smoke-test/src/fullnode.rs
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/network.rs
  testsuite/smoke-test/src/state_sync_v2.rs
  testsuite/smoke-test/src/txn_broadcast.rs
Due: rust-fmt

[Token] fix nft example
  developer-docs-site/static/examples/typescript/first_nft.ts
Due: prettier-fmt

[scratchpad] test_multithread_get_oldest_ancestor
  storage/scratchpad/src/sparse_merkle/sparse_merkle_test.rs
Due: rust-fmt

[scratchpad] lock the whole family while changing the family tree
  storage/scratchpad/src/sparse_merkle/mod.rs
Due: rust-fmt

Finalize TS SDK CI
  .github/workflows/sdk-release.yaml
Due: prettier-fmt

Check broadcast_within_validator_network() for transactions directly submitted to validators
  mempool/src/shared_mempool/tasks.rs
Due: rust-fmt

Add proposer stats to onchain performance
  api/src/tests/test_context.rs
  api/types/src/transaction.rs
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/read_write_set_analysis.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/configs/stake.move
  consensus/consensus-types/src/block.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/leader_reputation_test.rs
  execution/executor/tests/db_bootstrapper_test.rs
  execution/executor/tests/storage_integration_test.rs
  state-sync/inter-component/mempool-notifications/src/lib.rs
  state-sync/state-sync-v1/src/executor_proxy.rs
  storage/aptosdb/src/event_store/mod.rs
  types/src/account_config/events/new_block.rs
  types/src/block_metadata.rs
  types/src/proof/unit_tests/proof_test.rs
  types/src/proptest_types.rs
Due: rust-fmt

[Forge] Increase run time & tune TPS threshold (#2502)
  .github/workflows/run-forge.yaml
Due: prettier-fmt

Check broadcast_within_validator_network() for transactions directly submitted to validators (#1957)
  mempool/src/shared_mempool/tasks.rs
Due: rust-fmt

[Forge] Tune the nightly run and introduce per run cleanup time (#2484)
  .github/workflows/pre-release-continuous-test.yaml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/interface/factory.rs
  testsuite/forge/src/runner.rs
Due: rust-fmt, prettier-fmt

[CP] update + lint
  Cargo.lock
  sf-stream/src/tests/mod.rs
  sf-stream/src/tests/proto_converter_tests.rs
  sf-stream/src/tests/test_context.rs
Due: rust-fmt

fixed a typo
  aptos-move/aptos-vm/src/delta_ext/delta_change_set.rs
Due: rust-fmt

[CP] fix goldens
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
Due: none

[Forge Cli] Small improvements for running a local swarm. (#2503)
  Cargo.lock
  crates/aptos-genesis/src/builder.rs
  testsuite/forge-cli/Cargo.toml
  testsuite/forge-cli/src/README.md
  testsuite/forge-cli/src/lib.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/local/node.rs
Due: rust-fmt

[CP] fix test from genesis nondeterminism
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
  sf-stream/src/tests/proto_converter_tests.rs
Due: rust-fmt

[Consensus] Add compression to consensus messages.
  Cargo.lock
  consensus/src/network_interface.rs
  crates/aptos-compression/src/lib.rs
  crates/aptos-compression/src/metrics.rs
  crates/aptos-compression/src/tests.rs
  network/Cargo.toml
  network/src/protocols/network/mod.rs
  network/src/protocols/wire/handshake/v1/mod.rs
  state-sync/storage-service/types/src/responses.rs
  testsuite/generate-format/tests/staged/network.yaml
Due: rust-fmt, prettier-fmt

Fix SR text for link in footer and add html lang.
  ecosystem/platform/server/app/components/footer_component.html.erb
  ecosystem/platform/server/app/views/layouts/_application.html.erb
Due: none

[CP] Review fixes
  aptos-node/src/lib.rs
Due: rust-fmt

[CP] panic on oldest
  sf-stream/src/runtime.rs
Due: rust-fmt

[SF] Write out keys for deleted table values
  aptos-node/Cargo.toml
  sf-stream/Cargo.toml
  sf-stream/src/convert.rs
  sf-stream/src/protos/extractor.proto
  sf-stream/src/protos/extractor.rs
Due: rust-fmt

fix timestamp test
  sf-stream/src/tests/proto_converter_tests.rs
  sf-stream/src/tests/test_context.rs
Due: rust-fmt

fix lint errors
  sf-stream/src/tests/proto_converter_tests.rs
Due: rust-fmt

fix timestamp test
  sf-stream/src/tests/proto_converter_tests.rs
Due: rust-fmt

[CP] Fix test post rebase
  Cargo.lock
  sf-stream/src/runtime.rs
  sf-stream/src/tests/test_context.rs
Due: rust-fmt

[SF-Stream] cleanup + fix tests
  config/src/config/sf_streamer_config.rs
  sf-stream/README.md
  sf-stream/src/runtime.rs
  sf-stream/src/tests/proto_converter_tests.rs
Due: rust-fmt

[SF-Stream] Cleanup clippy
  sf-stream/src/runtime.rs
Due: rust-fmt

[SF] Write out table keys/values
  sf-stream/Cargo.toml
  sf-stream/src/convert.rs
  sf-stream/src/protos/extractor.proto
  sf-stream/src/protos/extractor.rs
  sf-stream/src/runtime.rs
Due: rust-fmt
