Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[Docs] Cleaning up tutorial docs.
  developer-docs-site/docs/concepts/coin-and-token/index.md
  developer-docs-site/docs/tutorials/first-transaction.md
  developer-docs-site/docs/tutorials/index.md
Due: none

[Docs] Minor cleanup
  developer-docs-site/docs/tutorials/first-transaction.md
Due: none

[Docs] Fixing code snippet style.
  developer-docs-site/docs/tutorials/first-move-module.md
Due: none

[tf] update utility node requirement (#4404)
  terraform/aptos-node-testnet/variables.tf
  terraform/aptos-node/aws/variables.tf
  terraform/aptos-node/gcp/variables.tf
Due: none

[Docs] Demoting the CLI install by source in the docs.
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
Due: none

update explorer domain
  developer-docs-site/docs/aptos-developer-resources.md
  developer-docs-site/docs/nodes/ait/connect-to-testnet.md
  developer-docs-site/docs/nodes/ait/steps-in-ait3.md
  developer-docs-site/docs/tutorials/first-dapp.md
  developer-docs-site/docs/tutorials/first-move-module.md
  ecosystem/platform/server/app/components/header_component.rb
  ecosystem/platform/server/app/views/leaderboard/it3.html.erb
  ecosystem/platform/server/app/views/nft_offers/minted.html.erb
  ecosystem/platform/server/app/views/static_page/developers.html.erb
  ecosystem/platform/server/app/views/static_page/root.html.erb
Due: none

fix(ts-sdk): fix the failing example tests
  ecosystem/typescript/sdk/examples/javascript/package.json
  ecosystem/typescript/sdk/examples/javascript/yarn.lock
  ecosystem/typescript/sdk/examples/typescript-esm/package.json
  ecosystem/typescript/sdk/examples/typescript-esm/yarn.lock
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/examples/typescript/yarn.lock
  ecosystem/typescript/sdk/src/aptos_client.test.ts
Due: prettier-fmt

Update ruby deps. (#4342)
  ecosystem/platform/server/Gemfile.lock
Due: none

Increasing haproxy resources
  terraform/helm/aptos-node/values.yaml
  testsuite/forge.py
Due: prettier-fmt

[forge] schedule haproxy on validator nodegroup
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
Due: prettier-fmt

disabling offending lines!\?
  terraform/helm/aptos-node/files/haproxy.cfg
Due: none

1MB TCP buffer
  terraform/helm/aptos-node/files/haproxy.cfg
  terraform/helm/aptos-node/values.yaml
Due: prettier-fmt

512K TCP buffer RX only
  terraform/helm/aptos-node/files/haproxy.cfg
  terraform/helm/aptos-node/values.yaml
Due: prettier-fmt

Adding thread count
  terraform/helm/aptos-node/files/haproxy.cfg
Due: none

[storage] get_rightmost_leaf take a version
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_restore/restore_test.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_store_test.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/mock_tree_store.rs
  storage/jellyfish-merkle/src/node_type/node_type_test.rs
  storage/jellyfish-merkle/src/restore/mod.rs
Due: rust-fmt

fix counters
  consensus/src/quorum_store/batch_reader.rs
  consensus/src/quorum_store/counters.rs
  consensus/src/quorum_store/proof_builder.rs
  consensus/src/quorum_store/quorum_store_wrapper.rs
  consensus/src/quorum_store/utils.rs
Due: rust-fmt

[dashboards] sync grafana dashboards
  dashboards/consensus.json
  dashboards/consensus.json.gz
  dashboards/storage-details.json
  dashboards/storage-details.json.gz
  dashboards/storage-overview.json
  dashboards/storage-overview.json.gz
Due: none

fix build
  consensus/consensus-types/src/proof_of_store.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/tests/proof_builder_test.rs
Due: rust-fmt

Revert "[forge] Implement ability to run multiple tests"
  .github/workflows/forge-continuous.yaml
  .github/workflows/run-forge.yaml
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testGetHumioForgeLinkAbsolute.fixture
  testsuite/fixtures/testGetHumioForgeLinkRelative.fixture
  testsuite/fixtures/testGetHumioLogsLinkAbsolute.fixture
  testsuite/fixtures/testGetHumioLogsLinkRelative.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge.py
  testsuite/forge_test.py
Due: prettier-fmt

Revert "[forge] Implement ability to run multiple tests" (#4430)
  .github/workflows/forge-continuous.yaml
  .github/workflows/run-forge.yaml
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testGetHumioForgeLinkAbsolute.fixture
  testsuite/fixtures/testGetHumioForgeLinkRelative.fixture
  testsuite/fixtures/testGetHumioLogsLinkAbsolute.fixture
  testsuite/fixtures/testGetHumioLogsLinkRelative.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge.py
  testsuite/forge_test.py
Due: prettier-fmt

[consensus] surface insert vote error
  consensus/src/round_manager.rs
Due: rust-fmt

[aptos-logger] Add key to error message telling that serialization failed
  crates/aptos-logger/src/aptos_logger.rs
Due: rust-fmt

[api] Cache the gas schedule
  api/src/context.rs
Due: rust-fmt

[rosetta] Paginate transactions for blocks
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-rosetta/src/block.rs
  crates/aptos-rosetta/src/lib.rs
  crates/aptos-rosetta/src/main.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[api] Update spec for new block API description
  api/doc/spec.json
  api/doc/spec.yaml
  ecosystem/typescript/sdk/src/generated/services/BlocksService.ts
Due: prettier-fmt

[api] Limit transactions out of block APIs
  api/src/blocks.rs
  api/src/context.rs
Due: rust-fmt

[network] Add REST API discovery for Validator full nodes
  Cargo.lock
  config/src/config/network_config.rs
  network/builder/src/builder.rs
  network/discovery/Cargo.toml
  network/discovery/src/lib.rs
  network/discovery/src/rest.rs
  network/discovery/src/validator_set.rs
  network/src/connectivity_manager/mod.rs
  testsuite/smoke-test/src/network.rs
Due: rust-fmt

[aptos-rosetta] Parse set voter from transaction payloads
  crates/aptos-rosetta/src/types/objects.rs
Due: rust-fmt

[aptos-rosetta] Add set voter operation
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/move_types.rs
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[smoke-test] Add Rosetta hash uniqueness checks
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[aptos-rosetta] Fix failed set operator and set voter outputs
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[aptos-cli] Allow compiling scripts and proposals with local framework
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/test/mod.rs
Due: rust-fmt

[Consensus] Add metrics for pending blocks per stage
  consensus/src/counters.rs
  consensus/src/experimental/buffer_manager.rs
Due: rust-fmt

[consensus] better logging
  consensus/src/experimental/buffer_manager.rs
  consensus/src/persistent_liveness_storage.rs
  consensus/src/round_manager.rs
  consensus/src/txn_notifier.rs
Due: rust-fmt

[consensus] add missing checks
  consensus/consensus-types/src/quorum_cert.rs
  consensus/consensus-types/src/sync_info.rs
  consensus/src/experimental/pipeline_phase.rs
  consensus/src/round_manager.rs
Due: rust-fmt

[telemetry-service] security audit fixes and related refactorings
  Cargo.lock
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/clients/humio.rs
  crates/aptos-telemetry-service/src/clients/mod.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/custom_event.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt

fix counters
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/quorum_store_wrapper.rs
  consensus/src/quorum_store/utils.rs
Due: rust-fmt
