Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

import image and baseUrl components
  developer-docs-site/docs/concepts/wallet-adapter-concept.md
Due: none

address feedback
  developer-docs-site/docs/concepts/wallet-adapter-concept.md
  developer-docs-site/docs/guides/wallet-adapter-for-dapp.md
  developer-docs-site/static/img/docs/wallet-adapter-chart-dark.svg
  developer-docs-site/static/img/docs/wallet-adapter-chart-light.svg
Due: none

add words to dict file
  developer-docs-site/scripts/additional_dict.txt
Due: none

Make direct edits to Wallet Adapter concept
  developer-docs-site/docs/concepts/wallet-adapter-concept.md
Due: none

add context on the adapter
  developer-docs-site/docs/concepts/wallet-adapter-concept.md
Due: none

rename image files
  developer-docs-site/static/img/docs/10-adapter-chart-dark.svg
  developer-docs-site/static/img/docs/10-adapter-chart-light.svg
Due: none

[DOC] add aptos wallet adapter docs
  developer-docs-site/docs/concepts/wallet-adapter-concept.md
  developer-docs-site/docs/guides/wallet-adapter-for-dapp.md
  developer-docs-site/docs/guides/wallet-adapter-for-wallets.md
  developer-docs-site/sidebars.js
  developer-docs-site/static/img/docs/10-adapter_chart_dark.svg
  developer-docs-site/static/img/docs/10-adapter_chart_light.svg
Due: prettier-fmt

[DOC] add aptos wallet adapter docs
  developer-docs-site/docs/guides/wallet-adapter-for-dapp.md
  developer-docs-site/docs/guides/wallet-adapter-for-wallets.md
Due: none

Make small edits directly
  developer-docs-site/docs/guides/wallet-adapter-for-dapp.md
Due: none

Fix order of new dictionary entries
  developer-docs-site/scripts/additional_dict.txt
Due: none

Edit Wallet Adapter for Wallets directly
  developer-docs-site/docs/guides/wallet-adapter-for-wallets.md
Due: none

add missing link
  developer-docs-site/docs/guides/wallet-adapter-for-wallets.md
Due: none

Make direct edits to Wallet Adapter for Dapps doc
  developer-docs-site/docs/guides/wallet-adapter-for-dapp.md
Due: none

[DOC] add aptos wallet adapter docs
  developer-docs-site/docs/concepts/wallet-adapter-concept.md
Due: none

Quorum Store related changes to consensus networking.
  Cargo.lock
  consensus/Cargo.toml
  consensus/consensus-types/src/proof_of_store.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/experimental/tests/buffer_manager_tests.rs
  consensus/src/network.rs
  consensus/src/network_interface.rs
  consensus/src/quorum_store/mod.rs
  consensus/src/quorum_store/types.rs
  consensus/src/round_manager.rs
  testsuite/generate-format/tests/staged/consensus.yaml
Due: rust-fmt, prettier-fmt

Additional verify params
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/proposal_msg.rs
  consensus/src/quorum_store/types.rs
  consensus/src/round_manager.rs
Due: rust-fmt

do generate again
  testsuite/generate-format/tests/staged/consensus.yaml
Due: prettier-fmt

Move quorum_store_enabled check to epoch_manager
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/proof_of_store.rs
  consensus/consensus-types/src/proposal_msg.rs
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/types.rs
  consensus/src/round_manager.rs
Due: rust-fmt

Add quorum store sender messages to QuorumStoreSender trait
  consensus/src/network.rs
  consensus/src/network_interface.rs
Due: rust-fmt

some cleanup
  consensus/consensus-types/src/proof_of_store.rs
Due: rust-fmt

[DOC] add aptos wallet adapter docs (#5812)
  developer-docs-site/docs/concepts/wallet-adapter-concept.md
  developer-docs-site/docs/guides/wallet-adapter-for-dapp.md
  developer-docs-site/docs/guides/wallet-adapter-for-wallets.md
  developer-docs-site/scripts/additional_dict.txt
  developer-docs-site/sidebars.js
  developer-docs-site/static/img/docs/wallet-adapter-chart-dark.svg
  developer-docs-site/static/img/docs/wallet-adapter-chart-light.svg
Due: prettier-fmt

Announce Wallet Adapter in See what's new
  developer-docs-site/docs/guides/aptos-apis.md
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

add comments
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/block_executor/storage_wrapper.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/scheduler.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
Due: rust-fmt

Announce Wallet Adapter in See what's new (#5844)
  developer-docs-site/docs/guides/aptos-apis.md
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

Fix title in new page
  developer-docs-site/docs/guides/wallet-adapter-for-dapp.md
Due: none

Fix title in new page (#5845)
  developer-docs-site/docs/guides/wallet-adapter-for-dapp.md
Due: none

sequential block gas
  aptos-move/block-executor/src/executor.rs
Due: rust-fmt

Minor change to build indexer.
  crates/indexer/README.md
Due: none

Update links to include mainnet
  developer-docs-site/docs/reference/move.md
Due: none

[framework] Addressed comments
  aptos-move/framework/aptos-framework/doc/coin.md
  aptos-move/framework/aptos-framework/doc/transaction_fee.md
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/transaction_fee.move
Due: none

[gas] ChangeSet limits configurable on-chain
  aptos-move/aptos-aggregator/src/transaction.rs
  aptos-move/aptos-debugger/src/lib.rs
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/lib.rs
  aptos-move/aptos-gas/src/transaction/mod.rs
  aptos-move/aptos-gas/src/transaction/storage.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/failed_transaction_tests.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
  config/src/config/execution_config.rs
  execution/executor/src/mock_vm/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  state-sync/inter-component/mempool-notifications/src/lib.rs
  types/src/proptest_types.rs
  types/src/transaction/change_set.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[gas] trivial: move StorageGasParameters to its own module
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/instr.rs
  aptos-move/aptos-gas/src/misc.rs
  aptos-move/aptos-gas/src/transaction/mod.rs
  aptos-move/aptos-gas/src/transaction/storage.rs
Due: rust-fmt

[gas] free_write_bytes_quota
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/transaction/mod.rs
  aptos-move/aptos-gas/src/transaction/storage.rs
Due: rust-fmt

[gas][refactor] refactor StorageGasParameters to consolidate storage charges
  aptos-move/aptos-gas/src/gas_meter.rs
  aptos-move/aptos-gas/src/transaction/mod.rs
  aptos-move/aptos-gas/src/transaction/storage.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/e2e-testsuite/src/tests/failed_transaction_tests.rs
  types/src/on_chain_config/gas_schedule.rs
Due: rust-fmt

skip
  .github/actions/replay-verify/action.yaml
  .github/workflows/replay-verify-mainnet.yaml
  execution/executor/src/chunk_executor.rs
Due: rust-fmt, prettier-fmt
