Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

bug fix
  third_party/move/move-model/src/builder/model_builder.rs
Due: rust-fmt

add ability checking on struct defs
  third_party/move/move-compiler-v2/src/pipeline/ability_checker.rs
  third_party/move/move-model/src/builder/model_builder.rs
  third_party/move/move-model/src/builder/module_builder.rs
Due: rust-fmt

change impl
  third_party/move/move-compiler-v2/src/pipeline/ability_checker.rs
Due: rust-fmt

delete unused commented code
  third_party/move/move-model/src/builder/model_builder.rs
Due: rust-fmt

fall back
  third_party/move/move-model/bytecode/src/stackless_control_flow_graph.rs
Due: rust-fmt

[typo*]Update 5-submit-data-to-chain.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/5-submit-data-to-chain.md
Due: none

[typoUpdate 6-handle-tasks.md
  developer-docs-site/docs/tutorials/build-e2e-dapp/6-handle-tasks.md
Due: none

[typo*]Update migration.md
  developer-docs-site/docs/indexer/legacy/migration.md
Due: none

updated python sdk gitignore
  ecosystem/python/sdk/.gitignore
Due: none

updated python sdk async client (doc strings + removed code duplication + new methods)
  ecosystem/python/sdk/aptos_sdk/async_client.py
Due: none

conflict-aware block gas limit
  Cargo.lock
  api/src/context.rs
  api/src/state.rs
  aptos-move/aptos-validator-interface/Cargo.toml
  aptos-move/aptos-validator-interface/src/rest_interface.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/counters.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/lib.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/types.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/e2e-tests/src/executor.rs
  consensus/src/dag/dag_store.rs
  crates/aptos-genesis/src/test_utils.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/pipeline.rs
  execution/executor-benchmark/src/transaction_executor.rs
  testsuite/single_node_performance.py
  types/src/block_executor/config.rs
  types/src/on_chain_config/execution_config.rs
  types/src/test_helpers/transaction_test_helpers.rs
Due: rust-fmt

Add BlockLimitReachedEvent to StateCheckpoint
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/block_executor/vm_wrapper.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/aptos-framework/doc/block.md
  aptos-move/framework/aptos-framework/sources/block.move
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/executed_block.rs
  consensus/src/execution_pipeline.rs
  consensus/src/state_computer.rs
  consensus/src/state_computer_tests.rs
  consensus/src/txn_notifier.rs
  execution/executor-benchmark/src/db_reliable_submitter.rs
  execution/executor-benchmark/src/transaction_executor.rs
  execution/executor-benchmark/src/transaction_generator.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/tests/chunk_executor_tests.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  types/src/account_config/events/new_block.rs
  types/src/block_executor/config.rs
  types/src/test_helpers/transaction_test_helpers.rs
  types/src/transaction/mod.rs
Due: rust-fmt

relax the timeout for dataservice isde.
  ecosystem/indexer-grpc/indexer-grpc-data-service/src/service.rs
Due: rust-fmt

[Forge] Remove system metrics check for max throughput test
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Comments
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Addressing a typo
  third_party/move/move-compiler-v2/src/pipeline/livevar_analysis_processor.rs
Due: rust-fmt

[Forge] Remove system metrics check for max throughput test (#11235)
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[compiler v2] Relaxing copy restrictions on `&mut` (#11213)
  third_party/move/move-compiler-v2/src/experiments.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/src/options.rs
  third_party/move/move-compiler-v2/src/pipeline/livevar_analysis_processor.rs
  third_party/move/move-compiler-v2/src/pipeline/reference_safety_processor.rs
  third_party/move/move-compiler-v2/tests/file-format-generator/borrow.exp
  third_party/move/move-compiler-v2/tests/live-var/mut_inline.exp
  third_party/move/move-compiler-v2/tests/live-var/mut_inline.move
  third_party/move/move-compiler-v2/tests/live-var/mut_ref.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_combo_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_field.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_field_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_full.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/borrow_field_full_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/call_mutual_borrows.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/call_mutual_borrows_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_combo.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_field.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/dereference_field_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/freeze_combo_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/freeze_field_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_combo.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_combo_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_field_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_full.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/mutate_full_invalid.exp
  third_party/move/move-compiler-v2/tests/reference-safety/v1-tests/return_mutual_borrows_invalid.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/control_flow/sorter.exp
Due: rust-fmt

[vm] Fix string arg validation
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/e2e-move-tests/src/tests/string_args.rs
Due: rust-fmt

Tuning gas schedule based on actual throughput performance
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
Due: rust-fmt

[not for review] test sequential benchmark speed
  execution/executor-benchmark/src/transaction_generator.rs
  testsuite/single_node_performance.py
Due: rust-fmt

Gas profiling of EntryPoints from transaction generator
  Cargo.lock
  aptos-move/aptos-gas-profiling/src/aggregate.rs
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/gas.rs
Due: rust-fmt

Adding new workloads to transaction-generator
  crates/transaction-generator-lib/src/args.rs
  crates/transaction-generator-lib/src/call_custom_modules.rs
  crates/transaction-generator-lib/src/lib.rs
  crates/transaction-generator-lib/src/publish_modules.rs
  crates/transaction-generator-lib/src/publishing/module_simple.rs
  crates/transaction-generator-lib/src/publishing/publish_util.rs
  crates/transaction-generator-lib/src/publishing/raw_module_data.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-benchmark/src/transaction_generator.rs
  testsuite/module-publish/src/packages/complex/sources/smart_table_picture.move
  testsuite/module-publish/src/packages/complex/sources/vector_picture.move
  testsuite/module-publish/src/packages/framework_usecases/sources/objects.move
  testsuite/module-publish/src/packages/simple/sources/Simple.move
Due: rust-fmt

[Aptos Data Client] Add tests for multi-fetch.
  state-sync/aptos-data-client/src/tests/multi_fetch.rs
  state-sync/aptos-data-client/src/tests/peers.rs
Due: rust-fmt

[Network] Add metrics for received expired RPC responses.
  network/framework/src/counters.rs
  network/framework/src/protocols/rpc/mod.rs
Due: rust-fmt

[metrics] add custom histogram buckets for block trace
  consensus/src/counters.rs
Due: rust-fmt

[framework] Remove move warnings from framework
  aptos-move/framework/aptos-framework/sources/object.spec.move
  aptos-move/framework/aptos-token-objects/sources/aptos_token.move
Due: none

[release] Promote the performance profile to release
  Cargo.toml
Due: rust-cargo-sort

[framework] Remove move warnings from framework (#11239)
  aptos-move/framework/aptos-framework/sources/object.spec.move
  aptos-move/framework/aptos-token-objects/sources/aptos_token.move
Due: none

tweak a bit
  developer-docs-site/docs/move/book/unit-testing.md
Due: none

correct documentation of expected_attribute
  developer-docs-site/docs/move/book/unit-testing.md
Due: none

optimization
  consensus/src/randomness/rand_manager.rs
  consensus/src/randomness/rand_store.rs
Due: rust-fmt

[rand_gen] use EnumConversion macro
  consensus/src/rand/rand_gen/network_messages.rs
Due: rust-fmt

[storage] try on unknown failure cases and increase retry count
  testsuite/replay_verify.py
Due: none

trivial: split out StoragePricing
  aptos-move/aptos-debugger/src/aptos_debugger.rs
  aptos-move/aptos-vm-types/src/storage/change_set_configs.rs
  aptos-move/aptos-vm-types/src/storage/mod.rs
  aptos-move/aptos-vm-types/src/storage/pricing.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-move/writeset-transaction-generator/src/writeset_builder.rs
Due: rust-fmt

[api] add metrics for gas estimate
  Cargo.lock
  api/Cargo.toml
  api/src/metrics.rs
  api/src/transactions.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
