Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[docker] bug fix Add apt-get install lld
  docker/rosetta/rosetta.Dockerfile
Due: none

[docker] bug fix Add apt-get install lld (#5503)
  docker/rosetta/rosetta.Dockerfile
Due: none

even more test cases
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/aptos-framework/sources/vesting.move
Due: none

use available machine type for mainnet replay job (#5483)
  .github/workflows/replay-verify-mainnet.yaml
  .github/workflows/replay-verify-testnet.yaml
Due: prettier-fmt

delete dead code
  aptos-move/framework/aptos-framework/sources/stake.move
Due: none

[scripts] override env vars for grafana-sync
  scripts/grafana-sync.mts
Due: none

[scripts] override env vars for grafana-sync (#5166)
  scripts/grafana-sync.mts
Due: none

[aptos-logger] retire and cleanup tcp log writer
  aptos-node/src/lib.rs
  crates/aptos-logger/src/aptos_logger.rs
  crates/aptos-logger/src/counters.rs
  crates/aptos-logger/src/lib.rs
  crates/aptos-logger/src/struct_log.rs
  crates/aptos-logger/tests/remote.rs
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
Due: rust-fmt, prettier-fmt

update
  aptos-move/framework/aptos-framework/sources/stake.move
Due: none

[aptos-logger] remove references from helm charts
  crates/aptos-rosetta-cli/src/main.rs
  crates/aptos/src/common/utils.rs
  storage/backup/backup-cli/src/bin/db-backup-verify.rs
  storage/backup/backup-cli/src/bin/db-backup.rs
  storage/backup/backup-cli/src/bin/db-restore.rs
  storage/backup/backup-cli/src/bin/replay-verify.rs
  terraform/helm/aptos-node/README.md
  terraform/helm/aptos-node/values.yaml
  terraform/helm/fullnode/templates/_helpers.tpl
  terraform/helm/fullnode/templates/backup-verify.yaml
  terraform/helm/fullnode/templates/backup.yaml
  terraform/helm/fullnode/templates/fullnode.yaml
  terraform/helm/fullnode/templates/restore.yaml
  testsuite/forge-cli/src/main.rs
Due: rust-fmt, prettier-fmt

feat: get resource account address out of source address and seed
  ecosystem/typescript/sdk/src/aptos_account.test.ts
  ecosystem/typescript/sdk/src/aptos_account.ts
  ecosystem/typescript/sdk/src/aptos_types/authentication_key.ts
Due: prettier-fmt

update
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-stdlib/doc/bls12381.md
  aptos-move/framework/aptos-stdlib/sources/cryptography/bls12381.move
  aptos-move/framework/src/natives/cryptography/bls12381.rs
Due: rust-fmt

update asserts
  aptos-move/aptos-vm/src/natives.rs
Due: rust-fmt

Replacing docker run command with docker pull
  developer-docs-site/docs/nodes/indexer-fullnode.md
Due: none

Remove extra "below"
  developer-docs-site/docs/guides/move-guides/index.md
Due: none

Begin rewrites to fullnode indexer (#5423)
  developer-docs-site/docs/nodes/full-node/fullnode-source-code-or-docker.md
  developer-docs-site/docs/nodes/indexer-fullnode.md
Due: none

[token] add new token doc update
  aptos-move/framework/aptos-stdlib/doc/comparator.md
  aptos-move/framework/aptos-token/doc/overview.md
  aptos-move/framework/aptos-token/doc/token.md
  aptos-move/framework/aptos-token/doc/token_type.md
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/aptos-token/sources/token_type.move
Due: none

Make all versions of Move reference files available from Move guides (#5442)
  developer-docs-site/docs/guides/move-guides/index.md
  developer-docs-site/docs/guides/move-guides/move-on-aptos.md
Due: none

[gh] disable blank issues without template
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier-fmt

Migrate Move lang supporting docs to Move Guides index for easy access
  developer-docs-site/docs/guides/move-guides/index.md
  developer-docs-site/docs/guides/move-guides/move-on-aptos.md
Due: none

[telemetry-service] metrics replication and retry support
  Cargo.lock
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/clients/humio.rs
  crates/aptos-telemetry-service/src/clients/mod.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/metrics.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
Due: rust-fmt

[telemetry-service] fix trace id key in log entry
  crates/aptos-telemetry-service/src/constants.rs
  crates/aptos-telemetry-service/src/index.rs
Due: rust-fmt

[telemetry-service] Adds project label to service metrics
  crates/aptos-telemetry-service/src/constants.rs
  crates/aptos-telemetry-service/src/metrics.rs
Due: rust-fmt

[telemetry-service] prometheus metrics instrument+export
  Cargo.lock
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/constants.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/error.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/metrics.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
  crates/aptos-telemetry/src/sender.rs
Due: rust-fmt

[telemetry-service] fix chain name for ID 3
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/constants.rs
  crates/aptos-telemetry-service/src/custom_event.rs
  crates/aptos-telemetry-service/src/errors.rs
  crates/aptos-telemetry-service/src/gcp_logger.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/log_ingest.rs
  crates/aptos-telemetry-service/src/metrics.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Due: rust-fmt

[telemetry-service] add container ID label to service metrics
  crates/aptos-telemetry-service/src/constants.rs
  crates/aptos-telemetry-service/src/gcp_logger.rs
  crates/aptos-telemetry-service/src/metrics.rs
  docker/rust-all.Dockerfile
Due: rust-fmt

special handling of chain ID 3 and mainnet push metrics
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
Due: rust-fmt

[telemetry-service] name peers in metrics
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
Due: rust-fmt

[telemetry-service] fix log tag for chain ID 3
  crates/aptos-telemetry-service/src/log_ingest.rs
Due: rust-fmt

introduce metrics_source label in telemetry service
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
Due: rust-fmt

[telemetry-service] count metric ingest by peer
  crates/aptos-telemetry-service/src/metrics.rs
  crates/aptos-telemetry-service/src/prometheus_push_metrics.rs
Due: rust-fmt

[gh] disable blank issues without template (#5509)
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier-fmt

chore: bump sdk version
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/src/index.ts
Due: prettier-fmt

[data ingestion] first version of bigquery streaming ingestion.
  crates/indexer/src/bigquery_client.rs
  crates/indexer/src/processors/data_ingestion_processor.rs
  crates/indexer/src/runtime.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
