Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[github] Remove links workflow (#17582)
  .github/workflows/links.yml
Due: prettier-fmt

[faucet-client] Upgrade faucet dependencies
  crates/aptos-faucet/ts-client/package.json
  crates/aptos-faucet/ts-client/pnpm-lock.yaml
Due: prettier-fmt

Add redundant linter and test-cases
  third_party/move/tools/move-linter/src/model_ast_lints.rs
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_comparison.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_comparison_warn.exp
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_comparison_warn.move
Due: rust-fmt

Add skip test and not detected tests
  third_party/move/tools/move-linter/src/model_ast_lints/redundant_comparison.rs
  third_party/move/tools/move-linter/tests/model_ast_lints/redundant_comparison_warn.move
Due: rust-fmt

[deps] Upgrade dependencies for node checker
  ecosystem/node-checker/ts-client/package.json
  ecosystem/node-checker/ts-client/pnpm-lock.yaml
Due: prettier-fmt

[deps] Update dependencies in k6
  testsuite/loadtest-k6/package.json
  testsuite/loadtest-k6/pnpm-lock.yaml
  testsuite/loadtest-k6/yarn.lock
Due: prettier-fmt

[deps] update dependencies in ts-tasks
  .github/ts-tasks/package.json
  .github/ts-tasks/pnpm-lock.yaml
Due: prettier-fmt

[deps] Upgrade protos typescript deps
  protos/typescript/package.json
  protos/typescript/pnpm-lock.yaml
Due: prettier-fmt

[deps] Upgrade TS deps on the top level of the repo
  package.json
  pnpm-lock.yaml
Due: prettier-fmt

[Hot State] Compute LRU in speculative state
  execution/executor-types/src/transactions_with_output.rs
  execution/executor/src/workflow/do_get_execution_output.rs
  storage/aptosdb/src/backup/restore_utils.rs
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
  storage/storage-interface/src/state_store/hot_state.rs
  storage/storage-interface/src/state_store/state.rs
  storage/storage-interface/src/state_store/state_update_refs.rs
  storage/storage-interface/src/state_store/state_view/cached_state_view.rs
  storage/storage-interface/src/state_store/state_with_summary.rs
  types/src/state_store/mod.rs
Due: rust-fmt

[vm] Remove depth checks for unpack (#17594)
  third_party/move/move-vm/runtime/src/interpreter.rs
Due: rust-fmt

Ensuring that during tests, no code is trusted. Also adds a mechanism to have different feature flag sets during testing and in prod.
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

Addressing reviewer comments.
  third_party/move/move-binary-format/src/errors.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
Due: rust-fmt

[Consensus Observer] Increase max num pending blocks for test networks.
  config/src/config/consensus_observer_config.rs
Due: rust-fmt

[Consensus Observer] Handle state sync notification race condition.
  consensus/src/consensus_observer/observer/block_data.rs
  consensus/src/consensus_observer/observer/consensus_observer.rs
Due: rust-fmt

[vm] Aggregate multiple behaviors into a single trait
  third_party/move/move-vm/runtime/src/interpreter.rs
Due: rust-fmt

target
  .cargo/config.toml
Due: none

[Move framework:] add modules supporting signed int into move-stdlib
  aptos-move/framework/move-stdlib/doc/i128.md
  aptos-move/framework/move-stdlib/doc/i64.md
  aptos-move/framework/move-stdlib/doc/overview.md
  aptos-move/framework/move-stdlib/sources/i128.move
  aptos-move/framework/move-stdlib/sources/i64.move
  aptos-move/framework/move-stdlib/tests/i128_tests.move
  aptos-move/framework/move-stdlib/tests/i64_tests.move
Due: none

Removed unwrap for evaluation domain
  crates/aptos-dkg/src/range_proofs/univariate_range_proof.rs
Due: rust-fmt

Addressing reviewer comments
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
Due: rust-fmt

format
  consensus/consensus-types/src/block.rs
  consensus/consensus-types/src/block_data.rs
  consensus/consensus-types/src/common.rs
  consensus/consensus-types/src/payload.rs
  consensus/consensus-types/src/proposal_ext.rs
  consensus/consensus-types/src/vote_proposal.rs
  consensus/src/block_storage/block_store.rs
  consensus/src/consensus_observer/network/observer_message.rs
  consensus/src/payload_manager/quorum_store_payload_manager.rs
  consensus/src/util/db_tool.rs
  crates/aptos-crypto/src/hash.rs
  types/src/block_info.rs
Due: rust-fmt

x86-64-v4
  .cargo/config.toml
Due: none

x86-64-v3
  .cargo/config.toml
Due: none

x86-64-v2
  .cargo/config.toml
Due: none

x86-64-v2 without -mpclmul
  .cargo/config.toml
Due: none

x86-64-v2 with -mpclmul
  .cargo/config.toml
Due: none

Small fix in block metadata
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/transaction_generator.rs
  testsuite/single_node_performance.py
Due: rust-fmt

.
  testsuite/single_node_performance.py
Due: none

.
  execution/executor-benchmark/src/block_preparation.rs
  execution/executor-benchmark/src/lib.rs
Due: rust-fmt
