Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

foo
  .github/ts-tasks/prune-github-workflow-runs.ts
Due: prettier-fmt

add custom royalty recipient for NFT
  aptos-move/framework/aptos-framework/sources/Token.move
  aptos-move/framework/aptos-framework/sources/TokenTransfers.move
Due: none

Add test for It2ProfilesController.
  ecosystem/platform/server/app/controllers/health_controller.rb
  ecosystem/platform/server/spec/factories/it2_profiles.rb
  ecosystem/platform/server/spec/factories/users.rb
  ecosystem/platform/server/test/controllers/it2_profiles_controller_test.rb
Due: none

Use mocha to mock controller methods.
  ecosystem/platform/server/Gemfile
  ecosystem/platform/server/Gemfile.lock
  ecosystem/platform/server/test/controllers/it2_profiles_controller_test.rb
Due: none

[Smoke Test] Update storage deletion for smoke tests.
  Cargo.lock
  consensus/src/consensusdb/mod.rs
  consensus/src/lib.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/state_sync_v2.rs
  testsuite/smoke-test/src/storage.rs
Due: rust-fmt

Update leaderboard/it2 for new schema.
  ecosystem/platform/server/app/components/table_header_column_component.rb
  ecosystem/platform/server/app/controllers/application_controller.rb
  ecosystem/platform/server/app/controllers/leaderboard_controller.rb
  ecosystem/platform/server/app/views/leaderboard/it2.html.erb
  ecosystem/platform/server/public/it2_leaderboard_example.json
Due: none

Use redis for caching in production.
  ecosystem/platform/server/Gemfile
  ecosystem/platform/server/Gemfile.lock
  ecosystem/platform/server/config/environments/production.rb
Due: none

Integrate Directus.
  ecosystem/platform/server/.directus.env.example
  ecosystem/platform/server/app/controllers/articles_controller.rb
  ecosystem/platform/server/app/models/article.rb
  ecosystem/platform/server/app/views/articles/index.html.erb
  ecosystem/platform/server/app/views/articles/show.html.erb
  ecosystem/platform/server/config/initializers/schema.rb
  ecosystem/platform/server/config/routes.rb
  ecosystem/platform/server/db/migrate/20220707181731_create_articles.rb
  ecosystem/platform/server/db/schema.rb
  ecosystem/platform/server/spec/factories/articles.rb
  ecosystem/platform/server/spec/models/article_spec.rb
Due: none

Update leaderboard/it2 for new schema. (#1911)
  ecosystem/platform/server/app/components/table_header_column_component.rb
  ecosystem/platform/server/app/controllers/application_controller.rb
  ecosystem/platform/server/app/controllers/leaderboard_controller.rb
  ecosystem/platform/server/app/views/leaderboard/it2.html.erb
  ecosystem/platform/server/public/it2_leaderboard_example.json
Due: none

Use redis for caching in production. (#1928)
  ecosystem/platform/server/Gemfile
  ecosystem/platform/server/Gemfile.lock
  ecosystem/platform/server/config/environments/production.rb
Due: none

[Smoke Test] Update storage deletion for smoke tests. (#1929)
  Cargo.lock
  consensus/src/consensusdb/mod.rs
  consensus/src/lib.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/state_sync_v2.rs
  testsuite/smoke-test/src/storage.rs
Due: rust-fmt

[Genesis] Pass initial validator lockup and fix the calculations of hardcoded reward rates to avoid rounding errors (#1927)
  api/src/tests/test_context.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/Genesis.move
  aptos-move/vm-genesis/src/lib.rs
  aptos-node/src/lib.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos-genesis/src/test_utils.rs
  testsuite/forge/src/backend/local/swarm.rs
Due: rust-fmt

add mutable uri
  aptos-move/framework/aptos-framework/sources/Token.move
  aptos-move/framework/aptos-framework/sources/TokenTransfers.move
Due: none

Use the marketing footer on community.
  ecosystem/platform/server/app/components/button_component.rb
  ecosystem/platform/server/app/components/footer_component.html.erb
  ecosystem/platform/server/app/components/footer_component.rb
  ecosystem/platform/server/app/form_builders/aptos_form_builder.rb
Due: none

Integrate mailchimp.
  ecosystem/platform/server/app/components/footer_component.html.erb
Due: none

[Token] add serial_number
  aptos-move/framework/aptos-framework/sources/PropertyMap.move
  aptos-move/framework/aptos-framework/sources/TokenV1.move
Due: none

[community] Use the marketing footer on community. (#1918)
  ecosystem/platform/server/app/components/button_component.rb
  ecosystem/platform/server/app/components/footer_component.html.erb
  ecosystem/platform/server/app/components/footer_component.rb
  ecosystem/platform/server/app/form_builders/aptos_form_builder.rb
Due: none

[consensus] prevent commit and sync_to happen at the same time
  consensus/src/epoch_manager.rs
  consensus/src/state_computer.rs
  storage/aptosdb/src/lib.rs
Due: rust-fmt

[cherry-pick][consensus] prevent commit and sync_to happen at the same time
  consensus/src/epoch_manager.rs
  consensus/src/state_computer.rs
  storage/aptosdb/src/lib.rs
Due: rust-fmt

[cli] Add command to update validator network addresses
  crates/aptos/src/node/mod.rs
Due: rust-fmt

devinfra: remove dead sscache code and redundant xfmt code (#1941)
  .cargo/config.toml
  .github/workflows/lint-test.yaml
  CONTRIBUTING.md
  Cargo.lock
  devtools/x-core/Cargo.toml
  devtools/x-core/src/errors.rs
  devtools/x/Cargo.toml
  devtools/x/src/bench.rs
  devtools/x/src/build.rs
  devtools/x/src/cargo.rs
  devtools/x/src/check.rs
  devtools/x/src/clippy.rs
  devtools/x/src/config.rs
  devtools/x/src/context.rs
  devtools/x/src/fix.rs
  devtools/x/src/fmt.rs
  devtools/x/src/installer.rs
  devtools/x/src/main.rs
  devtools/x/src/nextest.rs
  devtools/x/src/test.rs
  devtools/x/src/utils.rs
  documentation/coding_guidelines.md
  scripts/dev_setup.sh
  x.toml
Due: rust-fmt, prettier-fmt

[forge] Print helpful error when you cannot find helm chart
  testsuite/forge/src/backend/k8s/cluster_helper.rs
Due: rust-fmt

[consensus] cleanup for block retrieval
  consensus/consensus-types/src/sync_info.rs
  consensus/src/block_storage/sync_manager.rs
Due: rust-fmt

[aptos-rosetta] Ensure all hex outputs are lowercase hex without 0x
  api/types/src/hash.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/identifiers.rs
Due: rust-fmt

[aptos-rosetta] Add extra information to transactions and fix optional parameters
  api/types/src/move_types.rs
  crates/aptos-rosetta-cli/src/common.rs
  crates/aptos-rosetta/src/block.rs
  crates/aptos-rosetta/src/common.rs
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos-rosetta/src/types/requests.rs
Due: rust-fmt

[aptos-rosetta] Add DSL and test configuration files
  crates/aptos-rosetta/aptos.ros
  crates/aptos-rosetta/rosetta_cli.json
Due: none

[aptos-rosetta] Always return same block info for genesis
  api/src/context.rs
  crates/aptos-rosetta/src/block.rs
  crates/aptos-rosetta/src/lib.rs
Due: rust-fmt

[aptos-rosetta] Address TODOs around performance and features
  Cargo.lock
  crates/aptos-rosetta/Cargo.toml
  crates/aptos-rosetta/build.rs
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/block.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/lib.rs
  crates/aptos-rosetta/src/network.rs
  crates/aptos-rosetta/src/types/objects.rs
Due: rust-fmt

[aptos-rosetta] Initialize block cache and simplify searching
  crates/aptos-rosetta/src/block.rs
  crates/aptos-rosetta/src/lib.rs
Due: rust-fmt

[aptos-rosetta] Cleanup block cache extra function
  crates/aptos-rosetta/src/block.rs
  crates/aptos-rosetta/src/common.rs
Due: rust-fmt

[aptos-rosetta] Ensure blocks are able to be looked up by beginning and end version
  crates/aptos-rosetta/src/block.rs
Due: rust-fmt

updated based on reviews
  aptos-move/framework/aptos-framework/sources/ResourceAccount.move
  aptos-move/framework/aptos-framework/sources/SharedAccount.move
Due: none

lint
  aptos-move/framework/aptos-framework/sources/SharedAccount.move
Due: none

updated error name to `EACCOUNT_NOT_FOUND`
  aptos-move/framework/aptos-framework/sources/SharedAccount.move
Due: none

update readme file with dev instructions
  ecosystem/platform/server/README.md
Due: none

[consensus] cleanup for block retrieval (#1948)
  consensus/consensus-types/src/sync_info.rs
  consensus/src/block_storage/sync_manager.rs
Due: rust-fmt

[ecosystem] Add test for It2ProfilesController. (#1514)
  ecosystem/platform/server/Gemfile
  ecosystem/platform/server/Gemfile.lock
  ecosystem/platform/server/app/controllers/health_controller.rb
  ecosystem/platform/server/spec/factories/it2_profiles.rb
  ecosystem/platform/server/spec/factories/users.rb
  ecosystem/platform/server/test/controllers/it2_profiles_controller_test.rb
Due: none
