Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[CLI] Set runtime timeout
  crates/aptos/src/main.rs
  crates/aptos/src/node/local_testnet/mod.rs
Due: rust-fmt

[CLI] Use the Docker API rather than the CLI for the local testnet
  Cargo.lock
  Cargo.toml
  crates/aptos/Cargo.toml
  crates/aptos/src/node/local_testnet/indexer_api.rs
  crates/aptos/src/node/local_testnet/mod.rs
  crates/aptos/src/node/local_testnet/postgres.rs
  crates/aptos/src/node/local_testnet/traits.rs
  crates/aptos/src/node/local_testnet/utils.rs
Due: rust-fmt, rust-cargo-sort

[CLI] Use JoinSet rather than a vec of JoinHandles
  crates/aptos/src/node/local_testnet/mod.rs
  crates/aptos/src/node/local_testnet/traits.rs
Due: rust-fmt

[CLI] Add support for running an indexer API to the local testnet
  .dockerignore
  crates/aptos/src/node/local_testnet/hasura_metadata.json
  crates/aptos/src/node/local_testnet/indexer_api.rs
  crates/aptos/src/node/local_testnet/mod.rs
  crates/aptos/src/node/local_testnet/postgres.rs
  crates/aptos/src/node/local_testnet/traits.rs
  crates/aptos/src/node/local_testnet/utils.rs
  crates/aptos/src/node/mod.rs
Due: rust-fmt

[CLI] Add support for not jsonifying errors
  crates/aptos/src/common/types.rs
  crates/aptos/src/common/utils.rs
Due: rust-fmt

[Fix] Reduce logs.
  storage/aptosdb/src/state_store/mod.rs
Due: rust-fmt

[Fix] Reduce logs. (#10417)
  storage/aptosdb/src/state_store/mod.rs
Due: rust-fmt

[Fix] Reduce logs. (Previous fix was wrong.)
  storage/aptosdb/src/state_store/mod.rs
Due: rust-fmt

Fix interval counter
  network/benchmark/src/lib.rs
Due: rust-fmt

[Fix] Reduce logs. (Previous fix was wrong.) (#10418)
  storage/aptosdb/src/state_store/mod.rs
Due: rust-fmt

Create aggregator_v2 branch with API in aggregator_v2.move
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/sources/aggregator_v2/aggregator_v2.move
Due: none

[aggregator] New resolver and ID for aggregator (#8941)
  Cargo.lock
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers.rs
  types/src/aggregator.rs
Due: rust-fmt

[move][aggregator] Identifiers for aggregators & snapshots (#9075)
  api/types/src/convert.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/move_vm_ext/warm_vm_cache.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/aptos-vm/src/tests/mock_view.rs
  aptos-move/aptos-vm/src/tests/mod.rs
  aptos-move/aptos-vm/src/tests/test_resolver_with_aggregator_liftings.rs
  aptos-move/aptos-vm/src/tests/test_value_exchange.rs
  aptos-move/framework/src/natives/string_utils.rs
  aptos-move/framework/table-natives/src/lib.rs
  testsuite/aptos-fuzzer/src/fuzz_targets/move_vm.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils.rs
  third_party/move/extensions/async/move-async-vm/tests/testsuite.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  third_party/move/move-binary-format/src/constant.rs
  third_party/move/move-core/types/src/resolver.rs
  third_party/move/move-core/types/src/unit_tests/mod.rs
  third_party/move/move-core/types/src/unit_tests/tagged_layout_test.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/unit_tests/vm_arguments_tests.rs
  third_party/move/move-vm/test-utils/src/storage.rs
  third_party/move/move-vm/types/src/lib.rs
  third_party/move/move-vm/types/src/value_transformation.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-cli/src/sandbox/utils/on_disk_state_view.rs
Due: rust-fmt

Multi-versioned data structure specifically for aggregators / aggregator snapshots (#9472)
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
Due: rust-fmt

Add native functions for Aggregator V2 (#9301)
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator.data/pack/sources/aggregator_v2_test.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/sources/aggregator_v2_test.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/sources/aggregator_v2/aggregator_v2.move
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v1.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/mod.rs
  types/src/aggregator.rs
Due: rust-fmt

Aggregator v2 and Snapshots Implementation (#9368)
  Cargo.lock
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/delta_math.rs
  aptos-move/aptos-aggregator/src/lib.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/aptos_framework.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/block-executor/Cargo.toml
  aptos-move/block-executor/src/unit_tests/mod.rs
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/sources/aggregator_v2_test.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/mod.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
  third_party/move/extensions/move-table-extension/src/lib.rs
  types/src/aggregator.rs
Due: rust-fmt

Fixing aggregator tests (#10059)
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/sources/aggregator_v2_test.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
Due: rust-fmt

[aggregator] Minor improvements (#10078)
  Cargo.lock
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/lib.rs
  aptos-move/aptos-aggregator/src/module.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-aggregator/src/tests/mod.rs
  aptos-move/aptos-aggregator/src/tests/types.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/resolver.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_factory.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v1.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
Due: rust-fmt

agg v2 natives flag (#10069)
  aptos-move/aptos-native-interface/src/context.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v1.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

AggregatorSnapshot native functions implementation (#10124)
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-aggregator/src/tests/types.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/framework/aptos-framework/doc/aggregator_v2.md
  aptos-move/framework/aptos-framework/sources/aggregator_v2/aggregator_v2.move
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
Due: rust-fmt

Propagate MoveTypeLayout to BlockSTM (#10127)
  Cargo.lock
  aptos-move/aptos-gas-meter/src/traits.rs
  aptos-move/aptos-gas-profiling/src/profiler.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/storage.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_output.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/Cargo.toml
  aptos-move/framework/table-natives/src/lib.rs
  aptos-move/mvhashmap/Cargo.toml
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_group_data.rs
  aptos-move/vm-genesis/src/lib.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/session.rs
  third_party/move/tools/move-unit-test/Cargo.toml
Due: rust-fmt

Implementing VersionedAggregators and AggregatorChange for aggregator V2 (#10128)
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/tests/test_change_set.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
Due: rust-fmt

connecting MVHashMap with AggregatorChange for read and write (#10152)
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/tests/utils.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/aptos-vm/src/storage_adapter/executor_view_base.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/mvhashmap/src/lib.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  aptos-move/mvhashmap/src/unsync_map.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[aggregators_v2] Refactor and improve aggregator tests (#10075)
  Cargo.lock
  aptos-move/e2e-move-tests/Cargo.toml
  aptos-move/e2e-move-tests/src/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/Move.toml
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/sources/aggregator_v2_test.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/e2e-tests/src/executor.rs
Due: rust-fmt

[aggregator_v2] Fixes found through testing (#10276)
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/aggregator_natives/context.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
Due: rust-fmt

[Draft] Replacing Aggregator V2 IDs with values when committing the transaction (#10373)
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm-types/src/output.rs
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/unit_tests/proptest_types.rs
  types/src/write_set.rs
Due: rust-fmt

Refactor aggregator v2 exceptions, and stop (ab)using STORAGE_ERROR (#10334)
  aptos-move/aptos-aggregator/src/aggregator_change_set.rs
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/bounded_math.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/delta_math.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-aggregator/src/types.rs
  aptos-move/aptos-vm-types/src/change_set.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/errors.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/aptos-vm/src/tests/mock_view.rs
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/mvhashmap/src/types.rs
  aptos-move/mvhashmap/src/versioned_aggregators.rs
  third_party/move/move-core/types/src/vm_status.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Due: rust-fmt

Add a ramp up
  config/src/config/netbench.rs
  network/benchmark/src/lib.rs
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Replacing aggregator v2 identifiers with values before transaction commitment (#10390)
  aptos-move/block-executor/src/captured_reads.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/view.rs
Due: rust-fmt

fixes
  aptos-move/block-executor/src/executor.rs
  aptos-move/framework/src/natives/aggregator_natives/helpers_v2.rs
  aptos-move/mvhashmap/src/unit_tests/mod.rs
  aptos-move/mvhashmap/src/versioned_data.rs
  aptos-move/mvhashmap/src/versioned_delayed_fields.rs
  aptos-move/mvhashmap/src/versioned_modules.rs
Due: rust-fmt

[voting] add more view functions to the voting module
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/voting.move
Due: none

[voting] add prover tests
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/voting.move
  aptos-move/framework/aptos-framework/sources/voting.spec.move
Due: none

[voting] add get_proposal helper function and refactor view functions
  aptos-move/framework/aptos-framework/doc/voting.md
  aptos-move/framework/aptos-framework/sources/voting.move
Due: none

Updating Enum names to be less redundant, adding TypeTag enum variants
  ecosystem/typescript/sdk_v2/src/transactions/types/scriptTransactionArguments.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/transactionPayload.ts
  ecosystem/typescript/sdk_v2/src/types/index.ts
Due: prettier-fmt

Moved TypeTagParser to its own file, added documentation for isStringTypeTag(), and replaced redundant Token types with documentation
  ecosystem/typescript/sdk_v2/src/transactions/types/typeTag.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/typeTagParser.ts
Due: prettier-fmt

Adding TypeTag with unit tests, also ran formatter on some other files that got past it
  ecosystem/typescript/sdk_v2/src/transactions/types/identifier.ts
  ecosystem/typescript/sdk_v2/src/transactions/types/typeTag.ts
  ecosystem/typescript/sdk_v2/tests/unit/type_tag.test.ts
Due: prettier-fmt

Importing TypeTag into transactionPayload.ts and fixing spelling error `arugment`
  ecosystem/typescript/sdk_v2/src/transactions/types/transactionPayload.ts
Due: prettier-fmt
