Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

sync Cargo.lock
  Cargo.lock
Due: none

add api test and smoke test
  api/src/tests/accounts_test.rs
  aptos-move/aptos-transaction-simulation/src/account.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__state_store__borrow_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__state_store__change_after_move.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__state_store__move_from_across_blocks.exp
  aptos-move/e2e-testsuite/src/tests/mint.rs
  aptos-move/e2e-testsuite/src/tests/verify_txn.rs
  testsuite/smoke-test/src/aptos/account_creation.rs
Due: rust-fmt

[migration] add default_fa_store to default features
  Cargo.lock
  api/goldens/aptos_api__tests__state_test__test_get_account_resource.json
  api/goldens/aptos_api__tests__state_test__test_get_account_resource_with_version.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_entry_function_payload.json
  api/goldens/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_entry_function_validation.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_address.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_arguments.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_module_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_entry_function_name.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_payload_bytecode.json
  api/goldens/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_missing_entry_function_arguments.json
  api/goldens/aptos_api__tests__transactions_test__test_simulation_failure_with_detail_error.json
  api/goldens/aptos_api__tests__transactions_test__test_simulation_failure_with_move_abort_error_rendering.json
  api/src/tests/event_v2_translation_test.rs
  api/src/tests/multisig_transactions_test.rs
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/execute_script.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/table.exp
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-move-tests/src/tests/state_metadata.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__create_account__create_account.exp
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/create_account.rs
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/coin.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/framework/aptos-framework/sources/vesting.move
  aptos-move/move-examples/marketplace/sources/coin_listing.move
  crates/aptos/src/account/list.rs
  crates/aptos/src/test/mod.rs
  execution/executor-benchmark/src/lib.rs
  execution/executor-test-helpers/Cargo.toml
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor/Cargo.toml
  execution/executor/tests/db_bootstrapper_test.rs
  execution/executor/tests/internal_indexer_test.rs
  sdk/src/types.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/state_store/mod.rs
Due: rust-fmt

[vm] Introduce loader trait
  aptos-move/aptos-vm-profiling/src/bins/run_move.rs
  aptos-move/aptos-vm-types/src/module_and_script_storage/module_storage.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/session/mod.rs
  aptos-move/aptos-vm/src/validator_txns/dkg.rs
  aptos-move/aptos-vm/src/validator_txns/jwk.rs
  aptos-move/aptos-vm/src/validator_txns/mod.rs
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  aptos-move/aptos-vm/src/verifier/view_function.rs
  third_party/move/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/loader_tests.rs
  third_party/move/move-vm/integration-tests/src/tests/mod.rs
  third_party/move/move-vm/integration-tests/src/tests/native_tests.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/lib.rs
  third_party/move/move-vm/runtime/src/loader/function.rs
  third_party/move/move-vm/runtime/src/loader/modules.rs
  third_party/move/move-vm/runtime/src/move_vm.rs
  third_party/move/move-vm/runtime/src/native_functions.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
  third_party/move/move-vm/runtime/src/storage/loader.rs
  third_party/move/move-vm/runtime/src/storage/mod.rs
  third_party/move/testing-infra/transactional-test-runner/src/vm_test_harness.rs
  third_party/move/tools/move-unit-test/src/test_runner.rs
Due: rust-fmt

enum crash
  third_party/move/move-compiler-v2/tests/bytecode-generator/type_param_enum_is_crash.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/type_param_enum_is_crash.move
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

add test daa auth function to the experimental framework
  aptos-move/framework/aptos-experimental/doc/overview.md
  aptos-move/framework/aptos-experimental/doc/test_derivable_account_abstraction_ed25519_hex.md
  aptos-move/framework/aptos-experimental/sources/test_derivable_account_abstraction_ed25519_hex.move
  aptos-move/vm-genesis/src/lib.rs
  third_party/move/move-core/types/src/account_address.rs
Due: rust-fmt

Adds entry functions to add backup keys to keyless accounts
  aptos-move/framework/aptos-framework/sources/account/account.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/multi_key.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/single_key.move
Due: none

Add generated sdk code
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Due: rust-fmt

Add move doc
  aptos-move/framework/aptos-framework/doc/account.md
  aptos-move/framework/aptos-stdlib/doc/multi_key.md
  aptos-move/framework/aptos-stdlib/doc/overview.md
  aptos-move/framework/aptos-stdlib/doc/single_key.md
Due: none

Refactor the keyless validation code
  aptos-move/aptos-vm/src/keyless_validation.rs
Due: rust-fmt

chore: downgrade noisy logs
  consensus/src/round_manager.rs
  network/framework/src/protocols/rpc/mod.rs
  peer-monitoring-service/server/src/lib.rs
Due: rust-fmt

Prologue and nonce validation for orderless transactions
  aptos-move/framework/aptos-framework/doc/aptos_account.md
  aptos-move/framework/aptos-framework/doc/genesis.md
  aptos-move/framework/aptos-framework/doc/nonce_validation.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/transaction_validation.md
  aptos-move/framework/aptos-framework/sources/aptos_account.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/nonce_validation.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.move
  aptos-move/framework/aptos-framework/sources/transaction_validation.spec.move
  aptos-move/framework/aptos-framework/sources/vesting.move
  aptos-move/framework/aptos-token/doc/token.md
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/move-stdlib/doc/features.md
  aptos-move/framework/move-stdlib/sources/configs/features.move
  third_party/move/move-examples/diem-framework/move-packages/DPN/sources/DiemAccount.move
Due: rust-fmt

Add TransactionSummaries schema in storage
  execution/executor/tests/internal_indexer_test.rs
  storage/aptosdb/proptest-regressions/db/aptosdb_test.txt
  storage/aptosdb/proptest-regressions/transaction_store/test.txt
  storage/aptosdb/src/db/fake_aptosdb.rs
  storage/aptosdb/src/db/include/aptosdb_reader.rs
  storage/aptosdb/src/db/include/aptosdb_writer.rs
  storage/aptosdb/src/db/test_helper.rs
  storage/aptosdb/src/db_debugger/validation.rs
  storage/aptosdb/src/db_options.rs
  storage/aptosdb/src/ledger_db/transaction_db.rs
  storage/aptosdb/src/pruner/ledger_pruner/test.rs
  storage/aptosdb/src/schema/mod.rs
  storage/aptosdb/src/schema/transaction_summaries_by_account/mod.rs
  storage/aptosdb/src/schema/transaction_summaries_by_account/test.rs
  storage/aptosdb/src/transaction_store/mod.rs
  storage/aptosdb/src/transaction_store/test.rs
  storage/aptosdb/src/utils/iterators.rs
  storage/indexer/src/db_indexer.rs
  storage/indexer_schemas/src/schema/mod.rs
  storage/indexer_schemas/src/schema/ordered_transaction_by_account/mod.rs
  storage/indexer_schemas/src/schema/ordered_transaction_by_account/test.rs
  storage/indexer_schemas/src/utils.rs
  storage/schemadb/src/iterator.rs
  storage/storage-interface/src/lib.rs
  types/src/indexer/indexer_db_reader.rs
  types/src/proptest_types.rs
Due: rust-fmt

add test daa auth function to the experimental framework (#16249)
  aptos-move/framework/aptos-experimental/doc/overview.md
  aptos-move/framework/aptos-experimental/doc/test_derivable_account_abstraction_ed25519_hex.md
  aptos-move/framework/aptos-experimental/sources/test_derivable_account_abstraction_ed25519_hex.move
  aptos-move/vm-genesis/src/lib.rs
  third_party/move/move-core/types/src/account_address.rs
Due: rust-fmt

bump cli to 7.1.0
  Cargo.lock
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Due: none

chore: downgrade noisy logs (#16257)
  consensus/src/round_manager.rs
  network/framework/src/protocols/rpc/mod.rs
  peer-monitoring-service/server/src/lib.rs
Due: rust-fmt

[npm] Fixup some old dependencies for NPM
  .github/ts-tasks/package.json
  .github/ts-tasks/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier-fmt

[gha] forge clbt fix
  .github/workflows/forge-continuous-land-blocking-test.yaml
Due: prettier-fmt

[node checker] Update NPM packages for node checker
  ecosystem/node-checker/ts-client/package.json
  ecosystem/node-checker/ts-client/pnpm-lock.yaml
Due: prettier-fmt

[faucet] Update TS client for faucet's dependencies
  crates/aptos-faucet/ts-client/package.json
  crates/aptos-faucet/ts-client/pnpm-lock.yaml
Due: prettier-fmt

bump cli to 7.1.0 (#16260)
  Cargo.lock
  crates/aptos/CHANGELOG.md
  crates/aptos/Cargo.toml
Due: none

[cli] Add ability to lookup fungible asset balance from CLI
  crates/aptos/CHANGELOG.md
  crates/aptos/src/account/balance.rs
Due: rust-fmt

Update derives.rs
  api/types/src/derives.rs
Due: rust-fmt

Update derives.rs (#16165)
  api/types/src/derives.rs
Due: rust-fmt

[cli] Add extract public key command
  crates/aptos-crypto/src/encoding_type.rs
  crates/aptos/CHANGELOG.md
  crates/aptos/src/account/key_rotation.rs
  crates/aptos/src/common/transactions.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/op/key.rs
Due: rust-fmt

fix-Update index.tsx (#15956)
  aptos-move/move-examples/my_first_dapp/client/src/index.tsx
Due: prettier-fmt

[api] Update YAML API Spec
  api/doc/spec.yaml
Due: prettier-fmt

[api] Update YAML API Spec (#16265)
  api/doc/spec.yaml
Due: prettier-fmt

[cli] Add ability to lookup fungible asset balance from CLI (#16101)
  crates/aptos/CHANGELOG.md
  crates/aptos/src/account/balance.rs
Due: rust-fmt

[api] Update JSON API Spec
  api/doc/spec.json
Due: none

[api] Update JSON API Spec (#16266)
  api/doc/spec.json
Due: none

[api] Update JSON spec again
  api/doc/spec.json
Due: none

[api] Update JSON spec again (#16268)
  api/doc/spec.json
Due: none

temporarily lower the perf bar for default fa store
  api/doc/spec.json
  api/doc/spec.yaml
  testsuite/forge-cli/src/suites/realistic_environment.rs
Due: rust-fmt, prettier-fmt

docs: enhance API Node v1 documentation with comprehensive guide (#16011)
  api/doc/README.md
Due: none

Fix DAO Documentation Links (#16169)
  aptos-move/move-examples/dao/nft_dao/README.md
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
