Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

rc refcell for frame cache
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Due: rust-fmt

fix: initiate_bridge_transfer serializes params the same way as the Eth side. Move unit tests pass, still working on E2E Move tests
  aptos-move/e2e-move-tests/src/tests/bridge.rs
  aptos-move/framework/aptos-framework/doc/native_bridge.md
  aptos-move/framework/aptos-framework/sources/native_bridge.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Due: rust-fmt

per instruction and cache tree - Bug chase
  third_party/move/move-vm/runtime/src/frame_type_cache.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
Due: rust-fmt

fix: better assertions and logging in test_initiate and test_complete functions
  aptos-move/e2e-move-tests/src/tests/bridge.rs
  aptos-move/framework/aptos-framework/sources/native_bridge.move
Due: rust-fmt

[move] Add function type layout
  api/types/src/convert.rs
  aptos-move/framework/move-stdlib/src/natives/bcs.rs
  aptos-move/framework/src/natives/string_utils.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils/helpers.rs
  third_party/move/move-binary-format/src/constant.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Due: rust-fmt

feat: test_native_bridge_initiate E2E Move test passes and produces the expected bridge transfer ID
  aptos-move/e2e-move-tests/src/tests/bridge.rs
Due: rust-fmt

feat: E2E Move tests pass, ready for review. Will leave debugging in for now to help reviewers make sense of everything
  aptos-move/e2e-move-tests/src/tests/bridge.rs
Due: rust-fmt

followup to a TODO for a constant
  api/types/src/move_types.rs
Due: rust-fmt

fix: removed unused functions
  aptos-move/framework/aptos-framework/sources/native_bridge.move
Due: none

[NOT FOR MAIN] turn off consensus observer
  config/src/config/consensus_observer_config.rs
Due: rust-fmt

fix: remove Rust println and Move debug
  aptos-move/e2e-move-tests/src/tests/bridge.rs
Due: rust-fmt

fix: update docs and remove debug import
  aptos-move/framework/aptos-framework/doc/native_bridge.md
  aptos-move/framework/aptos-framework/sources/native_bridge.move
Due: none

ExecutedTrees -> LedgerSummary
  execution/executor/src/block_executor/block_tree/mod.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/chunk_executor/chunk_commit_queue.rs
  execution/executor/src/db_bootstrapper/mod.rs
  execution/executor/src/tests/mod.rs
  execution/executor/src/workflow/mod.rs
  peer-monitoring-service/server/src/tests.rs
  state-sync/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/tests/mock.rs
  storage/aptosdb/src/db/aptosdb_test.rs
  storage/aptosdb/src/db/fake_aptosdb.rs
  storage/aptosdb/src/db/include/aptosdb_reader.rs
  storage/aptosdb/src/db/mod.rs
  storage/backup/backup-cli/src/utils/test_utils.rs
  storage/db-tool/src/bootstrap.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/lib.rs
Due: rust-fmt

Enabling optimistic sig verification
  config/src/config/consensus_config.rs
Due: rust-fmt

rounding in framework
  Cargo.lock
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/system_module_names.rs
  aptos-move/aptos-vm/src/validator_txns/dkg.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-framework/doc/block.md
  aptos-move/framework/aptos-framework/doc/dkg_rounding.md
  aptos-move/framework/aptos-framework/doc/overview.md
  aptos-move/framework/aptos-framework/doc/randomness_config.md
  aptos-move/framework/aptos-framework/doc/reconfiguration_with_dkg.md
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/configs/randomness_config.move
  aptos-move/framework/aptos-framework/sources/dkg_rounding.move
  aptos-move/framework/aptos-framework/sources/reconfiguration_with_dkg.move
  aptos-move/framework/aptos-stdlib/doc/lossless.md
  aptos-move/framework/aptos-stdlib/doc/overview.md
  aptos-move/framework/aptos-stdlib/doc/unsigned_bignum.md
  aptos-move/framework/aptos-stdlib/sources/unsigned_bignum.move
  aptos-move/framework/src/natives/dkg_rounding.rs
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/tests/move_unit_test.rs
  aptos-node/src/consensus.rs
  aptos-node/src/lib.rs
  consensus/src/epoch_manager.rs
  consensus/src/rand/rand_gen/rand_store.rs
  dkg/Cargo.toml
  dkg/src/dkg_manager/mod.rs
  dkg/src/epoch_manager.rs
  dkg/src/lib.rs
  dkg/src/transcript_aggregation/tests.rs
  testsuite/smoke-test/src/randomness/mod.rs
  types/src/dkg/dummy_dkg/mod.rs
  types/src/dkg/dummy_dkg/tests.rs
  types/src/dkg/mod.rs
  types/src/dkg/real_dkg/mod.rs
  types/src/dkg/real_dkg/rounding/mod.rs
  types/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
Due: rust-fmt

fix build
  dkg/src/dkg_manager/mod.rs
Due: rust-fmt

Continued re-design of paranoid mode (now called Runtime Type Check) (#15437)
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks.rs
Due: rust-fmt

resolve compiler warning by removing unused line
  aptos-move/framework/aptos-framework/sources/account.move
Due: none

Calibration script for move e2e and single node perf benchmarks
  aptos-move/e2e-benchmark/data/calibration_values.tsv
  aptos-move/e2e-benchmark/src/main.rs
  testsuite/single_node_performance.py
  testsuite/single_node_performance_calibration.py
  testsuite/single_node_performance_values.tsv
Due: rust-fmt

resolve compiler warning by removing unused line (#15381)
  aptos-move/framework/aptos-framework/sources/account.move
Due: none

trivial change
  README.md
Due: none

allowing larger constant for legacy tests
  api/types/src/move_types.rs
Due: rust-fmt

enable event_v2_translation
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
  testsuite/forge/src/config.rs
Due: rust-fmt, prettier-fmt

disable event_v2_translation
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-default-values.yaml
  testsuite/forge/src/config.rs
Due: rust-fmt, prettier-fmt

add 3 devnet txn with module events migrated
  ecosystem/indexer-grpc/indexer-test-transactions/json_transactions/imported_devnet_txns/78753811_coin_transfer_with_v2_events.json
  ecosystem/indexer-grpc/indexer-test-transactions/json_transactions/imported_devnet_txns/78753831_token_v1_mint_transfer_with_v2_events.json
  ecosystem/indexer-grpc/indexer-test-transactions/json_transactions/imported_devnet_txns/78753832_token_v2_mint_transfer_with_v2_events.json
Due: none

remove error detail from default feature list
  aptos-move/aptos-vm/src/aptos_vm.rs
  storage/aptosdb/src/db/include/aptosdb_writer.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/proptest_types.rs
  types/src/transaction/mod.rs
Due: rust-fmt

separating constants
  api/src/transactions.rs
  api/types/src/move_types.rs
Due: rust-fmt

[move] Add function runtime type
  aptos-move/aptos-vm/src/verifier/transaction_arg_validation.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/loader/mod.rs
  third_party/move/move-vm/types/src/loaded_data/function_types.rs
  third_party/move/move-vm/types/src/loaded_data/mod.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
Due: rust-fmt

trivial: rename ExecutedTrees -> LedgerSummary (#15444)
  execution/executor/src/block_executor/block_tree/mod.rs
  execution/executor/src/block_executor/block_tree/test.rs
  execution/executor/src/chunk_executor/chunk_commit_queue.rs
  execution/executor/src/db_bootstrapper/mod.rs
  execution/executor/src/tests/mod.rs
  execution/executor/src/workflow/mod.rs
  peer-monitoring-service/server/src/tests.rs
  state-sync/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/tests/mock.rs
  storage/aptosdb/src/db/aptosdb_test.rs
  storage/aptosdb/src/db/fake_aptosdb.rs
  storage/aptosdb/src/db/include/aptosdb_reader.rs
  storage/aptosdb/src/db/mod.rs
  storage/backup/backup-cli/src/utils/test_utils.rs
  storage/db-tool/src/bootstrap.rs
  storage/storage-interface/src/ledger_summary.rs
  storage/storage-interface/src/lib.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
