Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[cleanup] Remove unused dependencies after thread pool consolidation
  storage/scratchpad/Cargo.toml
  storage/storage-interface/Cargo.toml
Due: none

[ci] Add FORGE_RUNNER_IMAGE_NAME input and fix image existence check
  .github/workflows/adhoc-forge.yaml
  testsuite/forge.py
Due: prettier-fmt

Tune jemalloc config to reduce memory fragmentation
  crates/aptos-jemalloc/src/lib.rs
  testsuite/single_node_performance_values.tsv
Due: rust-fmt

[encrypted mempool] Switch hash-to-curve implementation in `aptos-batch-encryption` to the ones in `arkworks` and `noble-curves` (#18715)
  crates/aptos-batch-encryption/src/shared/symmetric.rs
  crates/aptos-batch-encryption/ts-batch-encrypt/src/symmetric.ts
Due: rust-fmt, prettier-fmt

[runtimes] Right-size tokio runtime thread pools
  api/src/runtime.rs
  aptos-node/src/consensus.rs
  aptos-node/src/network.rs
  aptos-node/src/services.rs
  aptos-node/src/state_sync.rs
  consensus/src/consensus_provider.rs
  consensus/src/test_utils/mod.rs
  consensus/src/twins/twins_node.rs
  crates/aptos-admin-service/src/server/mod.rs
  crates/aptos-inspection-service/src/server/mod.rs
  crates/aptos-jwk-consensus/src/lib.rs
  crates/aptos-rosetta/src/lib.rs
  crates/aptos-runtimes/src/lib.rs
  crates/aptos-telemetry/src/service.rs
  crates/indexer/src/runtime.rs
  dkg/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/runtime.rs
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/runtime.rs
  mempool/src/shared_mempool/runtime.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/node.rs
  state-sync/inter-component/consensus-notifications/src/lib.rs
  state-sync/state-sync-driver/src/driver_factory.rs
  storage/backup/backup-service/src/lib.rs
  testsuite/forge/src/interface/network.rs
  testsuite/testcases/src/lib.rs
Due: rust-fmt

Pruned version stream unavailable (#18581)
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/stream_coordinator.rs
  ecosystem/indexer-grpc/indexer-grpc-table-info/src/table_info_service.rs
Due: rust-fmt

[consensus] Add optimistic randomness share verification (#18646) (#18726)
  config/src/config/consensus_config.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/rand/rand_gen/network_messages.rs
  consensus/src/rand/rand_gen/rand_store.rs
  consensus/src/rand/rand_gen/reliable_broadcast_state.rs
  consensus/src/rand/rand_gen/types.rs
  crates/aptos-dkg/benches/weighted_vuf.rs
  crates/aptos-dkg/src/weighted_vuf/bls/mod.rs
  crates/aptos-dkg/src/weighted_vuf/pinkas/mod.rs
  crates/aptos-dkg/src/weighted_vuf/traits.rs
  crates/aptos-dkg/tests/weighted_vuf.rs
  testsuite/smoke-test/src/randomness/mod.rs
  testsuite/smoke-test/src/randomness/optimistic_verification.rs
Due: rust-fmt

[1.41] release yaml
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

[1.41] release yaml (#18737)
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

[v1.41] release yaml
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

[v1.41] release yaml (#18738)
  aptos-move/aptos-release-builder/data/release.yaml
Due: prettier-fmt

[aptos-release-v1.41] Bump version to 1.41.2
  Cargo.lock
  aptos-node/Cargo.toml
Due: none

[aptos-release-v1.41] Bump version to 1.41.2 (#18739)
  Cargo.lock
  aptos-node/Cargo.toml
Due: none

[framework][vm] Add chunky DKG reconfiguration and VM support
  aptos-move/aptos-vm/src/system_module_names.rs
  aptos-move/aptos-vm/src/validator_txns/chunky_dkg.rs
  aptos-move/aptos-vm/src/validator_txns/mod.rs
  aptos-move/framework/aptos-framework/doc/block.md
  aptos-move/framework/aptos-framework/doc/chunky_dkg.md
  aptos-move/framework/aptos-framework/doc/reconfiguration_with_dkg.md
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/chunky_dkg.spec.move
  aptos-move/framework/aptos-framework/sources/reconfiguration_with_dkg.move
  aptos-move/framework/aptos-framework/sources/reconfiguration_with_dkg.spec.move
  aptos-move/framework/cached-packages/src/head.mrb
Due: rust-fmt

[framework][vm] Add chunky DKG reconfiguration and VM support (#18541)
  aptos-move/aptos-vm/src/system_module_names.rs
  aptos-move/aptos-vm/src/validator_txns/chunky_dkg.rs
  aptos-move/aptos-vm/src/validator_txns/mod.rs
  aptos-move/framework/aptos-framework/doc/block.md
  aptos-move/framework/aptos-framework/doc/chunky_dkg.md
  aptos-move/framework/aptos-framework/doc/reconfiguration_with_dkg.md
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/chunky_dkg.spec.move
  aptos-move/framework/aptos-framework/sources/reconfiguration_with_dkg.move
  aptos-move/framework/aptos-framework/sources/reconfiguration_with_dkg.spec.move
  aptos-move/framework/cached-packages/src/head.mrb
Due: rust-fmt

[storage] Fix HotState race condition via RCU / deferred merge
  storage/aptosdb/src/state_store/hot_state.rs
  storage/aptosdb/src/state_store/persisted_state.rs
  storage/aptosdb/src/state_store/tests/speculative_state_workflow.rs
Due: rust-fmt

[execution] Add global context placeholder with guards
  Cargo.lock
  Cargo.toml
  third_party/move/mono-move/global-context/Cargo.toml
  third_party/move/mono-move/global-context/src/context.rs
  third_party/move/mono-move/global-context/src/lib.rs
  third_party/move/mono-move/global-context/tests/context_tests.rs
Due: rust-fmt, rust-cargo-sort

[experimental] Interning
  Cargo.lock
  scripts/interner_analysis.py
  third_party/move/mono-move/global-context/Cargo.toml
  third_party/move/mono-move/global-context/INTERNER_BENCHMARKS.md
  third_party/move/mono-move/global-context/benches/helpers.rs
  third_party/move/mono-move/global-context/benches/interner_bench.rs
  third_party/move/mono-move/global-context/scripts/bench-analysis/MACOS_SETUP.md
  third_party/move/mono-move/global-context/scripts/bench-analysis/README.md
  third_party/move/mono-move/global-context/scripts/bench-analysis/analyze_results.py
  third_party/move/mono-move/global-context/scripts/bench-analysis/check_macos_config.sh
  third_party/move/mono-move/global-context/scripts/bench-analysis/compare_runs.py
  third_party/move/mono-move/global-context/scripts/bench-analysis/generate_report.py
  third_party/move/mono-move/global-context/scripts/bench-analysis/requirements.txt
  third_party/move/mono-move/global-context/scripts/bench-analysis/setup.sh
  third_party/move/mono-move/global-context/scripts/bench-analysis/visualize_results.py
  third_party/move/mono-move/global-context/src/interner_impls/arena.rs
  third_party/move/mono-move/global-context/src/interner_impls/dashmap_chunked.rs
  third_party/move/mono-move/global-context/src/interner_impls/dashmap_mutex.rs
  third_party/move/mono-move/global-context/src/interner_impls/dashmap_perthread_array.rs
  third_party/move/mono-move/global-context/src/interner_impls/dashmap_sharded.rs
  third_party/move/mono-move/global-context/src/interner_impls/mod.rs
  third_party/move/mono-move/global-context/src/interner_impls/rwlock_btree.rs
  third_party/move/mono-move/global-context/src/interner_impls/rwlock_decoupled.rs
  third_party/move/mono-move/global-context/src/interner_impls/rwlock_hashmap.rs
  third_party/move/mono-move/global-context/src/interner_impls/stable_ptr.rs
  third_party/move/mono-move/global-context/src/lib.rs
Due: rust-fmt

[vm] Improve type depth tracking and async runtime checks
  aptos-move/aptos-vm-environment/src/prod_configs.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  third_party/move/move-vm/runtime/src/config.rs
  third_party/move/move-vm/runtime/src/execution_tracing/trace.rs
  third_party/move/move-vm/runtime/src/frame.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/runtime/src/runtime_type_checks_async.rs
  third_party/move/move-vm/transactional-tests/tests/limits/local_type_too_large.exp
  third_party/move/move-vm/transactional-tests/tests/limits/local_type_too_large.masm
  third_party/move/move-vm/transactional-tests/tests/tests.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
Due: rust-fmt

[fix] cherry pick missed feature activation times
  types/src/on_chain_config/timed_features.rs
Due: rust-fmt

Adding leader ban registry module in supra framework (#290)
  aptos-move/framework/supra-framework/sources/block.move
  aptos-move/framework/supra-framework/sources/configs/config_buffer.move
  aptos-move/framework/supra-framework/sources/configs/leader_ban_registry_config.move
  aptos-move/framework/supra-framework/sources/genesis.move
  aptos-move/framework/supra-framework/sources/leader_ban_registry.move
  aptos-move/framework/supra-framework/sources/reconfiguration.move
  aptos-move/framework/supra-framework/sources/reconfiguration_with_dkg.move
  aptos-move/framework/supra-framework/sources/stake.move
  aptos-move/framework/supra-framework/tests/test_leader_ban_registry.move
  aptos-move/framework/supra-framework/tests/test_leader_ban_registry_config.move
  aptos-move/framework/supra-stdlib/doc/decode_bcs.md
  aptos-move/framework/supra-stdlib/doc/overview.md
  aptos-move/framework/supra-stdlib/sources/decode_bcs.move
Due: none

BoxOrInline
  aptos-move/framework/aptos-framework/sources/create_signer.move
  aptos-move/framework/aptos-framework/sources/datastructures/box.move
  aptos-move/framework/aptos-framework/sources/datastructures/box_or_inline.move
  aptos-move/framework/aptos-framework/sources/transaction_context.move
  aptos-move/framework/aptos-stdlib/doc/box_or_inline.md
  aptos-move/framework/aptos-stdlib/doc/overview.md
Due: none

[consensus] Integrate Strong PC with EpochManager (Phase 5)
  consensus/prefix-consensus/src/lib.rs
  consensus/prefix-consensus/src/network_interface.rs
  consensus/src/epoch_manager.rs
  consensus/src/network_interface.rs
  project_context.md
Due: rust-fmt

[fix] cherry pick missed feature activation times (#18745)
  types/src/on_chain_config/timed_features.rs
Due: rust-fmt

format stake.move
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/cached-packages/src/head.mrb
Due: none

[staking] fix empty set risk
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/staking_config.md
  aptos-move/framework/aptos-framework/sources/configs/staking_config.spec.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/aptos-framework/tests/delegation_pool_integration_tests.move
  aptos-move/framework/cached-packages/src/head.mrb
Due: none

[stake] Prevent from empty validator set (#18280)
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/doc/staking_config.md
  aptos-move/framework/aptos-framework/sources/configs/staking_config.spec.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-framework/sources/stake.spec.move
  aptos-move/framework/aptos-framework/sources/staking_contract.move
  aptos-move/framework/aptos-framework/tests/delegation_pool_integration_tests.move
  aptos-move/framework/cached-packages/src/head.mrb
Due: none

[docgen] Fix CLI flag defaults and error reporting
  third_party/move/tools/move-docgen/src/docgen.rs
  third_party/move/tools/move-docgen/src/main.rs
Due: rust-fmt
