Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

set unlock stake tx to final tx in tests
  testsuite/smoke-test/src/rosetta.rs
  types/src/stake_pool.rs
Due: rust-fmt

add smoke test and fix lint
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

remove comment
  types/src/stake_pool.rs
Due: rust-fmt

fix lint issues
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/move_types.rs
  crates/aptos-rosetta/src/types/objects.rs
Due: rust-fmt

add extra tests
  aptos-move/framework/aptos-stdlib/doc/smart_table.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_table.move
  aptos-move/framework/move-stdlib/doc/vector.md
  aptos-move/framework/move-stdlib/sources/vector.move
  aptos-move/framework/move-stdlib/tests/vector_tests.move
Due: none

[Dockerfile][Experimental][Bugfix] Upgrade rust version (#6979)
  docker/experimental/docker-bake-rust-all.hcl
Due: none

Announce Unity SDK docs and new Community section
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

fix lint
  consensus/src/quorum_store/tests/batch_generator_test.rs
Due: rust-fmt

add origin/upstream remotes, minor edits
  CONTRIBUTING.md
Due: none

[codeowners] Fix invalid name
  CODEOWNERS
Due: none

[Quorum Store] Use a single quorum_store_db instance across epochs (#6978)
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/quorum_store_db.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/quorum_store_db_test.rs
  consensus/src/twins/twins_node.rs
Due: rust-fmt

[CI] disable failing CI job
  .github/workflows/experimental-docker-build-test.yaml
Due: prettier-fmt

[smart_vec] vector of big_vec is not necessary
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.move
Due: none

[Previewnet] [cherry-pick] PR 6978: [Quorum Store] Use a single quorum_store_db instance across epochs (#6986)
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/batch_store.rs
  consensus/src/quorum_store/quorum_store_builder.rs
  consensus/src/quorum_store/quorum_store_db.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/quorum_store_db_test.rs
  consensus/src/twins/twins_node.rs
Due: rust-fmt

[run on forge] test quorum store full blocsk
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[TEST BRANCH] hardcode quorum store enabled true
  types/src/on_chain_config/consensus_config.rs
Due: rust-fmt

Add eager expiration
  config/src/config/mempool_config.rs
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
Due: rust-fmt

Add counter
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
Due: rust-fmt

flip direction
  mempool/src/core_mempool/transaction_store.rs
Due: rust-fmt

[rosetta] Add unlock_stake command (#6833)
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/move_types.rs
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

[smart_vec] vector of big_vec is not necessary (#6987)
  aptos-move/framework/aptos-stdlib/doc/smart_vector.md
  aptos-move/framework/aptos-stdlib/sources/data_structures/smart_vector.move
Due: none

Improve results capturing, assertions in CLI E2E testing framework (#6946)
  .github/workflows/cli-e2e-tests.yaml
  crates/aptos/e2e/README.md
  crates/aptos/e2e/cases/account.py
  crates/aptos/e2e/cases/init.py
  crates/aptos/e2e/cases/shared.py
  crates/aptos/e2e/common.py
  crates/aptos/e2e/main.py
  crates/aptos/e2e/poetry.lock
  crates/aptos/e2e/pyproject.toml
  crates/aptos/e2e/test_helpers.py
  crates/aptos/e2e/test_results.py
Due: prettier-fmt

Announce Unity SDK docs and new Community section (#6985)
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

[mempool] Wait until max block size or quorum_store_poll_count is reached
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/epoch_manager.rs
  consensus/src/payload_client.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/test_utils/mock_payload_manager.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/test_framework.rs
Due: rust-fmt

Remove Tag from Release column and extraneous closing paren from Docker image tags
  developer-docs-site/docs/releases/devnet-release.md
  developer-docs-site/docs/releases/mainnet-release.md
  developer-docs-site/docs/releases/testnet-release.md
Due: none

fix conflicts
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/move_types.rs
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt

lint
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/objects.rs
Due: rust-fmt

[mempool] eager expiration based on queued transaction age (#6965)
  config/src/config/mempool_config.rs
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
Due: rust-fmt

[mempool] eager expiration based on queued transaction age (#6965) (#6991)
  config/src/config/mempool_config.rs
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/transaction.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
Due: rust-fmt

dynamic enabling of waiting for full blocks
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  mempool/src/core_mempool/mempool.rs
Due: rust-fmt

AverageIntCounter for backpressure states
  consensus/src/counters.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/counters.rs
  crates/aptos-metrics-core/src/avg_counter.rs
  crates/aptos-metrics-core/src/lib.rs
Due: rust-fmt

Add new block poll based on time
  consensus/src/payload_client.rs
Due: rust-fmt

[mempool] Wait until max block size or quorum_store_poll_count is reached (#6129)
  config/src/config/consensus_config.rs
  consensus/consensus-types/src/request_response.rs
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/proposal_generator.rs
  consensus/src/payload_client.rs
  consensus/src/quorum_store/batch_generator.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/quorum_store/proof_manager.rs
  consensus/src/quorum_store/tests/batch_generator_test.rs
  consensus/src/quorum_store/tests/direct_mempool_quorum_store_test.rs
  consensus/src/quorum_store/tests/proof_manager_test.rs
  consensus/src/quorum_store/utils.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_payload_manager.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/common.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/test_framework.rs
Due: rust-fmt

Update .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier-fmt

add issue-links for stack-overflow/discord (#6973)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/questions.md
Due: prettier-fmt

add origin/upstream remotes, minor edits (#6932)
  CONTRIBUTING.md
Due: none

[Rosetta] Add staking_contract distribute implementation (#6810)
  crates/aptos-rosetta/src/client.rs
  crates/aptos-rosetta/src/construction.rs
  crates/aptos-rosetta/src/types/misc.rs
  crates/aptos-rosetta/src/types/move_types.rs
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Due: rust-fmt
