Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Add Glossary link
  developer-docs-site/docs/guides/use-aptos-explorer.md
Due: none

Move TODOs from Explorer docs to Doc issue
  developer-docs-site/docs/guides/use-aptos-explorer.md
Due: none

[Docs] Fixing build error.
  developer-docs-site/docs/guides/use-aptos-explorer.md
Due: none

Update use-aptos-explorer.md
  developer-docs-site/docs/guides/use-aptos-explorer.md
Due: none

Continue developinh Explorer docs
  developer-docs-site/docs/guides/use-aptos-explorer.md
  developer-docs-site/sidebars.js
  developer-docs-site/static/img/docs/4-explorer-txn-details-dark.png
  developer-docs-site/static/img/docs/4-explorer-txn-details.png
  developer-docs-site/static/img/docs/5-explorer-accounts-dark.png
  developer-docs-site/static/img/docs/5-explorer-accounts.png
Due: prettier-fmt

Move Merkle tree link to eponymous definition entry
  developer-docs-site/docs/reference/glossary.md
Due: none

Update glossary.md
  developer-docs-site/docs/reference/glossary.md
Due: none

Create Resource Account entry in Aptos Glossary
  developer-docs-site/docs/reference/glossary.md
Due: none

Add article to sentence per feedback
  developer-docs-site/docs/reference/glossary.md
Due: none

Replace link to removed history trees doc to merkle tree Wikipedia page
  developer-docs-site/docs/reference/glossary.md
Due: none

Fix relative links to Rust and Python SDKs from TypeScript index
  developer-docs-site/docs/sdks/ts-sdk/index.md
Due: none

Add links to all SDK source directories from respective introductions
  developer-docs-site/docs/sdks/index.md
  developer-docs-site/docs/sdks/python-sdk.md
  developer-docs-site/docs/sdks/rust-sdk.md
  developer-docs-site/docs/sdks/ts-sdk/index.md
Due: none

Fix capitalization of TypeScript throughout docs
  developer-docs-site/docs/sdks/index.md
  developer-docs-site/docs/sdks/ts-sdk/index.md
  developer-docs-site/docs/tutorials/first-coin.md
Due: none

Including cargo clean step
  developer-docs-site/docs/nodes/validator-node/operator/running-validator-node/using-source-code.md
Due: none

[cached packages] remove non-existant aptos-names (#5025)
  aptos-move/framework/cached-packages/build.rs
Due: rust-fmt

[Docker] fullnode REST API Port fixup
  docker/compose/aptos-node/docker-compose-fullnode.yaml
  docker/compose/aptos-node/haproxy-fullnode.cfg
Due: prettier-fmt

Add Explorer docs to What's new in Docs
  developer-docs-site/docs/whats-new-in-docs.md
Due: none

remove bad logs
  crates/indexer/src/models/transactions.rs
Due: rust-fmt

remove bad logs (#5028)
  crates/indexer/src/models/transactions.rs
Due: rust-fmt

[consensus] just fix health counters
  consensus/src/liveness/leader_reputation.rs
Due: rust-fmt

[cached packages] remove non-existant aptos-names (#5025) (#5030)
  aptos-move/framework/cached-packages/build.rs
Due: rust-fmt

[aptos-cli] Use named networks
  crates/aptos/src/common/init.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/test/mod.rs
Due: rust-fmt

update code comments
  scripts/check-cryptohasher-symbols.py
Due: none

test run with a temp change
  scripts/check-cryptohasher-symbols.py
Due: none

[Docs] Update node connections doc.
  developer-docs-site/docs/nodes/full-node/fullnode-network-connections.md
  developer-docs-site/docs/nodes/full-node/fullnode-source-code-or-docker.md
  developer-docs-site/docs/nodes/full-node/network-identity-fullnode.md
  developer-docs-site/docs/nodes/node-connections.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/sidebars.js
Due: prettier-fmt

testing done
  scripts/check-cryptohasher-symbols.py
Due: none

[testnet] Add ability to pass storage class to testnet
  terraform/aptos-node-testnet/main.tf
  terraform/aptos-node-testnet/variables.tf
Due: none

[cli] Update documentation
  crates/aptos/src/account/create.rs
  crates/aptos/src/account/create_resource_account.rs
  crates/aptos/src/account/fund.rs
  crates/aptos/src/account/key_rotation.rs
  crates/aptos/src/account/list.rs
  crates/aptos/src/account/transfer.rs
  crates/aptos/src/config/mod.rs
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/node/mod.rs
  crates/aptos/src/stake/mod.rs
Due: rust-fmt

[vm] fix index shifting bug in bytecode verifier's instantiation loop checker
  Cargo.lock
  api/Cargo.toml
  api/types/Cargo.toml
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-module-verifier/Cargo.toml
  aptos-move/aptos-sdk-builder/Cargo.toml
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/framework/Cargo.toml
  aptos-move/framework/cached-packages/Cargo.toml
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
  aptos-move/package-builder/Cargo.toml
  aptos-move/vm-genesis/Cargo.toml
  crates/aptos-rest-client/Cargo.toml
  ecosystem/sf-indexer/firehose-stream/Cargo.toml
  execution/executor/Cargo.toml
  storage/aptosdb/Cargo.toml
  storage/indexer/Cargo.toml
  storage/storage-interface/Cargo.toml
  types/Cargo.toml
Due: none

revert change for testing
  consensus/src/state_computer.rs
Due: rust-fmt

[publishing runbook] typo nit
  sdk/publishing.md
Due: none

reorganizing stuff
  .github/workflows/lint-test.yaml
  scripts/check-cryptohasher-symbols.py
Due: prettier-fmt

[devnet] Add script to generate devnet release message
  scripts/devnet_message.sh
Due: none

[test on forge] changing quorum for fixing voting history
  testsuite/forge-cli/src/main.rs
  testsuite/forge.py
  types/src/on_chain_config/consensus_config.rs
Due: rust-fmt

[vm] fix index shifting bug in bytecode verifier's instantiation loop checker (#5034)
  Cargo.lock
  api/Cargo.toml
  api/types/Cargo.toml
  aptos-move/aptos-aggregator/Cargo.toml
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-module-verifier/Cargo.toml
  aptos-move/aptos-sdk-builder/Cargo.toml
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/framework/Cargo.toml
  aptos-move/framework/cached-packages/Cargo.toml
  aptos-move/gas-algebra-ext/Cargo.toml
  aptos-move/move-deps/Cargo.toml
  aptos-move/package-builder/Cargo.toml
  aptos-move/vm-genesis/Cargo.toml
  crates/aptos-rest-client/Cargo.toml
  ecosystem/sf-indexer/firehose-stream/Cargo.toml
  execution/executor/Cargo.toml
  storage/aptosdb/Cargo.toml
  storage/indexer/Cargo.toml
  storage/storage-interface/Cargo.toml
  types/Cargo.toml
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
