Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

[dag] add commit rule skeleton
  consensus/src/dag/anchor_election.rs
  consensus/src/dag/commit_rule.rs
  consensus/src/dag/dag_store.rs
  consensus/src/dag/mod.rs
Due: rust-fmt

[dag] remove the hash based index in dag store
  consensus/src/dag/commit_rule.rs
  consensus/src/dag/dag_store.rs
  consensus/src/dag/reliable_broadcast.rs
  consensus/src/dag/tests/dag_test.rs
  consensus/src/dag/types.rs
Due: rust-fmt

[dag] commit rule content 1/n
  consensus/src/dag/commit_rule.rs
  consensus/src/dag/dag_store.rs
Due: rust-fmt

fix side effect cause by rust upgrade
  ecosystem/indexer-grpc/indexer-grpc-parser/migrations/2023-05-24-052435_token_properties_v2/up.sql
  ecosystem/indexer-grpc/indexer-grpc-parser/src/schema.rs
Due: rust-fmt

fix end version
  ecosystem/indexer-grpc/indexer-grpc-parser/src/main.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_token_datas.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/token_models/v2_token_utils.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/worker.rs
Due: rust-fmt

strip out coin type in a different way
  ecosystem/indexer-grpc/indexer-grpc-parser/Cargo.toml
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/coin_models/coin_balances.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/coin_models/coin_infos.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/coin_models/coin_utils.rs
Due: rust-fmt

cargo lock update
  Cargo.lock
Due: none

tweak comments on crash
  ecosystem/indexer-grpc/indexer-grpc-parser/src/worker.rs
Due: rust-fmt

lint
  ecosystem/indexer-grpc/indexer-grpc-parser/src/models/coin_models/v2_fungible_asset_utils.rs
  ecosystem/indexer-grpc/indexer-grpc-parser/src/processors/stake_processor.rs
Due: rust-fmt

[dag] commit rule draft 2/n
  consensus/src/dag/commit_rule.rs
  consensus/src/dag/dag_store.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/reliable_broadcast.rs
Due: rust-fmt

longer timeout
  testsuite/forge/src/backend/k8s/cluster_helper.rs
Due: rust-fmt

longer timeout on forge
  testsuite/forge/src/backend/k8s/cluster_helper.rs
Due: rust-fmt

Add is_hardware_wallet fn to InitTool
  crates/aptos/src/common/init.rs
Due: rust-fmt

remove unneeded test
  ecosystem/typescript/sdk/src/tests/unit/builder_utils.test.ts
Due: prettier-fmt

[CLI][Ledger] Add hardware wallet options (#9023)
  crates/aptos/src/common/init.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/test/mod.rs
Due: rust-fmt

First draft
  aptos-move/aptos-vm/src/block_executor/mod.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
  aptos-move/block-executor/src/proptest_types/types.rs
  aptos-move/block-executor/src/task.rs
  aptos-move/block-executor/src/txn_last_input_output.rs
  aptos-move/block-executor/src/unit_tests/mod.rs
Due: rust-fmt

Minor changes
  aptos-move/block-executor/src/proptest_types/bencher.rs
  aptos-move/block-executor/src/proptest_types/tests.rs
Due: rust-fmt

remove unneeded test (#9036)
  ecosystem/typescript/sdk/src/tests/unit/builder_utils.test.ts
Due: prettier-fmt

[Crates] Upgrade mockall crate.
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

[deps] Update URL
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

[deps] Remove unused dependencies
  Cargo.toml
Due: rust-cargo-sort

[deps] Upgrade warp
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

[deps] Upgrade bitvec to 1.0.1
  Cargo.lock
  Cargo.toml
  crates/aptos-crypto/src/unit_tests/hash_test.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/scratchpad/src/sparse_merkle/test_utils/naive_smt.rs
  third_party/move/documentation/examples/diem-framework/crates/crypto/src/unit_tests/hash_test.rs
Due: rust-fmt, rust-cargo-sort

[deps] Update walkdir
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

[deps] Update various dependencies
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

[deps] Upgrade toml
  Cargo.lock
  Cargo.toml
  execution/executor-benchmark/src/transaction_generator.rs
Due: rust-fmt, rust-cargo-sort

[deps] update assert_unordered
  Cargo.lock
  Cargo.toml
Due: rust-cargo-sort

Update Docker images
  docker/builder/docker-bake-rust-all.hcl
Due: none

Add multi round partitioning support for sharded block executor (#9001)
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-vm/src/sharded_block_executor/counters.rs
  aptos-move/aptos-vm/src/sharded_block_executor/cross_shard_client.rs
  aptos-move/aptos-vm/src/sharded_block_executor/sharded_executor_client.rs
  aptos-move/aptos-vm/src/sharded_block_executor/tests.rs
  execution/block-partitioner/src/main.rs
  execution/block-partitioner/src/sharded_block_partitioner/counters.rs
  execution/block-partitioner/src/sharded_block_partitioner/mod.rs
  execution/block-partitioner/src/sharded_block_partitioner/partitioning_shard.rs
  execution/executor-benchmark/src/block_partitioning.rs
Due: rust-fmt

[storage] split the replay_verify to multiple jobs
  .github/workflows/workflow-run-replay-verify.yaml
  testsuite/replay_verify.py
Due: prettier-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
