Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

add verbose for debugging
  testsuite/fuzzer/fuzz.sh
Due: none

fix
  testsuite/fuzzer/fuzz.sh
Due: none

add rustflags for apple/arm
  testsuite/fuzzer/.cargo/config.toml
Due: none

add `fuzz.sh add` and README.md
  testsuite/fuzzer/README.md
  testsuite/fuzzer/fuzz.sh
Due: none

fix 'find' to work on macos as well
  testsuite/fuzzer/fuzz.sh
Due: none

Workaround OSS-Fuzz build
  testsuite/fuzzer/fuzz.sh
Due: none

Add SEC members
  testsuite/fuzzer/google-oss-fuzz/project.yaml
Due: prettier-fmt

Addressing some reviewer comments.
  third_party/move/move-compiler-v2/tests/copy-propagation/seq_kills_1.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/seq_kills_1.move
  third_party/move/move-compiler-v2/tests/copy-propagation/seq_kills_2.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/seq_kills_2.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-model/bytecode/src/function_target_pipeline.rs
Due: rust-fmt

fix quoting for forge humio link (#11579)
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testGetHumioLogsLinkAbsolute.fixture
  testsuite/fixtures/testGetHumioLogsLinkRelative.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge.py
Due: none

update
  aptos-move/framework/aptos-framework/doc/stake.md
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/stake.move
Due: none

reduce max_execution_gas / max_io_gas (#11580)
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/aptos-release-builder/src/components/mod.rs
  aptos-move/e2e-move-tests/src/tests/smart_data_structures.data/sources/test.move
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
  testsuite/single_node_performance.py
Due: rust-fmt, prettier-fmt

[API] Add filter support for view and simulate
  api/src/transactions.rs
  api/src/view_function.rs
  config/src/config/api_config.rs
  config/src/config/transaction_filter_type.rs
Due: rust-fmt

Reduce max_execution_gas / max_io_gas on v1.8 (#11581)
  aptos-move/aptos-gas-schedule/src/gas_schedule/transaction.rs
  aptos-move/aptos-release-builder/data/release.yaml
  aptos-move/e2e-move-tests/src/tests/smart_data_structures.data/sources/test.move
  aptos-move/e2e-move-tests/src/tests/storage_refund.rs
Due: rust-fmt, prettier-fmt

rename ENABLE_V2 to MOVE_COMPILER_V2
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/framework/tests/move_unit_test.rs
  third_party/move/move-command-line-common/src/testing.rs
  third_party/move/tools/move-package/src/lib.rs
  third_party/move/tools/move-package/tests/test_runner.rs
Due: rust-fmt

rustfmt
  third_party/move/tools/move-package/tests/test_runner.rs
Due: rust-fmt

cargo +nightly fmt
  third_party/move/tools/move-package/tests/test_runner.rs
Due: rust-fmt

pass attributes through to compiler-v2 correctly
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
Due: rust-fmt

add ENABLE_V2 flag for all aptos compile, also reduce dump logging a bit (only if both debug and dump_bytecode flags are selected)
  aptos-move/framework/tests/move_unit_test.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/tools/move-package/src/lib.rs
  third_party/move/tools/move-package/tests/test_runner.rs
Due: rust-fmt

increase thresholds for TwoTrafficsTest
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

heed MOVE_COMPILER_V2 env var for all aptos compilation, also reduce dump logging, pass attributes correctly (#11610)
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/framework/tests/move_unit_test.rs
  third_party/move/move-command-line-common/src/testing.rs
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/tools/move-package/src/compilation/compiled_package.rs
  third_party/move/tools/move-package/src/lib.rs
  third_party/move/tools/move-package/tests/test_runner.rs
Due: rust-fmt

Increase block size
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

[CLI] Add a secret flag to disable the node in a local testnet (#11577)
  crates/aptos/src/node/local_testnet/node.rs
Due: rust-fmt

QS increase backpressure tps
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

add changed move-to-yul test outputs
  third_party/move/evm/move-to-yul/tests/TestABINativeError.exp
  third_party/move/evm/move-to-yul/tests/fallback-receive-test/expect-failure/FallbackReciveFailure.exp
  third_party/move/evm/move-to-yul/tests/test-dispatcher/ExternalCallFailure.exp
  third_party/move/evm/move-to-yul/tests/test-dispatcher/signature-parsing-test/baseline/parsing_failure/IllegalDataLocation.exp
  third_party/move/evm/move-to-yul/tests/test-dispatcher/signature-parsing-test/baseline/parsing_failure/IllegalFunctionName.exp
  third_party/move/evm/move-to-yul/tests/test-dispatcher/signature-parsing-test/baseline/parsing_failure/IllegalTypeList.exp
  third_party/move/evm/move-to-yul/tests/test-dispatcher/signature-parsing-test/baseline/parsing_failure/IncompatibileType.exp
  third_party/move/evm/move-to-yul/tests/test-events/compilation_failure/ParsingEventSigFailure.exp
Due: none

fix (#11631)
  third_party/move/move-compiler-v2/tests/checking/specs/update_field_err.exp
  third_party/move/move-compiler-v2/tests/checking/specs/update_field_err.move
  third_party/move/move-compiler-v2/tests/checking/specs/update_field_ok.exp
  third_party/move/move-compiler-v2/tests/checking/specs/update_field_ok.move
  third_party/move/move-model/src/builder/exp_builder.rs
Due: rust-fmt

[Prover] fix #11534 (#11645)
  third_party/move/move-model/bytecode/src/livevar_analysis.rs
  third_party/move/move-prover/tests/sources/functional/table_option.move
Due: rust-fmt

Fuzzer Build Revamp (#11678)
  testsuite/fuzzer/.cargo/config.toml
  testsuite/fuzzer/README.md
  testsuite/fuzzer/fuzz.sh
  testsuite/fuzzer/google-oss-fuzz/build.sh
  testsuite/fuzzer/google-oss-fuzz/project.yaml
  testsuite/fuzzer/repro.sh
  testsuite/fuzzer/test-fuzzers.sh
Due: prettier-fmt

Addressing more code review comments.
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/src/pipeline/avail_copies_analysis.rs
  third_party/move/move-compiler-v2/src/pipeline/copy_propagation.rs
  third_party/move/move-compiler-v2/src/pipeline/dead_store_elimination.rs
  third_party/move/move-compiler-v2/tests/copy-propagation/args_with_side_effects.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/branch_1.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/branch_2.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/branch_3.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/call_1.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/call_2.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/cyclic_assignments.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/dead_assignment_1.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/dead_assignment_2.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/immut_refs_1.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/immut_refs_2.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/loop_1.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/loop_2.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/mut_refs_1.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/mut_refs_2.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/mut_refs_3.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/mut_refs_4.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/seq_kills_1.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/seq_kills_2.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/sequential_assign_struct.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/simple_sequential_assign.exp
  third_party/move/move-compiler-v2/tests/copy-propagation/straight_line_kills.exp
Due: rust-fmt

Adding back some changes made in a reverted commit.
  third_party/move/move-compiler-v2/src/pipeline/avail_copies_analysis.rs
  third_party/move/move-model/bytecode/src/stackless_bytecode.rs
Due: rust-fmt

add comments requested by Vineeth
  third_party/move/move-model/src/model.rs
Due: rust-fmt

update aptos-vm code owners
  CODEOWNERS
Due: none

execute dkg txn in aptos vm
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/system_module_names.rs
  config/src/config/identity_config.rs
  dkg/src/dkg_manager/mod.rs
  dkg/src/dkg_manager/tests.rs
  dkg/src/dummy_dkg.rs
  dkg/src/epoch_manager.rs
  dkg/src/lib.rs
  dkg/src/transcript_aggregation.rs
  types/src/dkg.rs
  types/src/validator_txn.rs
Due: rust-fmt

update aptos-vm code owners (#11684)
  CODEOWNERS
Due: none

update
  aptos-move/aptos-vm/src/aptos_vm.rs
  dkg/src/transcript_aggregation.rs
  types/src/dkg.rs
Due: rust-fmt

Increase mempool backlog a bit and dial back the block size
  testsuite/forge-cli/src/main.rs
Due: rust-fmt

Implement oidc signing of transactions
  Cargo.lock
  Cargo.toml
  api/doc/spec.json
  api/doc/spec.yaml
  api/types/src/transaction.rs
  aptos-move/aptos-release-builder/src/components/feature_flags.rs
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/transaction_validation.rs
  aptos-move/aptos-vm/src/zkid_validation.rs
  aptos-move/framework/aptos-framework/doc/jwks.md
  aptos-move/framework/aptos-framework/sources/jwks.move
  aptos-move/vm-genesis/src/lib.rs
  crates/aptos-crypto/Cargo.toml
  crates/aptos-crypto/src/lib.rs
  crates/aptos-crypto/src/poseidon_bn254.rs
  crates/aptos-rest-client/src/lib.rs
  ecosystem/indexer-grpc/indexer-grpc-fullnode/src/convert.rs
  protos/proto/aptos/transaction/v1/transaction.proto
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.py
  protos/python/aptos_protos/aptos/transaction/v1/transaction_pb2.pyi
  protos/rust/src/pb/aptos.transaction.v1.rs
  protos/rust/src/pb/aptos.transaction.v1.serde.rs
  protos/typescript/src/aptos/transaction/v1/transaction.ts
  testsuite/forge/src/interface/aptos.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/zkid.rs
  third_party/move/move-core/types/src/vm_status.rs
  types/Cargo.toml
  types/src/jwks/jwk.rs
  types/src/jwks/mod.rs
  types/src/jwks/rsa.rs
  types/src/lib.rs
  types/src/on_chain_config/aptos_features.rs
  types/src/transaction/authenticator.rs
  types/src/transaction/mod.rs
  types/src/zkid.rs
Due: rust-fmt, rust-cargo-sort, prettier-fmt

MAX_EXP_HORIZON_SECS rename
  types/src/zkid.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
