Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

rust-fmt:
  run: rustfmt {staged_files}

rust-cargo-sort:
  run: cargo sort --grouped {staged_files}

prettier-fmt:
  run: prettier --ignore-path .gitignore --write {staged_files}

Incorporate algorithm, test in u128 library
  aptos-move/framework/aptos-stdlib/sources/math128.move
Due: none

lint
  consensus/src/dag/anchor_election/mod.rs
  consensus/src/dag/health/mod.rs
Due: rust-fmt

[dag] refactor/improve dag health monitoring (#11362)
  .pre-commit-config.yaml
  config/src/config/dag_consensus_config.rs
  consensus/src/dag/adapter.rs
  consensus/src/dag/anchor_election/leader_reputation_adapter.rs
  consensus/src/dag/anchor_election/mod.rs
  consensus/src/dag/anchor_election/round_robin.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/health/backoff.rs
  consensus/src/dag/health/chain_health.rs
  consensus/src/dag/health/mod.rs
  consensus/src/dag/health/pipeline_health.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/round_state.rs
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/dag/tests/order_rule_tests.rs
  consensus/src/liveness/leader_reputation.rs
  types/src/on_chain_config/consensus_config.rs
  types/src/on_chain_config/mod.rs
Due: rust-fmt, prettier-fmt

[dag] stop voting based on pipeline latency
  Cargo.lock
  config/src/config/dag_consensus_config.rs
  consensus/src/dag/adapter.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/errors.rs
  consensus/src/dag/health/backoff.rs
  consensus/src/dag/health/pipeline_health.rs
  consensus/src/dag/rb_handler.rs
  consensus/src/dag/tests/rb_handler_tests.rs
Due: rust-fmt

lint
  consensus/src/dag/rb_handler.rs
  consensus/src/dag/tests/rb_handler_tests.rs
Due: rust-fmt

fmt
  crates/aptos-jwk-consensus/src/epoch_manager.rs
  crates/aptos-jwk-consensus/src/observation_aggregation/mod.rs
Due: rust-fmt

[dag] stop voting based on pipeline latency (#11407)
  Cargo.lock
  config/src/config/dag_consensus_config.rs
  consensus/src/dag/adapter.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/errors.rs
  consensus/src/dag/health/backoff.rs
  consensus/src/dag/health/pipeline_health.rs
  consensus/src/dag/rb_handler.rs
  consensus/src/dag/tests/rb_handler_tests.rs
Due: rust-fmt

add actions
  .github/workflows/workflow-run-comparison-testing.yaml
  testsuite/comparison-testing.sh
Due: prettier-fmt

Update issue templates
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/dev_portal_issue.md
  .github/ISSUE_TEMPLATE/devex_rfc.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

tests for eq / bcs
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/e2e-move-tests/proptest-regressions/tests/aggregator_v2.txt
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/sources/runtime_checks.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2_runtime_checks.rs
  aptos-move/e2e-move-tests/src/tests/mod.rs
Due: rust-fmt

tests for strings (draft)
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.data/pack/sources/runtime_checks.move
  aptos-move/e2e-move-tests/src/tests/aggregator_v2_runtime_checks.rs
Due: rust-fmt

Add bytecode verification at the end of compiler v2 compilation.
  third_party/move/move-compiler-v2/Cargo.toml
  third_party/move/move-compiler-v2/src/lib.rs
  third_party/move/move-compiler-v2/tests/ability-checker/assign.exp
  third_party/move/move-compiler-v2/tests/ability-checker/assign.move
  third_party/move/move-compiler-v2/tests/ability-checker/failing/fields.exp
  third_party/move/move-compiler-v2/tests/ability-checker/failing/fields.move
  third_party/move/move-compiler-v2/tests/ability-checker/failing/operators.exp
  third_party/move/move-compiler-v2/tests/ability-checker/failing/operators.move
  third_party/move/move-compiler-v2/tests/ability-checker/globals.exp
  third_party/move/move-compiler-v2/tests/ability-checker/globals.move
  third_party/move/move-compiler-v2/tests/file-format-generator/assign.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/fields.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/globals.exp
  third_party/move/move-compiler-v2/tests/file-format-generator/operators.exp
  third_party/move/move-compiler-v2/tests/testsuite.rs
  third_party/move/move-model/src/lib.rs
Due: rust-fmt

monitor handler methods
  consensus/src/dag/dag_handler.rs
Due: rust-fmt

[dag] concurrent dag store
  Cargo.lock
  consensus/src/dag/adapter.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/dag_fetcher.rs
  consensus/src/dag/dag_state_sync.rs
  consensus/src/dag/dag_store.rs
  consensus/src/dag/health/chain_health.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/rb_handler.rs
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/dag/tests/dag_state_sync_tests.rs
  consensus/src/dag/tests/dag_test.rs
  consensus/src/dag/tests/fetcher_test.rs
  consensus/src/dag/tests/order_rule_tests.rs
  consensus/src/dag/tests/rb_handler_tests.rs
Due: rust-fmt

add support for aud override and extra field
  testsuite/smoke-test/src/zkid.rs
  types/src/bn254_circom.rs
  types/src/transaction/authenticator.rs
  types/src/zkid.rs
Due: rust-fmt

Fix gas charges
  aptos-move/e2e-move-tests/src/tests/aggregator_v2.rs
  third_party/move/move-vm/types/src/value_serde.rs
Due: rust-fmt

format
  api/types/src/convert.rs
  aptos-move/aptos-gas-meter/src/meter.rs
  aptos-move/aptos-gas-schedule/src/gas_schedule/misc.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/e2e-move-tests/src/tests/aggregator_v2_runtime_checks.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
  aptos-move/framework/src/natives/event.rs
  aptos-move/framework/table-natives/src/lib.rs
  third_party/move/move-vm/runtime/src/data_cache.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/move-vm/types/src/value_serde.rs
Due: rust-fmt

Fix ID validation & creation
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-aggregator/src/resolver.rs
  aptos-move/aptos-aggregator/src/tests/types.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/block-executor/src/view.rs
  aptos-move/framework/src/natives/aggregator_natives/aggregator_v2.rs
Due: rust-fmt

Provide Corpus to OSS-Fuzz via fuzz.sh (#11831)
  testsuite/fuzzer/Patches/001FakeExecutorDisableMultiThread.patch
  testsuite/fuzzer/README.md
  testsuite/fuzzer/fuzz.sh
  testsuite/fuzzer/fuzz/fuzz_targets/move/aptosvm_publish_and_run.rs
Due: rust-fmt

respond to comments
  third_party/move/move-compiler-v2/src/flow_insensitive_checkers.rs
  third_party/move/move-model/src/ast.rs
Due: rust-fmt

Different improvements
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/table-natives/src/lib.rs
  testsuite/aptos-fuzzer/src/fuzz_targets/move_vm.rs
  testsuite/fuzzer/fuzz/fuzz_targets/move/utils.rs
Due: rust-fmt

Fix Issue #11850 by extending move-model AST visitor to be able to hook BeforeBody in a Block expression (#11916)
  third_party/move/move-compiler-v2/src/flow_insensitive_checkers.rs
  third_party/move/move-compiler-v2/tests/bytecode-generator/tuple.exp
  third_party/move/move-compiler-v2/tests/bytecode-generator/tuple_invalid.exp
  third_party/move/move-compiler-v2/tests/checking/naming/generics_shadowing.exp
  third_party/move/move-compiler-v2/tests/checking/typing/assign_tuple.exp
  third_party/move/move-compiler-v2/tests/checking/unused/local_var.exp
  third_party/move/move-compiler-v2/tests/checking/unused/local_var.move
  third_party/move/move-compiler-v2/tests/copy-propagation/dead_assignment_1.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/inlining/multi_param.exp
  third_party/move/move-compiler-v2/transactional-tests/tests/no-safety/simple_map_keys.exp
  third_party/move/move-model/src/ast.rs
Due: rust-fmt

update the devnet key in zkid.move
  aptos-move/framework/aptos-framework/doc/zkid.md
  aptos-move/framework/aptos-framework/sources/zkid.move
Due: none

[NFT Metadata Crawler] Fix faulty migration (#11910)
  ecosystem/nft-metadata-crawler-parser/migrations/2024-01-31-221845_add_not_parsable_column/up.sql
Due: none

update
  aptos-move/aptos-vm/src/validator_txns/jwk.rs
  crates/aptos-jwk-consensus/src/epoch_manager.rs
  crates/aptos-jwk-consensus/src/jwk_manager/mod.rs
  crates/aptos-jwk-consensus/src/jwk_observer.rs
  crates/aptos-jwk-consensus/src/observation_aggregation/mod.rs
  crates/aptos-jwk-consensus/src/update_certifier.rs
Due: rust-fmt

[agg_v2] First pass over TODOs (#11898)
  aptos-move/aptos-aggregator/src/delayed_field_extension.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/write_op_converter.rs
  aptos-move/block-executor/src/proptest_types/types.rs
Due: rust-fmt

Fix string utils (tmp)
  aptos-move/e2e-move-tests/src/tests/aggregator_v2_runtime_checks.rs
  aptos-move/framework/aptos-stdlib/doc/string_utils.md
  aptos-move/framework/aptos-stdlib/sources/string_utils.move
  aptos-move/framework/src/natives/string_utils.rs
  aptos-move/framework/table-natives/src/lib.rs
Due: rust-fmt

address feedback
  consensus/src/dag/adapter.rs
  consensus/src/dag/bootstrap.rs
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/dag_fetcher.rs
  consensus/src/dag/dag_state_sync.rs
  consensus/src/dag/dag_store.rs
  consensus/src/dag/order_rule.rs
  consensus/src/dag/rb_handler.rs
  consensus/src/dag/tests/dag_driver_tests.rs
  consensus/src/dag/tests/dag_state_sync_tests.rs
  consensus/src/dag/tests/dag_test.rs
  consensus/src/dag/tests/fetcher_test.rs
  consensus/src/dag/tests/order_rule_tests.rs
  consensus/src/dag/tests/rb_handler_tests.rs
Due: rust-fmt

Adding a test to showcase bytecode verification failure.
  third_party/move/move-compiler-v2/tests/bytecode-verify-failure/equality.exp
  third_party/move/move-compiler-v2/tests/bytecode-verify-failure/equality.move
  third_party/move/move-compiler-v2/tests/testsuite.rs
Due: rust-fmt

lint
  consensus/src/dag/dag_driver.rs
  consensus/src/dag/dag_store.rs
  consensus/src/dag/health/chain_health.rs
  consensus/src/dag/rb_handler.rs
  consensus/src/dag/tests/order_rule_tests.rs
Due: rust-fmt

macro-ize VALUE_DESERIALIZATION_ERROR
  aptos-move/aptos-vm/src/zkid_validation.rs
Due: rust-fmt

jwk misc updates (#11917)
  aptos-move/aptos-vm/src/validator_txns/jwk.rs
  aptos-move/framework/aptos-framework/doc/jwks.md
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/jwks.move
  crates/aptos-jwk-consensus/src/certified_update_producer.rs
  crates/aptos-jwk-consensus/src/epoch_manager.rs
  crates/aptos-jwk-consensus/src/jwk_manager/mod.rs
  crates/aptos-jwk-consensus/src/jwk_observer.rs
  crates/aptos-jwk-consensus/src/observation_aggregation/mod.rs
  crates/aptos-jwk-consensus/src/update_certifier.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_basic.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_per_issuer.rs
  testsuite/smoke-test/src/jwks/jwk_consensus_provider_change_mind.rs
Due: rust-fmt

Rebuild DocGen
  aptos-move/framework/aptos-stdlib/doc/math128.md
  aptos-move/framework/aptos-stdlib/doc/math64.md
Due: none

public image
  .github/workflows/copy-images-to-dockerhub-release.yaml
  .github/workflows/docker-build-test.yaml
Due: prettier-fmt

fmt
  aptos-move/aptos-vm/src/zkid_validation.rs
  types/src/bn254_circom.rs
Due: rust-fmt

[aptos-node] add --performance mode for --test
  aptos-node/src/lib.rs
  crates/aptos/src/node/local_testnet/node.rs
Due: rust-fmt

Removing some outdated aggregator TODOs
  aptos-move/aptos-vm/src/move_vm_ext/respawned_session.rs
  aptos-move/block-executor/src/executor.rs
  aptos-move/block-executor/src/view.rs
Due: rust-fmt

[aptos-node] performance mode uses node defaults
  aptos-node/src/lib.rs
Due: rust-fmt

Going over files + reviewing
  aptos-move/e2e-move-tests/src/tests/aggregator_v2_runtime_checks.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-vm/runtime/src/runtime.rs
  third_party/move/move-vm/types/src/values/sized_id.rs
  third_party/move/move-vm/types/src/values/value_tests.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/move-vm/types/src/views.rs
  types/src/transaction/mod.rs
Due: rust-fmt

Improvements for view.rs
  aptos-move/block-executor/src/view.rs
  third_party/move/move-vm/runtime/src/runtime.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  rust-cargo-sort: any of: Cargo.toml
  prettier-fmt: any of: *.{ts,js,tsx,jsx,yaml,yml}
