Repository aptos-labs/aptos-core: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-cargo-sort, prettier-fmt

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: rustfmt {staged_files}
    rust-cargo-sort:
      glob: "Cargo.toml"
      run: cargo sort --grouped {staged_files}
    prettier-fmt:
      glob: "*.{ts,js,tsx,jsx,yaml,yml}"
      run: prettier --ignore-path .gitignore --write {staged_files}
pre-push:
  rust-fix:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xfix -- --allow-staged
  rust-lint:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xlint
  rust-clippy:
    files: git diff --name-only main
    glob: "*.rs"
    run: cargo xclippy

[SF-Stream] fix timestamp size
  sf-stream/src/convert.rs
Due: rust-fmt

[SF-Stream] remove target address
  config/src/config/sf_streamer_config.rs
  sf-stream/src/runtime.rs
Due: rust-fmt

Adding Flame and std rolling
  Cargo.lock
  config/src/config/mod.rs
  consensus/Cargo.toml
  consensus/src/consensus_provider.rs
  consensus/src/network.rs
  crates/aptos-logger/Cargo.toml
  crates/aptos-logger/src/logger.rs
  mempool/Cargo.toml
  mempool/src/shared_mempool/runtime.rs
Due: rust-fmt

Revert "Adding Flame and std rolling"
  Cargo.lock
  config/src/config/mod.rs
  consensus/Cargo.toml
  consensus/src/consensus_provider.rs
  consensus/src/network.rs
  crates/aptos-logger/Cargo.toml
  crates/aptos-logger/src/logger.rs
  mempool/Cargo.toml
  mempool/src/shared_mempool/runtime.rs
Due: rust-fmt

[CP] Fix tests + rebase
  Cargo.lock
  sf-stream/src/tests/test_context.rs
Due: rust-fmt

Use specific Poem version (#2448)
  Cargo.lock
  api/Cargo.toml
  api/types/Cargo.toml
  config/Cargo.toml
  crates/aptos-openapi/Cargo.toml
  ecosystem/node-checker/Cargo.toml
Due: none

test
  sf-stream/src/tests/proto_converter_tests.rs
Due: rust-fmt

[Docker] Install GDB to all validator nodes (#2446)
  docker/rust-all.Dockerfile
Due: none

[Token] Cleanup token contracts
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transaction_by_hash.json
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/table.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/table.move
  aptos-move/framework/aptos-token/sources/property_map.move
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/aptos-token/sources/token_coin_swap.move
  aptos-move/framework/aptos-token/sources/token_transfers.move
  developer-docs-site/static/examples/python/first_nft.py
  developer-docs-site/static/examples/typescript/first_nft.ts
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/typescript/sdk/src/token_client.ts
  testsuite/smoke-test/src/nft_transaction.rs
Due: rust-fmt, prettier-fmt

[api] Add simple BCS versions for Poem APIs
  api/src/poem_backend/accounts.rs
  api/src/poem_backend/events.rs
  api/src/poem_backend/index.rs
  api/src/poem_backend/response.rs
  api/src/poem_backend/state.rs
  api/src/poem_backend/transactions.rs
Due: rust-fmt

[api] Add goldenfile support for BCS
  api/goldens/v1/aptos_api__tests__accounts_test__test_bcs_account.bcs
  api/goldens/v1/aptos_api__tests__accounts_test__test_bcs_account_modules.bcs
  api/goldens/v1/aptos_api__tests__accounts_test__test_bcs_account_resources.bcs
  api/src/tests/golden_output.rs
  api/src/tests/test_context.rs
  api/src/tests/v1/accounts_test.rs
Due: rust-fmt

[api] Add more BCS tests
  api/goldens/v1/aptos_api__tests__events_test__test_get_events_bcs.bcs
  api/goldens/v1/aptos_api__tests__index_test__test_get_index_bcs.bcs
  api/src/tests/v1/accounts_test.rs
  api/src/tests/v1/events_test.rs
  api/src/tests/v1/index_test.rs
  api/types/src/index.rs
Due: rust-fmt

[api] Add framework for testing BCS APIs, and test account API
  api/src/poem_backend/accept_type.rs
  api/src/poem_backend/bcs_payload.rs
  api/src/tests/test_context.rs
  api/src/tests/v1/accounts_test.rs
  api/types/src/mime_types.rs
Due: rust-fmt

[Forge] Configure nightly run to run for 4 hours
  .github/workflows/pre-release-continuous-test.yaml
  .github/workflows/run-forge.yaml
  testsuite/forge-test-runner-template.yaml
  testsuite/run_forge.sh
Due: prettier-fmt

fix timestamp test
  sf-stream/src/tests/proto_converter_tests.rs
  sf-stream/src/tests/test_context.rs
Due: rust-fmt

Fix thershold for local
  testsuite/run_forge.sh
Due: none

Fix threshold for local
  testsuite/run_forge.sh
Due: none

[storage] rocksdb enable jemalloc (latest)
  Cargo.lock
  aptos-node/Cargo.toml
  aptos-node/src/main.rs
  execution/executor-benchmark/Cargo.toml
  execution/executor-benchmark/src/main.rs
  storage/schemadb/Cargo.toml
Due: rust-fmt

duration -> duration-secs
  testsuite/forge-test-runner-template.yaml
Due: prettier-fmt

[forge] enable node network chaos
  terraform/helm/aptos-node/templates/fullnode.yaml
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/chaos.rs
  testsuite/forge/src/backend/k8s/chaos/node_delay.yaml
  testsuite/forge/src/backend/k8s/chaos/test_busybox_chaos.yaml
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/interface/chaos.rs
  testsuite/forge/src/interface/node.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/network_latency_test.rs
  testsuite/testcases/src/node_delay_test.rs
Due: rust-fmt, prettier-fmt

[Txn-emitter] Various performance improvements and simplification to transaction emitter (#2427)
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  crates/transaction-emitter-lib/src/transaction_generator/account_generator.rs
  crates/transaction-emitter-lib/src/transaction_generator/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/nft_mint.rs
  crates/transaction-emitter-lib/src/transaction_generator/p2p_transaction_generator.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  ecosystem/node-checker/src/evaluators/direct/tps.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/runner.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/run_forge.sh
  testsuite/testcases/src/compatibility_test.rs
  testsuite/testcases/src/fixed_tps_test.rs
  testsuite/testcases/src/gas_price_test.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/network_bandwidth_test.rs
  testsuite/testcases/src/network_latency_test.rs
  testsuite/testcases/src/network_partition_test.rs
  testsuite/testcases/src/partial_nodes_down_test.rs
  testsuite/testcases/src/performance_test.rs
  testsuite/testcases/src/state_sync_performance.rs
  testsuite/testcases/tests/forge-local-performance.rs
Due: rust-fmt

[forge] tune direction and delay of latency test
  testsuite/forge/src/backend/k8s/chaos/network_delay.yaml
  testsuite/testcases/src/network_latency_test.rs
Due: rust-fmt, prettier-fmt

[storage] update rocksdb dependency
  Cargo.lock
  execution/executor-benchmark/src/lib.rs
  storage/schemadb/Cargo.toml
Due: rust-fmt

Revising Account doc, triggered by Discord feedback.
  developer-docs-site/docs/concepts/basics-accounts.md
Due: none

[Docs] More fixes.
  developer-docs-site/docs/concepts/basics-accounts.md
Due: none

[Docs] Minor revisions.
  developer-docs-site/docs/concepts/basics-accounts.md
Due: none

[Docs] Fixing typo.
  developer-docs-site/docs/concepts/basics-accounts.md
Due: none

[Docs] Working in review comments.
  developer-docs-site/docs/concepts/basics-accounts.md
Due: none

[Docs] Added the note on K for multi-sig auth key generation.
  developer-docs-site/docs/concepts/basics-accounts.md
Due: none

[Docs] Removing references to authkey prefix as it is a carry over from Diem days when the address was 16 bytes.
  developer-docs-site/docs/concepts/basics-accounts.md
Due: none

[storage] use tikv-jemallocator
  Cargo.lock
  aptos-node/Cargo.toml
  aptos-node/src/main.rs
  execution/executor-benchmark/Cargo.toml
  execution/executor-benchmark/src/main.rs
  storage/schemadb/Cargo.toml
Due: rust-fmt

[CP] Review fixes
  aptos-node/src/lib.rs
  config/src/config/sf_streamer_config.rs
  sf-stream/Cargo.toml
  sf-stream/README.md
  sf-stream/src/metrics.rs
  sf-stream/src/runtime.rs
Due: rust-fmt

[fix] Moved delta extension into a single module
  Cargo.lock
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/delta_ext/delta_change_set.rs
  aptos-move/aptos-vm/src/delta_ext/mod.rs
  aptos-move/aptos-vm/src/delta_ext/transaction.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  types/Cargo.toml
  types/src/lib.rs
  types/src/transaction/change_set.rs
  types/src/transaction/mod.rs
Due: rust-fmt

[Forge] Configure nightly run to run for 4 hours
  .github/workflows/pre-release-continuous-test.yaml
  .github/workflows/run-forge.yaml
  Cargo.lock
  testsuite/forge-test-runner-template.yaml
  testsuite/run_forge.sh
Due: prettier-fmt
